<div class="auth-page">
	<div class="animated zoomIn auth_box">
		<div class="col-lg-4 col-md-8 col-sm-10 col-10 offset-lg-4 offset-md-2 offset-sm-1 offset-1 p-0 auth_login_bg">
			<div class="auth_login">
				<div class="text-center">
					<img class="avatar avatar-lg rounded-circle center-block d-inline-block mb-md" src="assets/images/portrait/avatar1.png" alt="Profile picture">
					<h5>{{user.displayName}}</h5>
					you can login with facebook or twitter then your username is your password
				</div>
				<form #lockscreenform="ngForm">
					<div class="row">
						<div class="col-12">	
							<div class="form-group mt-lg">
								<input type="password" class="form-control mr-md" name="password" ngModel placeholder="Password" autofocus/>
								<button class="auth-button" (click)="lockscreen(lockscreenform)">
									<i class="fa fa-chevron-right"></i>
								</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>