<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">Icons</a></li>
							<li class="breadcrumb-item active text-dg">Simple Line Icons</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-paint-brush menu-icon" aria-hidden="true"></i> Simple Line Icons</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Simple Line Icon Content-->
<div class="row">
	<div class="col-12 px-0 py-sm">
		<div class="card">
			<div class="card-body text-center">
				<div class="py-lg">
					<h4 class="font-roboto-thin my-sm">Simple and Minimal Line Icons</h4>
					<a href="http://simplelineicons.com" target="_blank" class="btn btn-outline-theme">Get Simple Line Icon Doc</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-user icons align-middle font-16"></i>
				&nbsp;<span>.icon-user</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-people icons align-middle font-16"></i>
				&nbsp;<span>.icon-people</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-user-female icons align-middle font-16"></i>
				&nbsp;<span>.icon-user-female</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-user-follow icons align-middle font-16"></i>
				&nbsp;<span>.icon-user-follow</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-user-following icons align-middle font-16"></i>
				&nbsp;<span>.icon-user-following</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-user-unfollow icons align-middle font-16"></i>
				&nbsp;<span>.icon-user-unfollow</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-login icons align-middle font-16"></i>
				&nbsp;<span>.icon-login</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-logout icons align-middle font-16"></i>
				&nbsp;<span>.icon-logout</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-emotsmile icons align-middle font-16"></i>
				&nbsp;<span>.icon-emotsmile</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-phone icons align-middle font-16"></i>
				&nbsp;<span>.icon-phone</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-call-end icons align-middle font-16"></i>
				&nbsp;<span>.icon-call-end</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-call-in icons align-middle font-16"></i>
				&nbsp;<span>.icon-call-in</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-call-out icons align-middle font-16"></i>
				&nbsp;<span>.icon-call-out</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-map icons align-middle font-16"></i>
				&nbsp;<span>.icon-map</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-location-pin icons align-middle font-16"></i>
				&nbsp;<span>.icon-location-pin</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-direction icons align-middle font-16"></i>
				&nbsp;<span>.icon-direction</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-directions icons align-middle font-16"></i>
				&nbsp;<span>.icon-directions</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-compass icons align-middle font-16"></i>
				&nbsp;<span>.icon-compass</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-layers icons align-middle font-16"></i>
				&nbsp;<span>.icon-layers</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-menu icons align-middle font-16"></i>
				&nbsp;<span>.icon-menu</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-list icons align-middle font-16"></i>
				&nbsp;<span>.icon-list</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-options-vertical icons align-middle font-16"></i>
				&nbsp;<span>.icon-options-vertical</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-options icons align-middle font-16"></i>
				&nbsp;<span>.icon-options</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-arrow-down icons align-middle font-16"></i>
				&nbsp;<span>.icon-arrow-down</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-arrow-left icons align-middle font-16"></i>
				&nbsp;<span>.icon-arrow-left</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-arrow-right icons align-middle font-16"></i>
				&nbsp;<span>.icon-arrow-right</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-arrow-up icons align-middle font-16"></i>
				&nbsp;<span>.icon-arrow-up</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-arrow-up-circle icons align-middle font-16"></i>
				&nbsp;<span>.icon-arrow-up-circle</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-arrow-left-circle icons align-middle font-16"></i>
				&nbsp;<span>.icon-arrow-left-circle</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-arrow-right-circle icons align-middle font-16"></i>
				&nbsp;<span>.icon-arrow-right-circle</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-arrow-down-circle icons align-middle font-16"></i>
				&nbsp;<span>.icon-arrow-down-circle</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-check icons align-middle font-16"></i>
				&nbsp;<span>.icon-check</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-clock icons align-middle font-16"></i>
				&nbsp;<span>.icon-clock</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-plus icons align-middle font-16"></i>
				&nbsp;<span>.icon-plus</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-minus icons align-middle font-16"></i>
				&nbsp;<span>.icon-minus</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-close icons align-middle font-16"></i>
				&nbsp;<span>.icon-close</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-event icons align-middle font-16"></i>
				&nbsp;<span>.icon-event</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-exclamation icons align-middle font-16"></i>
				&nbsp;<span>.icon-exclamation</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-organization icons align-middle font-16"></i>
				&nbsp;<span>.icon-organization</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-trophy icons align-middle font-16"></i>
				&nbsp;<span>.icon-trophy</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-screen-smartphone icons align-middle font-16"></i>
				&nbsp;<span>.icon-screen-smartphone</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-screen-desktop icons align-middle font-16"></i>
				&nbsp;<span>.icon-screen-desktop</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-plane icons align-middle font-16"></i>
				&nbsp;<span>.icon-plane</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-notebook icons align-middle font-16"></i>
				&nbsp;<span>.icon-notebook</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-mustache icons align-middle font-16"></i>
				&nbsp;<span>.icon-mustache</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-mouse icons align-middle font-16"></i>
				&nbsp;<span>.icon-mouse</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-magnet icons align-middle font-16"></i>
				&nbsp;<span>.icon-magnet</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-energy icons align-middle font-16"></i>
				&nbsp;<span>.icon-energy</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-disc icons align-middle font-16"></i>
				&nbsp;<span>.icon-disc</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-cursor icons align-middle font-16"></i>
				&nbsp;<span>.icon-cursor</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-cursor-move icons align-middle font-16"></i>
				&nbsp;<span>.icon-cursor-move</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-crop icons align-middle font-16"></i>
				&nbsp;<span>.icon-crop</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-chemistry icons align-middle font-16"></i>
				&nbsp;<span>.icon-chemistry</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-speedometer icons align-middle font-16"></i>
				&nbsp;<span>.icon-speedometer</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-shield icons align-middle font-16"></i>
				&nbsp;<span>.icon-shield</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-screen-tablet icons align-middle font-16"></i>
				&nbsp;<span>.icon-screen-tablet</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-magic-wand icons align-middle font-16"></i>
				&nbsp;<span>.icon-magic-wand</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-hourglass icons align-middle font-16"></i>
				&nbsp;<span>.icon-hourglass</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-graduation icons align-middle font-16"></i>
				&nbsp;<span>.icon-graduation</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-ghost icons align-middle font-16"></i>
				&nbsp;<span>.icon-ghost</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-game-controller icons align-middle font-16"></i>
				&nbsp;<span>.icon-game-controller</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-fire icons align-middle font-16"></i>
				&nbsp;<span>.icon-fire</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-eyeglass icons align-middle font-16"></i>
				&nbsp;<span>.icon-eyeglass</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-envelope-open icons align-middle font-16"></i>
				&nbsp;<span>.icon-envelope-open</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-envelope-letter icons align-middle font-16"></i>
				&nbsp;<span>.icon-envelope-letter</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-bell icons align-middle font-16"></i>
				&nbsp;<span>.icon-bell</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-badge icons align-middle font-16"></i>
				&nbsp;<span>.icon-badge</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-anchor icons align-middle font-16"></i>
				&nbsp;<span>.icon-anchor</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-wallet icons align-middle font-16"></i>
				&nbsp;<span>.icon-wallet</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-vector icons align-middle font-16"></i>
				&nbsp;<span>.icon-vector</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-speech icons align-middle font-16"></i>
				&nbsp;<span>.icon-speech</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-puzzle icons align-middle font-16"></i>
				&nbsp;<span>.icon-puzzle</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-printer icons align-middle font-16"></i>
				&nbsp;<span>.icon-printer</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-present icons align-middle font-16"></i>
				&nbsp;<span>.icon-present</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-playlist icons align-middle font-16"></i>
				&nbsp;<span>.icon-playlist</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-pin icons align-middle font-16"></i>
				&nbsp;<span>.icon-pin</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-picture icons align-middle font-16"></i>
				&nbsp;<span>.icon-picture</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-handbag icons align-middle font-16"></i>
				&nbsp;<span>.icon-handbag</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-globe-alt icons align-middle font-16"></i>
				&nbsp;<span>.icon-globe-alt</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-globe icons align-middle font-16"></i>
				&nbsp;<span>.icon-globe</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-folder-alt icons align-middle font-16"></i>
				&nbsp;<span>.icon-folder-alt</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-folder icons align-middle font-16"></i>
				&nbsp;<span>.icon-folder</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-film icons align-middle font-16"></i>
				&nbsp;<span>.icon-film</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-feed icons align-middle font-16"></i>
				&nbsp;<span>.icon-feed</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-drop icons align-middle font-16"></i>
				&nbsp;<span>.icon-drop</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-drawer icons align-middle font-16"></i>
				&nbsp;<span>.icon-drawer</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-docs icons align-middle font-16"></i>
				&nbsp;<span>.icon-docs</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-doc icons align-middle font-16"></i>
				&nbsp;<span>.icon-doc</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-diamond icons align-middle font-16"></i>
				&nbsp;<span>.icon-diamond</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-cup icons align-middle font-16"></i>
				&nbsp;<span>.icon-cup</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-calculator icons align-middle font-16"></i>
				&nbsp;<span>.icon-calculator</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-bubbles icons align-middle font-16"></i>
				&nbsp;<span>.icon-bubbles</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-briefcase icons align-middle font-16"></i>
				&nbsp;<span>.icon-briefcase</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-book-open icons align-middle font-16"></i>
				&nbsp;<span>.icon-book-open</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-basket-loaded icons align-middle font-16"></i>
				&nbsp;<span>.icon-basket-loaded</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-basket icons align-middle font-16"></i>
				&nbsp;<span>.icon-basket</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-bag icons align-middle font-16"></i>
				&nbsp;<span>.icon-bag</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-action-undo icons align-middle font-16"></i>
				&nbsp;<span>.icon-action-undo</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-action-redo icons align-middle font-16"></i>
				&nbsp;<span>.icon-action-redo</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-wrench icons align-middle font-16"></i>
				&nbsp;<span>.icon-wrench</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-umbrella icons align-middle font-16"></i>
				&nbsp;<span>.icon-umbrella</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-trash icons align-middle font-16"></i>
				&nbsp;<span>.icon-trash</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-tag icons align-middle font-16"></i>
				&nbsp;<span>.icon-tag</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-support icons align-middle font-16"></i>
				&nbsp;<span>.icon-support</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-frame icons align-middle font-16"></i>
				&nbsp;<span>.icon-frame</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-size-fullscreen icons align-middle font-16"></i>
				&nbsp;<span>.icon-size-fullscreen</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-size-actual icons align-middle font-16"></i>
				&nbsp;<span>.icon-size-actual</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-shuffle icons align-middle font-16"></i>
				&nbsp;<span>.icon-shuffle</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-share-alt icons align-middle font-16"></i>
				&nbsp;<span>.icon-share-alt</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-share icons align-middle font-16"></i>
				&nbsp;<span>.icon-share</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-rocket icons align-middle font-16"></i>
				&nbsp;<span>.icon-rocket</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-question icons align-middle font-16"></i>
				&nbsp;<span>.icon-question</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-pie-chart icons align-middle font-16"></i>
				&nbsp;<span>.icon-pie-chart</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-pencil icons align-middle font-16"></i>
				&nbsp;<span>.icon-pencil</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-note icons align-middle font-16"></i>
				&nbsp;<span>.icon-note</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-loop icons align-middle font-16"></i>
				&nbsp;<span>.icon-loop</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-home icons align-middle font-16"></i>
				&nbsp;<span>.icon-home</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-grid icons align-middle font-16"></i>
				&nbsp;<span>.icon-grid</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-graph icons align-middle font-16"></i>
				&nbsp;<span>.icon-graph</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-microphone icons align-middle font-16"></i>
				&nbsp;<span>.icon-microphone</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-music-tone-alt icons align-middle font-16"></i>
				&nbsp;<span>.icon-music-tone-alt</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-music-tone icons align-middle font-16"></i>
				&nbsp;<span>.icon-music-tone</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-earphones-alt icons align-middle font-16"></i>
				&nbsp;<span>.icon-earphones-alt</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-earphones icons align-middle font-16"></i>
				&nbsp;<span>.icon-earphones</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-equalizer icons align-middle font-16"></i>
				&nbsp;<span>.icon-equalizer</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-like icons align-middle font-16"></i>
				&nbsp;<span>.icon-like</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-dislike icons align-middle font-16"></i>
				&nbsp;<span>.icon-dislike</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-control-start icons align-middle font-16"></i>
				&nbsp;<span>.icon-control-start</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-control-rewind icons align-middle font-16"></i>
				&nbsp;<span>.icon-control-rewind</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-control-play icons align-middle font-16"></i>
				&nbsp;<span>.icon-control-play</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-control-pause icons align-middle font-16"></i>
				&nbsp;<span>.icon-control-pause</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-control-forward icons align-middle font-16"></i>
				&nbsp;<span>.icon-control-forward</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-control-end icons align-middle font-16"></i>
				&nbsp;<span>.icon-control-end</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-volume-1 icons align-middle font-16"></i>
				&nbsp;<span>.icon-volume-1</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-volume-2 icons align-middle font-16"></i>
				&nbsp;<span>.icon-volume-2</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-volume-off icons align-middle font-16"></i>
				&nbsp;<span>.icon-volume-off</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-calendar icons align-middle font-16"></i>
				&nbsp;<span>.icon-calendar</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-bulb icons align-middle font-16"></i>
				&nbsp;<span>.icon-bulb</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-chart icons align-middle font-16"></i>
				&nbsp;<span>.icon-chart</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-ban icons align-middle font-16"></i>
				&nbsp;<span>.icon-ban</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-bubble icons align-middle font-16"></i>
				&nbsp;<span>.icon-bubble</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-camrecorder icons align-middle font-16"></i>
				&nbsp;<span>.icon-camrecorder</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-camera icons align-middle font-16"></i>
				&nbsp;<span>.icon-camera</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-cloud-download icons align-middle font-16"></i>
				&nbsp;<span>.icon-cloud-download</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-cloud-upload icons align-middle font-16"></i>
				&nbsp;<span>.icon-cloud-upload</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-envelope icons align-middle font-16"></i>
				&nbsp;<span>.icon-envelope</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-eye icons align-middle font-16"></i>
				&nbsp;<span>.icon-eye</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-flag icons align-middle font-16"></i>
				&nbsp;<span>.icon-flag</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-heart icons align-middle font-16"></i>
				&nbsp;<span>.icon-heart</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-info icons align-middle font-16"></i>
				&nbsp;<span>.icon-info</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-key icons align-middle font-16"></i>
				&nbsp;<span>.icon-key</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-link icons align-middle font-16"></i>
				&nbsp;<span>.icon-link</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-lock icons align-middle font-16"></i>
				&nbsp;<span>.icon-lock</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-lock-open icons align-middle font-16"></i>
				&nbsp;<span>.icon-lock-open</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-magnifier icons align-middle font-16"></i>
				&nbsp;<span>.icon-magnifier</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-magnifier-add icons align-middle font-16"></i>
				&nbsp;<span>.icon-magnifier-add</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-magnifier-remove icons align-middle font-16"></i>
				&nbsp;<span>.icon-magnifier-remove</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-paper-clip icons align-middle font-16"></i>
				&nbsp;<span>.icon-paper-clip</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-paper-plane icons align-middle font-16"></i>
				&nbsp;<span>.icon-paper-plane</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-power icons align-middle font-16"></i>
				&nbsp;<span>.icon-power</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-refresh icons align-middle font-16"></i>
				&nbsp;<span>.icon-refresh</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-reload icons align-middle font-16"></i>
				&nbsp;<span>.icon-reload</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-settings icons align-middle font-16"></i>
				&nbsp;<span>.icon-settings</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-star icons align-middle font-16"></i>
				&nbsp;<span>.icon-star</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-symbol-female icons align-middle font-16"></i>
				&nbsp;<span>.icon-symbol-female</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-symbol-male icons align-middle font-16"></i>
				&nbsp;<span>.icon-symbol-male</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-target icons align-middle font-16"></i>
				&nbsp;<span>.icon-target</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-credit-card icons align-middle font-16"></i>
				&nbsp;<span>.icon-credit-card</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-paypal icons align-middle font-16"></i>
				&nbsp;<span>.icon-paypal</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-social-tumblr icons align-middle font-16"></i>
				&nbsp;<span>.icon-social-tumblr</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-social-twitter icons align-middle font-16"></i>
				&nbsp;<span>.icon-social-twitter</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-social-facebook icons align-middle font-16"></i>
				&nbsp;<span>.icon-social-facebook</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-social-instagram icons align-middle font-16"></i>
				&nbsp;<span>.icon-social-instagram</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-social-linkedin icons align-middle font-16"></i>
				&nbsp;<span>.icon-social-linkedin</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-social-pinterest icons align-middle font-16"></i>
				&nbsp;<span>.icon-social-pinterest</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-social-github icons align-middle font-16"></i>
				&nbsp;<span>.icon-social-github</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-social-google icons align-middle font-16"></i>
				&nbsp;<span>.icon-social-google</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-social-reddit icons align-middle font-16"></i>
				&nbsp;<span>.icon-social-reddit</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-social-skype icons align-middle font-16"></i>
				&nbsp;<span>.icon-social-skype</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-social-dribbble icons align-middle font-16"></i>
				&nbsp;<span>.icon-social-dribbble</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-social-behance icons align-middle font-16"></i>
				&nbsp;<span>.icon-social-behance</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-social-foursqare icons align-middle font-16"></i>
				&nbsp;<span>.icon-social-foursqare</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-social-soundcloud icons align-middle font-16"></i>
				&nbsp;<span>.icon-social-soundcloud</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-social-spotify icons align-middle font-16"></i>
				&nbsp;<span>.icon-social-spotify</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-social-stumbleupon icons align-middle font-16"></i>
				&nbsp;<span>.icon-social-stumbleupon</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-social-youtube icons align-middle font-16"></i>
				&nbsp;<span>.icon-social-youtube</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-social-dropbox icons align-middle font-16"></i>
				&nbsp;<span>.icon-social-dropbox</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-social-vkontakte icons align-middle font-16"></i>
				&nbsp;<span>.icon-social-vkontakte</span>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div class="card">
			<div class="card-body">
				<i class="icon-social-steam icons align-middle font-16"></i>
				&nbsp;<span>.icon-social-steam</span>
			</div>
		</div>
	</div>
</div>