<!-- Left Sidebar -->
<div class="sidebar sidebar-v1">
	<div class="form-group m-0 sidebar-search">
		<input class="form-control" type="text" placeholder="Search..">
	</div>
	<div class="row m-0">
		<div class="col-12 vertical-menu text-center">
			<ul class="list-unstyled m-0">
				<li class="float-left" data-target=".sidebar-mail-content">
					<a href="javascript:;"><i class="fa fa-envelope" aria-hidden="true"></i></a>
				</li>
				<li class="float-left active" data-target=".sidebar-menu">
					<a href="javascript:;"><i class="fa fa-folder-open" aria-hidden="true"></i></a>
				</li>
				<li class="float-left" data-target=".sidebar-statistics">
					<a href="javascript:;"><i class="fa fa-bar-chart" aria-hidden="true"></i></a>
				</li>
				<li class="float-left" data-target=".side-menu-setting">
					<a href="javascript:;"><i class="fa fa-cog" aria-hidden="true"></i></a>
				</li>
			</ul>
		</div>
	</div>
	<ul class="list-unstyled sidebar-menu">
		<li>
			<a href="javascript:;" class="list-link" [ngClass]="{active: globals.parentMenu == 'Dashboards'}">
				<i class="fa fa-dashboard menu-icon" aria-hidden="true"></i>Dashboards
				<i class="fa fa-angle-right float-right arrow"></i>
			</a>
			<ul class="sub-menu" [ngClass]="{open: globals.parentMenu == 'Dashboards'}">
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'MainDashboard'}"><a routerLink="dashboard/main-dashboard"><i class="fa fa-circle-o list-icon"></i><span>Main Dashboard</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'DataAnalyticsDashboard'}"><a routerLink="dashboard/data-analytics-dashboard"><i class="fa fa-circle-o list-icon"></i><span>Data Analytics Dashboard</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'MarketingDashboard'}"><a routerLink="dashboard/marketing-dashboard"><i class="fa fa-circle-o list-icon"></i><span>Marketing Dashboard</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'SocialDashboard'}"><a routerLink="dashboard/social-dashboard"><i class="fa fa-circle-o list-icon"></i><span>Social Dashboard</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'ProjectDashboard'}"><a routerLink="dashboard/project-dashboard"><i class="fa fa-circle-o list-icon"></i><span>Project Dashboard</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'SalesDashboard'}"><a routerLink="dashboard/sales-dashboard"><i class="fa fa-circle-o list-icon"></i><span>Sales Dashboard</span></a></li>
			</ul>
		</li>

		<li>
			<a href="javascript:;" class="list-link" [ngClass]="{active: globals.parentMenu == 'UIElements'}">
				<i class="fa fa-laptop menu-icon" aria-hidden="true"></i>UI Elements
				<i class="fa fa-angle-right float-right arrow"></i>
			</a>
			<ul class="sub-menu" [ngClass]="{open: globals.parentMenu == 'UIElements'}">
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'Buttons'}"><a routerLink="ui-elements/buttons"><i class="fa fa-circle-o list-icon"></i><span>Buttons</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'BootstrapCards'}"><a routerLink="ui-elements/bootstrap-cards"><i class="fa fa-circle-o list-icon"></i><span>Bootstrap Cards</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'Tabs'}"><a routerLink="ui-elements/tabs"><i class="fa fa-circle-o list-icon"></i><span>Tabs</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'Typography'}"><a routerLink="ui-elements/typography"><i class="fa fa-circle-o list-icon"></i><span>Typography</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'Components'}"><a routerLink="ui-elements/components"><i class="fa fa-circle-o list-icon"></i><span>Bootstrap Components</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'SocialButtons'}"><a routerLink="ui-elements/social-buttons"><i class="fa fa-circle-o list-icon"></i><span>Social Buttons</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'Carousel'}"><a routerLink="ui-elements/carousel"><i class="fa fa-circle-o list-icon"></i><span>Bootstrap Carousel</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'ModalDialogs'}"><a routerLink="ui-elements/modal-dialogs"><i class="fa fa-circle-o list-icon"></i><span>Modal Dialog</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'Scrollspy'}"><a routerLink="ui-elements/scrollspy"><i class="fa fa-circle-o list-icon"></i><span>Scrollspy</span></a></li>
			</ul>
		</li>

		<li>
			<a href="javascript:;" class="list-link" [ngClass]="{active: globals.parentMenu == 'Icons'}">
				<i class="fa fa-paint-brush menu-icon" aria-hidden="true"></i>Icons
				<i class="fa fa-angle-right float-right arrow"></i>
			</a>
			<ul class="sub-menu" [ngClass]="{open: globals.parentMenu == 'Icons'}">
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'FontAwesomeIcon'}"><a routerLink="icons/fontawesome-icons"><i class="fa fa-circle-o list-icon"></i><span>Fontawesome Icons</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'SimpleLineIcons'}"><a routerLink="icons/simple-line-icons"><i class="fa fa-circle-o list-icon"></i><span>Simple Line Icons</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'IoniconsIcons'}"><a routerLink="icons/ionicons-icons"><i class="fa fa-circle-o list-icon"></i><span>Ionicons Icons</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'MaterialIcons'}"><a routerLink="icons/material-icons"><i class="fa fa-circle-o list-icon"></i><span>Material Icons</span></a></li>
			</ul>
		</li>

		<li>
			<a href="javascript:;" class="list-link" [ngClass]="{active: globals.parentMenu == 'Widgets'}">
				<i class="fa fa-flask menu-icon" aria-hidden="true"></i>Widgets
				<i class="fa fa-angle-right float-right arrow"></i>
			</a>
			<ul class="sub-menu" [ngClass]="{open: globals.parentMenu == 'Widgets'}">
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'SocialWidgets'}"><a routerLink="widgets/social-widgets"><i class="fa fa-circle-o list-icon"></i><span>Social Widgets</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'OtherWidgets'}"><a routerLink="widgets/other-widgets"><i class="fa fa-circle-o list-icon"></i><span>Other Widgets</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'WeatherWidgets'}"><a routerLink="widgets/weather-widgets"><i class="fa fa-circle-o list-icon"></i><span>Weather Widgets</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'MaterialCards'}"><a routerLink="widgets/material-cards"><i class="fa fa-circle-o list-icon"></i><span>Material Cards</span></a></li>
			</ul>
		</li>

		<li>
			<a href="javascript:;" class="list-link" [ngClass]="{active: globals.parentMenu == 'Charts'}">
				<i class="fa fa-pie-chart menu-icon" aria-hidden="true"></i>Charts
				<i class="fa fa-angle-right float-right arrow"></i>
			</a>
			<ul class="sub-menu" [ngClass]="{open: globals.parentMenu == 'Charts'}">
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'AMCharts'}"><a routerLink="charts/am-charts"><i class="fa fa-circle-o list-icon"></i><span>AM Charts</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'ChartJSCharts'}"><a routerLink="charts/chartjs-charts"><i class="fa fa-circle-o list-icon"></i><span>Chart JS Charts</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'GoogleCharts'}"><a routerLink="charts/google-charts"><i class="fa fa-circle-o list-icon"></i><span>Google Charts</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'MorrisCharts'}"><a routerLink="charts/morris-charts"><i class="fa fa-circle-o list-icon"></i><span>Morris Charts</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'FlotCharts'}"><a routerLink="charts/flot-charts"><i class="fa fa-circle-o list-icon"></i><span>Flot Charts</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'RickshawCharts'}"><a routerLink="charts/rickshaw-charts"><i class="fa fa-circle-o list-icon"></i><span>Rickshaw Charts</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'ECharts'}"><a routerLink="charts/e-charts"><i class="fa fa-circle-o list-icon"></i><span>E-Charts</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'ChartistCharts'}"><a routerLink="charts/chartist-charts"><i class="fa fa-circle-o list-icon"></i><span>Chartist Charts</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'PeityAndSparklineCharts'}"><a routerLink="charts/peity-and-sparkline-chart"><i class="fa fa-circle-o list-icon"></i><span>Peity & Sparkline Charts</span></a></li>
			</ul>
		</li>

		<li>
			<a href="javascript:;" class="list-link" [ngClass]="{active: globals.parentMenu == 'FormsAndPlugins'}">
				<i class="fa fa-edit menu-icon" aria-hidden="true"></i>Forms and Plugins <span class="float-right"><span class="badge badge-theme float-left mr-sm px-2 py-1">5+</span><i class="fa fa-angle-right arrow"></i></span>
			</a>
			<ul class="sub-menu" [ngClass]="{open: globals.parentMenu == 'FormsAndPlugins'}">
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'FormElements'}"><a routerLink="forms-and-plugins/form-elements"><i class="fa fa-circle-o list-icon"></i><span>Form Elements</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'FormAdvancedComponents'}"><a routerLink="forms-and-plugins/form-advance-elements"><i class="fa fa-circle-o list-icon"></i><span>Form Advanced Components</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'StepFormWizards'}"><a routerLink="forms-and-plugins/step-form-wizard"><i class="fa fa-circle-o list-icon"></i><span>Step Form Wizards</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'FileUploaders'}"><a routerLink="forms-and-plugins/file-uploader"><i class="fa fa-circle-o list-icon"></i><span>File Uploaders</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'SummernoteEditor'}"><a routerLink="forms-and-plugins/summernote-editors"><i class="fa fa-circle-o list-icon"></i><span>Summernote Editor</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'CKEditor'}"><a routerLink="forms-and-plugins/ck-editors"><i class="fa fa-circle-o list-icon"></i><span>CK Editor</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'FormValidation'}"><a routerLink="forms-and-plugins/form-validaion"><i class="fa fa-circle-o list-icon"></i><span>Form Validation</span></a></li>
			</ul>
		</li>

		<li>
			<a href="javascript:;" class="list-link" [ngClass]="{active: globals.parentMenu == 'Plugins'}">
				<i class="fa fa-plug menu-icon" aria-hidden="true"></i>Plugins
				<i class="fa fa-angle-right float-right arrow"></i>
			</a>
			<ul class="sub-menu" [ngClass]="{open: globals.parentMenu == 'Plugins'}">
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'ToastrAlert'}"><a routerLink="plugins/toastr-alert"><i class="fa fa-circle-o list-icon"></i><span>Toastr</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'AnimateCSS'}"><a routerLink="plugins/animate-css"><i class="fa fa-circle-o list-icon"></i><span>Animate CSS</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'Tinycon'}"><a routerLink="plugins/tinycon"><i class="fa fa-circle-o list-icon"></i><span>Tinycon & Blink Title<span class="badge badge-info float-right px-2 py-1">20+</span></span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'Clipboard'}"><a routerLink="plugins/clipboard"><i class="fa fa-circle-o list-icon"></i><span>Clipboard</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'IntroJS'}"><a routerLink="plugins/intro-js"><i class="fa fa-circle-o list-icon"></i><span>Intro JS</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'Sliders'}"><a routerLink="plugins/sliders"><i class="fa fa-circle-o list-icon"></i><span>Sliders</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'SortableComponents'}"><a routerLink="plugins/sortable-components"><i class="fa fa-circle-o list-icon"></i><span>Sortable Components</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'SpinnerButtons'}"><a routerLink="plugins/spinner-buttons"><i class="fa fa-circle-o list-icon"></i><span>Spinner Buttons</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'SweetModals'}"><a routerLink="plugins/sweet-modals"><i class="fa fa-circle-o list-icon"></i><span>Sweet Modals</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'BarcodeGenerator'}"><a routerLink="plugins/barcode-generator"><i class="fa fa-circle-o list-icon"></i><span>Barcode Generator</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'PageLoaders'}"><a routerLink="plugins/page-loaders"><i class="fa fa-circle-o"></i><span>Loaders</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'LiquidMeter'}"><a routerLink="plugins/liquid-meter"><i class="fa fa-circle-o list-icon"></i><span>Liquid-Meter</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'ImageViewer'}"><a routerLink="plugins/image-viewer"><i class="fa fa-circle-o list-icon"></i><span>Image Viewer</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'SplitJS'}"><a routerLink="plugins/split-js"><i class="fa fa-circle-o list-icon"></i><span>Split JS</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'Rating'}"><a routerLink="plugins/rating"><i class="fa fa-circle-o list-icon"></i><span>Rating</span></a></li>
			</ul>
		</li>

		<li>
			<a href="javascript:;" class="list-link" [ngClass]="{active: globals.parentMenu == 'Maps'}">
				<i class="fa fa-map menu-icon" aria-hidden="true"></i>Maps
				<i class="fa fa-angle-right float-right arrow"></i>
			</a>
			<ul class="sub-menu" [ngClass]="{open: globals.parentMenu == 'Maps'}">
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'GoogleMaps'}"><a routerLink="maps/google-maps"><i class="fa fa-circle-o list-icon"></i><span>Google Maps</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'DataMaps'}"><a routerLink="maps/data-maps"><i class="fa fa-circle-o list-icon"></i><span>Data Maps</span></a></li>
			</ul>
		</li>

		<li>
			<a href="javascript:;" class="list-link" [ngClass]="{active: globals.parentMenu == 'Layouts'}">
				<i class="fa fa-clone menu-icon" aria-hidden="true"></i>Layouts
				<i class="fa fa-angle-right float-right arrow"></i>
			</a>
			<ul class="sub-menu" [ngClass]="{open: globals.parentMenu == 'Layouts'}">
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'EmptyPage'}"><a routerLink="layouts/empty-page"><i class="fa fa-circle-o list-icon"></i><span>Empty Page</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'FullwidthLayout'}"><a routerLink="layouts/full-width-layout"><i class="fa fa-circle-o list-icon"></i><span>Full Width Layout</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'FixedWidthLayout'}"><a routerLink="layouts/fixed-width-layout"><i class="fa fa-circle-o list-icon"></i><span>Fixed Width Layout</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'HorizontalLayout'}"><a routerLink="layouts/hoizontal-layout"><i class="fa fa-circle-o list-icon"></i><span>Horizontal Layout</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'TabPage'}"><a routerLink="layouts/tab-page"><i class="fa fa-circle-o list-icon"></i><span>Tab Layout Page</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'SidebarV2'}"><a routerLink="layouts/sidebar-v2"><i class="fa fa-circle-o list-icon"></i><span>Sidebar v2</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'NavbarV2'}"><a routerLink="layouts/navbar-v2"><i class="fa fa-circle-o list-icon"></i><span>Navbar v2</span></a></li>
			</ul>
		</li>

		<li>
			<a href="javascript:;" class="list-link" [ngClass]="{active: globals.parentMenu == 'Pages'}">
				<i class="fa fa-files-o menu-icon" aria-hidden="true"></i>Pages
				<i class="fa fa-angle-right float-right arrow"></i>
			</a>
			<ul class="sub-menu" [ngClass]="{open: globals.parentMenu == 'Pages'}">
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'Login'}"><a routerLink="pages/login"><i class="fa fa-circle-o list-icon"></i><span>Login Page</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'Signup'}"><a routerLink="pages/signup"><i class="fa fa-circle-o list-icon"></i><span>Register Page</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'ForgotPassword'}"><a routerLink="pages/forgot-password"><i class="fa fa-circle-o list-icon"></i><span>Forgot Password</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'LockScreen'}"><a routerLink="pages/lock-screen"><i class="fa fa-circle-o list-icon"></i><span>Lock Screen</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == '404'}"><a routerLink="pages/error-404"><i class="fa fa-circle-o list-icon"></i><span>404 Page</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == '505'}"><a routerLink="pages/error-500"><i class="fa fa-circle-o list-icon"></i><span>500 Page</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'BlogList'}"><a routerLink="pages/blog-list"><i class="fa fa-circle-o list-icon"></i><span>Blog List</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'Blog'}"><a routerLink="pages/blog"><i class="fa fa-circle-o list-icon"></i><span>Blog</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'Supports'}"><a routerLink="pages/supports"><i class="fa fa-circle-o list-icon"></i><span>Supports</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'Article'}"><a routerLink="pages/article"><i class="fa fa-circle-o list-icon"></i><span>Article</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'Forum'}"><a routerLink="pages/forum"><i class="fa fa-circle-o list-icon"></i><span>Forum</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'VoteList'}"><a routerLink="pages/vote-list"><i class="fa fa-circle-o list-icon"></i><span>Vote List</span></a></li>
			</ul>
		</li>

		<li>
			<a href="javascript:;" class="list-link" [ngClass]="{active: globals.parentMenu == 'MultiLevelMenu'}">
				<i class="fa fa-sitemap menu-icon" aria-hidden="true"></i>Multi Level Menu
				<i class="fa fa-angle-right float-right arrow"></i>
			</a>
			<ul class="sub-menu" [ngClass]="{open: globals.parentMenu == 'MultiLevelMenu'}">
				<li class="sub-list"><a href="javascript:;"><i class="fa fa-circle-o"></i><span>Menu One</span><span class="badge badge-theme float-right px-2 py-1">New</span></a></li>
				<li class="sub-list"><a href="javascript:;"><i class="fa fa-circle-o"></i><span>Menu Two</span></a></li>
				<li class="sub-list"><a href="javascript:;"><i class="fa fa-circle-o"></i><span>Menu Three</span></a></li>
				<li class="sub-list"><a href="javascript:;"><i class="fa fa-circle-o"></i><span>Menu Four</span></a></li>
				<li class="sub-list"><a href="javascript:;"><i class="fa fa-circle-o"></i><span>Menu Five</span></a></li>
				<li class="sub-list"><a href="javascript:;"><i class="fa fa-circle-o"></i><span>Menu Six</span></a></li>
				<li class="sub-list"><a href="javascript:;"><i class="fa fa-circle-o"></i><span>Menu Seven</span></a></li>
				<li class="sub-list"><a href="javascript:;"><i class="fa fa-circle-o"></i><span>Menu Eight</span></a></li>
			</ul>
		</li>

		<li>
			<a href="javascript:;" class="list-link" [ngClass]="{active: globals.parentMenu == 'Tables'}">
				<i class="fa fa-table menu-icon" aria-hidden="true"></i>Tables
				<i class="fa fa-angle-right float-right arrow"></i>
			</a>
			<ul class="sub-menu" [ngClass]="{open: globals.parentMenu == 'Tables'}">
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'BootstrapTables'}"><a routerLink="tables/bootstrap-tables"><i class="fa fa-circle-o"></i><span>Bootstrap Tables</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'FooTable'}"><a routerLink="tables/foo-table"><i class="fa fa-circle-o"></i><span>Foo Table</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'JSGridTable'}"><a routerLink="tables/js-grid-table"><i class="fa fa-circle-o"></i><span>JS-Grid Table</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'DataTables'}"><a routerLink="tables/data-table"><i class="fa fa-circle-o"></i><span>DataTables</span></a></li>
			</ul>
		</li>

		<li>
			<a routerLink="calendar" class="list-link" [ngClass]="{active: globals.parentMenu == 'Calendar' && globals.childMenu == 'Calendar'}">
				<i class="fa fa-calendar menu-icon" aria-hidden="true"></i>Calendar
				<span class="badge badge-info float-right px-2 py-1">5</span>
			</a>
		</li>

		<li>
			<a href="javascript:;" class="list-link" [ngClass]="{active: globals.parentMenu == 'MailBox'}">
				<i class="fa fa-envelope-o menu-icon" aria-hidden="true"></i>MailBox
				<i class="fa fa-angle-right float-right arrow"></i>
			</a>
			<ul class="sub-menu" [ngClass]="{open: globals.parentMenu == 'MailBox'}">
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'Inbox'}"><a routerLink="mailbox/inbox"><i class="fa fa-circle-o"></i><span>Inbox <small>(Compose Integrated)</small></span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'ReadMail'}"><a routerLink="mailbox/readmail"><i class="fa fa-circle-o"></i><span>Read Mail</span></a></li>
			</ul>
		</li>

		<li>
			<a href="javascript:;" class="list-link" [ngClass]="{active: globals.parentMenu == 'ECommerce'}">
				<i class="fa fa-shopping-cart menu-icon" aria-hidden="true"></i>E-Commerce
				<i class="fa fa-angle-right float-right arrow"></i>
			</a>
			<ul class="sub-menu" [ngClass]="{open: globals.parentMenu == 'ECommerce'}">
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'ProductList'}"><a routerLink="e-commerce/product-list"><i class="fa fa-circle-o"></i><span>Products List</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'ProductEdit'}"><a routerLink="e-commerce/product-edit"><i class="fa fa-circle-o"></i><span>Product Edit</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'ProductsBox'}"><a routerLink="e-commerce/product-box"><i class="fa fa-circle-o"></i><span>Products Box</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'ProductDetail'}"><a routerLink="e-commerce/product-detail"><i class="fa fa-circle-o"></i><span>Product Detail</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'Cart'}"><a routerLink="e-commerce/cart"><i class="fa fa-circle-o"></i><span>Cart</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'OrdersList'}"><a routerLink="e-commerce/order-list"><i class="fa fa-circle-o"></i><span>Orders List</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'OrderDetail'}"><a routerLink="e-commerce/order-detail"><i class="fa fa-circle-o"></i><span>Order Detail</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'Payments'}"><a routerLink="e-commerce/payments"><i class="fa fa-circle-o"></i><span>Payment Page</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'Invoice'}"><a routerLink="e-commerce/invoice"><i class="fa fa-circle-o"></i><span>Invoice</span></a></li>
			</ul>
		</li>

		<li>
			<a href="javascript:;" class="list-link" [ngClass]="{active: globals.parentMenu == 'ProjectManagement'}">
				<i class="fa fa-tasks menu-icon" aria-hidden="true"></i>Project Management
				<i class="fa fa-angle-right float-right arrow"></i>
			</a>
			<ul class="sub-menu" [ngClass]="{open: globals.parentMenu == 'ProjectManagement'}">
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'ProjectList'}"><a routerLink="projet-management/project-list"><i class="fa fa-circle-o"></i><span>Project List</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'ProjectDetail'}"><a routerLink="projet-management/project-detail"><i class="fa fa-circle-o"></i><span>Project Detail</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'Clients'}"><a routerLink="projet-management/clients"><i class="fa fa-circle-o"></i><span>Clients List</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'IssueList'}"><a routerLink="projet-management/issue-list"><i class="fa fa-circle-o"></i><span>Issue List</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'IssueDetail'}"><a routerLink="projet-management/issue-detail"><i class="fa fa-circle-o"></i><span>Issue Detail</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'ProjectBoard'}"><a routerLink="projet-management/project-board"><i class="fa fa-circle-o"></i><span>Project Board</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'AgileBoard'}"><a routerLink="projet-management/agile-board"><i class="fa fa-circle-o list-icon"></i><span>Agile Board</span></a></li>
			</ul>
		</li>

		<li>
			<a href="javascript:;" class="list-link" [ngClass]="{active: globals.parentMenu == 'UserManagement'}">
				<i class="fa fa-users menu-icon" aria-hidden="true"></i>User Management
				<i class="fa fa-angle-right float-right arrow"></i>
			</a>
			<ul class="sub-menu" [ngClass]="{open: globals.parentMenu == 'UserManagement'}">
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'UserList'}"><a routerLink="user-management/user-list"><i class="fa fa-circle-o list-icon"></i><span>Users List</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'UserEdit'}"><a routerLink="user-management/user-edit"><i class="fa fa-circle-o list-icon"></i><span>User Edit</span></a></li>
			</ul>
		</li>

		<li>
			<a href="javascript:;" class="list-link" [ngClass]="{active: globals.parentMenu == 'MiscellaneousPage'}">
				<i class="fa fa-globe menu-icon" aria-hidden="true"></i>Miscellaneous Page
				<i class="fa fa-angle-right float-right arrow"></i>
			</a>
			<ul class="sub-menu" [ngClass]="{open: globals.parentMenu == 'MiscellaneousPage'}">
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'ContactCards'}"><a routerLink="miscellaneous-page/contact-cards"><i class="fa fa-circle-o"></i><span>Contact Cards</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'FAQ'}"><a routerLink="miscellaneous-page/faq"><i class="fa fa-circle-o"></i><span>FAQ</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'ChatView'}"><a routerLink="miscellaneous-page/chat-view"><i class="fa fa-circle-o"></i><span>Chat View</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'HorizontalTimeline'}"><a routerLink="miscellaneous-page/horizontal-timeline"><i class="fa fa-circle-o"></i><span>Horizontal Timeline</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'VerticalTimeline'}"><a routerLink="miscellaneous-page/vertical-timeline"><i class="fa fa-circle-o"></i><span>Vertical Timeline</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'PDFViewer'}"><a routerLink="miscellaneous-page/pdf-viewer"><i class="fa fa-circle-o"></i><span>PDF Viewer</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'Pricing'}"><a routerLink="miscellaneous-page/pricing"><i class="fa fa-circle-o"></i><span>Pricing</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'SearchPage'}"><a routerLink="miscellaneous-page/search-page"><i class="fa fa-circle-o"></i><span>Search Page</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'VideoPage'}"><a routerLink="miscellaneous-page/video-page"><i class="fa fa-circle-o"></i><span>Video Page</span></a></li>
			</ul>
		</li>

		<li><a routerLink="image-gallery" class="list-link" [ngClass]="{active: globals.parentMenu == 'ImageGallery' && globals.childMenu == 'ImageGallery'}"><i class="fa fa-picture-o menu-icon" aria-hidden="true"></i>Image Gallery</a></li>
		<li><a routerLink="file-manager" class="list-link" [ngClass]="{active: globals.parentMenu == 'FileManager' && globals.childMenu == 'FileManager'}"><i class="fa fa-file menu-icon" aria-hidden="true"></i>File Manager</a></li>
		<li><a routerLink="profile" class="list-link" [ngClass]="{active: globals.parentMenu == 'Profile' && globals.childMenu == 'Profile'}"><i class="fa fa-user menu-icon" aria-hidden="true"></i> Profile</a></li>

		<li>
			<a href="javascript:;" class="list-link" [ngClass]="{active: globals.parentMenu == 'Documents'}">
				<i class="fa fa-book menu-icon" aria-hidden="true"></i>Documents
				<i class="fa fa-angle-right float-right arrow"></i>
			</a>
			<ul class="sub-menu" [ngClass]="{open: globals.parentMenu == 'Documents'}">
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'BootstrapGrid'}"><a routerLink="documents/bootstrap-grid"><i class="fa fa-circle-o"></i><span>Bootstrap Grid</span></a></li>
				<li class="sub-list" [ngClass]="{active: globals.childMenu == 'HelperClasses'}"><a routerLink="documents/helper-classes"><i class="fa fa-circle-o"></i><span>Helper Classes</span></a></li>
			</ul>
		</li>
	</ul>
	<div class="d-none sidebar-mail-content">
		<ul class="list-unstyled">
			<li class="sidebar-mail-box">
				<a href="javascript:;">
					<div class="media">
						<img class="align-self-center avatar avatar-sm rounded-circle" src="assets/images/portrait/avatar1.png" alt="RTDL Image">
						<div class="media-body mail-details">
							<span class="mail-from">John Smith</span>
							<div class="mail-subject">
								Lorem Ipsum is simply dummy text of the printing
							</div>
						</div>
					</div>
				</a>
			</li>
			<li class="sidebar-mail-box">
				<a href="javascript:;">
					<div class="media">
						<img class="align-self-center avatar avatar-sm rounded-circle" src="assets/images/portrait/avatar2.png" alt="RTDL Image">
						<div class="media-body mail-details">
							<span class="mail-from">Smith john</span>
							<div class="mail-subject">
								Lorem Ipsum is simply dummy text of the printing
							</div>
						</div>
					</div>
				</a>
			</li>
			<li class="sidebar-mail-box">
				<a href="javascript:;">
					<div class="media">
						<img class="align-self-center avatar avatar-sm rounded-circle" src="assets/images/portrait/avatar3.png" alt="RTDL Image">
						<div class="media-body mail-details">
							<span class="mail-from">Addison</span>
							<div class="mail-subject">
								Lorem Ipsum is simply dummy text of the printing
							</div>
						</div>
					</div>
				</a>
			</li>
			<li class="sidebar-mail-box">
				<a href="javascript:;">
					<div class="media">
						<img class="align-self-center avatar avatar-sm rounded-circle" src="assets/images/portrait/avatar4.png" alt="RTDL Image">
						<div class="media-body mail-details">
							<span class="mail-from">Adamaris</span>
							<div class="mail-subject">
								Lorem Ipsum is simply dummy text of the printing
							</div>
						</div>
					</div>
				</a>
			</li>
			<li class="sidebar-mail-box">
				<a href="javascript:;">
					<div class="media">
						<img class="align-self-center avatar avatar-sm rounded-circle" src="assets/images/portrait/avatar5.png" alt="RTDL Image">
						<div class="media-body mail-details">
							<span class="mail-from">Dennise</span>
							<div class="mail-subject">
								Lorem Ipsum is simply dummy text of the printing
							</div>
						</div>
					</div>
				</a>
			</li>
			<li class="sidebar-mail-box">
				<a href="javascript:;">
					<div class="media">
						<img class="align-self-center avatar avatar-sm rounded-circle" src="assets/images/portrait/avatar6.png" alt="RTDL Image">
						<div class="media-body mail-details">
							<span class="mail-from">Junie</span>
							<div class="mail-subject">
								Lorem Ipsum is simply dummy text of the printing
							</div>
						</div>
					</div>
				</a>
			</li>
			<li class="sidebar-mail-box">
				<a href="javascript:;">
					<div class="media">
						<img class="align-self-center avatar avatar-sm rounded-circle" src="assets/images/portrait/avatar7.png" alt="RTDL Image">
						<div class="media-body mail-details">
							<span class="mail-from">Lorriane</span>
							<div class="mail-subject">
								Lorem Ipsum is simply dummy text of the printing
							</div>
						</div>
					</div>
				</a>
			</li>
			<li class="sidebar-mail-box">
				<a href="javascript:;">
					<div class="media">
						<img class="align-self-center avatar avatar-sm rounded-circle" src="assets/images/portrait/avatar2.png" alt="RTDL Image">
						<div class="media-body mail-details">
							<span class="mail-from">Haner</span>
							<div class="mail-subject">
								Lorem Ipsum is simply dummy text of the printing
							</div>
						</div>
					</div>
				</a>
			</li>
		</ul>
	</div>
	<div class="d-none mt-md side-menu-setting">
		<div class="row m-0">
			<!-- Always Sticky Header -->
			<div class="col-12 mb-xs px-sm">
				<label for="always-sticky-header" class="font-roboto-bold font-12 m-0 align-middle">Always Sticky Header</label>
				<div class="float-right">
					<input type="checkbox" id="always-sticky-header" class="always-sticky-header">
				</div>
			</div>
			<!-- Always Sticky Sidebar -->
			<div class="col-12 mb-xs px-sm">
				<label for="always-sticky-sidebar" class="font-roboto-bold font-12 m-0 align-middle">Always Sticky Sidebar</label>
				<div class="float-right">
					<input type="checkbox" id="always-sticky-sidebar" class="always-sticky-sidebar">
				</div>
			</div>
			<!-- Always Sticky Footer -->
			<div class="col-12 mb-xs px-sm">
				<label for="always-sticky-footer" class="font-roboto-bold font-12 m-0 align-middle">Always Sticky Footer</label>
				<div class="float-right">
					<input type="checkbox" id="always-sticky-footer" class="always-sticky-footer">
				</div>
			</div>
			<!-- Always Boxed Layout -->
			<div class="col-12 mb-xs px-sm">
				<label for="always-boxed-layout" class="font-roboto-bold font-12 m-0 align-middle">Always Boxed Layout</label>
				<div class="float-right">
					<input type="checkbox" id="always-boxed-layout" class="always-boxed-layout">
				</div>
			</div>
		</div>
		<div class="division"></div>
		<div class="row p-sm">
			<div class="col-12">
				<h5 class="font-os-normal text-center">Want to clear browser data? Just click once on following buttons..</h5>
			</div>
		</div>
		<div class="row px-sm">
			<!-- Clear Local Storage -->
			<div class="col-12">
				<button class="col-12 btn btn-outline-theme flush-local-storage mb-xs">Flush Local Storage</button>
				<button class="col-12 btn btn-outline-theme " type="button">Clear Cookie</button>
			</div>
		</div>
	</div>
	<div class="d-none sidebar-statistics">
		<h5 class="text-center statistics-font-color font-os-normal my-sm"><i class="fa fa-bar-chart" aria-hidden="true"></i> Social Statistics</h5>
		<div class="row m-0">
			<div class="col-lg-6 col-md-6 col-sm-6 col-6 font-os-thin px-sm">
				<h5 class="my-sm font-os-bold">Likes<br><span class="font-10">1,020</span></h5>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-6 font-os-thin">
				<div class="float-right mt-md">
					<span class="facebookStatistics d-none">3,5,2,4,7,3,2,7,9,6,4,5,7</span>
				</div>
			</div>
		</div>
		<div class="row m-0">
			<div class="col-lg-6 col-md-6 col-sm-6 col-6 font-os-thin px-sm">
				<h5 class="my-sm font-os-bold">Comments <br><span class="font-10">2,250</span></h5>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-6 font-os-thin">
				<div class="float-right mt-md">
					<span class="commentsStatistics d-none">6,4,5,7,5,3,9,6,5,9,7,3,5,8</span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="px-xs mt-md">
					<h5 class="font-roboto-thin statistics-font-color my-sm">New Users</h5>
					<div class="progress-rounded mb-lg">
						<ngb-progressbar type="theme" [value]="40" height="5px"></ngb-progressbar>
					</div>
					<h5 class="font-roboto-thin statistics-font-color my-sm">Today Visits</h5>
					<div class="progress-rounded mb-lg">
						<ngb-progressbar type="theme" [value]="60" height="5px"></ngb-progressbar>
					</div>
					<h5 class="font-roboto-thin statistics-font-color my-sm">Total Visits</h5>
					<div class="progress-rounded mb-lg">
						<ngb-progressbar type="theme" [value]="80" height="5px"></ngb-progressbar>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<h5 class="text-center font-os-normal statistics-font-color my-sm font-14"><i class="fa fa-line-chart" aria-hidden="true"></i> Server Activity</h5>
				<div class="mx-sm">
					<table class="statistics-font-color font-roboto-thin">
						<thead>
							<tr>
								<th><small>IP</small></th>
								<th><small>Time</small></th>
								<th><small>Usage</small></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><small>100.55.25.70</small></td>
								<td><small>10:45am</small></td>
								<td><small>80%</small></td>
							</tr>
							<tr>
								<td><small>4.15.8.76</small></td>
								<td><small>02:02pm</small></td>
								<td><small>20%</small></td>
							</tr>
							<tr>
								<td><small>80.91.65.27</small></td>
								<td><small>12:00am</small></td>
								<td><small>45%</small></td>
							</tr>
							<tr>
								<td><small>72.29.89.45</small></td>
								<td><small>05:30pm</small></td>
								<td><small>77%</small></td>
							</tr>
							<tr>
								<td><small>99.00.05.80</small></td>
								<td><small>10:01pm</small></td>
								<td><small>50%</small></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12"> 
				<h5 class="text-center font-os-normal statistics-font-color mt-lg mb-sm font-14"><i class="fa fa-users" aria-hidden="true"></i> Visitors Stats</h5>
				<div class="mx-sm">
					<table class="statistics-font-color font-roboto-thin">
						<tbody>
							<tr>
								<td>1,200</td>
								<td><span>Last day</span></td>
							</tr>
							<tr>
								<td>3,080</td>
								<td><span>Last week</span></td>
							</tr>
							<tr>
								<td>9,898</td>
								<td><span>Last month</span></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<h5 class="text-center font-os-normal statistics-font-color mt-lg mb-sm font-14"><i class="fa fa-user" aria-hidden="true"></i> Client Reviwes</h5>
				<div class="mx-sm">
					<table class="statistics-font-color font-roboto-thin">
						<thead>
							<tr>
								<th><small>User</small></th>
								<th><small>Country</small></th>
								<th><small>Satisfaction</small></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><small>John</small></td>
								<td><small>India</small></td>
								<td><small>80%</small></td>
							</tr>
							<tr>
								<td><small>Smith</small></td>
								<td><small>Canada</small></td>
								<td><small>30%</small></td>
							</tr>
							<tr>
								<td><small>Addison</small></td>
								<td><small>Africa</small></td>
								<td><small>50%</small></td>
							</tr>
							<tr>
								<td><small>Dennise</small></td>
								<td><small>India</small></td>
								<td><small>80%</small></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>