<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">Plugins</a></li>
							<li class="breadcrumb-item active text-dg">Image Viewer</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-plug menu-icon" aria-hidden="true"></i> Image Viewer</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Image Viewer -->
<div class="row">
	<div class="col-12 px-0 my-sm">
		<div class="card">
			<div class="card-body text-center">
				<div class="py-lg">
					<h4 class="font-roboto-thin my-sm">A simple jQuery image viewing plugin. (Not supported in Angular)</h4>
					<a href="https://fengyuanchen.github.io/viewer" target="_blank" class="btn btn-outline-theme">Get Image Viewer Doc</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="card my-sm">
	<div class="card-body">
		<div class="row">
			<div class="col-12">
				<ul class="image-grid list-unstyled image-viewer">
					<li><a href="javascript:;"><img class="cursor-pointer" src="assets/images/profile/activity.jpg" alt="RTDL Image"></a></li>
					<li><a href="javascript:;"><img class="cursor-pointer" src="assets/images/profile/activity12.jpg" alt="RTDL Image"></a></li>
					<li><a href="javascript:;"><img class="cursor-pointer" src="assets/images/profile/activity1.jpg" alt="RTDL Image"></a></li>
					<li><a href="javascript:;"><img class="cursor-pointer" src="assets/images/profile/activity11.jpg" alt="RTDL Image"></a></li>
					<li class="main-image"><a href="javascript:;"><img class="cursor-pointer" src="assets/images/profile/activity10.jpg" alt="RTDL Image"></a></li>
					<li><a href="javascript:;"><img class="cursor-pointer" src="assets/images/profile/activity2.jpg" alt="RTDL Image"></a></li>
					<li><a href="javascript:;"><img class="cursor-pointer" src="assets/images/profile/activity7.jpg" alt="RTDL Image"></a></li>
					<li><a href="javascript:;"><img class="cursor-pointer" src="assets/images/profile/activity9.jpg" alt="RTDL Image"></a></li>
					<li><a href="javascript:;"><img class="cursor-pointer" src="assets/images/profile/activity3.jpg" alt="RTDL Image"></a></li>
					<li><a href="javascript:;"><img class="cursor-pointer" src="assets/images/profile/activity5.jpg" alt="RTDL Image"></a></li>
					<li><a href="javascript:;"><img class="cursor-pointer" src="assets/images/profile/activity4.jpg" alt="RTDL Image"></a></li>
					<li><a href="javascript:;"><img class="cursor-pointer" src="assets/images/profile/activity6.jpg" alt="RTDL Image"></a></li>
					<li><a href="javascript:;"><img class="cursor-pointer" src="assets/images/profile/activity8.jpg" alt="RTDL Image"></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>