<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">Project Management</a></li>
							<li class="breadcrumb-item active text-dg">Agile Board</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-tasks" aria-hidden="true"></i> Agile Board</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Agile Board Content -->
<div class="row">
	<div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12 todo-sortable my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="d-inline-block m-0">To-do</h5>
				<div class="float-right">
					<a href="javascript:;" class="text-dg p-xs"><i class="fa fa-cog"></i></a>
					<a href="javascript:;" class="text-dg p-xs" data-toggle="collapse" data-target="#to-do"><i class="fa fa-angle-down"></i></a>
				</div>
			</div>
			<hr class="m-0">
			<div class="card-body collapse show" id="to-do">
				<ul class="list-unstyled height-30 connected list-group-sortable-connected">
					<li class="mb-lg p-lg bg-lg todo-content-border-left theme-border-color">
						<p class="m-0"><small class="float-right"><i class="fa fa-clock-o" aria-hidden="true"></i> 5:60 pm</small></p>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						<div class="d-inline-block">
							<span class="badge badge-theme">Attachment</span>
							<span class="badge badge-success">Subscribe</span>
						</div>
						<div class="float-right">
							<img class="avatar avatar-sm rounded-circle mx-xs" src="assets/images/portrait/avatar1.png" alt="RTDL Image">
						</div>											
					</li>
					<li class="mb-lg p-lg bg-lg todo-content-border-left theme-border-color">
						<p class="p-0"><small class="float-right"><i class="fa fa-clock-o" aria-hidden="true"></i> 4:00 pm</small></p>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						<span class="badge badge-success">Subscribe</span>
						<img class="avatar avatar-sm rounded-circle float-right mx-xs" src="assets/images/portrait/avatar2.png" alt="RTDL Image">
						<img class="avatar avatar-sm rounded-circle float-right mx-xs" src="assets/images/portrait/avatar3.png" alt="RTDL Image">
					</li>
					<li class="mb-lg p-lg bg-lg todo-content-border-left theme-border-color">
						<p class="m-0"><small class="float-right"><i class="fa fa-clock-o" aria-hidden="true"></i> 10:10 am</small></p>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						<span class="badge badge-warning">Attachment</span>
						<span class="badge badge-danger">Subscribe</span>
						<img class="avatar avatar-sm rounded-circle float-right mx-xs" src="assets/images/portrait/avatar5.png" alt="RTDL Image">
					</li>
					<li class="mb-lg p-lg bg-lg todo-content-border-left theme-border-color">
						<p class="m-0"><small class="float-right"><i class="fa fa-clock-o" aria-hidden="true"></i> 6:30 am</small></p>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						<span class="badge badge-success">Attachment</span>
						<img class="avatar avatar-sm rounded-circle float-right mx-xs" src="assets/images/portrait/avatar6.png" alt="RTDL Image">
						<img class="avatar avatar-sm rounded-circle float-right mx-xs" src="assets/images/portrait/avatar4.png" alt="RTDL Image">
					</li>
					<li class="mb-lg p-lg bg-lg todo-content-border-left theme-border-color">
						<p class="m-0"><small class="float-right"><i class="fa fa-clock-o" aria-hidden="true"></i> 9:10 pm</small></p>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						<span class="badge badge-theme">Attachment</span>
						<span class="badge badge-primary">Subscribe</span>
						<img class="avatar avatar-sm rounded-circle float-right mx-xs" src="assets/images/portrait/avatar2.png" alt="RTDL Image">
					</li>
					<li class="mb-lg p-lg bg-lg todo-content-border-left theme-border-color">
						<p class="m-0"><small class="float-right"><i class="fa fa-clock-o" aria-hidden="true"></i> 11:58 am</small></p>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						<span class="badge badge-danger">Attachment</span>
						<img class="avatar avatar-sm rounded-circle float-right mx-xs" src="assets/images/portrait/avatar6.png" alt="RTDL Image">
						<img class="avatar avatar-sm rounded-circle float-right mx-xs" src="assets/images/portrait/avatar1.png" alt="RTDL Image">
						<img class="avatar avatar-sm rounded-circle float-right mx-xs" src="assets/images/portrait/avatar2.png" alt="RTDL Image">
					</li>
				</ul>
				<div>
					<div class="mb-lg p-lg add-todo bg-lg text-center">
						<i class="fa fa-plus" aria-hidden="true"></i> <strong>Add</strong>
					</div>
				</div>
				<div class="text-center float-right">
					<button type="button" class="btn btn-md btn-theme"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12 todo-sortable my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="d-inline-block m-0">
					<strong>In Progress <label class="badge badge-theme mb-0">2 Panding</label></strong>
				</h5>
				<div class="float-right">
					<a href="javascript:;" class="text-dg p-xs"><i class="fa fa-cog"></i></a>
					<a href="javascript:;" class="text-dg p-xs" data-toggle="collapse" data-target="#in-progress"><i class="fa fa-angle-down"></i></a>
				</div>
			</div>
			<hr class="m-0">
			<div class="card-body collapse show" id="in-progress">
				<ul class="list-unstyled height-30 connected list-group-sortable-connected">
					<li class="mb-lg p-lg bg-lg todo-content-border-left success-border-color ">
						<p class="m-0"><small class="float-right"><i class="fa fa-clock-o" aria-hidden="true"></i> 2:02 pm</small></p>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						<span class="badge badge-warning">Pending</span>
						<img class="avatar avatar-sm rounded-circle float-right mx-xs" src="assets/images/portrait/avatar1.png" alt="RTDL Image">
						<img class="avatar avatar-sm rounded-circle float-right mx-xs" src="assets/images/portrait/avatar2.png" alt="RTDL Image">
					</li>
					<li class="mb-lg p-lg bg-lg todo-content-border-left primary-border-color">
						<p class="m-0"><small class="float-right"><i class="fa fa-clock-o" aria-hidden="true"></i> 8:45 am</small></p>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						<span class="badge badge-success">Description</span>
						<span class="badge badge-primary">Approved</span>
						<img class="avatar avatar-sm rounded-circle float-right mx-xs" src="assets/images/portrait/avatar3.png" alt="RTDL Image">
					</li>
					<li class="mb-lg p-lg bg-lg todo-content-border-left theme-border-color">
						<p class="m-0"><small class="float-right"><i class="fa fa-clock-o" aria-hidden="true"></i> 1:21 pm</small></p>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						<span class="badge badge-theme">Description</span>
						<span class="badge badge-danger">Rejected</span>
						<img class="avatar avatar-sm rounded-circle float-right mx-xs" src="assets/images/portrait/avatar5.png" alt="RTDL Image">
					</li>
					<li class="mb-lg p-lg bg-lg todo-content-border-left warning-border-color">
						<p class="m-0"><small class="float-right"><i class="fa fa-clock-o" aria-hidden="true"></i> 2:18 pm</small></p>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						<span class="badge badge-info">Description</span>
						<img class="avatar avatar-sm rounded-circle float-right mx-xs" src="assets/images/portrait/avatar6.png" alt="RTDL Image">
						<img class="avatar avatar-sm rounded-circle float-right mx-xs" src="assets/images/portrait/avatar4.png" alt="RTDL Image">
						<img class="avatar avatar-sm rounded-circle float-right mx-xs" src="assets/images/portrait/avatar5.png" alt="RTDL Image">
					</li>
					<li class="mb-lg p-lg bg-lg todo-content-border-left danger-border-color">
						<p class="m-0"><small class="float-right"><i class="fa fa-clock-o" aria-hidden="true"></i> 12:24 am</small></p>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						<span class="badge badge-success">Description</span>
						<span class="badge badge-primary">Pending</span>
						<img class="avatar avatar-sm rounded-circle float-right mx-xs" src="assets/images/portrait/avatar2.png" alt="RTDL Image">
					</li>
					<li class="mb-lg p-lg bg-lg todo-content-border-left info-border-color">
						<p class="m-0"><small class="float-right"><i class="fa fa-clock-o" aria-hidden="true"></i> 5:60 pm</small></p>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						<span class="badge badge-theme">Approved</span>
						<img class="avatar avatar-sm rounded-circle float-right mx-xs" src="assets/images/portrait/avatar6.png" alt="RTDL Image">
						<img class="avatar avatar-sm rounded-circle float-right mx-xs" src="assets/images/portrait/avatar1.png" alt="RTDL Image">
					</li>
				</ul>
				<button class="btn btn-theme btn-lg btn-block btn-sm mt-xlg"><i class="fa fa-refresh" aria-hidden="true"></i> Load more</button>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12 todo-sortable my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="d-inline-block m-0">Completed</h5>
				<div class="float-right">
					<a href="javascript:;" class="text-dg p-xs"><i class="fa fa-cog"></i></a>
					<a href="javascript:;" class="text-dg p-xs" data-toggle="collapse" data-target="#completed"><i class="fa fa-angle-down"></i></a>
				</div>
			</div>
			<hr class="m-0">
			<div class="card-body collapse show" id="completed">
				<ul class="list-unstyled height-30 connected list-group-sortable-connected">
					<li class="mb-lg p-lg bg-lg todo-content-border-right theme-border-color">
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						<span class="badge badge-theme">Today</span>
					</li>											
					<li class="mb-lg p-lg bg-lg todo-content-border-right theme-border-color">
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						<span class="badge badge-warning">2 days ago</span>
					</li>
					<li class="mb-lg p-lg bg-lg todo-content-border-right theme-border-color">
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						<span class="badge badge-danger">Yesterday</span>
					</li>
					<li class="mb-lg p-lg bg-lg todo-content-border-right theme-border-color">
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						<span class="badge badge-primary">5 hours ago</span>
					</li>
					<li class="mb-lg p-lg bg-lg todo-content-border-right theme-border-color">
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						<span class="badge badge-success">2 hours ago</span>
					</li>
					<li class="mb-lg p-lg bg-lg todo-content-border-right theme-border-color">
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						<span class="badge badge-info">Yesterday</span>
					</li>
				</ul>
				<button class="btn btn-theme btn-lg btn-block btn-sm mt-xlg"><i class="fa fa-refresh" aria-hidden="true"></i> Load more</button>
			</div>
		</div>
	</div>
</div>