<div class="row social-widgets">
	<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 my-sm">
		<div class="card">
			<div class="card-body bg-primary">
				<div class="text-center text-white" data-count=".num" data-from="0" data-prefix="$" data-to="2101" data-suffix=" " data-duration="2">
				<h3 class="num font-os-bold">0</h3>
				<h4 class="font-os-thin mt-xlg"><i class="fa fa-plus-circle" aria-hidden="true"></i> 10.9% from last week</h4>
				</div>
			</div>
			<div class="card-footer m-0">
				<h5 class="text-center text-mg font-os-bold">Today Sales : $5450</h5>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 my-sm">
		<div class="card">
			<div class="card-body bg-theme">
				<div class="text-center text-white" data-count=".num" data-from="0" data-prefix="$" data-to="9597" data-suffix=" " data-duration="2">
				<h3 class="num font-os-bold">0</h3>
				<h4 class="font-os-thin mt-xlg"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i> Ratios Target : 20%</h4>
				</div>
			</div>
			<div class="card-footer m-0">
				<h5 class="text-center text-mg font-os-bold">Online Sales Revenue : $6710</h5>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 my-sm">
		<div class="card">
			<div class="card-body bg-success">
				<div class="text-center text-white" data-count=".num" data-from="0" data-prefix="$" data-to="1802" data-suffix=" " data-duration="2">
				<h3 class="num font-os-bold">0</h3>
				<h4 class="font-os-thin mt-xlg"><i class="fa fa-minus-circle" aria-hidden="true"></i> 30% from last month</h4>
				</div>
			</div>
			<div class="card-footer m-0">
				<h5 class="text-center text-mg font-os-bold">Total Sales : $8795</h5>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 my-sm">
		<div class="card">
			<div class="card-body bg-warning">
				<div class="text-center text-white" data-count=".num" data-from="0" data-prefix="$" data-to="100" data-suffix=" " data-duration="2">
				<h3 class="num font-os-bold">0</h3>
				<h4 class="font-os-thin mt-xlg"><i class="fa fa-arrow-circle-down" aria-hidden="true"></i> 10% from last year</h4>
				</div>
			</div>
			<div class="card-footer m-0">
				<h5 class="text-center text-mg font-os-bold">Cost Ratios :  10:9</h5>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xl-7 col-lg-12 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-body p-0">
				<div class="row">
					<div class="col-12">
						<div id="flot-area" style="width:100%; height:220px;"></div>
					</div>
				</div>
				<div class="row social-widgets">
					<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 text-center">
						<div class="px-md pt-md social-widgets-box">
							<h5>Total Monthly Selling</h5>
							<div  data-count=".num" data-from="0" data-prefix="$" data-to="5893.00" data-suffix=" " data-duration="2">
								<h3 class="num font-os-bold">0</h3>
							</div>
						</div>
					</div>
					<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 text-center">
						<div class="px-md pt-md social-widgets-box">
							<h5>Today's Sales</h5>
							<div data-count=".num" data-from="0" data-prefix="$" data-to="2769" data-suffix=" " data-duration="2">
								<h3 class="num font-os-bold">0</h3>
							</div>
						</div>
					</div>
					<div class="col-xl-4 col-lg-4 col-md-12 text-center">
						<div class="px-xlg pt-lg">
							<span class="todaySale chart-dark-shadow"></span>
							<h5>Total Selling</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-5 col-lg-12 col-md-12 col-sm-12 col-12 social-widgets">
		<div class="row">
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 my-sm font-os-thin social-widgets-box">
				<div class="bg-white p-lg border-r-md text-center" data-prefix=" " data-count=".num" data-from="0" data-to="1823" data-suffix=" " data-duration="2">
					<span class="newUserChart chart-dark-shadow"></span>
					<h4 class="num font-os-bold my-xs">0</h4>
					<span>New Users</span>
				</div>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 my-sm font-os-thin social-widgets-box">
				<div class="bg-white p-lg border-r-md text-center" data-prefix=" " data-count=".num" data-from="0" data-to="6043" data-suffix=" " data-duration="2">
					<span class="orderChart chart-dark-shadow"></span>
					<h4 class="num font-os-bold my-xs">0</h4>
					<span>Orders In This Week</span>
				</div>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 my-sm font-os-thin social-widgets-box">
				<div class="bg-white p-lg border-r-md text-center" data-prefix=" " data-count=".num" data-from="0" data-prefix="$" data-to="3178" data-suffix=" " data-duration="2">
					<span class="profitChart chart-dark-shadow"></span>
					<h4 class="num font-os-bold my-xs">0</h4>
					<span>Profit</span>
				</div>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 my-sm font-os-thin social-widgets-box">
				<div class="bg-white p-lg border-r-md text-center" data-prefix=" " data-count=".num" data-from="0" data-prefix="$" data-to="4769" data-suffix=" " data-duration="2">
					<span class="salesChart chart-dark-shadow"></span>
					<h4 class="num font-os-bold my-xs">0</h4>
					<span>Sale</span>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 my-sm">
		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<div class="card-body">
						<div id="sale-chart" class="mb-md" style="height: 200px; width: 100%;"></div>
						<h5 class="text-center">Sales Report</h5>
						<div class="row">
							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
								<div id="salesGrowthChart" class="p-0" style="height:180px;"></div>
								<h5 class="text-center"><b>Last 3 Year Growth</b></h5>
							</div>
							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 mt-lg">
								<div class="my-xs progress-rounded">
									<ngb-progressbar type="success" [value]="82" height="5px"></ngb-progressbar>
								</div>
								<div>
									<p class="d-inline-block">This Year Selling</p>
									<p class="float-right">82%</p>
								</div>
								<div class="my-xs progress-rounded">
									<ngb-progressbar type="info" [value]="90" height="5px"></ngb-progressbar>
								</div>
								<div>
									<p class="d-inline-block">Monthly Selling</p>
									<p class="float-right">90%</p>
								</div>
								<div class="my-xs progress-rounded">
									<ngb-progressbar type="theme" [value]="70" height="5px"></ngb-progressbar>
								</div>
								<div>
									<p class="d-inline-block">Weekly Selling</p>
									<p class="float-right">70%</p>
								</div>
								<div class="my-xs progress-rounded">
									<ngb-progressbar type="warning" [value]="65" height="5px"></ngb-progressbar>
								</div>
								<div>
									<p class="d-inline-block">Today Active Users</p>
									<p class="float-right">65%</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="d-inline-block m-0">Monthly Sales Performance</h5>
				<div class="float-right">
					<a href="javascript:;" class="text-dg p-xs"><i class="fa fa-cog"></i></a>
					<a href="javascript:;" class="text-dg p-xs" data-toggle="collapse" data-target="#sales-chart"><i class="fa fa-angle-down"></i></a>
					<a href="javascript:;" class="text-dg p-xs remove-card"><i class="fa fa-trash-o"></i></a>
				</div>
			</div>
			<div class="card-body collapse show sales-performance" id="sales-chart">
				<div id="sales-performance" style="min-height:275px;"></div>
				<h5 class="text-center mb-0">October 2017</h5>
				<div class="row mt-xlg">
					<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-6 text-center">
						<input type="text" value="40" class="sales-performance-knob" data-fgColor="#ED174C" data-width="80" data-height="80" data-thickness=.2 data-readOnly=true>
						<h5>Leads</h5>
					</div>
					<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-6 text-center">
						<input type="text" value="20" class="sales-performance-knob" data-fgColor="#ED174C" data-width="80" data-height="80" data-thickness=.2 data-readOnly=true>
						<h5>Trials</h5>
					</div>
					<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-6 d-none d-sm-block text-center">
						<input type="text" value="60" class="sales-performance-knob" data-fgColor="#ED174C" data-width="80" data-height="80" data-thickness=.2 data-readOnly=true>
						<h5>Wins</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row social-widgets">
	<div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="py-sm"></div>
			<div class="card-body">
				<div class="float-left ml-md mb-md border-r-xlg bg-info">
					<i class="fa fa-mars-double fa-3x text-white p-lg" aria-hidden="true"></i>
				</div>
				<div class="text-center" data-count=".num" data-from="0" data-prefix="$" data-to="1861" data-suffix=" " data-duration="2">
					<h4 class="font-os-thin m-0">Sales Distributes</h4>
					<h3 class="num font-os-bold mt-0">0</h3>
				</div>
				<div class="mt-xlg">
					<canvas id="sales-by-distribute-chart" height="150"></canvas>
				</div>
				<div class="no-bg mt-md mb-0 progress-rounded">
					<ngb-progressbar type="info" [value]="100" height="2px"></ngb-progressbar>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="py-sm"></div>
			<div class="card-body">
				<div class="float-left ml-md mb-md border-r-xlg bg-theme">
					<i class="fa fa-line-chart fa-3x text-white p-lg" aria-hidden="true"></i>
				</div>
				<div class="text-center" data-count=".num" data-from="0" data-prefix="$" data-to="1009" data-suffix=" " data-duration="2">
					<h4 class="font-os-thin m-0">Gross Sales</h4>
					<h3 class="num font-os-bold mt-0">0</h3>
				</div>
				<div class="mt-xlg">
					<canvas id="sales-bar" height="150"></canvas>
				</div>
				<div class="no-bg mt-md mb-0 progress-rounded">
					<ngb-progressbar type="theme" [value]="100" height="2px"></ngb-progressbar>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="py-sm"></div>
			<div class="card-body">
				<div class="float-left ml-md mb-md border-r-xlg bg-success">
					<i class="fa fa-tags fa-3x text-white p-lg" aria-hidden="true"></i>
				</div>
				<div class="text-center" data-count=".num" data-from="0" data-prefix="$" data-to="2101" data-suffix=" " data-duration="2">
					<h4 class="font-os-thin m-0">Last Month ROI</h4>
					<h3 class="num font-os-bold mt-0">0</h3>
				</div>
				<div class="mt-xlg">
					<canvas id="sales-by-country-chart" height="150"></canvas>
				</div>
				<div class="no-bg mt-md mb-0 progress-rounded">
					<ngb-progressbar type="success" [value]="100" height="2px"></ngb-progressbar>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="py-sm"></div>
			<div class="card-body">
				<div class="float-left ml-md mb-md border-r-xlg bg-warning">
					<i class="fa fa-shopping-bag fa-3x text-white p-lg" aria-hidden="true"></i>
				</div>
				<div class="text-center" data-count=".num" data-from="0" data-prefix="$" data-to="1289" data-suffix=" " data-duration="2">
					<h4 class="font-os-thin m-0">Sales Products</h4>
					<h3 class="num font-os-bold mt-0">0</h3>
				</div>
				<div class="mt-xlg">
					<canvas id="sales-by-donutetext-chart" height="150"></canvas>
				</div>
				<div class="no-bg mt-md mb-0 progress-rounded">
					<ngb-progressbar type="info" [value]="100" height="2px"></ngb-progressbar>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="d-inline-block m-0">Todo list</h5>
				<div class="float-right">
					<a href="javascript:;" class="text-dg p-xs"><i class="fa fa-cog"></i></a>
					<a href="javascript:;" class="text-dg p-xs" data-toggle="collapse" data-target=".todo-lists"><i class="fa fa-angle-down"></i></a>
					<a href="javascript:;" class="text-dg p-xs remove-card"><i class="fa fa-trash-o"></i></a>
				</div>
			</div>
			<div class="card-body collapse show todo-lists p-0">
				<ul id="square" class="list-unstyled px-0">
					<li>
						<input type="checkbox" id="square-checkbox-1">&nbsp;&nbsp;
						<label for="square-checkbox-1">Create tasks lists</label>
					</li>
					<li>
						<input type="checkbox" id="square-checkbox-2">&nbsp;&nbsp;
						<label for="square-checkbox-2">Go to shop and find some products.</label>
					</li>
					<li>
						<input type="checkbox" id="square-checkbox-3">&nbsp;&nbsp;
						<label for="square-checkbox-3">Send documents to jake</label>&nbsp;&nbsp;
						<small class="badge badge-primary"><i class="fa fa-clock-o"></i> 1 mins</small>
					</li>
					<li>
						<input type="checkbox" id="square-checkbox-4">&nbsp;&nbsp;
						<label for="square-checkbox-4">Go to the doctor dr Tom</label>
					</li>
					<li>
						<input type="checkbox" id="square-checkbox-5">&nbsp;&nbsp;
						<label for="square-checkbox-5">Plan vacation</label>
					</li>
					<li>
						<input type="checkbox" id="square-checkbox-6">&nbsp;&nbsp;
						<label for="square-checkbox-6">Create new stuff</label>
					</li>
					<li>
						<input type="checkbox" id="square-checkbox-7">&nbsp;&nbsp;
						<label for="square-checkbox-7">Call to Dark for dinner</label>&nbsp;&nbsp;
						<small class="badge badge-success"><i class="fa fa-clock-o"></i> 30 mins</small>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="d-inline-block m-0">Your daily Feed <label class="badge badge-theme m-0">5 Messages</label></h5>
				<div class="float-right">
					<a href="javascript:;" class="text-dg p-xs"><i class="fa fa-cog"></i></a>
					<a href="javascript:;" class="text-dg p-xs" data-toggle="collapse" data-target="#daily-Feed"><i class="fa fa-angle-down"></i></a>
					<a href="javascript:;" class="text-dg p-xs remove-card"><i class="fa fa-trash-o"></i></a>
				</div>
			</div>
			<div class="card-body collapse show" id="daily-Feed">
				<div class="media">
					<img class="mr-3 avatar avatar-md rounded-circle" src="assets/images/portrait/avatar6.png" alt="RTDL Image">
					<div class="media-body">
						<p class="m-0"><strong>John Smith</strong> shared an image.</p>
						<small>Today 6:00 pm &nbsp;&nbsp;
							<span class="bar">2,5,3,6,2,1</span>
						</small>
					</div>
				</div>
				<div class="media my-md">
					<img class="mr-3 avatar avatar-md rounded-circle" src="assets/images/portrait/avatar1.png" alt="RTDL Image">
					<div class="media-body">
						<p class="m-0"><strong>Addison</strong> relocated from <strong>London</strong> to <strong>Los Angeles</strong></p>
						<small>Today 5:50 pm</small>
					</div>
				</div>
				<div class="media my-md">
					<img class="mr-3 avatar avatar-md rounded-circle" src="assets/images/portrait/avatar3.png" alt="RTDL Image">
					<div class="media-body">
						<p class="m-0"><strong>John Smith</strong> invited you for his business meeting.</p>
						<small>Today 5:45 pm</small>&nbsp;&nbsp;
					</div>
				</div>
				<div class="media my-md">
					<img class="mr-3 avatar avatar-md rounded-circle" src="assets/images/portrait/avatar6.png" alt="RTDL Image">
					<div class="media-body">
						<p class="m-0"><strong>Addison</strong> thanks to many motivating.</p>
						<small>Today 10:00 am &nbsp;&nbsp;<span class="pie">3/5</span></small>
						<button class="btn btn-outline-secondary btn-sm float-right"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&nbsp;Like</button>
					</div>
				</div>
				<div class="media my-md">
					<img class="mr-3 avatar avatar-md rounded-circle" src="assets/images/portrait/avatar4.png" alt="RTDL Image">
					<div class="media-body">
						<p class="m-0"><strong>Jhon Smith</strong> said : <strong>I am out from the office.</strong></p>
						<small>Today 10:30 am &nbsp;&nbsp;<span class="donut">5,3</span></small>
						<button class="btn btn-outline-secondary btn-sm float-right mb-xs"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&nbsp;Like</button>
					</div>
				</div>
				<div class="media my-md">
					<img class="mr-3 avatar avatar-md rounded-circle" src="assets/images/portrait/avatar5.png" alt="RTDL Image">
					<div class="media-body">
						<p class="m-0"><strong>Addison</strong> shared a video.</p>
						<small>Today 11:45 am</small>
						<button class="btn btn-outline-secondary btn-sm float-right"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&nbsp;Like</button>
					</div>
				</div>
				<button class="btn btn-theme btn-lg btn-block btn-sm"><i class="fa fa-refresh" aria-hidden="true"></i> Show more</button>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="d-inline-block m-0">Timeline</h5>
				<div class="float-right">
					<a href="javascript:;" class="text-dg p-xs"><i class="fa fa-cog"></i></a>
					<a href="javascript:;" class="text-dg p-xs" data-toggle="collapse" data-target="#horizontal-timeline"><i class="fa fa-angle-down"></i></a>
					<a href="javascript:;" class="text-dg p-xs remove-card"><i class="fa fa-trash-o"></i></a>
				</div>
			</div>
			<div class="card-body collapse show" id="horizontal-timeline">
				<section class="cd-horizontal-timeline m-0">
					<div class="timeline">
						<div class="events-wrapper">
							<div class="events">
								<ol class="list-unstyled">
									<li><a href="#0" data-date="16/01/2016" class="selected">16 Jan</a></li>
									<li><a href="#0" data-date="28/02/2016">28 Feb</a></li>
									<li><a href="#0" data-date="20/03/2016">20 Mar</a></li>
									<li><a href="#0" data-date="20/05/2016">20 May</a></li>
									<li><a href="#0" data-date="09/07/2016">09 Jul</a></li>
									<li><a href="#0" data-date="30/08/2016">30 Aug</a></li>
									<li><a href="#0" data-date="15/09/2016">15 Sep</a></li>
									<li><a href="#0" data-date="01/11/2016">01 Nov</a></li>
									<li><a href="#0" data-date="10/12/2016">10 Dec</a></li>
									<li><a href="#0" data-date="19/01/2017">19 Jan</a></li>
									<li><a href="#0" data-date="03/03/2017">3 Mar</a></li>
								</ol>

								<span class="filling-line" aria-hidden="true"></span>
							</div>
						</div>
							
						<ul class="cd-timeline-navigation list-unstyled">
							<li><a href="#0" class="prev inactive text-dg"><i class="fa fa-angle-left fa-2x" aria-hidden="true"></i></a></li>
							<li><a href="#0" class="next text-dg"><i class="fa fa-angle-right fa-2x" aria-hidden="true"></i></a></li>
						</ul>
					</div> 
					<div class="events-content">
						<ol class="list-unstyled">
							<li class="selected" data-date="16/01/2016">
								<h3>Timeline title here</h3>
								<small><em>January 16th, 2016</em></small>
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.
								</p>
							</li>

							<li data-date="28/02/2016">
								<h3>Event title here</h3>
								<small><em>February 28th, 2016</em></small>
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.
								</p>
							</li>

							<li data-date="20/03/2016">
								<h3>Timeline title here</h3>
								<small><em>March 20th, 2016</em></small>
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.
								</p>
							</li>

							<li data-date="20/05/2016">
								<h3>Event title here</h3>
								<small><em>May 20th, 2016</em></small>
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.
								</p>
							</li>

							<li data-date="09/07/2016">
								<h3>Timeline title here</h3>
								<small><em>July 9th, 2016</em></small>
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.
								</p>
							</li>

							<li data-date="30/08/2016">
								<h3>Event title here</h3>
								<small><em>August 30th, 2016</em></small>
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.
								</p>
							</li>

							<li data-date="15/09/2016">
								<h3>Timeline title here</h3>
								<small><em>September 15th, 2016</em></small>
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.
								</p>
							</li>

							<li data-date="01/11/2016">
								<h3>Event title here</h3>
								<small><em>November 1st, 2016</em></small>
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.
								</p>
							</li>

							<li data-date="10/12/2016">
								<h3>Timeline title here</h3>
								<small><em>December 10th, 2016</em></small>
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.
								</p>
							</li>

							<li data-date="19/01/2017">
								<h3>Event title here</h3>
								<small><em>January 19th, 2017</em></small>
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.
								</p>
							</li>

							<li data-date="03/03/2017">
								<h3>Timeline title here</h3>
								<small><em>March 3rd, 2017</em></small>
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.
								</p>
							</li>
						</ol>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>