<div class="row">
	<div class="col-lg-12 mt-lg mb-sm">
		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col-xl-8 col-lg-6 col-md-12 col-sm-12 col-12">
						<h5 class="text-center">This Month Project Report</h5>
						<div id="project-report" class="col-12 p-0 height-200"></div>
					</div>
					<div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
						<h5 class="text-center">Today's Agenda</h5>
						<div class="table-responsive border-0">
							<table class="table mt-sm">
								<tr>
									<td class="p-2">Metting With Jone Smith </td>
									<td class="p-2">
										<small>
											<i class="fa fa-clock-o float-right"> 11:05 am</i>
										</small>
									</td>
								</tr>
								<tr>
									<td class="p-2">Live Conference <label class="badge badge-success mb-0">New</label></td>
									<td class="p-2">
										<small>
											<i class="fa fa-clock-o float-right"> 02:40 pm</i>
										</small>
									</td>
								</tr>
								<tr>
									<td class="p-2">Server Updation</td>
									<td class="p-2">
										<small>
											<i class="fa fa-clock-o float-right"> 03:30 pm</i>
										</small>
									</td>
								</tr>
								<tr>
									<td class="p-2">Site Testing <label class="badge badge-warning mb-0">Waiting</label></td>
									<td class="p-2">
										<label class="badge badge-theme float-right mb-0">Now</label>
									</td>
								</tr>
								<tr>
									<td class="p-2">Send project documents to Smith </td>
									<td class="p-2">
										<small>
											<i class="fa fa-clock-o float-right"> 08:10 pm</i>
										</small>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xl-3 col-lg-12 col-md-12 col-sm-12 col-12">
		<div class="row social-widgets">
			<div class="col-xl-12 col-lg-4 col-md-12 col-sm-12 col-12 my-sm font-os-thin social-widgets-box">
				<div class="bg-white p-lg" data-count=".num" data-from="0" data-to="83" data-suffix="" data-prefix="" data-duration="2">
					<div class="float-right">
						<span class="totalOpenIssues chart-dark-shadow"></span>
					</div>
					<h4 class="num font-os-bold">0</h4>
					<span>Open Issues</span>
				</div>
			</div>
			<div class="col-xl-12 col-lg-4 col-md-12 col-sm-12 col-12 my-sm font-os-thin social-widgets-box">
				<div class="bg-white p-lg" data-count=".num" data-from="0" data-to="1436" data-suffix="" data-prefix="" data-duration="2">
					<div class="float-right">
						<span class="lastMonthCommits chart-dark-shadow"></span>
					</div>
					<h4 class="num font-os-bold">0</h4>
					<span>Commits</span>
				</div>
			</div>
			<div class="col-xl-12 col-lg-4 col-md-12 col-sm-12 col-12 my-sm font-os-thin social-widgets-box">
				<div class="bg-white p-lg" data-count=".num" data-from="0" data-to="2183" data-suffix="" data-prefix="" data-duration="2">
					<div class="float-right">
						<span class="contributes chart-dark-shadow"></span>
					</div>
					<h4 class="num font-os-bold">0</h4>
					<span>Contributes</span>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-9 col-lg-12 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="d-inline-block m-0">Last Two Year Revenue Report</h5>
				<div class="float-right">
					<a href="javascript:;" class="text-dg p-xs"><i class="fa fa-cog"></i></a>
					<a href="javascript:;" class="text-dg p-xs" data-toggle="collapse" data-target="#revenue-report"><i class="fa fa-angle-down"></i></a>
					<a href="javascript:;" class="text-dg p-xs remove-card"><i class="fa fa-trash-o"></i></a>
				</div>
			</div>
			<div class="card-body collapse show p-0" id="revenue-report">
				<div id="project-area" style="width:100%; height:220px;"></div>
				<div class="row social-widgets">
					<div class="col-lg-3 col-md-6 col-sm-6 col-12 text-center">
						<div class="p-md social-widgets-box">
							<h5>Total Billed - 2017</h5>
							<div  data-count=".num" data-from="0" data-prefix="$" data-to="5893.00" data-suffix="" data-duration="2">
								<h2 class="num font-os-bold">0</h2>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 col-12 text-center">
						<div class="p-md social-widgets-box">
							<h5>Gross Revenue - 2017</h5>
							<div  data-count=".num" data-from="0" data-prefix="$" data-to="7249.00" data-suffix="" data-duration="2">
								<h2 class="num font-os-bold">0</h2>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 col-12 text-center">
						<div class="p-md social-widgets-box">
							<h5>Total Un-Billed - 2017</h5>
							<div  data-count=".num" data-from="0" data-prefix="$" data-to="2171.00" data-suffix="" data-duration="2">
								<h2 class="num font-os-bold">0</h2>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 col-12 text-center">
						<div class="p-md social-widgets-box">
							<h5>Total Expanse - 2017</h5>
							<div  data-count=".num" data-from="0" data-prefix="$" data-to="9844.00" data-suffix="" data-duration="2">
								<h2 class="num font-os-bold">0</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xl-9 col-lg-12 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header py-0 pr-0">
				<ul class="nav nav-tabs card-header-tabs mr-0 float-right" id="myTab" role="tablist">
					<li class="nav-item">
						<a class="nav-link active border-bottom-0 rounded-0 pb-sm pt-xs" data-toggle="tab" href="#issues" role="tab">Issues</a>
					</li>
					<li class="nav-item">
						<a class="nav-link border-bottom-0 rounded-0  pb-sm pt-xs" data-toggle="tab" href="#task" role="tab">Tasks</a>
					</li>
				</ul>
				<h5 class="float-left my-sm">Project Issues / Tasks</h5>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-lg-12">
						<!-- Tab panes -->
						<div class="tab-content">
							<div class="tab-pane active" id="issues" role="tabpanel">
								<div class="table-responsive">
									<table class="table">
										<thead>
											<tr>
												<th>#</th>
												<th>Short Descreption</th>
												<th>Assignee</th>
												<th>Tracker</th>
												<th>Status</th>
												<th>Priority</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>10</td>
												<td>
													<h5 class="m-0"><a routerLink="/projet-management/issue-detail" class="text-mg">Site Testing</a></h5>
													<small>Lorem Ipsum is simply dummy text.</small>
												</td>
												<td>John Smith</td>
												<td class="text-danger">Bug</td>
												<td class="text-success">New</td>
												<td class="text-warning">Immediate</td>
											</tr>
											<tr>
												<td>45</td>
												<td>
													<h5 class="m-0"><a routerLink="/projet-management/issue-detail" class="text-mg">Project analysis</a></h5>
													<small>Lorem Ipsum is simply dummy text.</small>
												</td>
												<td>Addison</td>
												<td>Feature</td>
												<td class="text-warning">Rejected</td>
												<td>Urgent</td>
											</tr>
											<tr>
												<td>21</td>
												<td>
													<h5 class="m-0"><a routerLink="/projet-management/issue-detail" class="text-mg">Typography demo</a></h5>
													<small>Lorem Ipsum is simply dummy text.</small>
												</td>
												<td>Smith John</td>
												<td class="text-success">Support</td>
												<td>Feedback</td>
												<td class="text-danger">Low</td>
											</tr>
											<tr>
												<td>25</td>
												<td>
													<h5 class="m-0"><a routerLink="/projet-management/issue-detail" class="text-mg">Creating website template</a></h5>
													<small>Lorem Ipsum is simply dummy text.</small>
												</td>
												<td>Addison</td>
												<td class="text-danger">Bug</td>
												<td class="text-warning">Rejected</td>
												<td class="text-success">Normal</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="tab-pane" id="task" role="tabpanel">
								<div class="table-responsive">
									<table class="table">
										<thead>
											<tr>
												<th>#</th>
												<th>Short Descreption</th>
												<th>Assign</th>
												<th><span class="float-right">Status</span></th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>06</td>
												<td>
													<h5 class="m-0"><a href="javascript:;" class="text-mg">Theme Layout</a></h5>
													<small>Lorem Ipsum is simply dummy text for printing.</small>
												</td>
												<td>Dennise</td>
												<td><small><i class="fa fa-clock-o float-right"> 10:20 am</i></small></td>
											</tr>
											<tr>
												<td>14</td>
												<td>
													<h5 class="m-0"><a href="javascript:;" class="text-mg">Site Testing</a></h5>
													<small>Lorem Ipsum is simply dummy text for printing.</small>
												</td>
												<td>Junie</td>
												<td><small><i class="fa fa-clock-o float-right"> 12:15 pm</i></small></td>
											</tr>
											<tr>
												<td>16</td>
												<td>
													<h5 class="m-0"><a href="javascript:;" class="text-mg">Database Issue</a></h5>
													<small>Lorem Ipsum is simply dummy text for printing.</small>
												</td>
												<td>Smith John</td>
												<td><small><i class="fa fa-clock-o float-right"> 02:50 pm</i></small></td>
											</tr>
											<tr>
												<td>24</td>
												<td>
													<h5 class="m-0"><a href="javascript:;" class="text-mg">Project analysis</a></h5>
													<small>Lorem Ipsum is simply dummy text for printing.</small>
												</td>
												<td>Adamaris</td>
												<td><small><i class="fa fa-clock-o float-right"> 05:40 pm</i></small></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-lg-12 col-md-12 col-sm-12 p-0 mb-sm social-widgets">
		<div class="row mx-0">
			<div class="col-xl-12 col-lg-6 col-md-6 col-sm-6 col-12">
				<div class="widgets-counter font-os-thin text-mg mt-sm bg-white d-inline-block" data-count=".num" data-from="0" data-to="3271" data-duration="2" data-prefix="" data-suffix="">
					<div class="col-lg-12 col-md-12 col-sm-12 col-12 p-0">
						<h3 class="num m-0 d-inline-block">0</h3>
						<div class="float-right m-t-xs">
							<i class="fa fa-clone fa-2x float-right" aria-hidden="true"></i>
						</div>
						<span class="font-12">Total Projects</span>
					</div>
				</div>
			</div>
			<div class="col-xl-12 col-lg-6 col-md-6 col-sm-6 col-12">
				<div class="widgets-counter font-os-thin text-mg mt-sm bg-white d-inline-block" data-count=".num" data-from="0" data-to="419" data-duration="2" data-prefix="" data-suffix="">
					<div class="col-lg-12 col-md-12 col-sm-12 col-12 p-0">
						<h3 class="num m-0 d-inline-block">0</h3>
						<div class="float-right m-t-xs">
							<i class="fa fa-users fa-2x float-right" aria-hidden="true"></i>
						</div>
						<span class="font-12">Team Members</span>
					</div>
				</div>
			</div>
			<div class="col-xl-12 col-lg-6 col-md-6 col-sm-6 col-12">
				<div class="widgets-counter font-os-thin text-mg mt-sm bg-white d-inline-block" data-count=".num" data-from="0" data-to="632" data-duration="2" data-prefix="" data-suffix="">
					<div class="col-lg-12 col-md-12 col-sm-12 col-12 p-0">
						<h3 class="num m-0 d-inline-block">0</h3>
						<div class="float-right m-t-xs">
							<i class="fa fa-bug fa-2x float-right" aria-hidden="true"></i>
						</div>
						<span class="font-12">Pending Issues</span>
					</div>
				</div>
			</div>
			<div class="col-xl-12 col-lg-6 col-md-6 col-sm-6 col-12">
				<div class="widgets-counter font-os-thin text-mg mt-sm bg-white d-inline-block" data-count=".num" data-from="0" data-to="183" data-duration="2" data-prefix="" data-suffix="">
					<div class="col-lg-12 col-md-12 col-sm-12 col-12 p-0">
						<h3 class="num m-0 d-inline-block">0</h3>
						<div class="float-right m-t-xs">
							<i class="fa fa-tasks fa-2x float-right" aria-hidden="true"></i>
						</div>
						<span class="font-12">Pending Tasks</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="d-inline-block m-0">On Going Projects</h5>
				<div class="float-right">
					<a href="javascript:;" class="text-dg p-xs"><i class="fa fa-cog"></i></a>
					<a href="javascript:;" class="text-dg p-xs" data-toggle="collapse" data-target="#on-going-project"><i class="fa fa-angle-down"></i></a>
					<a href="javascript:;" class="text-dg p-xs remove-card"><i class="fa fa-trash-o"></i></a>
				</div>
			</div>
			<div class="card-body collapse show" id="on-going-project">
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th >Project Title</th>
								<th >Project Comments</th>
								<th >Team Members</th>
								<th class="text-center">Project Progress</th>
								<th ><span class="float-right">Status</span></th>
							</tr> 
						</thead>
						<tbody>
							<tr>
								<td>
									<a routerLink="/projet-management/project-detail" class="text-mg"><h5 class="m-0">Dashboard</h5></a>
									<small class="text-dg">Last updated on Sep 27th, 2017</small>
								</td>
								<td><small class="text-dg">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small></td>
								<td>
									<a href="javascript:;"><img alt="RTDL Image" class="avatar avatar-sm rounded-circle mb-xs" src="assets/images/portrait/avatar1.png"></a>
									<a href="javascript:;"><img alt="RTDL Image" class="avatar avatar-sm rounded-circle mb-xs" src="assets/images/portrait/avatar2.png"></a>
									<a href="javascript:;"><img alt="RTDL Image" class="avatar avatar-sm rounded-circle mb-xs" src="assets/images/portrait/avatar3.png"></a>
								</td>
								<td class="text-center">
									<span class="project-progress">87/100</span>
									<small class="align-top">87%</small>
								</td>
								<td>
									<span class="badge badge-primary float-right">Active</span>
								</td>
							</tr>
							<tr>
								<td>
									<a routerLink="/projet-management/project-detail" class="text-mg"><h5 class="m-0">Travel System</h5></a>
									<small class="text-dg">Last updated on Oct 10th, 2016</small>
								</td>
								<td><small class="text-dg">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small></td>
								<td>
									<a href="javascript:;"><img alt="RTDL Image" class="avatar avatar-sm rounded-circle mb-xs" src="assets/images/portrait/avatar4.png"></a>
									<a href="javascript:;"><img alt="RTDL Image" class="avatar avatar-sm rounded-circle mb-xs" src="assets/images/portrait/avatar5.png"></a>
								</td>
								<td class="text-center">
									<span class="project-progress">65/100</span>
									<small class="align-top">65%</small>
								</td>
								<td>
									<span class="badge badge-primary float-right">Active</span>
								</td>
							</tr>
							<tr>
								<td>
									<a routerLink="/projet-management/project-detail" class="text-mg"><h5 class="m-0">Game Zone</h5></a>
									<small class="text-dg">Last updated on July 04th, 2017</small>
								</td>
								<td><small class="text-dg">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small></td>
								<td>
									<a href="javascript:;"><img alt="RTDL Image" class="avatar avatar-sm rounded-circle mb-xs" src="assets/images/portrait/avatar1.png"></a>
									<a href="javascript:;"><img alt="RTDL Image" class="avatar avatar-sm rounded-circle mb-xs" src="assets/images/portrait/avatar2.png"></a>
									<a href="javascript:;"><img alt="RTDL Image" class="avatar avatar-sm rounded-circle mb-xs" src="assets/images/portrait/avatar3.png"></a>
								</td>
								<td class="text-center">
									<span class="project-progress">45/100</span>
									<small class="align-top">45%</small>
								</td>
								<td>
									<span class="badge badge-primary float-right">Active</span>
								</td>
							</tr>
							<tr>
								<td>
									<a routerLink="/projet-management/project-detail" class="text-mg"><h5 class="m-0">DJ Online</h5></a>
									<small class="text-dg">Last updated on July 06th, 2017</small>
								</td>
								<td><small class="text-dg">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small></td>
								<td>
									<a href="javascript:;"><img alt="RTDL Image" class="avatar avatar-sm rounded-circle mb-xs" src="assets/images/portrait/avatar5.png"></a>
									<a href="javascript:;"><img alt="RTDL Image" class="avatar avatar-sm rounded-circle mb-xs" src="assets/images/portrait/avatar6.png"></a>
									<a href="javascript:;"><img alt="RTDL Image" class="avatar avatar-sm rounded-circle mb-xs" src="assets/images/portrait/avatar7.png"></a>
								</td>
								<td class="text-center">
									<span class="project-progress">100/100</span>
									<small class="align-top">100%</small>
								</td>
								<td>
									<span class="badge badge-success float-right">Completed</span>
								</td>
							</tr>
							<tr>
								<td>
									<a routerLink="/projet-management/project-detail" class="text-mg"><h5 class="m-0">E-Shop Portal</h5></a>
									<small class="text-dg">Last updated on Sep 11th, 2017</small>
								</td>
								<td><small class="text-dg">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small></td>
								<td>
									<a href="javascript:;"><img alt="RTDL Image" class="avatar avatar-sm rounded-circle mb-xs" src="assets/images/portrait/avatar1.png"></a>
									<a href="javascript:;"><img alt="RTDL Image" class="avatar avatar-sm rounded-circle mb-xs" src="assets/images/portrait/avatar2.png"></a>
									<a href="javascript:;"><img alt="RTDL Image" class="avatar avatar-sm rounded-circle mb-xs" src="assets/images/portrait/avatar3.png"></a>
								</td>
								<td class="text-center">
									<span class="project-progress">70/100</span>
									<small class="align-top">70%</small>
								</td>
								<td>
									<span class="badge badge-primary float-right">Active</span>
								</td>
							</tr>
							<tr>
								<td>
									<a routerLink="/projet-management/project-detail" class="text-mg"><h5 class="m-0">Fee Management System</h5></a>
									<small class="text-dg">Last updated on Sep 12th, 2017</small>
								</td>
								<td><small class="text-dg">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small></td>
								<td>
									<a href="javascript:;"><img alt="RTDL Image" class="avatar avatar-sm rounded-circle mb-xs" src="assets/images/portrait/avatar4.png"></a>
									<a href="javascript:;"><img alt="RTDL Image" class="avatar avatar-sm rounded-circle mb-xs" src="assets/images/portrait/avatar5.png"></a>
								</td>
								<td class="text-center">
									<span class="project-progress">62/100</span>
									<small class="align-top">62%</small>
								</td>
								<td>
									<span class="badge badge-warning float-right">Inactive</span>
								</td>
							</tr>
							<tr>
								<td>
									<a routerLink="/projet-management/project-detail" class="text-mg"><h5 class="m-0">Library Management System</h5></a>
									<small class="text-dg">Last updated on Oct 12th, 2017</small>
								</td>
								<td><small class="text-dg">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small></td>
								<td>
									<a href="javascript:;"><img alt="RTDL Image" class="avatar avatar-sm rounded-circle mb-xs" src="assets/images/portrait/avatar6.png"></a>
									<a href="javascript:;"><img alt="RTDL Image" class="avatar avatar-sm rounded-circle mb-xs" src="assets/images/portrait/avatar7.png"></a>
									<a href="javascript:;"><img alt="RTDL Image" class="avatar avatar-sm rounded-circle mb-xs" src="assets/images/portrait/avatar1.png"></a>
								</td>
								<td class="text-center">
									<span class="project-progress">80/100</span>
									<small class="align-top">80%</small>
								</td>
								<td>
									<span class="badge badge-primary float-right">Active</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>