<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">E-Commerce</a></li>
							<li class="breadcrumb-item active text-dg">Shopping Cart</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Shopping Cart</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Cart Content -->
<div class="row">
	<div class="col-lg-8">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-12 my-sm">
				<div class="card">
					<div class="card-header">
						<h5 class="d-inline-block m-0"><i class="fa fa-shopping-bag"></i>&nbsp;&nbsp;Item Detail</h5>
						<span class="float-right text-dg d-inline-block">(<b>3</b>) items</span>
					</div>
					<div class="card-body py-0">
						<div class="row">
							<div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12 mt-md media-block">
								<div class="media">
									<a class="float-left" href="javascript:;">
										<img class="bordered avatar avatar-xl mr-3 mb-sm" src="assets/images/product-grid/product.jpg" alt="RTDL Image">
									</a>
									<div class="media-body">
										<h5>
											<a href="javascript:;" class="text-theme">Product Name</a>
										</h5>
										<p class="text-mg">
											<small>
												This is product description for product features. This is product description for product features. This is product description for product features. This is product description for product features. This is product description for product features. 
											</small>
										</p>
										<span><b>Description</b></span>
										<p class="text-mg">
											<small>
												This is product description for product features.
											</small>
											<br>
											<a href="javascript:;" title="" class="text-dg"><i class="fa fa-building"></i> view other sellers</a>
											&nbsp;&nbsp;|&nbsp;&nbsp;
											<a href="javascript:;" title="" class="text-dg"><i class="fa fa-trash"></i> Remove item</a>
										</p>
									</div>
								</div>
							</div>
							<div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12 mt-md">
								<div class="row">
									<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-5">
										<h5 class="text-mg text-bold">$100<span class="pl-xs">X</span></h5>
									</div>
									<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-3">
										<input type="number" class="form-control mb-sm" min="1" value="2">
									</div>
									<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
										<h5 class="text-mb text-bold">$200</h5>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-12 my-sm">
				<div class="card">
					<div class="card-header">
						<h5 class="d-inline-block m-0"><i class="fa fa-shopping-bag"></i>&nbsp;&nbsp;Item Detail</h5>
						<span class="float-right text-dg d-inline-block">(<b>3</b>) items</span>
					</div>
					<div class="card-body py-0">
						<div class="row">
							<div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12 mt-md media-block">
								<div class="media">
									<a class="float-left" href="javascript:;">
										<img class="bordered avatar avatar-xl mr-3 mb-sm" src="assets/images/product-grid/cart.jpg" alt="RTDL Image">
									</a>
									<div class="media-body">
										<h5>
											<a href="javascript:;" class="text-theme">Product Name</a>
										</h5>
										<p class="text-mg">
											<small>
												This is product description for product features. This is product description for product features. This is product description for product features. This is product description for product features. This is product description for product features. 
											</small>
										</p>
										<span><b>Description</b></span>
										<p class="text-mg">
											<small>
												This is product description for product features.
											</small>
											<br>
											<a href="javascript:;" title="" class="text-dg"><i class="fa fa-building"></i> view other sellers</a>
											&nbsp;&nbsp;|&nbsp;&nbsp;
											<a href="javascript:;" title="" class="text-dg"><i class="fa fa-trash"></i> Remove item</a>
										</p>
									</div>
								</div>
							</div>
							<div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12 mt-md">
								<div class="row">
									<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-5">
										<h5 class="text-mg text-bold">$700<span class="pl-xs">X</span></h5>
										<span class="text-strike text-mg">$724</span>
									</div>
									<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-3">
										<input type="number" class="form-control mb-sm" min="1" value="1">
									</div>
									<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
										<h5 class="text-mb text-bold">$700</h5>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-12 my-sm">
				<div class="card">
					<div class="card-header">
						<h5 class="d-inline-block m-0"><i class="fa fa-shopping-bag"></i>&nbsp;&nbsp;Item Detail</h5>
						<span class="float-right text-dg d-inline-block">(<b>3</b>) items</span>
					</div>
					<div class="card-body py-0">
						<div class="row">
							<div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12 mt-md media-block">
								<div class="media">
									<a class="float-left" href="javascript:;">
										<img class="bordered avatar avatar-xl mr-3 mb-sm" src="assets/images/product-grid/product-edit.png" alt="RTDL Image">
									</a>
									<div class="media-body">
										<h5>
											<a href="javascript:;" class="text-theme">Product Name</a>
										</h5>
										<p class="text-mg">
											<small>
												This is product description for product features. This is product description for product features. This is product description for product features. This is product description for product features. This is product description for product features. 
											</small>
										</p>
										<span><b>Description</b></span>
										<p class="text-mg">
											<small>
												This is product description for product features.
											</small>
											<br>
											<a href="javascript:;" title="" class="text-dg"><i class="fa fa-building"></i> view other sellers</a>
											&nbsp;&nbsp;|&nbsp;&nbsp;
											<a href="javascript:;" title="" class="text-dg"><i class="fa fa-trash"></i> Remove item</a>
										</p>
									</div>
								</div>
							</div>
							<div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12 mt-md">
								<div class="row">
									<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-5">
										<h5 class="text-mg text-bold">$50<span class="pl-xs">X</span></h5>
										<span class="text-strike text-mg">$63</span>
									</div>
									<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-3">
										<input type="number" class="form-control mb-sm" min="1" value="3">
									</div>
									<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
										<h5 class="text-mb text-bold">$150</h5>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-4 col-md-12 col-sm-12 col-12">
		<div class="row">
			<div class="col-lg-12 my-sm">
				<div class="card">
					<div class="card-header">
						<h5 class="d-inline-block m-0">Cart summary</h5>
					</div>
					<div class="card-body p-0">
						<div class="border-b p-md">
							<div class="text-center">
								<h4 class="my-sm">Total</h4>
								<h2 class="text-theme mt-md mb-sm">$1050.00</h2>
							</div>
						</div>
						<div class="p-md">
							<a routerLink="/e-commerce/payments" target="_blank" class="btn btn-theme mb-xs"><i class="fa fa-shopping-cart"></i> Checkout</a>
							<button type="button" class="btn btn-outline-secondary mb-xs">Cancel</button>
							<a routerLink="/e-commerce/product-box" target="_blank" class="btn btn-outline-secondary mb-xs"><i class="fa fa-arrow-left"></i> Continue shopping</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-12 my-sm">
				<div class="card">
					<div class="card-header">
						<h5 class="d-inline-block m-0">Support</h5>
					</div>
					<div class="card-body p-0">
						<div class="border-b p-md">
							<div class="text-center">
								<h4 class="my-sm"><i class="fa fa-phone"></i>&nbsp;&nbsp;+1 (123) 456-7890</h4>
								<h4 class="my-sm"><i class="fa fa-envelope"></i>&nbsp;&nbsp;support@seller.com</h4>
							</div>
							<p class="text-center"><small>Please contact us if you have any questions. We are available 24/7.</small></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>