<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">Charts</a></li>
							<li class="breadcrumb-item active text-dg">Peity And Sparkline Charts</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-pie-chart menu-icon" aria-hidden="true"></i> Peity And Sparkline Charts</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Peity and Sparkline Charts Content -->
<div class="row">
	<div class="col-12 px-0 my-sm">
		<div class="card">
			<div class="card-body text-center">
				<div class="py-lg">
					<h4 class="font-roboto-thin my-sm">Peity (sounds like deity) is a jQuery plugin that converts an element's content into a mini &lt;svg&gt; pie, donut, line or bar chart.</h4>
					<a href="http://benpickles.github.io/peity/" target="_blank" class="btn btn-outline-theme">Get Peity Charts Doc</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xl-2 col-lg-3 col-md-6 col-sm-6 col-6 text-center my-sm">
		<div class="card">
			<div class="card-body height-150">
				<div class="pt-sm">
					<span class="pie">1/5</span>
				</div>
				<div class="pt-sm">
					<span class="pie">226/360</span>
				</div>
				<div class="pt-sm">
					<span class="pie">0.52/1.561</span>
				</div>
				<h5 class="my-sm"><b>Pie Chart</b></h5>
			</div>
		</div>
	</div>

	<div class="col-xl-2 col-lg-3 col-md-6 col-sm-6 col-6 text-center my-sm">
		<div class="card">
			<div class="card-body height-150">
				<div class="pt-sm">
					<span class="donut">1/5</span>
				</div>
				<div class="pt-sm">
					<span class="donut">226/360</span>
				</div>
				<div class="pt-sm">
					<span class="donut">0.52/1.561</span>
				</div>
				<h5 class="my-sm"><b>Donut Chart</b></h5>
			</div>
		</div>
	</div>

	<div class="col-xl-2 col-lg-3 col-md-6 col-sm-6 col-6 text-center my-sm">
		<div class="card">
			<div class="card-body height-150">
				<div class="pt-sm">
					<span class="line">5,3,9,6,5,9,7,3,5,2</span>
				</div>
				<div class="pt-sm">
					<span class="line">5,3,2,-1,-3,-2,2,3,5,2</span>
				</div>
				<div class="pt-sm">
					<span class="line">0,-3,-6,-4,-5,-4,-7,-3,-5,-2</span>
				</div>
				<h5 class="my-sm"><b>Line Chart</b></h5>
			</div>
		</div>
	</div>

	<div class="col-xl-2 col-lg-3 col-md-6 col-sm-6 col-6 text-center my-sm">
		<div class="card">
			<div class="card-body height-150">
				<div class="pt-sm">
					<span class="bar">5,3,9,6,5,9,7,3,5,2</span>
				</div>
				<div class="pt-sm">
					<span class="bar">5,3,2,-1,-3,-2,2,3,5,2</span>
				</div>
				<div class="pt-sm">
					<span class="bar">0,-3,-6,-4,-5,-4,-7,-3,-5,-2</span>
				</div>
				<h5 class="my-sm"><b>Bar Chart</b></h5>
			</div>
		</div>
	</div>

	<div class="col-xl-2 col-lg-3 col-md-6 col-sm-6 col-6 text-center my-sm">
		<div class="card">
			<div class="card-body height-150">
				<div class="pt-sm">
					<span class="bar-colours-1">5,3,9,6,5,9,7,3,5,2</span>
				</div>
				<div class="pt-sm">
					<span class="bar-colours-2">5,3,2,-1,-3,-2,2,3,5,2</span>
				</div>
				<div class="pt-sm">
					<span class="bar-colours-3">0,-3,-6,-4,-5,-4,-7,-3,-5,-2</span>
				</div>
				<h5 class="my-sm"><b>Color Chart</b></h5>
			</div>
		</div>
	</div>

	<div class="col-xl-2 col-lg-3 col-md-6 col-sm-6 col-6 text-center my-sm">
		<div class="card">
			<div class="card-body height-150">
				<div class="pt-md">
					<span class="updating-chart">3,9,6,5,9,7,3,5,2,5,3,9,6,5,9,7,3,5,2</span>
					<h5 class="my-sm"><b>Updating Chart</b></h5>
				</div>
			</div>
		</div>
	</div>

	<div class="col-xl-2 col-lg-3 col-md-6 col-sm-6 col-6 text-center my-sm">
		<div class="card">
			<div class="card-body height-150">
				<div class="pt-md">
					<span class="graph"></span>
					<select class="graphValue width-50">
						<option value="0">0</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4" selected>4</option>
						<option value="5">5</option>
					</select>
					<h5 class="my-sm"><b>Custom Chart</b></h5>
				</div>
			</div>
		</div>
	</div>

	<div class="col-xl-2 col-lg-3 col-md-6 col-sm-6 col-6 text-center my-sm">
		<div class="card">
			<div class="card-body height-150">
				<div class="data-attributes pt-md ml-md">
					<span data-peity='{ "fill": ["red", "#eeeeee"],    "innerRadius": 10, "radius": 40 }'>1/7</span>
					<span data-peity='{ "fill": ["orange", "#eeeeee"], "innerRadius": 14, "radius": 36 }'>2/7</span>
				</div>
				<h5 class="my-sm"><b>Data Chart</b></h5>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-12 px-0 my-sm">
		<div class="card">
			<div class="card-body text-center">
				<div class="py-lg">
					<h4 class="font-roboto-thin my-sm">This jQuery plugin generates sparklines (small inline charts) directly in the browser using data supplied either inline in the HTML, or via javascript.</h4>
					<a href="http://omnipotent.net/jquery.sparkline/#s-about" target="_blank" class="btn btn-outline-theme">Get Sparkline Charts Doc</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xl-2 col-lg-3 col-md-6 col-sm-6 col-6 text-center my-sm">
		<div class="card">
			<div class="card-body">
				<div class="pt-sm">
					<span class="sparkLine"></span>
				</div>
				<div class="pt-sm">
					<span class="sparkLine1"></span>
				</div>
				<div class="pt-sm">
					<span class="sparkLine2"></span>
				</div>
				<h5 class="my-sm"><b>Line Chart</b></h5>
			</div>
		</div>
	</div>

	<div class="col-xl-2 col-lg-3 col-md-6 col-sm-6 col-6 text-center my-sm">
		<div class="card">
			<div class="card-body">
				<div class="pt-sm">
					<span class="sparkDiscrete"></span>
				</div>
				<div class="pt-sm">
					<span class="sparkDiscrete1"></span>
				</div>
				<div class="pt-sm">
					<span class="sparkDiscrete2"></span>
				</div>
				<h5 class="my-sm"><b>Discrete Chart</b></h5>
			</div>
		</div>
	</div>

	<div class="col-xl-2 col-lg-3 col-md-6 col-sm-6 col-6 text-center my-sm">
		<div class="card">
			<div class="card-body">
				<div class="pt-sm">
					<span class="sparkBar"></span>
				</div>
				<div class="pt-sm">
					<span class="sparkBar1"></span>
				</div>
				<div class="pt-sm">
					<span class="sparkBar2"></span>
				</div>
				<h5 class="my-sm"><b>Bar Chart</b></h5>
			</div>
		</div>
	</div>

	<div class="col-xl-2 col-lg-3 col-md-6 col-sm-6 col-6 text-center my-sm">
		<div class="card">
			<div class="card-body">
				<div class="pt-sm">
					<span class="sparkBullet"></span>
				</div>
				<div class="pt-sm">
					<span class="sparkBullet1"></span>
				</div>
				<div class="pt-sm">
					<span class="sparkBullet2"></span>
				</div>
				<h5 class="my-sm"><b>Bullet Chart</b></h5>
			</div>
		</div>
	</div>

	<div class="col-xl-2 col-lg-3 col-md-6 col-sm-6 col-6 text-center my-sm">
		<div class="card">
			<div class="card-body">
				<div class="pt-sm">
					<span class="sparkPie"></span>
				</div>
				<div class="pt-sm">
					<span class="sparkPie1"></span>
				</div>
				<div class="pt-sm">
					<span class="sparkPie2"></span>
				</div>
				<h5 class="my-sm"><b>Pie Chart</b></h5>
			</div>
		</div>
	</div>

	<div class="col-xl-2 col-lg-3 col-md-6 col-sm-6 col-6 text-center my-sm">
		<div class="card">
			<div class="card-body">
				<div class="pt-sm">
					<span class="sparkBox"></span>
				</div>
				<div class="pt-sm">
					<span class="sparkBox1"></span>
				</div>
				<div class="pt-sm">
					<span class="sparkBox2"></span>
				</div>
				<h5 class="my-sm"><b>Box Chart</b></h5>
			</div>
		</div>
	</div>
</div>