<!-- Theme Setting -->
<div class="theme-setting-icon bg-theme text-white">
	<i class="p-sm fa fa-cogs fa-spin"></i>
</div>
<div class="theme-setting-menu text-white">
	<div class="p-md">
		<div class="row m-0">
			<div class="col-12 setting-box py-1 px-0">
				<label for="sidebar_checkbox" class="font-roboto-normal font-12 m-0">Fixed Sidebar</label>
				<div class="float-right">
					<input type="checkbox" id="sidebar_checkbox" class="sidebar_checkbox">
				</div>
			</div>
			<div class="col-12 setting-box py-1 px-0">
				<label for="navbar_checkbox" class="font-roboto-normal font-12 m-0">Fixed Header</label>
				<div class="float-right">
					<input type="checkbox" id="navbar_checkbox" class="navbar_checkbox">
				</div>
			</div>
			<div class="col-12 setting-box py-1 px-0">
				<label for="footer_checkbox" class="font-roboto-normal font-12 m-0">Fixed Footer</label>
				<div class="float-right">
					<input type="checkbox" id="footer_checkbox" class="footer_checkbox">
				</div>
			</div>
			<div class="col-12 setting-box py-1 px-0">
				<label for="box_checkbox" class="font-roboto-normal font-12 m-0">Box Layout</label>
				<div class="float-right">
					<input type="checkbox" id="box_checkbox" class="box_checkbox">
				</div>
			</div>
			<div class="col-12 p-0">
				<h6 class="my-sm">Dark Themes</h6>
			</div>
			<div class="col-12 p-0 color-schemes">
				<ul class="list-inline list-unstyled mb-0">
					<li class="list-inline-item mx-2">
						<a href="javascript:;" class="strawberry-theme" data-theme="strawberry-theme" data-themecolor="#ed174c"></a>
					</li>
					<li class="list-inline-item mx-2">
						<a href="javascript:;" class="teal-theme" data-theme="teal-theme" data-themecolor="#18BA9B"></a>
					</li>
					<li class="list-inline-item mx-2">
						<a href="javascript:;" class="fresh-apple-theme" data-theme="fresh-apple-theme" data-themecolor="#74C52C"></a>
					</li>
					<li class="list-inline-item mx-2">
						<a href="javascript:;" class="blueberry-theme" data-theme="blueberry-theme" data-themecolor="#26aae0"></a>
					</li>
					<li class="list-inline-item mx-2">
						<a href="javascript:;" class="orange-theme" data-theme="orange-theme" data-themecolor="#f9553e"></a>
					</li>
					<li class="list-inline-item mx-2">
						<a href="javascript:;" class="almond-theme" data-theme="almond-theme" data-themecolor="#F38431"></a>
					</li>
					<li class="list-inline-item mx-2">
						<a href="javascript:;" class="lime-theme" data-theme="lime-theme" data-themecolor="#e2b60b"></a>
					</li>
					<li class="list-inline-item mx-2">
						<a href="javascript:;" class="elderberry-theme" data-theme="elderberry-theme" data-themecolor="#7847b5"></a>
					</li>
				</ul>
			</div>
			<h6 class="my-sm">Light Themes</h6>
			<div class="col-12 p-0 color-schemes">
				<ul class="list-inline list-unstyled mb-0">
					<li class="list-inline-item mx-2">
						<a href="javascript:;" class="strawberry-light-theme" data-theme="strawberry-light-theme" data-themecolor="#ed174c"></a>
					</li>
					<li class="list-inline-item mx-2">
						<a href="javascript:;" class="teal-light-theme" data-theme="teal-light-theme" data-themecolor="#18BA9B"></a>
					</li>
					<li class="list-inline-item mx-2">
						<a href="javascript:;" class="fresh-apple-light-theme" data-theme="fresh-apple-light-theme" data-themecolor="#74C52C"></a>
					</li>
					<li class="list-inline-item mx-2">
						<a href="javascript:;" class="blueberry-light-theme" data-theme="blueberry-light-theme" data-themecolor="#26aae0"></a>
					</li>
					<li class="list-inline-item mx-2">
						<a href="javascript:;" class="orange-light-theme" data-theme="orange-light-theme" data-themecolor="#f9553e"></a>
					</li>
					<li class="list-inline-item mx-2">
						<a href="javascript:;" class="almond-light-theme" data-theme="almond-light-theme" data-themecolor="#F38431"></a>
					</li>
					<li class="list-inline-item mx-2">
						<a href="javascript:;" class="lime-light-theme" data-theme="lime-light-theme" data-themecolor="#e2b60b"></a>
					</li>
					<li class="list-inline-item mx-2">
						<a href="javascript:;" class="elderberry-light-theme" data-theme="elderberry-light-theme" data-themecolor="#7847b5"></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>