<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">Pages</a></li>
							<li class="breadcrumb-item active text-dg">Blog</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-files-o menu-icon" aria-hidden="true"></i> Blog</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Blog Content -->
<div class="row">
	<div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
		<div class="row">
			<div class="col-xl-12 my-sm">
				<div class="card">
					<div class="card-body">
						<img class="img-fluid" alt="RTDL Image" src="assets/images/Blog-image.jpg" height="50">
						<h2 class="font-os-thin p-md text-justify mb-0">Why we should use RTDL Admin</h2>
						<p class="p-md font-os-thin text-justify font-16">
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
						</p>
						<blockquote class="blockquote">
							<p class="mb-0 mx-md font-os-thin font-16">
								Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
							<footer class="blockquote-footer mx-md">John Smith, Author</footer>
						</blockquote>
						<p class="p-md font-os-thin text-justify font-16">
							Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. <i>Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero.</i> This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
						</p>

						<!--  -->
						<div class="p-md bordered">
							<div class="d-inline-block">
								Blog posted On &nbsp;<i class="fa fa-calendar" aria-hidden="true"></i>
								January 20th, 2017 By
								<a href="javascript:;" class="text-dg"> Admin </a>
							</div>
						</div>

						<!-- Tags -->
						<div class="mt-md pl-xs">
							<label class="badge badge-primary mr-md p-1">
								<i class="fa fa-tag" aria-hidden="true"></i>
								Bootstrap
							</label>
							<label class="badge badge-success mr-md p-1">
								<i class="fa fa-tag" aria-hidden="true"></i>
								HTML5
							</label>
							<label class="badge badge-info mr-md p-1">
								<i class="fa fa-tag" aria-hidden="true"></i>
								CSS3
							</label>
							<label class="badge badge-theme mr-md p-1">
								<i class="fa fa-tag" aria-hidden="true"></i>
								JavaScript
							</label>
						</div>
						<hr />

						<!-- Comments List -->
						<div class="mt-md">
							<h4 class="font-os-thin">3 Comments</h4>
							<div class="media border-b m-0 py-sm">
								<img class="mr-3 avatar avatar-md" src="assets/images/portrait/avatar1.png" alt="RTDL Image">
								<div class="media-body">
									<h5 class="d-inline-block">John Smith <small>Posted on February 19th, 2017</small></h5>
									<a href="javascript:;" class="float-right text-dg pr-sm"><small>Reply</small></a>
									<p class="font-os-thin m-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
								</div>
							</div>
							<div class="media border-b m-0 py-sm">
								<img class="mr-3 avatar avatar-md" src="assets/images/portrait/avatar2.png" alt="RTDL Image">
								<div class="media-body">
									<h5 class="d-inline-block">John Smith <small>Posted on February 19th, 2017</small></h5>
									<a href="javascript:;" class="float-right text-dg pr-sm"><small>Reply</small></a>
									<p class="font-os-thin m-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
								</div>
							</div>
							<div class="media border-b m-0 py-sm">
								<img class="mr-3 avatar avatar-md" src="assets/images/portrait/avatar3.png" alt="RTDL Image">
								<div class="media-body">
									<h5 class="d-inline-block">John Smith <small>Posted on February 19th, 2017</small></h5>
									<a href="javascript:;" class="float-right text-dg pr-sm"><small>Reply</small></a>
									<p class="font-os-thin m-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Comments -->
			<div class="col-lg-12 my-sm">
				<div class="card">
					<div class="card-body">
						<h4 class="font-os-thin">Leave a Comment</h4>
						<form id="comment-form" class="form-wrapper" novalidate="novalidate" method="post" action="#">
							<div class="row">
								<div class="col-lg-6 col-md-12 col-sm-12 col-12">
									<div class="form-group">
										<label class="mt-xs" for="name"> Name </label>
										<input id="name" class="form-control" type="text" placeholder="Your Name">
										<label class="mt-xs" for="email"> Email  </label>
										<input id="email" class="form-control" type="text" placeholder="Your Email">
										<label class="mt-xs" for="website"> Website </label>
										<input id="website" class="form-control" type="text" placeholder="Your Website">
										<label class="mt-xs" for="message"> Message </label>
										<textarea id="message" class="form-control" rows="3" placeholder="Your Message"></textarea>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-2">
									<input class="btn btn-theme btn-sm" type="button" value="Submit">
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12">

		<div class="row">
			<!-- Search Blog -->
			<div class="col-lg-12 my-sm">
				<div class="card">
					<div class="card-header">
						<h5 class="m-0">
							<i class="fa fa-search fa-lg" aria-hidden="true"></i>
							<span class="ml-xs">Blog search</span>
						</h5>
					</div>
					<div class="card-body">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Search Blog">
							<span class="input-group-btn">
								<button class="btn btn-secondary" type="button">
									<i class="fa fa-search" aria-hidden="true"></i>
								</button>
							</span>
						</div>
					</div>
				</div>
			</div>
			<!-- Latest Blog -->
			<div class="col-lg-12 my-sm">
				<div class="card">
					<div class="card-header">
						<h5 class="m-0">Latest Blogs</h5>
					</div>
					<div class="card-body p-0">
						<div class="media media-sm p-sm border-b">
							<img class="mr-3 avatar avatar-md" src="assets/images/portrait/avatar1.png" alt="RTDL Image">
							<div class="media-body">
								<p class="m-0">Love these options, several of which I was not yet aware of.</p>
								<small>Feb 18th, 2017 - 3 Comments</small>
							</div>
						</div>
						<div class="media media-sm p-sm border-b">
							<img class="mr-3 avatar avatar-md" src="assets/images/portrait/avatar2.png" alt="RTDL Image">
							<div class="media-body">
								<p class="m-0">Love these options, several of which I was not yet aware of.</p>
								<small>Sep 10th, 2017 - 10 Comments</small>
							</div>
						</div>
						<div class="media media-sm p-sm border-b">
							<img class="mr-3 avatar avatar-md" src="assets/images/portrait/avatar3.png" alt="RTDL Image">
							<div class="media-body">
								<p class="m-0">Love these options, several of which I was not yet aware of.</p>
								<small>Nov 14th, 2017 - No Comments</small>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Popular Blog -->
			<div class="col-lg-12 my-sm">
				<div class="card">
					<div class="card-header">
						<h5 class="m-0">Popular Blogs</h5>
					</div>
					<div class="card-body p-0">
						<div class="media media-sm p-sm border-b">
							<img class="mr-3 avatar avatar-md" src="assets/images/portrait/avatar4.png" alt="RTDL Image">
							<div class="media-body">
								<p class="m-0">I’ll also look at giving you some options regarding.</p>
								<small>Sunday, Jan 04th, 2017 08:25</small>
							</div>
						</div>
						<div class="media media-sm p-sm border-b">
							<img class="mr-3 avatar avatar-md" src="assets/images/portrait/avatar5.png" alt="RTDL Image">
							<div class="media-body">
								<p class="m-0">I’ll also look at giving you some options regarding.</p>
								<small>Friday, Mar 25th, 2017 10:00</small>
							</div>
						</div>
						<div class="media media-sm p-sm border-b">
							<img class="mr-3 avatar avatar-md" src="assets/images/portrait/avatar6.png" alt="RTDL Image">
							<div class="media-body">
								<p class="m-0">I’ll also look at giving you some options regarding.</p>
								<small>Monday, Aug 04th, 2017 14:49</small>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>