<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">Documents</a></li>
							<li class="breadcrumb-item active text-dg">Helper Classes</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-book menu-icon" aria-hidden="true"></i> Helper Classes</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Helper Classes Content -->
<div class="row">
	<div class="col-lg-6 col-md-12 col-sm-12 col-12">
		<div class="row">
			<div class="col-12 my-sm">
				<div class="card">
					<div class="card-body">
						<h5 class="mb-md">Background color Classes</h5>
						<div class="table-responsive">
							<table class="table table-bordered">
								<tr>
									<th>CSS Class Name</th>
									<th>Example</th>
								</tr>
								<tr>
									<td><code>.no-bg</code></td>
									<td><div class="no-bg p-xs"><b>Removed</b> Background Color</div></td>
								</tr>
								<tr>
									<td><code>.bg-theme</code></td>
									<td><div class="bg-theme p-xs text-white"><b>Theme</b> Background Color</div></td>
								</tr>
								<tr>
									<td><code>.bg-lg</code></td>
									<td><div class="bg-lg p-xs">This is <b>Light Gray</b> Background Color</div></td>
								</tr>
								<tr>
									<td><code>.bg-mdg</code></td>
									<td><div class="bg-mdg text-white p-xs">This is <b>Medium Dark Gray</b> Background Color</div></td>
								</tr>
								<tr>
									<td><code>.bg-dg</code></td>
									<td><div class="bg-dg text-white p-xs">This is <b>Dark Gray</b> Background Color</div></td>
								</tr>
								<tr>
									<td><code>.bg-mg</code></td>
									<td><div class="bg-mg text-white p-xs">This is <b>Metalic Gray</b> Background Color</div></td>
								</tr>
								<tr>
									<td><code>.bg-mb</code></td>
									<td><div class="bg-mb text-white p-xs">This is <b>Medium Black</b> Background Color</div></td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 my-sm">
				<div class="card">
					<div class="card-body">
						<h5 class="mb-md">Border Classes</h5>
						<div class="table-responsive">
							<table class="table table-bordered">
								<tr>
									<th>CSS Class Name</th>
									<th>Example</th>
								</tr>
								<tr>
									<td><code>.bordered</code></td>
									<td><p class="bordered p-xs">Apply <b>Bordered</b></p></td>
								</tr>
								<tr>
									<td><code>.border-theme</code></td>
									<td><p class="border-theme p-xs">Apply <b>Theme Border</b></p></td>
								</tr>
								<tr>
									<td><code>.border-t</code></td>
									<td><p class="border-t p-xs">This is <b>Top</b> Border</p></td>
								</tr>
								<tr>
									<td><code>.border-r</code></td>
									<td><p class="border-r p-xs">This is <b>Right</b> Border</p></td>
								</tr>
								<tr>
									<td><code>.border-b</code></td>
									<td><p class="border-b p-xs">This is <b>Bottom</b> Border</p></td>
								</tr>
								<tr>
									<td><code>.border-l</code></td>
									<td><p class="border-l p-xs">This is <b>Left</b> Border</p></td>
								</tr>
								<tr>
									<td><code>.border-t-b</code></td>
									<td><p class="border-t-b p-xs">This is <b>Top and Bottom</b> Border</p></td>
								</tr>
								<tr>
									<td><code>.border-l-r</code></td>
									<td><p class="border-l-r p-xs">This is <b>Left and Right</b> Border</p></td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 my-sm">
				<div class="card">
					<div class="card-body">
						<h5 class="mb-md">Margin Classes</h5>
						<div class="table-responsive">
							<table class="table table-bordered">
								<tr>
									<th>CSS Class Name</th>
									<th>Example</th>
								</tr>
								<tr>
									<td><code>.m-xs</code></td>
									<td><div class="m-xs bordered p-xs">Apply <b>Extra Small</b> Margins</div></td>
								</tr>
								<tr>
									<td><code>.mt-xs</code></td>
									<td><div class="mt-xs bordered p-xs">Apply <b>Extra Top Small</b> Margins</div></td>
								</tr>
								<tr>
									<td><code>.mr-xs</code></td>
									<td><div class="mr-xs bordered p-xs">Apply <b>Extra Right Small</b> Margins</div></td>
								</tr>
								<tr>
									<td><code>.mb-xs</code></td>
									<td><div class="mb-xs bordered p-xs">Apply <b>Extra Bottom Small</b> Margins</div></td>
								</tr>
								<tr>
									<td><code>.ml-xs</code></td>
									<td><div class="ml-xs bordered p-xs">Apply <b>Extra Left Small</b> Margins</div></td>
								</tr>
								<tr>
									<td><code>.my-xs</code></td>
									<td><div class="my-xs bordered p-xs">Apply <b>Extra Top and Bottom Small</b> Margins</div></td>
								</tr>
								<tr>
									<td><code>.mx-xs</code></td>
									<td><div class="mx-xs bordered p-xs">Apply <b>Extra Left and Right Small</b> Margins</div></td>
								</tr>
								<tr>
									<td><code>.m-sm</code></td>
									<td><div class="m-sm bordered p-xs">Apply <b>Small</b> Margins</div></td>
								</tr>
								<tr>
									<td><code>.mt-sm</code></td>
									<td><div class="mt-sm bordered p-xs">Apply <b>Top Small</b> Margins</div></td>
								</tr>
								<tr>
									<td><code>.mr-sm</code></td>
									<td><div class="mr-sm bordered p-xs">Apply <b>Right Small</b> Margins</div></td>
								</tr>
								<tr>
									<td><code>.mb-sm</code></td>
									<td><div class="mb-sm bordered p-xs">Apply <b>Bottom Small</b> Margins</div></td>
								</tr>
								<tr>
									<td><code>.ml-sm</code></td>
									<td><div class="ml-sm bordered p-xs">Apply <b>Left Small</b> Margins</div></td>
								</tr>
								<tr>
									<td><code>.my-sm</code></td>
									<td><div class="my-sm bordered p-xs">Apply <b>Top and Bottom Small</b> Margins</div></td>
								</tr>
								<tr>
									<td><code>.mx-sm</code></td>
									<td><div class="mx-sm bordered p-xs">Apply <b>Left and Right Small</b> Margins</div></td>
								</tr>
								<tr>
									<td><code>.m-md</code></td>
									<td><div class="m-md bordered p-xs">Apply <b>Medium</b> Margins</div></td>
								</tr>
								<tr>
									<td><code>.mt-md</code></td>
									<td><div class="mt-md bordered p-xs">Apply <b>Top Medium</b> Margins</div></td>
								</tr>
								<tr>
									<td><code>.mr-md</code></td>
									<td><div class="mr-md bordered p-xs">Apply <b>Right Medium</b> Margins</div></td>
								</tr>
								<tr>
									<td><code>.mb-md</code></td>
									<td><div class="mb-md bordered p-xs">Apply <b>Bottom Medium</b> Margins</div></td>
								</tr>
								<tr>
									<td><code>.ml-md</code></td>
									<td><div class="ml-md bordered p-xs">Apply <b>Left Medium</b> Margins</div></td>
								</tr>
								<tr>
									<td><code>.my-md</code></td>
									<td><div class="my-md bordered p-xs">Apply <b>Top and Bottom Medium</b> Margins</div></td>
								</tr>
								<tr>
									<td><code>.mx-md</code></td>
									<td><div class="mx-md bordered p-xs">Apply <b>Left and Right Medium</b> Margins</div></td>
								</tr>
								<tr>
									<td><code>.m-lg</code></td>
									<td><div class="m-lg bordered p-xs">Apply <b>Large</b> Margins</div></td>
								</tr>
								<tr>
									<td><code>.mt-lg</code></td>
									<td><div class="mt-lg bordered p-xs">Apply <b>Top Large</b> Margins</div></td>
								</tr>
								<tr>
									<td><code>.mr-lg</code></td>
									<td><div class="mr-lg bordered p-xs">Apply <b>Right Large</b> Margins</div></td>
								</tr>
								<tr>
									<td><code>.mb-lg</code></td>
									<td><div class="mb-lg bordered p-xs">Apply <b>Bottom Large</b> Margins</div></td>
								</tr>
								<tr>
									<td><code>.ml-lg</code></td>
									<td><div class="ml-lg bordered p-xs">Apply <b>Left Large</b> Margins</div></td>
								</tr>
								<tr>
									<td><code>.my-lg</code></td>
									<td><div class="my-lg bordered p-xs">Apply <b>Top and Bottom Large</b> Margins</div></td>
								</tr>
								<tr>
									<td><code>.mx-lg</code></td>
									<td><div class="mx-lg bordered p-xs">Apply <b>Left and Right Large</b> Margins</div></td>
								</tr>
								<tr>
									<td><code>.m-xlg</code></td>
									<td><div class="m-xlg bordered p-xs">Apply <b>Extra Large</b> Margins</div></td>
								</tr>
								<tr>
									<td><code>.mt-xlg</code></td>
									<td><div class="mt-xlg bordered p-xs">Apply <b>Extra Top Large</b> Margins</div></td>
								</tr>
								<tr>
									<td><code>.mr-xlg</code></td>
									<td><div class="mr-xlg bordered p-xs">Apply <b>Extra Right Large</b> Margins</div></td>
								</tr>
								<tr>
									<td><code>.mb-xlg</code></td>
									<td><div class="mb-xlg bordered p-xs">Apply <b>Extra Bottom Large</b> Margins</div></td>
								</tr>
								<tr>
									<td><code>.ml-xlg</code></td>
									<td><div class="ml-xlg bordered p-xs">Apply <b>Extra Left Large</b> Margins</div></td>
								</tr>
								<tr>
									<td><code>.my-xlg</code></td>
									<td><div class="my-xlg bordered p-xs">Apply <b>Extra Top and Bottom Large</b> Margins</div></td>
								</tr>
								<tr>
									<td><code>.mx-xlg</code></td>
									<td><div class="mx-xlg bordered p-xs">Apply <b>Extra Left and Right Large</b> Margins</div></td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 my-sm">
				<div class="card">
					<div class="card-body">
						<h5 class="mb-md">Font Classes</h5>
						<div class="table-responsive">
							<table class="table table-bordered">
								<tr>
									<th>CSS Class Name</th>
									<th>Examples</th>
								</tr>
								<tr>
									<td><code>.font-os-thin</code></td>
									<td class="font-os-thin">This is Open-sans Thin font</td>
								</tr>
								<tr>
									<td><code>.font-os-bold</code></td>
									<td class="font-os-bold">This is Open-sans Bold font</td>
								</tr>
								<tr>
									<td><code>.font-os-normal</code></td>
									<td class="font-os-normal">This is Open-sans Normal font</td>
								</tr>
								<tr>
									<td><code>.font-roboto-thin</code></td>
									<td class="font-roboto-thin">This is Roboto Thin font</td>
								</tr>
								<tr>
									<td><code>.font-roboto-bold</code></td>
									<td class="font-roboto-bold">This is Roboto Bold font</td>
								</tr>
								<tr>
									<td><code>.font-roboto-normal</code></td>
									<td class="font-roboto-normal">This is Roboto Normal font</td>
								</tr>
								<tr>
									<td><code>.font-24</code></td>
									<td class="font-24">This text font size is Font-24</td>
								</tr>
								<tr>
									<td><code>.font-16</code></td>
									<td class="font-16">This text font size is Font-16</td>
								</tr>
								<tr>
									<td><code>.font-14</code></td>
									<td class="font-14">This text font size is Font-14</td>
								</tr>
								<tr>
									<td><code>.font-12</code></td>
									<td class="font-12">This text font size is Font-12</td>
								</tr>
								<tr>
									<td><code>.font-10</code></td>
									<td class="font-10">This text font size is Font-10</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 my-sm">
				<div class="card">
					<div class="card-body">
						<h5 class="mb-md">Image Classes</h5>
						<div class="table-responsive">
							<table class="table table-bordered">
								<tr>
									<th>CSS Class Name</th>
									<th>Examples</th>
								</tr>
								<tr>
									<td><code>.avatar</code></td>
									<td><img src="/../../assets/images/portrait/thumbnail.png" alt="RTDL Image" class="rounded-circle avatar"> <span>This is <b>Normal Size</b> Image</span></td>
								</tr>
								<tr>
									<td><code>.avatar-xxs</code></td>
									<td><img src="/../../assets/images/portrait/thumbnail.png" alt="RTDL Image" class="rounded-circle  avatar avatar-xxs"> <span>This is <b>More Extra Small Size</b> Image</span></td>
								</tr>
								<tr>
									<td><code>.avatar-xs</code></td>
									<td><img src="/../../assets/images/portrait/thumbnail.png" alt="RTDL Image" class="rounded-circle  avatar avatar-xs"> <span>This is <b>Extra Small Size</b> Image</span></td>
								</tr>
								<tr>
									<td><code>.avatar-sm</code></td>
									<td><img src="/../../assets/images/portrait/thumbnail.png" alt="RTDL Image" class="rounded-circle avatar avatar-sm"> <span>This is <b>Small Size</b> Image</span></td>
								</tr>
								<tr>
									<td><code>.avatar-md</code></td>
									<td><img src="/../../assets/images/portrait/thumbnail.png" alt="RTDL Image" class="rounded-circle avatar avatar-md"> <span>This is <b>Medium Size</b> Image</span></td>
								</tr>
								<tr>
									<td><code>.avatar-lg</code></td>
									<td><img src="/../../assets/images/portrait/thumbnail.png" alt="RTDL Image" class="rounded-circle avatar avatar-lg"> <span>This is <b>Large Size</b> Image</span></td>
								</tr>
								<tr>
									<td><code>.avatar-xl</code></td>
									<td><img src="/../../assets/images/portrait/thumbnail.png" alt="RTDL Image" class="rounded-circle avatar avatar-xl"> <span>This is <b>Extra Large Size</b> Image</span></td>
								</tr>
								<tr>
									<td><code>.avatar-xxlg</code></td>
									<td><img src="/../../assets/images/portrait/thumbnail.png" alt="RTDL Image" class="rounded-circle avatar avatar-xxlg"> <span>This is <b>More Extra Large Size</b> Image</span></td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-6 col-md-12 col-sm-12 col-12">
		<div class="row">
			<div class="col-12 my-sm">
				<div class="card">
					<div class="card-body">
						<h5 class="mb-md">Text Color Classes</h5>
						<div class="table-responsive">
							<table class="table table-bordered">
								<tr>
									<th>CSS Class Name</th>
									<th>Example</th>
								</tr>
								<tr>
									<td><code>.text-lg</code></td>
									<td><div class="text-lg p-xs">This is <b>Light Gray</b> Text</div></td>
								</tr>
								<tr>
									<td><code>.text-mdg</code></td>
									<td><div class="text-mdg p-xs">This is <b>Medium Dark Gray</b> Text</div></td>
								</tr>
								<tr>
									<td><code>.text-dg</code></td>
									<td><div class="text-dg p-xs">This is <b>Dark Gray</b> Text</div></td>
								</tr>
								<tr>
									<td><code>.text-mg</code></td>
									<td><div class="text-mg p-xs">This is <b>Metalic Gray</b> Text</div></td>
								</tr>
								<tr>
									<td><code>.text-mb</code></td>
									<td><div class="text-mb p-xs">This is <b>Medium Black</b> Text</div></td>
								</tr>
								<tr>
									<td><code>.text-theme</code></td>
									<td><div class="text-theme p-xs">This is <b>Theme Color</b> Text</div></td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 my-sm">
				<div class="card">
					<div class="card-body">
						<h5 class="mb-md">Border Radius Classes</h5>
						<div class="table-responsive">
							<table class="table table-bordered">
								<tr>
									<th>CSS Class Name</th>
									<th>Example</th>
								</tr>
								<tr>
									<td><code>.border-r-sm</code></td>
									<td><p class="border-r-sm bordered p-xs">This is <b>Small Radius</b> Border</p></td>
								</tr>
								<tr>
									<td><code>.border-r-md</code></td>
									<td><p class="border-r-md bordered p-xs">This is <b>Medium Radius</b> Border</p></td>
								</tr>
								<tr>
									<td><code>.border-r-lg</code></td>
									<td><p class="border-r-lg bordered p-xs">This is <b>Large Radius</b> Border</p></td>
								</tr>
								<tr>
									<td><code>.border-r-xlg</code></td>
									<td><p class="border-r-xlg bordered p-xs">This is <b>Extra Large Radius</b> Border</p></td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 my-sm">
				<div class="card">
					<div class="card-body">
						<h5 class="mb-md">Padding Classes</h5>
						<div class="table-responsive">
							<table class="table table-bordered">
								<tr>
									<th>CSS Class Name</th>
									<th>Example</th>
								</tr>
								<tr>
									<td><code>.p-xs</code></td>
									<td><div class="p-xs bordered">Apply <b>Extra Small</b> Paddings</div></td>
								</tr>
								<tr>
									<td><code>.pt-xs</code></td>
									<td><div class="pt-xs bordered">Apply <b>Extra Top Small</b> Paddings</div></td>
								</tr>
								<tr>
									<td><code>.pr-xs</code></td>
									<td><div class="pr-xs bordered">Apply <b>Extra Right Small</b> Paddings</div></td>
								</tr>
								<tr>
									<td><code>.pb-xs</code></td>
									<td><div class="pb-xs bordered">Apply <b>Extra Bottom Small</b> Paddings</div></td>
								</tr>
								<tr>
									<td><code>.pl-xs</code></td>
									<td><div class="pl-xs bordered">Apply <b>Extra Left Small</b> Paddings</div></td>
								</tr>
								<tr>
									<td><code>.py-xs</code></td>
									<td><div class="py-xs bordered">Apply <b>Extra Top and Bottom Small</b> Paddings</div></td>
								</tr>
								<tr>
									<td><code>.px-xs</code></td>
									<td><div class="px-xs bordered">Apply <b>Extra Left and Right Small</b> Paddings</div></td>
								</tr>
								<tr>
									<td><code>.p-sm</code></td>
									<td><div class="p-sm bordered">Apply <b>Small</b> Paddings</div></td>
								</tr>
								<tr>
									<td><code>.pt-sm</code></td>
									<td><div class="pt-sm bordered">Apply <b>Top Small</b> Paddings</div></td>
								</tr>
								<tr>
									<td><code>.pr-sm</code></td>
									<td><div class="pr-sm bordered">Apply <b>Right Small</b> Paddings</div></td>
								</tr>
								<tr>
									<td><code>.pb-sm</code></td>
									<td><div class="pb-sm bordered">Apply <b>Bottom Small</b> Paddings</div></td>
								</tr>
								<tr>
									<td><code>.pl-sm</code></td>
									<td><div class="pl-sm bordered">Apply <b>Left Small</b> Paddings</div></td>
								</tr>
								<tr>
									<td><code>.py-sm</code></td>
									<td><div class="py-sm bordered">Apply <b>Top and Bottom Small</b> Paddings</div></td>
								</tr>
								<tr>
									<td><code>.px-sm</code></td>
									<td><div class="px-sm bordered">Apply <b>Left and Right Small</b> Paddings</div></td>
								</tr>
								<tr>
									<td><code>.p-md</code></td>
									<td><div class="p-md bordered">Apply <b>Medium</b> Paddings</div></td>
								</tr>
								<tr>
									<td><code>.pt-md</code></td>
									<td><div class="pt-md bordered">Apply <b>Top Medium</b> Paddings</div></td>
								</tr>
								<tr>
									<td><code>.pr-md</code></td>
									<td><div class="pr-md bordered">Apply <b>Right Medium</b> Paddings</div></td>
								</tr>
								<tr>
									<td><code>.pb-md</code></td>
									<td><div class="pb-md bordered">Apply <b>Bottom Medium</b> Paddings</div></td>
								</tr>
								<tr>
									<td><code>.pl-md</code></td>
									<td><div class="pl-md bordered">Apply <b>Left Medium</b> Paddings</div></td>
								</tr>
								<tr>
									<td><code>.py-md</code></td>
									<td><div class="py-md bordered">Apply <b>Top and Bottom Medium</b> Paddings</div></td>
								</tr>
								<tr>
									<td><code>.px-md</code></td>
									<td><div class="px-md bordered">Apply <b>Left and Right Medium</b> Paddings</div></td>
								</tr>
								<tr>
									<td><code>.p-lg</code></td>
									<td><div class="p-lg bordered">Apply <b>Large</b> Paddings</div></td>
								</tr>
								<tr>
									<td><code>.pt-lg</code></td>
									<td><div class="pt-lg bordered">Apply <b>Top Large</b> Paddings</div></td>
								</tr>
								<tr>
									<td><code>.pr-lg</code></td>
									<td><div class="pr-lg bordered">Apply <b>Right Large</b> Paddings</div></td>
								</tr>
								<tr>
									<td><code>.pb-lg</code></td>
									<td><div class="pb-lg bordered">Apply <b>Bottom Large</b> Paddings</div></td>
								</tr>
								<tr>
									<td><code>.pl-lg</code></td>
									<td><div class="pl-lg bordered">Apply <b>Left Large</b> Paddings</div></td>
								</tr>
								<tr>
									<td><code>.py-lg</code></td>
									<td><div class="py-lg bordered">Apply <b>Top and Bottom Large</b> Paddings</div></td>
								</tr>
								<tr>
									<td><code>.px-lg</code></td>
									<td><div class="px-lg bordered">Apply <b>Left and Right Large</b> Paddings</div></td>
								</tr>
								<tr>
									<td><code>.p-xlg</code></td>
									<td><div class="p-xlg bordered">Apply <b>Extra Large</b> Paddings</div></td>
								</tr>
								<tr>
									<td><code>.pt-xlg</code></td>
									<td><div class="pt-xlg bordered">Apply <b>Extra Top Large</b> Paddings</div></td>
								</tr>
								<tr>
									<td><code>.pr-xlg</code></td>
									<td><div class="pr-xlg bordered">Apply <b>Extra Right Large</b> Paddings</div></td>
								</tr>
								<tr>
									<td><code>.pb-xlg</code></td>
									<td><div class="pb-xlg bordered">Apply <b>Extra Bottom Large</b> Paddings</div></td>
								</tr>
								<tr>
									<td><code>.pl-xlg</code></td>
									<td><div class="pl-xlg bordered">Apply <b>Extra Left Large</b> Paddings</div></td>
								</tr>
								<tr>
									<td><code>.py-xlg</code></td>
									<td><div class="py-xlg bordered">Apply <b>Extra Top and Bottom Large</b> Paddings</div></td>
								</tr>
								<tr>
									<td><code>.px-xlg</code></td>
									<td><div class="px-xlg bordered">Apply <b>Extra Left and Right Large</b> Paddings</div></td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 my-sm">
				<div class="card">
					<div class="card-body">
						<h5 class="mb-md">Text Classes</h5>
						<div class="table-responsive">
							<table class="table table-bordered">
								<tr>
									<th>CSS Class Name</th>
									<th>Example</th>
								</tr>
								<tr>
									<td><code>.text-normal</code></td>
									<td><p class="text-normal p-xs">This is <b>Normal</b> Text</p></td>
								</tr>
								<tr>
									<td><code>.text-bold</code></td>
									<td><p class="text-bold p-xs">This is <b>Bold</b> Text</p></td>
								</tr>
								<tr>
									<td><code>.text-italic</code></td>
									<td><p class="text-italic p-xs">This is <b>Italic</b> Text</p></td>
								</tr>
								<tr>
									<td><code>.text-strike</code></td>
									<td><p class="text-strike p-xs">This is <b>Strike</b> Text</p></td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 my-sm">
				<div class="card">
					<div class="card-body">
						<h5 class="mb-md">Height Classes</h5>
						<div class="table-responsive">
							<table class="table table-bordered">
								<tr>
									<th>CSS Class Name</th>
									<th>Example</th>
								</tr>
								<tr>
									<td><code>.height-30</code></td>
									<td><div class="height-30">Set Minimum Height <b>30px</b></div></td>
								</tr>
								<tr>
									<td><code>.height-40</code></td>
									<td><div class="height-40">Set Minimum Height <b>40px</b></div></td>
								</tr>
								<tr>
									<td><code>.height-50</code></td>
									<td><div class="height-50">Set Minimum Height <b>50px</b></div></td>
								</tr>
								<tr>
									<td><code>.height-100</code></td>
									<td><div class="height-100">Set Minimum Height <b>100px</b></div></td>
								</tr>
								<tr>
									<td><code>.height-150</code></td>
									<td><div class="height-150">Set Minimum Height <b>150px</b></div></td>
								</tr>
								<tr>
									<td><code>.height-200</code></td>
									<td><div class="height-200">Set Minimum Height <b>200px</b></div></td>
								</tr>
								<tr>
									<td><code>.height-320</code></td>
									<td><div class="height-320">Set Minimum Height <b>320px</b></div></td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 my-sm">
				<div class="card">
					<div class="card-body">
						<h5 class="mb-md">Width Classes</h5>
						<div class="table-responsive">
							<table class="table table-bordered">
								<tr>
									<th>CSS Class Name</th>
									<th>Example</th>
								</tr>
								<tr>
									<td><code>.width-30</code></td>
									<td><div>Set Minimum Width <b>30px</b></div></td>
								</tr>
								<tr>
									<td><code>.width-40</code></td>
									<td><div>Set Minimum Width <b>40px</b></div></td>
								</tr>
								<tr>
									<td><code>.width-50</code></td>
									<td><div>Set Minimum Width <b>50px</b></div></td>
								</tr>
								<tr>
									<td><code>.width-100</code></td>
									<td><div>Set Minimum Width <b>100px</b></div></td>
								</tr>
								<tr>
									<td><code>.width-150</code></td>
									<td><div>Set Minimum Width <b>150px</b></div></td>
								</tr>
								<tr>
									<td><code>.width-200</code></td>
									<td><div>Set Minimum Width <b>200px</b></div></td>
								</tr>
								<tr>
									<td><code>.width-320</code></td>
									<td><div>Set Minimum Width <b>320px</b></div></td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>