<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">Charts</a></li>
							<li class="breadcrumb-item active text-dg">E-Charts</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-pie-chart menu-icon" aria-hidden="true"></i> E-Charts</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- E-Charts Content -->
<div class="row">
	<div class="col-12 px-0 my-sm">
		<div class="card">
			<div class="card-body text-center">
				<div class="py-lg">
					<h4 class="font-roboto-thin my-sm">ECharts (Enterprise Charts), written in pure JavaScript and based on ZRender, is a comprehensive charting library offering an easy way of adding intuitive, interactive, and highly customizable charts to your commercial products. (Not supported in Angular)</h4>
					<a href="https://ecomfe.github.io/echarts/index-en.html" target="_blank" class="btn btn-outline-theme">Get E-Charts Doc</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Line Chart</h5>
			</div>
			<div class="card-body">
				<div id="lineChart" class="height-320"></div>
			</div>
		</div>
	</div>
	<div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Area Chart</h5>
			</div>
			<div class="card-body">
				<div id="areaChart" class="height-320"></div>
			</div>
		</div>
	</div>
	<div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Bar Chart</h5>
			</div>
			<div class="card-body">
				<div id="barChart" class="height-320"></div>
			</div>
		</div>
	</div>
	<div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Stacked Chart</h5>
			</div>
			<div class="card-body text-center">
				<div id="stackedChart" class="height-320"></div>
			</div>
		</div>
	</div>
	<div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Pie Chart</h5>
			</div>
			<div class="card-body text-center">
				<div id="pieChart" class="height-320"></div>
			</div>
		</div>
	</div>
	<div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Doughnut Chart</h5>
			</div>
			<div class="card-body text-center">
				<div id="doughnutChart" class="height-320"></div>
			</div>
		</div>
	</div>
	<div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Bubble Chart</h5>
			</div>
			<div class="card-body">
				<div id="bubbleChart" class="height-320"></div>
			</div>
		</div>
	</div>
	<div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Range Chart</h5>
			</div>
			<div class="card-body text-center">
				<div id="rangeChart" class="height-320"></div>
			</div>
		</div>
	</div>
</div>