<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">UI Elements</a></li>
							<li class="breadcrumb-item active text-dg">Components Page</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-laptop menu-icon" aria-hidden="true"></i> Components Page</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Components Content-->
<div class="row">
	<div class="col-lg-6 col-md-12 col-sm-12 col-12">
		<!-- SIMPLE BOOTSTRAP PROGRESS BARS -->
		<div class="row">
			<div class="col-lg-12 my-sm">
				<div class="card">
					<div class="card-header">
						<h5 class="m-0">Simple Bootstrap Progress Bars</h5>
					</div>
					<div class="card-body">
						<p>Progress bars use some of the same button and alert classes for consistent styles. Here one more extra progress bar color that's theme color progress bar. You can add <code>theme</code> type with <code>ngb-progressbar</code> element to get theme color progress bar.</p>
						<div class="row">
							<div class="col-md-6 col-12">
								<div class="mb-lg">
									<ngb-progressbar type="theme" [value]="60"></ngb-progressbar>
								</div>
							</div>
							<div class="col-md-6 col-12">
								<div class="mb-lg">
									<ngb-progressbar type="priary" [value]="40"></ngb-progressbar>
								</div>
							</div>
							<div class="col-md-6 col-12">
								<div class="mb-lg">
									<ngb-progressbar type="success" [value]="40"></ngb-progressbar>
								</div>
							</div>
							<div class="col-md-6 col-12">
								<div class="mb-lg">
									<ngb-progressbar type="info" [value]="20"></ngb-progressbar>
								</div>
							</div>
							<div class="col-md-6 col-12">
								<div class="mb-lg">
									<ngb-progressbar type="warning" [value]="60"></ngb-progressbar>
								</div>
							</div>
							<div class="col-md-6 col-12">
								<div class="mb-lg">
									<ngb-progressbar type="danger" [value]="80"></ngb-progressbar>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- BOOTSTRAP PROGRESS BARS STYLYES -->
		<div class="row">
			<div class="col-lg-12 my-sm">
				<div class="card">
					<div class="card-body">
						<h5 class="my-sm">Striped Progress Bar</h5>
						<div class="mb-lg">
							<ngb-progressbar type="info" [value]="40" [striped]="true"></ngb-progressbar>
						</div>

						<h5 class="my-sm">Striped Active Progress Bar</h5>
						<div class="mb-lg">
							<ngb-progressbar type="theme" [value]="45" [striped]="true" [animated]="true"></ngb-progressbar>
						</div>

						<h5 class="my-sm">Stacked Progress Bar</h5>
						<div class="progress">
							<div class="progress-bar bg-success" style="width: 35%">
								<span class="sr-only">35% Complete (success)</span>
							</div>
							<div class="progress-bar bg-theme progress-bar-striped progress-bar-animated" style="width: 20%">
								<span class="sr-only">20% Complete (warning)</span>
							</div>
							<div class="progress-bar bg-warning" style="width: 10%">
								<span class="sr-only">10% Complete (danger)</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- BREADCRUMBS -->
		<div class="row">
			<div class="col-lg-12 my-sm">
				<div class="card">
					<div class="card-header">
						<h5 class="m-0">Breadcrumbs</h5>
					</div>
					<div class="card-body">
						<ol class="breadcrumb">
							<li class="breadcrumb-item active">Home</li>
						</ol>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
							<li class="breadcrumb-item active">Library</li>
						</ol>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
							<li class="breadcrumb-item"><a href="javascript:;">Library</a></li>
							<li class="breadcrumb-item active">Data</li>
						</ol>
					</div>
				</div>
			</div>
		</div>

		<!-- BOOTSTRAP ALERT MESSAGES -->
		<div class="row">
			<div class="col-lg-12 my-sm">
				<div class="card">
					<div class="card-header">
						<h5 class="m-0">Simple Alert Messages</h5>
					</div>
					<div class="card-body">
						<div>
							<ngb-alert [dismissible]="false" type="primary">
								<strong>Lorem Ipsum</strong> is simply dummy text.
							</ngb-alert>
						</div>
						<div>
							<ngb-alert [dismissible]="false" type="secondary">
								<strong>Lorem Ipsum</strong> is simply dummy text.
							</ngb-alert>
						</div>
						<div>
							<ngb-alert [dismissible]="false" type="success">
								<strong>Lorem Ipsum</strong> is simply dummy text.
							</ngb-alert>
						</div>
						<div>
							<ngb-alert [dismissible]="false" type="danger">
								<strong>Lorem Ipsum</strong> is simply dummy text.
							</ngb-alert>
						</div>
						<div>
							<ngb-alert [dismissible]="false" type="warning">
								<strong>Lorem Ipsum</strong> is simply dummy text.
							</ngb-alert>
						</div>
						<div>
							<ngb-alert [dismissible]="false" type="info">
								<strong>Lorem Ipsum</strong> is simply dummy text.
							</ngb-alert>
						</div>
						<div>
							<ngb-alert [dismissible]="false" type="light">
								<strong>Lorem Ipsum</strong> is simply dummy text.
							</ngb-alert>
						</div>
						<div>
							<ngb-alert [dismissible]="false" type="dark">
								<strong>Lorem Ipsum</strong> is simply dummy text.
							</ngb-alert>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- BOOTSTRAP ALERTS WITH LINKS AND DISMISSIBLE -->
		<div class="row">
			<div class="col-lg-12 my-sm">
				<div class="card">
					<div class="card-header">
						<h5 class="m-0">Dismissible and Link alerts</h5>
					</div>
					<div class="card-body">
						<h5 class="my-sm">Dismissible alerts</h5>
						<ngb-alert *ngIf="!closed" (close)="closed=true" type="success">
							<strong>Success!</strong> This alert box could indicate a successful or positive action.
						</ngb-alert>
						<h5 class="my-sm">Link in alerts</h5>
						<div>
							<ngb-alert [dismissible]="false" type="info">
								<strong>Lorem Ipsum</strong> is simply dummy text.
								<a href="javascript:;" class="alert-link">Lorem Ipsum</a>
							</ngb-alert>
						</div>
						<div>
							<ngb-alert [dismissible]="false" type="warning">
								<strong>Lorem Ipsum</strong> is simply dummy text.
								<a href="javascript:;" class="alert-link">Lorem Ipsum</a>
							</ngb-alert>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-lg-6 col-md-12 col-sm-12 col-12">
		<!-- PROGRESS BAR SIZES -->
		<div class="row">
			<div class="col-lg-12 my-sm">
				<div class="card">
					<div class="card-header">
						<h5 class="m-0">Progress bar sizes</h5>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-12">
								<p>Tiny progress bar size. Using <code>height</code> attribute with <code>ngb-progressbar</code> can create tiny progress bar.</p>
								<div class="mb-lg">
									<ngb-progressbar type="theme" [value]="60" height="2px">.5rem</ngb-progressbar>
								</div>
							</div>
							<div class="col-12">
								<p>Small progress bar size. Using <code>height</code> attribute with <code>ngb-progressbar</code> can create small progress bar.</p>
								<div class="mb-lg">
									<ngb-progressbar type="theme" [value]="60" height="5px">5px</ngb-progressbar>
								</div>
							</div>
							<div class="col-12">
								<p>Medium sized progress bar size. Using <code>height</code> attribute with <code>ngb-progressbar</code> can create Medium progress bar.</p>
								<div class="mb-lg">
									<ngb-progressbar type="theme" [value]="60" height="10px">10px</ngb-progressbar>
								</div>
							</div>
							<div class="col-12">
								<p>Large sized progress bar size. Using <code>height</code> attribute with <code>ngb-progressbar</code> can create Large progress bar.</p>
								<div>
									<ngb-progressbar type="theme" [value]="60" height="15px">15px</ngb-progressbar>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- BOOTSTRAP TOOLTIP -->
		<div class="row">
			<div class="col-12 my-sm" id="component_tooltip">
				<div class="card">
					<div class="card-header">
						<h5 class="m-0">Tooltips</h5>
					</div>
					<div class="card-body">
						<button type="button" class="btn btn-outline-theme mb-xs" placement="right" ngbTooltip="Tooltip on right"> Tooltip on right </button>
						<button type="button" class="btn btn-outline-theme mb-xs" placement="top" ngbTooltip="Tooltip on top"> Tooltip on top </button>
						<button type="button" class="btn btn-outline-theme mb-xs" placement="bottom" ngbTooltip="Tooltip on bottom"> Tooltip on bottom </button>
						<button type="button" class="btn btn-outline-theme mb-xs" placement="left" ngbTooltip="Tooltip on left"> Tooltip on left </button>
					</div>
				</div>
			</div>
		</div>

		<!-- BOOTSTRAP POPOVER -->
		<div class="row">
			<div class="col-12 my-sm" id="component_popover">
				<div class="card">
					<div class="card-header">
						<h5 class="m-0">Popovers</h5>
					</div>
					<div class="card-body">
						<button type="button" class="btn btn-outline-theme" placement="right"
						ngbPopover="Popover on right" popoverTitle="Popover on right">
						Popover on right
						</button>
						<button type="button" class="btn btn-outline-theme" placement="top"
						ngbPopover="Popover on top" popoverTitle="Popover on top">
						Popover on top
						</button>
						<button type="button" class="btn btn-outline-theme" placement="bottom"
						ngbPopover="Popover on bottom" popoverTitle="Popover on bottom">
						Popover on bottom
						</button>
						<button type="button" class="btn btn-outline-theme" placement="left"
						ngbPopover="Popover on left" popoverTitle="Popover on left">
						Popover on left
						</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Bootstrap Dropdown with effects -->
		<div class="row">
			<div class="col-12 my-sm">
				<div class="card">
					<div class="card-header">
						<h5 class="m-0">Bootstrap Dropdown with effects</h5>
					</div>
					<div class="card-body">
						<span>Example of animated bootstrap dropdown</span>
						<div class="row">
							<div class="col-12 notification-dropdown">
								<div class="dropdown dropdown-animating text-center float-left">
									<button class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="fa fa-bell-o"></i></button>
									<div class="dropdown-menu dropdown-menu-left notification-dropdown" data-dropdown-in="lightSpeedIn" data-dropdown-out="lightSpeedOut">
										<ul class="list-block">
											<li>
												<a href="javascript:;">
													<span class="text-info"><i class="fa fa-address-card"></i><span>Notice 1</span></span>
												</a>
											</li>
											<li>
												<a href="javascript:;">
													<span class="text-success"><i class="fa fa-cubes"></i><span>Notice 2</span></span>
												</a>
											</li>
											<li>
												<a href="javascript:;">
													<span class="text-warning"><i class="fa fa-comments-o"></i><span>Notice 3</span></span>
												</a>
											</li>
											<li>
												<a href="javascript:;">
													<span class="text-success"><i class="fa fa-envelope"></i><span>Notice 4</span></span>
												</a>
											</li>
											<li>
												<a href="javascript:;">
													<span class="text-danger"><i class="fa fa-dot-circle-o"></i><span>Notice 5</span></span>
												</a>
											</li>
										</ul>
										<div class="navbar-footer"><span>View all</span></div>
									</div>
								</div>

								<div class="dropdown dropdown-animating text-center float-left ml-sm">
									<button class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="fa fa-envelope"></i></button>
									<div class="dropdown-menu dropdown-menu-left notification-dropdown" data-dropdown-in="zoomInDown" data-dropdown-out="zoomOutUp">
										<ul class="list-block">
											<li>
												<a href="javascript:;">
													<span class="text-info"><i class="fa fa-address-card"></i><span>Notice 1</span></span>
												</a>
											</li>
											<li>
												<a href="javascript:;">
													<span class="text-success"><i class="fa fa-cubes"></i><span>Notice 2</span></span>
												</a>
											</li>
											<li>
												<a href="javascript:;">
													<span class="text-warning"><i class="fa fa-comments-o"></i><span>Notice 3</span></span>
												</a>
											</li>
											<li>
												<a href="javascript:;">
													<span class="text-success"><i class="fa fa-envelope"></i><span>Notice 4</span></span>
												</a>
											</li>
											<li>
												<a href="javascript:;">
													<span class="text-danger"><i class="fa fa-dot-circle-o"></i><span>Notice 5</span></span>
												</a>
											</li>
										</ul>
										<div class="navbar-footer"><span>View all</span></div>
									</div>
								</div>

								<div class="dropdown dropdown-animating text-center float-left ml-sm">
									<button class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="fa fa-comments-o"></i></button>
									<div class="dropdown-menu dropdown-menu-left notification-dropdown" data-dropdown-in="rollIn" data-dropdown-out="rollOut">
										<ul class="list-block">
											<li>
												<a href="javascript:;">
													<span class="text-info"><i class="fa fa-address-card"></i><span>Notice 1</span></span>
												</a>
											</li>
											<li>
												<a href="javascript:;">
													<span class="text-success"><i class="fa fa-cubes"></i><span>Notice 2</span></span>
												</a>
											</li>
											<li>
												<a href="javascript:;">
													<span class="text-warning"><i class="fa fa-comments-o"></i><span>Notice 3</span></span>
												</a>
											</li>
											<li>
												<a href="javascript:;">
													<span class="text-success"><i class="fa fa-envelope"></i><span>Notice 4</span></span>
												</a>
											</li>
											<li>
												<a href="javascript:;">
													<span class="text-danger"><i class="fa fa-dot-circle-o"></i><span>Notice 5</span></span>
												</a>
											</li>
										</ul>
										<div class="navbar-footer"><span>View all</span></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-12 my-sm">
				<div class="card">
					<div class="card-header">
						<h5 class="m-0">Badges</h5>
					</div>
					<div class="card-body">
						<div class="mb-md">
							<h5 class="my-sm"> Badges with button <code>.badge .badge-pill badge-*</code>. </h5>
							<button class="btn mb-xs btn-theme" type="button">
								Messages <span class="badge badge-pill badge-light">2</span>
							</button>
							<button class="btn mb-xs btn-success" type="button">
								Profile <span class="badge badge-pill badge-light">4</span>
							</button>
							<button class="btn mb-xs btn-primary" type="button">
								Inbox <span class="badge badge-pill badge-light">2</span>
							</button>
							<button class="btn mb-xs btn-info" type="button">
								Home <span class="badge badge-pill badge-light">32</span>
							</button>
							<button class="btn mb-xs btn-warning" type="button">
								Work <span class="badge badge-pill badge-light">14</span>
							</button>
							<button class="btn mb-xs btn-danger" type="button">
								Messages <span class="badge badge-pill badge-light">8</span>
							</button>
						</div>

						<div>
							<h5 class="my-sm"> Badges with list <code>.badge .badge-pill badge-*</code>. </h5>
							<ul class="nav nav-pills" role="tablist">
								<li role="presentation">
									<a href="javascript:;" class="text-theme p-sm">
										Messages<span class="badge badge-pill badge-theme mx-xs">2</span>
									</a>
								</li>
								<li role="presentation">
									<a href="javascript:;" class="text-success p-sm">
										Profile<span class="badge badge-pill badge-success mx-xs">4</span>
									</a>
								</li>
								<li role="presentation">
									<a href="javascript:;" class="text-primary p-sm">
										Inbox<span class="badge badge-pill badge-primary mx-xs">2</span>
									</a>
								</li>
								<li role="presentation">
									<a href="javascript:;" class="text-info p-sm">
										Work<span class="badge badge-pill badge-info mx-xs">32</span>
									</a>
								</li>
								<li role="presentation">
									<a href="javascript:;" class="text-warning p-sm">
										Home<span class="badge badge-pill badge-warning mx-xs">14</span>
									</a>
								</li>
								<li role="presentation">
									<a href="javascript:;" class="text-danger p-sm">
										Messages<span class="badge badge-pill badge-danger mx-xs">8</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-12 my-sm">
				<div class="card">
					<div class="card-header">
						<h5 class="m-0">Images</h5>
					</div>
					<div class="card-body">
						<img src="assets/images/image.svg" alt="RTDL Image" class="rounded img-component m-xs">
						<img src="assets/images/image.svg" alt="RTDL Image" class="rounded-circle img-component m-xs">
						<img src="assets/images/image.svg" alt="RTDL Image" class="img-thumbnail img-component m-xs">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>