<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">Miscellaneous Page</a></li>
							<li class="breadcrumb-item active text-dg">Contact</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-globe menu-icon" aria-hidden="true"></i> Contact</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Contact Box Content -->
<div class="row mt-sm">

	<!-- Demo 1 -->
	<div class="col-xl-4 col-lg-6 col-md-12 col-sm-6 col-12 px-xlg">
		<div class="contact-secondary">
			<div class="contact-info p-sm pl-md">
				<div class="row">
					<div class="col-4">
						<div>
							<div class="img-block">
								<div class="name mb-sm"><strong>CEO</strong></div>
								<div>
									<img src="assets/images/portrait/avatar5.png" alt="RTDL Image" class="avatar avatar-md rounded-circle">
								</div>
								<div class="social pt-sm font-14">
									<a href="javascript:;"><i class="fa fa-skype text-mg"></i></a>
									<a href="javascript:;"><i class="fa fa-google text-mg"></i></a>
									<a href="javascript:;"><i class="fa fa-twitter text-mg"></i></a>
									<a href="javascript:;"><i class="fa fa-facebook text-mg"></i></a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-8 p-0">
						<div class="info-block pl-xlg">
							<div class="detail name"><h4 class="m-0"> John Smith</h4></div>
							<div class="detail"><i class="fa fa-map-marker font-14"></i><span> London state 50/250</span></div>
							<div class="detail pt-md">
								<div><span> <strong>Address</strong> </span></div>
								<div><span> 725 Macau, south east 200 </span></div>
								<div><span> san francisco, CA 19999 </span></div>
								<div><span> Ph: (123) 456-789 </span></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-lg-6 col-md-12 col-sm-6 col-12 px-xlg">
		<div class="contact-secondary">
			<div class="contact-info p-sm pl-md">
				<div class="row">
					<div class="col-4">
						<div>
							<div class="img-block">
								<div class="name mb-sm"><strong>Graphic Designer</strong></div>
								<div>
									<img src="assets/images/portrait/avatar6.png" alt="RTDL Image" class="avatar avatar-md rounded-circle">
								</div>
								<div class="social pt-sm font-14">
									<a href="javascript:;"><i class="fa fa-skype text-mg"></i></a>
									<a href="javascript:;"><i class="fa fa-google text-mg"></i></a>
									<a href="javascript:;"><i class="fa fa-twitter text-mg"></i></a>
									<a href="javascript:;"><i class="fa fa-facebook text-mg"></i></a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-8 p-0">
						<div class="info-block pl-xlg">
							<div class="detail name"><h4 class="m-0"> Smith John</h4></div>
							<div class="detail"><i class="fa fa-map-marker font-14"></i><span> London state 50/250</span></div>
							<div class="detail pt-md">
								<div><span> <strong>Address</strong> </span></div>
								<div><span> 725 Macau, south east 200 </span></div>
								<div><span> san francisco, CA 19999 </span></div>
								<div><span> Ph: (123) 456-789 </span></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-lg-6 col-md-12 col-sm-6 col-12 px-xlg">
		<div class="contact-secondary">
			<div class="contact-info p-sm pl-md">
				<div class="row">
					<div class="col-4">
						<div>
							<div class="img-block">
								<div class="name mb-sm"><strong>Developer</strong></div>
								<div>
									<img src="assets/images/portrait/avatar7.png" alt="RTDL Image" class="avatar avatar-md rounded-circle">
								</div>
								<div class="social pt-sm font-14">
									<a href="javascript:;"><i class="fa fa-skype text-mg"></i></a>
									<a href="javascript:;"><i class="fa fa-google text-mg"></i></a>
									<a href="javascript:;"><i class="fa fa-twitter text-mg"></i></a>
									<a href="javascript:;"><i class="fa fa-facebook text-mg"></i></a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-8 p-0">
						<div class="info-block pl-xlg">
							<div class="detail name"><h4 class="m-0"> Addison</h4></div>
							<div class="detail"><i class="fa fa-map-marker font-14"></i><span> London state 50/250</span></div>
							<div class="detail pt-md">
								<div><span> <strong>Address</strong> </span></div>
								<div><span> 725 Macau, south east 200 </span></div>
								<div><span> san francisco, CA 19999 </span></div>
								<div><span> Ph: (123) 456-789 </span></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Demo 2 -->
	<div class="col-xl-4 col-lg-6 col-md-12 col-sm-6 col-12 px-xlg">
		<div class="contact-primary">
			<div class="contact-info p-sm pl-md">
				<div class="row">
					<div class="col-8">
						<div class="info-block">
							<div class="detail name"><h4 class="m-0"> John Smith</h4></div>
							<div class="detail"><i class="fa fa-map-marker font-14"></i><span> London state 50/250</span></div>
							<div class="detail pt-md">
								<div><span> <strong>Address</strong> </span></div>
								<div><span> 725 Macau, south east 200 </span></div>
								<div><span> san francisco, CA 19999 </span></div>
								<div><span> Ph: (123) 456-789 </span></div>
							</div>
						</div>
					</div>
					<div class="col-4">
						<div class="float-right">
							<div class="img-block">
								<div class="name text-center mb-sm"><strong>CEO</strong></div>
								<div>
									<div class="text-center">
										<img src="assets/images/portrait/avatar1.png" alt="RTDL Image" class="avatar avatar-md rounded-circle">
									</div>
								</div>
								<div class="social text-center pt-sm font-14">
									<a href="javascript:;"><i class="fa fa-skype text-mg"></i></a>
									<a href="javascript:;"><i class="fa fa-google text-mg"></i></a>
									<a href="javascript:;"><i class="fa fa-twitter text-mg"></i></a>
									<a href="javascript:;"><i class="fa fa-facebook text-mg"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-lg-6 col-md-12 col-sm-6 col-12 px-xlg">
		<div class="contact-primary">
			<div class="contact-info p-sm pl-md">
				<div class="row">
					<div class="col-8">
						<div class="info-block">
							<div class="detail name"><h4 class="m-0"> Addison</h4></div>
							<div class="detail"><i class="fa fa-map-marker font-14"></i><span> London state 50/250</span></div>
							<div class="detail pt-md">
								<div><span> <strong>Address</strong> </span></div>
								<div><span> 725 Macau, south east 200 </span></div>
								<div><span> san francisco, CA 19999 </span></div>
								<div><span> Ph: (123) 456-789 </span></div>
							</div>
						</div>
					</div>
					<div class="col-4">
						<div class="float-right">
							<div class="img-block">
								<div class="name text-center mb-sm"><strong>Developer</strong></div>
								<div>
									<div class="text-center">
										<img src="assets/images/portrait/avatar2.png" alt="RTDL Image" class="avatar avatar-md rounded-circle">
									</div>
								</div>
								<div class="social text-center pt-sm font-14">
									<a href="javascript:;"><i class="fa fa-skype text-mg"></i></a>
									<a href="javascript:;"><i class="fa fa-google text-mg"></i></a>
									<a href="javascript:;"><i class="fa fa-twitter text-mg"></i></a>
									<a href="javascript:;"><i class="fa fa-facebook text-mg"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-lg-6 col-md-12 col-sm-6 col-12 px-xlg">
		<div class="contact-primary">
			<div class="contact-info p-sm pl-md">
				<div class="row">
					<div class="col-8">
						<div class="info-block">
							<div class="detail name"><h4 class="m-0"> Adamaris</h4></div>
							<div class="detail"><i class="fa fa-map-marker font-14"></i><span> London state 50/250</span></div>
							<div class="detail pt-md">
								<div><span> <strong>Address</strong> </span></div>
								<div><span> 725 Macau, south east 200 </span></div>
								<div><span> san francisco, CA 19999 </span></div>
								<div><span> Ph: (123) 456-789 </span></div>
							</div>
						</div>
					</div>
					<div class="col-4">
						<div class="float-right">
							<div class="img-block">
								<div class="name text-center mb-sm"><strong>Graphic Designer</strong></div>
								<div>
									<div class="text-center">
										<img src="assets/images/portrait/avatar3.png" alt="RTDL Image" class="avatar avatar-md rounded-circle">
									</div>
								</div>
								<div class="social text-center pt-sm font-14">
									<a href="javascript:;"><i class="fa fa-skype text-mg"></i></a>
									<a href="javascript:;"><i class="fa fa-google text-mg"></i></a>
									<a href="javascript:;"><i class="fa fa-twitter text-mg"></i></a>
									<a href="javascript:;"><i class="fa fa-facebook text-mg"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Demo 3 -->
	<div class="col-xl-4 col-lg-6 col-md-12 col-sm-6 col-12 px-xlg">
		<div class="contact-tertiary">
			<div class="row">
				<div class="col-12 p-0">
					<div class="img-block p-sm">
						<div class="float-left pl-md">
							<img src="assets/images/portrait/avatar3.png" alt="RTDL Image" class="avatar avatar-md rounded-circle">
						</div>
						<div class="contact-name pt-xs pl-md float-left">
							Tester
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="contact-info p-sm pl-md">
						<div class="social float-right pt-sm font-14">
							<a href="javascript:;"><i class="fa fa-skype text-mg"></i></a>
							<a href="javascript:;"><i class="fa fa-google text-mg"></i></a>
							<a href="javascript:;"><i class="fa fa-twitter text-mg"></i></a>
							<a href="javascript:;"><i class="fa fa-facebook text-mg"></i></a>
						</div>
						<div class="detail name"><h4 class="m-0"> Smith john</h4></div>
						<div class="detail"><i class="fa fa-map-marker font-14"></i><span> London state 50/250</span></div>
						<div class="detail address">
							<div><span> <strong>Address</strong> </span></div>
							<div><span> 725 Macau, south east 200 </span></div>
							<div><span> san francisco, CA 19999 </span></div>
							<div><span> Ph: (123) 456-789 </span></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-lg-6 col-md-12 col-sm-6 col-12 px-xlg">
		<div class="contact-tertiary">
			<div class="row">
				<div class="col-12 p-0">
					<div class="img-block p-sm">
						<div class="float-left pl-md">
							<img src="assets/images/portrait/avatar4.png" alt="RTDL Image" class="avatar avatar-md rounded-circle">
						</div>
						<div class="contact-name pt-xs pl-md float-left">
							Developer
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="contact-info p-sm pl-md">
						<div class="social float-right pt-sm font-14">
							<a href="javascript:;"><i class="fa fa-skype text-mg"></i></a>
							<a href="javascript:;"><i class="fa fa-google text-mg"></i></a>
							<a href="javascript:;"><i class="fa fa-twitter text-mg"></i></a>
							<a href="javascript:;"><i class="fa fa-facebook text-mg"></i></a>
						</div>
						<div class="detail name"><h4 class="m-0"> Addison</h4></div>
						<div class="detail"><i class="fa fa-map-marker font-14"></i><span> London state 50/250</span></div>
						<div class="detail address">
							<div><span> <strong>Address</strong> </span></div>
							<div><span> 725 Macau, south east 200 </span></div>
							<div><span> san francisco, CA 19999 </span></div>
							<div><span> Ph: (123) 456-789 </span></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-lg-6 col-md-12 col-sm-6 col-12 px-xlg">
		<div class="contact-tertiary">
			<div class="row">
				<div class="col-12 p-0">
					<div class="img-block p-sm">
						<div class="float-left pl-md">
							<img src="assets/images/portrait/avatar2.png" alt="RTDL Image" class="avatar avatar-md rounded-circle">
						</div>
						<div class="contact-name pt-xs pl-md float-left">
							Graphic Designer
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="contact-info p-sm pl-md">
						<div class="social float-right pt-sm font-14">
							<a href="javascript:;"><i class="fa fa-skype text-mg"></i></a>
							<a href="javascript:;"><i class="fa fa-google text-mg"></i></a>
							<a href="javascript:;"><i class="fa fa-twitter text-mg"></i></a>
							<a href="javascript:;"><i class="fa fa-facebook text-mg"></i></a>
						</div>
						<div class="detail name"><h4 class="m-0"> Adamaris</h4></div>
						<div class="detail"><i class="fa fa-map-marker font-14"></i><span> London state 50/250</span></div>
						<div class="detail address">
							<div><span> <strong>Address</strong> </span></div>
							<div><span> 725 Macau, south east 200 </span></div>
							<div><span> san francisco, CA 19999 </span></div>
							<div><span> Ph: (123) 456-789 </span></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>