<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">MailBox</a></li>
							<li class="breadcrumb-item active text-dg">Inbox</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-envelope-o menu-icon" aria-hidden="true"></i> Inbox</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Inbox Content -->
<div class="compose-block col-lg-9 col-12 p-0 animated fadeInRight">
	<div class="compose-mail">
		<div class="header height-50">
			<div class="name"><span>New Message</span></div>
			<div class="action float-right">
				<a href="javascript:;" class="compose-mail-close text-mg"><i class="fa fa-times"></i></a>
			</div>
		</div>
		<div class="compose-message">
			<div class="mail-option">
				<div class="form-group">
					<div class="row mx-0">
						<select id="toEmail" class="selectize-email col-lg-10 col-md-10 col-sm-8 col-8 pl-0"></select>
						<div class="col-lg-2 col-md-2 col-sm-4 col-4 p-0">
							<a href="javascript:;" id="isBccShow" class="text-mg float-right p-xs">Bcc</a>
							<a href="javascript:;" id="isCcShow" class="text-mg float-right p-xs">Cc</a>
						</div>
					</div>
				</div>
			</div>
			<div class="mail-option" style="display:none;">
				<div class="form-group">
					<select id="ccEmail" class="selectize-email"></select>
				</div>
			</div>
			<div class="mail-option" style="display:none;">
				<div class="form-group">
					<select id="bccEmail" class="selectize-email"></select>
				</div>
			</div>
			<div class="mail-option">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Subject" />
				</div>
			</div>
			<div class="mail-option">
				<div class="form-group">
					<div class="heading">
						<span>Message</span>
						<span class="btn button-theme tool" id="mail-tool">Format</span>
					</div>
				</div>
			</div>
			<div class="message" id="mail-editor-scroll">
				<div id="mail-editor"></div>
			</div>
		</div>
		<div class="mail-footer height-50">
			<div class="float-right right-block">
				<button type="button" class="btn btn-primary send">Send</button>
			</div>
		</div>
	</div>
</div>
<div class="row mail" id="mail-inbox">
	<div class="col-xl-3 col-lg-4 col-md-12 col-12 my-sm">
		<a href="javascript:;" class="btn btn-primary btn-block compose-btn btn-lg mailBoxScrollToTop" id="compose-mail-open">Compose</a>
		<nav class="navbar navbar-expand-md navbar-light bg-light p-0 my-sm">
			<div class="p-sm d-md-none">
				<a class="navbar-brand" href="javascript:;"><i class="fa fa-folder" aria-hidden="true"></i> Folders</a>
			</div>
			<button class="navbar-toggler mr-sm" type="button" data-toggle="collapse" data-target="#mail-folders" aria-controls="mail-folders" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="mail-folders">
				<ul class="list-group w-100 custom-list-group">
					<li class="list-group-item active p-0 d-flex compose-mail-close scrollToBottom">
						<a href="javascript:;" class="text-dg col-12 py-sm px-xlg">
							<i class="fa fa-inbox"></i>&nbsp;&nbsp;Inbox
							<span class="badge badge-primary float-right">12</span>
						</a>
					</li>
					<li class="list-group-item p-0 compose-mail-close scrollToBottom">
						<a href="javascript:;" class="text-dg d-flex col-12 py-sm px-xlg">
						<i class="fa fa-envelope-o"></i>&nbsp;&nbsp;Sent</a>
					</li>
					<li class="list-group-item p-0 compose-mail-close scrollToBottom">
						<a href="javascript:;" class="text-dg d-flex col-12 py-sm px-xlg">
							<i class="fa fa-file-text-o"></i>&nbsp;&nbsp;Drafts
						</a>
					</li>
					<li class="list-group-item p-0 d-flex compose-mail-close scrollToBottom">
						<a href="javascript:;" class="text-dg col-12 py-sm px-xlg">
							<i class="fa fa-filter"></i>&nbsp;&nbsp;Junk
							<span class="badge badge-warning float-right">65</span>
						</a>
					</li>
					<li class="list-group-item p-0 compose-mail-close scrollToBottom">
						<a href="javascript:;" class="text-dg d-flex col-12 py-sm px-xlg">
							<i class="fa fa-trash-o"></i>&nbsp;&nbsp;Trash
						</a>
					</li>
				</ul>
			</div>
		</nav>

		<nav class="navbar navbar-expand-md navbar-light bg-light p-0 my-sm">
			<div class="p-sm d-md-none">
				<a class="navbar-brand" href="javascript:;"><i class="fa fa-sitemap" aria-hidden="true"></i> Groups</a>
			</div>
			<button class="navbar-toggler mr-sm" type="button" data-toggle="collapse" data-target="#mail-groups" aria-controls="mail-groups" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="mail-groups">
				<ul class="list-group w-100 custom-list-group">
					<li class="list-group-item">
						<a href="javascript:;" class="p-sm"><i class="fa fa-circle-o text-primary"></i><span class="text-primary">&nbsp;&nbsp;Work</span></a>
					</li>
					<li class="list-group-item">
						<a href="javascript:;" class="p-sm"><i class="fa fa-circle-o text-success"></i><span class="text-success">&nbsp;&nbsp;Document</span></a>
					</li>
					<li class="list-group-item">
						<a href="javascript:;" class="p-sm"><i class="fa fa-circle-o text-info"></i><span class="text-info">&nbsp;&nbsp;Social</span></a>
					</li>
					<li class="list-group-item">
						<a href="javascript:;" class="p-sm"><i class="fa fa-circle-o text-warning"></i><span class="text-warning">&nbsp;&nbsp;Advertising</span></a>
					</li>
					<li class="list-group-item">
						<a href="javascript:;" class="p-sm"><i class="fa fa-circle-o text-danger"></i><span class="text-danger">&nbsp;&nbsp;Important</span></a>
					</li>
				</ul>
			</div>
		</nav>
		<h4 class="font-os-thin my-md">Labels</h4>
		<span class="badge badge-primary d-inline-block"><i class="fa fa-tag"></i> Work</span>
		<span class="badge badge-info d-inline-block"><i class="fa fa-tag"></i> Social</span>
		<span class="badge badge-warning d-inline-block"><i class="fa fa-tag"></i> Client</span>
		<span class="badge badge-danger d-inline-block"><i class="fa fa-tag"></i> Film</span>
		<span class="badge badge-success d-inline-block"><i class="fa fa-tag"></i> Study</span>
		<span class="badge badge-primary d-inline-block"><i class="fa fa-tag"></i> Family</span>
		<span class="badge badge-danger d-inline-block"><i class="fa fa-tag"></i> Music</span>
		<span class="badge badge-warning d-inline-block"><i class="fa fa-tag"></i> Home</span>
		<span class="badge badge-success d-inline-block"><i class="fa fa-tag"></i> Holidays</span>
		<span class="badge badge-info d-inline-block"><i class="fa fa-tag"></i> Photography</span>
	</div>
	<div class="col-xl-9 col-lg-8 col-md-12 col-sm-12 col-12 my-sm animated fadeInRight" id="inbox-block">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Inbox</h5>
			</div>
			<div class="card-body p-0">
				<div class="p-sm">
					<button type="button" class="btn btn-outline-secondary mb-xs px-sm py-xs checkbox-toggle"><i class="fa fa-square-o fa-lg"></i></button>
					<button type="button" class="btn btn-outline-secondary mb-xs px-sm py-xs"><i class="fa fa-trash-o fa-lg"></i></button>
					<button type="button" class="btn btn-outline-secondary mb-xs px-sm py-xs"><i class="fa fa-reply fa-lg"></i></button>
					<button type="button" class="btn btn-outline-secondary mb-xs px-sm py-xs"><i class="fa fa-share fa-lg"></i></button>
					<button type="button" class="btn btn-outline-secondary mb-xs px-sm py-xs"><i class="fa fa-refresh fa-lg"></i></button>
					<div class="float-right search">
						<input type="text" class="form-control mb-xs" placeholder="Search Mail">
					</div>
				</div>
				<div class="table-responsive">
					<table class="table table-hover m-0 ellipsis">
						<tbody>
							<tr>
								<td>
									<div class="square">
										<input type="checkbox">
									</div>
								</td>
								<td><a href="javascript:;"><i class="fa fa-star-o text-yellow"></i></a></td>
								<td><a routerLink="/mailbox/readmail"><b>John S.</b></a></td>
								<td></td>
								<td><a routerLink="/mailbox/readmail"><b>Launching a good pad</b> - Developing hard to get rid on everything..</a></td>
								<td><a routerLink="/mailbox/readmail"><i class="fa fa-paperclip"></i></a></td>
								<td><a routerLink="/mailbox/readmail">28 mins ago</a></td>
							</tr>
							<tr>
								<td>
									<div class="square">
										<input type="checkbox">
									</div>
								</td>
								<td><a href="javascript:;"><i class="fa fa-star-o text-yellow"></i></a></td>
								<td><a routerLink="/mailbox/readmail">John S.</a></td>
								<td><span class="badge badge-success">Promotions</span></td>
								<td><a routerLink="/mailbox/readmail">Launching a good pad - Developing hard to get rid on everything..</a></td>
								<td></td>
								<td><a routerLink="/mailbox/readmail">28 mins ago</a></td>
							</tr>
							<tr>
								<td>
									<div class="square">
										<input type="checkbox">
									</div>
								</td>
								<td><a href="javascript:;"><i class="fa fa-star-o text-yellow"></i></a></td>
								<td><a routerLink="/mailbox/readmail">John S.</a></td>
								<td></td>
								<td><a routerLink="/mailbox/readmail">Launching a good pad - Developing hard to get rid on everything..</a></td>
								<td><a routerLink="/mailbox/readmail"><i class="fa fa-paperclip"></i></a></td>
								<td><a routerLink="/mailbox/readmail">28 mins ago</a></td>
							</tr>
							<tr>
								<td>
									<div class="square">
										<input type="checkbox">
									</div>
								</td>
								<td><a href="javascript:;"><i class="fa fa-star-o text-yellow"></i></a></td>
								<td><a routerLink="/mailbox/readmail"><b>John S.</b></a></td>
								<td></td>
								<td><a routerLink="/mailbox/readmail"><b>Launching a good pad</b> - Developing hard to get rid on everything..</a></td>
								<td></td>
								<td><a routerLink="/mailbox/readmail">28 mins ago</a></td>
							</tr>
							<tr>
								<td>
									<div class="square">
										<input type="checkbox">
									</div>
								</td>
								<td><a href="javascript:;"><i class="fa fa-star-o text-yellow"></i></a></td>
								<td><a routerLink="/mailbox/readmail">John S.</a></td>
								<td><span class="badge badge-info">Social</span></td>
								<td><a routerLink="/mailbox/readmail">Launching a good pad - Developing hard to get rid on everything..</a></td>
								<td><a routerLink="/mailbox/readmail"><i class="fa fa-paperclip"></i></a></td>
								<td><a routerLink="/mailbox/readmail">28 mins ago</a></td>
							</tr>
							<tr>
								<td>
									<div class="square">
										<input type="checkbox">
									</div>
								</td>
								<td><a href="javascript:;"><i class="fa fa-star-o text-yellow"></i></a></td>
								<td><a routerLink="/mailbox/readmail">John S.</a></td>
								<td></td>
								<td><a routerLink="/mailbox/readmail">Launching a good pad - Developing hard to get rid on everything..</a></td>
								<td></td>
								<td><a routerLink="/mailbox/readmail">28 mins ago</a></td>
							</tr>
							<tr>
								<td>
									<div class="square">
										<input type="checkbox">
									</div>
								</td>
								<td><a href="javascript:;"><i class="fa fa-star-o text-yellow"></i></a></td>
								<td><a routerLink="/mailbox/readmail"><b>John S.</b></a></td>
								<td></td>
								<td><a routerLink="/mailbox/readmail"><b>Launching a good pad</b> - Developing hard to get rid on everything..</a></td>
								<td></td>
								<td><a routerLink="/mailbox/readmail">28 mins ago</a></td>
							</tr>
							<tr>
								<td>
									<div class="square">
										<input type="checkbox">
									</div>
								</td>
								<td><a href="javascript:;"><i class="fa fa-star-o text-yellow"></i></a></td>
								<td><a routerLink="/mailbox/readmail">John S.</a></td>
								<td></td>
								<td><a routerLink="/mailbox/readmail">Launching a good pad - Developing hard to get rid on everything..</a></td>
								<td><a routerLink="/mailbox/readmail"><i class="fa fa-paperclip"></i></a></td>
								<td><a routerLink="/mailbox/readmail">28 mins ago</a></td>
							</tr>
							<tr>
								<td>
									<div class="square">
										<input type="checkbox">
									</div>
								</td>
								<td><a href="javascript:;"><i class="fa fa-star-o text-yellow"></i></a></td>
								<td><a routerLink="/mailbox/readmail">John S.</a></td>
								<td></td>
								<td><a routerLink="/mailbox/readmail">Launching a good pad - Developing hard to get rid on everything..</a></td>
								<td></td>
								<td><a routerLink="/mailbox/readmail">28 mins ago</a></td>
							</tr>
							<tr>
								<td>
									<div class="square">
										<input type="checkbox">
									</div>
								</td>
								<td><a href="javascript:;"><i class="fa fa-star-o text-yellow"></i></a></td>
								<td><a routerLink="/mailbox/readmail">John S.</a></td>
								<td><span class="badge badge-danger">Important</span></td>
								<td><a routerLink="/mailbox/readmail">Launching a good pad - Developing hard to get rid on everything..</a></td>
								<td><a routerLink="/mailbox/readmail"><i class="fa fa-paperclip"></i></a></td>
								<td><a routerLink="/mailbox/readmail">28 mins ago</a></td>
							</tr>
							<tr>
								<td>
									<div class="square">
										<input type="checkbox">
									</div>
								</td>
								<td><a href="javascript:;"><i class="fa fa-star-o text-yellow"></i></a></td>
								<td><a routerLink="/mailbox/readmail">John S.</a></td>
								<td></td>
								<td><a routerLink="/mailbox/readmail">Launching a good pad - Developing hard to get rid on everything..</a></td>
								<td></td>
								<td><a routerLink="/mailbox/readmail">28 mins ago</a></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="box-footer p-sm">
					<div class="pagination-theme">
						<ngb-pagination [collectionSize]="50" class="d-flex justify-content-end" page="2"></ngb-pagination>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>