/******************************************************
 ** Helper-classes.less
 ** 
 ** Helper classes for the theme.
 ** Developer: Ranpariya - The Development Lab - India
 ******************************************************/

/******************
 * Generalize CSS
 ******************/
// body { font-family: @open-sans !important; }
a { text-decoration: none; }
h1 { font-size: 36px; }
h2 { font-size: 30px; }
h3 { font-size: 24px; }
h4 { font-size: 18px; }
h5 { font-size: 14px; }
h6 { font-size: 12px; }

/****************
 * Border Helpers
 ****************/
.bordered { border: 1px solid @light-gray; }
.border-theme { border: 1px solid @theme-color !important; }
.border-t { border-top: 1px solid @light-gray; }
.border-r { border-right: 1px solid @light-gray; }
.border-b { border-bottom: 1px solid @light-gray; }
.border-l { border-left: 1px solid @light-gray; }
.border-t-b { border-top: 1px solid @light-gray; border-bottom: 1px solid @light-gray; }
.border-l-r { border-left: 1px solid @light-gray; border-right: 1px solid @light-gray; }

/***********************
 * Border Radius Helpers
 ***********************/
.border-r-sm { border-radius: 3px; }
.border-r-md { border-radius: 6px; }
.border-r-lg { border-radius: 12px; }
.border-r-xlg { border-radius: 24px; }

/*******************
 * Margins Helpers
 *******************/
.m-xs { margin: 5px; }
.mt-xs { margin-top: 5px; }
.mr-xs { margin-right: 5px; }
.mb-xs { margin-bottom: 5px; }
.ml-xs { margin-left: 5px; }
.my-xs { margin-top: 5px; margin-bottom: 5px; }
.mx-xs { margin-left: 5px; margin-right: 5px; }

.m-sm { margin: 10px; }
.mt-sm { margin-top: 10px; }
.mr-sm { margin-right: 10px; }
.mb-sm { margin-bottom: 10px; }
.ml-sm { margin-left: 10px; }
.my-sm { margin-top: 10px; margin-bottom: 10px; }
.mx-sm { margin-left: 10px; margin-right: 10px; }

.m-md { margin: 15px; }
.mt-md { margin-top: 15px; }
.mr-md { margin-right: 15px; }
.mb-md { margin-bottom: 15px; }
.ml-md { margin-left: 15px; }
.my-md { margin-top: 15px; margin-bottom: 15px; }
.mx-md { margin-left: 15px; margin-right: 15px; }

.m-lg { margin: 20px; }
.mt-lg { margin-top: 20px; }
.mr-lg { margin-right: 20px; }
.mb-lg { margin-bottom: 20px; }
.ml-lg { margin-left: 20px; }
.my-lg { margin-top: 20px; margin-bottom: 20px; }
.mx-lg { margin-left: 20px; margin-right: 20px; }

.m-xlg { margin: 25px; }
.mt-xlg { margin-top: 25px; }
.mr-xlg { margin-right: 25px; }
.mb-xlg { margin-bottom: 25px; }
.ml-xlg { margin-left: 25px; }
.my-xlg { margin-top: 25px; margin-bottom: 25px; }
.mx-xlg { margin-left: 25px; margin-right: 25px; }

/******************
 * Paddings Helpers
 ******************/
.p-xs { padding: 5px; }
.pt-xs { padding-top: 5px; }
.pr-xs { padding-right: 5px; }
.pb-xs { padding-bottom: 5px; }
.pl-xs { padding-left: 5px; }
.py-xs { padding-top: 5px; padding-bottom: 5px; }
.px-xs { padding-left: 5px; padding-right: 5px; }

.p-sm { padding: 10px; }
.pt-sm { padding-top: 10px; }
.pr-sm { padding-right: 10px; }
.pb-sm { padding-bottom: 10px; }
.pl-sm { padding-left: 10px; }
.py-sm { padding-top: 10px; padding-bottom: 10px; }
.px-sm { padding-left: 10px; padding-right: 10px; }

.p-md { padding: 15px; }
.pt-md { padding-top: 15px; }
.pr-md { padding-right: 15px; }
.pb-md { padding-bottom: 15px; }
.pl-md { padding-left: 15px; }
.py-md { padding-top: 15px; padding-bottom: 15px; }
.px-md { padding-left: 15px; padding-right: 15px; }

.p-lg { padding: 20px; }
.pt-lg { padding-top: 20px; }
.pr-lg { padding-right: 20px; }
.pb-lg { padding-bottom: 20px; }
.pl-lg { padding-left: 20px; }
.py-lg { padding-top: 20px; padding-bottom: 20px; }
.px-lg { padding-left: 20px; padding-right: 20px; }

.p-xlg { padding: 25px; }
.pt-xlg { padding-top: 25px; }
.pr-xlg { padding-right: 25px; }
.pb-xlg { padding-bottom: 25px; }
.pl-xlg { padding-left: 25px; }
.py-xlg { padding-top: 25px; padding-bottom: 25px; }
.px-xlg { padding-left: 25px; padding-right: 25px; }

/*******************
 * Font/Text Helpers
 *******************/
.text-normal { font-weight: 400; }
.text-bold { font-weight: 700; }
.text-italic { font-style: italic; }
.text-strike { text-decoration: line-through; }

/********************
 * Font Size Helper
 ********************/
.font-os-thin { font-family: @open-sans; font-weight: 300; }
.font-os-bold { font-family: @open-sans; font-weight: 700; }
.font-os-normal { font-family: @open-sans; font-weight: 500; }
.font-roboto-thin { font-family: @Roboto; font-weight: 300; }
.font-roboto-bold { font-family: @Roboto; font-weight: 700; }
.font-roboto-normal { font-family: @Roboto; font-weight: 500; }
.font-24 { font-size: 24px; }
.font-16 { font-size: 16px; }
.font-14 { font-size: 14px; }
.font-12 { font-size: 12px; }
.font-10 { font-size: 10px; }

/*********************
 * Text Colors Helpers
 *********************/
.text-lg { color: @light-gray; }
.text-mdg { color: @medium-dark-gray; }
.text-dg { color: @dark-gray; }
.text-mb { color: @medium-black; }
.text-mg { color: @metalic-gray; }
.text-theme { color: @theme-color; } // Sets current theme color.

/**************************
 * Background colors Helper
 **************************/
.no-bg { background: transparent; }
.bg-theme { background-color: @theme-color; }
.bg-lg { background-color: @light-gray; }
.bg-mdg { background-color: @medium-dark-gray; }
.bg-dg { background-color: @dark-gray; }
.bg-mb { background-color: @medium-black; }
.bg-mg { background-color: @metalic-gray; }

/****************
 * Height Helpers
 ****************/
.height-30 { min-height: 30px; }
.height-40 { min-height: 40px; }
.height-50 { min-height: 50px; }
.height-100 { min-height: 100px; }
.height-150 { min-height: 150px; }
.height-200 { min-height: 200px; }
.height-320 { min-height: 320px; }

/***************
 * Width Helpers
 ***************/
.width-30 { min-width: 30px; }
.width-40 { min-width: 40px; }
.width-50 { min-width: 50px; }
.width-100 { min-width: 100px; }
.width-150 { min-width: 150px; }
.width-200 { min-width: 200px; }
.width-320 { min-width: 320px; }

/********************
 * Progress bar sizes
 ********************/
.progress {
  &.progress-xxs { height: 2px; }
  &.progress-xs { height: 5px; }
  &.progress-sm { height: 10px; }
  &.progress-lg { height: 20px; }
}

/****************************************************
 * Sets Mouse Selection color based on selected theme 
 ****************************************************/
::-moz-selection {
  color: @white-color;
  background: @theme-color;
}
::selection {
  color: @white-color;
  background: @theme-color;
}

/***************************
 * Avatar responsive classes
 ***************************/
.avatar {
  width: 32px;
  &.avatar-xxs { width: 16px; }
  &.avatar-xs { width: 24px; }
  &.avatar-sm { width: 32px; }
  &.avatar-md { width: 40px; }
  &.avatar-lg { width: 64px; }
  &.avatar-xl { width: 128px; }
  &.avatar-xxlg { width: 256px; }
}

/***********************************
 * Bootstrap Button Style Overwrite
 ***********************************/
.btn {
  border-radius: 0px;
  position:relative;
  overflow:hidden;
  .transition(all 0.2s ease);
  z-index:0;
  &.btn-theme {
    background-color: @theme-color;
    color: @white-color;
    &:hover {
      color: @white-color;
      background-color: @theme-hover-color;
    }
    &:active, &:focus {
      box-shadow: 0 0 0 0.2rem @theme-light-color;
    }
    .badge {
      background-color: @white-color;
      color: @theme-color;
    }
  }
  &.btn-outline-theme {
    color: @theme-color;
    background-color: transparent;
    border:1px solid;
    &:hover {
      color: @white-color;
      background-color: @theme-color !important;
      border-color: @theme-hover-color;
    }
    &:active, &:focus {
      box-shadow: 0 0 0 0.2rem @theme-light-color;
    }
  }

  /******************
   * Button rounded
   ******************/
  &.btn-rounded {
    border-radius: 50px !important;
  }

  /*****************
   * Raised Buttons
   ****************/
  .btn-ink {
    display: block;
    position: absolute;
    background:rgba(255, 255, 255, 0.3);
    border-radius: 100%;
    .transform(scale(0));
  }
  .btn-animate {
    .animation(ripple 0.65s linear);
  }
}

/* Write Comment here */
@-webkit-keyframes ripple {
  100% {
    opacity: 0;
    .transform(scale(2.5));
  }
}
@-moz-keyframes ripple {
  100% {
    opacity: 0;
    .transform(scale(2.5));
  }
}
@-o-keyframes ripple {
  100% {
    opacity: 0;
    .transform(scale(2.5));
  }
}
@keyframes ripple {
  100% {
    opacity: 0;
    .transform(scale(2.5));
  }
}

/********************************
 * Overwrite Form Elements Styles
 ********************************/
input, select, textarea {
  border-radius: 0px;
  box-shadow: none !important;
  background-color: transparent;
  &:focus {
    border: 1px solid @theme-color;
    box-shadow: none !important;
  }
}

/**********
 * Badges 
 **********/
.badge-theme, .theme-item {
  background-color: @theme-color;
  color: @white-color;
  * {
    color: @white-color;
  }
}
.theme-item:hover, .item-group:hover {   
  background-color: @theme-hover-color;
  a {
    background-color: @theme-hover-color;
  }
  * {
    color: @white-color;
  }
}

/************************
 * Table Style Overwrite
 ************************/
table {
  tr {
    td, th {
      vertical-align: middle;
    }
  }
}

@media (max-width: 767px) {
  .table-responsive {
    table {
      tr {
        td, th {
          white-space: nowrap !important;
        }
      }
    }
  }
}