<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">Project Management</a></li>
							<li class="breadcrumb-item active text-dg">Project Detail</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-tasks" aria-hidden="true"></i> Project Detail</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Project Detail Content -->
<div class="row">
	<div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-body p-0">
				<div class="progress-bg-white progress-rounded">
					<ngb-progressbar type="info" [value]="80" height="7px"></ngb-progressbar>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-12 p-xlg pb-0 mt-0">
						<button type="button" class="btn btn-sm btn-outline-secondary float-right">Edit Project</button>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-12 px-xlg pt-sm mt-0">
						<div class="row">
							<div class="col-lg-6 col-md-12 col-sm-12 col-12">
								<h3 class="font-os-thin mb-md mt-0">HR Portal</h3>
								<p class="font-os-thin mb-sm"><strong>Team Member(s):</strong></p>
								<div>
									<ul class="list-inline mb-sm">
										<li class="list-inline-item">
											<img src="assets/images/portrait/avatar1.png" class="avatar avatar-sm rounded-circle" data-toggle="tooltip" alt="RTDL Image" title="John Smith">
										</li>
										<li class="list-inline-item">
											<img src="assets/images/portrait/avatar2.png" class="avatar avatar-sm rounded-circle" data-toggle="tooltip" alt="RTDL Image" title="Addison">
										</li>
										<li class="list-inline-item">
											<img src="assets/images/portrait/avatar3.png" class="avatar avatar-sm rounded-circle" data-toggle="tooltip" alt="RTDL Image" title="Smith John">
										</li>
										<li class="list-inline-item">
											<img src="assets/images/portrait/avatar4.png" class="avatar avatar-sm rounded-circle" data-toggle="tooltip" alt="RTDL Image" title="Addison">
										</li>
										<li class="list-inline-item">
											<img src="assets/images/portrait/avatar5.png" class="avatar avatar-sm rounded-circle" data-toggle="tooltip" alt="RTDL Image" title="John Smith">
										</li>
									</ul>
								</div>
							</div>
							<div class="col-lg-6 col-md-12 col-sm-12 col-12">
								<div class="table-responsive">
									<table class="table">
										<tbody>
											<tr>
												<td><b>Started Date:</b></td>
												<td>July 10th, 2017</td>
											</tr>
											<tr>
												<td><b>Duration:</b></td>
												<td>July 10th, 2017 to October 15th, 2017</td>
											</tr>
											<tr>
												<td><b>Client:</b></td>
												<td><a href="javascript:;">John Smith</a></td>
											</tr>
											<tr>
												<td><b>Status:</b></td>
												<td><span class="badge badge-success">ACTIVE</span></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-12">
								<h3 class="font-os-thin mt-0">Activities</h3>
								<div class="table-responsive">
									<table class="table">
										<tbody>
											<tr>
												<th></th>
												<th>Title</th>
												<th>Comment</th>
												<th>StartTime</th>
												<th>EndTime</th>
												<th>Status</th>
											</tr>
											<tr>
												<td>
													<div class="media pl-sm pt-sm p-0 m-0">
														<div class="media-body">
															<a href="javascript:;" class="float-left">
																<img src="assets/images/portrait/avatar1.png" alt="RTDL Image" class="media-object avatar avatar-sm rounded-circle">
															</a>
														</div>
													</div>
												</td>
												<td>Complete work area parking</td>
												<td>
													<small>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text.</small>
												</td>
												<td>
													<small>10:10</small>
												</td>
												<td>
													<small>12:00 </small>
												</td>
												<td>
													<span class="badge badge-success">Completed</span>
												</td>
											</tr>
											<tr>
												<td>
													<div class="media pl-sm pt-sm p-0 m-0">
														<div class="media-body">
															<a href="javascript:;" class="float-left">
																<img src="assets/images/portrait/avatar2.png" alt="RTDL Image" class="media-object avatar avatar-sm rounded-circle">
															</a>
														</div>
													</div>
												</td>
												<td>Complete preparation of new work area</td>
												<td>
													<small>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text.</small>
												</td>
												<td>
													<small>10:22</small>
												</td>
												<td>
													<small>10:48 </small>
												</td>
												<td>
													<span class="badge badge-warning">sent</span>
												</td>
											</tr>
											<tr>
												<td>
													<div class="media pl-sm pt-sm p-0 m-0">
														<div class="media-body">
															<a href="javascript:;" class="float-left">
																<img src="assets/images/portrait/avatar3.png" alt="RTDL Image" class="media-object avatar avatar-sm rounded-circle">
															</a>
														</div>
													</div>
												</td>
												<td>Transport employee equipment</td>
												<td>
													<small>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text.</small>
												</td>
												<td>
													<small>11:02</small>
												</td>
												<td>
													<small>12:40 </small>
												</td>
												<td>
													<span class="badge badge-info">Accepted</span>
												</td>
											</tr>
											<tr>
												<td>
													<div class="media pl-sm pt-sm p-0 m-0">
														<div class="media-body">
															<a href="javascript:;" class="float-left">
																<img src="assets/images/portrait/avatar4.png" alt="RTDL Image" class="media-object avatar avatar-sm rounded-circle">
															</a>
														</div>
													</div>
												</td>
												<td>Complete discarding</td>
												<td>
													<small>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text.</small>
												</td>
												<td>
													<small>01:32</small>
												</td>
												<td>
													<small>02:00 </small>
												</td>
												<td>
													<span class="badge badge-success">Completed</span>
												</td>
											</tr>
											<tr>
												<td>
													<div class="media pl-sm pt-sm p-0 m-0">
														<div class="media-body">
															<a href="javascript:;" class="float-left">
																<img src="assets/images/portrait/avatar5.png" alt="RTDL Image" class="media-object avatar avatar-sm rounded-circle">
															</a>
														</div>
													</div>
												</td>
												<td>Complete new workspace connections</td>
												<td>
													<small>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text.</small>
												</td>
												<td>
													<small>03:24</small>
												</td>
												<td>
													<small>07:00 </small>
												</td>
												<td>
													<span class="badge badge-info">Accepted</span>
												</td>
											</tr>
											<tr>
												<td>
													<div class="media pl-sm pt-sm p-0 m-0">
														<div class="media-body">
															<a href="javascript:;" class="float-left">
																<img src="assets/images/portrait/avatar6.png" alt="RTDL Image" class="media-object avatar avatar-sm rounded-circle">
															</a>
														</div>
													</div>
												</td>
												<td>Complete recycling boxes and moving materials</td>
												<td>
													<small>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text.</small>
												</td>
												<td>
													<small>03:50</small>
												</td>
												<td>
													<small>04:20 </small>
												</td>
												<td>
													<span class="badge badge-success">Completed</span>
												</td>
											</tr>
											<tr>
												<td>
													<div class="media pl-sm pt-sm p-0 m-0">
														<div class="media-body">
															<a href="javascript:;" class="float-left">
																<img src="assets/images/portrait/avatar7.png" alt="RTDL Image" class="media-object avatar avatar-sm rounded-circle">
															</a>
														</div>
													</div>
												</td>
												<td>Complete work area</td>
												<td>
													<small>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text.</small>
												</td>
												<td>
													<small>05:12</small>
												</td>
												<td>
													<small>05:56 </small>
												</td>
												<td>
													<span class="badge badge-warning">Sent</span>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="col-lg-12">
								<h3 class="font-os-thin mt-lg">Message(s)</h3>
								<div class="table-responsive">
									<table class="table">
										<tbody>
											<tr>
												<td>
													<div class="media pl-sm pt-sm">
														<div class="media-body">
															<a href="javascript:;" class="float-left">
																<img src="assets/images/portrait/avatar1.png" alt="RTDL Image" class="media-object avatar avatar-sm rounded-circle">
															</a>
														</div>
													</div>
												</td>
												<td>Lorem Ipsum</td>
												<td>
													<small>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text.</small>
												</td>
												<td>
													<small>2d ago</small>
												</td>
											</tr>
											<tr>
												<td>
													<div class="media pl-sm pt-sm">
														<div class="media-body">
															<a href="javascript:;" class="float-left">
																<img src="assets/images/portrait/avatar2.png" alt="RTDL Image" class="media-object avatar avatar-sm rounded-circle">
															</a>
														</div>
													</div>
												</td>
												<td>Lorem Ipsum</td>
												<td>
													<small>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text.</small>
												</td>
												<td>
													<small>11h ago</small>
												</td>
											</tr>
											<tr>
												<td>
													<div class="media pl-sm pt-sm">
														<div class="media-body">
															<a href="javascript:;" class="float-left">
																<img src="assets/images/portrait/avatar3.png" alt="RTDL Image" class="media-object avatar avatar-sm rounded-circle">
															</a>
														</div>
													</div>
												</td>
												<td>Lorem Ipsum</td>
												<td>
													<small>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text.</small>
												</td>
												<td>
													<small>55m ago</small>
												</td>
											</tr>
											<tr>
												<td>
													<div class="media pl-sm pt-sm">
														<div class="media-body">
															<a href="javascript:;" class="float-left">
																<img src="assets/images/portrait/avatar4.png" alt="RTDL Image" class="media-object avatar avatar-sm rounded-circle">
															</a>
														</div>
													</div>
												</td>
												<td>Lorem Ipsum</td>
												<td>
													<small>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text.</small>
												</td>
												<td>
													<small>6d ago</small>
												</td>
											</tr>
											<tr>
												<td>
													<div class="media pl-sm pt-sm">
														<div class="media-body">
															<a href="javascript:;" class="float-left">
																<img src="assets/images/portrait/avatar5.png" alt="RTDL Image" class="media-object avatar avatar-sm rounded-circle">
															</a>
														</div>
													</div>
												</td>
												<td>Lorem Ipsum</td>
												<td>
													<small>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text.</small>
												</td>
												<td>
													<small>36m ago</small>
												</td>
											</tr>
											<tr>
												<td>
													<div class="media pl-sm pt-sm">
														<div class="media-body">
															<a href="javascript:;" class="float-left">
																<img src="assets/images/portrait/avatar6.png" alt="RTDL Image" class="media-object avatar avatar-sm rounded-circle">
															</a>
														</div>
													</div>
												</td>
												<td>Lorem Ipsum</td>
												<td>
													<small>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text.</small>
												</td>
												<td>
													<small>3h ago</small>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Project Description</h5>
			</div>
			<div class="card-body">
				<img src="assets/images/logo-heading.png" width="150" alt="Ranpariya - The Development Lab (RTDL)" class="my-sm">
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
			</div>
		</div>
		<div class="card mt-lg">
			<div class="card-header">
				<h5 class="m-0">Project File Lists</h5>
			</div>
			<div class="card-body">
				<ul class="list-unstyled">
					<li class="p-xs mb-xs bordered"><a href="javascript:;" class="text-dg"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Project_Document.pdf</a></li>
					<li class="p-xs mb-xs bordered"><a href="javascript:;" class="text-dg"><i class="fa fa-file-word-o" aria-hidden="true"></i> Project_List.docx</a></li>
					<li class="p-xs mb-xs bordered"><a href="javascript:;" class="text-dg"><i class="fa fa-file-image-o" aria-hidden="true"></i> Project_Logo.jpg</a></li>
					<li class="p-xs mb-xs bordered"><a href="javascript:;" class="text-dg"><i class="fa fa-file-archive-o" aria-hidden="true"></i> Full_Project.zip</a></li>
					<li class="p-xs mb-xs bordered"><a href="javascript:;" class="text-dg"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Project_Document.pdf</a></li>
					<li class="p-xs mb-xs bordered"><a href="javascript:;" class="text-dg"><i class="fa fa-file-word-o" aria-hidden="true"></i> Project_List.docx</a></li>
					<li class="p-xs mb-xs bordered"><a href="javascript:;" class="text-dg"><i class="fa fa-file-image-o" aria-hidden="true"></i> Project_Logo.jpg</a></li>
					<li class="p-xs mb-xs bordered"><a href="javascript:;" class="text-dg"><i class="fa fa-file-archive-o" aria-hidden="true"></i> Full_Project.zip</a></li>
				</ul>
				<div class="mt-sm">
					<button type="button" class="btn btn-sm btn-primary"> Upload Files</button> 
					<button type="button" class="btn btn-sm btn-outline-secondary"> See All Files</button> 
				</div>
			</div>
		</div>
	</div>
</div>