<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">Plugins</a></li>
							<li class="breadcrumb-item active text-dg">Sliders</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-plug menu-icon" aria-hidden="true"></i> Sliders</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Sliders -->
<div class="row">
	<div class="col-12 px-0 my-sm">
		<div class="card">
			<div class="card-body text-center">
				<div class="py-lg">
					<h4 class="font-roboto-thin my-sm">Ion.RangeSlider. Is an easy, flexible and responsive range slider.</h4>
					<a href="http://ionden.com/a/plugins/ion.rangeSlider/en.html" target="_blank" class="btn btn-outline-theme">Get RangeSlider Doc</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-6 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Basic Selectors</h5>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-12">
						<span class="box-title">Simple Selector</span>
						<label class="basic-simple-slider"></label>
					</div>
				</div>
				<div class="row">
					<div class="col-12 mt-xlg">
						<span class="box-title">Range Selector</span>
						<label class="basic-range-slider"></label>
					</div>
				</div>
				<div class="row">
					<div class="col-12 mt-xlg">
						<span class="box-title">Using prefixes</span>
						<label class="prefixes-slider"></label>
					</div>
				</div>
				<div class="row">
					<div class="col-12 mt-xlg">
						<span class="box-title">Using postfixes</span>
						<label class="postfixes-slider"></label>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-6 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Advance Selectors</h5>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-12">
						<span class="box-title">Advance Selector</span>
						<label class="advance-slider-1 irs-hidden-input"></label>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<span class="box-title">Advance Selector with predifined step</span>
						<label class="advance-slider-2 irs-hidden-input"></label>
					</div>
				</div>
			</div>
		</div>
		<div class="card my-sm">
			<div class="card-header">
				<h5 class="m-0">Disable slider</h5>
			</div>
			<div class="card-body">
				<span class="box-title">Disable slider</span>
				<label class="disable-slider"></label>
			</div>
		</div>
	</div>
</div>