<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">Pages</a></li>
							<li class="breadcrumb-item active text-dg">Vote list</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-files-o menu-icon" aria-hidden="true"></i> Answer / Digest List</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Vote List Content-->
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-12">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Answer/digest List</h5>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table">
						<tbody>
							<tr class="p-0">
								<th class="p-0 border-0"></th>
								<th class="p-0 border-0"></th>
								<th class="p-0 border-0"></th>
								<th class="p-0 border-0"></th>
								<th class="p-0 border-0"></th>
								<th class="p-0 border-0"></th>
								<th class="p-0 border-0"></th>
							</tr>
							<tr>
								<td>
									15
								</td>
								<td>
									Here the list of classes from boostrap.min.css <br>
									<a href="javascript:;">https://gist.github.com/geksilla/6543145</a>
								</td>
								<td>
									<label class="m-0 badge badge-theme"><i class="fa fa-tag" aria-hidden="true">&nbsp;</i>HTML</label>&nbsp;
									<label class="m-0 badge badge-theme"><i class="fa fa-tag" aria-hidden="true">&nbsp;</i>CSS</label>
								</td>
								<td>
									<small>1 Vote</small>
								</td>
								<td>
									<label class="m-0 badge badge-success"> 1 Answers </label>
								</td>
								<td>
									<label class="m-0 badge badge-danger"> 0 Views </label>
								</td>
								<td>
									<div class="media">
										<a href="javascript:;">
											<img alt="RTDL Image" class="mr-3 avatar avatar-sm rounded-circle" src="assets/images/portrait/avatar1.png">
										</a>
										<div class="media-body">
											<p class="m-0"><strong>John Smith</strong></p>
											<small>Answered jul 15'16 at 12:00</small>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									18
								</td>
								<td>
									How can I have Sub Sum column in sql query ? <br>
									<a href="javascript:;">http://how-can-i-have-sub-sum-column-in-sql-query</a>
								</td>
								<td>
									<label class="m-0 badge badge-secondary"><i class="fa fa-tag" aria-hidden="true"></i>&nbsp;SQL</label>&nbsp;
									<label class="m-0 badge badge-secondary"><i class="fa fa-tag" aria-hidden="true"></i>&nbsp;SQLite</label>
								</td>
								<td>
									<label class="m-0 badge badge-warning"> 0 Vote </label>
								</td>
								<td>
									<small>0 Answer</small>
								</td>
								<td>
									<small>1 View</small>
								</td>
								<td>
									<div class="media">
										<a href="javascript:;">
											<img alt="RTDL Image" class="mr-3 avatar avatar-sm rounded-circle" src="assets/images/portrait/avatar2.png">
										</a>
										<div class="media-body">
											<p class="m-0"><strong>Addison</strong></p>
											<small>Answered mar 25'26 at 12:45</small>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									35
								</td>
								<td>
									Save all the descriptors taken from multiple images in Python 3.5 <br>
									<a href="javascript:;">https://Save all the descriptors taken from multiple images in Python 3.5</a>
								</td>
								<td>
									<label class="m-0 badge badge-theme"><i class="fa fa-tag" aria-hidden="true"></i>&nbsp;CSS</label>&nbsp;
									<label class="m-0 badge badge-theme"><i class="fa fa-tag" aria-hidden="true"></i>&nbsp;Analysis</label>
								</td>
								<td>
									<small>1 Vote</small>
								</td>
								<td>
									<label class="m-0 badge badge-success"> 1 Answers </label>
								</td>
								<td>
									<small>1 View</small>
								</td>
								<td>
									<div class="media">
										<a href="javascript:;">
											<img alt="RTDL Image" class="mr-3 avatar avatar-sm rounded-circle" src="assets/images/portrait/avatar3.png">
										</a>
										<div class="media-body">
											<p class="m-0"><strong>Smith John</strong></p>
											<small>Answered dec 29'30 at 04:30</small>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									90
								</td>
								<td>
									Make Background Image Responsive <br>
									<a href="javascript:;">https://Make Background Image Responsive</a>
								</td>
								<td>
									<label class="m-0 badge badge-secondary"><i class="fa fa-tag" aria-hidden="true"></i>&nbsp;HTML</label>&nbsp;
									<label class="m-0 badge badge-secondary"><i class="fa fa-tag" aria-hidden="true"></i>&nbsp;Image</label>
								</td>
								<td>
									<small>1 Vote</small>
								</td>
								<td>
									<small>0 Answer</small>
								</td>
								<td>
									<label class="m-0 badge badge-danger"> 0 Views </label>
								</td>
								<td>
									<div class="media">
										<a href="javascript:;">
											<img alt="RTDL Image" class="mr-3 avatar avatar-sm rounded-circle" src="assets/images/portrait/avatar4.png">
										</a>
										<div class="media-body">
											<p class="m-0"><strong>Addsion</strong></p>
											<small>Answered apr 06'09 at 10:45</small>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									55
								</td>
								<td>
									Background music doesn't turn off or on when it is supposed to <br>
									<a href="javascript:;">https://Background music doesn't turn off or on when it is supposed to</a>
								</td>
								<td>
									<label class="m-0 badge badge-theme"><i class="fa fa-tag" aria-hidden="true"></i>&nbsp;Media</label>&nbsp;
									<label class="m-0 badge badge-theme"><i class="fa fa-tag" aria-hidden="true"></i>&nbsp;Android</label>
								</td>
								<td>
									<small>1 Vote</small>
								</td>
								<td>
									<label class="m-0 badge badge-success"> 1 Answers </label>
								</td>
								<td>
									<small>1 View</small>
								</td>
								<td>
									<div class="media">
										<a href="javascript:;">
											<img alt="RTDL Image" class="mr-3 avatar avatar-sm rounded-circle" src="assets/images/portrait/avatar5.png">
										</a>
										<div class="media-body">
											<p class="m-0"><strong>Lorem Ipsum</strong></p>
											<small>Answered aug 21'23 at 03:00</small>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									70
								</td>
								<td>
									Find missing number in an array? <br>
									<a href="javascript:;">Find missing number in an array?</a>
								</td>
								<td>
									<label class="m-0 badge badge-theme"><i class="fa fa-tag" aria-hidden="true"></i>&nbsp;Arrays</label>&nbsp;
									<label class="m-0 badge badge-theme"><i class="fa fa-tag" aria-hidden="true"></i>&nbsp;Algorithm</label>
								</td>
								<td>
									<small>2 Vote</small>
								</td>
								<td>
									<label class="m-0 badge badge-success"> 1 Answers </label>
								</td>
								<td>
									<small>1 View</small>
								</td>
								<td>
									<div class="media">
										<a href="javascript:;">
											<img alt="RTDL Image" class="mr-3 avatar avatar-sm rounded-circle" src="assets/images/portrait/avatar1.png">
										</a>
										<div class="media-body">
											<p class="m-0"><strong>John Smith</strong></p>
											<small>Answered oct 15'16 at 12:00</small>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									30
								</td>
								<td>
									How to completely disable the Xsession Errors? <br>
									<a href="javascript:;">https://How to completely disable the Xsession Errors?</a>
								</td>
								<td>
									<label class="m-0 badge badge-secondary"><i class="fa fa-tag" aria-hidden="true"></i>&nbsp;Ubuntu</label>
								</td>
								<td>
									<label class="m-0 badge badge-warning"> 0 Vote </label>
								</td>
								<td>
									<small>0 Answer</small>
								</td>
								<td>
									<small>1 View</small>
								</td>
								<td>
									<div class="media">
										<a href="javascript:;">
											<img alt="RTDL Image" class="mr-3 avatar avatar-sm rounded-circle" src="assets/images/portrait/avatar2.png">
										</a>
										<div class="media-body">
											<p class="m-0"><strong>Addison</strong></p>
											<small>Answered jan 19'20 at 09:00</small>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									44
								</td>
								<td>
									MySQL Stored Procedure CREATE Error <br>
									<a href="javascript:;">https://MySQL Stored Procedure CREATE Error</a>
								</td>
								<td>
									<label class="m-0 badge badge-theme"><i class="fa fa-tag" aria-hidden="true"></i>&nbsp;SQL</label>&nbsp;
									<label class="m-0 badge badge-theme"><i class="fa fa-tag" aria-hidden="true"></i>&nbsp;MySQL</label>
								</td>
								<td>
									<small>1 Vote</small>
								</td>
								<td>
									<label class="m-0 badge badge-success"> 1 Answers </label>
								</td>
								<td>
									<small>1 View</small>
								</td>
								<td>
									<div class="media">
										<a href="javascript:;">
											<img alt="RTDL Image" class="mr-3 avatar avatar-sm rounded-circle" src="assets/images/portrait/avatar3.png">
										</a>
										<div class="media-body">
											<p class="m-0"><strong>Smith John</strong></p>
											<small>Answered sep 06'07 at 01:00</small>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									60
								</td>
								<td>
									Here is a Bootstrap CSS classes desk reference pdf and a sortable table. <br>
									<a href="javascript:;">https://bootstrapcreative.com/resources/bootstrap-4-css-classes-index/</a>
								</td>
								<td>
									<label class="m-0 badge badge-secondary"><i class="fa fa-tag" aria-hidden="true"></i>&nbsp;Bootstrap</label>&nbsp;
									<label class="m-0 badge badge-secondary"><i class="fa fa-tag" aria-hidden="true"></i>&nbsp;CSS</label>
								</td>
								<td>
									<small>1 Vote</small>
								</td>
								<td>
									<label class="m-0 badge badge-success"> 1 Answers </label>
								</td>
								<td>
									<label class="m-0 badge badge-danger"> 0 Views </label>
								</td>
								<td>
									<div class="media">
										<a href="javascript:;">
											<img alt="RTDL Image" class="mr-3 avatar avatar-sm rounded-circle" src="assets/images/portrait/avatar4.png">
										</a>
										<div class="media-body">
											<p class="m-0"><strong>Addsion</strong></p>
											<small>Answered feb 19'20 at 08:30</small>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									26
								</td>
								<td>
									Find missing number in an array? <br>
									<a href="javascript:;">Find missing number in an array?</a>
								</td>
								<td>
									<label class="m-0 badge badge-theme"><i class="fa fa-tag" aria-hidden="true"></i>&nbsp;Arrays</label>&nbsp;
									<label class="m-0 badge badge-theme"><i class="fa fa-tag" aria-hidden="true"></i>&nbsp;Algorithm</label>
								</td>
								<td>
									<small>1 Vote</small>
								</td>
								<td>
									<label class="m-0 badge badge-success"> 1 Answers </label>
								</td>
								<td>
									<small>1 View</small>
								</td>
								<td>
									<div class="media">
										<a href="javascript:;">
											<img alt="RTDL Image" class="mr-3 avatar avatar-sm rounded-circle" src="assets/images/portrait/avatar5.png">
										</a>
										<div class="media-body">
											<p class="m-0"><strong>Lorem Ipsum</strong></p>
											<small>Answered jun 15'16 at 03:00</small>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									34
								</td>
								<td>
									How can I have Sub Sum column in sql query ? <br>
									<a href="javascript:;">http://how-can-i-have-sub-sum-column-in-sql-query</a>
								</td>
								<td>
									<label class="m-0 badge badge-theme"><i class="fa fa-tag" aria-hidden="true"></i>&nbsp;HTML</label>&nbsp;
									<label class="m-0 badge badge-theme"><i class="fa fa-tag" aria-hidden="true"></i>&nbsp;CSS</label>
								</td>
								<td>
									<small>1 Vote</small>
								</td>
								<td>
									<label class="m-0 badge badge-success"> 1 Answers </label>
								</td>
								<td>
									<small>1 View</small>
								</td>
								<td>
									<div class="media">
										<a href="javascript:;">
											<img alt="RTDL Image" class="mr-3 avatar avatar-sm rounded-circle" src="assets/images/portrait/avatar6.png">
										</a>
										<div class="media-body">
											<p class="m-0"><strong>Smith John</strong></p>
											<small>Answered nov 13'14 at 11:00</small>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									77
								</td>
								<td>
									How to completely disable the Xsession Errors? <br>
									<a href="javascript:;">https://How to completely disable the Xsession Errors?</a>
								</td>
								<td>
									<label class="m-0 badge badge-secondary"><i class="fa fa-tag" aria-hidden="true"></i>&nbsp;Arrays</label>&nbsp;
									<label class="m-0 badge badge-secondary"><i class="fa fa-tag" aria-hidden="true"></i>&nbsp;Algorithm</label>
								</td>
								<td>
									<label class="m-0 badge badge-warning"> 0 Vote </label>
								</td>
								<td>
									<label class="m-0 badge badge-success"> 1 Answers </label>
								</td>
								<td>
									<small>1 View</small>
								</td>
								<td>
									<div class="media">
										<a href="javascript:;">
											<img alt="RTDL Image" class="mr-3 avatar avatar-sm rounded-circle" src="assets/images/portrait/avatar4.png">
										</a>
										<div class="media-body">
											<p class="m-0"><strong>Addison</strong></p>
											<small>Answered apr 08'09 at 12:30</small>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									17
								</td>
								<td>
									Here the list of classes from boostrap.min.css <br>
									<a href="javascript:;">https://gist.github.com/geksilla/6543145</a>
								</td>
								<td>
									<label class="m-0 badge badge-theme"><i class="fa fa-tag" aria-hidden="true"></i>&nbsp;HTML</label>&nbsp;
									<label class="m-0 badge badge-theme"><i class="fa fa-tag" aria-hidden="true"></i>&nbsp;CSS</label>
								</td>
								<td>
									<small>1 Vote</small>
								</td>
								<td>
									<label class="m-0 badge badge-success"> 1 Answers </label>
								</td>
								<td>
									<label class="m-0 badge badge-danger"> 0 Views </label>
								</td>
								<td>
									<div class="media">
										<a href="javascript:;">
											<img alt="RTDL Image" class="mr-3 avatar avatar-sm rounded-circle" src="assets/images/portrait/avatar2.png">
										</a>
										<div class="media-body">
											<p class="m-0"><strong>Lorem Ipsum</strong></p>
											<small>Answered mar 11'12 at 02:00</small>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									90
								</td>
								<td>
									Make Background Image Responsive <br>
									<a href="javascript:;">https://Make Background Image Responsive</a>
								</td>
								<td>
									<label class="m-0 badge badge-theme"><i class="fa fa-tag" aria-hidden="true"></i>&nbsp;HTML</label>&nbsp;
									<label class="m-0 badge badge-theme"><i class="fa fa-tag" aria-hidden="true"></i>&nbsp;Image</label>
								</td>
								<td>
									<small>1 Vote</small>
								</td>
								<td>
									<small>0 Answer</small>
								</td>
								<td>
									<label class="m-0 badge badge-danger"> 0 Views </label>
								</td>
								<td>
									<div class="media">
										<a href="javascript:;">
											<img alt="RTDL Image" class="mr-3 avatar avatar-sm rounded-circle" src="assets/images/portrait/avatar1.png">
										</a>
										<div class="media-body">
											<p class="m-0"><strong>John Smith</strong></p>
											<small>Answered jan 15'16 at 12:00</small>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>