<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">Pages</a></li>
							<li class="breadcrumb-item active text-dg">Article</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-files-o menu-icon" aria-hidden="true"></i> Article</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Article Content -->
<div class="row">
	<div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 my-sm">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-12">
				<div class="card">
					<div class="card-body">
						<div class="text-center">
							<h2 class="p-md mt-lg font-os-thin">Lorem Ipsum</h2>
						</div>
						<p class="p-md font-os-thin text-justify font-16">
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. <strong>Lorem Ipsum</strong> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
						</p>
						<p class="p-md font-os-thin text-justify font-16">
							Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. <i>Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero.</i> This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
						</p>
						<p class="p-md font-os-thin text-justify font-16">
							The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 my-sm">
		<div class="row">
			<div class="col-lg-12 mb-sm">
				<div class="card">
					<div class="card-body px-sm">
						<span><i class="fa fa-tags p-xs" aria-hidden="true"></i>Entrepreneur</span>
						<span><i class="fa fa-tags p-xs" aria-hidden="true"></i>Business</span>
						<span><i class="fa fa-tags p-xs" aria-hidden="true"></i>Sale</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 my-sm">
				<div class="card">
					<div class="card-header">
						<h5 class="m-0">Latest News</h5>
					</div>
					<div class="card-body p-0">
						<div class="media media-sm p-sm border-b">
							<img class="d-flex mr-3 avatar avatar-md" src="assets/images/portrait/avatar1.png" alt="RTDL Image">
							<div class="media-body">
								<p class="m-0">There is no one who loves pain itself.</p>
								<small>Monday, Jan 10th, 2017 08:25</small>
							</div>
						</div>
						<div class="media media-sm p-sm border-b">
							<img class="d-flex mr-3 avatar avatar-md" src="assets/images/portrait/avatar2.png" alt="RTDL Image">
							<div class="media-body">
								<p class="m-0">There is no one who loves pain itself.</p>
								<small>Sunday, Jun 20th, 2017 22:02</small>
							</div>
						</div>
						<div class="media media-sm p-sm border-b">
							<img class="d-flex mr-3 avatar avatar-md" src="assets/images/portrait/avatar3.png" alt="RTDL Image">
							<div class="media-body">
								<p class="m-0">There is no one who loves pain itself.</p>
								<small>Friday, July 31st, 2017 23:59</small>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 my-sm">
				<div class="card">
					<div class="card-header">
						<h5 class="m-0">Share with Social</h5>
					</div>
					<div class="card-body">
						<a href="javascript:;">
							<i class="fa fa-facebook-square fa-2x pr-lg pt-0 text-primary" aria-hidden="true"></i>
						</a>
						<a href="javascript:;">
							<i class="fa fa-twitter-square fa-2x text-info pr-lg pt-0" aria-hidden="true"></i>
						</a>
						<a href="javascript:;">
							<i class="fa fa-whatsapp fa-2x text-success pr-lg pt-0" aria-hidden="true"></i>
						</a>
						<a href="javascript:;">
							<i class="fa fa-youtube-square fa-2x text-danger pr-lg pt-0" aria-hidden="true"></i>
						</a>
						<a href="javascript:;">
							<i class="fa fa-linkedin-square fa-2x text-primary pr-lg pt-0" aria-hidden="true"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row mt-lg">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header pt-0 pl-2">
						<ul class="nav nav-tabs card-header-tabs" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" data-toggle="tab" href="#popular_post" role="tab">Popular Posts</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-toggle="tab" href="#recent_post" role="tab">Recent Posts</a>
							</li>
						</ul>
					</div>

					<!-- Tab panes -->
					<div class="tab-content card-body p-md">
						<div class="tab-pane active" id="popular_post" role="tabpanel">
							<div class="card-body">
								<div class="media media-sm py-sm border-b">
									<img class="d-flex mr-3 avatar avatar-md" src="assets/images/portrait/avatar1.png" alt="RTDL Image">
									<div class="media-body">
										<p class="m-0">Love these options, several of which I was not yet aware of.</p>
										<small>Feb 18th, 2017 - 3 Comments</small>
									</div>
								</div>
								<div class="media media-sm py-sm border-b">
									<img class="d-flex mr-3 avatar avatar-md" src="assets/images/portrait/avatar2.png" alt="RTDL Image">
									<div class="media-body">
										<p class="m-0">Love these options, several of which I was not yet aware of.</p>
										<small>Sep 10th, 2017 - 10 Comments</small>
									</div>
								</div>
								<div class="media media-sm py-sm border-b">
									<img class="d-flex mr-3 avatar avatar-md" src="assets/images/portrait/avatar3.png" alt="RTDL Image">
									<div class="media-body">
										<p class="m-0">Love these options, several of which I was not yet aware of.</p>
										<small>Nov 14th, 2017 - No Comments</small>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane" id="recent_post" role="tabpanel">
							<div class="card-body">
								<div class="media media-sm py-sm border-b">
									<img class="d-flex mr-3 avatar avatar-md" src="assets/images/portrait/avatar1.png" alt="RTDL Image">
									<div class="media-body">
										<p class="m-0">I’ll also look at giving you some options regarding.</p>
									<small>Sunday, Jan 04th, 2017 08:25</small>
									</div>
								</div>
								<div class="media media-sm py-sm border-b">
									<img class="d-flex mr-3 avatar avatar-md" src="assets/images/portrait/avatar2.png" alt="RTDL Image">
									<div class="media-body">
										<p class="m-0">I’ll also look at giving you some options regarding.</p>
									<small>Friday, Mar 25th, 2017 10:00</small>
									</div>
								</div>
								<div class="media media-sm py-sm border-b">
									<img class="d-flex mr-3 avatar avatar-md" src="assets/images/portrait/avatar3.png" alt="RTDL Image">
									<div class="media-body">
										<p class="m-0">I’ll also look at giving you some options regarding.</p>
									<small>Monday, Aug 04th, 2017 14:49</small>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>