<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">Forms and Plugins</a></li>
							<li class="breadcrumb-item active text-dg">Form Elements</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-edit" aria-hidden="true"></i> Form Elements</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Form Elements Content-->
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Form Elements</h5>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-lg-2 col-md-12 col-sm-12 col-12">
						<label>
							<strong>Controls</strong>
						</label>
					</div>
					<div class="col-lg-10 col-md-12 col-sm-12 col-12">
						<form>
							<div class="form-group">
								<label for="exampleInputEmail1">Email address</label>
								<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
								<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
							</div>
							<div class="form-group">
								<label for="exampleInputPassword1">Password</label>
								<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
							</div>
							<div class="form-group">
								<label for="exampleSelect1">Example select</label>
								<select class="form-control" id="exampleSelect1">
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
									<option>5</option>
								</select>
							</div>
							<div class="form-group">
								<label for="exampleSelect2">Example multiple select</label>
								<select multiple class="form-control" id="exampleSelect2">
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
									<option>5</option>
								</select>
							</div>
							<div class="form-group">
								<label for="exampleTextarea">Example textarea</label>
								<textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
							</div>
							<div class="form-group">
								<label for="exampleInputFile">File input</label>
								<input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
								<small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
							</div>
							<fieldset class="form-group">
								<legend>Radio buttons</legend>
								<div class="form-check">
									<label class="form-check-label">
										<input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
										Option one is this and that&mdash;be sure to include why it's great
									</label>
								</div>
								<div class="form-check">
									<label class="form-check-label">
										<input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
										Option two can be something else and selecting it will deselect option one
									</label>
								</div>
								<div class="form-check disabled">
									<label class="form-check-label">
										<input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
										Option three is disabled
									</label>
								</div>
							</fieldset>
							<div class="form-check">
								<label class="form-check-label">
									<input type="checkbox" class="form-check-input">
									Check me out
								</label>
							</div>
							<button type="submit" class="btn btn-primary">Submit</button>
						</form>
					</div>
				</div>
				<hr />
				<div class="row">
					<div class="col-lg-2 col-md-12 col-sm-12 col-12">
						<label>
							<strong>Textual inputs</strong>
						</label>
					</div>
					<div class="col-lg-10 col-md-12 col-sm-12 col-12">
						<div class="form-group row">
							<label for="example-text-input" class="col-xl-2 col-lg-4 col-md-4 col-sm-4 col-4 col-form-label">Text</label>
							<div class="col-xl-10 col-lg-8 col-md-8 col-sm-8 col-8">
								<input class="form-control" type="text" value="Artisanal kale" id="example-text-input">
							</div>
						</div>
						<div class="form-group row">
							<label for="example-search-input" class="col-xl-2 col-lg-4 col-md-4 col-sm-4 col-4 col-form-label">Search</label>
							<div class="col-xl-10 col-lg-8 col-md-8 col-sm-8 col-8">
								<input class="form-control" type="search" value="How do I shoot web" id="example-search-input">
							</div>
						</div>
						<div class="form-group row">
							<label for="example-email-input" class="col-xl-2 col-lg-4 col-md-4 col-sm-4 col-4 col-form-label">Email</label>
							<div class="col-xl-10 col-lg-8 col-md-8 col-sm-8 col-8">
								<input class="form-control" type="email" value="bootstrap@example.com" id="example-email-input">
							</div>
						</div>
						<div class="form-group row">
							<label for="example-url-input" class="col-xl-2 col-lg-4 col-md-4 col-sm-4 col-4 col-form-label">URL</label>
							<div class="col-xl-10 col-lg-8 col-md-8 col-sm-8 col-8">
								<input class="form-control" type="url" value="https://getbootstrap.com" id="example-url-input">
							</div>
						</div>
						<div class="form-group row">
							<label for="example-tel-input" class="col-xl-2 col-lg-4 col-md-4 col-sm-4 col-4 col-form-label">Telephone</label>
							<div class="col-xl-10 col-lg-8 col-md-8 col-sm-8 col-8">
								<input class="form-control" type="tel" value="1-(555)-555-5555" id="example-tel-input">
							</div>
						</div>
						<div class="form-group row">
							<label for="example-password-input" class="col-xl-2 col-lg-4 col-md-4 col-sm-4 col-4 col-form-label">Password</label>
							<div class="col-xl-10 col-lg-8 col-md-8 col-sm-8 col-8">
								<input class="form-control" type="password" value="hunter2" id="example-password-input">
							</div>
						</div>
						<div class="form-group row">
							<label for="example-number-input" class="col-xl-2 col-lg-4 col-md-4 col-sm-4 col-4 col-form-label">Number</label>
							<div class="col-xl-10 col-lg-8 col-md-8 col-sm-8 col-8">
								<input class="form-control" type="number" value="42" id="example-number-input">
							</div>
						</div>
						<div class="form-group row">
							<label for="example-datetime-local-input" class="col-xl-2 col-lg-4 col-md-4 col-sm-4 col-4 col-form-label">Date and time</label>
							<div class="col-xl-10 col-lg-8 col-md-8 col-sm-8 col-8">
								<input class="form-control" type="datetime-local" value="2011-08-19T13:45:00" id="example-datetime-local-input">
							</div>
						</div>
						<div class="form-group row">
							<label for="example-date-input" class="col-xl-2 col-lg-4 col-md-4 col-sm-4 col-4 col-form-label">Date</label>
							<div class="col-xl-10 col-lg-8 col-md-8 col-sm-8 col-8">
								<input class="form-control" type="date" value="2011-08-19" id="example-date-input">
							</div>
						</div>
						<div class="form-group row">
							<label for="example-month-input" class="col-xl-2 col-lg-4 col-md-4 col-sm-4 col-4 col-form-label">Month</label>
							<div class="col-xl-10 col-lg-8 col-md-8 col-sm-8 col-8">
								<input class="form-control" type="month" value="2011-08" id="example-month-input">
							</div>
						</div>
						<div class="form-group row">
							<label for="example-week-input" class="col-xl-2 col-lg-4 col-md-4 col-sm-4 col-4 col-form-label">Week</label>
							<div class="col-xl-10 col-lg-8 col-md-8 col-sm-8 col-8">
								<input class="form-control" type="week" value="2011-W33" id="example-week-input">
							</div>
						</div>
						<div class="form-group row">
							<label for="example-time-input" class="col-xl-2 col-lg-4 col-md-4 col-sm-4 col-4 col-form-label">Time</label>
							<div class="col-xl-10 col-lg-8 col-md-8 col-sm-8 col-8">
								<input class="form-control" type="time" value="13:45:00" id="example-time-input">
							</div>
						</div>
						<div class="form-group row">
							<label for="example-color-input" class="col-xl-2 col-lg-4 col-md-4 col-sm-4 col-4 col-form-label">Color</label>
							<div class="col-xl-10 col-lg-8 col-md-8 col-sm-8 col-8">
								<input class="form-control" type="color" value="#563d7c" id="example-color-input">
							</div>
						</div>
					</div>
				</div>
				<hr />
				<div class="row">
					<div class="col-lg-2 col-md-12 col-sm-12 col-12">
						<label>
							<strong>Form groups</strong>
						</label>
					</div>
					<div class="col-lg-10 col-md-12 col-sm-12 col-12">
						<form>
							<div class="form-group row">
								<label for="formGroupExampleInput" class="col-lg-2 col-md-2 col-sm-4 col-4 col-form-label">Example label</label>
								<div class="col-lg-10 col-md-10 col-sm-8 col-8">
									<input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
								</div>
							</div>
							<div class="form-group row">
								<label for="formGroupExampleInput2" class="col-lg-2 col-md-2 col-sm-4 col-4 col-form-label">Another label</label>
								<div class="col-lg-10 col-md-10 col-sm-8 col-8">
									<input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
								</div>
							</div>
						</form>
					</div>
				</div>
				<hr />
				<div class="row">
					<div class="col-lg-2 col-md-12 col-sm-12 col-12">
						<label>
							<strong>Inline forms</strong>
						</label>
					</div>
					<div class="col-lg-10 col-md-12 col-sm-12 col-12">
						<form class="form-inline">
							<label class="sr-only" for="inlineFormInput">Name</label>
							<input type="text" class="form-control mb-2 mr-sm-2 mb-sm-2" id="inlineFormInput" placeholder="Jane Doe">
							<label class="sr-only" for="inlineFormInputGroup">Username</label>
							<div class="input-group mb-2 mr-sm-2 mb-sm-2">
								<div class="input-group-addon">@</div>
								<input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Username">
							</div>
							<div class="form-check mb-2 mr-sm-2 mb-sm-2">
								<label class="form-check-label">
									<input class="form-check-input" type="checkbox"> Remember me
								</label>
							</div>
							<button type="submit" class="btn btn-primary">Submit</button>
						</form>
					</div>
				</div>
				<hr />
				<div class="row">
					<div class="col-lg-2 col-md-12 col-sm-12 col-12">
						<label>
							<strong>Checkboxes and radios</strong>
						</label>
					</div>
					<div class="col-lg-10 col-md-12 col-sm-12 col-12">
						<div class="form-check">
							<label class="form-check-label">
								<input class="form-check-input" type="checkbox" value="">
								Option one is this and that&mdash;be sure to include why it's great
							</label>
						</div>
						<div class="form-check disabled">
							<label class="form-check-label">
								<input class="form-check-input" type="checkbox" value="" disabled>
								Option two is disabled
							</label>
						</div>
						<div class="form-check">
							<label class="form-check-label">
								<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
								Option one is this and that&mdash;be sure to include why it's great
							</label>
						</div>
						<div class="form-check">
							<label class="form-check-label">
								<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
								Option two can be something else and selecting it will deselect option one
							</label>
						</div>
						<div class="form-check disabled">
							<label class="form-check-label">
								<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" disabled>
								Option three is disabled
							</label>
						</div>
					</div>
				</div>
				<hr />
				<div class="row">
					<div class="col-lg-2 col-md-6 col-sm-12 col-12">
						<label>
							<strong>Inline Checkboxes</strong>
						</label>
					</div>
					<div class="col-lg-10 col-md-6 col-sm-12 col-12">
						<div class="form-check form-check-inline">
							<label class="form-check-label">
								<input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"> 1
							</label>
						</div>
						<div class="form-check form-check-inline">
							<label class="form-check-label">
								<input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2"> 2
							</label>
						</div>
						<div class="form-check form-check-inline disabled">
							<label class="form-check-label">
								<input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" disabled> 3
							</label>
						</div>
					</div>
				</div>
				<hr />
				<div class="row">
					<div class="col-lg-2 col-md-6 col-sm-12 col-12">
						<label>
							<strong>Inline radios</strong>
						</label>
					</div>
					<div class="col-lg-10 col-md-6 col-sm-12 col-12">
						<div class="form-check form-check-inline">
							<label class="form-check-label">
								<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 1
							</label>
						</div>
						<div class="form-check form-check-inline">
							<label class="form-check-label">
								<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> 2
							</label>
						</div>
						<div class="form-check form-check-inline disabled">
							<label class="form-check-label">
								<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" disabled> 3
							</label>
						</div>
					</div>
				</div>
				<hr />
				<div class="row">
					<div class="col-lg-2 col-md-6 col-sm-12 col-12">
						<label>
							<strong>Static controls</strong>
						</label>
					</div>
					<div class="col-lg-10 col-md-6 col-sm-12 col-12">
						<form>
							<div class="form-group row m-0">
								<p class="form-control-plaintext p-0">email@example.com</p>
							</div>
						</form>
					</div>
				</div>
				<hr />
				<div class="row">
					<div class="col-lg-2 col-md-12 col-sm-12 col-12">
						<label>
							<strong>Disabled states</strong>
						</label>
					</div>
					<div class="col-lg-10 col-md-12 col-sm-12 col-12">
						<form>
							<fieldset disabled>
								<div class="form-group">
									<label for="disabledTextInput">Disabled input</label>
									<input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input">
								</div>
								<div class="form-group">
									<label for="disabledSelect">Disabled select menu</label>
									<select id="disabledSelect" class="form-control">
										<option>Disabled select</option>
									</select>
								</div>
								<div class="checkbox">
									<label>
										<input type="checkbox"> Can't check this
									</label>
								</div>
								<button type="submit" class="btn btn-primary">Submit</button>
							</fieldset>
						</form>
					</div>
				</div>
				<hr />
				<div class="row">
					<div class="col-lg-2 col-md-4 col-sm-12 col-12">
						<label>
							<strong>Readonly inputs</strong>
						</label>
					</div>
					<div class="col-lg-10 col-md-8 col-sm-12 col-12">
						<input class="form-control" type="text" placeholder="Readonly input here…" readonly>
					</div>
				</div>
				<hr />
				<div class="row">
					<div class="col-lg-2 col-md-4 col-sm-12 col-12">
						<label>
							<strong>Control sizing</strong>
						</label>
					</div>
					<div class="col-lg-10 col-md-8 col-sm-12 col-12">
						<input class="form-control form-control-lg mb-sm" type="text" placeholder=".form-control-lg">
						<input class="form-control mb-sm" type="text" placeholder="Default input">
						<input class="form-control form-control-sm mb-sm" type="text" placeholder=".form-control-sm">
					</div>
				</div>
				<hr />
				<div class="row">
					<div class="col-lg-2 col-md-12 col-sm-12 col-12">
						<label>
							<strong>Column sizing</strong>
						</label>
					</div>
					<div class="col-lg-10 col-md-12 col-sm-12 col-12">
						<div class="row">
							<div class="col-2">
								<input type="text" class="form-control" placeholder=".col-2">
							</div>
							<div class="col-4">
								<input type="text" class="form-control" placeholder=".col-4">
							</div>
							<div class="col-6">
								<input type="text" class="form-control" placeholder=".col-6">
							</div>
						</div>
					</div>
				</div>
				<hr />
				<div class="row">
					<div class="col-lg-2 col-md-12 col-sm-12 col-12">
						<label>
							<strong>Custom forms</strong>
						</label>
					</div>
					<div class="col-lg-10 col-md-12 col-sm-12 col-12">
						<div class="form-group row">
							<label for="example-text-input" class="col-lg-2 col-md-4 col-sm-4 col-12 col-form-label">Checkboxes</label>
							<div class="col-lg-10 col-md-8 col-sm-8 col-12">
								<label class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input">
									<span class="custom-control-indicator"></span>
									<span class="custom-control-description">Check this custom checkbox</span>
								</label>
							</div>
						</div>
						<div class="form-group row">
							<label for="example-text-input" class="col-lg-2 col-md-4 col-sm-4 col-12 col-form-label">Radios</label>
							<div class="col-lg-10 col-md-8 col-sm-8 col-12">
								<label class="custom-control custom-radio">
									<input id="radio1" name="radio" type="radio" class="custom-control-input">
									<span class="custom-control-indicator"></span>
									<span class="custom-control-description">Toggle this custom radio</span>
								</label>
								<label class="custom-control custom-radio">
									<input id="radio2" name="radio" type="radio" class="custom-control-input">
									<span class="custom-control-indicator"></span>
									<span class="custom-control-description">Or toggle this other custom radio</span>
								</label>
							</div>
						</div>
						<div class="form-group row">
							<label for="example-text-input" class="col-lg-2 col-md-4 col-sm-4 col-12 col-form-label">Disabled</label>
							<div class="col-lg-10 col-md-8 col-sm-8 col-12">
								<label class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" disabled>
									<span class="custom-control-indicator"></span>
									<span class="custom-control-description">Check this custom checkbox</span>
								</label>
								<label class="custom-control custom-radio">
									<input id="radio3" name="radioDisabled" type="radio" class="custom-control-input" disabled>
									<span class="custom-control-indicator"></span>
									<span class="custom-control-description">Toggle this custom radio</span>
								</label>
							</div>
						</div>
						<div class="form-group row">
							<label for="example-text-input" class="col-lg-2 col-md-4 col-sm-4 col-12 col-form-label">Validation states</label>
							<div class="col-lg-10 col-md-8 col-sm-8 col-12">
								<div class="form-group has-success">
									<label class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input">
										<span class="custom-control-indicator"></span>
										<span class="custom-control-description">Check this custom checkbox</span>
									</label>
								</div>
								<div class="form-group has-warning">
									<label class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input">
										<span class="custom-control-indicator"></span>
										<span class="custom-control-description">Check this custom checkbox</span>
									</label>
								</div>
								<div class="form-group has-danger mb-0">
									<label class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input">
										<span class="custom-control-indicator"></span>
										<span class="custom-control-description">Check this custom checkbox</span>
									</label>
								</div>
							</div>
						</div>
						<div class="form-group row">
							<label for="example-text-input" class="col-lg-2 col-md-4 col-sm-4 col-12 col-form-label">Stacked</label>
							<div class="col-lg-10 col-md-8 col-sm-8 col-12">
								<div class="custom-controls-stacked">
									<label class="custom-control custom-radio">
										<input id="radioStacked1" name="radio-stacked" type="radio" class="custom-control-input">
										<span class="custom-control-indicator"></span>
										<span class="custom-control-description">Toggle this custom radio</span>
									</label>
									<label class="custom-control custom-radio">
										<input id="radioStacked2" name="radio-stacked" type="radio" class="custom-control-input">
										<span class="custom-control-indicator"></span>
										<span class="custom-control-description">Or toggle this other custom radio</span>
									</label>
								</div>
							</div>
						</div>
						<div class="form-group row">
							<label for="example-text-input" class="col-lg-2 col-md-4 col-sm-4 col-12 col-form-label">Select menu</label>
							<div class="col-lg-10 col-md-8 col-sm-8 col-12">
								<select class="custom-select">
									<option selected>Open this select menu</option>
									<option value="1">One</option>
									<option value="2">Two</option>
									<option value="3">Three</option>
								</select>
							</div>
						</div>
						<div class="form-group row">
							<label for="example-text-input" class="col-lg-2 col-md-4 col-sm-4 col-12 col-form-label">File browser</label>
							<div class="col-lg-10 col-md-8 col-sm-8 col-12">
								<label class="custom-file">
									<input type="file" id="file" class="custom-file-input">
									<span class="custom-file-control"></span>
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>