<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">E-Commerce</a></li>
							<li class="breadcrumb-item active text-dg">Order Detail</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Order Detail</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Order Detail Content -->
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Order Detail</h5>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-12">
						<div class="row bordered m-sm">
							<img class="img-component float-left m-xs" alt="RTDL Image" src="assets/images/product-grid/product.jpg" height="100" width="100">
							<div class="mt-xs float-left p-sm ">
								<span><strong class="text-dg">Product Name:</strong> SanDisk Pendrive</span><br>
								<span><strong class="text-dg">Product Id:</strong> san12345</span><br>
								<span><strong class="text-dg">Unit Price:</strong> $10.00</span><br>
								<span><strong class="text-dg">Quantity:</strong> 5</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row border-b">
					<div class="col-lg-12 col-md-12 col-sm-12 col-12">
						<div class="row bordered m-sm">
							<img class="img-component float-left m-xs" alt="RTDL Image" src="assets/images/product-grid/product.jpg" height="100" width="100">
							<div class="mt-xs float-left p-sm ">
								<span><strong class="text-dg">Product Name:</strong> SanDisk Pendrive</span><br>
								<span><strong class="text-dg">Product Id:</strong> san12345</span><br>
								<span><strong class="text-dg">Unit Price:</strong> $10.00</span><br>
								<span><strong class="text-dg">Quantity:</strong> 5</span>
							</div>
						</div>
					</div>
				</div>
				<h2 class="font-os-thin text-center">Order Summary</h2>
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 col-12 pl-lg">
						<h4 class="font-os-thin">Customer Detail</h4>
						<p><strong>Name:</strong> John Smith</p>
						<strong>Shipping Address:</strong> 
						<address class="m-0">
							1355 Market Street, Suite 900,
							<br>
							San Francisco, CA 94103
							<br>
							Postal Code : 12209 
							<br>
							<abbr title="Phone">P:</abbr>
							(123) 456-7890
						</address><br>
						<p><strong>E-mail:</strong> example@example.com</p>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-12 border-l pl-lg">
						<h4 class="font-os-thin">Order Detail</h4>
						<p><strong>Order No:</strong> pen12345</p>
						<p><strong>Order Date :</strong> Oct 15th, 2017</p>
						<p><strong>Payment :</strong> Cash On Delivery</p>
						<p><strong>Tax:</strong> $0.00</p>
						<p><strong>Total :</strong> $100.00</p>
						<p><strong>Dispatched Date :</strong> Oct 15th, 2017</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>