<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">Pages</a></li>
							<li class="breadcrumb-item active text-dg">Blog List</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-files-o menu-icon" aria-hidden="true"></i> Blog List</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Blog List Content-->
<div class="row">
	<div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
		<div class="row mx-0">
			<div class="col-lg-12 p-0 my-sm">
				<div class="card">
					<div class="card-body media-block">
						<div class="media">
							<a href="javascript:;">
								<img class="mr-3 avatar avatar-xl" src="assets/images/Blog-List-Image.jpg" alt="RTDL Image">
							</a>
							<div class="media-body">
								<h4>
									<a routerLink="/pages/blog" class="text-dg" title="Lorem Ipsum is simply dummy text.">Lorem Ipsum is simply dummy text.</a>
								</h4>
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it.
								</p>
								<ul class="list-inline list-unstyled">
									<li class="list-inline-item"><span><i class="fa fa-calendar" aria-hidden="true"></i> 2 days, 8 hours </span></li>
									<li class="list-inline-item">|</li>
									<li class="list-inline-item"><span><i class="fa fa-commenting-o" aria-hidden="true"></i> 2 comments</span></li>
									<li class="list-inline-item">|</li>
									<li class="list-inline-item">
										<ngb-rating rate=4 max=5></ngb-rating>
									</li>
								</ul>
								<div class="pl-xs">
									<label class="badge badge-primary p-xs mr-sm">
										<i class="fa fa-tag" aria-hidden="true"></i>
										Bootstrap
									</label>
									<label class="badge badge-success p-xs mr-sm">
										<i class="fa fa-tag" aria-hidden="true"></i>
										HTML5
									</label>
									<label class="badge badge-warning p-xs mr-sm">
										<i class="fa fa-tag" aria-hidden="true"></i>
										CSS
									</label>
									<a routerLink="/pages/blog" target="_blank" class="btn btn-sm btn-theme float-right">Read More</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-12 p-0 my-sm">
				<div class="card">
					<div class="card-body media-block">
						<div class="media">
							<a href="javascript:;">
								<img class="mr-3 avatar avatar-xl" src="assets/images/Blog-List-Image1.jpg" alt="RTDL Image">
							</a>
							<div class="media-body">
								<h4>
									<a routerLink="/pages/blog" class="text-dg" title="Lorem Ipsum is simply dummy text.">Lorem Ipsum is simply dummy text.</a>
								</h4>
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it.
								</p>
								<ul class="list-inline list-unstyled">
									<li class="list-inline-item"><span><i class="fa fa-calendar" aria-hidden="true"></i> 2 days, 8 hours </span></li>
									<li class="list-inline-item">|</li>
									<li class="list-inline-item"><span><i class="fa fa-commenting-o" aria-hidden="true"></i> 2 comments</span></li>
									<li class="list-inline-item">|</li>
									<li class="list-inline-item">
										<ngb-rating rate=4 max=5></ngb-rating>
									</li>
								</ul>
								<div class="pl-xs">
									<label class="badge badge-primary p-xs mr-sm">
										<i class="fa fa-tag" aria-hidden="true"></i>
										Bootstrap
									</label>
									<label class="badge badge-success p-xs mr-sm">
										<i class="fa fa-tag" aria-hidden="true"></i>
										HTML5
									</label>
									<label class="badge badge-warning p-xs mr-sm">
										<i class="fa fa-tag" aria-hidden="true"></i>
										CSS
									</label>
									<a routerLink="/pages/blog" target="_blank" class="btn btn-sm btn-theme float-right">Read More</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-12 p-0 my-sm">
				<div class="card">
					<div class="card-body media-block">
						<div class="media">
							<a href="javascript:;">
								<img class="d-flex mr-3 avatar avatar-xl" src="assets/images/Blog-List-Image2.jpg" alt="RTDL Image">
							</a>
							<div class="media-body">
								<h4>
									<a routerLink="/pages/blog" class="text-dg" title="Lorem Ipsum is simply dummy text.">Lorem Ipsum is simply dummy text.</a>
								</h4>
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it.
								</p>
								<ul class="list-inline list-unstyled">
									<li class="list-inline-item"><span><i class="fa fa-calendar" aria-hidden="true"></i> 2 days, 8 hours </span></li>
									<li class="list-inline-item">|</li>
									<li class="list-inline-item"><span><i class="fa fa-commenting-o" aria-hidden="true"></i> 2 comments</span></li>
									<li class="list-inline-item">|</li>
									<li class="list-inline-item">
										<ngb-rating rate=4 max=5></ngb-rating>
									</li>
								</ul>
								<div class="pl-xs">
									<label class="badge badge-primary p-xs mr-sm">
										<i class="fa fa-tag" aria-hidden="true"></i>
										Bootstrap
									</label>
									<label class="badge badge-success p-xs mr-sm">
										<i class="fa fa-tag" aria-hidden="true"></i>
										HTML5
									</label>
									<label class="badge badge-warning p-xs mr-sm">
										<i class="fa fa-tag" aria-hidden="true"></i>
										CSS
									</label>
									<a routerLink="/pages/blog" target="_blank" class="btn btn-sm btn-theme float-right">Read More</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-12 p-0 my-sm">
				<div class="card">
					<div class="card-body media-block">
						<div class="media">
							<a href="javascript:;">
								<img class="mr-3 avatar avatar-xl" src="assets/images/Blog-List-Image3.jpg" alt="RTDL Image">
							</a>
							<div class="media-body">
								<h4>
									<a routerLink="/pages/blog" class="text-dg" title="Lorem Ipsum is simply dummy text.">Lorem Ipsum is simply dummy text.</a>
								</h4>
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it.
								</p>
								<ul class="list-inline list-unstyled">
									<li class="list-inline-item"><span><i class="fa fa-calendar" aria-hidden="true"></i> 2 days, 8 hours </span></li>
									<li class="list-inline-item">|</li>
									<li class="list-inline-item"><span><i class="fa fa-commenting-o" aria-hidden="true"></i> 2 comments</span></li>
									<li class="list-inline-item">|</li>
									<li class="list-inline-item">
										<ngb-rating rate=4 max=5></ngb-rating>
									</li>
								</ul>
								<div class="pl-xs">
									<label class="badge badge-primary p-xs mr-sm">
										<i class="fa fa-tag" aria-hidden="true"></i>
										Bootstrap
									</label>
									<label class="badge badge-success p-xs mr-sm">
										<i class="fa fa-tag" aria-hidden="true"></i>
										HTML5
									</label>
									<label class="badge badge-warning p-xs mr-sm">
										<i class="fa fa-tag" aria-hidden="true"></i>
										CSS
									</label>
									<a routerLink="/pages/blog" target="_blank" class="btn btn-sm btn-theme float-right">Read More</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-12 p-0 my-sm">
				<div class="card">
					<div class="card-body media-block">
						<div class="media">
							<a href="javascript:;">
								<img class="mr-3 avatar avatar-xl" src="assets/images/Blog-List-Image1.jpg" alt="RTDL Image">
							</a>
							<div class="media-body">
								<h4>
									<a routerLink="/pages/blog" class="text-dg" title="Lorem Ipsum is simply dummy text.">Lorem Ipsum is simply dummy text.</a>
								</h4>
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it.
								</p>
								<ul class="list-inline list-unstyled">
									<li class="list-inline-item"><span><i class="fa fa-calendar" aria-hidden="true"></i> 2 days, 8 hours </span></li>
									<li class="list-inline-item">|</li>
									<li class="list-inline-item"><span><i class="fa fa-commenting-o" aria-hidden="true"></i> 2 comments</span></li>
									<li class="list-inline-item">|</li>
									<li class="list-inline-item">
										<ngb-rating rate=4 max=5></ngb-rating>
									</li>
								</ul>
								<div class="pl-xs">
									<label class="badge badge-primary p-xs mr-sm">
										<i class="fa fa-tag" aria-hidden="true"></i>
										Bootstrap
									</label>
									<label class="badge badge-success p-xs mr-sm">
										<i class="fa fa-tag" aria-hidden="true"></i>
										HTML5
									</label>
									<label class="badge badge-warning p-xs mr-sm">
										<i class="fa fa-tag" aria-hidden="true"></i>
										CSS
									</label>
									<a routerLink="/pages/blog" target="_blank" class="btn btn-sm btn-theme float-right">Read More</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12">
		<div class="row">
			<!-- Search Blog -->
			<div class="col-lg-12 my-sm">
				<div class="card">
					<div class="card-header">
						<h5 class="m-0">
							<i class="fa fa-search fa-lg" aria-hidden="true"></i>
							<span class="ml-xs">Blog search</span>
						</h5>
					</div>
					<div class="card-body">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Search Blog">
							<span class="input-group-btn">
								<button class="btn btn-secondary" type="button">
									<i class="fa fa-search" aria-hidden="true"></i>
								</button>
							</span>
						</div>
					</div>
				</div>
			</div>
			<!-- Upcoming Events -->
			<div class="col-xl-12 col-lg-6 col-md-12 col-sm-12 col-12 my-sm">
				<div class="card">
					<div class="card-header">
						<h5 class="m-0">Upcoming Events</h5>
					</div>
					<div class="card-body p-0">
						<div class="table-responsive">
							<table class="table m-0">
								<tr>
									<td>
										<a href="javascript:;" class="text-dg">
											<p class="d-inline-block m-0">Conference</p>
										</a>
									</td>
									<td>
										<small class="float-right">Oct 10th, 2017 at 11:00 am</small>
									</td>
								</tr>
								<tr>
									<td>
										<a href="javascript:;" class="text-dg">
											<p class="d-inline-block m-0">VIP meeting</p>
										</a>
									</td>
									<td>
										<label class="badge badge-success float-right p-1">Now</label>
									</td>
								</tr>
								<tr>
									<td>
										<a href="javascript:;" class="text-dg">
											<p class="d-inline-block m-0">Seminar</p>
										</a>
									</td>
									<td>
										<small class="float-right">Oct 12th, 2017 at 12:00 am</small>
									</td>
								</tr>
								<tr>
									<td>
										<a href="javascript:;" class="text-dg">
											<p class="d-inline-block m-0">Team building events</p>
										</a>
									</td>
									<td>
										<small class="float-right">Oct 15th, 2017 at 01:00 pm</small>
									</td>
								</tr>
								<tr>
									<td>
										<a href="javascript:;" class="text-dg">
											<p class="d-inline-block m-0">Networking events</p>
										</a>
									</td>
									<td>
										<label class="badge badge-success float-right p-1">Now</label>
									</td>
								</tr>
								<tr>
									<td>
										<a href="javascript:;" class="text-dg">
											<p class="d-inline-block m-0">Opening ceremonies</p>
										</a>
									</td>
									<td>
										<label class="badge badge-warning float-right p-1">Waiting</label>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
			<!-- Last Activity -->
			<div class="col-xl-12 col-lg-6 col-md-12 col-sm-12 col-12 my-sm">
				<div class="card">
					<div class="card-header">
						<h5 class="m-0">Last Activities</h5>
					</div>
					<div class="card-body p-0">
						<div class="table-responsive">
							<table class="table m-0">
								<tr>
									<td>
										<a href="javascript:;" class="text-dg">
											<p class="d-inline-block m-0">Trade show</p>
										</a>
									</td>
									<td>
										<label class="badge badge-success float-right p-1">Now</label>
									</td>
								</tr>
								<tr>
									<td>
										<a href="javascript:;" class="text-dg">
											<p class="d-inline-block m-0">Meeting</p>
										</a>
									</td>
									<td>
										<small class="float-right">Oct 07th, 2017 at 11:00 am</small>
									</td>
								</tr>
								<tr>
									<td>
										<a href="javascript:;" class="text-dg">
											<p class="d-inline-block m-0">Award ceremonies</p>
										</a>
									</td>
									<td>
										<label class="badge badge-danger float-right p-1">Blocked</label>
									</td>
								</tr>
								<tr>
									<td>
										<a href="javascript:;" class="text-dg">
											<p class="d-inline-block m-0">Press conference</p>
										</a>
									</td>
									<td>
										<small class="float-right">Oct 07th, 2017 at 09:00 am</small>
									</td>
								</tr>
								<tr>
									<td>
										<a href="javascript:;" class="text-dg">
											<p class="d-inline-block m-0">Networking events</p>
										</a>
									</td>
									<td>
										<label class="badeg badeg-danger float-right">Blocked</label>
									</td>
								</tr>
								<tr>
									<td>
										<a href="javascript:;" class="text-dg">
											<p class="d-inline-block m-0">Business dinner</p>
										</a>
									</td>
									<td>
										<small class="float-right">Oct 10th, 2017 at 08:00 pm</small>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>