<!-- Header -->
<header class="header">
	<div class="navbar navbar-lg m-0 p-0">
		<div class="nav-block">
			<div class="logo d-inline-block">
				<a href="javascript:;" class="btn menu-toggle float-left"><i class="ion-navicon fa-lg"></i></a>
				<a routerLink="/">
					<h2>Ran<img src="assets/images/heading-logo.png" alt="Ranpariya - The Development Lab (RTDL)">ariya</h2>
				</a>
			</div>
			<div class="float-right">

				<!-- Notification -->
				<div class="nav-menu-list dropdown dropdown-animating notification-dropdown">
					<a href="javascript:;" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button"  id="notification-dropdown" aria-haspopup="true" aria-expanded="false">
						<span class="badge badge-success notice-label">14</span>
						<i class="fa fa-bell-o"></i>
					</a>
					<div class="dropdown-menu dropdown-menu-right notification-dropdown" aria-labelledby="notification-dropdown" data-dropdown-in="flipInX" data-dropdown-out="flipOutX">
						<div class="header"><span>You have 12 notification</span></div>
						<ul class="notification-scrollbar list-block">
							<li class="dropdown-item p-0"><a href="javascript:;"><span class="text-info"><i class="fa fa-address-card"></i><span>Notice 1</span></span></a></li>
							<li class="dropdown-item p-0"><a href="javascript:;"><span class="text-success"><i class="fa fa-cubes"></i><span>Notice 2</span></span></a></li>
							<li class="dropdown-item p-0"><a href="javascript:;"><span class="text-warning"><i class="fa fa-comments-o"></i><span>Notice 3</span></span></a></li>
							<li class="dropdown-item p-0"><a href="javascript:;"><span class="text-success"><i class="fa fa-envelope"></i><span>Notice 4</span></span></a></li>
							<li class="dropdown-item p-0"><a href="javascript:;"><span class="text-danger"><i class="fa fa-dot-circle-o"></i><span>Notice 5</span></span></a></li>
							<li class="dropdown-item p-0"><a href="javascript:;"><span class="text-info"><i class="fa fa-image"></i><span>Notice 6</span></span></a></li>
							<li class="dropdown-item p-0"><a href="javascript:;"><span class="text-info"><i class="fa fa-facebook"></i><span>Notice 7</span></span></a></li>
							<li class="dropdown-item p-0"><a href="javascript:;"><span class="text-success"><i class="fa fa-dollar"></i><span>Notice 8</span></span></a></li>
							<li class="dropdown-item p-0"><a href="javascript:;"><span class="text-warning"><i class="fa fa-clock-o"></i><span>Notice 9</span></span></a></li>
							<li class="dropdown-item p-0"><a href="javascript:;"><span class="text-success"><i class="fa fa-group"></i><span>Notice 10</span></span></a></li>
							<li class="dropdown-item p-0"><a href="javascript:;"><span class="text-danger"><i class="fa fa-heart"></i><span>Notice 11</span></span></a></li>
							<li class="dropdown-item p-0"><a href="javascript:;"><span class="text-info"><i class="fa fa-archive"></i><span>Notice 12</span></span></a></li>
						</ul>
						<div class="navbar-footer"><span>View all</span></div>
					</div>
				</div>

				<!-- Message Menu-->
				<div class="nav-menu-list dropdown dropdown-animating notification-dropdown">
					<a href="javascript:;" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
						<span class="badge badge-theme notice-label">14</span>
						<i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i>
					</a>
					<div class="dropdown-menu dropdown-menu-right notification-dropdown" data-dropdown-in="flipInX" data-dropdown-out="flipOutX">
						<div class="header"><span class="font-14">You have 4 mail</span></div>
						<ul class="mail-scrollbar list-block">
							<li class="dropdown-item p-0"><a href="javascript:;"><span class="text-info"><i class="fa fa-envelope-o"></i><span>Denny sent you a mail</span></span></a></li>
							<li class="dropdown-item p-0"><a href="javascript:;"><span class="text-success"><i class="fa fa-envelope-o"></i><span>Mack sent you a mail</span></span></a></li>
							<li class="dropdown-item p-0"><a href="javascript:;"><span class="text-warning"><i class="fa fa-envelope-o"></i><span>Marina sent you a mail</span></span></a></li>
							<li class="dropdown-item p-0"><a href="javascript:;"><span class="text-danger"><i class="fa fa-envelope-o"></i><span>Jack sent you a mail</span></span></a></li>
						</ul>
						<div class="navbar-footer"><span>View all</span></div>
					</div>
				</div>

				<!-- Right sidebar -->
				<div class="nav-menu-list">
					<a href="javascript:;" class="nav-link sidebar-right-sidebar">
						<i class="fa fa-align-right" aria-hidden="true"></i>
					</a>
				</div>

				<!-- Nav profile -->
				<div class="nav-menu-list dropdown dropdown-animating nav-profile">
					<a href="javascript:;" class="dropdown-toggle nav-link pb-0 d-none d-md-block" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
						<img class="rounded-circle avatar avatar-xs" alt="RTDL Image" src="assets/images/portrait/avatar.png">&nbsp;&nbsp;&nbsp;{{user.displayName}}&nbsp;&nbsp;<b class="caret"></b>
					</a>
					<a href="javascript:;" class="dropdown-toggle nav-link pb-0 d-md-none" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
						<img class="rounded-circle avatar avatar-xs" alt="RTDL Image" src="assets/images/portrait/avatar.png">
					</a>
					<div class="dropdown-menu dropdown-menu-right font-os-thin m-0 pb-0" data-dropdown-in="bounceInRight" data-dropdown-out="bounceOutRight">
						<div class="text-center pt-md">
							<div>
								<span class="active">
									<i class="fa fa-check-circle" aria-hidden="true"></i>
								</span>
								<img class="rounded-circle avatar avatar-lg" alt="RTDL Image" src="assets/images/portrait/thumbnail.png">
								<h5 class="mb-0">{{user.displayName}}</h5>
								<p>Creative Designer</p>
							</div>
							<div>
								<a routerLink="/profile" target="_blank" class="btn btn-theme">Profile</a>
								<button class="btn btn-light">Follow</button>
							</div>
							<div class="font-12">66% profile completed</div>
							<div class="progress-rounded my-lg">
								<ngb-progressbar type="theme" [value]="66" height="5px"></ngb-progressbar>
							</div>
						</div>
						<div>
							<ul class="list-unstyled mb-0">
								<li class="menu-links d-flex">
									<a href="javascript:;" class="col-12 p-sm link-menu">
										Account Settings 
										<span class="fa fa-cog float-right"></span>
									</a>
								</li>
								<li class="menu-links d-flex">
									<a href="javascript:;" class="col-12 p-sm link-menu">
										User stats 
										<span class="fa fa-bar-chart float-right"></span>
									</a>
								</li>
								<li class="menu-links d-flex">
									<a href="javascript:;" class="col-12 p-sm link-menu">
										Messages 
										<span class="badge badge-info float-right">5</span>
									</a>
								</li>
								<li class="menu-links d-flex">
									<a href="javascript:;" class="col-12 p-sm link-menu">
										Favourites Snippets 
										<span class="badge badge-theme float-right">11</span>
									</a>
								</li>
								<li class="menu-links d-flex">
									<a href="javascript:;" class="col-12 p-sm link-menu" (click)="lock()">
										Lock Screen 
										<span class="fa fa-lock fa-lg float-right"></span>
									</a>
								</li>
								<li class="menu-links d-flex">
									<a href="javascript:;" class="col-12 p-sm link-menu" (click)="logout()">
										Sign Out 
										<span class="fa fa-sign-out float-right"></span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>