<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">Widgets</a></li>
							<li class="breadcrumb-item active text-dg">Other Widgets</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-flask menu-icon" aria-hidden="true"></i> Other Widgets</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Other Widgets Content -->
<div class="row social-widgets">
	<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 font-os-thin social-widgets-box my-sm">
		<div class="bg-white p-lg text-center" data-count=".num" data-prefix=" " data-from="0" data-to="1823" data-suffix=" " data-duration="2">
			<span class="newUser"></span>
			<h4 class="num font-os-bold my-sm">0</h4>
			<span>New Users</span>
		</div>
	</div>
	<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 font-os-thin social-widgets-box my-sm">
		<div class="bg-white p-lg text-center " data-count=".num" data-from="0" data-prefix="$" data-to="3178" data-suffix=" " data-duration="2">
			<span class="activeUser"></span>
			<h4 class="num font-os-bold my-sm">0</h4>
			<span>Profit</span>
		</div>
	</div>
	<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 font-os-thin social-widgets-box my-sm">
		<div class="bg-white p-lg" data-prefix=" " data-count=".num" data-from="0" data-to="6043" data-suffix=" " data-duration="2">
			<span class="profitSpark"></span>
			<div class="float-right mt-sm">
				<div class="my-xs progress-rounded">
					<ngb-progressbar type="theme" [value]="72" height="5px"></ngb-progressbar>
				</div>
				<div>
					<p>Active Users</p>
				</div>
			</div>
			<h4 class="num font-os-bold my-sm">0</h4>
			<span>New Users</span>
		</div>
	</div>
	<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 font-os-thin social-widgets-box my-sm">
		<div class="bg-white p-lg" data-count=".num" data-from="0" data-prefix="$" data-to="6043" data-suffix=" " data-duration="2">
			<span class="todaysSelling"></span>
			<div class="float-right mt-sm">
				<div class="my-xs progress-rounded">
					<ngb-progressbar type="theme" [value]="72" height="5px"></ngb-progressbar>
				</div>
				<div>
					<p>Today's selling</p>
				</div>
			</div>
			<h4 class="num font-os-bold my-sm">0</h4>
			<span>Profit</span>
		</div>
	</div>
</div>
<div class="row social-widgets">
	<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 my-sm font-os-thin social-widgets-box">
		<div class="bg-white p-lg" data-prefix=" " data-count=".num" data-from="0" data-to="3706" data-suffix=" " data-duration="2">
			<div class="float-right">
				<span class="newUsers"></span>
			</div>
			<h4 class="num font-os-bold my-sm">0</h4>
			<span>New Users</span>
		</div>
	</div>
	<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 my-sm font-os-thin social-widgets-box">
		<div class="bg-white p-lg" data-count=".num" data-from="0" data-prefix="$" data-to="10509" data-suffix=" " data-duration="2">
			<div class="float-right">
				<span class="profitsSpark"></span>
			</div>
			<h4 class="num font-os-bold my-sm">0</h4>
			<span>Profit</span>
		</div>
	</div>
	<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 my-sm font-os-thin social-widgets-box">
		<div class="bg-white p-lg" data-prefix=" " data-count=".num" data-from="0" data-to="28386" data-suffix=" " data-duration="2">
			<svg id="fillgauge1" class="mt-xs float-right" width="50" height="50"></svg>
			<h4 class="num font-os-bold my-sm">0</h4>
			<span>Monthly Target</span>
		</div>
	</div>
	<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 my-sm font-os-thin social-widgets-box">
		<div class="bg-white p-lg" data-prefix=" " data-count=".num" data-from="0" data-to="3706" data-suffix=" " data-duration="2">
			<svg id="fillgauge2" class="mt-xs float-right" width="50" height="50"></svg>
			<h4 class="num font-os-bold my-sm">0</h4>
			<span>Completed Today's Target</span>
		</div>
	</div>
</div>
<div class="row social-widgets">
	<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 my-sm font-os-thin social-widgets-box">
		<div class="bg-white p-lg" data-prefix=" " data-count=".num" data-from="0" data-to="1823" data-suffix=" " data-duration="2">
			<div class="float-right mt-md">
				<span class="barChart1 d-none">5,9,7,3,5,2,4,7,3,2,7,9,6,4,5,7</span>
			</div>
			<h4 class="num font-os-bold my-sm">0</h4>
			<span>New Users</span>
		</div>
	</div>
	<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 my-sm font-os-thin social-widgets-box">
		<div class="bg-white p-lg" data-prefix=" " data-count=".num" data-from="0" data-to="6043" data-suffix=" " data-duration="2">
			<div class="float-right mt-md">
				<span class="barChart2 d-none">7,3,2,7,9,6,4,5,7,5,3,9,6,5,9,7</span>
			</div>
			<h4 class="num font-os-bold my-sm">0</h4>
			<span>New Users</span>
		</div>
	</div>
	<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 my-sm font-os-thin social-widgets-box">
		<div class="bg-white p-lg" data-count=".num" data-from="0" data-prefix="$" data-to="3178" data-suffix=" " data-duration="2">
			<div class="float-right mt-md">
				<span class="barChart3 d-none">2,7,9,6,4,5,7,5,3,9,6,5,9,7,3,5,8</span>
			</div>
			<h4 class="num font-os-bold my-sm">0</h4>
			<span>Profit</span>
		</div>
	</div>
	<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 my-sm font-os-thin social-widgets-box">
		<div class="bg-white p-lg" data-count=".num" data-from="0" data-prefix="$" data-to="4769" data-suffix=" " data-duration="2">
			<div class="float-right mt-md">
				<span class="barChart4 d-none">7,9,6,4,5,7,5,3,9,6,5,9,7,3,6,9</span>
			</div>
			<h4 class="num font-os-bold my-sm">0</h4>
			<span>Profit</span>
		</div>
	</div>
</div>
<div class="row social-widgets">
	<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 my-sm font-os-thin social-widgets-box">
		<div class="bg-white">
			<div class="my-xs progress-rounded">
				<ngb-progressbar type="theme" [value]="90" height="5px"></ngb-progressbar>
			</div>
			<div class="px-xs">
				<p class="d-inline-block">Today's Active Users</p>
				<p class="float-right">90%</p>
			</div>
			<div class="text-center" data-prefix=" " data-count=".num" data-from="0" data-to="1823" data-suffix=" " data-duration="2">
				<h4 class="num font-os-bold my-sm">0</h4>
				<span>New Users</span>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 my-sm font-os-thin social-widgets-box">
		<div class="bg-white">
			<div class="my-xs progress-rounded">
				<ngb-progressbar type="theme" [value]="72" height="5px"></ngb-progressbar>
			</div>
			<div class="px-xs">
				<p class="d-inline-block">Today's selling</p>
				<p class="float-right">72%</p>
			</div>
			<div class="text-center" data-count=".num" data-from="0" data-prefix="$" data-to="1823" data-suffix=" " data-duration="2">
				<h4 class="num font-os-bold my-sm">0</h4>
				<span>Profit</span>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 my-sm font-os-thin social-widgets-box">
		<div class="bg-white p-lg" data-prefix=" " data-count=".num" data-from="0" data-to="6043" data-suffix=" " data-duration="2">
			<h4 class="num font-os-bold float-left py-sm pr-xlg">0</h4>
			<div>
				<div class="my-xs progress-rounded">
					<ngb-progressbar type="theme" [value]="90" height="5px"></ngb-progressbar>
				</div>
				<div>
					<span>Active Users</span>
					<p class="float-right">90%</p>
				</div>
			</div><br>
			<span>New Users</span>
		</div>
	</div>
	<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 my-sm font-os-thin social-widgets-box">
		<div class="bg-white p-lg" data-count=".num" data-from="0" data-prefix="$" data-to="6043" data-suffix=" " data-duration="2">
			<h4 class="num font-os-bold float-left py-sm pr-xlg">0</h4>
			<div>
				<div class="my-xs progress-rounded">
					<ngb-progressbar type="theme" [value]="72" height="5px"></ngb-progressbar>
				</div>
				<div>
					<span>Today's selling</span>
					<p class="float-right">72%</p>
				</div>
			</div><br>
			<span>Profit</span>
		</div>
	</div>
</div>
<div class="row social-widgets">
	<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 my-sm font-os-thin social-widgets-box">
		<div class="other-widgets-box border-r-md p-lg text-center text-white" data-prefix=" " data-count=".num" data-from="0" data-to="1823" data-suffix=" " data-duration="2">
			<span class="newUsersSpark"></span>
			<h4 class="num font-os-bold my-sm">0</h4>
			<span>New Users</span>
		</div>
	</div>
	<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 my-sm font-os-thin social-widgets-box">
		<div class="other-widgets-box border-r-md pt-lg text-center text-white" data-count=".num" data-from="0" data-prefix="$" data-to="1823" data-suffix=" " data-duration="2">
			<span>Profit</span>
			<h4 class="num font-os-bold my-sm">0</h4>
			<div id="flot-area" style="width:100%;height:70px"></div>
		</div>
	</div>
	<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 my-sm font-os-thin social-widgets-box">
		<div class="other-widgets-box text-white border-r-md p-lg" data-prefix=" " data-count=".num" data-from="0" data-to="1823" data-suffix=" " data-duration="2">
			<div class="float-right mt-md">
				<span class="barChart5 d-none">5,9,7,3,5,2,4,7,3,2,7,9,6,4,5,7</span>
			</div>
			<h4 class="num font-os-bold my-sm">0</h4>
			<span>New Users</span>
		</div>
	</div>
	<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 my-sm font-os-thin social-widgets-box">
		<div class="other-widgets-box text-white border-r-md p-lg" data-count=".num" data-from="0" data-prefix="$" data-to="4769" data-suffix=" " data-duration="2">
			<div class="float-right mt-md">
				<span class="barChart6 d-none">7,9,6,4,5,7,5,3,9,6,5,9,7,3,6,9</span>
			</div>
			<h4 class="num font-os-bold my-sm">0</h4>
			<span>Profit</span>
		</div>
	</div>
</div>