<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">Forms and Plugins</a></li>
							<li class="breadcrumb-item active text-dg">Form Advance Elements</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-edit" aria-hidden="true"></i> Form Advance Elements</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Form Advance Elements Content -->
<div class="row">
	<div class="col-lg-6 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="d-inline-block my-xs">Advance Checkbox</h5>
				<a href="http://icheck.fronteed.com/" target="_blank" class="btn btn-outline-secondary btn-sm float-right">Get ICheck Doc</a>
			</div>
			<div class="card-body">
				<p>Minimal Checkbox</p>
				<div class="minimal">
					<input type="checkbox" id="minimal-checkbox-1">
					<label  for="minimal-checkbox-1">Apple</label>
					&nbsp;&nbsp;&nbsp;
					<input type="checkbox" id="minimal-checkbox-2">
					<label for="minimal-checkbox-2">Banana</label>
					&nbsp;&nbsp;&nbsp;
					<input type="checkbox" id="minimal-checkbox-3" disabled>
					<label for="minimal-checkbox-3">Grapes</label>
				</div>
				<p>Square Checkbox</p>
				<div class="square">
					<input type="checkbox" id="square-checkbox-1">
					<label for="square-checkbox-1">Apple</label>
					&nbsp;&nbsp;&nbsp;
					<input type="checkbox" id="square-checkbox-2">
					<label for="square-checkbox-2">Banana</label>
					&nbsp;&nbsp;&nbsp;
					<input type="checkbox" id="square-checkbox-3" disabled>
					<label for="square-checkbox-3">Grapes</label>
				</div>
				<p>Flat Checkbox</p>
				<div class="flat">
					<input type="checkbox" id="flat-checkbox-1">
					<label for="flat-checkbox-1">Apple</label>
					&nbsp;&nbsp;&nbsp;
					<input type="checkbox" id="flat-checkbox-2">
					<label for="flat-checkbox-2">Banana</label>
					&nbsp;&nbsp;&nbsp;
					<input type="checkbox" disabled id="flat-checkbox-3">
					<label for="flat-checkbox-3">Grapes</label>
				</div>
				<p>Line Checkbox</p>
				<div class="line">
					<div class="row">
						<div class="col-md-4 mb-xs">
							<input type="checkbox" id="line-checkbox-1">
							<label for="line-checkbox-1">Apple</label>
						</div>
						<div class="col-md-4 mb-xs">
							<input type="checkbox" id="line-checkbox-2">
							<label for="line-checkbox-2">Banana</label>
						</div>
						<div class="col-md-4 mb-xs">
							<input type="checkbox" id="line-checkbox-3" disabled>
							<label for="line-checkbox-3">Grapes</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-6 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="d-inline-block my-xs">Advance Radio Button</h5>
				<a href="http://icheck.fronteed.com/" target="_blank" class="btn btn-outline-secondary btn-sm float-right">Get ICheck Doc</a>
			</div>
			<div class="card-body">
				<p>Minimal Radio Button</p>
				<div class="minimal">
					<input type="radio" name="iCheckMinimal" id="minimal-radio-1">
					<label for="minimal-radio-1">Apple</label>
					&nbsp;&nbsp;&nbsp;
					<input type="radio" name="iCheckMinimal" id="minimal-radio-2">
					<label for="minimal-radio-2">Banana</label>
					&nbsp;&nbsp;&nbsp;
					<input type="radio" name="iCheckMinimal" id="minimal-radio-3" disabled>
					<label for="minimal-radio-3">Grapes</label>
				</div>
				<p>Round Radio Button</p>
				<div class="square">
					<input type="radio" name="iCheckSquare" id="round-radio-1">
					<label for="round-radio-1">Apple</label>
					&nbsp;&nbsp;&nbsp;
					<input type="radio" name="iCheckSquare" id="round-radio-2">
					<label for="round-radio-2">Banana</label>
					&nbsp;&nbsp;&nbsp;
					<input type="radio" name="iCheckSquare" id="round-radio-3" disabled>
					<label for="round-radio-3">Grapes</label>
				</div>
				<p>Flat Radio Button</p>
				<div class="flat">
					<input type="radio" name="iCheckFlat" id="flat-radio-1">
					<label for="flat-radio-1">Apple</label>
					&nbsp;&nbsp;&nbsp;
					<input type="radio" name="iCheckFlat" id="flat-radio-2">
					<label for="flat-radio-2">Banana</label>
					&nbsp;&nbsp;&nbsp;
					<input type="radio" name="iCheckFlat" id="flat-radio-3" disabled>
					<label for="flat-radio-3">Grapes</label>
				</div>
				<p>Line Radio Button</p>
				<div class="line">
					<div class="row">
						<div class="col-md-4 mb-xs">
							<input type="radio" name="iCheckLine" id="line-radio-1">
							<label for="line-radio-1">Apple</label>
						</div>
						<div class="col-md-4 mb-xs">
							<input type="radio" name="iCheckLine" id="line-radio-2">
							<label for="line-radio-2">Banana</label>
						</div>
						<div class="col-md-4 mb-xs">
							<input type="radio" name="iCheckLine" id="line-radio-3" disabled>
							<label for="line-radio-3">Grapes</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-6 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="d-inline-block my-xs">Input Masks</h5>
				<a href="http://www.jasny.net/bootstrap/javascript/#inputmask" target="_blank" class="btn btn-outline-secondary btn-sm float-right">Get Input Masks Doc</a>
			</div>
			<div class="card-body">
				<div class="row" id="isbn">
					<div class="col-lg-2 col-md-2 col-sm-2 col-3">
						ISBN
					</div>
					<div class="col-lg-10 col-md-10 col-sm-10 col-9">
						<input type="text" class="form-control mb-sm" data-mask="999-99-999-9999-9">
					</div>
				</div>
				<div class="row" id="date">
					<div class="col-lg-2 col-md-2 col-sm-2 col-3">
						Date
					</div>
					<div class="col-lg-10 col-md-10 col-sm-10 col-9">
						<input type="text" class="form-control mb-sm" data-mask="99/99/9999">
					</div>
				</div>
				<div class="row" id="phone">
					<div class="col-lg-2 col-md-2 col-sm-2 col-3">
						Phone
					</div>
					<div class="col-lg-10 col-md-10 col-sm-10 col-9">
						<input type="text" class="form-control mb-sm" data-mask="(999)999-9999">
					</div>
				</div>
				<div class="row" id="currency">
					<div class="col-lg-2 col-md-2 col-sm-2 col-3">
						Currency
					</div>
					<div class="col-lg-10 col-md-10 col-sm-10 col-9">
						<input type="text" class="form-control mb-sm" data-mask="$ 999,999,999.99">
					</div>
				</div>
				<div class="row" id="sna">
					<div class="col-lg-2 col-md-2 col-sm-2 col-3">
						SNA
					</div>
					<div class="col-lg-10 col-md-10 col-sm-10 col-9">
						<input type="text" class="form-control mb-sm" data-mask="aa99-9999-99">
					</div>
				</div>
				<div class="row" id="ipv4">
					<div class="col-lg-2 col-md-2 col-sm-2 col-3">
						IPV4
					</div>
					<div class="col-lg-10 col-md-10 col-sm-10 col-9">
						<input type="text" class="form-control mb-sm" data-mask="999.999.999.9">
					</div>
				</div>
				<div class="row" id="ipv6">
					<div class="col-lg-2 col-md-2 col-sm-2 col-3">
						IPV6
					</div>
					<div class="col-lg-10 col-md-10 col-sm-10 col-9">
						<input type="text" class="form-control mb-sm" data-mask="****:****:****:****:****:****:****:****">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-6 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="d-inline-block my-xs">Select2 and Selectize</h5>
				<a href="https://select2.github.io/examples.html#basics" target="_blank" class="btn btn-outline-secondary btn-sm float-right ml-xs">Get Select2 Doc</a>
				<a href="http://selectize.github.io/selectize.js/" target="_blank" class="btn btn btn-outline-secondary btn-sm float-right">Get Selectize Doc</a>
			</div>
			<div class="card-body">
				<div class="row mb-sm">
					<div class="col-lg-12 col-md-12 col-sm-12 col-12">
						<p class="m-0">Basic select box</p>
						<select class="basic js-states form-control">
							<optgroup label="Country">
								<option value="Australia">Australia</option>
								<option value="Bahrain">Bahrain</option>
								<option value="Colombia">Colombia</option>
								<option value="France">France</option>
								<option value="Germany">Germany</option>
								<option value="Germany">Germany</option>
								<option value="India">India</option>
								<option value="Japan">Japan</option>
							</optgroup>
							<optgroup label="State">
								<option value="Gujarat">Gujarat</option>
								<option value="Maharastra">Maharastra</option>
								<option value="Haryana">Haryana</option>
								<option value="Andhra-Pradesh">Andhra Pradesh</option>
								<option value="Goa">Goa</option>
								<option value="Kerela">Kerala</option>
							</optgroup>
							<optgroup label="city">
								<option value="Mumbai">Mumbai</option>
								<option value="Surat">Surat</option>
								<option value="Pune">Pune</option>
								<option value="Vadodara">Vadodra</option>
								<option value="Rajkot">Rajkot</option>
							</optgroup>
						</select>
					</div>
				</div>
				<div class="row mb-sm">
					<div class="col-lg-12 col-md-12 col-sm-12 col-12">
						<p class="n-0">Multi select with tagging</p>
						<select class="multiple js-states form-control" multiple="">
							<optgroup label="Fruits">
								<option value="Apple">Apple</option>
								<option value="Banana">Banana</option>
								<option value="Grapes">Grapes</option>
								<option value="Watermellon">Watermellon</option>
								<option value="Mengo">Mengo</option>
								<option value="Orange">Orange</option>
								<option value="Coconut">Coconut</option>
								<option value="Blackberry">Blackberry</option>
								<option value="Cherry">Cherry</option>
							</optgroup>
						</select>
					</div>
				</div>
				<div class="row mb-sm">
					<div class="col-lg-12 col-md-12 col-sm-12 col-12">
						<p class="m-0">Multi select with placeholder</p>
						<select class="multiple-placeholder js-states form-control" multiple="">
							<optgroup label="Fruits">
								<option value="Apple">Apple</option>
								<option value="Banana">Banana</option>
								<option value="Grapes">Grapes</option>
								<option value="Watermellon">Watermellon</option>
								<option value="Mengo">Mengo</option>
								<option value="Orange">Orange</option>
								<option value="Coconut">Coconut</option>
								<option value="Blackberry">Blackberry</option>
								<option value="Cherry">Cherry</option>
							</optgroup>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-12 selectize-email">
						<p class="m-0">Multi select with new custom Email (Selectize)</p>
						<select id="selectize-mail"></select>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-12">
						<p class="m-0">Disabled select box</p>
						<select class="form-control" disabled="">
							<optgroup label="Fruits">
								<option value="Apple">Apple</option>
								<option value="Banana">Banana</option>
								<option value="Grapes">Grapes</option>
								<option value="Watermellon">Watermellon</option>
								<option value="Mengo">Mengo</option>
								<option value="Orange">Orange</option>
								<option value="Coconut">Coconut</option>
								<option value="Blackberry">Blackberry</option>
								<option value="Cherry">Cherry</option>
							</optgroup>
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="d-inline-block my-xs"> NGX Show/Hide Password</h5>
				<a href="https://www.npmjs.com/package/ngx-show-hide-password" target="_blank" class="btn btn-outline-secondary btn-sm float-right">Get NGX Show/Hide Password Doc</a>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 my-sm">
						<h4>Usage</h4>
						<p>Add directive &lt;show-hide-password&gt; elements</p>
						<pre class="card bg-lg p-sm">&lt;show-hide-password icon="fontawesome/entypo"&gt;&lt;input type="password"&gt;&lt;/show-hide-password&gt;</pre>
					</div>
					<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 my-sm">
						<h4>Live Example</h4>
						<div class="form-group">
							<label for="password" class="mb-md">Password</label>
							<show-hide-password icon="fontawesome">
							  <input class="form-control" type="password">
							</show-hide-password>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-6 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="d-inline-block my-xs">Color Picker</h5>
				<a href="https://itsjavi.com/bootstrap-colorpicker/" target="_blank" class="btn btn-outline-secondary btn-sm float-right">Get Color Picker Doc</a>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-12">
						<p>Simple color picker</p>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-12">
						<div class="form-group">
							<input id="cp1" type="text" class="form-control" value="#5367ce" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-6 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="my-xs">Clock Picker</h5>
			</div>
			<div class="card-body py-sm">
				<ngb-timepicker [(ngModel)]="time" [meridian]="meridian"  [seconds]="seconds"></ngb-timepicker>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="d-inline-block my-xs"> Datepicker</h5>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 my-sm">
						<h4>Basic datepicker</h4>
						<form>
							<div class="form-group">
								<div class="input-group">
									<input ngbDatepicker class="form-control" placeholder="yyyy-mm-dd" name="dp" #basicdp="ngbDatepicker">
									<span class="input-group-addon" (click)="basicdp.toggle()">
										<i class="fa fa-calendar" aria-hidden="true"></i>
									</span>
								</div>
							</div>
						</form>
					</div>
					<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 my-sm d-none d-sm-block">
						<h4>Multiple months</h4>
						<form>
							<div class="form-group">
								<div class="input-group">
									<input class="form-control" placeholder="yyyy-mm-dd"
									name="dp" ngbDatepicker #multipleMonth="ngbDatepicker" displayMonths=2 navigation='select' showWeekNumbers=false>
									<span class="input-group-addon" (click)="multipleMonth.toggle()">
										<i class="fa fa-calendar" aria-hidden="true"></i>
									</span>
								</div>
							</div>
						</form>
					</div>
					<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 my-sm">
						<h4>Custom day view</h4>
						<form>
							<div class="form-group">
								<div class="input-group">
									<input class="form-control" placeholder="yyyy-mm-dd"
									name="dp" [(ngModel)]="model2" ngbDatepicker [dayTemplate]="customDay" [markDisabled]="isDisabled" #customDayView="ngbDatepicker">
									<span class="input-group-addon" (click)="customDayView.toggle()">
										<i class="fa fa-calendar" aria-hidden="true"></i>
									</span>
								</div>
							</div>
						</form>

						<ng-template #customDay let-date="date" let-currentMonth="currentMonth" let-selected="selected" let-disabled="disabled" let-focused="focused">
							<span class="custom-day" [class.weekend]="isWeekend(date)" [class.focused]="focused"
							[class.bg-primary]="selected" [class.hidden]="date.month !== currentMonth" [class.text-muted]="disabled">
								{{ date.day }}
							</span>
						</ng-template>
					</div>
				</div>
				<div class="row">
					<div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12 my-sm d-none d-sm-block">
						<h4>Range selection</h4>
						<form>
							<div class="form-group">
								<div class="input-group">
									<input ngbDatepicker class="form-control" placeholder="yyyy-mm-dd" name="dp" #demo="ngbDatepicker" ngModel (ngModelChange)="onDateChange($event)" [displayMonths]="2" [dayTemplate]="t" aria-describedby="range">
									<span class="input-group-addon" (click)="demo.toggle()" id="range">
										<i class="fa fa-calendar" aria-hidden="true"></i>
									</span>
								</div>
							</div>
						</form>
						<ng-template #t let-date="date" let-focused="focused">
							<span class="custom-day"
								[class.focused]="focused"
								[class.range]="isFrom(date) || isTo(date) || isInside(date) || isHovered(date)"
								[class.faded]="isHovered(date) || isInside(date)"
								(mouseenter)="hoveredDate = date"
								(mouseleave)="hoveredDate = null">
								{{ date.day }}
							</span>
						</ng-template>
						<pre class="float-left mr-xlg"><b>From:</b> {{ fromDate | json }} </pre>
						<pre><b>To:</b> {{ toDate | json }} </pre>
					</div>
					<div class="col-xl-4 col-lg-3 col-md-12 col-sm-12 col-12 my-sm">
						<h4>Disabled datepicker</h4>
						<form>
							<div class="form-group">
								<div class="input-group">
									<input class="form-control" [(ngModel)]="model" [disabled]="disabled" id="disabledDate" name="disabledDatePicker" ngbDatepicker #disabledDate="ngbDatepicker">
									<span class="input-group-addon" (click)="disabledDate.toggle()">
										<i class="fa fa-calendar" aria-hidden="true"></i>
									</span>
								</div>
							</div>
						</form>
						<div class="mt-sm">
							<button class="btn btn-sm btn-outline-{{disabled ? 'danger' : 'success'}}" (click)="disabled = !disabled">
								{{ disabled ? "disabled" : "enabled"}}
							</button>
						</div>
					</div>
					<div class="col-xl-4 col-lg-3 col-md-12 col-sm-12 col-12 my-sm">
						<h4>Global configuration of datepickers</h4>
						<form>
							<div class="form-group">
								<div class="input-group">
									<input class="form-control" [(ngModel)]="model1" id="globalConfDate" name="globalDate" ngbDatepicker #globalConfDate="ngbDatepicker" placeholder="yyyy-mm-dd">
									<span class="input-group-addon" (click)="globalConfDate.toggle()">
										<i class="fa fa-calendar" aria-hidden="true"></i>
									</span>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="d-inline-block my-xs">jQuery Knobs</h5>
				<a href="http://anthonyterrien.com/knob/" target="_blank" class="btn btn-outline-secondary btn-sm float-right">Get Knobs Doc</a>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-sm-6 col-6 text-center">
						<input type="text" value="40" class="knob-simple" data-displayInput=true data-fgColor="#ED174C" data-width="100" data-height="100" data-thickness=.3>
						<h5>Basic Jquery Knob</h5>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 col-6 text-center">
						<input type="text" value="25" class="knob-simple" data-cursor=true data-thickness=".3" data-fgColor="#ED174C" data-width="100" data-height="100" data-bgColor="#EEEEEE" data-displayInput="true">
						<h5>Knob with cursor mode</h5>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 col-6 text-center">
						<input type="text" value="50" class="knob-simple" data-width="100" data-height="100" data-fgColor="#286090" data-skin="tron" data-thickness=".1" data-angleOffset="180">
						<h5>Overloaded Draw method</h5>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 col-6 text-center">
						<input type="text" value="75" class="knob-simple" data-width="100" data-height="100" data-fgColor="#1e1e1e" data-angleOffset=-125 data-angleArc=250 data-thickness=.3>
						<h5>Arc Type knob</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="d-inline-block my-xs">Bootstrap Switch</h5>
				<a href="http://bootstrapswitch.com/" target="_blank" class="btn btn-outline-secondary btn-sm float-right">Get Switch Doc</a>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-lg-2 col-md-4 col-sm-6 col-6">
						<h5>Simple</h5>
						<input type="checkbox" name="switch-checkbox" checked>
					</div>
					<div class="col-lg-2 col-md-4 col-sm-6 col-6">
						<h5>Disabled</h5>
						<input type="checkbox" name="disabled-checkbox" checked disabled="disabled">
					</div>
					<div class="col-lg-2 col-md-4 col-sm-6 col-6">
						<h5 class="my-xs">Inside Modals</h5>
						<button data-toggle="modal" data-target="#modal-switch" class="btn btn-theme">Open Modal</button>
						<div id="modal-switch" tabindex="-1" role="dialog" aria-labelledby="modal-switch-label" class="modal fade">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<div id="modal-switch-label" class="modal-title">Bootstrap State Switch</div>
										<button type="button" data-dismiss="modal" class="close">
											<span aria-hidden="true">×</span>
											<span class="sr-only">Close</span>
										</button>
									</div>
									<div class="modal-body">
										<p>
											<input id="switch-state" type="checkbox" checked="checked">
										</p>
										<div class="btn-group">
											<button type="button" data-switch-toggle="state" class="btn btn-outline-secondary">Toggle</button>
											<button type="button" data-switch-set="state" data-switch-value="true" class="btn btn-outline-secondary">Set true</button>
											<button type="button" data-switch-set="state" data-switch-value="false" class="btn btn-outline-secondary">Set false</button>
											<button type="button" data-switch-get="state" class="btn btn-outline-secondary">Get</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-md-4 col-sm-6 col-6">
						<h5 class="my-xs">Create/Destroy</h5>
						<input id="createDestroySwitch" type="checkbox" checked="checked" data-switch-no-init="data-switch-no-init">
						<button type="button" data-switch-create-destroy="data-switch-create-destroy" data-destroy-text="Destroy" class="btn btn-theme mt-xs">Create</button>
					</div>
					<div class="col-lg-4 col-md-8 col-sm-12 col-12">
						<h5 class="my-xs">Off Color</h5>
						<input id="switch-onColor" type="checkbox" checked="checked" data-on-color="theme">
						<div class="btn-group switch-button">
							<button type="button" data-toggle="dropdown" class="btn btn-outline-theme dropdown-toggle" aria-haspopup="true" aria-expanded="false">Set Off Color&nbsp;
								<span class="caret"></span>
							</button>
							<ul role="menu" class="dropdown-menu">
								<li>
									<a class="dropdown-item" href="javascript:;" data-switch-set="onColor" data-switch-value="theme">Theme</a>
								</li>
								<li>
									<a class="dropdown-item" href="javascript:;" data-switch-set="onColor" data-switch-value="primary">Primary</a>
								</li>
								<li>
									<a class="dropdown-item" href="javascript:;" data-switch-set="onColor" data-switch-value="info">Info</a>
								</li>
								<li>
									<a class="dropdown-item" href="javascript:;" data-switch-set="onColor" data-switch-value="success">Success</a>
								</li>
								<li>
									<a class="dropdown-item" href="javascript:;" data-switch-set="onColor" data-switch-value="warning">Warning</a>
								</li>
								<li>
									<a class="dropdown-item" href="javascript:;" data-switch-set="onColor" data-switch-value="default">Default</a>
								</li>
							</ul>
						</div>
						<button type="button" data-switch-get="onColor" class="btn btn-outline-secondary d-none d-md-block mt-xs">Get</button>
					</div>
				</div>
				<div class="row mt-md">
					<div class="col-lg-4 col-md-8 col-sm-12 col-12">
						<h5>Inverse</h5>
						<p>
							<input id="switch-inverse" type="checkbox" checked="checked" data-inverse="true">
						</p>
						<button type="button" data-switch-toggle="inverse" class="btn btn-outline-secondary">Toggle</button>
						<button type="button" data-switch-get="inverse" class="btn btn-outline-secondary">Get</button>
					</div>
					<div class="col-lg-4 col-md-8 col-sm-12 col-12">
						<h5 class="my-xs">Indeterminate</h5>
						<p>
							<input id="switch-indeterminate" type="checkbox" checked="checked" data-indeterminate="true">
						</p>
						<button type="button" data-switch-toggle="indeterminate" class="btn btn-outline-secondary">Toggle</button>
						<button type="button" data-switch-get="indeterminate" class="btn btn-outline-secondary">Get</button>
					</div>
					<div class="col-lg-4 col-md-12 col-sm-12 col-12">
						<h5 class="my-xs">Size</h5>
						<p>
							<input id="switch-size" type="checkbox" checked="checked" data-size="mini">
						</p>
						<div class="btn-group">
							<button type="button" data-switch-set="size" data-switch-value="mini" class="btn btn-outline-secondary">Mini</button>
							<button type="button" data-switch-set="size" data-switch-value="small" class="btn btn-outline-secondary">Small</button>
							<button type="button" data-switch-set="size" data-switch-value="normal" class="btn btn-outline-secondary">Normal</button>
							<button type="button" data-switch-set="size" data-switch-value="large" class="btn btn-outline-secondary">Large</button>
							<button type="button" data-switch-get="size" class="btn btn-outline-secondary d-none d-md-block">Get</button>
						</div>
					</div>
				</div>
				<div class="row mt-md">
					<div class="col-lg-4 col-md-7 col-sm-12 col-12">
						<h5 class="my-sm">Label Width</h5>
						<p>
							<input id="switch-labelWidth" type="checkbox" data-label-width="100">
						</p>
						<input type="number" data-switch-set-value="labelWidth" value="100" class="form-control">
					</div>
					<div class="col-lg-4 col-md-12 col-sm-12 col-12">
						<h5 class="my-sm">OnText</h5>
						<p>
							<input id="switch-onText" type="checkbox" checked="checked" data-on-text="Yes">
							<input type="text" data-switch-set-value="onText" value="Yes" 
							class="form-control mt-md">
						</p>
					</div>
					
					<div class="col-lg-4 col-md-8 col-sm-12 col-12">
						<h5 class="my-sm">Handle Width</h5>
						<p>
							<input id="switch-handleWidth" type="checkbox" data-handle-width="100">
						</p>
						<input type="number" data-switch-set-value="handleWidth" value="100" class="form-control">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Image editor (Cropper) -->
<div class="row image-cropper">
	<div class="col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="d-inline-block my-xs">Image Editor</h5>
				<a href="https://github.com/fengyuanchen/cropper" target="_blank" class="btn btn-outline-secondary btn-sm float-right">Get Cropper Doc</a>
			</div>
			<div class="card-body">
				<div class="row mt-lg">
					<div class="col-lg-8 col-md-12 col-sm-12 col-12">
						<div class="img-container mb-md">
							<img id="image" src="assets/images/cropper.jpg" alt="RTDL Image">
						</div>
					</div>
					<div class="col-lg-4 col-md-12 col-sm-12 col-12">
						<div class="docs-preview clearfix">
							<div class="img-preview preview-lg"></div>
						</div>
						<div class="docs-preview clearfix">
							<div class="img-preview preview-md"></div>
							<div class="img-preview preview-sm"></div>
							<div class="img-preview preview-xs"></div>
						</div>
						<div class="docs-data mt-lg">
							<div class="input-group input-group-sm mb-xs">
								<label class="input-group-addon" for="dataX">X</label>
								<input type="text" class="form-control" id="dataX" placeholder="x">
								<span class="input-group-addon">px</span>
							</div>
							<div class="input-group input-group-sm mb-xs">
								<label class="input-group-addon" for="dataY">Y</label>
								<input type="text" class="form-control" id="dataY" placeholder="y">
								<span class="input-group-addon">px</span>
							</div>
							<div class="input-group input-group-sm mb-xs">
								<label class="input-group-addon" for="dataWidth">Width</label>
								<input type="text" class="form-control" id="dataWidth" placeholder="width">
								<span class="input-group-addon">px</span>
							</div>
							<div class="input-group input-group-sm mb-xs">
								<label class="input-group-addon" for="dataHeight">Height</label>
								<input type="text" class="form-control" id="dataHeight" placeholder="height">
								<span class="input-group-addon">px</span>
							</div>
							<div class="input-group input-group-sm mb-xs">
								<label class="input-group-addon" for="dataRotate">Rotate</label>
								<input type="text" class="form-control" id="dataRotate" placeholder="rotate">
								<span class="input-group-addon">deg</span>
							</div>
							<div class="input-group input-group-sm mb-xs">
								<label class="input-group-addon" for="dataScaleX">ScaleX</label>
								<input type="text" class="form-control" id="dataScaleX" placeholder="scaleX">
								</div>
							<div class="input-group input-group-sm mb-xs">
								<label class="input-group-addon" for="dataScaleY">ScaleY</label>
								<input type="text" class="form-control" id="dataScaleY" placeholder="scaleY">
							</div>
						</div>
					</div>
				</div>
				<div class="row mt-lg">
					<div class="col-lg-9 docs-buttons">
						<div class="btn-group">
							<button type="button" class="btn btn-theme mb-xs" data-method="setDragMode" data-option="move" title="Move"><span class="fa fa-arrows"></span></button>
							<button type="button" class="btn btn-theme mb-xs" data-method="setDragMode" data-option="crop" title="Crop"><span class="fa fa-crop"></span></button>
						</div>
						<div class="btn-group">
							<button type="button" class="btn btn-theme mb-xs" data-method="zoom" data-option="0.1" title="Zoom In"><span class="fa fa-search-plus"></span></button>
							<button type="button" class="btn btn-theme mb-xs" data-method="zoom" data-option="-0.1" title="Zoom Out"><span class="fa fa-search-minus"></span></button>
						</div>
						<div class="btn-group">
							<button type="button" class="btn btn-theme mb-xs" data-method="move" data-option="-10" data-second-option="0" title="Move Left"><span class="fa fa-arrow-left"></span></button>
							<button type="button" class="btn btn-theme mb-xs" data-method="move" data-option="10" data-second-option="0" title="Move Right"><span class="fa fa-arrow-right"></span></button>
							<button type="button" class="btn btn-theme mb-xs" data-method="move" data-option="0" data-second-option="-10" title="Move Up"><span class="fa fa-arrow-up"></span></button>
							<button type="button" class="btn btn-theme mb-xs" data-method="move" data-option="0" data-second-option="10" title="Move Down"><span class="fa fa-arrow-down"></span></button>
						</div>
						<div class="btn-group">
							<button type="button" class="btn btn-theme mb-xs" data-method="rotate" data-option="-45" title="Rotate Left"><span class="fa fa-rotate-left"></span></button>
							<button type="button" class="btn btn-theme mb-xs" data-method="rotate" data-option="45" title="Rotate Right"><span class="fa fa-rotate-right"></span></button>
						</div>
						<div class="btn-group">
							<button type="button" class="btn btn-theme mb-xs" data-method="scaleX" data-option="-1" title="Flip Horizontal"><span class="fa fa-arrows-h"></span></button>
							<button type="button" class="btn btn-theme mb-xs" data-method="scaleY" data-option="-1" title="Flip Vertical"><span class="fa fa-arrows-v"></span></button>
						</div>
						<div class="btn-group">
							<button type="button" class="btn btn-theme mb-xs" data-method="crop" title="Crop"><span class="fa fa-check"></span></button>
							<button type="button" class="btn btn-theme mb-xs" data-method="clear" title="Clear"><span class="fa fa-remove"></span></button>
						</div>
						<div class="btn-group">
							<button type="button" class="btn btn-theme mb-xs" data-method="disable" title="Disable"><span class="fa fa-lock"></span></button>
							<button type="button" class="btn btn-theme mb-xs" data-method="enable" title="Enable"><span class="fa fa-unlock"></span></button>
						</div>
						<div class="btn-group">
							<button type="button" class="btn btn-theme mb-xs" data-method="reset" title="Reset"><span class="fa fa-refresh"></span></button>
							<label class="btn btn-theme mb-xs btn-upload" for="inputImage" title="Upload image file">
								<input type="file" class="sr-only" id="inputImage" name="file" accept="image/*">
								<span class="fa fa-upload"></span>
							</label>
							<button type="button" class="btn btn-theme mb-xs" data-method="destroy" title="Destroy"><span class="fa fa-power-off"></span></button>
						</div>
						<div class="btn-group btn-group-crop">
								<button type="button" class="btn btn-theme mb-xs" data-method="getCroppedCanvas">Get Cropped Canvas</button>
							<button type="button" class="btn btn-theme mb-xs" data-method="getCroppedCanvas" data-option="{ &quot;width&quot;: 160, &quot;height&quot;: 90 }">160&times;90</button>
							<button type="button" class="btn btn-theme mb-xs" data-method="getCroppedCanvas" data-option="{ &quot;width&quot;: 320, &quot;height&quot;: 180 }">320&times;180</button>
						</div>

						<!-- Show the cropped image in modal -->
						<div class="modal fade docs-cropped" id="getCroppedCanvasModal" aria-hidden="true" aria-labelledby="getCroppedCanvasTitle" role="dialog" tabindex="-1">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
										<h4 class="modal-title" id="getCroppedCanvasTitle">Cropped Image</h4>
									</div>
									<div class="modal-body text-center"></div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
										<a class="btn btn-theme" id="download" href="javascript:void(0);" download="cropped.jpg">Download</a>
									</div>
								</div>
							</div>
						</div>

						<!-- /.modal -->

						<button type="button" class="btn btn-theme mb-xs" data-method="getData" data-option data-target="#putData">Get Data</button>
						<button type="button" class="btn btn-theme mb-xs" data-method="setData" data-target="#putData">Set Data</button>
						<button type="button" class="btn btn-theme mb-xs" data-method="getContainerData" data-option data-target="#putData">Get Container Data</button>
						<button type="button" class="btn btn-theme mb-xs" data-method="getImageData" data-option data-target="#putData">Get Image Data</button>
						<button type="button" class="btn btn-theme mb-xs" data-method="getCanvasData" data-option data-target="#putData">Get Canvas Data</button>
						<button type="button" class="btn btn-theme mb-xs" data-method="setCanvasData" data-target="#putData">Set Canvas Data</button>
						<button type="button" class="btn btn-theme mb-xs" data-method="getCropBoxData" data-option data-target="#putData">Get Crop Box Data</button>
						<button type="button" class="btn btn-theme mb-xs" data-method="setCropBoxData" data-target="#putData">Set Crop Box Data</button>
						<button type="button" class="btn btn-theme mb-xs" data-method="moveTo" data-option="0">0,0</button>
						<button type="button" class="btn btn-theme mb-xs" data-method="zoomTo" data-option="1">100%</button>
						<button type="button" class="btn btn-theme mb-xs" data-method="rotateTo" data-option="180">180°</button>
						<input type="text" class="form-control" id="putData" placeholder="Get data to here or set data with this value">
					</div>

					<div class="col-md-3 docs-toggles">
						<div class="btn-group btn-group-justified" data-toggle="buttons">
							<label class="btn btn-theme mt-xs active">
								<input type="radio" class="sr-only" id="aspectRatio0" name="aspectRatio" value="1.7777777777777777">16:9
							</label>
							<label class="btn btn-theme mt-xs">
								<input type="radio" class="sr-only" id="aspectRatio1" name="aspectRatio" value="1.3333333333333333">4:3
							</label>
							<label class="btn btn-theme mt-xs">
								<input type="radio" class="sr-only" id="aspectRatio2" name="aspectRatio" value="1">1:1
							</label>
							<label class="btn btn-theme mt-xs">
								<input type="radio" class="sr-only" id="aspectRatio3" name="aspectRatio" value="0.6666666666666666">2:3
							</label>
							<label class="btn btn-theme mt-xs">
								<input type="radio" class="sr-only" id="aspectRatio4" name="aspectRatio" value="NaN">Free
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>