<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">Documents</a></li>
							<li class="breadcrumb-item active text-dg">Grid Layout</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-book menu-icon" aria-hidden="true"></i> Grid Layout</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Grid Layout Content-->
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Detail of Grid System</h5>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-lg-12">
						<p class="mb-sm">
							Use our powerful mobile-first flexbox grid to build layouts of all shapes and sizes thanks to a twelve column system, five default responsive tiers, Sass variables and mixins, and dozens of predefined classes.
						</p>
						<h4>
							<b>Introduction</b>
						</h4>
						<p>
							Bootstrap’s grid system uses a series of containers, rows, and columns to layout and align content. It’s built with flexbox and is fully responsive. Below is an example and an in-depth look at how the grid comes together.Breaking it down, here’s how it works:
						</p>
						<ul>
							<li>
								Containers provide a means to center your site’s contents. Use <code>.container</code> for fixed width or <code>.container-fluid</code> (for full width.
							</li>
							<li>
								Rows are horizontal groups of columns that ensure your columns are lined up properly. We use the negative margin method on <code>.row</code>  to ensure all your content is aligned properly down the left side.
							</li>
							<li>
								Content should be placed within columns, and only columns may be immediate children of rows.
							</li>
							<li>
								Thanks to flexbox, grid columns without a set width will automatically layout with equal widths. For example, four instances of <code>.col-sm</code> will each automatically be 25% wide for small breakpoints.
							</li>
							<li>
								Column classes indicate the number of columns you’d like to use out of the possible 12 per row. So, if you want three equal-width columns, you can use <code>.col-sm-4</code> .
							</li>
							<li>
								Column <code>width</code> s are set in percentages, so they’re always fluid and sized relative to their parent element.
							</li>
							<li>
								Columns have horizontal <code>padding</code> to create the gutters between individual columns, however, you can remove the <code>margin</code> from rows and <code>padding</code> from columns with <code>.no-gutters</code>  on the <code>.row</code> .
							</li>
							<li>
								There are five grid tiers, one for each <a href="https://v4-alpha.getbootstrap.com/layout/overview/#responsive-breakpoints" target="_blank"> responsive breakpoint</a>: all breakpoints (extra small), small, medium, large, and extra large.
							</li>
							<li>
								Grid tiers are based on minimum widths, meaning they apply to that one tier and all those above it (e.g., <code>.col-sm-4</code> applies to small, medium, large, and extra large devices).
							</li>
							<li>
								You can use predefined grid classes or Sass mixins for more semantic markup.
							</li>
						</ul>
						<p>Look to the examples for applying these principles to your code.</p>
						<h4>
							<b>Media queries</b>
						</h4>
						<p>Since Bootstrap is developed to be mobile first, we use a handful of <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/Media_Queries/Using_media_queries" target="_blank"> media queries </a> to create sensible breakpoints for our layouts and interfaces. These breakpoints are mostly based on minimum viewport widths and allow us to scale up elements as the viewport changes.</p>
						<p>
							Bootstrap primarily uses the following media query ranges—or breakpoints—in our source Sass files for our layout, grid system, and components.
						</p>
						<div class="card text-mg p-sm">
							<p>
								/* Extra small devices (portrait phones, less than 576px) */<br>/* No media query since this is the default in Bootstrap */
							</p>
							<p>
								/* Small devices (landscape phones, 576px and up) */<br>@media (min-width: 576px) &#123; ... &#125;
							</p>
							<p>
								/* Medium devices (tablets, 768px and up) */<br>@media (min-width: 768px) &#123; ... &#125;
							</p>
							<p>
								/* Large devices (desktops, 992px and up) */<br>@media (min-width: 992px) &#123; ... &#125;
							</p>
							<p>
								/* Extra large devices (large desktops, 1200px and up) */<br>@media (min-width: 1200px) &#123; ... &#125;
							</p>
						</div>
						<p class="my-sm">
							Since we write our source CSS in Sass, all our media queries are available via Sass mixins:
						</p>
						<div class="card text-mg p-sm">
							<p>
								@include media-breakpoint-up(xs) &#123; ... &#125; <br>
								@include media-breakpoint-up(sm) &#123; ... &#125; <br>
								@include media-breakpoint-up(md) &#123; ... &#125; <br>
								@include media-breakpoint-up(lg) &#123; ... &#125; <br>
								@include media-breakpoint-up(xl) &#123; ... &#125;
							</p>
						</div>
						<p class="my-sm">
							We occasionally use media queries that go in the other direction (the given screen size or smaller):
						</p>
						<div class="card text-mg p-sm">
							<p>
								/* Extra large devices (large desktops) */ <br> /* No media query since the extra-large breakpoint has no upper bound on its width */
							</p>
							<p>
								/* Extra small devices (portrait phones, less than 576px) */<br>@media (max-width: 575px) &#123; ... &#125;
							</p>
							<p>
								/* Small devices (landscape phones, less than 768px) */<br>@media (max-width: 767px) &#123; ... &#125;
							</p>
							<p>
								/* Medium devices (tablets, less than 992px) */<br>@media (max-width: 991px) &#123; ... &#125;
							</p>
							<p>
								/* Large devices (desktops, less than 1200px) */<br>@media (max-width: 1199px) &#123; ... &#125;
							</p>
						</div>
						<p class="my-sm">
							These media queries are also available via Sass mixins:
						</p>
						<div class="card text-mg p-sm">
							<p>
								@include media-breakpoint-down(xs) &#123; ... &#125; <br>
								@include media-breakpoint-down(sm) &#123; ... &#125; <br>
								@include media-breakpoint-down(md) &#123; ... &#125; <br>
								@include media-breakpoint-down(lg) &#123; ... &#125; <br>
								@include media-breakpoint-down(xl) &#123; ... &#125;
							</p>
						</div>
						<p class="my-sm">
							There are also media queries and mixins for targeting a single segment of screen sizes using the minimum and maximum breakpoint widths.
						</p>
						<div class="card text-mg p-sm">
							<p>
								/* Extra small devices (portrait phones, less than 576px) */<br>  @media (max-width: 575px) &#123; ... &#125;
							</p>
							<p>
								/* Small devices (landscape phones, 576px and up) */<br>@media (min-width: 576px) and (max-width: 767px) &#123; ... &#125;
							</p>
							<p>
								/* Medium devices (tablets, 768px and up) */<br>@media (min-width: 768px) and (max-width: 991px) &#123; ... &#125;
							</p>
							<p>
								/* Large devices (desktops, 992px and up) */<br>@media (min-width: 992px) and (max-width: 1199px) &#123; ... &#125;
							</p>
							<p>
								/* Extra large devices (large desktops, 1200px and up) */<br>@media (min-width: 1200px) &#123; ... &#125;
							</p>
						</div>
						<p class="my-sm">
							These media queries are also available via Sass mixins:
						</p>
						<div class="card text-mg p-sm">
							<p>
								@include media-breakpoint-only(xs) &#123; ... &#125; <br>
								@include media-breakpoint-only(sm) &#123; ... &#125; <br>
								@include media-breakpoint-only(md) &#123; ... &#125; <br>
								@include media-breakpoint-only(lg) &#123; ... &#125; <br>
								@include media-breakpoint-only(xl) &#123; ... &#125;
							</p>
						</div>
						<p class="my-sm">
							Similarly, media queries may span multiple breakpoint widths:
						</p>
						<div class="card text-mg p-sm">
							<p>
								/* Apply styles starting from medium devices and up to extra large devices */ <br> @media (min-width: 768px) and (max-width: 1199px) &#123; ... &#125;
							</p>
							<p>
								/* The Sass mixin for targeting the same screen size range would be: */<br> @include media-breakpoint-between(md, xl) &#123; ... &#125;
							</p>
						</div>
						<h4 class="my-sm">
							<b>Grid options</b>
						</h4>
						<p class="mb-0">
							While Bootstrap uses <code>em</code> s or <code>rem</code> s for defining most sizes, <code>px</code> s are used for grid breakpoints and container widths. This is because the viewport width is in pixels and does not change with the font size.
						</p>
						<p>
							See how aspects of the Bootstrap grid system work across multiple devices with a handy table.
						</p>
						<div class="table-responsive">
							<table class="table table-bordered table-striped text-mg">
								<thead>
									<tr>
										<th></th>
										<th><b>Extra small (&lt;576px)</b></th>
										<th><b>Small (≥576px)</b></th>
										<th><b>Medium (≥768px)</b></th>
										<th><b>Large (≥992px)</b></th>
										<th><b>Extra large (≥1200px)</b></th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td><b>Grid behavior</b></td>
										<td>Grid behavior</td>
										<td colspan="4">Collapsed to start, horizontal above breakpoints</td>
									</tr>
									<tr>
										<td><b>Max container width</b></td>
										<td>None (auto)</td>
										<td>540px</td>
										<td>720px</td>
										<td>960px</td>
										<td>1140px</td>
									</tr>
									<tr>
										<td><b>Class prefix</b></td>
										<td><code>.col-</code></td>
										<td><code>.col-sm-</code></td>
										<td><code>.col-md-</code></td>
										<td><code>.col-lg-</code></td>
										<td><code>.col-xl-</code></td>
									</tr>
									<tr>
										<td><b># of columns</b></td>
										<td colspan="5">12</td>
									</tr>
									<tr>
										<td><b>Gutter width</b></td>
										<td colspan="5">30px (15px on each side of a column)</td>
									</tr>
									<tr>
										<td><b>Nestable</b></td>
										<td colspan="5">Yes</td>
									</tr>
									<tr>
										<td><b>Offsets</b></td>
										<td colspan="5">Yes</td>
									</tr>
									<tr>
										<td><b>Column ordering</b></td>
										<td colspan="5">Yes</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>

				<!-- Auto layout columns -->
				<h4>
					<b>Auto-layout columns</b>
				</h4>
				<p>
					Utilize breakpoint-specific column classes for equal-width columns. Add any number of unit-less classes for each breakpoint you need and every column will be the same width.
				</p>
				<div class="row">
					<div class="col-lg-12">
						<!-- Example: Equal-width -->
						<h4>
							<b>Example: Equal width</b>
						</h4>
						<p>
							For example, here are two grid layouts that apply to every device and viewport, from <code>xs</code> to <code>xl</code>.
						</p>
						<div class="row no-gutters">
							<div class="col bordered p-sm">
								1 of 2
							</div>
							<div class="col bordered p-sm">
								1 of 2
							</div>
						</div>
						<div class="row no-gutters">
							<div class="col bordered p-sm">
								1 of 3
							</div>
							<div class="col bordered p-sm">
								1 of 3
							</div>
							<div class="col bordered p-sm">
								1 of 3
							</div>
						</div>

						<div class="row no-gutters">
							<div class="col-12">
								<prism-block [code]="gridlayoutEqualWidth" [language]="'html'"></prism-block>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-12">
						<!-- Example: Setting one column width -->
						<h4>
							<b>Example:  Setting one column width</b>
						</h4>
						<p>
							Auto-layout for flexbox grid columns also means you can set the width of one column and the others will automatically resize around it. You may use predefined grid classes (as shown below), grid mixins, or inline widths. Note that the other columns will resize no matter the width of the center column.
						</p>
						<div class="row no-gutters">
							<div class="col bordered p-sm">
								1 of 3
							</div>
							<div class="col-6 bordered p-sm">
								2 of 3 (wider)
							</div>
							<div class="col bordered p-sm">
								3 of 3
							</div>
						</div>
						<div class="row no-gutters">
							<div class="col bordered p-sm">
								1 of 3
							</div>
							<div class="col-5 bordered p-sm">
								2 of 3 (wider)
							</div>
							<div class="col bordered p-sm">
								3 of 3
							</div>
						</div>

						<div class="row no-gutters">
							<div class="col-12">
								<prism-block [code]="gridlayoutSettingOneColumnWidth" [language]="'html'"></prism-block>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-12">
						<!-- Example: Variable width content -->
						<h4>
							<b>Example: Variable width content</b>
						</h4>
						<p>
							Using the <code>col-&#123;breakpoint&#125;-auto</code> classes, columns can size itself based on the natural width of its content. This is super handy with single line content like inputs, numbers, etc. This, in conjunction with <a href="https://v4-alpha.getbootstrap.com/layout/grid/#horizontal-alignment" target="_blank"> horizontal alignment </a> classes, is very useful for centering layouts with uneven column sizes as viewport width changes.
						</p>
						<div class="row justify-content-md-center no-gutters">
							<div class="col col-lg-2 bordered p-sm">
								1 of 3
							</div>
							<div class="col-12 col-md-auto bordered p-sm">
								Variable width content
							</div>
							<div class="col col-lg-2 bordered p-sm">
								3 of 3
							</div>
						</div>
						<div class="row no-gutters">
							<div class="col bordered p-sm">
								1 of 3
							</div>
							<div class="col-12 col-md-auto bordered p-sm">
								Variable width content
							</div>
							<div class="col col-lg-2 bordered p-sm">
								3 of 3
							</div>
						</div>

						<div class="row no-gutters">
							<div class="col-12">
								<prism-block [code]="gridlayoutVariableWidthContent" [language]="'html'"></prism-block>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-12">
						<!-- Example: Equal width multi row -->
						<h4>
							<b>Example: Equal width multi row</b>
						</h4>
						<p>
							Create equal-width columns that span multiple rows by inserting a <code>.w-100</code> where you want the columns to break to a new line. Make the breaks responsive by mixing the <code>.w-100</code> with some <a href="https://v4-alpha.getbootstrap.com/utilities/display-property/" target="_blank">  responsive display utilities</a>.
						</p>
						<div class="row no-gutters">
							<div class="col bordered p-sm">col</div>
							<div class="col bordered p-sm">col</div>
							<div class="w-100 bordered"></div>
							<div class="col bordered p-sm">col</div>
							<div class="col bordered p-sm">col</div>
						</div>

						<div class="row no-gutters">
							<div class="col-12">
								<prism-block [code]="gridlayoutEqualWidthMultiRow" [language]="'html'"></prism-block>
							</div>
						</div>
					</div>
				</div>

				<!-- Responsive classes -->
				<h4 class="pt-lg">
					<b>Responsive classes</b>
				</h4>
				<p>
					Bootstrap’s grid includes five tiers of predefined classes for building complex responsive layouts. Customize the size of your columns on extra small, small, medium, large, or extra large devices however you see fit.
				</p>
				<div class="row">
					<div class="col-lg-12">
						<!-- Example: All breakpoints -->
						<h4>
							<b>Example: All breakpoints</b>
						</h4>
						<p>
							For grids that are the same from the smallest of devices to the largest, use the <code>.col</code> and <code>.col-*</code> classes. Specify a numbered class when you need a particularly sized column; otherwise, feel free to stick to <code>.col</code>.
						</p>
						<div class="row no-gutters">
							<div class="col bordered p-sm">col</div>
							<div class="col bordered p-sm">col</div>
							<div class="col bordered p-sm">col</div>
							<div class="col bordered p-sm">col</div>
						</div>
						<div class="row no-gutters">
							<div class="col-8 bordered p-sm">col-8</div>
							<div class="col-4 bordered p-sm">col-4</div>
						</div>

						<div class="row no-gutters">
							<div class="col-12">
								<prism-block [code]="gridlayoutAllBreakpoints" [language]="'html'"></prism-block>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-12">
						<!-- Example: Stacked to horizontal -->
						<h4>
							<b>Example: Stacked to horizontal</b>
						</h4>
						<p>
							Using a single set of <code>.col-sm-*</code> classes, you can create a basic grid system that starts out stacked on extra small devices before becoming horizontal on desktop (medium) devices.
						</p>
						<div class="row no-gutters">
							<div class="col-sm-8 bordered p-sm">col-sm-8</div>
							<div class="col-sm-4 bordered p-sm">col-sm-4</div>
						</div>
						<div class="row no-gutters">
							<div class="col-sm bordered p-sm">col-sm</div>
							<div class="col-sm bordered p-sm">col-sm</div>
							<div class="col-sm bordered p-sm">col-sm</div>
						</div>

						<div class="row no-gutters">
							<div class="col-12">
								<prism-block [code]="gridlayoutStackedToHorizontal" [language]="'html'"></prism-block>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-12">
						<!-- Example: Mix and match -->
						<h4>
							<b>Example: Mix and match</b>
						</h4>
						<p>
							Don’t want your columns to simply stack in some grid tiers? Use a combination of different classes for each tier as needed. See the example below for a better idea of how it all works.
						</p>
						<!-- Stack the columns on mobile by making one full-width and the other half-width -->
						<div class="row no-gutters">
							<div class="col col-md-8 bordered p-sm">.col .col-md-8</div>
							<div class="col-6 col-md-4 bordered p-sm">.col-6 .col-md-4</div>
						</div>

						<!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
						<div class="row no-gutters">
							<div class="col-6 col-md-4 bordered p-sm">.col-6 .col-md-4</div>
							<div class="col-6 col-md-4 bordered p-sm">.col-6 .col-md-4</div>
							<div class="col-6 col-md-4 bordered p-sm">.col-6 .col-md-4</div>
						</div>

						<!-- Columns are always 50% wide, on mobile and desktop -->
						<div class="row no-gutters">
							<div class="col-6 bordered p-sm">.col-6</div>
							<div class="col-6 bordered p-sm">.col-6</div>
						</div>

						<div class="row no-gutters">
							<div class="col-12">
								<prism-block [code]="gridlayoutMixAndMatch" [language]="'html'"></prism-block>
							</div>
						</div>
					</div>
				</div>

				<!-- Column wrapping -->
				<div class="row">
					<div class="col-lg-12">
						<!-- Example: Column wrapping -->
						<h4>
							<b>Example: Column wrapping</b>
						</h4>
						<p>
							If more than 12 columns are placed within a single row, each group of extra columns will, as one unit, wrap onto a new line.
						</p>
						<div class="row no-gutters">
							<div class="col-9 bordered p-sm">.col-9</div>
							<div class="col-4 bordered p-sm">.col-4<br>Since 9 + 4 = 13 &gt; 12, this 4-column-wide div gets wrapped onto a new line as one contiguous unit.</div>
							<div class="col-6 bordered p-sm">.col-6<br>Subsequent columns continue along the new line.</div>
						</div>

						<div class="row no-gutters">
							<div class="col-12">
								<prism-block [code]="gridlayoutColumnWrapping" [language]="'html'"></prism-block>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-12">
						<!-- Example: Column resets -->
						<h4>
							<b>Example: Column resets</b>
						</h4>
						<p>
							With the handful of grid tiers available, you’re bound to run into issues where, at certain breakpoints, your columns don’t clear quite right as one is taller than the other. To fix that, use a combination of a <code>.clearfix</code> and our <a href="https://v4-alpha.getbootstrap.com/layout/responsive-utilities/" target="_blank">  responsive utility classes</a>.
						</p>
						<div class="row no-gutters">
							<div class="col-6 col-sm-3 bordered p-sm">.col-6 .col-sm-3</div>
							<div class="col-6 col-sm-3 bordered p-sm">.col-6 .col-sm-3</div>

							<!-- Add the extra clearfix for only the required viewport -->
							<div class="clearfix hidden-sm-up"></div>

							<div class="col-6 col-sm-3 bordered p-sm">.col-6 .col-sm-3</div>
							<div class="col-6 col-sm-3 bordered p-sm">.col-6 .col-sm-3</div>
						</div>

						<div class="row no-gutters">
							<div class="col-12">
								<prism-block [code]="gridlayoutColumnResets" [language]="'html'"></prism-block>
							</div>
						</div>
					</div>
				</div>

				<!-- Reordering -->
				<h4 class="pt-lg">
					<b>Reordering</b>
				</h4>
				<div class="row">
					<div class="col-lg-12">
						<!-- Example: Flex order -->
						<h4>
							<b>Example: Flex order</b>
						</h4>
						<p>
							Use flexbox utilities for controlling the <b>visual order</b> of your content.
						</p>
						<div class="row no-gutters">
							<div class="col flex-unordered bordered p-sm">
								First, but unordered
							</div>
							<div class="col flex-last bordered p-sm">
								Second, but last
							</div>
							<div class="col flex-first bordered p-sm">
								Third, but first
							</div>
						</div>

						<div class="row no-gutters">
							<div class="col-12">
								<prism-block [code]="gridlayoutFlexOrder" [language]="'html'"></prism-block>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-12">
						<!-- Example: Offsetting columns -->
						<h4>
							<b>Example: Offsetting columns</b>
						</h4>
						<p>
							Move columns to the right using <code>.offset-md-*</code> lasses. These classes increase the left margin of a column by <code>*</code> columns. For example, <code>.offset-md-4</code> moves <code>.col-md-4</code> over four columns.
						</p>
						<div class="row no-gutters">
							<div class="col-md-4 bordered p-sm">.col-md-4</div>
							<div class="col-md-4 offset-md-4 bordered p-sm">.col-md-4 .offset-md-4</div>
						</div>
						<div class="row no-gutters">
							<div class="col-md-3 offset-md-3 bordered p-sm">.col-md-3 .offset-md-3</div>
							<div class="col-md-3 offset-md-3 bordered p-sm">.col-md-3 .offset-md-3</div>
						</div>
						<div class="row no-gutters">
							<div class="col-md-6 offset-md-3 bordered p-sm">.col-md-6 .offset-md-3</div>
						</div>

						<div class="row no-gutters">
							<div class="col-12">
								<prism-block [code]="gridlayoutOffsettingColumns" [language]="'html'"></prism-block>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-12">
						<!-- Example: Nesting -->
						<h4>
							<b>Example: Nesting columns</b>
						</h4>
						<p>
							To nest your content with the default grid, add a new <code>.row</code> and set of <code>.col-sm-*</code> columns within an existing  <code>.col-sm-*</code> column. Nested rows should include a set of columns that add up to 12 or fewer (it is not required that you use all 12 available columns).
						</p>
						<div class="row no-gutters">
							<div class="col-sm-9 bordered p-sm">
								Level 1: .col-sm-9
								<div class="row no-gutters">
									<div class="col-8 col-sm-6 bordered p-sm">
										Level 2: .col-8 .col-sm-6
									</div>
									<div class="col-4 col-sm-6 bordered p-sm">
										Level 2: .col-4 .col-sm-6
									</div>
								</div>
							</div>
						</div>

						<div class="row no-gutters">
							<div class="col-12">
								<prism-block [code]="gridlayoutNesting" [language]="'html'"></prism-block>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>