<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">Project Management</a></li>
							<li class="breadcrumb-item active text-dg">Clients</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-tasks" aria-hidden="true"></i> Clients</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Clients Content-->
<div class="row">
	<div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sx-12 col-12 mt-sm mb-lg">
				<div class="card">
					<div class="p-xs">
						<div class="input-group">
							<input class="form-control" type="text" placeholder="Search client">
							<span class="input-group-btn">
								<button class="btn btn btn-theme" type="button">
									<i class="fa fa-search"></i>
									Search
								</button>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 px-xlg">
				<div class="contact-secondary">
					<div class="contact-info p-md">
						<div class="row">
							<div class="col-lg-4 col-md-4 col-sm-4 col-4">
								<div class="img-block">
									<div class="name mb-sm"><strong>CEO</strong></div>
									<div>
										<img src="assets/images/portrait/avatar1.png" alt="RTDL Image" class="avatar avatar-lg rounded-circle">
									</div>
								</div>
							</div>
							<div class="col-lg-8 col-md-8 col-sm-8 col-8">
								<div class="info-block p-0">
									<div class="detail name m-0"><a href="javascript:;">John Smith</a></div>
									<div class="detail">Art Limited&nbsp;<small>(London)</small></div>
									<div class="detail">
										<i class="fa fa-envelope" aria-hidden="true"></i><small>&nbsp;&nbsp;john@example.com</small>
									</div>
									<div class="detail">
										<i class="fa fa-phone" aria-hidden="true"></i><small>&nbsp;&nbsp;+&nbsp;400 468 921</small>
									</div>
									<div class="detail">
										<i class="fa fa-futbol-o" aria-hidden="true"></i><small>&nbsp;&nbsp;John.com</small>
									</div>
									<div class="detail">
										<label class="badge badge-success">Active</label>
										<div class="float-right">
											<button class="btn btn-outline-secondary btn-sm my-xs">
												Company Info&nbsp;
												<i class="fa fa-caret-right" aria-hidden="true"></i>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 px-xlg">
				<div class="contact-secondary">
					<div class="contact-info p-md">
						<div class="row">
							<div class="col-lg-4 col-md-4 col-sm-4 col-4">
								<div class="img-block">
									<div class="name mb-sm"><strong>CEO</strong></div>
									<div>
										<img alt="RTDL Image" class="avatar avatar-lg rounded-circle" src="assets/images/portrait/avatar2.png">
									</div>
								</div>
							</div>
							<div class="col-lg-8 col-md-8 col-sm-8 col-8">
								<div class="info-block p-0">
									<div class="detail name m-0"><a href="javascript:;">Smith Jonh</a></div>
									<div class="detail">Art Limited&nbsp;<small>(London)</small></div>
									<div class="detail">
										<i class="fa fa-envelope" aria-hidden="true"></i><small>&nbsp;&nbsp;smith@example.com</small>
									</div>
									<div class="detail">
										<i class="fa fa-phone" aria-hidden="true"></i><small>&nbsp;&nbsp;+&nbsp;400 468 921</small>
									</div>
									<div class="detail">
										<i class="fa fa-futbol-o" aria-hidden="true"></i><small>&nbsp;&nbsp;Smith.com</small>
									</div>
									<div class="detail">
										<label class="badge badge-warning">Waiting</label>
										<div class="float-right">
											<button class="btn btn-outline-secondary btn-sm my-xs">
												Company Info&nbsp;
												<i class="fa fa-caret-right" aria-hidden="true"></i>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 px-xlg">
				<div class="contact-secondary">
					<div class="contact-info p-md">
						<div class="row">
							<div class="col-lg-4 col-md-4 col-sm-4 col-4">
								<div class="img-block">
									<div class="name mb-sm"><strong>CEO</strong></div>
									<div>
										<img alt="RTDL Image" class="avatar avatar-lg rounded-circle" src="assets/images/portrait/avatar3.png">
									</div>
								</div>
							</div>
							<div class="col-lg-8 col-md-8 col-sm-8 col-8">
								<div class="info-block p-0">
									<div class="detail name m-0"><a href="javascript:;">Addsion</a></div>
									<div class="detail">Art Limited&nbsp;<small>(London)</small></div>
									<div class="detail">
										<i class="fa fa-envelope" aria-hidden="true"></i><small>&nbsp;&nbsp;Addsion@example.com</small>
									</div>
									<div class="detail">
										<i class="fa fa-phone" aria-hidden="true"></i><small>&nbsp;&nbsp;+&nbsp;400 468 921</small>
									</div>
									<div class="detail">
										<i class="fa fa-futbol-o" aria-hidden="true"></i><small>&nbsp;&nbsp;Addsion.com</small>
									</div>
									<div class="detail">
										<label class="badge badge-success">Active</label>
										<div class="float-right">
											<button class="btn btn-outline-secondary btn-sm my-xs">
												Company Info&nbsp;
												<i class="fa fa-caret-right" aria-hidden="true"></i>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 px-xlg">
				<div class="contact-secondary">
					<div class="contact-info p-md">
						<div class="row">
							<div class="col-lg-4 col-md-4 col-sm-4 col-4">
								<div class="img-block">
									<div class="name mb-sm"><strong>CEO</strong></div>
									<div>
										<img alt="RTDL Image" class="avatar avatar-lg rounded-circle" src="assets/images/portrait/avatar4.png">
									</div>
								</div>
							</div>
							<div class="col-lg-8 col-md-8 col-sm-8 col-8">
								<div class="info-block p-0">
									<div class="detail name m-0"><a href="javascript:;">Addsion</a></div>
									<div class="detail">Art Limited&nbsp;<small>(London)</small></div>
									<div class="detail">
										<i class="fa fa-envelope" aria-hidden="true"></i><small>&nbsp;&nbsp;Addsion@example.com</small>
									</div>
									<div class="detail">
										<i class="fa fa-phone" aria-hidden="true"></i><small>&nbsp;&nbsp;+&nbsp;400 468 921</small>
									</div>
									<div class="detail">
										<i class="fa fa-futbol-o" aria-hidden="true"></i><small>&nbsp;&nbsp;Addsion.com</small>
									</div>
									<div class="detail">
										<label class="badge badge-warning">Waiting</label>
										<div class="float-right">
											<button class="btn btn-outline-secondary btn-sm my-xs">
												Company Info&nbsp;
												<i class="fa fa-caret-right" aria-hidden="true"></i>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 px-xlg">
				<div class="contact-secondary">
					<div class="contact-info p-md">
						<div class="row">
							<div class="col-lg-4 col-md-4 col-sm-4 col-4">
								<div class="img-block">
									<div class="name mb-sm"><strong>CEO</strong></div>
									<div>
										<img src="assets/images/portrait/avatar1.png" alt="RTDL Image" class="avatar avatar-lg rounded-circle">
									</div>
								</div>
							</div>
							<div class="col-lg-8 col-md-8 col-sm-8 col-8">
								<div class="info-block p-0">
									<div class="detail name m-0"><a href="javascript:;">John Smith</a></div>
									<div class="detail">Art Limited&nbsp;<small>(London)</small></div>
									<div class="detail">
										<i class="fa fa-envelope" aria-hidden="true"></i><small>&nbsp;&nbsp;john@example.com</small>
									</div>
									<div class="detail">
										<i class="fa fa-phone" aria-hidden="true"></i><small>&nbsp;&nbsp;+&nbsp;400 468 921</small>
									</div>
									<div class="detail">
										<i class="fa fa-futbol-o" aria-hidden="true"></i><small>&nbsp;&nbsp;John.com</small>
									</div>
									<div class="detail">
										<label class="badge badge-success">Active</label>
										<div class="float-right">
											<button class="btn btn-outline-secondary btn-sm my-xs">
												Company Info&nbsp;
												<i class="fa fa-caret-right" aria-hidden="true"></i>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 px-xlg">
				<div class="contact-secondary">
					<div class="contact-info p-md">
						<div class="row">
							<div class="col-lg-4 col-md-4 col-sm-4 col-4">
								<div class="img-block">
									<div class="name mb-sm"><strong>CEO</strong></div>
									<div>
										<img alt="RTDL Image" class="avatar avatar-lg rounded-circle" src="assets/images/portrait/avatar2.png">
									</div>
								</div>
							</div>
							<div class="col-lg-8 col-md-8 col-sm-8 col-8">
								<div class="info-block p-0">
									<div class="detail name m-0"><a href="javascript:;">Smith Jonh</a></div>
									<div class="detail">Art Limited&nbsp;<small>(London)</small></div>
									<div class="detail">
										<i class="fa fa-envelope" aria-hidden="true"></i><small>&nbsp;&nbsp;smith@example.com</small>
									</div>
									<div class="detail">
										<i class="fa fa-phone" aria-hidden="true"></i><small>&nbsp;&nbsp;+&nbsp;400 468 921</small>
									</div>
									<div class="detail">
										<i class="fa fa-futbol-o" aria-hidden="true"></i><small>&nbsp;&nbsp;Smith.com</small>
									</div>
									<div class="detail">
										<label class="badge badge-warning">Waiting</label>
										<div class="float-right">
											<button class="btn btn-outline-secondary btn-sm my-xs">
												Company Info&nbsp;
												<i class="fa fa-caret-right" aria-hidden="true"></i>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 px-xlg">
				<div class="contact-secondary">
					<div class="contact-info p-md">
						<div class="row">
							<div class="col-lg-4 col-md-4 col-sm-4 col-4">
								<div class="img-block">
									<div class="name mb-sm"><strong>CEO</strong></div>
									<div>
										<img alt="RTDL Image" class="avatar avatar-lg rounded-circle" src="assets/images/portrait/avatar3.png">
									</div>
								</div>
							</div>
							<div class="col-lg-8 col-md-8 col-sm-8 col-8">
								<div class="info-block p-0">
									<div class="detail name m-0"><a href="javascript:;">Addsion</a></div>
									<div class="detail">Art Limited&nbsp;<small>(London)</small></div>
									<div class="detail">
										<i class="fa fa-envelope" aria-hidden="true"></i><small>&nbsp;&nbsp;Addsion@example.com</small>
									</div>
									<div class="detail">
										<i class="fa fa-phone" aria-hidden="true"></i><small>&nbsp;&nbsp;+&nbsp;400 468 921</small>
									</div>
									<div class="detail">
										<i class="fa fa-futbol-o" aria-hidden="true"></i><small>&nbsp;&nbsp;Addsion.com</small>
									</div>
									<div class="detail">
										<label class="badge badge-success">Active</label>
										<div class="float-right">
											<button class="btn btn-outline-secondary btn-sm my-xs">
												Company Info&nbsp;
												<i class="fa fa-caret-right" aria-hidden="true"></i>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 px-xlg">
				<div class="contact-secondary">
					<div class="contact-info p-md">
						<div class="row">
							<div class="col-lg-4 col-md-4 col-sm-4 col-4">
								<div class="img-block">
									<div class="name mb-sm"><strong>CEO</strong></div>
									<div>
										<img alt="RTDL Image" class="avatar avatar-lg rounded-circle" src="assets/images/portrait/avatar4.png">
									</div>
								</div>
							</div>
							<div class="col-lg-8 col-md-8 col-sm-8 col-8">
								<div class="info-block p-0">
									<div class="detail name m-0"><a href="javascript:;">Addsion</a></div>
									<div class="detail">Art Limited&nbsp;<small>(London)</small></div>
									<div class="detail">
										<i class="fa fa-envelope" aria-hidden="true"></i><small>&nbsp;&nbsp;Addsion@example.com</small>
									</div>
									<div class="detail">
										<i class="fa fa-phone" aria-hidden="true"></i><small>&nbsp;&nbsp;+&nbsp;400 468 921</small>
									</div>
									<div class="detail">
										<i class="fa fa-futbol-o" aria-hidden="true"></i><small>&nbsp;&nbsp;Addsion.com</small>
									</div>
									<div class="detail">
										<label class="badge badge-warning">Waiting</label>
										<div class="float-right">
											<button class="btn btn-outline-secondary btn-sm my-xs">
												Company Info&nbsp;
												<i class="fa fa-caret-right" aria-hidden="true"></i>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 px-xlg">
				<div class="contact-secondary">
					<div class="contact-info p-md">
						<div class="row">
							<div class="col-lg-4 col-md-4 col-sm-4 col-4">
								<div class="img-block">
									<div class="name mb-sm"><strong>CEO</strong></div>
									<div>
										<img src="assets/images/portrait/avatar1.png" alt="RTDL Image" class="avatar avatar-lg rounded-circle">
									</div>
								</div>
							</div>
							<div class="col-lg-8 col-md-8 col-sm-8 col-8">
								<div class="info-block p-0">
									<div class="detail name m-0"><a href="javascript:;">John Smith</a></div>
									<div class="detail">Art Limited&nbsp;<small>(London)</small></div>
									<div class="detail">
										<i class="fa fa-envelope" aria-hidden="true"></i><small>&nbsp;&nbsp;john@example.com</small>
									</div>
									<div class="detail">
										<i class="fa fa-phone" aria-hidden="true"></i><small>&nbsp;&nbsp;+&nbsp;400 468 921</small>
									</div>
									<div class="detail">
										<i class="fa fa-futbol-o" aria-hidden="true"></i><small>&nbsp;&nbsp;John.com</small>
									</div>
									<div class="detail">
										<label class="badge badge-success">Active</label>
										<div class="float-right">
											<button class="btn btn-outline-secondary btn-sm my-xs">
												Company Info&nbsp;
												<i class="fa fa-caret-right" aria-hidden="true"></i>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 px-xlg">
				<div class="contact-secondary">
					<div class="contact-info p-md">
						<div class="row">
							<div class="col-lg-4 col-md-4 col-sm-4 col-4">
								<div class="img-block">
									<div class="name mb-sm"><strong>CEO</strong></div>
									<div>
										<img alt="RTDL Image" class="avatar avatar-lg rounded-circle" src="assets/images/portrait/avatar2.png">
									</div>
								</div>
							</div>
							<div class="col-lg-8 col-md-8 col-sm-8 col-8">
								<div class="info-block p-0">
									<div class="detail name m-0"><a href="javascript:;">Smith Jonh</a></div>
									<div class="detail">Art Limited&nbsp;<small>(London)</small></div>
									<div class="detail">
										<i class="fa fa-envelope" aria-hidden="true"></i><small>&nbsp;&nbsp;smith@example.com</small>
									</div>
									<div class="detail">
										<i class="fa fa-phone" aria-hidden="true"></i><small>&nbsp;&nbsp;+&nbsp;400 468 921</small>
									</div>
									<div class="detail">
										<i class="fa fa-futbol-o" aria-hidden="true"></i><small>&nbsp;&nbsp;Smith.com</small>
									</div>
									<div class="detail">
										<label class="badge badge-warning">Waiting</label>
										<div class="float-right">
											<button class="btn btn-outline-secondary btn-sm my-xs">
												Company Info&nbsp;
												<i class="fa fa-caret-right" aria-hidden="true"></i>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 px-xlg">
				<div class="contact-secondary">
					<div class="contact-info p-md">
						<div class="row">
							<div class="col-lg-4 col-md-4 col-sm-4 col-4">
								<div class="img-block">
									<div class="name mb-sm"><strong>CEO</strong></div>
									<div>
										<img alt="RTDL Image" class="avatar avatar-lg rounded-circle" src="assets/images/portrait/avatar3.png">
									</div>
								</div>
							</div>
							<div class="col-lg-8 col-md-8 col-sm-8 col-8">
								<div class="info-block p-0">
									<div class="detail name m-0"><a href="javascript:;">Addsion</a></div>
									<div class="detail">Art Limited&nbsp;<small>(London)</small></div>
									<div class="detail">
										<i class="fa fa-envelope" aria-hidden="true"></i><small>&nbsp;&nbsp;Addsion@example.com</small>
									</div>
									<div class="detail">
										<i class="fa fa-phone" aria-hidden="true"></i><small>&nbsp;&nbsp;+&nbsp;400 468 921</small>
									</div>
									<div class="detail">
										<i class="fa fa-futbol-o" aria-hidden="true"></i><small>&nbsp;&nbsp;Addsion.com</small>
									</div>
									<div class="detail">
										<label class="badge badge-success">Active</label>
										<div class="float-right">
											<button class="btn btn-outline-secondary btn-sm my-xs">
												Company Info&nbsp;
												<i class="fa fa-caret-right" aria-hidden="true"></i>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 px-xlg">
				<div class="contact-secondary">
					<div class="contact-info p-md">
						<div class="row">
							<div class="col-lg-4 col-md-4 col-sm-4 col-4">
								<div class="img-block">
									<div class="name mb-sm"><strong>CEO</strong></div>
									<div>
										<img alt="RTDL Image" class="avatar avatar-lg rounded-circle" src="assets/images/portrait/avatar4.png">
									</div>
								</div>
							</div>
							<div class="col-lg-8 col-md-8 col-sm-8 col-8">
								<div class="info-block p-0">
									<div class="detail name m-0"><a href="javascript:;">Addsion</a></div>
									<div class="detail">Art Limited&nbsp;<small>(London)</small></div>
									<div class="detail">
										<i class="fa fa-envelope" aria-hidden="true"></i><small>&nbsp;&nbsp;Addsion@example.com</small>
									</div>
									<div class="detail">
										<i class="fa fa-phone" aria-hidden="true"></i><small>&nbsp;&nbsp;+&nbsp;400 468 921</small>
									</div>
									<div class="detail">
										<i class="fa fa-futbol-o" aria-hidden="true"></i><small>&nbsp;&nbsp;Addsion.com</small>
									</div>
									<div class="detail">
										<label class="badge badge-warning">Waiting</label>
										<div class="float-right">
											<button class="btn btn-outline-secondary btn-sm my-xs">
												Company Info&nbsp;
												<i class="fa fa-caret-right" aria-hidden="true"></i>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12 my-sm">
		<div class="row">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 my-sm">
				<div class="card">
					<div class="card-header">
						<h5 class="m-0">Company Detail</h5>
					</div>
					<div class="card-body">
						<div>
							<div class="text-center">
								<img alt="RTDL Image" class="avatar avatar-lg rounded-circle" src="assets/images/portrait/avatar2.png">
								<h4>John Smith</h4>
							</div>
							<button class="btn btn-theme float-right mb-xs"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;Send Message</button>
						</div>
						<table class="table">
							<tbody>
								<tr>
									<td>Status</td>
									<td><label class="badge badge-success">Active</label></td>
								</tr>
								<tr>
									<td>Incorporated</td>
									<td><small>Oct 10th, 2017</small></td>
								</tr>
								<tr>
									<td>People</td>
									<td><small>3 active directors & 1 active secretaries</small></td>
								</tr>
								<tr>
									<td>Charged</td>
									<td><small>No charges</small></td>
								</tr>
								<tr>
									<td colspan="2">Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text.</td>
								</tr>
							</tbody>
						</table>

						<!-- Project progress -->
						<h5>Project progress</h5>
						<div class="progress-rounded">
							<ngb-progressbar type="info" [value]="60" height="5px"></ngb-progressbar>
						</div>
					</div>
				</div>
			</div>
			<!-- Upcoming Events -->
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 my-sm">
				<div class="card">
					<div class="card-header">
						<h5 class="m-0">Upcoming Events</h5>
					</div>
					<div class="card-body p-0">
						<div class="table-responsive">
							<table class="table m-0">
								<tr>
									<td>
										<a href="javascript:;" class="text-dg">
											<p class="d-inline-block m-0">Conference</p>
										</a>
									</td>
									<td>
										<small class="float-right">Oct 10th, 2017 at 11:00 am</small>
									</td>
								</tr>
								<tr>
									<td>
										<a href="javascript:;" class="text-dg">
											<p class="d-inline-block m-0">VIP meeting</p>
										</a>
									</td>
									<td>
										<label class="badge badge-success float-right p-1">Now</label>
									</td>
								</tr>
								<tr>
									<td>
										<a href="javascript:;" class="text-dg">
											<p class="d-inline-block m-0">Seminar</p>
										</a>
									</td>
									<td>
										<small class="float-right">Oct 12th, 2017 at 12:00 am</small>
									</td>
								</tr>
								<tr>
									<td>
										<a href="javascript:;" class="text-dg">
											<p class="d-inline-block m-0">Team building events</p>
										</a>
									</td>
									<td>
										<small class="float-right">Oct 15th, 2017 at 01:00 pm</small>
									</td>
								</tr>
								<tr>
									<td>
										<a href="javascript:;" class="text-dg">
											<p class="d-inline-block m-0">Networking events</p>
										</a>
									</td>
									<td>
										<label class="badge badge-success float-right p-1">Now</label>
									</td>
								</tr>
								<tr>
									<td>
										<a href="javascript:;" class="text-dg">
											<p class="d-inline-block m-0">Opening ceremonies</p>
										</a>
									</td>
									<td>
										<label class="badge badge-warning float-right p-1">Waiting</label>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
			<!-- Last Activity -->
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 my-sm">
				<div class="card">
					<div class="card-header">
						<h5 class="m-0">Last Activities</h5>
					</div>
					<div class="card-body p-0">
						<div class="table-responsive">
							<table class="table m-0">
								<tr>
									<td>
										<a href="javascript:;" class="text-dg">
											<p class="d-inline-block m-0">Trade show</p>
										</a>
									</td>
									<td>
										<label class="badge badge-success float-right p-1">Now</label>
									</td>
								</tr>
								<tr>
									<td>
										<a href="javascript:;" class="text-dg">
											<p class="d-inline-block m-0">Meeting</p>
										</a>
									</td>
									<td>
										<small class="float-right">Oct 07th, 2017 at 11:00 am</small>
									</td>
								</tr>
								<tr>
									<td>
										<a href="javascript:;" class="text-dg">
											<p class="d-inline-block m-0">Award ceremonies</p>
										</a>
									</td>
									<td>
										<label class="badge badge-danger float-right p-1">Blocked</label>
									</td>
								</tr>
								<tr>
									<td>
										<a href="javascript:;" class="text-dg">
											<p class="d-inline-block m-0">Press conference</p>
										</a>
									</td>
									<td>
										<small class="float-right">Oct 07th, 2017 at 09:00 am</small>
									</td>
								</tr>
								<tr>
									<td>
										<a href="javascript:;" class="text-dg">
											<p class="d-inline-block m-0">Networking events</p>
										</a>
									</td>
									<td>
										<label class="badeg badeg-danger float-right">Blocked</label>
									</td>
								</tr>
								<tr>
									<td>
										<a href="javascript:;" class="text-dg">
											<p class="d-inline-block m-0">Business dinner</p>
										</a>
									</td>
									<td>
										<small class="float-right">Oct 10th, 2017 at 08:00 pm</small>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>