<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">Pages</a></li>
							<li class="breadcrumb-item active text-dg">Supports</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-files-o menu-icon" aria-hidden="true"></i> Supports</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Page Support Content -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card">
			<div class="card-body text-center">
				<h4 class="font-os-thin">
					Do not find your answer here? Need more help? Please add your question here.
				</h4>
				<button class="btn btn-theme" type="button">
					<i class="fa fa-plus" aria-hidden="true"> Add Question</i>
				</button>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-12 my-sm">
		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col-xl-10 col-lg-8 col-md-8 col-sm-12 col-12">
						<div class="input-group mb-xs">
							<input type="text" class="form-control" placeholder="Have a question? Ask or enter a search term.">
							<span class="input-group-btn">
								<button class="btn btn-theme" type="button"><i class="fa fa-search"></i>&nbsp; Search</button>
							</span>
						</div>
					</div>
					<div class="col-xl-2 col-lg-4 col-md-4 col-sm-12 col-12">
						<button class="btn btn-outline-theme btn-block">Contact Support</button>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<h4 class="border-b my-sm">Article Categories</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 my-sm">
						<div class="row">
							<div class="col-12">
								<ul class="list-group w-100 custom-list-group">
									<li class="list-group-item p-0 d-flex active">
										<a href="javascript:;" class="text-dg col-12 py-sm px-xlg">
											Account Settings
											<span class="badge badge-theme float-right">12</span>
										</a>
									</li>
									<li class="list-group-item p-0 d-flex">
										<a href="javascript:;" class="text-dg col-12 py-sm px-xlg">
											API Questions
											<span class="badge badge-primary float-right">6</span>
										</a>
									</li>
									<li class="list-group-item p-0 d-flex">
										<a href="javascript:;" class="text-dg col-12 py-sm px-xlg">
											Billing
											<span class="badge badge-success float-right">5</span>
										</a>
									</li>
									<li class="list-group-item p-0 d-flex">
										<a href="javascript:;" class="text-dg col-12 py-sm px-xlg">
											Copyright & Legal
											<span class="badge badge-info float-right">8</span>
										</a>
									</li>
									<li class="list-group-item p-0 d-flex">
										<a href="javascript:;" class="text-dg col-12 py-sm px-xlg">
											Mobile Apps
											<span class="badge badge-danger float-right">7</span>
										</a>
									</li>
									<li class="list-group-item p-0 d-flex">
										<a href="javascript:;" class="text-dg col-12 py-sm px-xlg">
											Upgrading
											<span class="badge badge-warning float-right">2</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12 my-sm">
								<h4>Popular Articles</h4>
								<ul class="list-unstyled">        
									<li class="p-sm">
										<i class="fa fa-star fa-lg mr-md"></i> 
										<a href="javascript:;" class="text-dg">
										Why can't I log in?
										</a>
									</li>
									<li class="p-sm">
										<i class="fa fa-star fa-lg mr-md"></i> 
										<a href="javascript:;" class="text-dg">
										How do I disable my account?
										</a>
									</li>
									<li class="p-sm">
										<i class="fa fa-star fa-lg mr-md"></i> 
										<a href="javascript:;" class="text-dg">
										How do I customize my URL?
										</a>
									</li>
									<li class="p-sm">
										<i class="fa fa-star fa-lg mr-md"></i> 
										<a href="javascript:;" class="text-dg">
										How do I block a patron?
										</a>
									</li>
									<li class="p-sm">
										<i class="fa fa-star fa-lg mr-md"></i> 
										<a href="javascript:;" class="text-dg">
										Why is my page not showing up in search?
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
						<div class="row">										
							<div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 my-sm">
								<div class="card border-theme" role="tablist">
									<div class="card-header bg-theme" role="tab" id="headingOne">
										<h5 class="mb-0">
											<a class="text-white" data-toggle="collapse" href="#accountSetting" aria-expanded="true" aria-controls="accountSetting">
												Account Settings&nbsp;<small>(12)</small>
											</a>
											<a href="javascript:;" class="float-right text-white"><i class="fa fa-external-link" aria-hidden="true"></i></a>
										</h5>
									</div>
									<div id="accountSetting" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
										<div class="card-body">
											<ul class="list-unstyled">        
												<li class="p-sm">
													<i class="fa fa-file-text-o fa-lg mr-md"></i> 
													<a href="javascript:;" class="text-dg">
													Why can't I log in?
													</a>
												</li>
												<li class="p-sm">
													<i class="fa fa-file-text-o fa-lg mr-md"></i> 
													<a href="javascript:;" class="text-dg">
													How do I disable my account?
													</a>
												</li>
												<li class="p-sm">
													<i class="fa fa-file-text-o fa-lg mr-md"></i> 
													<a href="javascript:;" class="text-dg">
													How do I customize my URL?
													</a>
												</li>
												<li class="p-sm">
													<i class="fa fa-file-text-o fa-lg mr-md"></i> 
													<a href="javascript:;" class="text-dg">
													How do I block a patron?
													</a>
												</li>
												<li class="p-sm">
													<i class="fa fa-file-text-o fa-lg mr-md"></i> 
													<a href="javascript:;" class="text-dg">
													Why is my page not showing up in search?
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 my-sm">
								<div class="card border-primary" role="tablist">
									<div class="card-header bg-primary" role="tab" id="headingTwo">
										<h5 class="mb-0">
											<a class="text-white" data-toggle="collapse" href="#apiQuestion" aria-expanded="true" aria-controls="apiQuestion">
												API Questions&nbsp;<small>(6)</small>
											</a>
											<a href="javascript:;" class="float-right text-white"><i class="fa fa-external-link" aria-hidden="true"></i></a>
										</h5>
									</div>
									<div id="apiQuestion" class="collapse show" role="tabpanel" aria-labelledby="headingTwo">
										<div class="card-body">
											<ul class="list-unstyled">
												<li class="p-sm">
													<i class="fa fa-file-text-o fa-lg mr-md"></i> 
													<a href="javascript:;" class="text-dg">
													Do you have an API?
													</a>
												</li>
												<li class="p-sm">
													<i class="fa fa-file-text-o fa-lg mr-md"></i> 
													<a href="javascript:;" class="text-dg">
													What can I do with your API?
													</a>
												</li>
												<li class="p-sm">
													<i class="fa fa-file-text-o fa-lg mr-md"></i> 
													<a href="javascript:;" class="text-dg">
													Does your API fit my company’s needs?
													</a>
												</li>
												<li class="p-sm">
													<i class="fa fa-file-text-o fa-lg mr-md"></i> 
													<a href="javascript:;" class="text-dg">
													How does your API view my world?
													</a>
												</li>
												<li class="p-sm">
													<i class="fa fa-file-text-o fa-lg mr-md"></i> 
													<a href="javascript:;" class="text-dg">
													What Are The API Limits?
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 my-sm">
								<div class="card border-success" role="tablist">
									<div class="card-header bg-success" role="tab" id="headingThree">
										<h5 class="mb-0">
											<a class="text-white" data-toggle="collapse" href="#billing" aria-expanded="true" aria-controls="billing">
												Billing&nbsp;<small>(5)</small>
											</a>
											<a href="javascript:;" class="float-right text-white"><i class="fa fa-external-link" aria-hidden="true"></i></a>
										</h5>
									</div>
									<div id="billing" class="collapse show" role="tabpanel" aria-labelledby="headingThree">
										<div class="card-body">
											<ul class="list-unstyled">        
												<li class="p-sm">
													<i class="fa fa-file-text-o fa-lg mr-md"></i> 
													<a href="javascript:;" class="text-dg">
													What are my payment options?
													</a>
												</li>
												<li class="p-sm">
													<i class="fa fa-file-text-o fa-lg mr-md"></i> 
													<a href="javascript:;" class="text-dg">
													How do I change my card billing information?
													</a>
												</li>
												<li class="p-sm">
													<i class="fa fa-file-text-o fa-lg mr-md"></i> 
													<a href="javascript:;" class="text-dg">
													Can I Get A Refund?    
													</a>
												</li>
												<li class="p-sm">
													<i class="fa fa-file-text-o fa-lg mr-md"></i> 
													<a href="javascript:;" class="text-dg">
													How do I cancel or downgrade my Premium Account?
													</a>
												</li>
												<li class="p-sm">
													<i class="fa fa-file-text-o fa-lg mr-md"></i> 
													<a href="javascript:;" class="text-dg">
													What happens at the end of my free trial?
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 my-sm">
								<div class="card border-info" role="tablist">
									<div class="card-header bg-info" role="tab" id="headingfour">
										<h5 class="mb-0">
											<a class="text-white" data-toggle="collapse" href="#copyrightLegal" aria-expanded="true" aria-controls="copyrightLegal">
												Copyright & Legal&nbsp;<small>(8)</small>
											</a>
											<a href="javascript:;" class="float-right text-white"><i class="fa fa-external-link" aria-hidden="true"></i></a>
										</h5>
									</div>
									<div id="copyrightLegal" class="collapse show" role="tabpanel" aria-labelledby="headingfour">
										<div class="card-body">
											<ul class="list-unstyled">        
												<li class="p-sm">
													<i class="fa fa-file-text-o fa-lg mr-md"></i> 
													<a href="javascript:;" class="text-dg">
													What is copyright law?
													</a>
												</li>
												<li class="p-sm">
													<i class="fa fa-file-text-o fa-lg mr-md"></i> 
													<a href="javascript:;" class="text-dg">
													Can I copyright my website?
													</a>
												</li>
												<li class="p-sm">
													<i class="fa fa-file-text-o fa-lg mr-md"></i> 
													<a href="javascript:;" class="text-dg">
													How do I register my copyright?
													</a>
												</li>
												<li class="p-sm">
													<i class="fa fa-file-text-o fa-lg mr-md"></i> 
													<a href="javascript:;" class="text-dg">
													What is the registration fee?
													</a>
												</li>
												<li class="p-sm">
													<i class="fa fa-file-text-o fa-lg mr-md"></i> 
													<a href="javascript:;" class="text-dg">
													How long will my copyright last?
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 my-sm">
								<div class="card border-danger" role="tablist">
									<div class="card-header bg-danger" role="tab" id="headingFive">
										<h5 class="mb-0">
											<a class="text-white" data-toggle="collapse" href="#mobileApp" aria-expanded="true" aria-controls="mobileApp">
												Mobile Apps&nbsp;<small>(7)</small>
											</a>
											<a href="javascript:;" class="float-right text-white"><i class="fa fa-external-link" aria-hidden="true"></i></a>
										</h5>
									</div>
									<div id="mobileApp" class="collapse show" role="tabpanel" aria-labelledby="headingFive">
										<div class="card-body">
											<ul class="list-unstyled">        
												<li class="p-sm">
													<i class="fa fa-file-text-o fa-lg mr-md"></i> 
													<a href="javascript:;" class="text-dg">
													Will you submit my mobile app to app stores?
													</a>
												</li>
												<li class="p-sm">
													<i class="fa fa-file-text-o fa-lg mr-md"></i> 
													<a href="javascript:;" class="text-dg">
													 How will you test my app?
													</a>
												</li>
												<li class="p-sm">
													<i class="fa fa-file-text-o fa-lg mr-md"></i> 
													<a href="javascript:;" class="text-dg">
													Which features do you want to include in your app?
													</a>
												</li>
												<li class="p-sm">
													<i class="fa fa-file-text-o fa-lg mr-md"></i> 
													<a href="javascript:;" class="text-dg">
													What kind of smartphone do you use?
													</a>
												</li>
												<li class="p-sm">
													<i class="fa fa-file-text-o fa-lg mr-md"></i> 
													<a href="javascript:;" class="text-dg">
													How can my app make money?
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 my-sm">
								<div class="card border-warning" role="tablist">
									<div class="card-header bg-warning" role="tab" id="headingSix">
										<h5 class="mb-0">
											<a class="text-white" data-toggle="collapse" href="#upgrading" aria-expanded="true" aria-controls="upgrading">
												Mobile Apps&nbsp;<small>(7)</small>
											</a>
											<a href="javascript:;" class="float-right text-white"><i class="fa fa-external-link" aria-hidden="true"></i></a>
										</h5>
									</div>
									<div id="upgrading" class="collapse show" role="tabpanel" aria-labelledby="headingSix">
										<div class="card-body">
											<ul class="list-unstyled">        
												<li class="p-sm pr-0">
													<i class="fa fa-file-text-o fa-lg mr-md"></i> 
													<a href="javascript:;" class="text-dg">
													What can I do to avoid problems when upgrading to the new version?
													</a>
												</li>
												<li class="p-sm">
													<i class="fa fa-file-text-o fa-lg mr-md"></i> 
													<a href="javascript:;" class="text-dg">
													How To Update Seamlessly Every Time?
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>