/*******************************************************
 ** orange-theme.less
 ** 
 ** Main LESS file for Orange Theme Admin Pages.
 ** Developer: Ranpariya - The Development Lab - India
 *******************************************************/

/*********************************************
 * Generalize CSS.
 * These can use for global component styling
 *********************************************/

html, body {
  margin: 0;
  padding: 0;
  font-size: 14px !important;
}

*:focus {
  outline: none !important;
}

body.orange-theme {
  @import "./_variables.less";
  @import "../../app.less";
  overflow-x: hidden;
}