<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">Charts</a></li>
							<li class="breadcrumb-item active text-dg">Rickshaw Charts</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-pie-chart menu-icon" aria-hidden="true"></i> Rickshaw Charts</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Rickshaw Charts Content-->
<div class="row">
	<div class="col-12 px-0 my-sm">
		<div class="card">
			<div class="card-body text-center">
				<div class="py-lg">
					<h4 class="font-roboto-thin my-sm">Rickshaw is a JavaScript toolkit for creating interactive time series graphs.</h4>
					<a href="http://code.shutterstock.com/rickshaw/" target="_blank" class="btn btn-outline-theme">Get Rickshaw Charts Doc</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Fixed Chart</h5>
			</div>
			<div class="card-body text-center">
				<div id="fixed-chart" class="chart-dark-shadow"></div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Simple Chart</h5>
			</div>
			<div class="card-body text-center">
				<div id="simple-chart"></div>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">X-Axis Chart</h5>
			</div>
			<div class="card-body text-center">
				<div id="x-axis-chart"></div>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-md-12 col-sm-12 col-12 my-sm d-lg-none d-xl-block">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Y-Axis Chart</h5>
			</div>
			<div class="card-body">
				<div id="y_axis" class="y_axis"></div>
				<div id="y-axis-chart"></div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-6 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Bar Chart</h5>
			</div>
			<div class="card-body text-center">
				<div id="bar-chart"></div>
			</div>
		</div>
	</div>
	<div class="col-lg-6 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Y-Axis Legend Color Chart </h5>
				<div id="y-axis-color-legend" class="legend float-right"></div>
			</div>
			<div class="card-body">
				<div id="y_color_legend_axis" class="y_axis"></div>
				<div id="y-axis-colorlegend-chart"></div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-6 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Y-Axis Unstacking Chart </h5>
			</div>
			<div class="card-body">
				<div id="y_axis_unstacking" class="y_axis"></div>
				<div id="y_axis_unstacking_chart"></div>
				<div id="y_axis_unstacking_legend" class="legend"></div>
				<div class="flaot-left">
					<form id="offset_form" class="toggler offset_form">
						<label class="radio-inline" for="lines"><input type="radio" name="offset" id="lines" value="lines" checked>Lines</label>
						<label class="radio-inline" for="stack"><input type="radio" name="offset" id="stack" value="zero">Stack</label>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-6 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Line Chart</h5>
			</div>
			<div class="card-body text-center">
				<div id="line_chart"></div>
				<div id="legend_container">
					<div id="smoother" title="Smoothing"></div>
					<div id="line_legend" class="legend"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-6 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Gap Chart</h5>
			</div>
			<div class="card-body text-center">
				<div id="gaps-chart"></div>
			</div>
		</div>
	</div>
	<div class="col-lg-6 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Negative Chart</h5>
			</div>
			<div class="card-body text-center">
				<div id="negative_chart"></div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-6 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Sparse Chart</h5>
			</div>
			<div class="card-body text-center">
				<div id="sparse_chart" class="chart-dark-shadow"></div>
			</div>
		</div>
	</div>
	<div class="col-lg-6 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Lineplot Chart</h5>
			</div>
			<div class="card-body text-center">
				<div id="lineplot_chart" class="chart-dark-shadow"></div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-6 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Line Lagend Hover Chart</h5>
			</div>
			<div class="card-body text-center">
				<div id="lagend_hover_chart"></div>
				<div class="legend" id="hover_legend"></div>
			</div>
		</div>
	</div>
	<div class="col-lg-6 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Scatterplot Chart</h5>
			</div>
			<div class="card-body text-center">
				<div id="scatterplot_chart"></div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-6 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Status Chart</h5>
			</div>
			<div class="card-body text-center">
				<div id="status_chart"></div>
				<div id="status_legend" class="legend"></div>
			</div>
		</div>
	</div>
	<div class="col-lg-6 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Multi Chart</h5>
			</div>
			<div class="card-body text-center">
				<div id="multi_chart"></div>
				<div id="multi_slider"></div>
			</div>
			<div id="multi_legend" class="legend"></div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Time Scale Chart</h5>
			</div>
			<div class="card-body text-center">
				<div id="timescale_chart"></div>
				<div id="timescale_slider"></div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Scaled Chart</h5>
			</div>
			<div class="card-body text-center">
				<div id="scale_axis0"></div>
				<div id="scale_chart"></div>
				<div id="scale_axis1"></div>
			</div>
		</div>
	</div>
</div>