<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">Widgets</a></li>
							<li class="breadcrumb-item active text-dg">Material Cards</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-flask menu-icon" aria-hidden="true"></i> Material Cards</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Material Card Content -->
<div class="row">
	<div class="col-xl-4 col-lg-6 col-md-12 col-sm-6 col-12">
		<div class="material-card material-card-click theme">
			<h2>
				<span>Jonny Smith</span>
				<strong>
					<i class="fa fa-fw fa-star"></i>
					UX/UI Developer
				</strong>
			</h2>
			<div class="mc-content">
				<div class="img-container">
					<img class="img-fluid" src="assets/images/profile/profile-cover.jpg" alt="RTDL Image">
				</div>
				<div class="mc-description px-md">
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
				</div>
			</div>
			<a class="mc-btn-action">
				<i class="fa fa-bars"></i>
			</a>
			<div class="mc-footer text-center">	
				<a href="javascript:;" class="fa fa-lg fa-facebook"></a>
				<a href="javascript:;" class="fa fa-lg fa-twitter"></a>
				<a href="javascript:;" class="fa fa-lg fa-linkedin"></a>
				<a href="javascript:;" class="fa fa-lg fa-google-plus"></a>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-lg-6 col-md-12 col-sm-6 col-12">
		<div class="material-card material-card-click primary">
			<h2>
				<span>Jonny Smith</span>
				<strong>
					<i class="fa fa-fw fa-star"></i>
					UX/UI Developer
				</strong>
			</h2>
			<div class="mc-content">
				<div class="img-container">
					<img class="img-fluid" src="assets/images/profile/profile-cover.jpg" alt="RTDL Image">
				</div>
				<div class="mc-description px-md">
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
				</div>
			</div>
			<a class="mc-btn-action">
				<i class="fa fa-bars"></i>
			</a>
			<div class="mc-footer text-center">								
				<a href="javascript:;" class="fa fa-lg fa-facebook"></a>
				<a href="javascript:;" class="fa fa-lg fa-twitter"></a>
				<a href="javascript:;" class="fa fa-lg fa-linkedin"></a>
				<a href="javascript:;" class="fa fa-lg fa-google-plus"></a>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-lg-6 col-md-12 col-sm-6 col-12">
		<div class="material-card material-card-click success">
			<h2>
				<span>Jonny Smith</span>
				<strong>
					<i class="fa fa-fw fa-star"></i>
					UX/UI Developer
				</strong>
			</h2>
			<div class="mc-content">
				<div class="img-container">
					<img class="img-fluid" src="assets/images/profile/profile-cover.jpg" alt="RTDL Image">
				</div>
				<div class="mc-description px-md">
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
				</div>
			</div>
			<a class="mc-btn-action">
				<i class="fa fa-bars"></i>
			</a>
			<div class="mc-footer text-center">								
				<a href="javascript:;" class="fa fa-lg fa-facebook"></a>
				<a href="javascript:;" class="fa fa-lg fa-twitter"></a>
				<a href="javascript:;" class="fa fa-lg fa-linkedin"></a>
				<a href="javascript:;" class="fa fa-lg fa-google-plus"></a>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-lg-6 col-md-12 col-sm-6 col-12">
		<div class="material-card material-card-hover info">
			<h2>
				<span>Jonny Smith</span>
				<strong>
					<i class="fa fa-fw fa-star"></i>
					UX/UI Developer
				</strong>
			</h2>
			<div class="mc-content">
				<div class="img-container">
					<img class="img-fluid" src="assets/images/profile/profile-cover.jpg" alt="RTDL Image">
				</div>
				<div class="mc-description px-md">
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
				</div>
			</div>
			<a class="mc-btn-action">
				<i class="fa fa-bars"></i>
			</a>
			<div class="mc-footer text-center">								
				<a href="javascript:;" class="fa fa-lg fa-facebook"></a>
				<a href="javascript:;" class="fa fa-lg fa-twitter"></a>
				<a href="javascript:;" class="fa fa-lg fa-linkedin"></a>
				<a href="javascript:;" class="fa fa-lg fa-google-plus"></a>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-lg-6 col-md-12 col-sm-6 col-12">
		<div class="material-card material-card-hover warning">
			<h2>
				<span>Jonny Smith</span>
				<strong>
					<i class="fa fa-fw fa-star"></i>
					UX/UI Developer
				</strong>
			</h2>
			<div class="mc-content">
				<div class="img-container">
					<img class="img-fluid" src="assets/images/profile/profile-cover.jpg" alt="RTDL Image">
				</div>
				<div class="mc-description px-md">
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
				</div>
			</div>
			<a class="mc-btn-action">
				<i class="fa fa-bars"></i>
			</a>
			<div class="mc-footer text-center">								
				<a href="javascript:;" class="fa fa-lg fa-facebook"></a>
				<a href="javascript:;" class="fa fa-lg fa-twitter"></a>
				<a href="javascript:;" class="fa fa-lg fa-linkedin"></a>
				<a href="javascript:;" class="fa fa-lg fa-google-plus"></a>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-lg-6 col-md-12 col-sm-6 col-12">
		<div class="material-card material-card-hover danger">
			<h2>
				<span>Jonny Smith</span>
				<strong>
					<i class="fa fa-fw fa-star"></i>
					UX/UI Developer
				</strong>
			</h2>
			<div class="mc-content">
				<div class="img-container">
					<img class="img-fluid" src="assets/images/profile/profile-cover.jpg" alt="RTDL Image">
				</div>
				<div class="mc-description px-md">
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
				</div>
			</div>
			<a class="mc-btn-action">
				<i class="fa fa-bars"></i>
			</a>
			<div class="mc-footer text-center">								
				<a href="javascript:;" class="fa fa-lg fa-facebook"></a>
				<a href="javascript:;" class="fa fa-lg fa-twitter"></a>
				<a href="javascript:;" class="fa fa-lg fa-linkedin"></a>
				<a href="javascript:;" class="fa fa-lg fa-google-plus"></a>
			</div>
		</div>
	</div>
</div>