<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">UI Elements</a></li>
							<li class="breadcrumb-item active text-dg">Buttons</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-laptop menu-icon" aria-hidden="true"></i> Buttons</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Buttons Content -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Normal Buttons</h5>
			</div>
			<div class="card-body">
				<p>Normal buttons of Bootstrap. Extra new button that's theme color button. Adding <code>.btn-theme</code> class with <code>.btn</code> to create a theme color button.</p>
				<button type="button" class="btn btn-theme mb-xs">Theme button</button>
				<button type="button" class="btn btn-primary mb-xs">Primary</button>
				<button type="button" class="btn btn-secondary mb-xs">Secondary</button>
				<button type="button" class="btn btn-success mb-xs">Success</button>
				<button type="button" class="btn btn-danger mb-xs">Danger</button>
				<button type="button" class="btn btn-warning mb-xs">Warning</button>
				<button type="button" class="btn btn-info mb-xs">Info</button>
				<button type="button" class="btn btn-light mb-xs">Light</button>
				<button type="button" class="btn btn-dark mb-xs">Dark</button>
				<button type="button" class="btn btn-link mb-xs">Link</button>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Raised Buttons</h5>
			</div>
			<div class="card-body">
				<p>
					Buttons with Raised effects. Click any of following button to see the effect. To get raise effect, Just add <code>.btn-raised</code> class to <kbd>&lt;button&gt;</kbd> or <kbd>&lt;a&gt;</kbd> tag.
				</p>
				<pre class="bg-lg p-sm">&lt;button type="button" class="btn <b><i>btn-raised</i></b> btn-theme"&gt;Button&lt;/button&gt;</pre>
				<button type="button" class="btn btn-raised btn-theme mb-xs">Theme button</button>
				<button type="button" class="btn btn-raised btn-primary mb-xs">Primary</button>
				<button type="button" class="btn btn-raised btn-secondary mb-xs">Secondary</button>
				<button type="button" class="btn btn-raised btn-success mb-xs">Success</button>
				<button type="button" class="btn btn-raised btn-danger mb-xs">Danger</button>
				<button type="button" class="btn btn-raised btn-warning mb-xs">Warning</button>
				<button type="button" class="btn btn-raised btn-info mb-xs">Info</button>
				<button type="button" class="btn btn-raised btn-light mb-xs">Light</button>
				<button type="button" class="btn btn-raised btn-dark mb-xs">Dark</button>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-6 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Outline Buttons</h5>
			</div>
			<div class="card-body">
				<p>Buttons with outline. <code>.btn-outline.*</code> class is used to create a outline button.</p>
				<button type="button" class="btn btn-outline-theme mb-xs">Theme button</button>
				<button type="button" class="btn btn-outline-primary mb-xs">Primary</button>
				<button type="button" class="btn btn-outline-secondary mb-xs">Secondary</button>
				<button type="button" class="btn btn-outline-success mb-xs">Success</button>
				<button type="button" class="btn btn-outline-danger mb-xs">Danger</button>
				<button type="button" class="btn btn-outline-warning mb-xs">Warning</button>
				<button type="button" class="btn btn-outline-info mb-xs">Info</button>
				<button type="button" class="btn btn-outline-light mb-xs">Light</button>
				<button type="button" class="btn btn-outline-dark mb-xs">Dark</button>
			</div>
		</div>
	</div>
	<div class="col-lg-6 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Rounded Buttons</h5>
			</div>
			<div class="card-body">
				<p>Rounded buttons are just like a normal button but with rounded edges. <code>.btn-rounded</code> class can be used with <code>.btn</code> class to create them.</p>
				<button type="button" class="btn btn-rounded btn-theme mb-xs">Theme button</button>
				<button type="button" class="btn btn-rounded btn-primary mb-xs">Primary</button>
				<button type="button" class="btn btn-rounded btn-secondary mb-xs">Secondary</button>
				<button type="button" class="btn btn-rounded btn-success mb-xs">Success</button>
				<button type="button" class="btn btn-rounded btn-danger mb-xs">Danger</button>
				<button type="button" class="btn btn-rounded btn-warning mb-xs">Warning</button>
				<button type="button" class="btn btn-rounded btn-info mb-xs">Info</button>
				<button type="button" class="btn btn-rounded btn-light mb-xs">Light</button>
				<button type="button" class="btn btn-rounded btn-dark mb-xs">Dark</button>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Icon Buttons</h5>
			</div>
			<div class="card-body">
				<p>Buttons with icon. Theme uses Fontawesome to add icon to button.</p>
				<button class="btn btn-theme mb-xs" type="button">
					<i class="fa fa-themeisle" aria-hidden="true"></i>
					Theme Button
				</button>
				<button class="btn btn-primary mb-xs" type="button">
					<i class="fa fa-upload" aria-hidden="true"></i>
					Upload
				</button>
				<button class="btn btn-success mb-xs" type="button">
					<i class="fa fa-check" aria-hidden="true"></i>
					Submit
				</button>
				<button class="btn btn-warning mb-xs" type="button">
					<i class="fa fa-warning" aria-hidden="true"></i>
					Warning
				</button>
				
				<button class="btn btn-info mb-xs" type="button">
					<i class="fa fa-clipboard" aria-hidden="true"></i>
					Edit
				</button>
				
				<button class="btn btn-secondary mb-xs" type="button">
					<i class="fa fa-map-marker" aria-hidden="true"></i>
					Map
				</button>
				<button class="btn btn-primary mb-xs" type="button">
					<i class="fa fa-facebook" aria-hidden="true"></i>
					Sign in with facebook
				</button>
				<button class="btn btn-secondary mb-xs" type="button">
					<i class="fa fa-exchange" aria-hidden="true"></i>
				</button>
				<button class="btn btn-secondary mb-xs" type="button">
					<i class="fa fa-star" aria-hidden="true"></i>
					Stared
				</button>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-6 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Dropdown Buttons</h5>
			</div>
			<div class="card-body">
				<p>Bootstrap's default dropdown buttons.</p>
				<div class="row m-0">
					<div ngbDropdown>
						<button class="btn btn-theme btn-lg mb-xs mr-xs" id="dropdownBasic1" ngbDropdownToggle>Action</button>
						<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
							<button class="dropdown-item">Action</button>
							<button class="dropdown-item">Another Action</button>
							<button class="dropdown-item">Something else</button>
							<div class="dropdown-divider"></div>
							<button class="dropdown-item">Separated link </button>
						</div>
					</div>
					<div ngbDropdown>
						<button class="btn btn-success btn-lg mb-xs mr-xs" id="dropdownBasic2" ngbDropdownToggle>Action</button>
						<div ngbDropdownMenu aria-labelledby="dropdownBasic2">
							<button class="dropdown-item">Action</button>
							<button class="dropdown-item">Another Action</button>
							<button class="dropdown-item">Something else</button>
							<div class="dropdown-divider"></div>
							<button class="dropdown-item">Separated link </button>
						</div>
					</div>
					<div ngbDropdown>
						<button class="btn btn-warning btn-lg mb-xs mr-xs" id="dropdownBasic2" ngbDropdownToggle>Action</button>
						<div ngbDropdownMenu aria-labelledby="dropdownBasic2">
							<button class="dropdown-item">Action</button>
							<button class="dropdown-item">Another Action</button>
							<button class="dropdown-item">Something else</button>
							<div class="dropdown-divider"></div>
							<button class="dropdown-item">Separated link </button>
						</div>
					</div>
					<div ngbDropdown>
						<button class="btn btn-secondary btn-lg mb-xs mr-xs" id="dropdownBasic2" ngbDropdownToggle>Action</button>
						<div ngbDropdownMenu aria-labelledby="dropdownBasic2">
							<button class="dropdown-item">Action</button>
							<button class="dropdown-item">Another Action</button>
							<button class="dropdown-item">Something else</button>
							<div class="dropdown-divider"></div>
							<button class="dropdown-item">Separated link </button>
						</div>
					</div>
				</div>
				<div class="row m-0">
					<div ngbDropdown>
						<button class="btn btn-theme mb-xs mr-xs" id="dropdownBasic1" ngbDropdownToggle>Action</button>
						<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
							<button class="dropdown-item">Action</button>
							<button class="dropdown-item">Another Action</button>
							<button class="dropdown-item">Something else</button>
							<div class="dropdown-divider"></div>
							<button class="dropdown-item">Separated link </button>
						</div>
					</div>
					<div ngbDropdown>
						<button class="btn btn-success mb-xs mr-xs" id="dropdownBasic2" ngbDropdownToggle>Action</button>
						<div ngbDropdownMenu aria-labelledby="dropdownBasic2">
							<button class="dropdown-item">Action</button>
							<button class="dropdown-item">Another Action</button>
							<button class="dropdown-item">Something else</button>
							<div class="dropdown-divider"></div>
							<button class="dropdown-item">Separated link </button>
						</div>
					</div>
					<div ngbDropdown>
						<button class="btn btn-warning mb-xs mr-xs" id="dropdownBasic2" ngbDropdownToggle>Action</button>
						<div ngbDropdownMenu aria-labelledby="dropdownBasic2">
							<button class="dropdown-item">Action</button>
							<button class="dropdown-item">Another Action</button>
							<button class="dropdown-item">Something else</button>
							<div class="dropdown-divider"></div>
							<button class="dropdown-item">Separated link </button>
						</div>
					</div>
					<div ngbDropdown>
						<button class="btn btn-secondary mb-xs mr-xs" id="dropdownBasic2" ngbDropdownToggle>Action</button>
						<div ngbDropdownMenu aria-labelledby="dropdownBasic2">
							<button class="dropdown-item">Action</button>
							<button class="dropdown-item">Another Action</button>
							<button class="dropdown-item">Something else</button>
							<div class="dropdown-divider"></div>
							<button class="dropdown-item">Separated link </button>
						</div>
					</div>
				</div>
				<div class="row m-0">
					<div ngbDropdown>
						<button class="btn btn-theme btn-sm mb-xs mr-xs" id="dropdownBasic1" ngbDropdownToggle>Action</button>
						<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
							<button class="dropdown-item">Action</button>
							<button class="dropdown-item">Another Action</button>
							<button class="dropdown-item">Something else</button>
							<div class="dropdown-divider"></div>
							<button class="dropdown-item">Separated link </button>
						</div>
					</div>
					<div ngbDropdown>
						<button class="btn btn-success btn-sm mb-xs mr-xs" id="dropdownBasic2" ngbDropdownToggle>Action</button>
						<div ngbDropdownMenu aria-labelledby="dropdownBasic2">
							<button class="dropdown-item">Action</button>
							<button class="dropdown-item">Another Action</button>
							<button class="dropdown-item">Something else</button>
							<div class="dropdown-divider"></div>
							<button class="dropdown-item">Separated link </button>
						</div>
					</div>
					<div ngbDropdown>
						<button class="btn btn-warning btn-sm mb-xs mr-xs" id="dropdownBasic2" ngbDropdownToggle>Action</button>
						<div ngbDropdownMenu aria-labelledby="dropdownBasic2">
							<button class="dropdown-item">Action</button>
							<button class="dropdown-item">Another Action</button>
							<button class="dropdown-item">Something else</button>
							<div class="dropdown-divider"></div>
							<button class="dropdown-item">Separated link </button>
						</div>
					</div>
					<div ngbDropdown>
						<button class="btn btn-secondary btn-sm mb-xs mr-xs" id="dropdownBasic2" ngbDropdownToggle>Action</button>
						<div ngbDropdownMenu aria-labelledby="dropdownBasic2">
							<button class="dropdown-item">Action</button>
							<button class="dropdown-item">Another Action</button>
							<button class="dropdown-item">Something else</button>
							<div class="dropdown-divider"></div>
							<button class="dropdown-item">Separated link </button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-6 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Button Groups</h5>
			</div>
			<div class="card-body">
				<p>Group a series of buttons together on a single line with the button group.</p>
				<div class="row">
					<div class="col-12">
						<div class="btn-group btn-group-toggle ngb-group-button">
							<label class="btn-outline-secondary" ngbButtonLabel>
								<input type="checkbox" ngbButton [(ngModel)]="model.left"> Left (pre-checked)
							</label>
							<label class="btn-outline-secondary" ngbButtonLabel>
								<input type="checkbox" ngbButton [(ngModel)]="model.middle"> Middle
							</label>
							<label class="btn-outline-secondary" ngbButtonLabel>
								<input type="checkbox" ngbButton [(ngModel)]="model.right"> Right
							</label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12 pagination-theme">
						<ngb-pagination [collectionSize]="70" page=3></ngb-pagination>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xl-4 col-lg-6 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Button Sizes</h5>
			</div>
			<div class="card-body">
				<p>Different sizes of Bootstrap buttons.</p>
				<p>
					<button type="button" class="btn btn-primary btn-lg mb-xs">Large button</button>
					<button type="button" class="btn btn-secondary btn-lg mb-xs">Large button</button>
				</p>
				<p>
					<button type="button" class="btn btn-primary mb-xs">Secondary button</button>
					<button type="button" class="btn btn-secondary mb-xs">Secondary button</button>
				</p>
				<p>
					<button type="button" class="btn btn-primary mb-xs btn-sm">Small button</button>
					<button type="button" class="btn btn-secondary mb-xs btn-sm">Small button</button>
				</p>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-lg-6 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Block Buttons</h5>
			</div>
			<div class="card-body">
				<button type="button" class="btn btn-theme btn-block mb-xs">Theme button</button>
				<button type="button" class="btn btn-primary btn-block mb-xs">Primary button</button>
				<button type="button" class="btn btn-outline-theme btn-block mb-xs">Theme button</button>
				<button type="button" class="btn btn-outline-primary btn-block mb-xs">Primary button</button>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-lg-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Badges</h5>
			</div>
			<div class="card-body">
				<p>Simple Bootstrap badges with one extra appearance of a badge that is theme badge. <code>.badge-theme</code> class used to create theme badge.</p>
				<span class="badge badge-theme">Theme</span>
				<span class="badge badge-primary">Primary</span>
				<span class="badge badge-secondary">Secondary</span>
				<span class="badge badge-success">Success</span>
				<span class="badge badge-danger">Danger</span>
				<span class="badge badge-warning">Warning</span>
				<span class="badge badge-info">Info</span>
				<span class="badge badge-light">Light</span>
				<span class="badge badge-dark">Dark</span>
				<p class="mt-md">Use the <code>.badge-pill</code> modifier class to make badges more rounded</p>
				<span class="badge badge-pill badge-theme">Theme</span>
				<span class="badge badge-pill badge-primary">Primary</span>
				<span class="badge badge-pill badge-secondary">Secondary</span>
				<span class="badge badge-pill badge-success">Success</span>
				<span class="badge badge-pill badge-danger">Danger</span>
				<span class="badge badge-pill badge-warning">Warning</span>
				<span class="badge badge-pill badge-info">Info</span>
				<span class="badge badge-pill badge-light">Light</span>
				<span class="badge badge-pill badge-dark">Dark</span>
			</div>
		</div>
	</div>
</div>