<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">Plugins</a></li>
							<li class="breadcrumb-item active text-dg">Split JS</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-plug menu-icon" aria-hidden="true"></i> Split JS</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Split.js content -->
<div class="row">
	<div class="col-12 px-0 my-sm">
		<div class="card">
			<div class="card-body text-center">
				<div class="py-lg">
					<h4 class="font-roboto-thin my-sm">Unopinionated utility for re-sizeable split views</h4>
					<a href="https://github.com/nathancahill/Split.js" target="_blank" class="btn btn-outline-theme">Get Split JS Doc</a>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Split with two or three elements -->
<div class="row">
	<div class="col-lg-6 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Split with two elements</h5>
			</div>
			<div class="card-body">
				<div class="split-section">
					<div id="split-one" class="split split-horizontal">
						<p class="p-lg">
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
						</p>
					</div>
					<div id="split-two" class="split split-horizontal">
						<p class="p-lg">
							It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-6 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Split with three elements</h5>
			</div>
			<div class="card-body">
				<div class="split-section">
					<div id="split-three" class="split split-horizontal">
						<p class="p-lg">
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type book.
						</p>
					</div>
					<div id="split-four" class="split split-horizontal">
						<p class="p-lg">
							It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here'.
						</p>
					</div>
					<div id="split-five" class="split split-horizontal">
						<p class="p-lg">
							Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Nested splits -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Nested splits, horizontal and vertical.</h5>
			</div>
			<div class="card-body">
				<div class="split-section">
					<div id="split-six" class="split split-horizontal">
						<div id="split-eight" class="split split-vertical">
							<p class="p-lg">
								It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
							</p>
						</div>
						<div id="split-nine" class="split split-vertical">
							<p class="p-lg">
								Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
							</p>
						</div>
					</div>
					<div id="split-seven" class="split split-horizontal">
						<p class="p-lg">
							There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Custom Split -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Custom Split through methods</h5>
			</div>
			<div class="card-body">
				<div class="split-section bordered">
					<div id="split-ten" class="split split-horizontal">
						<p class="pl-lg pt-lg">
							<b>First Split</b>
						</p>
						<p class="p-lg">
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type book.The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
						</p>
					</div>
					<div id="split-eleven" class="split split-horizontal">
						<p class="pl-lg pt-lg">
							<b>Second Split</b>
						</p>
						<p class="p-lg">
							It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here'.
						</p>
					</div>
					<div id="split-twelve" class="split split-horizontal">
						<p class="pl-lg pt-lg">
							<b>Third Split</b>
						</p>
						<p class="p-lg">
							Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-xlg">
						<button type="button" class="btn btn-outline-theme mb-xs" id="set-size-split">Set Sizes 33%</button>
						<button type="button" class="btn btn-outline-theme mb-xs" id="get-size-split">Get Sizes</button>
						<button type="button" class="btn btn-outline-theme mb-xs" id="reset-split">Reset</button>
						<button type="button" class="btn btn-outline-theme mb-xs" id="collapse-first-split">Collapse First</button>
						<button type="button" class="btn btn-outline-theme mb-xs" id="collapse-second-split">Collapse Second</button>
						<button type="button" class="btn btn-outline-theme mb-xs" id="collapse-third-split">Collapse Third</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>