<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">Plugins</a></li>
							<li class="breadcrumb-item active text-dg">Sweet Alert</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-plug menu-icon" aria-hidden="true"></i> Sweet Alert</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Sweet Alert Content -->
<div class="row">
	<div class="col-12 px-0 my-sm">
		<div class="card">
			<div class="card-body text-center">
				<div class="py-lg">
					<h4 class="font-roboto-thin my-sm">Sweet, easy and powerful modals.</h4>
					<a href="https://github.com/adeptoas/sweet-modal" target="_blank" class="btn btn-outline-theme">Get Sweet Modal Doc</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xl-4 col-lg-4 col-md-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Alert with Success Icon</h5>
			</div>
			<div class="card-body">
				<div class="demo">
					<div class="example">
						<div class="meta">
							<button id="alert-success" class="btn btn-outline-theme">Try it!</button>
						</div>
						<prism-block [code]="alertSuccess" [language]="'javascript'"></prism-block>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-lg-4 col-md-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Alert with Warning Icon</h5>
			</div>
			<div class="card-body">
				<div class="demo">
					<div class="example">
						<div class="meta">
							<button id="alert-warning" class="btn btn-outline-theme">Try it!</button>
						</div>
						<prism-block [code]="alertWarning" [language]="'javascript'"></prism-block>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-lg-4 col-md-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Alert with Prompt</h5>
			</div>
			<div class="card-body">
				<div class="demo">
					<div class="example">
						<div class="meta">
							<button id="prompt" class="btn btn-outline-theme">Try it!</button>
						</div>
						<prism-block [code]="prompt" [language]="'javascript'"></prism-block>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-lg-4 col-md-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Alert with Error Icon and Button</h5>
			</div>
			<div class="card-body">
				<div class="demo">
					<div class="example">
						<div class="meta">
							<button id="alert-error-with-buttons" class="btn btn-outline-theme">Try it!</button>
						</div>
						<prism-block [code]="alertError" [language]="'javascript'"></prism-block>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-lg-4 col-md-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Alert with Confirm</h5>
			</div>
			<div class="card-body">
				<div class="demo">
					<div class="example">
						<div class="meta">
							<button id="confirm" class="btn btn-outline-theme">Try it!</button>
						</div>
						<prism-block [code]="alertConfirm" [language]="'javascript'"></prism-block>
					</div>
				</div>
			</div>
		</div>
		<div class="card my-sm">
			<div class="card-header">
				<h5 class="m-0">Alert</h5>
			</div>
			<div class="card-body">
				<div class="demo">
					<div class="example">
						<div class="meta">
							<button id="alert" class="btn btn-outline-theme">Try it!</button>
						</div>
						<prism-block [code]="alert" [language]="'javascript'"></prism-block>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-lg-4 col-md-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Alert Confirm with Title</h5>
			</div>
			<div class="card-body">
				<div class="demo">
					<div class="example">
						<div class="meta">
							<button id="confirm-with-title" class="btn btn-outline-theme">Try it!</button>
						</div>
						<prism-block [code]="alertConfirmTitle" [language]="'javascript'"></prism-block>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-lg-4 col-md-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Alert Prompt with Value</h5>
			</div>
			<div class="card-body">
				<div class="demo">
					<div class="example">
						<div class="meta">
							<button id="prompt-with-value" class="btn btn-outline-theme">Try it!</button>
						</div>
						<prism-block [code]="promptValue" [language]="'javascript'"></prism-block>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-lg-4 col-md-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Alert with Video</h5>
			</div>
			<div class="card-body">
				<div class="demo">
					<div class="example">
						<div class="meta">
							<button id="youtube" class="btn btn-outline-theme">Try it!</button>
						</div>
						<prism-block [code]="alertVideo" [language]="'javascript'"></prism-block>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>