<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">Forms and Plugins</a></li>
							<li class="breadcrumb-item active text-dg">Form Wizard</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-edit" aria-hidden="true"></i> Form Wizard</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Step form wizard -->
<div class="row">
	<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 p-0 my-sm">
		<div class="card">
			<div class="card-body text-center">
				<div class="py-lg">
					<h4 class="font-roboto-thin">A powerful jQuery wizard plugin that supports accessibility and HTML5.</h4>
					<a href="http://www.jquery-steps.com/GettingStarted" target="_blank" class="btn btn-outline-theme">Get Step Wizard Doc</a>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Form-Wizard -->
<div class="row">
	<div class="col-lg-6 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Basic Example</h5>
			</div>
			<div class="card-body">
				<div id="form-wizard-example-basic">
					<h3>Keyboard</h3>
					<div>
						<p class="font-14">Try the keyboard navigation by clicking arrow left or right!</p>
					</div>
					<h3>Effects</h3>
					<div>
						<p class="font-14">Wonderful transition effects.</p>
					</div>
					<h3>Pager</h3>
					<div>
						<p class="font-14">The next and previous buttons help you to navigate through your content.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-6 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Dynamic Manipulation Example</h5>
			</div>
			<div class="card-body">
				<div id="form-wizard-example-manipulation">
					<h3>Add Step</h3>
					<div>
						<p class="font-14">
							<label for="text-3">HTML Title *</label><br />
							<input type="text" class="form-control" id="text-3">
							<label for="text-3">HTML Content *</label><br />
							<textarea rows="3" placeholder="Write a content..." class="form-control text-3" ></textarea>
						</p>
						<p class="font-14">
							<a href="javascript:void(0);" onclick="$('#wizard-4').steps('add', { title: $('#title-3').val(), content: $('.text-3').val() });">Add</a>
						</p>
						<p class="font-14">(*) Mandatory</p>
					</div>
					<h3>Insert Step</h3>
					<div>
						<p class="font-14">
							<label for="position-3">Position (zero-based) *</label><br />
							<input type="text" class="form-control" id="position-3"><br />
							<label for="title2-3">HTML Title *</label><br />
							<input type="text" class="form-control col-md-12" id="title2-3"><br />
							<label for="text2-3">HTML Content *</label><br />
							<textarea rows="5" placeholder="Write a content..." class="form-control" id="text2-3"></textarea>
						</p>
						<p class="font-14">
							<a href="javascript:void(0);" onclick="$('#wizard-4').steps('insert', Number($('#position-3').val()), { title: $('#title2-3').val(), content: $('#text2-3').val() });">Insert</a><br>
							(*) Mandatory
						</p>
						<!-- <p class="font-14">(*) Mandatory</p> -->
					</div>
					<h3>Remove Step</h3>
					<div>
						<p class="font-14">
							<label for="position2-3">Position (zero-based) *</label><br />
							<input type="text" class="form-control" id="position2-3">
						</p>
						<p class="font-14">
							<a href="javascript:void(0);" onclick="$('#wizard-4').steps('remove', Number($('#position2-3').val()));">Remove</a>
						</p>
						<p class="font-14">(*) Mandatory</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-6 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Async Content Loading Example</h5>
			</div>
			<div class="card-body">
				<div id="form-wizard-example-async">
					<h3>Async Step</h3>
					<div data-mode="async" data-url="assets/content/async-content-loading-info.txt" class="font-14"></div>
					<h3>Second Step</h3>
					<div>
						<p class="font-14">Donec mi sapien, hendrerit nec egestas a, rutrum vitae dolor. Nullam venenatis diam ac ligula elementum pellentesque. 
						In lobortis sollicitudin felis non eleifend. Morbi tristique tellus est, sed tempor elit. Morbi varius, nulla quis condimentum 
						dictum, nisi elit condimentum magna, nec venenatis urna quam in nisi. Integer hendrerit sapien a diam adipiscing consectetur. 
						In euismod augue ullamcorper leo dignissim quis elementum arcu porta. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						Vestibulum leo velit, blandit ac tempor nec, ultrices id diam. Donec metus lacus, rhoncus sagittis iaculis nec, malesuada a diam. 
						Donec non pulvinar urna. Aliquam id velit lacus.</p>
					</div>
					<h3>Third Step</h3>
					<div>
						<p class="font-14">Morbi ornare tellus at elit ultrices id dignissim lorem elementum. Sed eget nisl at justo condimentum dapibus. Fusce eros justo, 
						pellentesque non euismod ac, rutrum sed quam. Ut non mi tortor. Vestibulum eleifend varius ullamcorper. Aliquam erat volutpat. 
						Donec diam massa, porta vel dictum sit amet, iaculis ac massa. Sed elementum dui commodo lectus sollicitudin in auctor mauris 
						venenatis.</p>
					</div>
					<h3>Fourth Step</h3>
					<div>
						<p class="font-14">Quisque at sem turpis, id sagittis diam. Suspendisse malesuada eros posuere mauris vehicula vulputate. Aliquam sed sem tortor. 
						Quisque sed felis ut mauris feugiat iaculis nec ac lectus. Sed consequat vestibulum purus, imperdiet varius est pellentesque vitae. 
						Suspendisse consequat cursus eros, vitae tempus enim euismod non. Nullam ut commodo tortor.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-6 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Vertical Steps Example</h5>
			</div>
			<div class="card-body">
				<div id="form-wizard-example-vertical">
					<h3 class="font-14">Keyboard</h3>
					<div>
						<p class="font-14">Try the keyboard navigation by clicking arrow left or right!</p>
					</div>
					<h3>Effects</h3>
					<div>
						<p class="font-14">Wonderful transition effects.</p>
					</div>
					<h3>Pager</h3>
					<div>
						<p class="font-14">The next and previous buttons help you to navigate through your content.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-12">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Basic Form Example</h5>
			</div>
			<div class="card-body">
				<form id="form-wizard-basic-form-example" action="#">
					<div>
						<h3 class="font-14">Account</h3>
						<div>
							<label for="userName" class="mt-xs font-14">User name *</label>
							<input id="userName" name="userName" type="text" class="required form-control">
							<label for="password" class="font-14 mt-xs">Password *</label>
							<input id="password" name="password" type="password" class="form-control required">
							<label for="confirm" class="font-14 mt-xs">Confirm Password *</label>
							<input id="confirm" name="confirm" type="password" class="form-control required">
							<p class="font-14">(*) Mandatory</p>
						</div>
						<h3 class="font-14">Profile</h3>
						<div>
							<label for="name" class="font-14 mt-xs">First name *</label>
							<input id="name" name="name" type="text" class="form-control required">
							<label for="surname" class="font-14 mt-xs">Last name *</label>
							<input id="surname" name="surname" type="text" class="form-control required">
							<label for="email" class="font-14 mt-xs">Email *</label>
							<input id="email" name="email" type="text" class="form-control required email">
							<label for="address" class="font-14 mt-xs">Address</label>
							<input id="address" name="address" type="text" class="form-control">
							<p class="font-14">(*) Mandatory</p>
						</div>
						<h3 class="font-14">Hints</h3>
						<div>
							<ul>
								<li class="font-14">Foo</li>
								<li class="font-14">Bar</li>
								<li class="font-14">Foobar</li>
							</ul>
						</div>
						<h3 class="font-14">Finish</h3>
						<div>
							<input id="acceptTerms" name="acceptTerms" type="checkbox" class="required float-left"> <label for="acceptTerms" class="pl-xs font-14">I agree with the Terms and Conditions.</label>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>