<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">Plugins</a></li>
							<li class="breadcrumb-item active text-dg">Rating</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-plug" aria-hidden="true"></i> Rating</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Rating Content-->
<div class="row">
	<div class="col-12 px-0 py-sm">
		<div class="card">
			<div class="card-body text-center">
				<div class="py-lg">
					<h4 class="font-roboto-thin my-sm">RateYo! is a tiny and flexible jQuery star rating plugin</h4>
					<a href="http://rateyo.fundoocode.ninja/#option-maxValue" target="_blank" class="btn btn-outline-theme">Get Rating Doc</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Basic Example</h5>
			</div>
			<div class="card-body">
				<p class="mt-sm">
					<code>Hover</code> to change the rating and <code>Click</code> to set.
				</p>
				<div class="basic-example my-md"></div>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Number of stars</h5>
			</div>
			<div class="card-body">
				<p class="mt-sm">
					Number of stars to use, to display the rating.You can set this option using <code>data-rateyo-num-stars</code> attribute. 
				</p>
				<div class="no-of-star mt-sm" data-rateyo-num-stars="8"></div>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Rating between Space</h5>
			</div>
			<div class="card-body">
				<p class="mt-sm">
					The amount of space between stars in pixels.You can set this option using <code>data-rateyo-spacing</code> attribute.
				</p>
				<div class="space-rating mt-sm" data-rateyo-spacing="20px"></div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Get the Rating</h5>
			</div>
			<div class="card-body">
				<p class="mt-sm">
					A method to get the rating of plugin.
				</p>
				<div class="get-rating my-sm float-left"></div>
				<button type="button" class="btn btn-theme my-sm ml-lg" id="getRating">Get Rating</button>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">MultiColor for Startcolor and Endcolor</h5>	
			</div>
			<div class="card-body">
				<p class="mt-sm">
					This option helps in changeing the color of the rating, as the rating value changes( Multi Color ).
				</p>
				<div class="multi-color mt-sm"></div>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">RTL Rating</h5>
			</div>
			<div class="card-body">
				<p class="mt-sm">
					Render the rating Right to Left.You can set this option using <code>data-rateyo-rtl</code> attribute.
				</p>
				<div class="rtl-rating mt-sm" data-rateyo-rtl="true"></div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Rated and Un-rated background color</h5>
			</div>
			<div class="card-body">
				<p class="mt-sm">
					The color for the rated part of a star.You can set this option using <code>data-rateyo-rated-fill</code> attribute.
				</p>
				<div class="rated-bg-color mt-sm" data-rateyo-rated-fill="#ed174c"></div>
				<p class="mt-sm">
					The background color for the un-rated part of a star.You can set this option using <code>data-rateyo-normal-fill</code> attribute.
				</p>
				<div class="unrated-bg-color mt-sm" data-rateyo-normal-fill="#ed174c"></div>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Full Star and Half Star Rating</h5>
			</div>
			<div class="card-body">
				<p class="mt-sm">
					When set to true, rating will be displayed in the steps of 1 .You can set this option using <code>data-rateyo-full-star="true"</code> attribute.
				</p>
				<div class="star-rating mt-sm" data-rateyo-full-star="true"></div>
				<p class="mt-sm">
					When set to true, rating will be displayed in the steps of 0.5. You can set this option using <code>data-rateyo-half-star="true"</code> attribute.</p>
				<div class="star-rating mt-sm" data-rateyo-half-star="true"></div>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Read Only and Set Custom Star Width</h5>
			</div>
			<div class="card-body">
				<p class="mt-sm">
					Set <code>readOnly: true</code>, if you want the rating to be non-editable.You can set this option using <code>data-rateyo-read-only="true"</code> attribute.
				</p>
				<div class="read-only mt-sm" data-rateyo-read-only="true"></div>
				<p class="mt-sm">
					The width of each star, the width of a star is always equal to its height.You can set this option using <code>data-rateyo-star-width</code> attribute.
				</p>
				<div class="custom-star-width my-sm" data-rateyo-star-width="15px"></div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Destroy and Initialize the Rating</h5>
			</div>
			<div class="card-body">
				<p class="mt-sm">
					Destroys the plugin and return the container to the original state before initialization.
				</p>
				<div class="destroy-rating"></div>
				<div class="mt-lg">
					<button type="button" class="btn btn-theme mb-xs ml-sm" id="destroy">Destroy</button>
					<button type="button" class="btn btn-theme mb-xs ml-lg" id="initialize">Initialize</button>
				</div>
			</div>
		</div>
	</div>
</div>