<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">Plugins</a></li>
							<li class="breadcrumb-item active text-dg">Sortable components</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-plug menu-icon" aria-hidden="true"></i> Sortable components</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Sortable Components Content -->
<div class="row">
	<div class="col-12 px-0 my-sm">
		<div class="card">
			<div class="card-body text-center">
				<div class="py-lg">
					<h4 class="font-roboto-thin my-sm">Bootstrap HTML5 Sortable jQuery Plugin</h4>
					<a href="http://www.jqueryscript.net/demo/jQuery-Drag-drop-Sorting-Plugin-For-Bootstrap-html5sortable/" target="_blank" class="btn btn-outline-theme">Get Sortable Doc</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-6 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Sortable Table</h5>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					 <table class="table sortable-table">
						<thead>
							<tr>
								<th>#</th>
								<th>First Name</th>
								<th>Last Name</th>
								<th>Username</th>
							</tr>
						</thead>
						<tbody>
							<tr class="table-sortable">
								<td><i class="fa fa-arrows" aria-hidden="true"></i></td>
								<td>John</td>
								<td>Smith</td>
								<td>@Johnsmith</td>
							</tr>
							<tr class="table-sortable">
								<td><i class="fa fa-arrows" aria-hidden="true"></i></td>
								<td>Lorem 1</td>
								<td>Ipsum</td>
								<td>@Loremipsum</td>
							</tr>
							<tr class="table-sortable">
								<td><i class="fa fa-arrows" aria-hidden="true"></i></td>
								<td>Smith</td>
								<td>John</td>
								<td>@Smithjohn</td>
							</tr>
							<tr class="table-sortable">
								<td><i class="fa fa-arrows" aria-hidden="true"></i></td>
								<td>Lorem</td>
								<td>Ipsum</td>
								<td>@Loremipsum</td>
							</tr>
							<tr class="table-sortable">
								<td><i class="fa fa-arrows" aria-hidden="true"></i></td>
								<td>Smith 2</td>
								<td>John</td>
								<td>@Smithjohn</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-6 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Sortable List</h5>
			</div>
			<div class="card-body">
				 <ul class="list-group ui-sortable sortable-list-group mb-lg">
					<li class="list-group-item">Cras justo odio</li>
					<li class="list-group-item">Dapibus ac facilisis in</li>
					<li class="list-group-item">Morbi leo risus</li>
					<li class="list-group-item">Porta ac consectetur ac</li>
					<li class="list-group-item">Vestibulum at eros</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-6 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Sortable List Group Exclude</h5>
			</div>
			<div class="card-body">
				<ul class="list-group ui-sortable sortable-list-group-exclude">
					<li class="list-group-item">Cras justo odio</li>
					<li class="list-group-item">Dapibus ac facilisis in</li>
					<li class="list-group-item">Morbi leo risus</li>
					<li class="list-group-item bg-lg disabled">Porta ac consectetur ac</li>
					<li class="list-group-item bg-lg disabled">Vestibulum at eros</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-lg-6 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Sortable List Group with handles</h5>
			</div>
			<div class="card-body">
				<ul class="list-group ui-sortable sortable-list-group-handles">
					<li class="list-group-item"><i class="fa fa-arrows" aria-hidden="true"></i>&nbsp;Cras justo odio</li>
					<li class="list-group-item"><i class="fa fa-arrows" aria-hidden="true"></i>&nbsp;Dapibus ac facilisis in</li>
					<li class="list-group-item"><i class="fa fa-arrows" aria-hidden="true"></i>&nbsp;Morbi leo risus</li>
					<li class="list-group-item"><i class="fa fa-arrows" aria-hidden="true"></i>&nbsp;Porta ac consectetur ac</li>
					<li class="list-group-item"><i class="fa fa-arrows" aria-hidden="true"></i>&nbsp;Vestibulum at eros</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Sortable List Group Connected</h5>
			</div>
			<div class="card-body">
				<div class="row ui-sortable">
                    <div class="col-md-6">
                        <ul class="list-group list-group-sortable-connected height-30">
                            <li class="list-group-item list-group-item-info">Cras justo odio</li>
                            <li class="list-group-item list-group-item-info">Dapibus ac facilisis in</li>
                            <li class="list-group-item list-group-item-info">Morbi leo risus</li>
                            <li class="list-group-item list-group-item-info">Porta ac consectetur ac</li>
                            <li class="list-group-item list-group-item-info">Vestibulum at eros</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="list-group list-group-sortable-connected height-30">
                            <li class="list-group-item list-group-item-success">Cras justo odio</li>
                            <li class="list-group-item list-group-item-success">Dapibus ac facilisis in</li>
                            <li class="list-group-item list-group-item-success">Morbi leo risus</li>
                            <li class="list-group-item list-group-item-success">Porta ac consectetur ac</li>
                            <li class="list-group-item list-group-item-success">Vestibulum at eros</li>
                        </ul>
                    </div>
                </div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Sortable Cards</h5>
			</div>
			<div class="card-body">
				<div class="row sortable-card mx-0">
					<div class="col-lg-4 col-md-6 sortable-item p-0">
						<div class="card m-xs p-sm pb-0">
							<div class="card-block">
								<h3>Card label 1</h3>
								<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
								<p><a href="javascript:;" class="btn btn-outline-primary" role="button">Button</a> <a href="javascript:;" class="btn btn-outline-secondary" role="button">Button</a></p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 sortable-item p-0">
						<div class="card m-xs p-sm pb-0">
							<div class="card-block">
								<h3>Card label 2</h3>
								<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
								<p><a href="javascript:;" class="btn btn-outline-primary" role="button">Button</a> <a href="javascript:;" class="btn btn-outline-secondary" role="button">Button</a></p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 sortable-item p-0">
						<div class="card m-xs p-sm pb-0">
							<div class="card-block">
								<h3>Card label 3</h3>
								<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
								<p><a href="javascript:;" class="btn btn-outline-primary" role="button">Button</a> <a href="javascript:;" class="btn btn-outline-secondary" role="button">Button</a></p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 sortable-item p-0">
						<div class="card m-xs p-sm pb-0">
							<div class="card-block">
								<h3>Card label 4</h3>
								<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
								<p><a href="javascript:;" class="btn btn-outline-primary" role="button">Button</a> <a href="javascript:;" class="btn btn-outline-secondary" role="button">Button</a></p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 sortable-item p-0">
						<div class="card m-xs p-sm pb-0">
							<div class="card-block">
								<h3>Card label 5</h3>
								<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
								<p><a href="javascript:;" class="btn btn-outline-primary" role="button">Button</a> <a href="javascript:;" class="btn btn-outline-secondary" role="button">Button</a></p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 sortable-item p-0">
						<div class="card m-xs p-sm pb-0">
							<div class="card-block">
								<h3>Card label 6</h3>
								<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
								<p><a href="javascript:;" class="btn btn-outline-primary" role="button">Button</a> <a href="javascript:;" class="btn btn-outline-secondary" role="button">Button</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>