<div class="row">
	<div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-body p-0 social-analytics">
				<div id="social-analytics" class="height-320"></div>
				<div class="row border-t m-0 today-users">
					<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 border-b border-r px-sm">
						<div class="d-inline-block pt-sm">
							<input type="text" value="80" class="data-analytics-knob" data-displayInput=true data-fgColor="#ED174C" data-width="50" data-height="50" data-thickness=.2>
						</div>
						<div class="float-right pt-md text-right" data-prefix=" " data-count=".num" data-from="0" data-to="1009" data-suffix=" " data-duration="2">
							<h5 class="font-os-normal mb-xs">Goal Com.</h5>
							<h6 class="num mb-md">0</h6>
						</div>
					</div>
					<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 border-b border-r px-sm">
						<div class="d-inline-block pt-sm">
							<input type="text" value="50" class="data-analytics-knob" data-displayInput=true data-fgColor="#00A65A" data-width="50" data-height="50" data-thickness=.2>
						</div>
						<div class="float-right pt-md text-right" data-prefix=" " data-count=".num" data-from="0" data-to="589300" data-suffix=" " data-duration="2">
							<h5 class="font-os-normal mb-xs">Page Views</h5>
							<h6 class="num mb-md">0</h6>
						</div>
					</div>
					<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 border-b border-r px-sm">
						<div class="d-inline-block pt-sm">
							<input type="text" value="53.50" class="data-analytics-knob" data-displayInput=true data-fgColor="#ffc107" data-width="50" data-height="50" data-thickness=.2>
						</div>
						<div class="float-right pt-md text-right">
							<h5 class="font-os-normal mb-xs">Bounce Rate</h5>
							<h6 class="mb-md">53.50%</h6>
						</div>
					</div>
					<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 border-b px-sm">
						<div class="d-inline-block pt-sm">
							<input type="text" value="40" class="data-analytics-knob" data-displayInput=true data-fgColor="#5BC0DE" data-width="50" data-height="50" data-thickness=.2>
						</div>
						<div class="float-right pt-md text-right" data-prefix=" " data-count=".num" data-from="0" data-to="182000" data-suffix=" " data-duration="2">
							<h5 class="font-os-normal mb-xs">New Visitors</h5>
							<h6 class="num mb-md">0</h6>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-body">
				<div class="row today-users">
					<div class="col-12">
						<div class="bg-white p-lg text-center" data-prefix=" " data-count=".num" data-from="0" data-to="1823" data-suffix=" " data-duration="2">
							<h4 class="mt-0">Today Active Users</h4>
							<h4 class="num font-os-bold my-sm">0</h4>
							<span class="todayActiveUsers chart-dark-shadow"></span>
						</div>
					</div>
				</div><hr class="m-0">
				<div class="row">
					<div class="col-12">
						<h4 class="text-center mt-xlg">Weekly Users</h4>
						<canvas id="weeklyUserChart" height="100"></canvas>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="d-inline-block m-0">Device Progress</h5>
				<div class="float-right">
					<a href="javascript:;" class="text-dg p-xs"><i class="fa fa-cog"></i></a>
					<a href="javascript:;" class="text-dg p-xs" data-toggle="collapse" data-target="#device-progress"><i class="fa fa-angle-down"></i></a>
					<a href="javascript:;" class="text-dg p-xs remove-card"><i class="fa fa-trash-o"></i></a>
				</div>
			</div>
			<div class="card-body collapse show py-0" id="device-progress">
				<div id="visited-device-chart" class="height-320"></div>
			</div>
		</div>
	</div>
	<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="d-inline-block m-0">Server Load</h5>
				<div class="float-right">
					<a href="javascript:;" class="text-dg p-xs"><i class="fa fa-cog"></i></a>
					<a href="javascript:;" class="text-dg p-xs" data-toggle="collapse" data-target="#server-load"><i class="fa fa-angle-down"></i></a>
					<a href="javascript:;" class="text-dg p-xs remove-card"><i class="fa fa-trash-o"></i></a>
				</div>
			</div>
			<div class="card-body collapse show p-0" id="server-load">
				<div class="row text-center mt-md mx-0">
					<div class="col-4">
						<h4>CPU</h4>
						<h5 class="font-os-thin">43%</h5>
					</div>
					<div class="col-4">
						<h4>Toatl Usage</h4>
						<h5 class="font-os-thin">540GB</h5>
					</div>
					<div class="col-4">
						<h4>Toatl Space</h4>
						<h5 class="font-os-thin">830GB</h5>
					</div>
				</div>
				<div class="row mx-0 mt-xlg">
					<div id="server-load-updateChart" class="p-0" style="width:100%;height:200px;"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xl-2 col-lg-4 col-md-6 col-sm-6 col-12 my-sm">
		<div class="card">
			<div class="card-body bg-mg text-white text-center">
				<h5>Followers</h5>
				<h3>1021</h3>
				<h4>33% <i class="fa fa-level-up" aria-hidden="true"></i></h4>
			</div>
		</div>
	</div>
	<div class="col-xl-2 col-lg-4 col-md-6 col-sm-6 col-12 my-sm">
		<div class="card">
			<div class="card-body bg-mb text-white text-center">
				<h5>Unique Visitors</h5>
				<h3>256,453</h3>
				<h4>83% <i class="fa fa-level-up" aria-hidden="true"></i></h4>
			</div>
		</div>
	</div>
	<div class="col-xl-2 col-lg-4 col-md-6 col-sm-6 col-12 my-sm">
		<div class="card">
			<div class="card-body bg-mg text-white text-center">
				<h5>Avg. Time On Site</h5>
				<h3>2<small class="text-white">m</small> 30<small class="text-white">sec</small></h3>
				<h4>63% <i class="fa fa-level-down" aria-hidden="true"></i></h4>
			</div>
		</div>
	</div>
	<div class="col-xl-2 col-lg-4 col-md-6 col-sm-6 col-12 my-sm">
		<div class="card">
			<div class="card-body bg-mb text-white text-center">
				<h5>Returning Visitors</h5>
				<h3>182,110</h3>
				<h4>83% <i class="fa fa-level-up" aria-hidden="true"></i></h4>
			</div>
		</div>
	</div>
	<div class="col-xl-2 col-lg-4 col-md-6 col-sm-6 col-12 my-sm">
		<div class="card">
			<div class="card-body bg-mg text-white text-center">
				<h5>Paid Search</h5>
				<h3>3247</h3>
				<h4>50% <i class="fa fa-level-down" aria-hidden="true"></i></h4>
			</div>
		</div>
	</div>
	<div class="col-xl-2 col-lg-4 col-md-6 col-sm-6 col-12 my-sm">
		<div class="card">
			<div class="card-body bg-mb text-white text-center">
				<h5>Direct Search</h5>
				<h3>2140</h3>
				<h4>20% <i class="fa fa-level-down" aria-hidden="true"></i></h4>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-body">
				<div id="browserUsageChart" class="height-200"></div>
				<h5 class="text-center mt-0 mb-lg">Browser Usage</h5>
				<div class="row">
					<div class="col-12">
						<div class="table-responsive mb-0 border-0">
							<table class="table">
								<tr>
									<th>Country</th>
									<th>Chrome</th>
									<th>Safari</th>
									<th>Firefox</th>
									<th>Avg.</th>
								</tr>
								<tr>
									<td class="font-roboto-thin">India</td>
									<td class="font-os-thin text-theme">85%</td>
									<td class="font-os-thin text-theme">72%</td>
									<td class="font-os-thin text-theme">64%</td>
									<td class="font-os-thin text-theme">95%&nbsp;</td>
								</tr>
								<tr>
									<td class="font-roboto-thin">London</td>
									<td class="font-os-thin text-warning">23%</td>
									<td class="font-os-thin text-warning">41%</td>
									<td class="font-os-thin text-warning">8%</td>
									<td class="font-os-thin text-warning">92%&nbsp;</td>
								</tr>
								<tr>
									<td class="font-roboto-thin">China</td>
									<td class="font-os-thin text-primary">10%</td>
									<td class="font-os-thin text-primary">65%</td>
									<td class="font-os-thin text-primary">38%</td>
									<td class="font-os-thin text-primary">13%&nbsp;</td>
								</tr>
								<tr>
									<td class="font-roboto-thin">New York</td>
									<td class="font-os-thin text-mb">55%</td>
									<td class="font-os-thin text-mb">76%</td>
									<td class="font-os-thin text-mb">8%</td>
									<td class="font-os-thin text-mb">67%&nbsp;</td>
								</tr>
								<tr>
									<td class="font-roboto-thin">Mexico</td>
									<td class="font-os-thin text-danger">89%</td>
									<td class="font-os-thin text-danger">30%</td>
									<td class="font-os-thin text-danger">15%</td>
									<td class="font-os-thin text-danger">92%&nbsp;</td>
								</tr>
								<tr>
									<td class="font-roboto-thin">USA</td>
									<td class="font-os-thin text-info">22%</td>
									<td class="font-os-thin text-info">87%</td>
									<td class="font-os-thin text-info">72%</td>
									<td class="font-os-thin text-info">82%&nbsp;</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="d-inline-block m-0">Traffic Sources</h5>
				<div class="float-right">
					<a href="javascript:;" class="text-dg p-xs"><i class="fa fa-cog"></i></a>
					<a href="javascript:;" class="text-dg p-xs" data-toggle="collapse" data-target="#traffic-sources"><i class="fa fa-angle-down"></i></a>
					<a href="javascript:;" class="text-dg p-xs remove-card"><i class="fa fa-trash-o"></i></a>
				</div>
			</div>
			<div class="card-body collapse show py-0" id="traffic-sources">
				<canvas id="traffic-sources-chart" height="150"></canvas>
				<div class="row border-t mt-xlg text-center">
					<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-6 p-0 my-sm">
						<div class="border-r">
							<h4 class="font-os-thin mt-sm mb-lg">Direct</h4>
							<h5 class="my-sm">53%&nbsp;&nbsp;<i class="fa fa-level-up text-success" aria-hidden="true"></i></h5>
						</div>
					</div>
					<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-6 p-0 my-sm">
						<div class="border-r">
							<h4 class="font-os-thin mt-sm mb-lg">Organic</h4>
							<h5 class="my-sm">10%&nbsp;&nbsp;<i class="fa fa-level-down text-danger" aria-hidden="true"></i></h5>
						</div>
					</div>
					<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-6 p-0 my-sm">
						<div class="border-r">
							<h4 class="font-os-thin mt-sm mb-lg">Referral</h4>
							<h5 class="my-sm">43%&nbsp;&nbsp;<i class="fa fa-level-down text-danger" aria-hidden="true"></i></h5>
						</div>
					</div>
					<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-6 p-0 my-sm">
						<div>
							<h4 class="font-os-thin mt-sm mb-lg">Others</h4>
							<h5 class="my-sm">50%&nbsp;&nbsp;<i class="fa fa-level-up text-success" aria-hidden="true"></i></h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>