<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">Widgets</a></li>
							<li class="breadcrumb-item active text-dg">Weather Widgets</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-globe menu-icon" aria-hidden="true"></i> Weather Widgets</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Weather Widgets Content -->
<div class="row height-150 bg-theme m-0 text-center text-white">
	<div class="col-12 col-sm-12 col-md-4 col-lg-4 border-r">
		<h4 class="font-os-bold my-sm">Today</h4>
		<div class="row">
			<div class="col-6 col-sm-6 col-md-5 col-lg-6">
				<canvas id="clear-day" width="44" height="44" class="float-right mt-md"></canvas>
			</div>
			<div class="col-6 col-sm-6 col-md-7 col-lg-6">
				<p class="weather-icon font-os-normal float-left">42&#8451;</p>
			</div>
		</div>
		<h4 class="font-os-bold mt-lg">USA</h4>
	</div>
	<div class="col-3 col-sm-3 col-md-2 col-lg-2 border-r">
		<h4 class="font-os-thin my-sm">Mon</h4>
		<div class="row">
			<div class="col-12">
				<p class="weather-icon">
					<i class="wi wi-day-cloudy"></i>
				</p>
			</div>
		</div>
		<h4 class="font-os-thin mt-lg">20&#8451;</h4>
	</div>
	<div class="col-3 col-sm-3 col-md-2 col-lg-2 border-r">
		<h4 class="font-os-thin my-sm">Tue</h4>
		<div class="row">
			<div class="col-12">
				<p class="weather-icon"><i class="wi wi-night-clear"></i></p>
			</div>
		</div>
		<h4 class="font-os-thin mt-lg">49&#8451;</h4>
	</div>
	<div class="col-3 col-sm-3 col-md-2 col-lg-2 border-r">
		<h4 class="font-os-thin my-sm">Wed</h4>
		<div class="row">
			<div class="col-12">
				<p class="weather-icon"><i class="wi wi-day-sleet"></i></p>
			</div>
		</div>
		<h4 class="font-os-thin mt-lg">38&#8451;</h4>
	</div>
	<div class="col-3 col-sm-3 col-md-2 col-lg-2 border-r">
		<h4 class="font-os-thin my-sm">Thu</h4>
		<div class="row">
			<div class="col-12">
				<p class="weather-icon"><i class="wi wi-day-cloudy"></i></p>
			</div>
		</div>
		<h4 class="font-os-thin mt-lg">31&#8451;</h4>
	</div>
</div>
<div class="row">
	<div class="col-lg-6 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-body bg-warning">
				<div class="row text-white text-center">
					<div class="col-12">
						<h2>New York</h2>
						<h5>Sunday  Sep 10, 2017</h5>
					</div>
				</div>
				<div class="row mt-lg">
					<div class="col-6">
						<canvas id="rain" width="64" height="64" class="mt-sm float-right"></canvas>
					</div>
					<div class="col-6 text-white">
						<div class="float-left">
							<h1 class="mt-sm">23&#8451;</h1>
							<h4>Rain Day</h4>
						</div>
					</div>
				</div>
				<div class="row text-white text-center mt-lg">
					<div class="col-2 px-xs">
						<h5>Mon</h5>
						<p class="weather-icon">
							<i class="wi wi-night-cloudy"></i>
						</p>
						<h5 class="mt-sm">20&#8451;</h5>
					</div>
					<div class="col-2 px-xs">
						<h5>Tue</h5>
						<p class="weather-icon">
							<i class="wi wi-night-alt-lightning"></i>
						</p>
						<h5 class="mt-sm">25&#8451;</h5>
					</div>
					<div class="col-2 px-xs">
						<h5>Wed</h5>
						<p class="weather-icon">
							<i class="wi wi-night-alt-snow-thunderstorm"></i>
						</p>
						<h5 class="mt-sm">18&#8451;</h5>
					</div>
					<div class="col-2 px-xs">
						<h5>Thu</h5>
						<p class="weather-icon">
							<i class="wi wi-solar-eclipse"></i>
						</p>
						<h5 class="mt-sm">45&#8451;</h5>
					</div>
					<div class="col-2 px-xs">
						<h5>Fri</h5>
						<p class="weather-icon">
							<i class="wi wi-night-alt-lightning"></i>
						</p>
						<h5 class="mt-sm">32&#8451;</h5>
					</div>
					<div class="col-2 px-xs">
						<h5>Sat</h5>
						<p class="weather-icon"><i class="wi wi-night-clear"></i></p>
						<h5 class="mt-sm">40&#8451;</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-6 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card mexico-weather-widgets-img">
			<div class="card-body">
				<div class="row text-center text-white">
					<div class="col-12">
						<h2>Mexico</h2>
						<h5>Friday  Jan 21, 2017</h5>
					</div>
				</div>
				<div class="row mt-xlg">
					<div class="col-6">
						<canvas id="partly-cloudy-day" width="64" height="64" class="mt-sm float-right"></canvas>
					</div>
					<div class="col-6 text-white">
						<div class="float-left">
							<h1 class="mt-xlg">24&#8451;</h1>
						</div>
					</div>
				</div>
				<div class="row text-white text-center mt-xlg">
					<div class="col-2 px-xs">
						<h5>Sat</h5>
						<p class="weather-icon"><i class="wi wi-smog"></i></p>
						<h5 class="mt-sm">20&#8451;</h5>
					</div>
					<div class="col-2 px-xs">
						<h5>Sun</h5>
						<p class="weather-icon">
							<i class="wi wi-thunderstorm"></i>
						</p>
						<h5 class="mt-sm">25&#8451;</h5>
					</div>
					<div class="col-2 px-xs">
						<h5>Mon</h5>
						<p class="weather-icon">
							<i class="wi wi-day-cloudy-gusts"></i>
						</p>
						<h5 class="mt-sm">18&#8451;</h5>
					</div>
					<div class="col-2 px-xs">
						<h5>Tue</h5>
						<p class="weather-icon">
							<i class="wi wi-day-fog"></i>
						</p>
						<h5 class="mt-sm">45&#8451;</h5>
					</div>
					<div class="col-2 px-xs">
						<h5>Wed</h5>
						<p class="weather-icon">
							<i class="wi wi-smoke"></i>
						</p>
						<h5 class="mt-sm">32&#8451;</h5>
					</div>
					<div class="col-2 px-xs">
						<h5>Thu</h5>
						<p class="weather-icon">
							<i class="wi wi-night-clear"></i>
						</p>
						<h5 class="mt-sm">40&#8451;</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 my-sm">
		<div class="card">
			<div class="card-body bg-success height-150">
				<div class="row text-center text-white pt-sm">
					<div class="col-6">
						<h1 class="font-os-normal">45&#8451;</h1>
						<h4 class="font-os-thin">London</h4>
					</div>
					<div class="col-6">
						<canvas id="snow" width="44" height="44" class="mt-lg"></canvas>
						<h4 class="font-os-thin">Mon 20.11.2017</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 my-sm">
		<div class="card">
			<div class="card-body bg-danger height-150 p-sm">
				<div class="row text-center text-white pt-sm">
					<div class="col-12">
						<h3 class="font-os-normal float-left">Germany</h3>
						<h5 class="font-os-thin float-right">Sleet Storm</h5>
					</div>
				</div>
				<div class="row">
					<div class="col-6">
						<h2 class="font-os-thin text-white text-center mt-lg">30&#8451;</h2>
					</div>
					<div class="col-6">
						<p class="weather-icon text-center text-white"><i class="wi wi-day-sleet-storm"></i></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 my-sm">
		<div class="card">
			<div class="card-body bg-info height-150">
				<div class="row text-center text-white">
					<div class="col-12">
						<h5 class="font-os-normal float-left m-xs">42&#8451;</h5>
						<h5 class="font-os-normal float-right m-xs">Jamaica</h5>
					</div>
				</div>
				<div class="row">
					<div class="col-12 text-center">
						<canvas id="partly-cloudy-night" width="54" height="54"></canvas>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<h4 class="font-os-thin text-white ml-xs"> Wed 10.09.2017</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-6 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card brazil-weather-widgets-img">
			<div class="card-body">
				<div class="row text-center text-white">
					<div class="col-12">
						<h3 class="float-left font-os-thin">Brazil</h3>
					</div>
				</div>
				<div class="row text-center text-white">
					<div class="col-12">
						<canvas id="clear-night" width="64" height="64"></canvas>
						<p class="font-16 mt-xs">Clear Night</p>
					</div>
				</div>
				<div class="row text-center text-white">
					<div class="col-12">
						<h3 class="m-0 font-roboto-normal">24&#8451; | Feb 18,Thu</h3>
					</div>
				</div>
				<div class="row mt-lg text-white">
					<div class="col-12">
						<table class="table mb-0">
							<tbody>
								<tr>
									<td class="pl-lg">Feb 19, Fri</td>
									<td>24&#8451;</td>
									<td>
										<p class="weather-small-icon m-0"><i class="wi wi-showers"></i></p>
									</td>
								</tr>
								<tr>
									<td class="pl-lg">Feb 20, Sat</td>
									<td>54&#8451;</td>
									<td>
										<p class="weather-small-icon m-0"><i class="wi wi-night-alt-lightning"></i></p>
									</td>
								</tr>
								<tr>
									<td class="pl-lg">Feb 21, Sun</td>
									<td>54&#8451;</td>
									<td>
										<p class="weather-small-icon m-0"><i class="wi wi-night-alt-lightning"></i></p>
									</td>
								</tr>
								<tr>
									<td class="pl-lg">Feb 22, Mon</td>
									<td>18&#8451;</td>
									<td>
										<p class="weather-small-icon m-0"><i class="wi wi-night-snow-wind"></i></p>
									</td>
								</tr>
								<tr>
									<td class="pl-lg">Feb 23, Tue</td>
									<td>45&#8451;</td>
									<td>
										<p class="weather-small-icon m-0"><i class="wi wi-solar-eclipse"></i></p>
									</td>
								</tr>
								<tr>
									<td class="pl-lg">Feb 24, Wed</td>
									<td>40&#8451;</td>
									<td>
										<p class="weather-small-icon m-0"><i class="wi wi-night-alt-lightning"></i></p>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-6 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-body bg-primary">
				<div class="row text-center text-white">
					<div class="col-12">
						<h3 class="float-right font-os-normal">France</h3>
					</div>
				</div>
				<div class="row my-lg text-center text-white">
					<div class="col-6">
						<h1>43&#8451;</h1>
						<p class="font-os-thin">Sunday</p>
					</div>
					<div class="col-6">
						<canvas id="sleet" width="64" height="64" class="mt-sm"></canvas>
						<p class="font-os-thin">Sleet</p>
					</div>
				</div>
				<div class="row text-white">
					<div class="col-12">
						<div class="table-responsive">
							<table class="table mb-0">
								<tbody>
									<tr>
										<td>Monday</td>
										<td>
											<p class="weather-small-icon m-0"><i class="wi wi-solar-eclipse"></i></p>
										</td>
										<td>24&#8451;</td>
										<td>20&#8451;</td>
									</tr>
									<tr>
										<td>Tuesday</td>
										<td>
											<p class="weather-small-icon m-0"><i class="wi wi-night-alt-lightning"></i></p>
										</td>
										<td>54&#8451;</td>
										<td>32&#8451;</td>
									</tr>
									<tr>
										<td>Wednesday</td>
										<td>
											<p class="weather-small-icon m-0"><i class="wi wi-night-snow-wind"></i></p>
										</td>
										<td>18&#8451;</td>
										<td>43&#8451;</td>
									</tr>
									<tr>
										<td>Thrusday</td>
										<td>
											<p class="weather-small-icon m-0"><i class="wi wi-storm-showers"></i></p>
										</td>
										<td>23&#8451;</td>
										<td>16&#8451;</td>
									</tr>
									<tr>
										<td>Friday</td>
										<td>
											<p class="weather-small-icon m-0"><i class="wi wi-day-hail"></i></p>
										</td>
										<td>10&#8451;</td>
										<td>19&#8451;</td>
									</tr>
									<tr>
										<td>Saturday</td>
										<td>
											<p class="weather-small-icon m-0"><i class="wi wi-showers"></i></p>
										</td>
										<td>21&#8451;</td>
										<td>22&#8451;</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="float-left m-0">Argentina</h5>
				<h5 class="float-right m-0">Sunday Nov 10, 2017</h5>
			</div>
			<div class="card-body">
				<div class="row text-center text-theme">
					<div class="col-6">
						<h3 class="font-roboto-thin">Today</h3>
						<p class="weather-icon">
							<i class="wi wi-day-sunny"></i>
						</p>
						<h4 class="font-os-bold">45&#8451;</h4>
					</div>
					<div class="col-6">
						<h3 class="font-roboto-thin">Tonight</h3>
						<p class="weather-icon">
							<i class="wi wi-night-clear"></i>
						</p>
						<h4 class="font-os-bold">23&#8451;</h4>
					</div>
				</div>
				<hr>
				<div class="row text-dg text-center">
					<div class="col-2">
						<h5 class="font-roboto-bold">Mon</h5>
						<p class="weather-small-icon">
							<i class="wi wi-night-hail"></i>
						</p>
						<h5 class="font-os-bold">40&#8451;</h5>
					</div>
					<div class="col-2">
						<h5 class="font-roboto-bold">Tue</h5>
						<p class="weather-small-icon">
							<i class="wi wi-day-thunderstorm"></i>
						</p>
						<h5 class="font-os-bold">40&#8451;</h5>
					</div>
					<div class="col-2">
						<h5 class="font-roboto-bold">Wed</h5>
						<p class="weather-small-icon">
							<i class="wi wi-solar-eclipse"></i>
						</p>
						<h5 class="font-os-bold">40&#8451;</h5>
					</div>
					<div class="col-2">
						<h5 class="font-roboto-bold">Thu</h5>
						<p class="weather-small-icon">
							<i class="wi wi-day-sunny-overcast"></i>
						</p>
						<h5 class="font-os-bold">40&#8451;</h5>
					</div>
					<div class="col-2">
						<h5 class="font-roboto-bold">Fri</h5>
						<p class="weather-small-icon">
							<i class="wi wi-hot"></i>
						</p>
						<h5 class="font-os-bold">55&#8451;</h5>
					</div>
					<div class="col-2 pl-sm">
						<h5 class="font-roboto-bold">Sat</h5>
						<p class="weather-small-icon">
							<i class="wi wi-night-alt-lightning"></i>
						</p>
						<h5 class="font-os-bold">40&#8451;</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>