<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">Forms and Plugins</a></li>
							<li class="breadcrumb-item active text-dg">File Upload</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-edit menu-icon" aria-hidden="true"></i> File Upload</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- File Uploads Content-->
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="d-inline-block my-xs">Dropzone.js</h5>
				<a href="https://github.com/zefoy/ngx-dropzone-wrapper" target="_blank" class="btn btn-outline-secondary btn-sm float-right">Get Dropzone Doc</a>
			</div>
			<div class="card-body">
				<p>Dropzone.js is a light weight JavaScript library that turns an HTML element into a dropzone. This means that a user can drag and drop a file onto it, and the file gets uploaded to the server via AJAX.</p>
				<br>
				<div class="dropzone" [dropzone]="config" (error)="onUploadError($event)"></div>
			</div>
		</div>
	</div>
</div>