<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">MailBox</a></li>
							<li class="breadcrumb-item active text-dg">Read Mail</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-envelope-o menu-icon" aria-hidden="true"></i> Read Mail</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Read Mail Content -->
<div class="row">
	<div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-12 my-sm">
		<a href="javascript:;" class="btn btn-primary btn-block btn-lg scrollToBottom" >Compose</a>
		<nav class="navbar navbar-expand-md navbar-light bg-light p-0 my-sm">
			<div class="p-sm d-md-none">
				<a class="navbar-brand" href="javascript:;"><i class="fa fa-folder" aria-hidden="true"></i> Folders</a>
			</div>
			<button class="navbar-toggler mr-sm" type="button" data-toggle="collapse" data-target="#mail-folders" aria-controls="mail-folders" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="mail-folders">
				<ul class="list-group w-100 custom-list-group">
					<li class="list-group-item active p-0 d-flex">
						<a routerLink="/mailbox/inbox" class="text-dg col-12 py-sm px-xlg">
							<i class="fa fa-inbox"></i>&nbsp;&nbsp;Inbox
							<span class="badge badge-primary float-right">12</span>
						</a>
					</li>
					<li class="list-group-item p-0">
						<a routerLink="/mailbox/inbox" class="text-dg d-flex col-12 py-sm px-xlg">
							<i class="fa fa-envelope-o"></i>&nbsp;&nbsp;Sent
						</a>
					</li>
					<li class="list-group-item p-0">
						<a routerLink="/mailbox/inbox" class="text-dg d-flex col-12 py-sm px-xlg">
							<i class="fa fa-file-text-o"></i>&nbsp;&nbsp;Drafts
						</a>
					</li>
					<li class="list-group-item p-0 d-flex">
						<a routerLink="/mailbox/inbox" class="text-dg col-12 py-sm px-xlg">
							<i class="fa fa-filter"></i>&nbsp;&nbsp;Junk
							<span class="badge badge-warning float-right">65</span>
						</a>
					</li>
					<li class="list-group-item p-0">
						<a routerLink="/mailbox/inbox" class="text-dg d-flex col-12 py-sm px-xlg">
							<i class="fa fa-trash-o"></i>&nbsp;&nbsp;Trash
						</a>
					</li>
				</ul>
			</div>
		</nav>

		<nav class="navbar navbar-expand-md navbar-light bg-light p-0 my-sm">
			<div class="p-sm d-md-none">
				<a class="navbar-brand" href="javascript:;"><i class="fa fa-sitemap" aria-hidden="true"></i> Groups</a>
			</div>
			<button class="navbar-toggler mr-sm" type="button" data-toggle="collapse" data-target="#mail-groups" aria-controls="mail-groups" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="mail-groups">
				<ul class="list-group w-100 custom-list-group">
					<li class="list-group-item">
						<a href="javascript:;" class="p-sm"><i class="fa fa-circle-o text-primary"></i><span class="text-primary">&nbsp;&nbsp;Work</span></a>
					</li>
					<li class="list-group-item">
						<a href="javascript:;" class="p-sm"><i class="fa fa-circle-o text-success"></i><span class="text-success">&nbsp;&nbsp;Document</span></a>
					</li>
					<li class="list-group-item">
						<a href="javascript:;" class="p-sm"><i class="fa fa-circle-o text-info"></i><span class="text-info">&nbsp;&nbsp;Social</span></a>
					</li>
					<li class="list-group-item">
						<a href="javascript:;" class="p-sm"><i class="fa fa-circle-o text-warning"></i><span class="text-warning">&nbsp;&nbsp;Advertising</span></a>
					</li>
					<li class="list-group-item">
						<a href="javascript:;" class="p-sm"><i class="fa fa-circle-o text-danger"></i><span class="text-danger">&nbsp;&nbsp;Important</span></a>
					</li>
				</ul>
			</div>
		</nav>
	</div>

	<div class="col-xl-9 col-lg-8 col-md-12 col-sm-12 col-12 readmail my-sm">
		<div class="card">
			<div class="card-header">
				<p class="text-dg p-0 font-roboto-bold">Subject : Lorem Ipsum is simply dummy text of the printing.</p>
			</div>
			<div class="card-body p-0">
				<div class="row">
					<div class="col-12">
						<div class="row">
							<div class="col-lg-5 col-md-6 col-sm-12 col-12 pt-sm pl-xlg">
								<span class="text-dg">From:</span>
								<small class="text-mg">form.mail@example.com</small>
							</div>
							<div class="col-lg-5 col-md-6 col-sm-12 col-12 pt-sm pl-xlg">
								<span class="text-dg">To:</span>
								<small class="text-mg">to.mail@example.com</small>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-5 col-md-6 col-sm-12 col-12 pt-sm pl-xlg">
								<span class="text-dg">CC:</span>
								<small class="text-mg">cc.mail@example.com</small>
							</div>
							<div class="col-lg-5 col-md-6 col-sm-12 col-12 pt-sm pl-xlg">
								<span class="text-dg">BCC:</span>
								<small class="text-mg">bcc.mail@example.com</small>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-5 col-md-6 col-sm-12 col-12 pt-sm pl-xlg">
								<span class="text-dg">Date:</span>
								<small class="text-mg">Oct 15th 2017 11:03 AM</small>
							</div>
						</div>
					</div>
				</div><hr />
				<div class="row">
					<div class="col-12">
						<p>Hello John Smith,</p>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
						<p>Thanks,</p>
						<p>Smith</p>
					</div>
				</div><hr />
				<div class="row">
					<div class="col-12">
						<div class="filebox">
							<div class="file">
								<i class="fa fa-file-pdf-o fa-5x" aria-hidden="true"></i>
							</div>
							<div class="filename">
								<p><a href="javascript:;"><i class="fa fa-paperclip"></i> document.docx</a><small class="float-right">1012 kb</small></p>
								<p><small> added: Oct 15th, 2017</small><button class="btn btn-outline-secondary float-right download-btn m-0"><i class="fa fa-cloud-download"></i></button></p>
							</div>
						</div>
						<div class="filebox">
							<div class="file">
								<img alt="RTDL Image" src="assets/images/product-grid/product.jpg">
							</div>
							<div class="filename">
								<p><a href="javascript:;"><i class="fa fa-camera"></i> other.jpg</a><small class="float-right">2.5 mb</small></p>
								<p><small> added: Oct 15th, 2017</small><button class="btn btn-outline-secondary float-right download-btn m-0"><i class="fa fa-cloud-download"></i></button></p>
							</div>
						</div>
						<div class="filebox">
							<div class="file">
								<img alt="RTDL Image" src="assets/images/product-grid/product3.jpg">
							</div>
							<div class="filename">
								<p><a href="javascript:;"><i class="fa fa-camera"></i> other.jpg</a><small class="float-right">2.1 mb</small></p>
								<p><small> added: Oct 15th, 2017</small><button class="btn btn-outline-secondary float-right download-btn m-0"><i class="fa fa-cloud-download"></i></button></p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="card-footer">
							<button type="button" class="btn btn-outline-secondary mb-xs"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
							<a href="javascript:window.print();" class="btn btn-outline-secondary mb-xs"><i class="fa fa-print" aria-hidden="true"></i> Print</a>
							<div class="float-right">
								<button type="button" class="btn btn-outline-secondary mb-xs"><i class="fa fa-reply"></i> Reply</button>
								<button type="button" class="btn btn-outline-secondary mb-xs"><i class="fa fa-share"></i> Forward</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>