<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item active text-dg">Image Gallery</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-picture-o menu-icon" aria-hidden="true"></i> Image Gallery</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Image Gallery Content -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="d-inline-block my-xs">Gallery with 30+ unique effects.</h5>
				<a href="http://gudh.github.io/ihover/dist/index.html" target="_blank" class="btn btn-outline-secondary btn-sm float-right">View All Effects</a>
			</div>
			<div class="card-body">
				<h5>Code Sample</h5>
				<prism-block [code]="imageGallery" [language]="'html'"></prism-block>
				<p>Theme uses lazy loader to render image smoothly. Lazy Load is delays loading of images in long web pages. Images outside of viewport are not loaded until user scrolls to them. Get image lazy loader document <a href="http://www.appelsiini.net/projects/lazyload" target="_blank">here.</a></p>
			</div>
		</div>
	</div>
</div>
<div class="row my-sm">
	<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
		<div class="img-gallery ih-item square effect1 left_and_right">
			<a href="javascript:;">
				<div class="img"><img src="assets/lib/ihover/dist/images/assets/rect/2.jpg" alt="RTDL Image"></div>
				<div class="info">
					<h3>Heading here</h3>
					<p>Description goes here</p>
				</div>
			</a>
		</div>
	</div>
	<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
		<div class="img-gallery ih-item square effect1 top_to_bottom">
			<a href="javascript:;">
				<div class="img"><img src="assets/lib/ihover/dist/images/assets/rect/3.jpg" alt="RTDL Image"></div>
				<div class="info">
					<h3>Heading here</h3>
					<p>Description goes here</p>
				</div>
			</a>
		</div>
	</div>
	<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
		<div class="img-gallery ih-item square effect2">
			<a href="javascript:;">
				<div class="img"><img src="assets/lib/ihover/dist/images/assets/rect/10.jpg" alt="RTDL Image"></div>
				<div class="info">
					<h3>Heading here</h3>
					<p>Description goes here</p>
				</div>
			</a>
		</div>
	</div>
	<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
		<div class="img-gallery ih-item square effect3 bottom_to_top">
			<a href="javascript:;">
				<div class="img"><img src="assets/lib/ihover/dist/images/assets/rect/1.jpg" alt="RTDL Image"></div>
				<div class="info">
					<h3>Heading here</h3>
					<p>Description goes here</p>
				</div>
			</a>
		</div>
	</div>
	<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
		<div class="img-gallery ih-item square effect4">
			<a href="javascript:;">
				<div class="img"><img src="assets/lib/ihover/dist/images/assets/rect/9.jpg" alt="RTDL Image"></div>
				<div class="info">
					<h3>Heading here</h3>
					<p>Description goes here</p>
				</div>
			</a>
		</div>
	</div>
	<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
		<div class="img-gallery ih-item square effect5 left_to_right">
			<a href="javascript:;">
				<div class="img"><img src="assets/lib/ihover/dist/images/assets/rect/10.jpg" alt="RTDL Image"></div>
				<div class="info">
					<h3>Heading here</h3>
					<p>Description goes here</p>
				</div>
			</a>
		</div>
	</div>
	<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
		<div class="img-gallery ih-item square effect5 right_to_left">
			<a href="javascript:;">
				<div class="img"><img src="assets/lib/ihover/dist/images/assets/rect/8.jpg" alt="RTDL Image"></div>
				<div class="info">
					<h3>Heading here</h3>
					<p>Description goes here</p>
				</div>
			</a>
		</div>
	</div>
	<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
		<div class="img-gallery ih-item square effect6 from_top_and_bottom">
			<a href="javascript:;">
				<div class="img"><img src="assets/lib/ihover/dist/images/assets/rect/3.jpg" alt="RTDL Image"></div>
				<div class="info">
					<h3>Heading here</h3>
					<p>Description goes here</p>
				</div>
			</a>
		</div>
	</div>
	<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
		<div class="img-gallery ih-item square effect6 from_left_and_right">
			<a href="javascript:;">
				<div class="img"><img src="assets/lib/ihover/dist/images/assets/rect/2.jpg" alt="RTDL Image"></div>
				<div class="info">
					<h3>Heading here</h3>
					<p>Description goes here</p>
				</div>
			</a>
		</div>
	</div>
	<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
		<div class="img-gallery ih-item square effect7">
			<a href="javascript:;">
				<div class="img"><img src="assets/lib/ihover/dist/images/assets/rect/4.jpg" alt="RTDL Image"></div>
				<div class="info">
					<h3>Heading here</h3>
					<p>Description goes here</p>
				</div>
			</a>
		</div>
	</div>
	<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
		<div class="img-gallery ih-item square effect8 scale_up">
			<a href="javascript:;">
				<div class="img"><img src="assets/lib/ihover/dist/images/assets/rect/5.jpg" alt="RTDL Image"></div>
				<div class="info">
					<h3>Heading here</h3>
					<p>Description goes here</p>
				</div>
			</a>
		</div>
	</div>
	<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
		<div class="img-gallery ih-item square effect8 scale_down">
			<a href="javascript:;">
				<div class="img"><img src="assets/lib/ihover/dist/images/assets/rect/7.jpg" alt="RTDL Image"></div>
				<div class="info">
					<h3>Heading here</h3>
					<p>Description goes here</p>
				</div>
			</a>
		</div>
	</div>
	<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
		<div class="img-gallery ih-item square effect9 bottom_to_top">
			<a href="javascript:;">
				<div class="img"><img src="assets/lib/ihover/dist/images/assets/rect/3.jpg" alt="RTDL Image"></div>
				<div class="info">
					<h3>Heading here</h3>
					<p>Description goes here</p>
				</div>
			</a>
		</div>
	</div>
	<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
		<div class="img-gallery ih-item square effect9 right_to_left">
			<a href="javascript:;">
				<div class="img"><img src="assets/lib/ihover/dist/images/assets/rect/9.jpg" alt="RTDL Image"></div>
				<div class="info">
					<h3>Heading here</h3>
					<p>Description goes here</p>
				</div>
			</a>
		</div>
	</div>
	<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
		<div class="img-gallery ih-item square effect10 left_to_right">
			<a href="javascript:;">
				<div class="img"><img src="assets/lib/ihover/dist/images/assets/rect/1.jpg" alt="RTDL Image"></div>
				<div class="info">
					<h3>Heading here</h3>
					<p>Description goes here</p>
				</div>
			</a>
		</div>
	</div>
	<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
		<div class="img-gallery ih-item square effect10 bottom_to_top">
			<a href="javascript:;">
				<div class="img"><img src="assets/lib/ihover/dist/images/assets/rect/8.jpg" alt="RTDL Image"></div>
				<div class="info">
					<h3>Heading here</h3>
					<p>Description goes here</p>
				</div>
			</a>
		</div>
	</div>
	<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
		<div class="img-gallery ih-item square effect11 right_to_left">
			<a href="javascript:;">
				<div class="img"><img src="assets/lib/ihover/dist/images/assets/rect/4.jpg" alt="RTDL Image"></div>
				<div class="info">
					<h3>Heading here</h3>
					<p>Description goes here</p>
				</div>
			</a>
		</div>
	</div>
	<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
		<div class="img-gallery ih-item square effect11 top_to_bottom">
			<a href="javascript:;">
				<div class="img"><img src="assets/lib/ihover/dist/images/assets/rect/10.jpg" alt="RTDL Image"></div>
				<div class="info">
					<h3>Heading here</h3>
					<p>Description goes here</p>
				</div>
			</a>
		</div>
	</div>
	<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
		<div class="img-gallery ih-item square effect12 left_to_right">
			<a href="javascript:;">
				<div class="img"><img src="assets/lib/ihover/dist/images/assets/rect/7.jpg" alt="RTDL Image"></div>
				<div class="info">
					<h3>Heading here</h3>
					<p>Description goes here</p>
				</div>
			</a>
		</div>
	</div>
	<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
		<div class="img-gallery ih-item square effect12 bottom_to_top">
			<a href="javascript:;">
				<div class="img"><img src="assets/lib/ihover/dist/images/assets/rect/5.jpg" alt="RTDL Image"></div>
				<div class="info">
					<h3>Heading here</h3>
					<p>Description goes here</p>
				</div>
			</a>
		</div>
	</div>
	<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
		<div class="img-gallery ih-item square effect14 right_to_left">
			<a href="javascript:;">
				<div class="img"><img src="assets/lib/ihover/dist/images/assets/rect/3.jpg" alt="RTDL Image"></div>
				<div class="info">
					<h3>Heading here</h3>
					<p>Description goes here</p>
				</div>
			</a>
		</div>
	</div>
	<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
		<div class="img-gallery ih-item square effect14 top_to_bottom">
			<a href="javascript:;">
				<div class="img"><img src="assets/lib/ihover/dist/images/assets/rect/1.jpg" alt="RTDL Image"></div>
				<div class="info">
					<h3>Heading here</h3>
					<p>Description goes here</p>
				</div>
			</a>
		</div>
	</div>
	<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
		<div class="img-gallery ih-item square effect15 left_to_right">
			<a href="javascript:;">
				<div class="img"><img src="assets/lib/ihover/dist/images/assets/rect/9.jpg" alt="RTDL Image"></div>
				<div class="info">
					<h3>Heading here</h3>
					<p>Description goes here</p>
				</div>
			</a>
		</div>
	</div>
	<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
		<div class="img-gallery ih-item square effect15 top_to_bottom">
			<a href="javascript:;">
				<div class="img"><img src="assets/lib/ihover/dist/images/assets/rect/2.jpg" alt="RTDL Image"></div>
				<div class="info">
					<h3>Heading here</h3>
					<p>Description goes here</p>
				</div>
			</a>
		</div>
	</div>
</div>