<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">E-Commerce</a></li>
							<li class="breadcrumb-item active text-dg">Payments</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Payments</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Payments Content -->
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Payment method</h5>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-lg-3">
						<h4 class="font-os-thin">Product Detail</h4>
						<p><strong>Pruduct Name: </strong><a routerLink="/e-commerce/product-detail" class="text-theme">Xbox</a></p>
						<p><strong>Price: </strong> $360</p>
					</div>
					<div class="col-lg-9">
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p><p> It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
					</div>
				</div>
				<hr />
				<div class="row">
					<div class="col-lg-3">
						<h4 class="font-os-thin">Product Detail</h4>
						<p><strong>Pruduct Name: </strong><a routerLink="/e-commerce/product-detail" class="text-theme">Mac Mini</a></p>
						<p><strong>Price: </strong> $1000</p>
					</div>
					<div class="col-lg-9">
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p><p> It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
					</div>
				</div>
			</div>
			<div class="card-footer">
				<div class="row">
					<div class="col-xs-4 col-lg-4 col-md-4 col-sm-4 col-12">
						<strong class="text-dg">Total Payable:</strong>
						<span>$1360</span>
					</div>
					<div class="col-xs-8 col-lg-8 col-md-8 col-sm-8 col-12">
						<small class="float-right text-mg">Extra 5% cashboard if you do payment via VISA card.</small>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12 my-sm">
		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6">
						<div class="form-container active">
							<form card container=".card-wrapper" card-width="350" [messages]="messages" [placeholders]="placeholders" [masks]="masks"  formatting="false" debug="true">
								<div class="form-group">
									<label class="font-os-normal">Card Number</label>
									<input type="text" class="form-control" placeholder="Card number" name="number" card-number>
								</div>
								<div class="form-group">
									<label class="font-os-normal">Card Name</label>
									<input type="text" class="form-control" placeholder="Full name" name="name" card-name>
								</div>
								<div class="row">
									<div class="col-md-7 mb-3">
										<label class="font-os-normal">Expiry Date</label>
										<input type="text" class="form-control" placeholder="MM/YY" name="expiry" card-expiry>
									</div>
									<div class="col-md-5 mb-3">
										<label class="font-os-normal">CV Code</label>
										<input class="form-control" placeholder="CVC" type="number" name="cvc" card-cvc>
									</div>
								</div>
								<button class="btn btn-md btn-theme mt-xs" type="button">Payment</button>
								<button class="btn btn-md btn-social btn-cc-paypal mt-xs" type="button"><i class="fa fa-cc-paypal" aria-hidden="true"></i>Or Pay Via Paypal</button>
							</form>
						</div>
					</div>
					<div class="col-lg-6">
						 <div class="card-wrapper mt-xlg"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>