<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">Forms and Plugins</a></li>
							<li class="breadcrumb-item active text-dg">Validation form</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-edit" aria-hidden="true"></i> Validation form</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Custom styles Form Validation -->
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Custom styles validation form</h5>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-lg-12">
						<form id="needs-validation" novalidate>
							<div class="row">
								<div class="col-md-6 mb-3">
									<label for="validationCustom01">First name</label>
									<input type="text" class="form-control" id="validationCustom01" placeholder="First name" value="Mark" required>
								</div>
								<div class="col-md-6 mb-3">
									<label for="validationCustom02">Last name</label>
									<input type="text" class="form-control" id="validationCustom02" placeholder="Last name" value="Otto" required>
								</div>
							</div>
								<div class="row">
									<div class="col-md-6 mb-3">
									<label for="validationCustom03">City</label>
									<input type="text" class="form-control" id="validationCustom03" placeholder="City" required>
									<div class="invalid-feedback">
									Please provide a valid city.
									</div>
								</div>
								<div class="col-md-3 mb-3">
									<label for="validationCustom04">State</label>
									<input type="text" class="form-control" id="validationCustom04" placeholder="State" required>
									<div class="invalid-feedback">
									Please provide a valid state.
									</div>
								</div>
								<div class="col-md-3 mb-3">
									<label for="validationCustom05">Zip</label>
									<input type="text" class="form-control" id="validationCustom05" placeholder="Zip" required>
									<div class="invalid-feedback">
									Please provide a valid zip.
									</div>
								</div>
							</div>
							<button class="btn btn-primary" type="submit">Submit form</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Supported elements -->
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Supported elements for validation form</h5>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-lg-12">
						<form class="was-validated">
							<label class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input" required>
								<span class="custom-control-indicator"></span>
								<span class="custom-control-description">Check this custom checkbox</span>
							</label>
							<div class="custom-controls-stacked d-block my-3">
								<label class="custom-control custom-radio">
									<input id="radioStacked1" name="radio-stacked" type="radio" class="custom-control-input" required>
									<span class="custom-control-indicator"></span>
									<span class="custom-control-description">Toggle this custom radio</span>
								</label>
								<label class="custom-control custom-radio">
									<input id="radioStacked2" name="radio-stacked" type="radio" class="custom-control-input" required>
									<span class="custom-control-indicator"></span>
									<span class="custom-control-description">Or toggle this other custom radio</span>
								</label>
							</div>
							<select class="custom-select d-block my-3" required>
								<option value="">Open this select menu</option>
								<option value="1">One</option>
								<option value="2">Two</option>
								<option value="3">Three</option>
							</select>
							<label class="custom-file">
								<input type="file" id="file" class="custom-file-input" required>
								<span class="custom-file-control"></span>
							</label>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>