<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">Plugins</a></li>
							<li class="breadcrumb-item active text-dg">Spinner Buttons</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-plug menu-icon" aria-hidden="true"></i> Spinner Buttons</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--Spinner Button Content-->
<div class="row">
	<div class="col-12 px-0 my-sm">
		<div class="card">
			<div class="card-body text-center">
				<div class="py-lg">
					<h4 class="font-roboto-thin my-sm">A UI concept which merges loading indicators into the action that invoked them. Primarily intended for use with forms where it gives users immediate feedback upon submit rather than leaving them wondering while the browser does its thing.</h4>
					<a href="https://github.com/hakimel/Ladda" target="_blank" class="btn btn-outline-theme">Get Spinner Doc</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-5 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Expand spinner Buttons</h5>
			</div>
			<div class="card-body text-center">
				<button class="btn mb-xs btn-theme ladda-button" data-style="expand-left"><span class="ladda-label">Expand-left</span></button>
				<button class="btn mb-xs btn-theme ladda-button" data-style="expand-right"><span class="ladda-label">Expand-right</span></button>
				<button class="btn mb-xs btn-theme ladda-button" data-style="expand-up"><span class="ladda-label">Expand-up</span></button>
				<button class="btn mb-xs btn-theme ladda-button" data-style="expand-down"><span class="ladda-label">Expand-down</span></button>
			</div>
		</div>	
	</div>
	<div class="col-lg-4 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Slide spinner Buttons</h5>
			</div>
			<div class="card-body text-center">
				<button class="btn mb-xs btn-primary ladda-button" data-style="slide-left"><span class="ladda-label">Slide-left</span></button>
				<button class="btn mb-xs btn-primary ladda-button" data-style="slide-right"><span class="ladda-label">Slide-right</span></button>
				<button class="btn mb-xs btn-primary ladda-button" data-style="slide-up"><span class="ladda-label">Slide-up</span></button>
				<button class="btn mb-xs btn-primary ladda-button" data-style="slide-down"><span class="ladda-label">Slide-down</span></button>
			</div>
		</div>
	</div>
	<div class="col-lg-3 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Contract spinner Buttons</h5>
			</div>
			<div class="card-body text-center">
				<button class="btn mb-xs btn-info ladda-button" data-style="contract"><span class="ladda-label">Contract</span></button>
				<button class="btn mb-xs btn-info ladda-button" data-style="contract-overlay" style="z-index: 10;"><span class="ladda-label">Overlay</span></button>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-4 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Progress spinner Buttons</h5>
			</div>
			<div class="card-body text-center progress-demo">
				<button class="btn mb-xs btn-success ladda-button" data-style="expand-left"><span class="ladda-label">Expand-left</span></button>
				<button class="btn mb-xs btn-success ladda-button" data-style="expand-right"><span class="ladda-label">Expand-right</span></button>
				<button class="btn mb-xs btn-success ladda-button" data-style="contract"><span class="ladda-label">Contract</span></button>
			</div>
		</div>
	</div>
	<div class="col-lg-4 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Zoom spinner Buttons</h5>
			</div>
			<div class="card-body text-center">
				<button class="btn mb-xs btn-warning ladda-button" data-style="zoom-in"><span class="ladda-label">Zoom-in</span></button>
				<button class="btn mb-xs btn-warning ladda-button" data-style="zoom-out"><span class="ladda-label">Zoom-out</span></button>
			</div>
		</div>
	</div>
	<div class="col-lg-4 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Size spinner Buttons</h5>
			</div>
			<div class="card-body text-center">
				<button class="btn mb-xs btn-danger btn-sm ladda-button" data-style="expand-right" data-size="xs"><span class="ladda-label">small</span></button>
				<button class="btn mb-xs btn-danger ladda-button" data-style="expand-right" data-size="s"><span class="ladda-label">Midium</span></button>
				<button class="btn mb-xs btn-danger btn-lg ladda-button" data-style="expand-right" data-size="l"><span class="ladda-label">Large</span></button>
			</div>
		</div>
	</div>
</div>