<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">UI Elements</a></li>
							<li class="breadcrumb-item active text-dg">Typography</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-laptop menu-icon" aria-hidden="true"></i> Typography</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Typography Content-->
<div class="row">
	<div class="col-xl-8 col-lg-6 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Headings</h5>
			</div>
			<div class="card-body">
				<p class="h1">Heading 1 <small>Sub Heading</small></p>
				<p class="h2">Heading 2 <small>Sub Heading</small></p>
				<p class="h3">Heading 3 <small>Sub Heading</small></p>
				<p class="h4">Heading 4 <small>Sub Heading</small></p>
				<p class="h5">Heading 5 <small>Sub Heading</small></p>
				<p class="h6">Heading 6 <small>Sub Heading</small></p>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Grouped List</h5>
			</div>
			<div class="card-body">
				<ul class="list-group w-100 custom-list-group">
					<li class="list-group-item d-flex">
						<a href="javascript:;" class="text-mb col-12 p-0">
							But I must explain to
							<span class="badge badge-theme badge-pill float-right">16</span>
						</a>
					</li>
					<li class="list-group-item d-flex">
						<a href="javascript:;" class="text-mb col-12 p-0">
							How all this mistaken
							<span class="badge badge-info badge-pill float-right">12</span>
						</a>
					</li>
					<li class="list-group-item d-flex">
						<a href="javascript:;" class="text-mb col-12 p-0">
							But because occasionally
							<span class="badge badge-danger badge-pill float-right">10</span>
						</a>
					</li>
					<li class="list-group-item d-flex">
						<a href="javascript:;" class="text-mb col-12 p-0">
							But who has any right
							<span class="badge badge-success badge-pill float-right">10</span>
						</a>
					</li>
					<li class="list-group-item d-flex">
						<a href="javascript:;" class="text-mb col-12 p-0">
							On the other hand
							<span class="badge badge-warning badge-pill float-right">7</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-6 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Unstyled List</h5>
			</div>
			<div class="card-body">
				<ul class="list-unstyled">
					<li>But I must explain </li>
					<li>To you how all this mistaken</li>
					<li>Idea of denouncing pleasure </li>
					<li>Great explorer of the truth</li>
					<li>To take a trivial example 
						<ul>
							<li>Or one who avoids a pain </li>
							<li>Indignation and dislike men </li>
							<li>Nor again is there anyone  </li>
							<li>But who has any right</li>
						</ul>
					</li>
					<li>That they cannot foresee</li>
					<li>Who avoids a pain that produceg</li>
					<li>Consequences that are extremely </li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-lg-6 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Unordered list</h5>
			</div>
			<div class="card-body">
				<ul>
					<li>But I must explain </li>
					<li>To you how all this mistaken</li>
					<li>Idea of denouncing pleasure </li>
					<li>Great explorer of the truth</li>
					<li>To take a trivial example
						<ul>
							<li>Or one who avoids a pain </li>
							<li>Indignation and dislike men </li>
							<li>Nor again is there anyone  </li>
							<li>But who has any right</li>
						</ul>
					</li>
					<li>That they cannot foresee</li>
					<li>Who avoids a pain that produceg</li>
					<li>Consequences that are extremely </li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-6 py-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Ordered List</h5>
			</div>
			<div class="card-body">
				<ol>
					<li>But I must explain </li>
					<li>To you how all this mistaken</li>
					<li>Idea of denouncing pleasure </li>
					<li>Great explorer of the truth</li>
					<li>To take a trivial example
						<ol>
							<li>Or one who avoids a pain</li>
							<li>Indignation and dislike men</li>
							<li>Nor again is there anyone</li>
							<li>But who has any right</li>
						</ol>
					 </li>
					<li>That they cannot foresee</li>
					<li>Who avoids a pain that produceg</li>
					<li>Consequences that are extremely </li>
				</ol>
			</div>
		</div>
	</div>
	<div class="col-lg-6 py-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Styles</h5>
			</div>
			<div class="card-body">
				<p><b>This is bold text</b></p>
				<p><code>This is computer code</code></p>
				<p><em>This is emphasized text</em></p>
				<p><mark>This is highlighted text</mark></p>
				<p><strong>This is strongly emphasized text</strong></p>
				<p>This is <sub>subscript</sub> and <sup>superscript</sup></p>
				<p><ins>This text is inserted to the document</ins></p>
				<p><del>This text is deleted from the document</del></p>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-6 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Emphasis Classes</h5>
			</div>
			<div class="card-body">
				<p class="text-muted">This is an example of muted text.</p>
				<p class="text-primary">This is an example of primary text.</p>
				<p class="text-success">This is an example of success text.</p>
				<p class="text-info">This is an example of info text.</p>
				<p class="text-warning">This is an example of warning text.</p>
				<p class="text-danger">This is an example of danger text.</p>
			</div>
		</div>
	</div>
	<div class="col-lg-6 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Address</h5>
			</div>
			<div class="card-body">
				<address>
					<strong>RTDL, Inc.</strong>
					<br>
					301, Decora Square,
					<br>
					IN 36004
					<br>
					<abbr title="Phone">P:</abbr>
					(123) 456-7890
				</address>
				<address>
					<strong>Full Name</strong>
					<br>
					<a href="mailto:#">first.last@example.com</a>
				</address>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-6 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Blockquotes</h5>
			</div>
			<div class="card-body">
				<blockquote class="blockquote">
					<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
					<footer class="blockquote-footer mt-sm">
						<strong>Author name</strong> in
						<cite>Book name</cite>
					</footer>
				</blockquote>
			</div>
		</div>
	</div>
	<div class="col-lg-6 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Alignment</h5>
			</div>
			<div class="card-body">
				<p class="text-left">Left aligned text.</p>
				<p class="text-center">Center aligned text.</p>
				<p class="text-right">Right aligned text.</p>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-6 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Grouped List</h5>
			</div>
			<div class="card-body">
				<div class="list-group">
					<div class="item-group">
						<a href="javascript:;" class="list-group-item theme-item list-group-item-action flex-column align-items-start">
							<div class="d-flex w-100 justify-content-between">
								<h5 class="mb-1">List group item heading</h5>
								<small>3 days ago</small>
							</div>
							<p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
							<small>Donec id elit non mi porta.</small>
						</a>
					</div>
					<div class="item-group">
						<a href="javascript:;" class="list-group-item list-group-item-action flex-column align-items-start">
							<div class="d-flex w-100 justify-content-between">
								<h5 class="mb-1">List group item heading</h5>
								<small class="text-muted">3 days ago</small>
							</div>
							<p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
							<small>Donec id elit non mi porta.</small>
						</a>
					</div>
					<div class="item-group">
						<a href="javascript:;" class="list-group-item list-group-item-action flex-column align-items-start">
							<div class="d-flex w-100 justify-content-between">
								<h5 class="mb-1">List group item heading</h5>
								<small class="text-muted">3 days ago</small>
							</div>
							<p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
							<small>Donec id elit non mi porta.</small>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-6 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Truncate String</h5>
			</div>
			<div class="card-body">
				<p class="text-truncate">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
			</div>
		</div>
	</div>
</div>