<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">Widgets</a></li>
							<li class="breadcrumb-item active text-dg">Social Widgets</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-globe menu-icon" aria-hidden="true"></i> Social Widgets</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Social Widgets Content -->
<div class="row social-widgets">
	<div class="col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Social Widgets</h5>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-lg-9 col-12 p-0">
						<div class="row m-0">
							<div class="col-xl-4 col-lg-6 my-sm font-os-thin social-widgets-box">
								<div class="bg-info text-white p-lg" data-count=".num" data-prefix=" " data-from="0" data-to="1800" data-suffix=" " data-duration="2">
									<i class="fa fa-twitter fa-4x float-right" aria-hidden="true"></i>
									<h4 class="num font-os-bold my-sm">20000</h4>
									<span>Followers</span>
								</div>
							</div>
							<div class="col-xl-4 col-lg-6 my-sm font-os-thin social-widgets-box">
								<div class="bg-primary text-white p-lg" data-count=".num" data-prefix=" " data-from="0" data-to="2080" data-suffix=" " data-duration="2">
									<i class="fa fa-facebook fa-4x float-right" aria-hidden="true"></i>
									<h4 class="num font-os-bold my-sm">20000</h4>
									<span>People like it</span>
								</div>
							</div>
							<div class="col-xl-4 col-lg-6 my-sm font-os-thin social-widgets-box">
								<div class="bg-warning text-white p-lg" data-count=".num" data-prefix=" " data-from="0" data-to="3070" data-suffix=" " data-duration="2">
									<i class="fa fa-music fa-4x float-right" aria-hidden="true"></i>
									<h4 class="num font-os-bold my-sm">20000</h4>
									<span>Listeners</span>
								</div>
							</div>
							<div class="col-xl-4 col-lg-6 my-sm font-os-thin social-widgets-box">
								<div class="bg-danger text-white p-lg" data-count=".num" data-prefix=" " data-from="0" data-to="4060" data-suffix=" " data-duration="2">
									<i class="fa fa-google-plus fa-4x float-right" aria-hidden="true"></i>
									<h4 class="num font-os-bold my-sm">20000</h4>
									<span>In Circles</span>
								</div>
							</div>
							<div class="col-xl-4 col-lg-6 my-sm font-os-thin social-widgets-box">
								<div class="bg-mb text-white p-lg" data-count=".num" data-prefix=" " data-from="0" data-to="5020" data-suffix=" " data-duration="2">
									<i class="fa fa-youtube-play fa-4x float-right" aria-hidden="true"></i>
									<h4 class="num font-os-bold my-sm">20000</h4>
									<span>Subscribers</span>
								</div>
							</div>
							<div class="col-xl-4 col-lg-6 my-sm font-os-thin social-widgets-box">
								<div class="bg-theme text-white p-lg" data-count=".num" data-prefix=" " data-from="0" data-to="6040" data-suffix=" " data-duration="2">
									<i class="fa fa-rss fa-4x float-right" aria-hidden="true"></i>
									<h4 class="num font-os-bold my-sm">20000</h4>
									<span>Subscribers</span>
								</div>
							</div>
							<div class="col-xl-4 col-lg-6 col-md-12 font-os-thin my-sm">
								<div class="row mx-0 widgets-counter mb-lg bg-lg d.inline-block" data-count=".num" data-prefix=" " data-from="0" data-to="50.9" data-suffix="%" data-duration="2">
									<div class="widgets-label col-9"> <h3 class="num m-0 text-mb ">99.9%</h3> <span class="font-12">Server uptime</span> </div>
									<div class="widgets-icon col-3"> <i class="fa fa-cloud bg-success text-white fa-2x text-center" aria-hidden="true"></i></div>
								</div>
							</div>
							<div class="col-xl-4 col-lg-6 col-md-12 font-os-thin my-sm">
								<div class="row mx-0 widgets-counter mb-lg bg-lg d.inline-block" data-count=".num" data-prefix=" " data-from="0" data-to="2470" data-suffix="" data-duration="2">
									<div class="widgets-label col-9"> <h3 class="num text-mb m-0">99.9%</h3> <span class="font-12">Daily Photos</span> </div>
									<div class="widgets-icon col-3"> <i class="fa fa-camera bg-primary text-white fa-2x text-center" aria-hidden="true"></i></div>
								</div>
							</div>
							<div class="col-xl-4 col-lg-6 col-md-12 font-os-thin d-lg-none d-xl-block my-sm">
								<div class="row mx-0 widgets-counter mb-lg bg-lg d.inline-block" data-count=".num" data-prefix=" " data-from="0" data-to="80.9" data-suffix="K" data-duration="2">
									<div class="widgets-label col-9"> <h3 class="num text-mb m-0">99.9%</h3> <span class="font-12">User Total</span> </div>
									<div class="widgets-icon col-3"> <i class="fa fa-user-o bg-info text-white fa-2x text-center" aria-hidden="true"></i></div>
								</div>
							</div>
						</div>
						<div class="row m-0">
							<div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12 font-os-thin text-white">
								<div class="widgets-counter mb-lg bg-success d-inline-block" data-count=".num" data-prefix=" " data-from="0" data-to="80.9" data-suffix="%" data-duration="2">
									<div class="col-12 p-0">
										<h3 class="num m-0 d-inline-block">99.9%</h3>
										<i class="fa fa-cloud fa-2x float-right mt-xs" aria-hidden="true"></i>
										<span class="font-12">Server uptime</span>
									</div>
									<div class="col-12 border-t mt-md p-0">
										<div class="mt-md">
											<span class="font-12">Result</span>
											<strong class="font-14 text-normal">78% INCREASE</strong>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12 font-os-thin text-white">
								<div class="widgets-counter mb-lg bg-info d-inline-block" data-count=".num" data-prefix=" " data-from="0" data-to="320" data-suffix="K" data-duration="2">
									<div class="col-12 p-0">
										<h3 class="num m-0 d-inline-block">310K</h3>
										<i class="fa fa-user-o bg-info fa-2x float-right mt-md-xs" aria-hidden="true"></i>
										<span class="font-12">DAILY VISITS</span>
									</div>
									<div class="col-12 border-t mt-md p-0">
										<div class="mt-md">
											<span class="font-12">BOUNCE RATE</span>
											<strong class="font-14 text-normal">51.55%</strong>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12 font-os-thin text-white">
								<div class="widgets-counter mb-lg bg-primary d-inline-block" data-count=".num" data-prefix=" " data-from="0" data-to="410" data-suffix="" data-duration="2">
									<div class="col-12 p-0">
										<h3 class="num m-0 d-inline-block">512</h3>
										<i class="fa fa-camera bg-primary fa-2x float-right mt-md-xs" aria-hidden="true"></i>
										<span class="font-12">Photos taken</span>
									</div>
									<div class="col-12 border-t mt-md p-0">
										<div class="mt-md">
											<span class="font-12">INCREASE</span>
											<strong class="font-14 text-normal">512 MORE Photos</strong>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12 font-os-thin text-white">
								<div class="widgets-counter mb-lg bg-theme d-inline-block">
									<div class="col-12 p-0">
										<h3 class="num m-0 d-inline-block">24/7</h3>
										<i class="fa fa-life-ring bg-theme fa-2x float-right mt-md-xs" aria-hidden="true"></i>
										<span class="font-12">LIVE Support</span>
									</div>
									<div class="col-12 border-t mt-md p-0">
										<div class="mt-md">
											<span class="font-12">TICKETS OPENED</span>
											<strong class="font-14 text-normal">14,547</strong>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12 font-os-thin text-white progress-widgets">
								<div class="widgets-counter mb-lg bg-warning d-inline-block" data-count=".num" data-prefix=" " data-from="0" data-to="12425" data-suffix="" data-duration="2">
									<div class="col-12 p-0">
										<span class="font-12 text-uppercase">Likes</span>
										<h3 class="num m-0 d-inline-block">0</h3>
										<i class="fa fa-heart-o fa-2x float-right" aria-hidden="true"></i>
									</div>
									<div class="col-12 mt-md p-0 progessbar progress progress-xxs mb-md">
										<span data-fill-from="0" data-fill-to="50" data-fill-unit="%" data-fill-property="width" data-fill-duration="2" data-fill-easing="true" class="text-uppercase"></span>
									</div>
									<div class="col-12 p-0">
										<span class="font-12 text-uppercase">LIKES P/ MONTH</span>
										<strong class="font-14 text-normal text-uppercase">41% MORE LIKES</strong>
									</div>
								</div>
							</div>
							<div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12 font-os-thin text-white progress-widgets">
								<div class="widgets-counter mb-lg bg-mg d-inline-block" data-count=".num" data-prefix=" " data-from="0" data-to="520" data-suffix="K" data-duration="2">
									<div class="col-12 p-0">
										<span class="font-12 text-uppercase">CHAT LINES</span>
										<h3 class="num m-0 d-inline-block">0</h3>
										<i class="fa fa-paper-plane-o fa-2x float-right" aria-hidden="true"></i>
									</div>
									<div class="col-12 mt-md p-0 progessbar progress progress-xxs mb-md">
										<span data-fill-from="0" data-fill-to="70" data-fill-unit="%" data-fill-property="width" data-fill-duration="2" data-fill-easing="true" class="text-uppercase"></span>
									</div>
									<div class="col-12 p-0">
										<span class="font-12 text-uppercase">CHAT LINES P/ MONTH</span>
										<strong class="font-14 text-normal text-uppercase">41% MORE COMMUNICATION</strong>
									</div>
								</div>
							</div>
							<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 font-os-thin text-white box-widgets">
								<div class="widgets-counter mb-lg bg-mb text-center d-inline-block" data-count=".num" data-prefix=" " data-from="0" data-to="1254" data-suffix="%" data-duration="2">
									<div class="col-12 p-0 mt-xlg">
										<span class="text-uppercase">Video views</span>
										<h3 class="num m-0">0</h3>
									</div>
									<div class="col-12 p-0 my-sm">
										<i class="fa fa-video-camera fa-3x" aria-hidden="true"></i>
									</div>
								</div>
							</div>
							<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 font-os-thin text-white box-widgets">
								<div class="widgets-counter mb-lg bg-danger text-center d-inline-block" data-count=".num" data-prefix=" " data-from="0" data-to="1254" data-suffix="%" data-duration="2">
									<div class="col-12 p-0 my-sm">
										<i class="fa fa-file-text-o fa-3x" aria-hidden="true"></i>
									</div>
									<div class="col-md-12 col-sm-12 col-12 mt-xlg p-0">
										<h3 class="num m-0">0</h3>
										<span class="text-uppercase">Documents Downloads</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-12 p-0">
						<div class="col-12 mt-sm mb-lg font-os-thin social-widgets-box-child">
							<div class="col-12 bg-mg text-white text-center p-sm" data-count=".num" data-prefix=" " data-from="0" data-to="18" data-suffix=" " data-duration="2">
								<div class="pt-lg pb-md">
									<i class="fa fa-envelope-o fa-5x" aria-hidden="true"></i>
								</div>
								<div class="py-md">
									<span class="float-left">Mail</span>
									<h5 class="num float-right m-0">0</h5>
								</div>
							</div>
						</div>
						<div class="col-12 my-lg font-os-thin social-widgets-box-child">
							<div class="col-12 bg-warning text-white text-center p-sm" data-count=".num" data-prefix=" " data-from="0" data-to="5" data-suffix=" " data-duration="2">
								<div class="pt-lg pb-md">
									<i class="fa fa-play fa-5x" aria-hidden="true"></i>
								</div>
								<div class="py-md">
									<span class="float-left">Videos</span>
									<h5 class="num float-right m-0">0</h5>
								</div>
							</div>
						</div>
						<div class="col-12 my-lg font-os-thin social-widgets-box-child">
							<div class="col-12 bg-mb text-white text-center p-sm" data-count=".num" data-prefix=" " data-from="0" data-to="22" data-suffix=" " data-duration="2">
								<div class="pt-lg pb-md">
									<i class="fa fa-youtube fa-5x" aria-hidden="true"></i>
								</div>
								<div class="py-md">
									<span class="float-left">Youtube</span>
									<h5 class="num float-right m-0">0</h5>
								</div>
							</div>
						</div>
						<div class="col-12 my-lg font-os-thin social-widgets-box-child">
							<div class="col-12 bg-success text-white text-center p-sm" data-count=".num" data-prefix=" " data-from="0" data-to="2" data-suffix=" " data-duration="2">
								<div class="pt-lg pb-md">
									<i class="fa fa-shopping-bag fa-5x" aria-hidden="true"></i>
								</div>
								<div class="py-md">
									<span class="float-left">Store</span>
									<h5 class="num float-right m-0">0</h5>
								</div>
							</div>
						</div>
						<div class="col-12 my-lg font-os-thin social-widgets-box-child">
							<div class="col-12 bg-theme text-white text-center p-sm" data-count=".num" data-prefix=" " data-from="0" data-to="115" data-suffix=" " data-duration="2">
								<div class="pt-lg pb-md">
									<i class="fa fa-headphones fa-5x" aria-hidden="true"></i>
								</div>
								<div class="py-md">
									<span class="float-left">Music</span>
									<h5 class="num float-right m-0">0</h5>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12 p-0 my-sm">
						<div class="row mx-0">
							<div class="col-lg-4 col-12">
								<div class="widgets-status-update social-widgets bg-primary col-12 font-os-thin p-md text-white my-sm" data-auto-switch="0">
									<div class="col-12">
										<div class="col-lg-10 p-0">
											<i class="fa fa-facebook fa-4x" aria-hidden="true"></i>
										</div>
									</div>
									<div class="widgets-body p-md col-12">
										<ul class="list-unstyled">
											<li class="font-14">
												<h4 class="status-date text-white">10 May</h4>
												<p>Build your own Fake Twitter Post now! Check it out @ simitator.com #laborator #envato</p>
											</li>
											<li class="active font-14">
												<h4 class="status-date text-white">20 April</h4>
												<p> Micro-finance clean water sustainable future Oxfam protect. Enabler meaningful work change-makers.</p>
											</li>
											<li class="font-14">
												<h4 class="status-date text-white">30 March</h4>
												<p>Fight against malnutrition Aga Khan Bloomberg, economic independence inspire breakthroughs benefit civil.</p>
											</li>
										</ul>
									</div>
									<div class="col-12">
										<a href="javascript:;" class="text-white"><i class="fa fa-bullhorn" aria-hidden="true"></i>&nbsp;SHARE THIS</a>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-12">
								<div class="widgets-status-update social-widgets bg-danger font-os-thin p-md text-white my-sm" data-auto-switch="3">
									<div class="col-12">
										<div class="row mx-0">
											<div class="col-lg-10 col-md-6 col-sm-4">
												<i class="fa fa-google-plus fa-4x" aria-hidden="true"></i>
											</div>
											<div class="widgets-nav col-lg-2 col-md-6 col-sm-8 p-0 text-right">
												<a href="javascript:;" class="status-prev text-white"> <i class="fa fa-angle-left fa-lg"></i> </a>
												<a href="javascript:;" class="status-next text-white"> <i class="fa fa-angle-right fa-lg"></i> </a>
											</div>
										</div>
									</div>
									<div class="widgets-body p-md col-12">
										<ul class="list-unstyled">
											<li class="font-14">
												<h4 class="status-date text-white">05 May</h4>
												<p>Build your own Fake Twitter Post now! Check it out @ simitator.com #laborator #envato</p>
											</li>
											<li class="active font-14">
												<h4 class="status-date text-white">12 April</h4>
												<p> Micro-finance clean water sustainable future Oxfam protect. Enabler meaningful work change-makers.</p>
											</li>
											<li class="font-14">
												<h4 class="status-date text-white">24 March</h4>
												<p>Fight against malnutrition Aga Khan Bloomberg, economic independence inspire breakthroughs benefit civil.</p>
											</li>
										</ul>
									</div>
									<div class="col-12">
										<a href="javascript:;" class="text-white"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&nbsp;+1 this post</a>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-12">
								<div class="widgets-status-update social-widgets bg-info font-os-thin p-md text-white my-sm" data-auto-switch="1">
									<div class="col-12">
										<div class="row mx-0">
											<div class="col-lg-10 col-md-6 col-sm-4 p-0">
												<i class="fa fa-twitter fa-4x" aria-hidden="true"></i>
											</div>
											<div class="col-lg-2 col-md-6 col-sm-8 p-0 text-right widgets-nav">
												<a href="javascript:;" class="status-prev text-white"> <i class="fa fa-angle-left fa-lg"></i> </a>
												<a href="javascript:;" class="status-next text-white"> <i class="fa fa-angle-right fa-lg"></i> </a>
											</div>
										</div>
									</div>
									<div class="widgets-body p-md col-12">
										<ul class="list-unstyled">
											<li class="font-14">
												<h4 class="status-date text-white">21 May</h4>
												<p>Build your own Fake Twitter Post now! Check it out @ simitator.com #laborator #envato</p>
											</li>
											<li class="active font-14">
												<h4 class="status-date text-white">18 April</h4>
												<p> Micro-finance clean water sustainable future Oxfam protect. Enabler meaningful work change-makers.</p>
											</li>
											<li class="font-14">
												<h4 class="status-date text-white">08 March</h4>
												<p>Fight against malnutrition Aga Khan Bloomberg, economic independence inspire breakthroughs benefit civil.</p>
											</li>
										</ul>
									</div>
									<div class="col-12">
										<a href="javascript:;" class="text-white"><i class="fa fa-retweet"></i>&nbsp;RETWEET</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row social-widgets">
	<div class="col-xl-4 col-lg-6 my-sm">
		<div class="card">
			<div class="card-body p-0">
				<div class="profile bg-theme text-white profile-cover-bg">
					<div class="row">
						<div class="col-6">
							<div class="profile-block">
								<div class="social-profile profile-widgets">
									<img class="profile-avatar rounded-circle" src="assets/images/portrait/thumbnail.png" alt="RTDL Image">
								</div>
							</div>
						</div>
						<div class="col-6 info-block">
							<h4 class="mb-0 mt-sm"><b><a routerLink="/profile" class="text-white">Jonny Smith</a></b></h4>
							<p>UXUI Developer</p>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="row">
							<div class="col-3 text-center p-sm">
								<a href="Javascript:;" class="text-theme">
									<i class="fa fa-3x fa-facebook-square" aria-hidden="true"></i>
								</a>
							</div>
							<div class="col-3 text-center p-sm">
								<a href="Javascript:;" class="text-theme">
									<i class="fa fa-3x fa-twitter" aria-hidden="true"></i>
								</a>
							</div>
							<div class="col-3 text-center p-sm">
								<a href="Javascript:;" class="text-theme">
									<i class="fa fa-3x fa-google-plus-square" aria-hidden="true"></i>
								</a>
							</div>
							<div class="col-3 text-center p-sm">
								<a href="Javascript:;" class="text-theme">
									<i class="fa fa-3x fa-instagram" aria-hidden="true"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-lg-6 my-sm">
		<div class="card">
			<div class="card-body p-0">
				<div class="profile">
					<div class="profile-block">
						<div class="profile-cover"></div>
						<div class="social-profile profile-widgets2">
							<img class="profile-avatar" src="assets/images/portrait/thumbnail.png" alt="RTDL Image">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-4 p-xs text-center">
						<h4 class="mt-sm mb-0"><b>1258</b></h4>
						<p>Likes</p>
					</div>
					<div class="col-4 p-xs text-center">
						<h4 class="mt-sm mb-0"><b>766</b></h4>
						<p>Comments</p>
					</div>
					<div class="col-4 p-xs text-center">
						<h4 class="mt-sm mb-0"><b>231</b></h4>
						<p>Share</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-12 my-sm">
		<div class="card">
			<div class="card-body p-0">
				<div class="profile">
					<div class="profile-block">
						<div class="profile-cover"></div>
						<div class="social-profile profile-widgets">
							<img class="profile-avatar rounded-circle" src="assets/images/portrait/thumbnail.png" alt="RTDL Image">
						</div>
					</div>
				</div>
				<ul class="list-group w-100 custom-list-group">
					<li class="list-group-item p-0 d-flex">
						<a href="javascript:;" class="text-dg col-12 py-sm px-xlg">
							<i class="fa fa-clock-o"></i>&nbsp;&nbsp;Recent Activities
							<span class="badge badge-theme float-right">12</span>
						</a>
					</li>
					<li class="list-group-item p-0 d-flex">
						<a href="javascript:;" class="text-dg col-12 py-sm px-xlg">
							<i class="fa fa-user"></i>&nbsp;&nbsp;Following
							<span class="badge badge-primary float-right">245</span>
						</a>
					</li>
					<li class="list-group-item p-0 d-flex">
						<a href="javascript:;" class="text-dg col-12 py-sm px-xlg">
							<i class="fa fa-picture-o"></i>&nbsp;&nbsp;Photos
							<span class="badge badge-success float-right">24+</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>