<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">Miscellaneous Page</a></li>
							<li class="breadcrumb-item active text-dg">Pricing</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-globe menu-icon" aria-hidden="true"></i> Pricing</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Pricing content-->
<div class="row mt-xlg">
	<div class="col-xl-10 col-lg-12 col-md-8 col-sm-8 col-10 pricing text-center offset-xl-1 offset-lg-0 offset-md-2 offset-sm-2 offset-1 my-sm">
		<div class="row mx-0">
			<div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 cpl-12 p-0">
				<div class="plan p-lg mb-sm">
					<h3>Enterprise<span>$59</span></h3>
					<div class="py-md">
						<a class="btn btn-theme signup" href="javascript:;">Sign up</a>
					</div>
					<ul class="list-unstyled p-0 mt-lg">
						<li><b>10GB</b> Disk Space</li>
						<li><b>100GB</b> Monthly Bandwidth</li>
						<li><b>20</b> Email Accounts</li>
						<li><b>Unlimited</b> subdomains</li>
					</ul> 
				</div>
			</div>
			<div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 cpl-12 p-0">
				<div class="plan p-lg mb-sm">
					<h3>Professional<span>$29</span></h3>
					<div class="py-md">
						<a class="btn btn-theme signup" href="javascript:;">Sign up</a>
					</div>
					<ul class="list-unstyled p-0 mt-lg">
						<li><b>5GB</b> Disk Space</li>
						<li><b>50GB</b> Monthly Bandwidth</li>
						<li><b>10</b> Email Accounts</li>
						<li><b>Unlimited</b> subdomains</li>
					</ul>
				</div>
			</div>
			<div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 cpl-12 p-0">
				<div class="plan p-lg mb-sm">
					<h3>Standard<span>$17</span></h3>
					<div class="py-md">
						<a class="btn btn-theme signup" href="javascript:;">Sign up</a>
					</div>
					<ul class="list-unstyled p-0 mt-lg">
						<li><b>3GB</b> Disk Space</li>
						<li><b>25GB</b> Monthly Bandwidth</li>
						<li><b>5</b> Email Accounts</li>
						<li><b>Unlimited</b> subdomains</li>
					</ul>
				</div>
			</div>
			<div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 cpl-12 p-0 d-block d-lg-none d-xl-block">
				<div class="plan p-lg mb-sm">
					<h3>Basic<span>$9</span></h3>
					<div class="py-md">
						<a class="btn btn-theme signup" href="javascript:;">Sign up</a>
					</div>
					<ul class="list-unstyled p-0 mt-lg">
						<li><b>1GB</b> Disk Space</li>
						<li><b>10GB</b> Monthly Bandwidth</li>
						<li><b>2</b> Email Accounts</li>
						<li><b>Unlimited</b> subdomains</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>