<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">E-Commerce</a></li>
							<li class="breadcrumb-item active text-dg">Product Detail</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Product Detail</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Product Detail Content -->
<div class="row">
	<div class="col-xl-10 offset-xl-1 col-lg-12 col-md-12 col-sm-12 col-12">
		<div class="row mx-0">
			<div class="col-lg-12 bg-white p-sm my-sm">
				<div class="ribbon ribbon-theme"><span class="font-12 text-center">15% Off</span></div>
				<div class="product-detail d-inline-block">
					<div class="row">
						<div class="col-12 col-sm-12 col-md-8 col-lg-4">
							<div class="product-img p-0">
								<div class="bordered product-image">
									<img src="assets/images/product-grid/product.jpg" data-src="assets/images/product-grid/product.jpg" alt="RTDL Image">
								</div>
							</div>
							<div class="product-image-list p-0 mt-xs">
								<img class="bordered p-xs mb-xs" src="assets/images/product-grid/product.jpg" alt="RTDL Image" width="64" height="64">
								<img class="bordered p-xs mb-xs" src="assets/images/product-grid/product2.jpg" alt="RTDL Image" width="64" height="64">
								<img class="bordered p-xs mb-xs" src="assets/images/product-grid/product3.jpg" alt="RTDL Image" width="64" height="64">
								<img class="bordered p-xs mb-xs" src="assets/images/product-grid/product4.jpg" alt="RTDL Image" width="64" height="64">
							</div>
							<small class="text-mdg">*Use 64*64 image for best fit</small>
						</div>
						<div class="col-12 col-sm-12 col-md-12 col-lg-8">
							<h3 class="mt-lg">Product name</h3>
							<ngb-rating rate="4" max="5" class="text-theme"></ngb-rating>
							<div class="price mt-xs mb-xs">
								<span class="text-mb text-bold">$100</span>
								<span class="text-strike text-mg">$175</span>
								<span class="text-success">15% off</span>
								<span class="price-info"><a href="javascript:;" title=""><i class="fa fa-question-circle"></i></a></span>
							</div>
							<div class="detail mt-sm">
								<span class="text-bold pb-md">Product description</span>
								<p class="text-mg mt-sm">
									<small>
										This is product description for product features. This is product description for product features. This is product description for product features. This is product description for product features. This is product description for product features. 
									</small>
								</p>
								<p class="text-mg">
									<small>
										This is product description for product features. This is product description for product features. This is product description for product features. This is product description for product features. This is product description for product features. 
									</small>
								</p>
							</div>
							<div class="p-0 mt-md">
								<a routerLink="/e-commerce/cart" target="_blank" class="btn btn-theme btn-raised"><i class="fa fa-shopping-cart"></i> Add to cart</a>
								<a routerLink="/e-commerce/payments" target="_blank" class="btn btn-theme"><i class="fa fa-shopping-basket"></i> Buy Now</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row mx-0">
			<div class="col-lg-12 bg-white p-sm my-sm">
				<div class="product-detail d-inline-block">
					<div class="row">
						<div class="col-12 col-sm-12 col-md-8 col-lg-4">
							<div class="product-img p-0">
								<div class="bordered product-image">
									<img src="assets/images/product-grid/product.jpg" data-src="assets/images/product-grid/product.jpg" alt="RTDL Image">
								</div>
							</div>
							<div class="product-image-list p-0 mt-xs">
								<img class="bordered p-xs mb-xs" src="assets/images/product-grid/product.jpg" alt="RTDL Image" width="64" height="64">
								<img class="bordered p-xs mb-xs" src="assets/images/product-grid/product2.jpg" alt="RTDL Image" width="64" height="64">
								<img class="bordered p-xs mb-xs" src="assets/images/product-grid/product3.jpg" alt="RTDL Image" width="64" height="64">
								<img class="bordered p-xs mb-xs" src="assets/images/product-grid/product4.jpg" alt="RTDL Image" width="64" height="64">
							</div>
							<small class="text-mdg">*Use 64*64 image for best fit</small>
						</div>
						<div class="col-12 col-sm-12 col-md-12 col-lg-8">
							<h3 class="mt-lg">Product name</h3>
							<ngb-rating rate="4" max="5" class="text-theme"></ngb-rating>
							<div class="price mt-xs mb-xs">
								<span class="text-mb text-bold">$100</span>
								<span class="text-strike text-mg">$175</span>
								<span class="text-success">15% off</span>
								<span class="price-info"><a href="javascript:;" title=""><i class="fa fa-question-circle"></i></a></span>
							</div>
							<div class="detail mt-sm">
								<span class="text-bold pb-md">Product description</span>
								<p class="text-mg mt-sm">
									<small>
										This is product description for product features. This is product description for product features. This is product description for product features. This is product description for product features. This is product description for product features. 
									</small>
								</p>
								<p class="text-mg">
									<small>
										This is product description for product features. This is product description for product features. This is product description for product features. This is product description for product features. This is product description for product features. 
									</small>
								</p>
							</div>
							<div class="p-0 mt-md">
								<a routerLink="/e-commerce/cart" target="_blank" class="btn btn-theme btn-raised"><i class="fa fa-shopping-cart"></i> Add to cart</a>
								<a routerLink="/e-commerce/payments" target="_blank" class="btn btn-theme"><i class="fa fa-shopping-basket"></i> Buy Now</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>