<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">Tables</a></li>
							<li class="breadcrumb-item active text-dg">JS Grid</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-table menu-icon" aria-hidden="true"></i> JS Grid</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- JS Grid Table Content -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="d-inline-block my-xs">JS Grid</h5>
				<a href="http://js-grid.com/demos/" target="_blank" class="btn btn-outline-secondary btn-sm float-right">Get JS Grid Doc</a>
			</div>
			<div class="card-body">
				<div id="jsGrid"></div>
			</div>
		</div>
	</div>
</div>