<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">UI Elements</a></li>
							<li class="breadcrumb-item active text-dg">UI Tabs</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-laptop menu-icon" aria-hidden="true"></i> UI Tabs</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- UI Tabs Content -->
<div class="row">
	<div class="col-xl-6 col-lg-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Horizontal Nav</h5>
			</div>
			<div class="card-body">
				<ngb-tabset>
					<ngb-tab title="Report">
						<ng-template ngbTabContent>
							<div class="p-md">
								<h4>Report</h4>
								<p class="p-md">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
							</div>
						</ng-template>
					</ngb-tab>
					<ngb-tab>
						<ng-template ngbTabTitle>Analytics Data</ng-template>
						<ng-template ngbTabContent>
							<div class="p-md">
								<h4>Analytics Data</h4>
								<p class="p-md">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
							</div>
						</ng-template>
					</ngb-tab>
					<ngb-tab title="Graph">
						<ng-template ngbTabContent>
							<div class="p-md">
								<h4>Graph</h4>
								<p class="p-md">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
							</div>
						</ng-template>
					</ngb-tab>
					<ngb-tab title="Activity">
						<ng-template ngbTabContent>
							<div class="p-md">
								<h4>Activity</h4>
								<p class="p-md">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
							</div>
						</ng-template>
					</ngb-tab>
				</ngb-tabset>
			</div>
		</div>
	</div>
	<div class="col-xl-6 col-lg-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Vertical Nav</h5>
			</div>
			<div class="card-body">
				<div class="row">
					<ngb-tabset orientation="vertical">
						<ngb-tab title="Report">
							<ng-template ngbTabContent>
								<div class="p-md">
									<h4>Report</h4>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
								</div>
							</ng-template>
						</ngb-tab>
						<ngb-tab>
							<ng-template ngbTabTitle>Analytics Data</ng-template>
							<ng-template ngbTabContent>
								<div class="p-md">
									<h4>Analytics Data</h4>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
								</div>
							</ng-template>
						</ngb-tab>
					</ngb-tabset>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xl-6 col-lg-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Nav justification</h5>
			</div>
			<div class="card-body">
				<ngb-tabset [justify]="currentJustify">
					<ngb-tab title="Report">
						<ng-template ngbTabContent>
							<div class="p-md">
								<h4>Report</h4>
								<p class="p-md">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
							</div>
						</ng-template>
					</ngb-tab>
					<ngb-tab>
						<ng-template ngbTabTitle>Analytics Data</ng-template>
						<ng-template ngbTabContent>
							<div class="p-md">
								<h4>Analytics Data</h4>
								<p class="p-md">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
							</div>
						</ng-template>
					</ngb-tab>
					<ngb-tab title="Graph">
						<ng-template ngbTabContent>
							<div class="p-md">
								<h4>Graph</h4>
								<p class="p-md">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
							</div>
						</ng-template>
					</ngb-tab>
					<ngb-tab title="Activity">
						<ng-template ngbTabContent>
							<div class="p-md">
								<h4>Activity</h4>
								<p class="p-md">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
							</div>
						</ng-template>
					</ngb-tab>
				</ngb-tabset>

				<div class="btn-group btn-group-toggle ngb-group-button" ngbRadioGroup [(ngModel)]="currentJustify">
					<label ngbButtonLabel class="btn-outline-primary btn-sm">
						<input ngbButton type="radio" value="start">Start
					</label>
					<label ngbButtonLabel class="btn-outline-primary btn-sm">
						<input ngbButton type="radio" value="center">Center
					</label>
					<label ngbButtonLabel class="btn-outline-primary btn-sm">
						<input ngbButton type="radio" value="end">End
					</label>
					<label ngbButtonLabel class="btn-outline-primary btn-sm">
						<input ngbButton type="radio" value="fill">Fill
					</label>
					<label ngbButtonLabel class="btn-outline-primary btn-sm">
						<input ngbButton type="radio" value="justified">Justified
					</label>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-6 col-lg-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Nav Pills</h5>
			</div>
			<div class="card-body">
				<ngb-tabset type="pills">
					<ngb-tab title="Report">
						<ng-template ngbTabContent>
							<div class="p-md">
								<h4>Report</h4>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
							</div>
						</ng-template>
					</ngb-tab>
					<ngb-tab>
						<ng-template ngbTabTitle>Analytics Data</ng-template>
						<ng-template ngbTabContent>
							<div class="p-md">
								<h4>Analytics Data</h4>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
							</div>
						</ng-template>
					</ngb-tab>
					<ngb-tab title="Graph">
						<ng-template ngbTabContent>
							<div class="p-md">
								<h4>Graph</h4>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
							</div>
						</ng-template>
					</ngb-tab>
					<ngb-tab title="Activity">
						<ng-template ngbTabContent>
							<div class="p-md">
								<h4>Activity</h4>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
							</div>
						</ng-template>
					</ngb-tab>
				</ngb-tabset>				
			</div>
		</div>
	</div>
</div>