<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">Charts</a></li>
							<li class="breadcrumb-item active text-dg">Flot Charts</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-pie-chart menu-icon" aria-hidden="true"></i> Flot Charts</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Float Charts Content -->
<div class="row">
	<div class="col-12 px-sm my-sm">
		<div class="card">
			<div class="card-body text-center">
				<div class="py-lg">
					<h4 class="font-roboto-thin my-sm">Flot is a pure JavaScript plotting library for jQuery, with a focus on simple usage, attractive looks and interactive features.</h4>
					<a href="http://www.flotcharts.org" target="_blank" class="btn btn-outline-theme">Get Flot Charts Doc</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Multi Chart</h5>
			</div>
			<div class="card-body">
				<div class="row m-0">
					<div id="flot-multiChart" class="height-320 col-12 p-0"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Update Chart</h5>
			</div>
			<div class="card-body">
				<div class="row m-0">
					<div id="flot-updateChart" class="height-320 col-12 p-0 chart-dark-shadow"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Line Chart</h5>
			</div>
			<div class="card-body">
				<div class="row m-0">
					<div id="flot-line" class="height-320 col-12 p-0"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Area Chart</h5>
			</div>
			<div class="card-body">
				<div class="row m-0">
					<div id="flot-area" class="height-320 col-12 p-0"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Bar Chart</h5>
			</div>
			<div class="card-body">
				<div class="row m-0">
					<div id="flot-bar" class="height-320 col-12 p-0"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Stack Chart</h5>
			</div>
			<div class="card-body">
				<div class="row m-0">
					<div id="flot-stack" class="height-320 col-12 p-0"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Pie Chart</h5>
			</div>
			<div class="card-body">
				<div class="row m-0">
					<div id="flot-pie" class="height-320 col-12 p-0"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Dount Chart</h5>
			</div>
			<div class="card-body">
				<div class="row m-0">
					<div id="flot-dount" class="height-320 col-12 p-0"></div>
				</div>
			</div>
		</div>
	</div>					
</div>