<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">E-Commerce</a></li>
							<li class="breadcrumb-item active text-dg">Product List</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Product List</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Product List Content-->
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Products</h5>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-striped productlist-table" data-toggle-column="first" data-sorting="true">
						<thead>
							<tr>
								<th>Product name</th>
								<th>Model</th>
								<th data-type="number">Price</th>
								<th data-type="number">Total sold</th>
								<th data-type="html">Total in stock</th>
								<th data-type="html">Published</th>
								<th data-sortable="false" data-type="html"><span class="float-right">Action</span></th>
								<th data-breakpoints="all" data-title="Detail" data-type="html"></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Product 1</td>
								<td>Model 1</td>
								<td>$100.00</td>
								<td>495</td>
								<td>5 <label class="m-0 badge badge-warning"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Low stock</label></td>
								<td>
									<label class="m-0 badge badge-success"><i class="fa fa-check" aria-hidden="true"></i> Published</label>
								</td>
								<td class="px-0">
									<div class="float-right">
										<a routerLink="/e-commerce/product-detail" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="View"><i class="fa fa-folder-open fa-lg"></i></a>
										<a routerLink="/e-commerce/product-edit" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="Edit"><i class="fa fa-pencil fa-lg"></i></a>
										<a href="javascript:;" class="btn mb-xs btn-outline-secondary btn-sm mr-md" placement="top" ngbTooltip="Delete"><i class="fa fa-trash-o fa-lg"></i></a>
									</div>
								</td>
								<td>
									<table>
										<tr>
											<td><img src="assets/images/image.svg" alt="RTDL Image" width="100" class="pr-md"></td>
											<td>
												Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td>Product 2</td>
								<td>Model 2</td>
								<td>$230.00</td>
								<td>0</td>
								<td>60</td>
								<td>
									<label class="m-0 badge badge-info"><i class="fa fa-book" aria-hidden="true"></i> Under Review</label></td>
								<td class="px-0">
									<div class="float-right">
										<a routerLink="/e-commerce/product-detail" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="View"><i class="fa fa-folder-open fa-lg"></i></a>
										<a routerLink="/e-commerce/product-edit" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="Edit"><i class="fa fa-pencil fa-lg"></i></a>
										<a href="javascript:;" class="btn mb-xs btn-outline-secondary btn-sm mr-md" placement="top" ngbTooltip="Delete"><i class="fa fa-trash-o fa-lg"></i></a>
									</div>
								</td>
								<td>
									<table>
										<tr>
											<td><img src="assets/images/image.svg" alt="RTDL Image" width="100" class="pr-md"></td>
											<td>
												Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td>Product 3</td>
								<td>Model 3</td>
								<td>$5.00</td>
								<td>0</td>
								<td>100</td>
								<td>
									<label class="m-0 badge badge-info"><i class="fa fa-book" aria-hidden="true"></i> Under Review</label>
								</td>
								<td class="px-0">
									<div class="float-right">
										<a routerLink="/e-commerce/product-detail" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="View"><i class="fa fa-folder-open fa-lg"></i></a>
										<a routerLink="/e-commerce/product-edit" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="Edit"><i class="fa fa-pencil fa-lg"></i></a>
										<a href="javascript:;" class="btn mb-xs btn-outline-secondary btn-sm mr-md" placement="top" ngbTooltip="Delete"><i class="fa fa-trash-o fa-lg"></i></a>
									</div>
								</td>
								<td>
									<table>
										<tr>
											<td><img src="assets/images/image.svg" alt="RTDL Image" width="100" class="pr-md"></td>
											<td>
												Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td>Product 4</td>
								<td>Model 4</td>
								<td>$21.00</td>
								<td>78</td>
								<td>6</td>
								<td>
									<label class="m-0 badge badge-danger"><i class="fa fa-times" aria-hidden="true"></i> Closed</label>
								</td>
								<td class="px-0">
									<div class="float-right">
										<a routerLink="/e-commerce/product-detail" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="View"><i class="fa fa-folder-open fa-lg"></i></a>
										<a routerLink="/e-commerce/product-edit" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="Edit"><i class="fa fa-pencil fa-lg"></i></a>
										<a href="javascript:;" class="btn mb-xs btn-outline-secondary btn-sm mr-md" placement="top" ngbTooltip="Delete"><i class="fa fa-trash-o fa-lg"></i></a>
									</div>
								</td>
								<td>
									<table>
										<tr>
											<td><img src="assets/images/image.svg" alt="RTDL Image" width="100" class="pr-md"></td>
											<td>
												Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td>Product 5</td>
								<td>Model 5</td>
								<td>$53.00</td>
								<td>190</td>
								<td>330</td>
								<td>
									<label class="m-0 badge badge-success"><i class="fa fa-check" aria-hidden="true"></i> Published</label>
								</td>
								<td class="px-0">
									<div class="float-right">
										<a routerLink="/e-commerce/product-detail" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="View"><i class="fa fa-folder-open fa-lg"></i></a>
										<a routerLink="/e-commerce/product-edit" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="Edit"><i class="fa fa-pencil fa-lg"></i></a>
										<a href="javascript:;" class="btn mb-xs btn-outline-secondary btn-sm mr-md" placement="top" ngbTooltip="Delete"><i class="fa fa-trash-o fa-lg"></i></a>
									</div>
								</td>
								<td>
									<table>
										<tr>
											<td><img src="assets/images/image.svg" alt="RTDL Image" width="100" class="pr-md"></td>
											<td>
												Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td>Product 6</td>
								<td>Model 6</td>
								<td>$42.00</td>
								<td>1120</td>
								<td>700</td>
								<td>
									<label class="m-0 badge badge-success"><i class="fa fa-check" aria-hidden="true"></i> Published</label>
								</td>
								<td class="px-0">
									<div class="float-right">
										<a routerLink="/e-commerce/product-detail" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="View"><i class="fa fa-folder-open fa-lg"></i></a>
										<a routerLink="/e-commerce/product-edit" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="Edit"><i class="fa fa-pencil fa-lg"></i></a>
										<a href="javascript:;" class="btn mb-xs btn-outline-secondary btn-sm mr-md" placement="top" ngbTooltip="Delete"><i class="fa fa-trash-o fa-lg"></i></a>
									</div>
								</td>
								<td>
									<table>
										<tr>
											<td><img src="assets/images/image.svg" alt="RTDL Image" width="100" class="pr-md"></td>
											<td>
												Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td>Product 7</td>
								<td>Model 7</td>
								<td>$60.00</td>
								<td>840</td>
								<td>10 <label class="m-0 badge badge-warning"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Low stock</label></td>
								<td>
									<label class="m-0 badge badge-success"><i class="fa fa-check" aria-hidden="true"></i> Published</label>
								</td>
								<td class="px-0">
									<div class="float-right">
										<a routerLink="/e-commerce/product-detail" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="View"><i class="fa fa-folder-open fa-lg"></i></a>
										<a routerLink="/e-commerce/product-edit" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="Edit"><i class="fa fa-pencil fa-lg"></i></a>
										<a href="javascript:;" class="btn mb-xs btn-outline-secondary btn-sm mr-md" placement="top" ngbTooltip="Delete"><i class="fa fa-trash-o fa-lg"></i></a>
									</div>
								</td>
								<td>
									<table>
										<tr>
											<td><img src="assets/images/image.svg" alt="RTDL Image" width="100" class="pr-md"></td>
											<td>
												Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td>Product 8</td>
								<td>Model 8</td>
								<td>$300.00</td>
								<td>0</td>
								<td>50</td>
								<td>
									<label class="m-0 badge badge-info"><i class="fa fa-book" aria-hidden="true"></i> Under Review</label>
								</td>
								<td class="px-0">
									<div class="float-right">
										<a routerLink="/e-commerce/product-detail" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="View"><i class="fa fa-folder-open fa-lg"></i></a>
										<a routerLink="/e-commerce/product-edit" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="Edit"><i class="fa fa-pencil fa-lg"></i></a>
										<a href="javascript:;" class="btn mb-xs btn-outline-secondary btn-sm mr-md" placement="top" ngbTooltip="Delete"><i class="fa fa-trash-o fa-lg"></i></a>
									</div>
								</td>
								<td>
									<table>
										<tr>
											<td><img src="assets/images/image.svg" alt="RTDL Image" width="100" class="pr-md"></td>
											<td>
												Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td>Product 9</td>
								<td>Model 9</td>
								<td>$175.00</td>
								<td>840</td>
								<td>12</td>
								<td>
									<label class="m-0 badge badge-danger"><i class="fa fa-times" aria-hidden="true"></i> Closed</label>
								</td>
								<td class="px-0">
									<div class="float-right">
										<a routerLink="/e-commerce/product-detail" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="View"><i class="fa fa-folder-open fa-lg"></i></a>
										<a routerLink="/e-commerce/product-edit" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="Edit"><i class="fa fa-pencil fa-lg"></i></a>
										<a href="javascript:;" class="btn mb-xs btn-outline-secondary btn-sm mr-md" placement="top" ngbTooltip="Delete"><i class="fa fa-trash-o fa-lg"></i></a>
									</div>
								</td>
								<td>
									<table>
										<tr>
											<td><img src="assets/images/image.svg" alt="RTDL Image" width="100" class="pr-md"></td>
											<td>
												Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td>Product 10</td>
								<td>Model 10</td>
								<td>$12.00</td>
								<td>346</td>
								<td>4 <label class="m-0 badge badge-warning"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Low stock</label></td>
								<td>
									<label class="m-0 badge badge-success"><i class="fa fa-check" aria-hidden="true"></i> Published</label>
								</td>
								<td class="px-0">
									<div class="float-right">
										<a routerLink="/e-commerce/product-detail" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="View"><i class="fa fa-folder-open fa-lg"></i></a>
										<a routerLink="/e-commerce/product-edit" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="Edit"><i class="fa fa-pencil fa-lg"></i></a>
										<a href="javascript:;" class="btn mb-xs btn-outline-secondary btn-sm mr-md" placement="top" ngbTooltip="Delete"><i class="fa fa-trash-o fa-lg"></i></a>
									</div>
								</td>
								<td>
									<table>
										<tr>
											<td><img src="assets/images/image.svg" alt="RTDL Image" width="100" class="pr-md"></td>
											<td>
												Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="pagination-theme">
							<ngb-pagination [collectionSize]="50" class="d-flex justify-content-end" page="2"></ngb-pagination>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>