/******************************************************
 ** chartist.less
 ** 
 ** LESS for main dashboard chartist chart.
 ** Developer: Ranpariya - The Development Lab - India
 ******************************************************/
/*******************
 * Chartist Gradient
 *******************/
.chartist-gradient-chart {
  .ct-series-a {
    .ct-area {
      fill: url(#chartist-gradient) !important;
      fill-opacity: 0.8;
    }
    .ct-point-circle {
      stroke: #E100FF;
    }
    .ct-line {
      stroke: #E100FF;
    }
  }
  .ct-series-b {
    .ct-area {
      fill: url(#chartist-gradient1) !important;
      fill-opacity: 0.8;
    }
    .ct-point-circle {
      stroke: #7F00FF;
    }
    .ct-line {
      stroke: #7F00FF;
    }
  }
  .ct-point-circle {
    stroke-width: 2px;
    fill: white;
  }
  .ct-line {
    fill: none;
    stroke-width: 2px;
  }
}