/******************************************************
 ** dashboards.less
 ** 
 ** Less for All Dashboard UIs.
 ** Developer: Ranpariya - The Development Lab - India
 ******************************************************/

/***********************
 * Am Chart (Dashboard)
 ***********************/
.amcharts-export-menu-top-right{ display: none;}
.amcharts-graph-g2 {
  .amcharts-graph-stroke {
    stroke-dasharray: 3px 3px;
    stroke-linejoin: round;
    stroke-linecap: round;
    .animation(am-moving-dashes 1s linear infinite);
  }
}
@-webkit-keyframes am-moving-dashes {
  100% {
    stroke-dashoffset: -31px;
  }
}
@keyframes am-moving-dashes {
  100% {
    stroke-dashoffset: -31px;
  }
}

/****************************************************************************
 * AM Chart (CSS Animations For Sales Dashboard and Data Analytics Dashboard)
 ****************************************************************************/
.sales-performance {
  .amcharts-graph-column-front {
    &:hover {
      fill: #a5a0a0;
      stroke: #a5a0a0;
      -webkit-transition: all .3s ease-out;
      -moz-transition: all .3s ease-out;
      transition: all .3s ease-out;
    }
  }
}
.social-analytics {
  .amcharts-graph-column-front {
    &:hover {
      fill: #4f6ba8;
      stroke: #4f6ba8;
      -webkit-transition: all .3s ease-out;
      -moz-transition: all .3s ease-out;
      transition: all .3s ease-out;
    }
  }
}
.sales-performance ,.social-analytics{
  .amcharts-graph-g3 {
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-dasharray: 500%;
    stroke-dashoffset: 0;
    -webkit-animation: am-draw 40s;
    -moz-animation: am-draw 40s;
    animation: am-draw 40s;
  }
  @-webkit-keyframes "am-draw" {
    0% {
      stroke-dashoffset: 500%;
    }
    100% {
      stroke-dashoffset: 0%;
    }
  }
  @keyframes "am-draw" {
    0% {
      stroke-dashoffset: 500%;
    }
    100% {
      stroke-dashoffset: 0%;
    }
  }
  .amcharts-value-axis.value-axis-a3 {
    display: none;
  }
  .lastBullet {
    -webkit-animation: am-pulsating 1s ease-out infinite;
    -moz-animation: am-pulsating 1s ease-out infinite;
    animation: am-pulsating 1s ease-out infinite;
  }
  @-webkit-keyframes "am-pulsating" {
    0% {
      stroke-opacity: 1;
      stroke-width: 0px;
    }
    100% {
      stroke-opacity: 0;
      stroke-width: 50px;
    }
  }
  @keyframes "am-pulsating" {
    0% {
      stroke-opacity: 1;
      stroke-width: 0px;
    }
    100% {
      stroke-opacity: 0;
      stroke-width: 50px;
    }
  }
}