/******************************************************
 ** scrollspy.less
 ** 
 ** Less for Scrollspy.
 ** Developer: Ranpariya - The Development Lab - India
 ******************************************************/

/************
 * Scrollspy
 ************/
.scrollspy {
  .nav-pills {
  	.nav-link {
	    &.active {
	      color: @white-color;
	      background-color: @theme-color !important;
	      border-radius: 0px;
	    }
  	}
  }
}
.scrollspy-cn {
  position: relative;
  min-height: 500px !important;
  overflow: auto;
}