/******************************************************
 ** text-editors.less
 ** 
 ** LESS for Text Editor.
 ** Developer: Ranpariya - The Development Lab - India
 ******************************************************/

.note-editor .note-editing-area {
  min-height: 400px;
}
.note-editor.note-frame.fullscreen {
  height: 100%;
}