/******************************************************
 ** theme-setting.less
 ** 
 ** LESS for Theme Setting Menu.
 ** NOTE: Not Usable in real work. Developed for
 ** Demonstration purpose.
 ** Developer: Ranpariya - The Development Lab - India
 ******************************************************/

/**************************************************
 * Theme Setting (Auth pages)
 **************************************************/
.theme-setting-icon {
  right: 0;
  top: 100px;
  font-size: 18px;
  cursor: pointer;
  z-index: 555555;
  position: fixed;
  height: 35px;
  width: 35px;
}
.theme-setting-menu {
  position: fixed;
  top: 135px !important;
  right: -250px;
  background-color: rgba(0,0,0,0.8);
  width: 210px;
  z-index: 555555;
  .transition(right 300ms ease-out);
  li {
    width: 26px;
    height: 26px;
    cursor: pointer;
    display: inline-block;
    border-radius: 10% !important;
    .transition(all 0.2s ease-in-out);
    &:hover {
      .transform(scale(1.1));
    }
    &.strawberry-theme {
      background: #ed174c;
    }
    &.teal-theme {
      background: #18BA9B;
    }
    &.fresh-apple-theme {
      background: #74C52C;
    }
    &.blueberry-theme {
      background: #26aae0;
    }
    &.orange-theme {
      background: #f9553e;
    }
    &.almond-theme {
      background: #F38431;
    } 
    &.lime-theme {
      background: #e2b60b;
    }
    &.elderberry-theme {
      background: #7847b5;
    }
  }
  &.theme-setting-menu-toggle {
    .transition(right 300ms ease-out);
    right: 0;
  }
}