<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">Miscellaneous Page</a></li>
							<li class="breadcrumb-item active text-dg">Horizontal Timeline</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-globe menu-icon" aria-hidden="true"></i> Horizontal Timeline</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Horizontal Timeline Content -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card">
			<div class="card-body">
				<section class="cd-horizontal-timeline">
					<div class="timeline">
						<div class="events-wrapper">
							<div class="events">
								<ol class="list-unstyled">
									<li><a href="#0" data-date="16/01/2016" class="selected">16 Jan</a></li>
									<li><a href="#0" data-date="28/02/2016">28 Feb</a></li>
									<li><a href="#0" data-date="20/03/2016">20 Mar</a></li>
									<li><a href="#0" data-date="20/05/2016">20 May</a></li>
									<li><a href="#0" data-date="09/07/2016">09 Jul</a></li>
									<li><a href="#0" data-date="30/08/2016">30 Aug</a></li>
									<li><a href="#0" data-date="15/09/2016">15 Sep</a></li>
									<li><a href="#0" data-date="01/11/2016">01 Nov</a></li>
									<li><a href="#0" data-date="10/12/2016">10 Dec</a></li>
									<li><a href="#0" data-date="19/01/2017">19 Jan</a></li>
									<li><a href="#0" data-date="03/03/2017">3 Mar</a></li>
								</ol>

								<span class="filling-line" aria-hidden="true"></span>
							</div> <!-- .events -->
						</div> <!-- .events-wrapper -->
							
						<ul class="cd-timeline-navigation list-unstyled">
							<li><a href="#0" class="prev inactive text-dg"><i class="fa fa-angle-left fa-2x" aria-hidden="true"></i></a></li>
							<li><a href="#0" class="next text-dg"><i class="fa fa-angle-right fa-2x" aria-hidden="true"></i></a></li>
						</ul> <!-- .cd-timeline-navigation -->
					</div> 
					<div class="events-content">
						<ol class="list-unstyled">
							<li class="selected" data-date="16/01/2016">
								<h2>Horizontal Timeline</h2>
								<em>January 16th, 2016</em>
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
								</p>
							</li>

							<li data-date="28/02/2016">
								<h2>Event title here</h2>
								<em>February 28th, 2016</em>
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
								</p>
							</li>

							<li data-date="20/03/2016">
								<h2>Horizontal Timeline</h2>
								<em>March 20th, 2016</em>
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
								</p>
							</li>

							<li data-date="20/05/2016">
								<h2>Event title here</h2>
								<em>May 20th, 2016</em>
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
								</p>
							</li>

							<li data-date="09/07/2016">
								<h2>Horizontal Timeline</h2>
								<em>July 9th, 2016</em>
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
								</p>
							</li>

							<li data-date="30/08/2016">
								<h2>Event title here</h2>
								<em>August 30th, 2016</em>
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
								</p>
							</li>

							<li data-date="15/09/2016">
								<h2>Horizontal Timeline</h2>
								<em>September 15th, 2016</em>
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
								</p>
							</li>

							<li data-date="01/11/2016">
								<h2>Event title here</h2>
								<em>November 1st, 2016</em>
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
								</p>
							</li>

							<li data-date="10/12/2016">
								<h2>Horizontal Timeline</h2>
								<em>December 10th, 2016</em>
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
								</p>
							</li>

							<li data-date="19/01/2017">
								<h2>Event title here</h2>
								<em>January 19th, 2017</em>
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
								</p>
							</li>

							<li data-date="03/03/2017">
								<h2>Horizontal Timeline</h2>
								<em>March 3rd, 2017</em>
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
								</p>
							</li>
						</ol>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>