<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">Maps</a></li>
							<li class="breadcrumb-item active text-dg">Google Maps</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-map menu-icon" aria-hidden="true"></i> Google Maps</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Google Map Content -->
<div class="row">
	<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="d-inline-block my-xs">Marker Cluster Map</h5>
				<a class="btn btn-outline-secondary btn-sm float-right" target="_blank" href="https://developers.google.com/maps/documentation/javascript/marker-clustering#top_of_page">Get Marker Cluster Map Doc</a>
			</div>
			<div class="card-body">
				<div id="cluster-map" style="height:400px"></div>
			</div>
		</div>
	</div>
	<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="d-inline-block my-xs">Styled Map</h5>
				<a class="btn btn-outline-secondary btn-sm float-right" target="_blank" href="https://developers.google.com/maps/documentation/javascript/examples/maptype-styled-simple">Get Styled Map Doc</a>
			</div>
			<div class="card-body">
				<div id="styled-map" style="height:400px"></div>
			</div>
		</div>
	</div>
	<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="d-inline-block my-xs">Google Map with night view</h5>
				<a class="btn btn-outline-secondary btn-sm float-right" target="_blank" href="https://developers.google.com/maps/documentation/javascript/examples/style-array">Get Night View Map Doc</a>
			</div>
			<div class="card-body">
				<div id="night-map" style="height:400px"></div>
			</div>
		</div>
	</div>
	<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="d-inline-block my-xs">KML Map</h5>
				<a class="btn btn-outline-secondary btn-sm float-right" target="_blank" href="https://developers.google.com/maps/documentation/javascript/examples/layer-kml">Get KML Map Doc</a>
			</div>
			<div class="card-body">
				<div id="kml-map" style="height:400px"></div>
			</div>
		</div>
	</div>
	<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="d-inline-block my-xs">Traffic Map</h5>
				<a class="btn btn-outline-secondary btn-sm float-right" target="_blank" href="https://developers.google.com/maps/documentation/javascript/examples/layer-traffic">Get Traffic Map Doc</a>
			</div>
			<div class="card-body">
				<div id="traffic-map" style="height:400px"></div>
			</div>
		</div>
	</div>
	<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card google-road-map">
			<div class="card-header">
				<h5 class="d-inline-block my-xs">Road Map</h5>
				<a class="btn btn-outline-secondary btn-sm float-right" target="_blank" href="https://developers.google.com/maps/documentation/roads/snap#demo">Get Road Map Doc</a>
			</div>
			<div class="card-body">
				<p class="text-mg">(Draw a road using mouse and double click to see road direction)</p>
				<div id="road-map" style="height:400px"></div>
				<div id="bar">
					<p class="auto"><input type="text" id="autoc"/></p>
					<p><a id="clear" href="javascript:;">Click here</a> to clear map.</p>
				</div>
			</div>
		</div>
	</div>
</div>