<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">E-Commerce</a></li>
							<li class="breadcrumb-item active text-dg">Product Grid</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Product Grid</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Product Box Content-->
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-12 my-sm">
		<div class="row">
			<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
				<div class="product-grid-primary mb-lg">
					<div class="product-img">
						<div class="ribbon ribbon-success"><span class="font-12 text-center">50% off</span></div>
						<span class="product-like"><i class="fa fa-heart-o fa-2x text-mb"></i></span>
						<div class="co-12 bg-mdg height-200">
							<h3 class="text-white text-center m-0 p-lg text-bold">Product Image</h3>
						</div>
					</div>
					<div class="product-detail">
						<div class="category"><small>Category</small></div>
						<div class="text-mb py-sm"><b>Product</b></div>
						<p>Product more detail to publishing your product.</p>
						<div class="py-sm"><b>Price: <span>$150</span></b> <small><del>$300</del></small></div>
						<a routerLink="/e-commerce/product-detail" target="_blank" class="btn btn-theme">Info <i class="fa fa-info-circle"></i></a>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
				<div class="product-grid-primary mb-lg">
					<div class="product-img">
						<span class="product-like"><i class="fa fa-heart-o fa-2x text-mb"></i></span>
						<div class="co-12 bg-mdg height-200">
							<h3 class="text-white text-center m-0 p-lg text-bold">Product Image</h3>
						</div>
					</div>
					<div class="product-detail">
						<div class="category"><small>Category</small></div>
						<div class="text-mb py-sm"><b>Product</b></div>
						<p>Product more detail to publishing your product.</p>
						<div class="py-sm"><b>Price: <span>$50</span></b> <small><del>$75</del></small></div>
						<a routerLink="/e-commerce/product-detail" target="_blank" class="btn btn-theme">Info <i class="fa fa-info-circle"></i></a>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
				<div class="product-grid-primary mb-lg">
					<div class="product-img">
						<span class="product-like"><i class="fa fa-heart-o fa-2x text-mb"></i></span>
						<div class="co-12 bg-mdg height-200">
							<h3 class="text-white text-center m-0 p-lg text-bold">Product Image</h3>
						</div>
					</div>
					<div class="product-detail">
						<div class="category"><small>Category</small></div>
						<div class="text-mb py-sm"><b>Product</b></div>
						<p>Product more detail to publishing your product.</p>
						<div class="py-sm"><b>Price: <span>$50</span></b> <small><del>$75</del></small></div>
						<a routerLink="/e-commerce/product-detail" target="_blank" class="btn btn-theme">Info <i class="fa fa-info-circle"></i></a>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
				<div class="product-grid-primary mb-lg">
					<div class="product-img">
						<span class="product-like"><i class="fa fa-heart-o fa-2x text-mb"></i></span>
						<div class="co-12 bg-mdg height-200">
							<h3 class="text-white text-center m-0 p-lg text-bold">Product Image</h3>
						</div>
					</div>
					<div class="product-detail">
						<div class="category"><small>Category</small></div>
						<div class="text-mb py-sm"><b>Product</b></div>
						<p>Product more detail to publishing your product.</p>
						<div class="py-sm"><b>Price: <span>$50</span></b> <small><del>$75</del></small></div>
						<a routerLink="/e-commerce/product-detail" target="_blank" class="btn btn-theme">Info <i class="fa fa-info-circle"></i></a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
				<div class="product-grid-secondary mb-lg">
					<div class="product-img">
						<span class="product-like"><i class="fa fa-heart-o fa-2x text-mb"></i></span>
						<div class="co-12 bg-mdg height-200">
							<h3 class="text-white text-center m-0 p-lg text-bold">Product Image</h3>
						</div>
					</div>
					<div class="product-detail">
						<div class="category"><small>Category</small></div>
						<div class="text-mb py-sm"><b>Product</b></div>
						<p>Product more detail to publishing your product.</p>
						<div class="py-sm"><b>Price: <span>$50</span></b> <small><del>$75</del></small></div>
						<div class="row">
							<div class="col-12 p-0">
								<a routerLink="/e-commerce/product-detail" target="_blank" class="btn btn-theme float-right mr-lg">Info <i class="fa fa-info-circle"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
				<div class="product-grid-secondary mb-lg">
					<div class="product-img">
						<span class="product-like"><i class="fa fa-heart-o fa-2x text-mb"></i></span>
						<div class="co-12 bg-mdg height-200">
							<h3 class="text-white text-center m-0 p-lg text-bold">Product Image</h3>
						</div>
					</div>
					<div class="product-detail">
						<div class="category"><small>Category</small></div>
						<div class="text-mb py-sm"><b>Product</b></div>
						<p>Product more detail to publishing your product.</p>
						<div class="py-sm"><b>Price: <span>$50</span></b> <small><del>$75</del></small></div>
						<a routerLink="/e-commerce/product-detail" target="_blank" class="btn btn-theme">Info <i class="fa fa-info-circle"></i></a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
				<div class="product-grid-primary mb-lg">
					<div class="product-img">
						<span class="product-like"><i class="fa fa-heart-o fa-2x text-mb"></i></span>
						<div class="co-xs-12 bg-mdg height-200">
							<h3 class="text-white text-center m-0 p-lg text-bold">Product Image</h3>
						</div>
					</div>
					<div class="product-detail">
						<div class="category"><small>Category</small></div>
						<div class="text-mb py-sm"><b>Product</b></div>
						<p>Product more detail to publishing your product.</p>
						<div class="py-sm"><b>Price: <span>$50</span></b> <small><del>$75</del></small></div>
						<a routerLink="/e-commerce/product-detail" target="_blank" class="btn btn-theme">Info <i class="fa fa-info-circle"></i></a>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
				<div class="product-grid-primary mb-lg">
					<div class="product-img">
						<span class="product-like"><i class="fa fa-heart-o fa-2x text-mb"></i></span>
						<div class="co-xs-12 bg-mdg height-200">
							<h3 class="text-white text-center m-0 p-lg text-bold">Product Image</h3>
						</div>
					</div>
					<div class="product-detail">
						<div class="category"><small>Category</small></div>
						<div class="text-mb py-sm"><b>Product</b></div>
						<p>Product more detail to publishing your product.</p>
						<div class="py-sm"><b>Price: <span>$50</span></b> <small><del>$75</del></small></div>
						<a routerLink="/e-commerce/product-detail" target="_blank" class="btn btn-theme">Info <i class="fa fa-info-circle"></i></a>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
				<div class="product-grid-primary mb-lg">
					<div class="product-img">
						<div class="ribbon ribbon-theme"><span class="font-12 text-center">50% off</span></div>
						<span class="product-like"><i class="fa fa-heart-o fa-2x text-mb"></i></span>
						<div class="co-xs-12 bg-mdg height-200">
							<h3 class="text-white text-center m-0 p-lg text-bold">Product Image</h3>
						</div>
					</div>
					<div class="product-detail">
						<div class="category"><small>Category</small></div>
						<div class="text-mb py-sm"><b>Product</b></div>
						<p>Product more detail to publishing your product.</p>
						<div class="py-sm"><b>Price: <span>$150</span></b> <small><del>$300</del></small></div>
						<a routerLink="/e-commerce/product-detail" target="_blank" class="btn btn-theme">Info <i class="fa fa-info-circle"></i></a>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
				<div class="product-grid-primary mb-lg">
					<div class="product-img">
						<span class="product-like"><i class="fa fa-heart-o fa-2x text-mb"></i></span>
						<div class="co-xs-12 bg-mdg height-200">
							<h3 class="text-white text-center m-0 p-lg text-bold">Product Image</h3>
						</div>
					</div>
					<div class="product-detail">
						<div class="category"><small>Category</small></div>
						<div class="text-mb py-sm"><b>Product</b></div>
						<p>Product more detail to publishing your product.</p>
						<div class="py-sm"><b>Price: <span>$50</span></b> <small><del>$75</del></small></div>
						<a routerLink="/e-commerce/product-detail" target="_blank" class="btn btn-theme">Info <i class="fa fa-info-circle"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>