<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">Project Management</a></li>
							<li class="breadcrumb-item active text-dg">Issue Detail</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-tasks" aria-hidden="true"></i> Issue Detail</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Issue Detail Content -->
<div class="row">
	<div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Issue Detail</h5>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table">
						<tbody>
							<tr>
								<td><b>Subject:</b></td>
								<td><b>Site Testing</b> <a href="javascript:;"><i class="fa fa-pencil text-mg float-right" aria-hidden="true"></i></a></td>
							</tr>
							<tr>
								<td><b>Assignee:</b></td>
								<td>
									<a routerLink="/profile">Jonny Smith</a> <a href="javascript:;"><i class="fa fa-pencil text-mg float-right" aria-hidden="true"></i></a>
								</td>
							</tr>
							<tr>
								<td><b>Tracker:</b></td>
								<td class="text-danger">Bug <a href="javascript:;"><i class="fa fa-pencil text-mg float-right" aria-hidden="true"></i></a></td>
							</tr>
							<tr>
								<td><b>Status:</b></td>
								<td><span class="badge badge-success">New</span> <a href="javascript:;"><i class="fa fa-pencil text-mg float-right" aria-hidden="true"></i></a></td>
							</tr>
							<tr>
								<td><b>Priority:</b></td>
								<td class="text-warning">Immediate <a href="javascript:;"><i class="fa fa-pencil text-mg float-right" aria-hidden="true"></i></a></td>
							</tr>
							<tr>
								<td><b>Update:</b></td>
								<td>Today 10:30 am <a href="javascript:;"><i class="fa fa-pencil text-mg float-right" aria-hidden="true"></i></a></td>
							</tr>
						</tbody>
					</table>
				</div>
				<h5>Detail :  <a href="javascript:;"><i class="fa fa-pencil text-mg" aria-hidden="true"></i></a></h5>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
				
				<div class="dropzone" [dropzone]="config" (error)="onUploadError($event)"></div>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0"><i class="fa fa-list-alt" aria-hidden="true"></i> Activities</h5>
			</div>
			<div class="card-body">
				<div class="media">
					<img class="align-self-start mr-3 avatar avatar-md rounded-circle" src="assets/images/portrait/thumbnail.png" alt="RTDL Image">
					<div class="media-body">
						<h4 class="mt-0 d-inline-block mb-0">Jonny Smith</h4>
						<small class="float-right">Today 10:30 am</small>
						<p class="m-0"> Change priority high to immediate.</p>
					</div>
				</div>
				<hr class="my-2">
				<div class="media">
					<img class="align-self-start mr-3 avatar avatar-md rounded-circle" src="assets/images/portrait/avatar1.png" alt="RTDL Image">
					<div class="media-body">
						<h4 class="mt-0 d-inline-block mb-0">John Smith</h4>
						<small class="float-right">Yestarday 5:10 pm</small>
						<p class="m-0"> Update Assignee addision to jonny.</p>
					</div>
				</div>
				<hr class="my-2">
				<div class="media">
					<img class="align-self-start mr-3 avatar avatar-md rounded-circle" src="assets/images/portrait/avatar2.png" alt="RTDL Image">
					<div class="media-body">
						<h4 class="mt-0 d-inline-block mb-0">Addision</h4>
						<small class="float-right">Yestarday 11:35 am</small>
						<p class="m-0"> Change status rejected to new.</p>
					</div>
				</div>
				<hr class="my-2">
				<div class="media">
					<img class="align-self-start mr-3 avatar avatar-md rounded-circle" src="assets/images/portrait/avatar3.png" alt="RTDL Image">
					<div class="media-body">
						<h4 class="mt-0 d-inline-block mb-0">Adamaris</h4>
						<small class="float-right">10:40 am - Oct 9th 2017</small>
						<p class="m-0"> Trek bug by adamaris.</p>
					</div>
				</div>
				<hr class="my-2">
				<div class="media">
					<img class="align-self-start mr-3 avatar avatar-md rounded-circle" src="assets/images/portrait/avatar4.png" alt="RTDL Image">
					<div class="media-body">
						<h4 class="mt-0 d-inline-block mb-0">Dennise</h4>
						<small class="float-right">03:55 pm - Oct 5th 2017</small>
						<p class="m-0"> Change priority low to high.</p>
					</div>
				</div>
				<hr class="my-2">
				<div class="media">
					<img class="align-self-start mr-3 avatar avatar-md rounded-circle" src="assets/images/portrait/avatar5.png" alt="RTDL Image">
					<div class="media-body">
						<h4 class="mt-0 d-inline-block mb-0">Junie</h4>
						<small class="float-right">08:30 am - Oct 4th 2017</small>
						<p class="m-0"> Update Assignee Lorriane to addision.</p>
					</div>
				</div>
				<hr class="my-2">
				<div class="media">
					<img class="align-self-start mr-3 avatar avatar-md rounded-circle" src="assets/images/portrait/avatar6.png" alt="RTDL Image">
					<div class="media-body">
						<h4 class="mt-0 d-inline-block mb-0">Lorriane</h4>
						<small class="float-right">10:25 pm - Aug 28th 2017</small>
						<p class="m-0"> Change status new to rejected.</p>
					</div>
				</div>
				<hr class="my-2">
				<div class="media">
					<img class="align-self-start mr-3 avatar avatar-md rounded-circle" src="assets/images/portrait/avatar7.png" alt="RTDL Image">
					<div class="media-body">
						<h4 class="mt-0 d-inline-block mb-0">Haner</h4>
						<small class="float-right">01:15 pm - Aug 22th 2017</small>
						<p class="m-0"> Trek bug by Haner.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>