<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">Charts</a></li>
							<li class="breadcrumb-item active text-dg">Morris Charts</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-pie-chart menu-icon" aria-hidden="true"></i> Morris Charts</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Morris Charts Content -->
<div class="row">
	<div class="col-12 px-0 my-sm">
		<div class="card">
			<div class="card-body text-center">
				<div class="py-lg">
					<h4 class="font-roboto-thin my-sm">Morris Charts, good-looking charts shouldn't be difficult </h4>
					<a href="http://morrisjs.github.io/morris.js" target="_blank" class="btn btn-outline-theme">Get Morris Charts Doc</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<!-- Line Chart -->
	<div class="col-lg-6 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Line Chart</h5>
			</div>
			<div class="card-body">
				<div id="lineChart" class="height-320 chart-dark-shadow"></div>
			</div>
		</div>
	</div>

	<!-- Area Chart -->
	<div class="col-lg-6 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Area Chart</h5>
			</div>
			<div class="card-body">
				<div id="areaChart" class="height-320"></div>
			</div>
		</div>
	</div>

	<!-- Bar Chart -->
	<div class="col-lg-6 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Bar Chart</h5>
			</div>
			<div class="card-body">
				<div id="barChart" class="height-320"></div>
			</div>
		</div>
	</div>

	<!-- Donut Chart -->
	<div class="col-lg-6 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Donut Chart</h5>
			</div>
			<div class="card-body">
				<div id="donutChart" class="height-320"></div>
			</div>
		</div>
	</div>
</div>