<!-- Main Page wrapper -->
<div class="wrapper sidebar-mini page-animated">

	<!-- Theme Setting -->
	<div class="theme-setting-icon bg-theme text-white">
		<i class="p-sm fa fa-cogs fa-spin"></i>
	</div>
	<div class="theme-setting-menu text-white">
		<div class="p-md">
			<div class="row m-0">
				<div class="col-12 setting-box py-1 px-0">
					<label for="sidebar_checkbox" class="font-roboto-normal font-12 m-0">Fixed Sidebar</label>
					<div class="float-right">
						<input type="checkbox" id="sidebar_checkbox" class="sidebar_checkbox">
					</div>
				</div>
				<div class="col-12 setting-box py-1 px-0">
					<label for="navbar_checkbox" class="font-roboto-normal font-12 m-0">Fixed Header</label>
					<div class="float-right">
						<input type="checkbox" id="navbar_checkbox" class="navbar_checkbox">
					</div>
				</div>
				<div class="col-12 setting-box py-1 px-0">
					<label for="footer_checkbox" class="font-roboto-normal font-12 m-0">Fixed Footer</label>
					<div class="float-right">
						<input type="checkbox" id="footer_checkbox" class="footer_checkbox">
					</div>
				</div>
				<div class="col-12 setting-box py-1 px-0">
					<label for="box_checkbox" class="font-roboto-normal font-12 m-0">Box Layout</label>
					<div class="float-right">
						<input type="checkbox" id="box_checkbox" class="box_checkbox">
					</div>
				</div>
				<div class="col-12 setting-box py-1 px-0">
					<label for="collapsed_sidebar_checkbox" class="font-roboto-normal font-12 m-0">Collapse Mode</label>
					<div class="float-right">
						<input type="checkbox" id="collapsed_sidebar_checkbox" class="collapsed_sidebar_checkbox">
					</div>
				</div>
				<div class="col-12 p-0">
					<h6 class="my-sm">Dark Themes</h6>
				</div>
				<div class="col-12 p-0 color-schemes">
					<ul class="list-inline list-unstyled mb-0">
						<li class="list-inline-item mx-2">
							<a href="javascript:;" class="strawberry-theme" data-theme="strawberry-theme" data-themecolor="#ed174c"></a>
						</li>
						<li class="list-inline-item mx-2">
							<a href="javascript:;" class="teal-theme" data-theme="teal-theme" data-themecolor="#18BA9B"></a>
						</li>
						<li class="list-inline-item mx-2">
							<a href="javascript:;" class="fresh-apple-theme" data-theme="fresh-apple-theme" data-themecolor="#74C52C"></a>
						</li>
						<li class="list-inline-item mx-2">
							<a href="javascript:;" class="blueberry-theme" data-theme="blueberry-theme" data-themecolor="#26aae0"></a>
						</li>
						<li class="list-inline-item mx-2">
							<a href="javascript:;" class="orange-theme" data-theme="orange-theme" data-themecolor="#f9553e"></a>
						</li>
						<li class="list-inline-item mx-2">
							<a href="javascript:;" class="almond-theme" data-theme="almond-theme" data-themecolor="#F38431"></a>
						</li>
						<li class="list-inline-item mx-2">
							<a href="javascript:;" class="lime-theme" data-theme="lime-theme" data-themecolor="#e2b60b"></a>
						</li>
						<li class="list-inline-item mx-2">
							<a href="javascript:;" class="elderberry-theme" data-theme="elderberry-theme" data-themecolor="#7847b5"></a>
						</li>
					</ul>
				</div>
				<h6 class="my-sm">Light Themes</h6>
				<div class="col-12 p-0 color-schemes">
					<ul class="list-inline list-unstyled mb-0">
						<li class="list-inline-item mx-2">
							<a href="javascript:;" class="strawberry-light-theme" data-theme="strawberry-light-theme" data-themecolor="#ed174c"></a>
						</li>
						<li class="list-inline-item mx-2">
							<a href="javascript:;" class="teal-light-theme" data-theme="teal-light-theme" data-themecolor="#18BA9B"></a>
						</li>
						<li class="list-inline-item mx-2">
							<a href="javascript:;" class="fresh-apple-light-theme" data-theme="fresh-apple-light-theme" data-themecolor="#74C52C"></a>
						</li>
						<li class="list-inline-item mx-2">
							<a href="javascript:;" class="blueberry-light-theme" data-theme="blueberry-light-theme" data-themecolor="#26aae0"></a>
						</li>
						<li class="list-inline-item mx-2">
							<a href="javascript:;" class="orange-light-theme" data-theme="orange-light-theme" data-themecolor="#f9553e"></a>
						</li>
						<li class="list-inline-item mx-2">
							<a href="javascript:;" class="almond-light-theme" data-theme="almond-light-theme" data-themecolor="#F38431"></a>
						</li>
						<li class="list-inline-item mx-2">
							<a href="javascript:;" class="lime-light-theme" data-theme="lime-light-theme" data-themecolor="#e2b60b"></a>
						</li>
						<li class="list-inline-item mx-2">
							<a href="javascript:;" class="elderberry-light-theme" data-theme="elderberry-light-theme" data-themecolor="#7847b5"></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<!-- Header -->
	<header class="header">
		<div class="navbar navbar-lg m-0 p-0">
			<div class="nav-block">
				<a href="javascript:;" class="btn toggle-btn pb-0 main-header-toggle" data-toggle="toggle-sidebar-menu"><i class="ion-navicon fa-lg"></i></a>
				<div class="logo d-inline-block">
					<a routerLink="/">
						<h2>Ran<img src="assets/images/heading-logo.png" alt="Ranpariya - The Development Lab (RTDL)">ariya</h2>
					</a>
				</div>
				<div class="float-right">

					<!-- Notification -->
					<div class="nav-menu-list dropdown dropdown-animating notification-dropdown">
						<a href="javascript:;" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button"  id="notification-dropdown" aria-haspopup="true" aria-expanded="false">
							<span class="badge badge-success notice-label">14</span>
							<i class="fa fa-bell-o"></i>
						</a>
						<div class="dropdown-menu dropdown-menu-right notification-dropdown" aria-labelledby="notification-dropdown" data-dropdown-in="flipInX" data-dropdown-out="flipOutX">
							<div class="header"><span>You have 12 notification</span></div>
							<ul class="notification-scrollbar list-block">
								<li class="dropdown-item p-0"><a href="javascript:;"><span class="text-info"><i class="fa fa-address-card"></i><span>Notice 1</span></span></a></li>
								<li class="dropdown-item p-0"><a href="javascript:;"><span class="text-success"><i class="fa fa-cubes"></i><span>Notice 2</span></span></a></li>
								<li class="dropdown-item p-0"><a href="javascript:;"><span class="text-warning"><i class="fa fa-comments-o"></i><span>Notice 3</span></span></a></li>
								<li class="dropdown-item p-0"><a href="javascript:;"><span class="text-success"><i class="fa fa-envelope"></i><span>Notice 4</span></span></a></li>
								<li class="dropdown-item p-0"><a href="javascript:;"><span class="text-danger"><i class="fa fa-dot-circle-o"></i><span>Notice 5</span></span></a></li>
								<li class="dropdown-item p-0"><a href="javascript:;"><span class="text-info"><i class="fa fa-image"></i><span>Notice 6</span></span></a></li>
								<li class="dropdown-item p-0"><a href="javascript:;"><span class="text-info"><i class="fa fa-facebook"></i><span>Notice 7</span></span></a></li>
								<li class="dropdown-item p-0"><a href="javascript:;"><span class="text-success"><i class="fa fa-dollar"></i><span>Notice 8</span></span></a></li>
								<li class="dropdown-item p-0"><a href="javascript:;"><span class="text-warning"><i class="fa fa-clock-o"></i><span>Notice 9</span></span></a></li>
								<li class="dropdown-item p-0"><a href="javascript:;"><span class="text-success"><i class="fa fa-group"></i><span>Notice 10</span></span></a></li>
								<li class="dropdown-item p-0"><a href="javascript:;"><span class="text-danger"><i class="fa fa-heart"></i><span>Notice 11</span></span></a></li>
								<li class="dropdown-item p-0"><a href="javascript:;"><span class="text-info"><i class="fa fa-archive"></i><span>Notice 12</span></span></a></li>
							</ul>
							<div class="navbar-footer"><span>View all</span></div>
						</div>
					</div>

					<!-- Message Menu-->
					<div class="nav-menu-list dropdown dropdown-animating notification-dropdown">
						<a href="javascript:;" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
							<span class="badge badge-theme notice-label">14</span>
							<i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i>
						</a>
						<div class="dropdown-menu dropdown-menu-right notification-dropdown" data-dropdown-in="flipInX" data-dropdown-out="flipOutX">
							<div class="header"><span class="font-14">You have 4 mail</span></div>
							<ul class="mail-scrollbar list-block">
								<li class="dropdown-item p-0"><a href="javascript:;"><span class="text-info"><i class="fa fa-envelope-o"></i><span>Denny sent you a mail</span></span></a></li>
								<li class="dropdown-item p-0"><a href="javascript:;"><span class="text-success"><i class="fa fa-envelope-o"></i><span>Mack sent you a mail</span></span></a></li>
								<li class="dropdown-item p-0"><a href="javascript:;"><span class="text-warning"><i class="fa fa-envelope-o"></i><span>Marina sent you a mail</span></span></a></li>
								<li class="dropdown-item p-0"><a href="javascript:;"><span class="text-danger"><i class="fa fa-envelope-o"></i><span>Jack sent you a mail</span></span></a></li>
							</ul>
							<div class="navbar-footer"><span>View all</span></div>
						</div>
					</div>

					<!-- Right sidebar -->
					<div class="nav-menu-list">
						<a href="javascript:;" class="nav-link sidebar-right-sidebar">
							<i class="fa fa-align-right" aria-hidden="true"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</header>

	<!-- Left Sidebar -->
	<aside class="sidebar sidebar-v2">
		<section class="left-sidebar-v2">

			<!-- User menu -->
			<div class="user-panel px-md pb-sm">
				<a href=".profile-nav" class="collapsed" data-toggle="collapse" aria-expanded="false">
					<img src="assets/images/portrait/thumbnail.png" alt="RTDL Image" class="rounded-circle mt-md">
					<div class="info">
						<span class="float-right"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
						<h5 class="mb-0">Jonny Smith</h5>
						<p>Creative Designer</p>
					</div>
				</a>
				<a href=".mainnav-shortcut" class="collapsed" data-toggle="collapse" aria-expanded="false">
					<img src="assets/images/portrait/thumbnail.png" alt="RTDL Image" class="rounded-circle mt-md">
				</a>
			</div>
			<div class="profile-nav collapse">
				<ul class="list-unstyled m-0 p-sm">
					<li>
						<a routerLink="/profile" target="_blank"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;View Profile</a>
					</li>
					<li>
						<a href="javascript:;"><i class="fa fa-cog" aria-hidden="true"></i>&nbsp;&nbsp;Settings</a>
					</li>
					<li>
						<a href="javascript:;"><i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;&nbsp;Help</a>
					</li>
					<li>
						<a routerLink="/pages/login"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;&nbsp;Logout</a>
					</li>
				</ul>
			</div>

			<!-- Profile menu -->
			<div class="mainnav-shortcut collapse in main-nav-shortcut">
				<ul class="list-unstyled p-0 m-0">
					<li data-content="View Profile" data-original-title="" title="">
						<a routerLink="/profile" target="_blank">
							<i class="fa fa-user"></i>
						</a>
					</li>
					<li data-content="Settings" data-original-title="" title="">
						<a href="javascript:;">
							<i class="fa fa-cog"></i>
						</a>
					</li>
					 <li data-content="Help" data-original-title="" title="">
						<a href="javascript:;">
							<i class="fa fa-info-circle"></i>
						</a>
					</li>
					 <li data-content="Logout" data-original-title="" title="">
						<a routerLink="/pages/login">
							<i class="fa fa-sign-out"></i>
						</a>
					</li>
				</ul>
			</div>

			<!-- Sidebar Menu-->
			<ul class="sidebar-menu mt-md">
				<li class="treeview">
					<a href="javascript:;"><i class="fa fa-dashboard"></i><span>Dashboards</span><i class="fa fa-angle-right"></i></a>
					<ul class="treeview-menu">
						<li><a routerLink="/dashboard/main-dashboard"><i class="fa fa-circle-o"></i>Main Dashboard</a></li>
						<li><a routerLink="/dashboard/data-analytics-dashboard"><i class="fa fa-circle-o"></i>Data Analytics Dashboard</a></li>
						<li><a routerLink="/dashboard/marketing-dashboard"><i class="fa fa-circle-o"></i>Marketing Dashboard</a></li>
						<li><a routerLink="/dashboard/social-dashboard"><i class="fa fa-circle-o"></i>Social Dashboard</a></li>
						<li><a routerLink="/dashboard/project-dashboard"><i class="fa fa-circle-o"></i>Project Dashboard</a></li>
						<li><a routerLink="/dashboard/sales-dashboard"><i class="fa fa-circle-o"></i>Sales Dashboard</a></li>
					</ul>
				</li>
				<li class="treeview">
					<a href="javascript:;"><i class="fa fa-laptop"></i><span>UI Elements</span><i class="fa fa-angle-right"></i></a>
					<ul class="treeview-menu">
						<li><a routerLink="/ui-elements/buttons"><i class="fa fa-circle-o"></i>Buttons</a></li>
						<li><a routerLink="/ui-elements/bootstrap-cards"><i class="fa fa-circle-o"></i>Bootstrap Cards</a></li>
						<li><a routerLink="/ui-elements/tabs"><i class="fa fa-circle-o"></i>Tabs</a></li>
						<li><a routerLink="/ui-elements/typography"><i class="fa fa-circle-o"></i>Typography</a></li>
						<li><a routerLink="/ui-elements/components"><i class="fa fa-circle-o"></i>Bootstrap Components</a></li>
						<li><a routerLink="/ui-elements/social-buttons"><i class="fa fa-circle-o"></i>Social Buttons</a></li>
						<li><a routerLink="/ui-elements/carousel"><i class="fa fa-circle-o"></i>Bootstrap Carousel</a></li>
						<li><a routerLink="/ui-elements/modal-dialogs"><i class="fa fa-circle-o"></i>Modal Dialog</a></li>
						<li><a routerLink="/ui-elements/scrollspy"><i class="fa fa-circle-o"></i>Scrollspy</a></li>
					</ul>
				</li>
				<li class="treeview">
					<a href="javascript:;"><i class="fa fa-paint-brush"></i><span>Icons</span><i class="fa fa-angle-right"></i></a>
					<ul class="treeview-menu">
						<li><a routerLink="/icons/fontawesome-icons"><i class="fa fa-circle-o"></i>Fontawesome Icons</a></li>
						<li><a routerLink="/icons/simple-line-icons"><i class="fa fa-circle-o"></i>Simple Line Icons</a></li>
						<li><a routerLink="/icons/ionicons-icons"><i class="fa fa-circle-o"></i>Ionicons Icons</a></li>
						<li><a routerLink="/icons/material-icons"><i class="fa fa-circle-o"></i>Material Icons</a></li>
					</ul>
				</li>
				<li class="treeview">
					<a href="javascript:;"><i class="fa fa-flask" aria-hidden="true"></i><span>Widgets</span><i class="fa fa-angle-right"></i></a>
					<ul class="treeview-menu">
						<li><a routerLink="/widgets/social-widgets"><i class="fa fa-circle-o"></i>Social Widgets</a></li>
						<li><a routerLink="/widgets/other-widgets"><i class="fa fa-circle-o"></i>Other Widgets</a></li>
						<li><a routerLink="/widgets/weather-widgets"><i class="fa fa-circle-o"></i>Weather Widgets</a></li>
						<li><a routerLink="/widgets/material-cards"><i class="fa fa-circle-o"></i>Material Cards</a></li>
					</ul>
				</li>
				<li class="treeview">
					<a href="javascript:;"><i class="fa fa-pie-chart"></i><span>Charts</span><i class="fa fa-angle-right"></i></a>
					<ul class="treeview-menu">
						<li><a routerLink="/charts/am-charts"><i class="fa fa-circle-o"></i>AM Charts</a></li>
						<li><a routerLink="/charts/chartjs-charts"><i class="fa fa-circle-o"></i>Chart JS Charts</a></li>
						<li><a routerLink="/charts/google-charts"><i class="fa fa-circle-o"></i>Google Charts</a></li>
						<li><a routerLink="/charts/morris-charts"><i class="fa fa-circle-o"></i>Morris Charts</a></li>
						<li><a routerLink="/charts/flot-charts"><i class="fa fa-circle-o"></i>Flot Charts</a></li>
						<li><a routerLink="/charts/rickshaw-charts"><i class="fa fa-circle-o"></i>Rickshaw Charts</a></li>
						<li><a routerLink="/charts/e-charts"><i class="fa fa-circle-o"></i>E-Charts</a></li>
						<li><a routerLink="/charts/chartist-charts"><i class="fa fa-circle-o"></i>Chartist Charts</a></li>
						<li><a routerLink="/charts/peity-and-sparkline-chart"><i class="fa fa-circle-o"></i>Peity & Sparkline Charts</a></li>
					</ul>
				</li>
				<li class="treeview">
					<a href="javascript:;"><i class="fa fa-edit" aria-hidden="true"></i><span>Forms and Plugins<span class="badge badge-theme float-right mr-3">5+</span></span><i class="fa fa-angle-right"></i></a>
					<ul class="treeview-menu">
						<li><a routerLink="/forms-and-plugins/form-elements"><i class="fa fa-circle-o"></i>Form Elements</a></li>
						<li><a routerLink="/forms-and-plugins/form-advance-elements"><i class="fa fa-circle-o"></i>Form Advanced Components</a></li>
						<li><a routerLink="/forms-and-plugins/step-form-wizard"><i class="fa fa-circle-o"></i>Step Form Wizards</a></li>
						<li><a routerLink="/forms-and-plugins/file-uploader"><i class="fa fa-circle-o"></i>File Uploaders</a></li>
						<li><a routerLink="/forms-and-plugins/summernote-editors"><i class="fa fa-circle-o"></i>Summernote Editor</a></li>
						<li><a routerLink="/forms-and-plugins/ck-editors"><i class="fa fa-circle-o"></i>CK Editor</a></li>
						<li><a routerLink="/forms-and-plugins/form-validaion"><i class="fa fa-circle-o"></i>Form Validation</a></li>
					</ul>
				</li>
				<li class="treeview">
					<a href="javascript:;"><i class="fa fa-plug" aria-hidden="true"></i><span>Plugins</span><i class="fa fa-angle-right"></i></a>
					<ul class="treeview-menu">
						<li><a routerLink="/plugins/toastr-alert"><i class="fa fa-circle-o"></i>Toastr</a></li>
						<li><a routerLink="/plugins/animate-css"><i class="fa fa-circle-o"></i>Animate CSS</a></li>
						<li><a routerLink="/plugins/tinycon"><i class="fa fa-circle-o"></i>Tinycon & Blink Title <span class="badge badge-info float-right">20+</span></a></li>
						<li><a routerLink="/plugins/clipboard"><i class="fa fa-circle-o"></i>Clipboard</a></li>
						<li><a routerLink="/plugins/intro-js"><i class="fa fa-circle-o"></i>Intro JS</a></li>
						<li><a routerLink="/plugins/sliders"><i class="fa fa-circle-o"></i>Sliders</a></li>
						<li><a routerLink="/plugins/sortable-components"><i class="fa fa-circle-o"></i>Sortable Components</a></li>
						<li><a routerLink="/plugins/spinner-buttons"><i class="fa fa-circle-o"></i>Spinner Buttons</a></li>
						<li><a routerLink="/plugins/sweet-modals"><i class="fa fa-circle-o"></i>Sweet Modals</a></li>
						<li><a routerLink="/plugins/barcode-generator"><i class="fa fa-circle-o"></i>Barcode Generator</a></li>
						<li><a routerLink="/plugins/page-loaders"><i class="fa fa-circle-o"></i>Loaders</a></li>
						<li><a routerLink="/plugins/liquid-meter"><i class="fa fa-circle-o"></i>Liquid-Meter</a></li>
						<li><a routerLink="/plugins/image-viewer"><i class="fa fa-circle-o"></i>Image Viewer</a></li>
						<li><a routerLink="/plugins/split-js"><i class="fa fa-circle-o"></i>Split JS</a></li>
						<li><a routerLink="/plugins/rating"><i class="fa fa-circle-o"></i>Rating</a></li>
					</ul>
				</li>
				<li class="treeview">
					<a href="javascript:;"><i class="fa fa-map" aria-hidden="true"></i><span>Maps</span><i class="fa fa-angle-right"></i></a>
					<ul class="treeview-menu">
						<li><a routerLink="/maps/google-maps"><i class="fa fa-circle-o"></i>Google Maps</a></li>
						<li><a routerLink="/maps/data-maps"><i class="fa fa-circle-o"></i>Data Maps</a></li>
					</ul>
				</li>
				<li class="treeview" [ngClass]="{active: globals.parentMenu == 'Layouts'}">
					<a href="javascript:;"><i class="fa fa-clone" aria-hidden="true"></i><span>Layouts</span><i class="fa fa-angle-right"></i></a>
					<ul class="treeview-menu">
						<li><a routerLink="/layouts/empty-page"><i class="fa fa-circle-o"></i>Empty Page</a></li>
						<li><a routerLink="/layouts/full-width-layout"><i class="fa fa-circle-o"></i>Full Width Layout</a></li>
						<li><a routerLink="/layouts/fixed-width-layout"><i class="fa fa-circle-o"></i>Fixed Width Layout</a></li>
						<li><a routerLink="/layouts/hoizontal-layout"><i class="fa fa-circle-o"></i>Horizontal Layout</a></li>
						<li><a routerLink="/layouts/tab-page"><i class="fa fa-circle-o"></i>Tab Layout Page</a></li>
						<li><a routerLink="/layouts/navbar-v2"><i class="fa fa-circle-o"></i>Navbar v2</a></li>
					</ul>
				</li>
				<li class="treeview">
					<a href="javascript:;"><i class="fa fa-files-o" aria-hidden="true"></i><span>Pages</span><i class="fa fa-angle-right"></i></a>
					<ul class="treeview-menu">
						<li><a routerLink="/pages/login"><i class="fa fa-circle-o"></i>Login Page</a></li>
						<li><a routerLink="/pages/signup"><i class="fa fa-circle-o"></i>Register Page</a></li>
						<li><a routerLink="/pages/forgot-password"><i class="fa fa-circle-o"></i>Forgot Password</a></li>
						<li><a routerLink="/pages/lock-screen"><i class="fa fa-circle-o"></i>Lock Screen</a></li>
						<li><a routerLink="/pages/error-404"><i class="fa fa-circle-o"></i>404 Page</a></li>
						<li><a routerLink="/pages/error-500"><i class="fa fa-circle-o"></i>500 Page</a></li>
						<li><a routerLink="/pages/blog-list"><i class="fa fa-circle-o"></i>Blog List</a></li>
						<li><a routerLink="/pages/blog"><i class="fa fa-circle-o"></i>Blog</a></li>
						<li><a routerLink="/pages/supports"><i class="fa fa-circle-o"></i>Supports</a></li>
						<li><a routerLink="/pages/article"><i class="fa fa-circle-o"></i>Article</a></li>
						<li><a routerLink="/pages/forum"><i class="fa fa-circle-o"></i>Forum</a></li>
						<li><a routerLink="/pages/vote-list"><i class="fa fa-circle-o"></i>Vote List</a></li>
					</ul>
				</li>
				<li class="treeview">
					<a href="javascript:;">
						<i class="fa fa-sitemap menu-icon" aria-hidden="true"></i><span>Multi Level Menu</span>
						<i class="fa fa-angle-right"></i>
					</a>
					<ul class="treeview-menu">
						<li><a routerLink="javascript:;"><i class="fa fa-circle-o"></i>Menu One<span class="badge badge-theme float-right px-2 py-1">New</span></a></li>
						<li><a routerLink="javascript:;"><i class="fa fa-circle-o"></i>Menu Two</a></li>
						<li><a routerLink="javascript:;"><i class="fa fa-circle-o"></i>Menu Three</a></li>
						<li><a routerLink="javascript:;"><i class="fa fa-circle-o"></i>Menu Four</a></li>
						<li><a routerLink="javascript:;"><i class="fa fa-circle-o"></i>Menu Five</a></li>
						<li><a routerLink="javascript:;"><i class="fa fa-circle-o"></i>Menu Six</a></li>
						<li><a routerLink="javascript:;"><i class="fa fa-circle-o"></i>Menu Seven</a></li>
						<li><a routerLink="javascript:;"><i class="fa fa-circle-o"></i>Menu Eight</a></li>
					</ul>
				</li>
				<li class="treeview">
					<a href="javascript:;">
						<i class="fa fa-table" aria-hidden="true"></i><span>Tables</span>
						<i class="fa fa-angle-right"></i>
					</a>
					<ul class="treeview-menu">
						<li><a routerLink="/tables/bootstrap-tables"><i class="fa fa-circle-o"></i>Bootstrap Tables</a></li>
						<li><a routerLink="/tables/foo-table"><i class="fa fa-circle-o"></i>Foo Table</a></li>
						<li><a routerLink="/tables/js-grid-table"><i class="fa fa-circle-o"></i>JS-Grid Table</a></li>
						<li><a routerLink="/tables/data-table"><i class="fa fa-circle-o"></i>DataTables</a></li>
					</ul>
				</li>
				<li class="treeview">
					<a routerLink="/calendar">
						<i class="fa fa-calendar" aria-hidden="true"></i>
						<span>Calendar
						<span class="badge badge-info float-right px-2 py-1">5</span></span>
					</a>
				</li>
				<li class="treeview">
					<a href="javascript:;">
						<i class="fa fa-envelope-o" aria-hidden="true"></i><span>Mailbox</span>
						<i class="fa fa-angle-right"></i>
					</a>
					<ul class="treeview-menu">
						<li><a routerLink="/mailbox/inbox"><i class="fa fa-circle-o"></i>Inbox <small>(Compose Integrated)</small></a></li>
						<li><a routerLink="/mailbox/readmail"><i class="fa fa-circle-o"></i>Read Mail</a></li>
					</ul>
				</li>
				<li class="treeview">
					<a href="javascript:;">
						<i class="fa fa-shopping-cart" aria-hidden="true"></i><span>E-Commerce</span>
						<i class="fa fa-angle-right"></i>
					</a>
					<ul class="treeview-menu">
						<li><a routerLink="/e-commerce/product-list"><i class="fa fa-circle-o"></i>Products List</a></li>
						<li><a routerLink="/e-commerce/product-edit"><i class="fa fa-circle-o"></i>Product Edit</a></li>
						<li><a routerLink="/e-commerce/product-box"><i class="fa fa-circle-o"></i>Products Box</a></li>
						<li><a routerLink="/e-commerce/product-detail"><i class="fa fa-circle-o"></i>Product Detail</a></li>
						<li><a routerLink="/e-commerce/cart"><i class="fa fa-circle-o"></i>Cart</a></li>
						<li><a routerLink="/e-commerce/order-list"><i class="fa fa-circle-o"></i>Orders List</a></li>
						<li><a routerLink="/e-commerce/order-detail"><i class="fa fa-circle-o"></i>Order Detail</a></li>
						<li><a routerLink="/e-commerce/payments"><i class="fa fa-circle-o"></i>Payment Page</a></li>
						<li><a routerLink="/e-commerce/invoice"><i class="fa fa-circle-o"></i>Invoice</a></li>
					</ul>
				</li>
				<li class="treeview">
					<a href="javascript:;">
						<i class="fa fa-tasks" aria-hidden="true"></i><span>Project Management</span>
						<i class="fa fa-angle-right"></i>
					</a>
					<ul class="treeview-menu">
						<li><a routerLink="/projet-management/project-list"><i class="fa fa-circle-o"></i>Project List</a></li>
						<li><a routerLink="/projet-management/project-detail"><i class="fa fa-circle-o"></i>Project Detail</a></li>
						<li><a routerLink="/projet-management/clients"><i class="fa fa-circle-o"></i>Clients List</a></li>
						<li><a routerLink="/projet-management/issue-list"><i class="fa fa-circle-o"></i>Issue List</a></li>
						<li><a routerLink="/projet-management/issue-detail"><i class="fa fa-circle-o"></i>Issue Detail</a></li>
						<li><a routerLink="/projet-management/project-board"><i class="fa fa-circle-o"></i>Project Board</a></li>
						<li><a routerLink="/projet-management/agile-board"><i class="fa fa-circle-o"></i>Agile Board</a></li>
					</ul>
				</li>
				<li class="treeview">
					<a href="javascript:;"><i class="fa fa-users" aria-hidden="true"></i><span>User Management</span><i class="fa fa-angle-right"></i></a>
					<ul class="treeview-menu">
						<li><a routerLink="/user-management/user-list"><i class="fa fa-circle-o"></i>Users List</a></li>
						<li><a routerLink="/user-management/user-edit"><i class="fa fa-circle-o"></i>User Edit</a></li>
					</ul>
				</li>
				<li class="treeview">
					<a href="javascript:;">
						<i class="fa fa-globe" aria-hidden="true"></i><span>Miscellaneous Page</span>
						<i class="fa fa-angle-right"></i>
					</a>
					<ul class="treeview-menu">
						<li><a routerLink="/miscellaneous-page/contact-cards"><i class="fa fa-circle-o"></i>Contact Cards</a></li>
						<li><a routerLink="/miscellaneous-page/faq"><i class="fa fa-circle-o"></i>FAQ</a></li>
						<li><a routerLink="/miscellaneous-page/chat-view"><i class="fa fa-circle-o"></i>Chat View</a></li>
						<li><a routerLink="/miscellaneous-page/horizontal-timeline"><i class="fa fa-circle-o"></i>Horizontal Timeline</a></li>
						<li><a routerLink="/miscellaneous-page/vertical-timeline"><i class="fa fa-circle-o"></i>Vertical Timeline</a></li>
						<li><a routerLink="/miscellaneous-page/pdf-viewer"><i class="fa fa-circle-o"></i>PDF Viewer</a></li>
						<li><a routerLink="/miscellaneous-page/pricing"><i class="fa fa-circle-o"></i>Pricing</a></li>
						<li><a routerLink="/miscellaneous-page/search-page"><i class="fa fa-circle-o"></i>Search Page</a></li>
						<li><a routerLink="/miscellaneous-page/video-page"><i class="fa fa-circle-o"></i>Video Page</a></li>
					</ul>
				</li>
				<li class="treeview">
					<a routerLink="/image-gallery"><i class="fa fa-picture-o" aria-hidden="true"></i><span>Image Gallery</span></a>
				</li>
				<li class="treeview">
					<a routerLink="/file-manager"><i class="fa fa-file" aria-hidden="true"></i><span>File Manager</span></a>
				</li>
				<li class="treeview">
					<a routerLink="/profile"><i class="fa fa-user menu-icon" aria-hidden="true"></i><span>Profile</span></a>
				</li>
				<li class="treeview">
					<a href="javascript:;">
						<i class="fa fa-book" aria-hidden="true"></i><span>Documents</span>
						<i class="fa fa-angle-right"></i>
					</a>
					<ul class="treeview-menu">
						<li><a routerLink="/documents/bootstrap-grid"><i class="fa fa-circle-o"></i><span>Bootstrap Grid</span></a></li>
						<li><a routerLink="/documents/helper-classes"><i class="fa fa-circle-o"></i><span>Helper Classes</span></a></li>
					</ul>
				</li>
			</ul>
		</section>
	</aside>

	<!-- Sidebar nav [ right ]-->
	<aside class="right-sidebar">
		<ul class="nav nav-tabs" role="tablist">
			<li class=" nav-item col-md-4 col-sm-4 col-4 text-center p-0">
				<a class="nav-link active py-sm px-md" data-toggle="tab" href="#tasks" role="tab" aria-controls="tasks">
					<i class="fa fa-flag" aria-hidden="true"></i>
				</a>
			</li>
			<li class=" nav-item col-md-4 col-sm-4 col-4 text-center p-0">
				<a class="nav-link py-sm px-md" data-toggle="tab" href="#settings" role="tab" aria-controls="settings">
					<i class="fa fa-wrench" aria-hidden="true"></i>
				</a>
			</li>
			<li class=" nav-item col-md-4 col-sm-4 col-4 text-center p-0">
				<a class="nav-link py-sm px-md" data-toggle="tab" href="#chat" role="tab" aria-controls="chat">
					<i class="fa fa-comments" aria-hidden="true"></i>
					<span class="badge badge-theme ml-xs">8+</span>
				</a>
			</li>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content p-sm">

			<!-- Tasks -->
			<div class="tab-pane active" id="tasks" role="tabpanel">
				<div class="col-md-12 col-sm-12 col-12 tasks-col px-md">
					<h5 class="font-roboto-bold my-sm">Billing & Reports</h5>
					<p class="font-12 mb-sm">Get <i>$25.00</i> off on your next bill by making sure your full payment reaches us before <i>Dec 31st, 2017</i>.</p>
				</div>
				<div class="col-md-12 col-sm-12 col-12 tasks-col text-center p-sm">
					<h5 class="font-roboto-bold my-sm">Amount Due On</h5>
					<h6 class="my-sm">June 18,2017</h6>
					<h4 class="font-roboto-bold my-sm">$40.00</h4>
					<button class="btn btn-success btn-md mb-sm btn-block" type="button">Pay Now</button>
				</div>
				<div class="col-md-12 col-sm-12 col-12 tasks-col">
					<h5 class="font-roboto-bold my-sm">Additional Actions</h5>
					<ul class="p-0 mb-sm">
						<li class="list-item p-sm m-0">
							<a href="javascript:;">
								<i class="fa fa-info-circle" aria-hidden="true">&nbsp;&nbsp;&nbsp;&nbsp;</i>Service Informations
							</a>
						</li>
						<li class="list-item p-sm m-0">
							<a href="javascript:;">
								<i class="fa fa-user-circle" aria-hidden="true">&nbsp;&nbsp;&nbsp;&nbsp;</i>User Usage
							</a>
						</li>
						<li class="list-item p-sm m-0">
							<a href="javascript:;">
								<i class="fa fa-credit-card-alt" aria-hidden="true">&nbsp;&nbsp;&nbsp;</i>Payment Options
								<span class="badge badge-warning float-right">New</span>
							</a>
						</li>
						<li class="list-item p-sm m-0">
							<a href="javascript:;">
								<i class="fa fa-assistive-listening-systems" aria-hidden="true">&nbsp;&nbsp;&nbsp;&nbsp;</i>Message Center
								<span class="badge badge-info float-right">New</span>
							</a>
						</li>
					</ul>
				</div>
				<div class="col-md-12 col-sm-12 col-12 text-center p-sm">
					<i class="fa fa-phone fa-4x" aria-hidden="true"></i>
					<p class="mb-0">Questions?</p>
					<h3 class="mt-0 mb-sm">(111) 111-11111</h3>
					<h6 class="my-sm">We are here 24/7</h6>
				</div>
			</div>

			<!-- Settings -->
			<div class="tab-pane right-sidebar-setting" id="settings" role="tabpanel">
				<div class="row">
					<!-- Notifications -->
					<div class="col-md-10 col-sm-10 col-10 mb-md">
						<label for="notifications" class="font-roboto-bold font-14 m-0">Notifications</label>
						<div><small>Did you need them ?</small></div>
					</div>
					<div class="col-md-2 col-sm-2 col-2">
						<div class="float-right mb-md">
							<input type="checkbox" id="notifications" class="notifications">
						</div>
					</div>
					<!-- API Access -->
					<div class="col-md-10 col-sm-10 col-10 mb-md">
						<label for="API-access" class="font-roboto-bold font-14 m-0">API Access</label>
						<div><small>Enable/Disable access</small></div>
					</div>
					<div class="col-md-2 col-sm-2 col-2">
						<div class="float-right mb-md">
							<input type="checkbox" id="API-access" class="API-access">
						</div>
					</div>
					<!-- Auto Updates -->
					<div class="col-md-10 col-sm-10 col-10 mb-md">
						<label for="auto-updates" class="font-roboto-bold font-14 m-0">Auto Updates</label>
						<div><small>Keep up to date</small></div>
					</div>
					<div class="col-md-2 col-sm-2 col-2">
						<div class="float-right mb-md">
							<input type="checkbox" id="auto-updates" class="auto-updates">
						</div>
					</div>
					<!-- Online Status -->
					<div class="col-md-10 col-sm-10 col-10 mb-md">
						<label for="online-status" class="font-roboto-bold font-14 m-0">Online Status</label>
						<div><small>Show your status to all</small></div>
					</div>
					<div class="col-md-2 col-sm-2 col-2">
						<div class="float-right mb-md">
							<input type="checkbox" id="online-status" class="online-status">
						</div>
					</div>
					<!-- Settings for Responsive -->
					<div class="col-md-10 col-sm-10 col-10 mb-md">
						<label for="settings-responsive" class="font-roboto-bold font-14 m-0">Settings for Responsive</label>
						<div><small>Did you need Settings for Responsive ?</small></div>
					</div>
					<div class="col-md-2 col-sm-2 col-2">
						<div class="float-right mb-md">
							<input type="checkbox" id="settings-responsive" class="settings-responsive">
						</div>
					</div>
					<!-- Activity -->
					<div class="col-md-10 col-sm-10 col-10 mb-md">
						<label for="activity" class="font-roboto-bold font-14 m-0">Activity</label>
						<div><small>Show your Activity to all</small></div>
					</div>
					<div class="col-md-2 col-sm-2 col-2">
						<div class="float-right mb-md">
							<input type="checkbox" id="activity" class="activity">
						</div>
					</div>
					<!-- Statisticts -->
					<div class="col-md-10 col-sm-10 col-10 mb-md">
						<label for="statisticts" class="font-roboto-bold font-14 m-0">Statisticts</label>
						<div><small>Show your Statisticts to all</small></div>
					</div>
					<div class="col-md-2 col-sm-2 col-2">
						<div class="float-right mb-md">
							<input type="checkbox" id="statisticts" class="statisticts">
						</div>
					</div>
					<div class="col-md-12 col-sm-12 col-12 mb-md">
						<h4 class="font-roboto-bold pt-md my-sm">Settings</h4>
						<p class="font-12 mb-sm">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
					</div>
				</div>
			</div>

			<!-- Chat -->
			<div class="tab-pane" id="chat" role="tabpanel">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-12">
						<div class="form-group m-0">
							<div class="input-group input-group-dark">
								<input type="text" placeholder="Search..." class="form-control">
								<span class="input-group-addon"><i class="fa fa-search"></i></span>
							</div>
						</div>
					</div>
				</div>
				<div class="row no-gutters">
					<h5 class="my-sm font-roboto-normal">Online</h5>
					<div class="col-md-12 col-sm-12 col-12 p-sm content-body">
						<div class="float-left">
							<img class="rounded-circle avatar avatar-sm" alt="RTDL Image" src="assets/images/portrait/avatar5.png">
							<div class="small-badges active"></div>
						</div>
						<div class="float-left px-sm">
							<h5 class="m-0">Grace padila</h5>
							<p class="m-0 font-12">On the other hand, we denounce...</p>
						</div>
						<a href="javascript:;" class="mt-md right-sidebar-collapsed">
							<i class="fa fa-comments" aria-hidden="true"></i>
						</a>
					</div>
					<div class="col-md-12 col-sm-12 col-12 p-sm content-body">
						<div class="float-left">
							<img class="rounded-circle avatar avatar-sm" alt="RTDL Image" src="assets/images/portrait/avatar2.png">
							<div class="small-badges active"></div>
						</div>
						<div class="float-left px-sm">
							<h5 class="m-0">Grace padila</h5>
							<p class="m-0 font-12">On the other hand, we denounce...</p>
						</div>
						<a href="javascript:;" class="mt-md right-sidebar-collapsed">
							<i class="fa fa-comments" aria-hidden="true"></i>
						</a>
					</div>
					<div class="col-md-12 col-sm-12 col-12 p-sm content-body">
						<div class="float-left">
							<img class="rounded-circle avatar avatar-sm" alt="RTDL Image" src="assets/images/portrait/avatar3.png">
							<div class="small-badges active"></div>
						</div>
						<div class="float-left px-sm">
							<h5 class="m-0">Grace padila</h5>
							<p class="m-0 font-12">On the other hand, we denounce...</p>
						</div>
						<a href="javascript:;" class="mt-md right-sidebar-collapsed">
							<i class="fa fa-comments" aria-hidden="true"></i>
						</a>
					</div>
					<div class="col-md-12 col-sm-12 col-12 p-sm content-body">
						<div class="float-left">
							<img class="rounded-circle avatar avatar-sm" alt="RTDL Image" src="assets/images/portrait/avatar4.png">
							<div class="small-badges active"></div>
						</div>
						<div class="float-left px-sm">
							<h5 class="m-0">Grace padila</h5>
							<p class="m-0 font-12">On the other hand, we denounce...</p>
						</div>
						<a href="javascript:;" class="mt-md right-sidebar-collapsed">
							<i class="fa fa-comments" aria-hidden="true"></i>
						</a>
					</div>
				</div>
				<div class="row no-gutters">
					<h5 class="my-sm font-roboto-normal">Idle</h5>
					<div class="col-md-12 col-sm-12 col-12 p-sm content-body">
						<div class="float-left">
							<img class="rounded-circle avatar avatar-sm" alt="RTDL Image" src="assets/images/portrait/avatar5.png">
							<div class="small-badges idle"></div>
						</div>
						<div class="float-left px-sm">
							<h5 class="m-0">Grace padila</h5>
							<p class="m-0 font-12">On the other hand, we denounce...</p>
						</div>
						<a href="javascript:;" class="mt-md right-sidebar-collapsed">
							<i class="fa fa-comments" aria-hidden="true"></i>
						</a>
					</div>
					<div class="col-md-12 col-sm-12 col-12 p-sm content-body">
						<div class="float-left">
							<img class="rounded-circle avatar avatar-sm" alt="RTDL Image" src="assets/images/portrait/avatar2.png">
							<div class="small-badges idle"></div>
						</div>
						<div class="float-left px-sm">
							<h5 class="m-0">Grace padila</h5>
							<p class="m-0 font-12">On the other hand, we denounce...</p>
						</div>
						<a href="javascript:;" class="mt-md right-sidebar-collapsed">
							<i class="fa fa-comments" aria-hidden="true"></i>
						</a>
					</div>
					<div class="col-md-12 col-sm-12 col-12 p-sm content-body">
						<div class="float-left">
							<img class="rounded-circle avatar avatar-sm" alt="RTDL Image" src="assets/images/portrait/avatar3.png">
							<div class="small-badges idle"></div>
						</div>
						<div class="float-left px-sm">
							<h5 class="m-0">Grace padila</h5>
							<p class="m-0 font-12">On the other hand, we denounce...</p>
						</div>
						<a href="javascript:;" class="mt-md right-sidebar-collapsed">
							<i class="fa fa-comments" aria-hidden="true"></i>
						</a>
					</div>
				</div>
				<div class="row no-gutters">
					<h5 class="mt-sm font-roboto-normal">Offline</h5>
					<div class="col-md-12 col-sm-12 col-12 p-sm content-body">
						<div class="float-left">
							<img class="rounded-circle avatar avatar-sm" alt="RTDL Image" src="assets/images/portrait/avatar5.png">
							<div class="small-badges offline"></div>
						</div>
						<div class="float-left px-sm">
							<h5 class="m-0">Grace padila</h5>
							<p class="m-0 font-12">On the other hand, we denounce...</p>
						</div>
						<a href="javascript:;" class="mt-md right-sidebar-collapsed">
							<i class="fa fa-comments" aria-hidden="true"></i>
						</a>
					</div>
					<div class="col-md-12 col-sm-12 col-12 p-sm content-body">
						<div class="float-left">
							<img class="rounded-circle avatar avatar-sm" alt="RTDL Image" src="assets/images/portrait/avatar2.png">
							<div class="small-badges offline"></div>
						</div>
						<div class="float-left px-sm">
							<h5 class="m-0">Grace padila</h5>
							<p class="m-0 font-12">On the other hand, we denounce...</p>
						</div>
						<a href="javascript:;" class="mt-md right-sidebar-collapsed">
							<i class="fa fa-comments" aria-hidden="true"></i>
						</a>
					</div>
					<div class="col-md-12 col-sm-12 col-12 p-sm content-body">
						<div class="float-left">
							<img class="rounded-circle avatar avatar-sm" alt="RTDL Image" src="assets/images/portrait/avatar2.png">
							<div class="small-badges offline"></div>
						</div>
						<div class="float-left px-sm">
							<h5 class="m-0">Grace padila</h5>
							<p class="m-0 font-12">On the other hand, we denounce...</p>
						</div>
						<a href="javascript:;" class="mt-md right-sidebar-collapsed">
							<i class="fa fa-comments" aria-hidden="true"></i>
						</a>
					</div>
					<div class="col-md-12 col-sm-12 col-12 p-sm content-body">
						<div class="float-left">
							<img class="rounded-circle avatar avatar-sm" alt="RTDL Image" src="assets/images/portrait/avatar2.png">
							<div class="small-badges offline"></div>
						</div>
						<div class="float-left px-sm">
							<h5 class="m-0">Grace padila</h5>
							<p class="m-0 font-12">On the other hand, we denounce...</p>
						</div>
						<a href="javascript:;" class="mt-md right-sidebar-collapsed">
							<i class="fa fa-comments" aria-hidden="true"></i>
						</a>
					</div>
					<div class="col-md-12 col-sm-12 col-12 p-sm content-body">
						<div class="float-left">
							<img class="rounded-circle avatar avatar-sm" alt="RTDL Image" src="assets/images/portrait/avatar2.png">
							<div class="small-badges offline"></div>
						</div>
						<div class="float-left px-sm">
							<h5 class="m-0">Grace padila</h5>
							<p class="m-0 font-12">On the other hand, we denounce...</p>
						</div>
						<a href="javascript:;" class="mt-md right-sidebar-collapsed">
							<i class="fa fa-comments" aria-hidden="true"></i>
						</a>
					</div>
					<div class="col-md-12 col-sm-12 col-12 p-sm content-body">
						<div class="float-left">
							<img class="rounded-circle avatar avatar-sm" alt="RTDL Image" src="assets/images/portrait/avatar2.png">
							<div class="small-badges offline"></div>
						</div>
						<div class="float-left px-sm">
							<h5 class="m-0">Grace padila</h5>
							<p class="m-0 font-12">On the other hand, we denounce...</p>
						</div>
						<a href="javascript:;" class="mt-md right-sidebar-collapsed">
							<i class="fa fa-comments" aria-hidden="true"></i>
						</a>
					</div>
					<div class="col-md-12 col-sm-12 col-12 p-sm content-body">
						<div class="float-left">
							<img class="rounded-circle avatar avatar-sm" alt="RTDL Image" src="assets/images/portrait/avatar2.png">
							<div class="small-badges offline"></div>
						</div>
						<div class="float-left px-sm">
							<h5 class="m-0">Grace padila</h5>
							<p class="m-0 font-12">On the other hand, we denounce...</p>
						</div>
						<a href="javascript:;" class="mt-md right-sidebar-collapsed">
							<i class="fa fa-comments" aria-hidden="true"></i>
						</a>
					</div>
					<div class="col-md-12 col-sm-12 col-12 p-sm content-body">
						<div class="float-left">
							<img class="rounded-circle avatar avatar-sm" alt="RTDL Image" src="assets/images/portrait/avatar2.png">
							<div class="small-badges offline"></div>
						</div>
						<div class="float-left px-sm">
							<h5 class="m-0">Grace padila</h5>
							<p class="m-0 font-12">On the other hand, we denounce...</p>
						</div>
						<a href="javascript:;" class="mt-md right-sidebar-collapsed">
							<i class="fa fa-comments" aria-hidden="true"></i>
						</a>
					</div>
					<div class="col-md-12 col-sm-12 col-12 p-sm content-body">
						<div class="float-left">
							<img class="rounded-circle avatar avatar-sm" alt="RTDL Image" src="assets/images/portrait/avatar2.png">
							<div class="small-badges offline"></div>
						</div>
						<div class="float-left px-sm">
							<h5 class="m-0">Grace padila</h5>
							<p class="m-0 font-12">On the other hand, we denounce...</p>
						</div>
						<a href="javascript:;" class="mt-md right-sidebar-collapsed">
							<i class="fa fa-comments" aria-hidden="true"></i>
						</a>
					</div>
					<div class="col-md-12 col-sm-12 col-12 p-sm content-body">
						<div class="float-left">
							<img class="rounded-circle avatar avatar-sm" alt="RTDL Image" src="assets/images/portrait/avatar2.png">
							<div class="small-badges offline"></div>
						</div>
						<div class="float-left px-sm">
							<h5 class="m-0">Grace padila</h5>
							<p class="m-0 font-12">On the other hand, we denounce...</p>
						</div>
						<a href="javascript:;" class="mt-md right-sidebar-collapsed">
							<i class="fa fa-comments" aria-hidden="true"></i>
						</a>
					</div>
					<div class="col-md-12 col-sm-12 col-12 p-sm content-body">
						<div class="float-left">
							<img class="rounded-circle avatar avatar-sm" alt="RTDL Image" src="assets/images/portrait/avatar2.png">
							<div class="small-badges offline"></div>
						</div>
						<div class="float-left px-sm">
							<h5 class="m-0">Grace padila</h5>
							<p class="m-0 font-12">On the other hand, we denounce...</p>
						</div>
						<a href="javascript:;" class="mt-md right-sidebar-collapsed">
							<i class="fa fa-comments" aria-hidden="true"></i>
						</a>
					</div>
					<div class="col-md-12 col-sm-12 col-12 p-sm content-body">
						<div class="float-left">
							<img class="rounded-circle avatar avatar-sm" alt="RTDL Image" src="assets/images/portrait/avatar2.png">
							<div class="small-badges offline"></div>
						</div>
						<div class="float-left px-sm">
							<h5 class="m-0">Grace padila</h5>
							<p class="m-0 font-12">On the other hand, we denounce...</p>
						</div>
						<a href="javascript:;" class="mt-md right-sidebar-collapsed">
							<i class="fa fa-comments" aria-hidden="true"></i>
						</a>
					</div>
				</div>
			</div>

			<!-- Chatting -->
			<div class="chat-sidebar-chat pt-sm">
				<div class="col-12 p-0 content-chat-body">
					<h5 class="p-sm">
						<a href="javascript:;" class="text-white chat-content-hide"><i class="fa fa-angle-left mr-xs"></i>&nbsp;&nbsp;Chris Gray</a>
					</h5>
					<div>
						<ul class="list-unstyled m-0 p-md">
							<li class="list-item message p-sm">
								<img class="rounded-circle avatar avatar-sm float-left mr-md" alt="RTDL Image" src="assets/images/portrait/avatar5.png">
								<div class="message-body">Hey! What's up?</div>
							</li>
							<li class="list-item message from-me p-sm">
								<img class="rounded-circle avatar avatar-sm float-right ml-md" alt="RTDL Image" src="assets/images/portrait/avatar2.png">
								<div class="message-body">Just wanted to ask you about RTDL Theme.</div>
							</li>
							<li class="list-item message p-sm">
								<img class="rounded-circle avatar avatar-sm float-left mr-md" alt="RTDL Image" src="assets/images/portrait/avatar5.png">
								<div class="message-body">Ohh yeah, It's nice, responsive and each components are built perfectly to fit for anything.</div>
							</li>
							<li class="list-item message from-me p-sm">
								<img class="rounded-circle avatar avatar-sm float-right ml-md" alt="RTDL Image" src="assets/images/portrait/avatar2.png">
								<div class="message-body">Wow nice. Let me get it.</div>
							</li>
							<li class="list-item message p-sm">
								<img class="rounded-circle avatar avatar-sm float-left mr-md" alt="RTDL Image" src="assets/images/portrait/avatar5.png">
								<div class="message-body">Okay great!</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-12">
					<textarea class="col-12" placeholder="Type Message..."></textarea>
				</div>
			</div>
		</div>
	</aside>

	<!-- Main wrapper -->
	<div class="main-wrapper bg-lg">
		<!-- Section page content -->
		<div class="row card-page">
			<div class="col-lg-12 col-md-12 col-sm-12 col-12 my-sm">
				<div class="card">
					<div class="card-header">
						<h5 class="m-0">Card Header</h5>
					</div>
					<div class="card-body text-center">
						<h2 class="font-os-thin">Card Body</h2>
					</div>
					<div class="card-footer">
						Card Footer
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Settings menu -->
	<div class="settings-menu pb-md">
		<div class="row m-0">
			<div class="col-12 settings-header">
				<div>
					<i aria-hidden="true" class="fa fa-cog fa-lg"></i>
				</div>
				<div class="p-sm">
					<h4 class="m-0 py-sm">Settings</h4>
					<p class="font-12 mb-sm">Customize Theme layout, sidebars, and color schemes. This is for demonstration purpose. All options are available via code.</p>
				</div>
			</div>
		</div>
		<div class="row m-0">
			<div class="col-12">
				<div class="row">
					<div class="col-xl-4 col-lg-6 p-md">
						<div class="col-12 p-0">
							<h5 class="font-os-bold my-sm">Fixed Position</h5>
							<h6 class="my-sm">Sidebar</h6>
						</div>
						<div class="col-12 setting-box p-sm">
							<label for="sidebar_checkbox" class="font-roboto-normal font-12 m-0">Fixed Position</label>
							<div class="float-right">
								<input type="checkbox" id="sidebar_checkbox" class="sidebar_checkbox">
							</div>
						</div>
						<div class="col-12 p-0">
							<h6 class="my-sm">Header</h6>
						</div>
						<div class="col-12 setting-box p-sm">
							<label for="navbar_checkbox" class="font-roboto-normal font-12 m-0">Fixed Position</label>
							<div class="float-right">
								<input type="checkbox" id="navbar_checkbox" class="navbar_checkbox">
							</div>
						</div>
						<div class="col-12 p-0">
							<h6 class="my-sm">Footer</h6>
						</div>
						<div class="col-12 setting-box p-sm">
							<label for="footer_checkbox" class="font-roboto-normal font-12 m-0">Fixed Position</label>
							<div class="float-right">
								<input type="checkbox" id="footer_checkbox" class="footer_checkbox">
							</div>
						</div>
					</div>
					<div class="col-xl-4 col-lg-6 p-md">
						<div class="col-12 p-0">
							<h5 class="font-os-bold my-sm">Layout</h5>
						</div>
						<div class="col-12 setting-box p-sm">
							<label for="box_checkbox" class="font-roboto-normal font-12 m-0">Box Layout</label>
							<div class="float-right">
								<input type="checkbox" id="box_checkbox" class="box_checkbox">
							</div>
						</div>
						<div class="col-12 p-0">
							<h6 class="my-sm">Sidebar Collapse</h6>
						</div>
						<div class="col-12 setting-box p-sm">
							<label for="collapsed_sidebar_checkbox" class="font-roboto-normal font-12 m-0">Collapse Mode</label>
							<div class="float-right">
								<input type="checkbox" id="collapsed_sidebar_checkbox" class="collapsed_sidebar_checkbox">
							</div>
						</div>
						<div class="col-12 setting-box p-sm mt-md">
							Amazing sidebars for your smart admin,
							<a routerLink="/" class="font-roboto-normal font-14 text-theme" target="_blank">Get Primary sidebar here.</a>
						</div>
					</div>
					<div class="col-xl-4 col-lg-12 p-md">
						<div class="col-12 p-0">
							<h5 class="font-os-bold my-sm">Color schemes</h5>
							<h6 class="my-sm">Dark Themes</h6>
						</div>
						<div class="col-12 p-0 color-schemes">
							<ul class="list-inline list-unstyled mb-sm">
								<li class="list-inline-item m-0 px-xs">
									<a href="javascript:;" class="strawberry-theme" data-theme="strawberry-theme" data-themecolor="#ed174c"></a>
								</li>
								<li class="list-inline-item m-0 px-xs">
									<a href="javascript:;" class="teal-theme" data-theme="teal-theme" data-themecolor="#18BA9B"></a>
								</li>
								<li class="list-inline-item m-0 px-xs">
									<a href="javascript:;" class="fresh-apple-theme" data-theme="fresh-apple-theme" data-themecolor="#74C52C"></a>
								</li>
								<li class="list-inline-item m-0 px-xs">
									<a href="javascript:;" class="blueberry-theme" data-theme="blueberry-theme" data-themecolor="#26aae0"></a>
								</li>
								<li class="list-inline-item m-0 px-xs">
									<a href="javascript:;" class="orange-theme" data-theme="orange-theme" data-themecolor="#f9553e"></a>
								</li>
								<li class="list-inline-item m-0 px-xs">
									<a href="javascript:;" class="almond-theme" data-theme="almond-theme" data-themecolor="#F38431"></a>
								</li>
								<li class="list-inline-item m-0 px-xs">
									<a href="javascript:;" class="lime-theme" data-theme="lime-theme" data-themecolor="#e2b60b"></a>
								</li>
								<li class="list-inline-item m-0 px-xs">
									<a href="javascript:;" class="elderberry-theme" data-theme="elderberry-theme" data-themecolor="#7847b5"></a>
								</li>
							</ul>
						</div>
						<h6 class="my-sm">Light Themes</h6>
						<div class="col-12 p-0 color-schemes">
							<ul class="list-inline list-unstyled mb-sm">
								<li class="list-inline-item m-0 px-xs">
									<a href="javascript:;" class="strawberry-light-theme" data-theme="strawberry-light-theme" data-themecolor="#ed174c"></a>
								</li>
								<li class="list-inline-item m-0 px-xs">
									<a href="javascript:;" class="teal-light-theme" data-theme="teal-light-theme" data-themecolor="#18BA9B"></a>
								</li>
								<li class="list-inline-item m-0 px-xs">
									<a href="javascript:;" class="fresh-apple-light-theme" data-theme="fresh-apple-light-theme" data-themecolor="#74C52C"></a>
								</li>
								<li class="list-inline-item m-0 px-xs">
									<a href="javascript:;" class="blueberry-light-theme" data-theme="blueberry-light-theme" data-themecolor="#26aae0"></a>
								</li>
								<li class="list-inline-item m-0 px-xs">
									<a href="javascript:;" class="orange-light-theme" data-theme="orange-light-theme" data-themecolor="#f9553e"></a>
								</li>
								<li class="list-inline-item m-0 px-xs">
									<a href="javascript:;" class="almond-light-theme" data-theme="almond-light-theme" data-themecolor="#F38431"></a>
								</li>
								<li class="list-inline-item m-0 px-xs">
									<a href="javascript:;" class="lime-light-theme" data-theme="lime-light-theme" data-themecolor="#e2b60b"></a>
								</li>
								<li class="list-inline-item m-0 px-xs">
									<a href="javascript:;" class="elderberry-light-theme" data-theme="elderberry-light-theme" data-themecolor="#7847b5"></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Footer -->
	<div class="row m-0">
		<div class="col-12">
			<div class="footer">
				<div class="float-left p-sm my-xs">
					&copy; Copyright
				</div>
				<div class="float-right p-sm"><img src="assets/images/logo-heading.png" alt="Ranpariya - The Development Lab (RTDL)"></div>
			</div>
		</div>
	</div>

	<!-- Scroll top -->
	<div>
		<a href="javascript:void(0);" class="scrollToTop" title="Scroll to Top"><span></span></a>
	</div>
</div>