<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">Tables</a></li>
							<li class="breadcrumb-item active text-dg">FooTable</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-table menu-icon" aria-hidden="true"></i> FooTable</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Foo Table Content-->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="d-inline-block mt-xs">Expandable Footable </h5>
				<a href="https://github.com/fooplugins/FooTable" target="_blank" class="btn btn-outline-secondary btn-sm float-right">Get Footable Doc</a>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table foo-table" data-toggle-column="last">
						<thead>
							<tr>
								<th data-breakpoints="xs">ID</th>
								<th>First Name</th>
								<th>Last Name</th>
								<th data-breakpoints="xs">Job Title</th>
								<th data-breakpoints="xs sm">Started On</th>
								<th data-breakpoints="all" data-title="Detail"></th>
							</tr>
						</thead>
						<tbody>
							<tr data-expanded="true">
								<td>1</td>
								<td>Dennise</td>
								<td>Fuhrman</td>
								<td>High School History Teacher</td>
								<td>November 8th 2016</td>
								<td>Your inner content</td>
							</tr>
							<tr>
								<td>2</td>
								<td>Elodia</td>
								<td>Weisz</td>
								<td>Wallpaperer Helper</td>
								<td>October 15th 2017</td>
								<td>Your inner content</td>
							</tr>
							<tr>
								<td>3</td>
								<td>Raeann</td>
								<td>Haner</td>
								<td>Internal Medicine Nurse Practitioner</td>
								<td>November 28th 2016</td>
								<td>Your inner content</td>
							</tr>
							<tr>
								<td>4</td>
								<td>Junie</td>
								<td>Landa</td>
								<td>Offbearer</td>
								<td>October 31st 2016</td>
								<td>Your inner content</td>
							</tr>
							<tr>
								<td>5</td>
								<td>Solomon</td>
								<td>Bittinger</td>
								<td>Roller Skater</td>
								<td>December 29th 2016</td>
								<td>Your inner content</td>
							</tr>
							<tr>
								<td>6</td>
								<td>Bar</td>
								<td>Lewis</td>
								<td>Clown</td>
								<td>November 12th 2016</td>
								<td>Your inner content</td>
							</tr>
							<tr>
								<td>7</td>
								<td>Usha</td>
								<td>Leak</td>
								<td>Ships Electronic Warfare Officer</td>
								<td>August 14th 2017</td>
								<td>Your inner content</td>
							</tr>
							<tr>
								<td>8</td>
								<td>Lorriane</td>
								<td>Cooke</td>
								<td>Technical Services Librarian</td>
								<td>September 21st 2017</td>
								<td>Your inner content</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>