<!-- Section page content -->
<div class="row card-page">
	<div class="col-lg-12 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Card Header</h5>
			</div>
			<div class="card-body text-center">
				<h2 class="font-os-thin">Card Body</h2>
			</div>
			<div class="card-footer">
				Card Footer
			</div>
		</div>
	</div>
</div>