<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">Miscellaneous Page</a></li>
							<li class="breadcrumb-item active text-dg">Video</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-globe menu-icon" aria-hidden="true"></i> Responsive Video Page</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Video Page Content -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">16:9 Responsive Aspect Ratio</h5>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6">
						<p>Allow browsers to determine video dimensions based on the width of their containing block by creating an intrinsic ratio that will properly scale on any device.</p>
						<p>Rules are directly applied to <code>&lt;iframe&gt;</code>,<code>&lt;embed&gt;</code>,<code>&lt;video&gt;</code> and <code>&lt;object&gt;</code>elements; optionally use an explicit descendant class .embed-responsive-item when you want to match the styling for other attributes.</p>
						<div class="text-center">
							<a href="https://getbootstrap.com/docs/3.3/components/#responsive-embed" target="_blank" class="btn btn-outline-secondary mb-xs">Get Doc</a>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="embed-responsive embed-responsive-16by9">
							<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ANjnELuQsXM"></iframe>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>