<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">Plugins</a></li>
							<li class="breadcrumb-item active text-dg">Intro Js</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-plug menu-icon" aria-hidden="true"></i> Intro Js</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Intro Js content-->
<div class="row">
	<div class="col-lg-6 col-12 my-sm">
		<div class="card">
			<div class="card-body" data-step="5" data-intro="This is section Body">
				<div class="text-center py-xlg" data-step="4" data-intro="Into.js Section">
					<h2 data-step="1" data-intro="Intro.js Title for first slide" class="font-os-thin mb-sm">Intro.js</h2>
					<p data-step="2" data-intro="Visualization text to show second slide" class="font-os-thin">Step-by-step guide and feature introduction</p>
					<a data-step="3" data-intro="Click to get document for intro.js" target="_blank" href="https://github.com/usablica/intro.js/" class="btn btn-outline-secondary">Get Intro JS Doc</a>
					<a onclick="introJs().start()" href="javascript:void(0);" class="btn btn-outline-theme">Demo</a><br>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-6 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Intro.js How to use?</h5>
			</div>
			<div class="card-body">
				<p>
					Intro.js can be added to your site in three simple steps:
				</p>
				<p>
					<b>1)</b> Include <code>intro.js</code> and <code>introjs.css</code> (or the minified version for production) in your page. Use <code>introjs-rtl.min.css</code>for Right-to-Left language support.
				</p>
				<p>
					--> CDN hosted files are available at <a href="http://www.jsdelivr.com/projects/intro.js" target="_blank">jsDelivr</a> (click Show More) & <a href="https://cdnjs.com/libraries/intro.js" target="_blank">cdnjs</a>.
				</p>
				<p>
					<b>2)</b> Add <code>data-intro</code> and <code>data-step</code> to your HTML elements. To add hints you should use <code>data-hint</code> attribute.
				</p>
				<p>For example:</p>
				<pre class="card bg-lg p-sm">&lt;a href='http://google.com/' data-intro='Hello step one!'&gt;&lt;/a&gt;</pre>
				<p>
					See all attributes <a href="https://github.com/usablica/intro.js/wiki/Documentation#attributes" target="_blank">here</a>.
				</p>
				<p>
					<b>3)</b> Call this JavaScript function:
				</p>
				<pre class="card bg-lg p-sm">introJs().start();</pre>
				<p>
					Optionally, pass one parameter to <code>introJs</code> function to limit the presentation section.
				</p>
				<p>
					<b>For example</b> <code>introJs(".introduction-farm").start();</code> runs the introduction only for elements with <code>class='introduction-farm'</code>.
				</p>
			</div>
		</div>
	</div>
</div>