<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">E-Commerce</a></li>
							<li class="breadcrumb-item active text-dg">Invoice</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Invoice</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Invoice Content -->
<div class="row">
	<div class="col-xl-8 offset-xl-2 col-lg-8 offset-lg-2 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-body">
				<h1 class="text-center font-os-thin text-theme">Invoice</h1>
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 col-6">
						<h5 class="text-dg">From:</h5>
						<address>
							<strong>RTDL LLC.</strong>
							<br>
							1355 Market Street, Suite 900,
							<br>
							San Francisco, CA 94103
							<br>
							<abbr title="Phone">P:</abbr>
							(123) 456-7890 
						</address>
						<strong>Lic. No:</strong>154875461264845
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-6 text-right">
						<div>
							<span class="text-dg">Invoice No.</span>
						</div>
						<div>
							<span class="text-theme">INV-000965D3-00</span>
						</div>
						<span>To:</span>
						<address>
							<strong>Twitter, Inc.</strong>
							<br>
							1355 Market Street, Suite 900,
							<br>
							San Francisco, CA 94103
							<br>
							<abbr title="Phone">P:</abbr>
							(123) 456-7890
						</address>
						<p>
							<span><strong class="text-dg">Invoice Date:</strong> Oct 10, 2017</span><br>
							<span><strong class="text-dg">Due Date:</strong> Oct 15, 2017</span>
						</p>
					</div>
				</div>
				<hr />
				<div class="row">
					<div class="col-lg-12">
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th>Item</th>
										<th class="text-center">Quantity</th>
										<th class="text-center">Price</th>
										<th class="text-center">Discount</th>
										<th class="text-center">Tax</th>
										<th class="text-right"><span  class="float-right">Price Total</span></th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<strong>1. Monthly Development Pack</strong>
											<div>
												<small>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>
											</div>
										</td>
										<td class="text-center">6</td>
										<td class="text-center">$20.00</td>
										<td class="text-center">-</td>
										<td class="text-center">$5.00</td>
										<td class="text-right">
											<span class="float-right">$25.00</span>
										</td>
									</tr>
									<tr>
										<td>
											<strong>2. Theme customization</strong>
											<div>
												<small>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>
											</div>
										</td>
										<td class="text-center">40</td>
										<td class="text-center">$100.00</td>
										<td class="text-center">10%</td>
										<td class="text-center">$18.00</td>
										<td class="text-right"><span class="float-right">$108.00</span></td>
									</tr>
									<tr>
										<td>
											<strong>3. Custom package development</strong>
											<div>
												<small>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>
											</div>
										</td>
										<td class="text-center">1</td>
										<td class="text-center">$500.00</td>
										<td class="text-center">5%</td>
										<td class="text-center">$25.00</td>
										<td class="text-right"><span class="float-right">$500.00</span></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="row">
							<div class="col-lg-10 col-md-10 col-sm-10 col-9">
								<div class="float-right">
									<h5>Sub Total:</h5>
									<h5>TAX:</h5>
									<h5>TOTAL:</h5>
								</div>
							</div>
							<div class="col-lg-2 col-md-2 col-sm-2 col-3">
								<div class="float-right">
									<h5>$585.00</h5>
									<h5>$48.00</h5>
									<h5>$633.00</h5>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card-footer">
				<a href="javascript:;" class="btn btn-outline-secondary mb-xs"><i class="fa fa-pencil"></i> Edit</a>
				<a class="btn btn-outline-secondary mb-xs" href="javascript:window.print();"><i class="fa fa-check "></i> Save</a>
				<a class="btn btn-outline-secondary mb-xs" href="javascript:window.print();"><i class="fa fa-print"></i> Print</a>
				<a class="btn btn-outline-secondary mb-xs" href="javascript:window.print();"><i class="fa fa-download"></i> Download PDF</a>
				<a href="javascript:;" class="btn btn-theme float-right mb-xs"> Payment</a>
			</div>
		</div>
	</div>
</div>