<aside class="right-sidebar">
	<ul class="nav nav-tabs" role="tablist">
		<li class=" nav-item col-md-4 col-sm-4 col-4 text-center p-0">
			<a class="nav-link active py-sm px-md" data-toggle="tab" href="#tasks" role="tab" aria-controls="tasks">
				<i class="fa fa-flag" aria-hidden="true"></i>
			</a>
		</li>
		<li class=" nav-item col-md-4 col-sm-4 col-4 text-center p-0">
			<a class="nav-link py-sm px-md" data-toggle="tab" href="#settings" role="tab" aria-controls="settings">
				<i class="fa fa-wrench" aria-hidden="true"></i>
			</a>
		</li>
		<li class=" nav-item col-md-4 col-sm-4 col-4 text-center p-0">
			<a class="nav-link py-sm px-md" data-toggle="tab" href="#chat" role="tab" aria-controls="chat">
				<i class="fa fa-comments" aria-hidden="true"></i>
				<span class="badge badge-theme ml-xs">8+</span>
			</a>
		</li>
	</ul>

	<!-- Tab panes -->
	<div class="tab-content p-sm">

		<!-- Tasks -->
		<div class="tab-pane active" id="tasks" role="tabpanel">
			<div class="col-md-12 col-sm-12 col-12 tasks-col px-md">
				<h5 class="font-roboto-bold my-sm">Billing & Reports</h5>
				<p class="font-12 mb-sm">Get <i>$25.00</i> off on your next bill by making sure your full payment reaches us before <i>Dec 31st, 2017</i>.</p>
			</div>
			<div class="col-md-12 col-sm-12 col-12 tasks-col text-center p-sm">
				<h5 class="font-roboto-bold my-sm">Amount Due On</h5>
				<h6 class="my-sm">June 18,2017</h6>
				<h4 class="font-roboto-bold my-sm">$40.00</h4>
				<button class="btn btn-success btn-md mb-sm btn-block" type="button">Pay Now</button>
			</div>
			<div class="col-md-12 col-sm-12 col-12 tasks-col">
				<h5 class="font-roboto-bold my-sm">Additional Actions</h5>
				<ul class="p-0 mb-sm">
					<li class="list-item p-sm m-0">
						<a href="javascript:;">
							<i class="fa fa-info-circle" aria-hidden="true">&nbsp;&nbsp;&nbsp;&nbsp;</i>Service Informations
						</a>
					</li>
					<li class="list-item p-sm m-0">
						<a href="javascript:;">
							<i class="fa fa-user-circle" aria-hidden="true">&nbsp;&nbsp;&nbsp;&nbsp;</i>User Usage
						</a>
					</li>
					<li class="list-item p-sm m-0">
						<a href="javascript:;">
							<i class="fa fa-credit-card-alt" aria-hidden="true">&nbsp;&nbsp;&nbsp;</i>Payment Options
							<span class="badge badge-warning float-right">New</span>
						</a>
					</li>
					<li class="list-item p-sm m-0">
						<a href="javascript:;">
							<i class="fa fa-assistive-listening-systems" aria-hidden="true">&nbsp;&nbsp;&nbsp;&nbsp;</i>Message Center
							<span class="badge badge-info float-right">New</span>
						</a>
					</li>
				</ul>
			</div>
			<div class="col-md-12 col-sm-12 col-12 text-center p-sm">
				<i class="fa fa-phone fa-4x" aria-hidden="true"></i>
				<p class="mb-0">Questions?</p>
				<h3 class="mt-0 mb-sm">(111) 111-11111</h3>
				<h6 class="my-sm">We are here 24/7</h6>
			</div>
		</div>

		<!-- Settings -->
		<div class="tab-pane right-sidebar-setting" id="settings" role="tabpanel">
			<div class="row">
				<!-- Notifications -->
				<div class="col-md-10 col-sm-10 col-10 mb-md">
					<label for="notifications" class="font-roboto-bold font-14 m-0">Notifications</label>
					<div><small>Did you need them ?</small></div>
				</div>
				<div class="col-md-2 col-sm-2 col-2">
					<div class="float-right mb-md">
						<input type="checkbox" id="notifications" class="notifications">
					</div>
				</div>
				<!-- API Access -->
				<div class="col-md-10 col-sm-10 col-10 mb-md">
					<label for="API-access" class="font-roboto-bold font-14 m-0">API Access</label>
					<div><small>Enable/Disable access</small></div>
				</div>
				<div class="col-md-2 col-sm-2 col-2">
					<div class="float-right mb-md">
						<input type="checkbox" id="API-access" class="API-access">
					</div>
				</div>
				<!-- Auto Updates -->
				<div class="col-md-10 col-sm-10 col-10 mb-md">
					<label for="auto-updates" class="font-roboto-bold font-14 m-0">Auto Updates</label>
					<div><small>Keep up to date</small></div>
				</div>
				<div class="col-md-2 col-sm-2 col-2">
					<div class="float-right mb-md">
						<input type="checkbox" id="auto-updates" class="auto-updates">
					</div>
				</div>
				<!-- Online Status -->
				<div class="col-md-10 col-sm-10 col-10 mb-md">
					<label for="online-status" class="font-roboto-bold font-14 m-0">Online Status</label>
					<div><small>Show your status to all</small></div>
				</div>
				<div class="col-md-2 col-sm-2 col-2">
					<div class="float-right mb-md">
						<input type="checkbox" id="online-status" class="online-status">
					</div>
				</div>
				<!-- Settings for Responsive -->
				<div class="col-md-10 col-sm-10 col-10 mb-md">
					<label for="settings-responsive" class="font-roboto-bold font-14 m-0">Settings for Responsive</label>
					<div><small>Did you need Settings for Responsive ?</small></div>
				</div>
				<div class="col-md-2 col-sm-2 col-2">
					<div class="float-right mb-md">
						<input type="checkbox" id="settings-responsive" class="settings-responsive">
					</div>
				</div>
				<!-- Activity -->
				<div class="col-md-10 col-sm-10 col-10 mb-md">
					<label for="activity" class="font-roboto-bold font-14 m-0">Activity</label>
					<div><small>Show your Activity to all</small></div>
				</div>
				<div class="col-md-2 col-sm-2 col-2">
					<div class="float-right mb-md">
						<input type="checkbox" id="activity" class="activity">
					</div>
				</div>
				<!-- Statisticts -->
				<div class="col-md-10 col-sm-10 col-10 mb-md">
					<label for="statisticts" class="font-roboto-bold font-14 m-0">Statisticts</label>
					<div><small>Show your Statisticts to all</small></div>
				</div>
				<div class="col-md-2 col-sm-2 col-2">
					<div class="float-right mb-md">
						<input type="checkbox" id="statisticts" class="statisticts">
					</div>
				</div>
				<div class="col-md-12 col-sm-12 col-12 mb-md">
					<h4 class="font-roboto-bold pt-md my-sm">Settings</h4>
					<p class="font-12 mb-sm">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				</div>
			</div>
		</div>

		<!-- Chat -->
		<div class="tab-pane" id="chat" role="tabpanel">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-12">
					<div class="form-group m-0">
						<div class="input-group input-group-dark">
							<input type="text" placeholder="Search..." class="form-control">
							<span class="input-group-addon"><i class="fa fa-search"></i></span>
						</div>
					</div>
				</div>
			</div>
			<div class="row no-gutters">
				<h5 class="my-sm font-roboto-normal">Online</h5>
				<div class="col-md-12 col-sm-12 col-12 p-sm content-body">
					<div class="float-left">
						<img class="rounded-circle avatar avatar-sm" alt="RTDL Image" src="assets/images/portrait/avatar5.png">
						<div class="small-badges active"></div>
					</div>
					<div class="float-left px-sm">
						<h5 class="m-0">Grace padila</h5>
						<p class="m-0 font-12">On the other hand, we denounce...</p>
					</div>
					<a href="javascript:;" class="mt-md right-sidebar-collapsed">
						<i class="fa fa-comments" aria-hidden="true"></i>
					</a>
				</div>
				<div class="col-md-12 col-sm-12 col-12 p-sm content-body">
					<div class="float-left">
						<img class="rounded-circle avatar avatar-sm" alt="RTDL Image" src="assets/images/portrait/avatar2.png">
						<div class="small-badges active"></div>
					</div>
					<div class="float-left px-sm">
						<h5 class="m-0">Grace padila</h5>
						<p class="m-0 font-12">On the other hand, we denounce...</p>
					</div>
					<a href="javascript:;" class="mt-md right-sidebar-collapsed">
						<i class="fa fa-comments" aria-hidden="true"></i>
					</a>
				</div>
				<div class="col-md-12 col-sm-12 col-12 p-sm content-body">
					<div class="float-left">
						<img class="rounded-circle avatar avatar-sm" alt="RTDL Image" src="assets/images/portrait/avatar3.png">
						<div class="small-badges active"></div>
					</div>
					<div class="float-left px-sm">
						<h5 class="m-0">Grace padila</h5>
						<p class="m-0 font-12">On the other hand, we denounce...</p>
					</div>
					<a href="javascript:;" class="mt-md right-sidebar-collapsed">
						<i class="fa fa-comments" aria-hidden="true"></i>
					</a>
				</div>
				<div class="col-md-12 col-sm-12 col-12 p-sm content-body">
					<div class="float-left">
						<img class="rounded-circle avatar avatar-sm" alt="RTDL Image" src="assets/images/portrait/avatar4.png">
						<div class="small-badges active"></div>
					</div>
					<div class="float-left px-sm">
						<h5 class="m-0">Grace padila</h5>
						<p class="m-0 font-12">On the other hand, we denounce...</p>
					</div>
					<a href="javascript:;" class="mt-md right-sidebar-collapsed">
						<i class="fa fa-comments" aria-hidden="true"></i>
					</a>
				</div>
			</div>
			<div class="row no-gutters">
				<h5 class="my-sm font-roboto-normal">Idle</h5>
				<div class="col-md-12 col-sm-12 col-12 p-sm content-body">
					<div class="float-left">
						<img class="rounded-circle avatar avatar-sm" alt="RTDL Image" src="assets/images/portrait/avatar5.png">
						<div class="small-badges idle"></div>
					</div>
					<div class="float-left px-sm">
						<h5 class="m-0">Grace padila</h5>
						<p class="m-0 font-12">On the other hand, we denounce...</p>
					</div>
					<a href="javascript:;" class="mt-md right-sidebar-collapsed">
						<i class="fa fa-comments" aria-hidden="true"></i>
					</a>
				</div>
				<div class="col-md-12 col-sm-12 col-12 p-sm content-body">
					<div class="float-left">
						<img class="rounded-circle avatar avatar-sm" alt="RTDL Image" src="assets/images/portrait/avatar2.png">
						<div class="small-badges idle"></div>
					</div>
					<div class="float-left px-sm">
						<h5 class="m-0">Grace padila</h5>
						<p class="m-0 font-12">On the other hand, we denounce...</p>
					</div>
					<a href="javascript:;" class="mt-md right-sidebar-collapsed">
						<i class="fa fa-comments" aria-hidden="true"></i>
					</a>
				</div>
				<div class="col-md-12 col-sm-12 col-12 p-sm content-body">
					<div class="float-left">
						<img class="rounded-circle avatar avatar-sm" alt="RTDL Image" src="assets/images/portrait/avatar3.png">
						<div class="small-badges idle"></div>
					</div>
					<div class="float-left px-sm">
						<h5 class="m-0">Grace padila</h5>
						<p class="m-0 font-12">On the other hand, we denounce...</p>
					</div>
					<a href="javascript:;" class="mt-md right-sidebar-collapsed">
						<i class="fa fa-comments" aria-hidden="true"></i>
					</a>
				</div>
			</div>
			<div class="row no-gutters">
				<h5 class="mt-sm font-roboto-normal">Offline</h5>
				<div class="col-md-12 col-sm-12 col-12 p-sm content-body">
					<div class="float-left">
						<img class="rounded-circle avatar avatar-sm" alt="RTDL Image" src="assets/images/portrait/avatar5.png">
						<div class="small-badges offline"></div>
					</div>
					<div class="float-left px-sm">
						<h5 class="m-0">Grace padila</h5>
						<p class="m-0 font-12">On the other hand, we denounce...</p>
					</div>
					<a href="javascript:;" class="mt-md right-sidebar-collapsed">
						<i class="fa fa-comments" aria-hidden="true"></i>
					</a>
				</div>
				<div class="col-md-12 col-sm-12 col-12 p-sm content-body">
					<div class="float-left">
						<img class="rounded-circle avatar avatar-sm" alt="RTDL Image" src="assets/images/portrait/avatar2.png">
						<div class="small-badges offline"></div>
					</div>
					<div class="float-left px-sm">
						<h5 class="m-0">Grace padila</h5>
						<p class="m-0 font-12">On the other hand, we denounce...</p>
					</div>
					<a href="javascript:;" class="mt-md right-sidebar-collapsed">
						<i class="fa fa-comments" aria-hidden="true"></i>
					</a>
				</div>
				<div class="col-md-12 col-sm-12 col-12 p-sm content-body">
					<div class="float-left">
						<img class="rounded-circle avatar avatar-sm" alt="RTDL Image" src="assets/images/portrait/avatar2.png">
						<div class="small-badges offline"></div>
					</div>
					<div class="float-left px-sm">
						<h5 class="m-0">Grace padila</h5>
						<p class="m-0 font-12">On the other hand, we denounce...</p>
					</div>
					<a href="javascript:;" class="mt-md right-sidebar-collapsed">
						<i class="fa fa-comments" aria-hidden="true"></i>
					</a>
				</div>
				<div class="col-md-12 col-sm-12 col-12 p-sm content-body">
					<div class="float-left">
						<img class="rounded-circle avatar avatar-sm" alt="RTDL Image" src="assets/images/portrait/avatar2.png">
						<div class="small-badges offline"></div>
					</div>
					<div class="float-left px-sm">
						<h5 class="m-0">Grace padila</h5>
						<p class="m-0 font-12">On the other hand, we denounce...</p>
					</div>
					<a href="javascript:;" class="mt-md right-sidebar-collapsed">
						<i class="fa fa-comments" aria-hidden="true"></i>
					</a>
				</div>
				<div class="col-md-12 col-sm-12 col-12 p-sm content-body">
					<div class="float-left">
						<img class="rounded-circle avatar avatar-sm" alt="RTDL Image" src="assets/images/portrait/avatar2.png">
						<div class="small-badges offline"></div>
					</div>
					<div class="float-left px-sm">
						<h5 class="m-0">Grace padila</h5>
						<p class="m-0 font-12">On the other hand, we denounce...</p>
					</div>
					<a href="javascript:;" class="mt-md right-sidebar-collapsed">
						<i class="fa fa-comments" aria-hidden="true"></i>
					</a>
				</div>
				<div class="col-md-12 col-sm-12 col-12 p-sm content-body">
					<div class="float-left">
						<img class="rounded-circle avatar avatar-sm" alt="RTDL Image" src="assets/images/portrait/avatar2.png">
						<div class="small-badges offline"></div>
					</div>
					<div class="float-left px-sm">
						<h5 class="m-0">Grace padila</h5>
						<p class="m-0 font-12">On the other hand, we denounce...</p>
					</div>
					<a href="javascript:;" class="mt-md right-sidebar-collapsed">
						<i class="fa fa-comments" aria-hidden="true"></i>
					</a>
				</div>
				<div class="col-md-12 col-sm-12 col-12 p-sm content-body">
					<div class="float-left">
						<img class="rounded-circle avatar avatar-sm" alt="RTDL Image" src="assets/images/portrait/avatar2.png">
						<div class="small-badges offline"></div>
					</div>
					<div class="float-left px-sm">
						<h5 class="m-0">Grace padila</h5>
						<p class="m-0 font-12">On the other hand, we denounce...</p>
					</div>
					<a href="javascript:;" class="mt-md right-sidebar-collapsed">
						<i class="fa fa-comments" aria-hidden="true"></i>
					</a>
				</div>
				<div class="col-md-12 col-sm-12 col-12 p-sm content-body">
					<div class="float-left">
						<img class="rounded-circle avatar avatar-sm" alt="RTDL Image" src="assets/images/portrait/avatar2.png">
						<div class="small-badges offline"></div>
					</div>
					<div class="float-left px-sm">
						<h5 class="m-0">Grace padila</h5>
						<p class="m-0 font-12">On the other hand, we denounce...</p>
					</div>
					<a href="javascript:;" class="mt-md right-sidebar-collapsed">
						<i class="fa fa-comments" aria-hidden="true"></i>
					</a>
				</div>
				<div class="col-md-12 col-sm-12 col-12 p-sm content-body">
					<div class="float-left">
						<img class="rounded-circle avatar avatar-sm" alt="RTDL Image" src="assets/images/portrait/avatar2.png">
						<div class="small-badges offline"></div>
					</div>
					<div class="float-left px-sm">
						<h5 class="m-0">Grace padila</h5>
						<p class="m-0 font-12">On the other hand, we denounce...</p>
					</div>
					<a href="javascript:;" class="mt-md right-sidebar-collapsed">
						<i class="fa fa-comments" aria-hidden="true"></i>
					</a>
				</div>
				<div class="col-md-12 col-sm-12 col-12 p-sm content-body">
					<div class="float-left">
						<img class="rounded-circle avatar avatar-sm" alt="RTDL Image" src="assets/images/portrait/avatar2.png">
						<div class="small-badges offline"></div>
					</div>
					<div class="float-left px-sm">
						<h5 class="m-0">Grace padila</h5>
						<p class="m-0 font-12">On the other hand, we denounce...</p>
					</div>
					<a href="javascript:;" class="mt-md right-sidebar-collapsed">
						<i class="fa fa-comments" aria-hidden="true"></i>
					</a>
				</div>
				<div class="col-md-12 col-sm-12 col-12 p-sm content-body">
					<div class="float-left">
						<img class="rounded-circle avatar avatar-sm" alt="RTDL Image" src="assets/images/portrait/avatar2.png">
						<div class="small-badges offline"></div>
					</div>
					<div class="float-left px-sm">
						<h5 class="m-0">Grace padila</h5>
						<p class="m-0 font-12">On the other hand, we denounce...</p>
					</div>
					<a href="javascript:;" class="mt-md right-sidebar-collapsed">
						<i class="fa fa-comments" aria-hidden="true"></i>
					</a>
				</div>
				<div class="col-md-12 col-sm-12 col-12 p-sm content-body">
					<div class="float-left">
						<img class="rounded-circle avatar avatar-sm" alt="RTDL Image" src="assets/images/portrait/avatar2.png">
						<div class="small-badges offline"></div>
					</div>
					<div class="float-left px-sm">
						<h5 class="m-0">Grace padila</h5>
						<p class="m-0 font-12">On the other hand, we denounce...</p>
					</div>
					<a href="javascript:;" class="mt-md right-sidebar-collapsed">
						<i class="fa fa-comments" aria-hidden="true"></i>
					</a>
				</div>
			</div>
		</div>

		<!-- Chatting -->
		<div class="chat-sidebar-chat pt-sm">
			<div class="col-12 p-0 content-chat-body">
				<h5 class="p-sm">
					<a href="javascript:;" class="text-white chat-content-hide"><i class="fa fa-angle-left mr-xs"></i>&nbsp;&nbsp;Chris Gray</a>
				</h5>
				<div>
					<ul class="list-unstyled m-0 p-md">
						<li class="list-item message p-sm">
							<img class="rounded-circle avatar avatar-sm float-left mr-md" alt="RTDL Image" src="assets/images/portrait/avatar5.png">
							<div class="message-body">Hey! What's up?</div>
						</li>
						<li class="list-item message from-me p-sm">
							<img class="rounded-circle avatar avatar-sm float-right ml-md" alt="RTDL Image" src="assets/images/portrait/avatar2.png">
							<div class="message-body">Just wanted to ask you about RTDL Theme.</div>
						</li>
						<li class="list-item message p-sm">
							<img class="rounded-circle avatar avatar-sm float-left mr-md" alt="RTDL Image" src="assets/images/portrait/avatar5.png">
							<div class="message-body">Ohh yeah, It's nice, responsive and each components are built perfectly to fit for anything.</div>
						</li>
						<li class="list-item message from-me p-sm">
							<img class="rounded-circle avatar avatar-sm float-right ml-md" alt="RTDL Image" src="assets/images/portrait/avatar2.png">
							<div class="message-body">Wow nice. Let me get it.</div>
						</li>
						<li class="list-item message p-sm">
							<img class="rounded-circle avatar avatar-sm float-left mr-md" alt="RTDL Image" src="assets/images/portrait/avatar5.png">
							<div class="message-body">Okay great!</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="mx-md">
				<textarea class="col-12" placeholder="Type Message..."></textarea>
			</div>
		</div>
	</div>
</aside>