<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">Plugins</a></li>
							<li class="breadcrumb-item active text-dg">Tinycon</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-plug menu-icon" aria-hidden="true"></i> Tinycon And Blink Title</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Tinycon Content-->
<div class="row">
	<div class="col-lg-6 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="d-inline-block my-xs">Tinycon</h5>
				<a href="https://github.com/tommoor/tinycon" target="_blank" class="btn btn-outline-secondary btn-sm float-right">Get Tinycon Doc</a>
			</div>
			<div class="card-body">
				<div>
					<p>
						A small library for manipulating the favicon, in particular adding alert bubbles and changing images. Tinycon gracefully falls back to a number in title approach for browsers that don't support canvas or dynamic favicons.
					</p>
					<h4>
						<b>Documentation</b>
					</h4>
					<p>
						Tinycon adds a single object to the global namespace and does not require initialisation. Tinycon is not available in IE.
					</p>
					<h4>
						<b>Installation</b>
					</h4>
					<p>
						There are several versions of Tinycon published on NPM, unfortunately they are not controlled by Tinycon and do not track HEAD. The best idea is to install from github directly and cut out the middleman!
					</p>
					<pre class="card bg-lg p-sm">npm install tommoor/tinycon --save</pre>
					<h4>
						<b>Basic Usage</b>
					</h4>
					<pre class="card bg-lg p-sm">Tinycon.setBubble(6);</pre>
					<h4>
						<b>Options</b>
					</h4>
					<p>
						Tinycon can take a range of options to customise the look
					</p>
					<ul>
						<li>
							<b>width</b> : the width of the alert bubble
						</li>
						<li>
							<b>height</b> : the height of the alert bubble
						</li>
						<li>
							<b>font</b> : a css string to use for the fontface (recommended to leave this)
						</li>
						<li>
							<b>color</b> : the foreground font color
						</li>
						<li>
							<b>background</b> : the alert bubble background color
						</li>
						<li>
							<b>fallback</b> : should we fallback to a number in brackets for browsers that don't support canvas/dynamic favicons? Boolean, or use the string 'force' to ensure a title update even in supported browsers.
						</li>
						<li>
							<b>abbreviate</b> : the alert bubble background color
						</li>
					</ul>
					<prism-block [code]="tinycon" [language]="'css'"></prism-block>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="row">
			<div class="col-12 my-sm">
				<div class="card">
					<div class="card-header">
						<h5 class="m-0">Tinycon Live Demo</h5>
					</div>
					<div class="card-body">
						<button id="set-one-icon" class="btn btn-outline-secondary m-md">Set Only Number</button>
						<button id="set-mul-icon" class="btn btn-outline-secondary m-md">Set Number with String</button>
						<button id="custom-bg-tinyicon" class="btn btn-outline-theme m-md">Set Custom Color</button>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 my-sm">
				<div class="card">
					<div class="card-header">
						<h5 class="m-0">Tinycon AMD support</h5>
					</div>
					<div class="card-body">
						<p>Tinycon can also be used as an asynchronous module.</p>
						<prism-block [code]="tinyconAmdSupport" [language]="'css'"></prism-block>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-6 my-sm">
		<div class="card">
			<div class="card-header m-0">
				<h5 class="d-inline-block my-xs">Blink Title</h5>
				<a href="https://github.com/flouthoc/blinkTitle.js" target="_blank" class="btn btn-outline-secondary btn-sm float-right">Get Blink Title Doc</a>
			</div>
			<div class="card-body">
				<p>
					Is a Pure Javascript Implementation of TitleBar Alert or Notification.It Can Perform Blinking of HTML Titlebar for Titlebar Alert or Titlebar Notification <a href="http://flouthoc.github.io/blinkTitle.js/" target="_blank">http://flouthoc.github.io/blinkTitle.js/</a>
				</p>
				<h4>
					<b>Usage</b>
				</h4>
				<p>
					Getting Started
				</p>
				<pre class="card bg-lg p-sm">&lt;script type="text/javascript" src="https://raw.githubusercontent.com/flouthoc/blinkTitle.js/master/index.js"&gt;&lt;/script&gt;</pre>
				<p>
					<b>Regular Blink</b>
				</p>
				<pre class="card bg-lg p-sm">blinkTitle('message1','message2',delayTime,false);</pre>
				
				<p>
					<b>Regular Blink with Timeout (milliseconds) (stops after 'timeout')</b>
				</p>
				<pre class="card bg-lg p-sm">blinkTitle('message1','message2',delayTime,false,timeout);</pre>
				<p>
					<b>If You Want Notify When User is On Other Tab</b>
				</p>
				<pre class="card bg-lg p-sm">blinkTitle('message1','message2',delayTime,true);</pre>
				<p>
					<b>If You Want Notify When User is On Other Tab with Timeout (milliseconds) (stops after 'timeout')</b>
				</p>
				<pre class="card bg-lg p-sm">blinkTitle('message1','message2',delayTime,true);</pre>
				<p>
					<b>Stop</b>
				</p>
				<pre class="card bg-lg p-sm">blinkTitleStop();</pre>
			</div>
		</div>
	</div>
	<div class="col-lg-6 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Blink Title Live Demo</h5>
			</div>
			<div class="card-body">
				<p>
					<a class="btn btn-outline-secondary" href="javascript:;" id="one" role="button">Blinking Start</a>&nbsp;
					<a class="btn btn-outline-secondary" href="javascript:;" role="button" id="stop-one">Blinking Stop</a>
				</p>
			</div>
		</div>
	</div>
</div>