<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">UI Elements</a></li>
							<li class="breadcrumb-item active text-dg">Scrollspy</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-laptop menu-icon" aria-hidden="true"></i> Scrollspy</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Scrollspy Content -->
<div class="row">
	<div class="col-xl-3 col-lg-3 col-md-5 col-sm-12 col-12 d-none d-md-block scrollspy my-sm">
		<div class="card">
			<div class="card-body">
				<nav class="nav nav-pills flex-column p-sm">
					<li class="nav-item"><a class="nav-link text-mb mb-xs active" href="#web-design">Web Design</a></li>
					<li class="nav-item"><a class="nav-link text-mb mb-xs" href="#web-development">Web Development</a>
						<nav class="nav nav-pills flex-column">
							<li class="nav-item"><a class="nav-link text-mb mb-xs ml-lg" href="#ruby">Ruby</a></li>
							<li class="nav-item"><a class="nav-link text-mb mb-xs ml-lg" href="#python">Python</a></li>
							<li class="nav-item"><a class="nav-link text-mb mb-xs ml-lg" href="#php">PHP</a></li>
						</nav>
					</li>
					<li class="nav-item"><a class="nav-link text-mb mb-xs" href="#marketing">Marketing</a></li>
					<li class="nav-item"><a class="nav-link text-mb mb-xs" href="#graphic-design">Graphic Design</a></li>
					<li class="nav-item"><a class="nav-link text-mb mb-xs" href="#logistics">Logistics</a></li>
					<li class="nav-item"><a class="nav-link text-mb mb-xs" href="#social">Social</a></li>
					<li class="nav-item"><a class="nav-link text-mb mb-xs" href="#management">Management</a></li>
					<li class="nav-item"><a class="nav-link text-mb mb-xs" href="#chemistry">Chemistry</a></li>
					<li class="nav-item"><a class="nav-link text-mb mb-xs" href="#mathematics">Mathematics</a></li>
				</nav>
			</div>
		</div>
	</div>
	<div class="col-xl-9 col-lg-9 col-md-7 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="scrollspy-cn">
				<div class="card-body">
					<div id="web-design">
						<h4 class="text-theme"><span class="fa fa-edit"></span> Web Design</h4>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
						massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
						quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
						Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
						</p>
						<div class="form-group">
							<form>
								<div class="form-group">
									<label for="exampleInputEmail1">Email address</label>
									<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
								</div>
								<div class="form-group">
									<label for="exampleInputPassword1">Password</label>
									<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
								</div>
								<div class="checkbox">
									<label>
										<input type="checkbox"> Check me out
									</label>
								</div>
								<button type="button" class="btn btn-theme">Submit</button>
							</form>
						</div>
					</div>

					<div id="web-development" class="pt-xlg">
						<h4 class="text-theme"><span class="fa fa-edit"></span> Web Development</h4>
						<p class="font-16"><b class="text-dg">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</b>. Aenean commodo ligula eget dolor. Aenean
						massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
						quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
						Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
						</p>
						<p>Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc. Etiam ultricies nisi vel augue.
						Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus,
						tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.
						Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.
						</p>
						<p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.
						Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh.Nam
						quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.
						</p>
					</div>

					<div id="ruby" class="pt-lg ml-xlg">
						<h4 class="text-theme">Ruby</h4>
						<p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.
						Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Nam quam nunc, blandit vel,
						luctus pulvinar, hendrerit id, lorem.
						</p>
						<p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.
						Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Nam quam nunc, blandit vel,
						luctus pulvinar, hendrerit id, lorem.
						</p>
					</div>

					<div id="python" class="pt-lg ml-xlg">
						<h4 class="text-theme">Python</h4>
						<p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.
						Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Nam quam nunc, blandit vel,
						luctus pulvinar, hendrerit id, lorem.
						</p>
						<div class="row text-center">
							<div class="col-12 col-sm-12 col-md-12 col-lg-4">
								<div class="card mb-sm">
									<img class="card-img-top m-0" src="assets/images/Carousel-Dummy-Image2.jpg" alt="RTDL Image" height="200">
									<div class="card-body">
										<h4>Thumbnail label</h4>
										<p>This is the image...</p>
										<p>
											<a href="javascript:;" class="btn btn-primary mb-xs" role="button">Button</a>
											<a href="javascript:;" class="btn btn-secondary mb-xs" role="button">Button</a>
										</p>
									</div>
								</div>
							</div>
							<div class="col-12 col-sm-12 col-md-12 col-lg-4">
								<div class="card mb-sm">
									<img class="card-img-top m-0" src="assets/images/Carousel-Dummy-Image2.jpg" alt="RTDL Image" height="200">
									<div class="card-body">
										<h4>Thumbnail label</h4>
										<p>This is the image...</p>
										<p>
											<a href="javascript:;" class="btn btn-primary mb-xs" role="button">Button</a>
											<a href="javascript:;" class="btn btn-secondary mb-xs" role="button">Button</a>
										</p>
									</div>
								</div>
							</div>
							<div class="col-12 col-sm-12 col-md-12 col-lg-4">
								<div class="card mb-sm">
									<img class="card-img-top m-0" src="assets/images/Carousel-Dummy-Image2.jpg" alt="RTDL Image" height="200">
									<div class="card-body">
										<h4>Thumbnail label</h4>
										<p>This is the image...</p>
										<p>
											<a href="javascript:;" class="btn btn-primary mb-xs" role="button">Button</a>
											<a href="javascript:;" class="btn btn-secondary mb-xs" role="button">Button</a>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div id="php" class="pt-lg ml-xlg">
						<h4 class="text-theme">PHP</h4>
						<p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.
						Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Nam quam nunc, blandit vel,
						luctus pulvinar, hendrerit id, lorem.
						</p>
						<p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.
						Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Nam quam nunc, blandit vel,
						luctus pulvinar, hendrerit id, lorem.
						</p>
						<span class="badge badge-theme p-xs">Learn More</span>
					</div>
					
					<div id="marketing" class="pt-xlg">
						<h4 class="text-theme"><span class="fa fa-edit"></span> Marketing</h4>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
						massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
						quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
						Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
						</p>
						<div class="alert alert-danger" role="alert">
							Today market is <strong>down</strong>
						</div>
					</div>

					<div id="graphic-design" class="pt-xlg">
						<h4 class="text-theme"><span class="fa fa-edit"></span> Graphic Design</h4>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
						massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
						quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
						Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
						</p>
						<p>Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc. Etiam ultricies nisi vel augue.
						Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus,
						tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.
						Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.
						</p>
						<div id="accordion" role="tablist" aria-multiselectable="true">
							<div class="card">
								<div class="card-header" role="tab" id="headingOne">
									<h5 class="mb-0">
										<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
										Design 1
										</a>
									</h5>
								</div>
								<div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
									<div class="card-body">
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-header" role="tab" id="headingTwo">
									<h5 class="mb-0">
										<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
										Design 2
										</a>
									</h5>
								</div>
								<div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
									<div class="card-body">
										Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-header" role="tab" id="headingThree">
									<h5 class="mb-0">
										<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
										Design 3
										</a>
									</h5>
								</div>
								<div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
									<div class="card-body">
										Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
									</div>
								</div>
							</div>
						</div>
					</div>

					<div id="logistics" class="pt-xlg">
						<h4 class="text-theme"><span class="fa fa-edit"></span> Logistics</h4>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
						massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
						quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
						Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
						</p>
						<p>Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc.
						Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus,
						tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.
						Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.
						</p>
						<p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.
						Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh.
						Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.
						</p>
						<div class="table-responsive">
							<table class="table table-bordered table-hover">
								<thead>
									<tr>
										<th>#</th>
										<th>First Name</th>
										<th>Last Name</th>
										<th>Username</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1</td>
										<td>Mark</td>
										<td>Otto</td>
										<td>@mdo</td>
									</tr>
									<tr>
										<td>2</td>
										<td>Mark</td>
										<td>Wells</td>
										<td>@mdo</td>
									</tr>
									<tr>
										<td>3</td>
										<td>Jacob</td>
										<td>Thornton</td>
										<td>@fat</td>
									</tr>
									<tr>
										<td>4</td>
										<td>Larry</td>
										<td>the Bird</td>
										<td>@twitter</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

					<div id="social" class="pt-xlg">
						<h4 class="text-theme"><span class="fa fa-edit"></span> Social</h4>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
						massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
						quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
						Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
						</p>
						<p>Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante
						tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante
						tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.
						</p>
						<button type="button" class="btn btn-facebook mt-md font-16">
							<i class="fa fa-facebook"></i>
							<span>&nbsp;<b>Facebook</b></span>
						</button>
						<button type="button" class="btn btn-twitter mt-md font-16">
							<i class="fa fa-twitter"></i>
							<span>&nbsp;<b>Twitter</b></span>
						</button>
					</div>

					<div id="management" class="pt-xlg">
						<h4 class="text-theme"><span class="fa fa-edit"></span> Management</h4>
						<div class="card mb-sm">
							<p class="card-body m-0">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
							massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
							quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
							Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
							</p>
						</div>
						<div class="card">
							<p class="card-body m-0">Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in,
							viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum.
							Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui.
							Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet
							adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.
							</p>
						</div>
					</div>

					<div id="chemistry" class="pt-xlg">
						<h4 class="text-theme"><span class="fa fa-edit"></span> Chemistry</h4>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
						massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
						quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
						Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
						</p>
						<p>Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc.
						Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus,
						tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.
						Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.
						</p>
						<p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.
						Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh.
						Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.
						</p>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
						massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
						quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
						Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
						</p>
					</div>

					<div id="mathematics" class="pt-xlg">
						<h4 class="text-theme"><span class="fa fa-edit"></span> Mathematics</h4>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
						massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
						quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
						Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
						</p>
						<p>Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc. Etiam ultricies nisi vel augue.
						Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus,
						tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.
						Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.
						</p>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
						massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
						quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
						Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
						</p>
						<p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.
						Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh.
						Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.
						</p>
						<button type="button" class="btn btn-theme">Learn More</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>