<div class="row social-widgets">
	<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 my-sm font-os-thin social-widgets-box">
		<div class="bg-white text-dg p-lg" data-prefix=" " data-count=".num" data-from="0" data-to="6040" data-suffix=" " data-duration="2">
			<i class="fa fa-rss fa-4x float-right" aria-hidden="true"></i>
			<h4 class="num font-os-bold">20000</h4>
			<span>Subscribers</span>
		</div>
	</div>
	<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 my-sm font-os-thin social-widgets-box">
		<div class="bg-white text-dg p-lg" data-prefix=" " data-count=".num" data-from="0" data-to="2080" data-suffix=" " data-duration="2">
			<i class="fa fa-facebook fa-4x float-right" aria-hidden="true"></i>
			<h4 class="num font-os-bold">20000</h4>
			<span>People like it</span>
		</div>
	</div>
	<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 my-sm font-os-thin social-widgets-box">
		<div class="bg-white text-dg p-lg" data-prefix=" " data-count=".num" data-from="0" data-to="1800" data-suffix=" " data-duration="2">
			<i class="fa fa-twitter fa-4x float-right" aria-hidden="true"></i>
			<h4 class="num font-os-bold">20000</h4>
			<span>Followers</span>
		</div>
	</div>
	<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 my-sm font-os-thin social-widgets-box">
		<div class="bg-white text-dg p-lg" data-prefix=" " data-count=".num" data-from="0" data-to="3070" data-suffix=" " data-duration="2">
			<i class="fa fa-music fa-4x float-right" aria-hidden="true"></i>
			<h4 class="num font-os-bold">20000</h4>
			<span>Listeners</span>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 cl-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="d-inline-block m-0">Social Stats</h5>
					<div class="float-right">
						<a href="javascript:;" class="text-dg p-xs"><i class="fa fa-cog"></i></a>
						<a href="javascript:;" class="text-dg p-xs" data-toggle="collapse" data-target="#social-stats"><i class="fa fa-angle-down"></i></a>
						<a href="javascript:;" class="text-dg p-xs remove-card"><i class="fa fa-trash-o"></i></a>
					</div>
				</div>
				<div class="card-body collapse show p-0" id="social-stats">
				<div class="row">
					<div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
						<div id="flot-area" class="border-r" style="width:100%; height:220px;"></div>
					</div>
					<div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12 social-widgets">
						<div class="row mx-0">
							<div class="col-lg-12 col-md-12 col-sm-12 col-12 p-md">
								<div class="my-xs progress-rounded">
									<ngb-progressbar type="success" [value]="90" height="5px"></ngb-progressbar>
								</div>
								<div>
									<p class="d-inline-block">Today's Active Users</p>
									<p class="float-right">90%</p>
								</div>
								<div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
									<span class="newUser chart-dark-shadow"></span>
									<h5 class="mt-lg">New Users - Last 7 Days</h5>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="ribbon ribbon-theme"><span class="font-12 text-center">New</span></div>
			<div class="card-header">
				<h5 class="d-inline-block m-0">Blog Comments</h5>
				<div class="float-right">
					<a href="javascript:;" class="text-dg p-xs"><i class="fa fa-cog"></i></a>
					<a href="javascript:;" class="text-dg p-xs" data-toggle="collapse" data-target="#Comments"><i class="fa fa-angle-down"></i></a>
					<a href="javascript:;" class="text-dg p-xs remove-card"><i class="fa fa-trash-o"></i></a>
				</div>
			</div>
			<div class="card-body collapse show mt-0" id="Comments">
				<div class="media">
					<img class="mr-3 avatar avatar-md rounded-circle" src="assets/images/portrait/avatar1.png" alt="RTDL Image">
					<div class="media-body">
						<h4 class="mt-0">John Smith</h4>
						<p class="m-0"> Lorem Ipsum is simply dummy text.</p>
						<small>Today 5:60 pm</small>
					</div>
				</div>
				<div class="media mt-md">
					<img class="mr-3 avatar avatar-md rounded-circle" src="assets/images/portrait/avatar2.png" alt="RTDL Image">
					<div class="media-body">
						<h4 class="mt-0">Addison</h4>
						<p class="m-0"> There are many variations of passages.</p>
						<small>2 days ago at 9:30am</small>

						<div class="media mt-3">
							<img class="mr-3 avatar avatar-md rounded-circle" src="assets/images/portrait/avatar3.png" alt="RTDL Image">
							<div class="media-body">
								<h4 class="mt-0">Smith john</h4>
								<p class="m-0"> Check the Price List.</p>
								<small>Today 5:30 pm</small>
							</div>
						</div>
						<div class="media mt-3">
							<img class="mr-3 avatar avatar-md rounded-circle" src="assets/images/portrait/avatar1.png" alt="RTDL Image">
							<div class="media-body">
								<h4 class="mt-0">Adamaris</h4>
								<p class="m-0"> Lorem Ipsum dummy text.</p>
									<small>10 days ago at 11:30am</small>
							</div>
						</div>
					</div>
				</div>
				<div class="media mt-md">
					<img class="mr-3 avatar avatar-md rounded-circle" src="assets/images/portrait/avatar6.png" alt="RTDL Image">
					<div class="media-body">
						<h4 class="mt-0">Smith John</h4>
						<p class="m-0"> Lorem Ipsum dummy text.</p>
						<small>Today 5:45 pm</small>
					</div>
				</div>
				<div class="media mt-md">
					<img class="mr-3 avatar avatar-md rounded-circle" src="assets/images/portrait/avatar4.png" alt="RTDL Image">
					<div class="media-body">
						<h4 class="mt-0">Addison</h4>
						<p class="m-0"> Lorem Ipsum dummy text.</p>
						<small>Today 10:00 am</small>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-12 my-sm">
				<div class="card">
					<div class="card-header">
						<h5 class="d-inline-block m-0">Users Stats</h5>
						<div class="float-right">
							<a href="javascript:;" class="text-dg p-xs"><i class="fa fa-cog"></i></a>
							<a href="javascript:;" class="text-dg p-xs" data-toggle="collapse" data-target="#usersStats"><i class="fa fa-angle-down"></i></a>
							<a href="javascript:;" class="text-dg p-xs remove-card"><i class="fa fa-trash-o"></i></a>
						</div>
					</div>
					<div class="card-body collapse show" id="usersStats">
						<div id="userStats" class="height-200"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 my-sm">
				<div class="card">
					<div class="card-body">
						<div id="socialPie" class="p-0 height-200 mb-sm"></div>
						<h5 class="text-center"><b>Likes, Comments, Share</b></h5>
					</div>
				</div>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 my-sm">
				<div class="card">
					<div class="card-header">
						<h5 class="d-inline-block m-0">New Members</h5>
						<a class="btn btn-info btn-sm float-right py-0" href="javascript:;">View More</a>
					</div>
					<div class="card-body">
						<a routerLink="/profile" target="_blank"><img src="assets/images/portrait/avatar1.png" alt="RTDL Image" class="avatar avatar-md rounded-circle mr-xs" /></a>
						<a routerLink="/profile" target="_blank"><img src="assets/images/portrait/avatar2.png" alt="RTDL Image" class="avatar avatar-md rounded-circle mr-xs" /></a>
						<a routerLink="/profile" target="_blank"><img src="assets/images/portrait/avatar3.png" alt="RTDL Image" class="avatar avatar-md rounded-circle mr-xs" /></a>
						<a routerLink="/profile" target="_blank"><img src="assets/images/portrait/avatar4.png" alt="RTDL Image" class="avatar avatar-md rounded-circle mr-xs" /></a>
					</div>
				</div>
				<div class="card mt-lg">
					<div class="card-header">
						<h5 class="d-inline-block m-0">Active Members</h5>
						<a class="btn btn-success btn-sm float-right py-0" href="javascript:;">View More</a>
					</div>
					<div class="card-body">
						<a routerLink="/profile" target="_blank"><img src="assets/images/portrait/avatar7.png" alt="RTDL Image" class="avatar avatar-md rounded-circle mr-xs" /></a>
						<a routerLink="/profile" target="_blank"><img src="assets/images/portrait/avatar6.png" alt="RTDL Image" class="avatar avatar-md rounded-circle mr-xs" /></a>
						<a routerLink="/profile" target="_blank"><img src="assets/images/portrait/avatar5.png" alt="RTDL Image" class="avatar avatar-md rounded-circle mr-xs" /></a>
						<a routerLink="/profile" target="_blank"><img src="assets/images/portrait/avatar3.png" alt="RTDL Image" class="avatar avatar-md rounded-circle mr-xs" /></a>
						<a routerLink="/profile" target="_blank"><img src="assets/images/portrait/avatar2.png" alt="RTDL Image" class="avatar avatar-md rounded-circle mr-xs" /></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="d-inline-block m-0">Notifications</h5>
				<div class="float-right">
					<a href="javascript:;" class="text-dg p-xs"><i class="fa fa-cog"></i></a>
					<a href="javascript:;" class="text-dg p-xs" data-toggle="collapse" data-target=".notifications"><i class="fa fa-angle-down"></i></a>
					<a href="javascript:;" class="text-dg p-xs remove-card"><i class="fa fa-trash-o"></i></a>
				</div>
			</div>
			<div class="card-body collapse show notifications">
				<div class="chat-view"> 
					<ul class="list-unstyled">
						<li class="media border-b">
							<button type="button" class="btn rounded-circle btn-lg btn-theme mb-xs mr-3">
								<i class="fa fa-envelope fa-1x" aria-hidden="true"></i>
							</button>
							<div class="media-body">
								<h5 class="mt-0 mb-1"><a href="javascript:;" class="text-dg text-bold">You have 3 new messages</a></h5>
								<div></div>
								<p class="d-inline-block">John Smith, Addison, Vinn Demon</p>
								<small class="float-right text-dg">09:30 AM</small>
							</div>
						</li>
						<li class="media border-b mt-sm">
							<button type="button" class="btn rounded-circle btn-lg btn-primary mb-xs mr-3">
								<i class="fa fa-usd fa-1x" aria-hidden="true"></i>
							</button>
							<div class="media-body">
								<h5 class="mt-0 mb-1"><a href="javascript:;" class="text-dg text-bold">2 Invoices to pay</a></h5>
								<div></div>
								<p class="d-inline-block">John $3500 from Addision, $2000 from John Smith</p>
								<small class="float-right text-dg">10:25 AM</small>
							</div>
						</li>
						<li class="media border-b mt-sm">
							<button type="button" class="btn rounded-circle btn-lg btn-warning mb-xs mr-3">
								<i class="fa fa-check-square-o fa-1x" aria-hidden="true"></i>
							</button>
							<div class="media-body">
								<h5 class="mt-0 mb-1"><a href="javascript:;" class="text-dg text-bold">Create tasks lists</a></h5>
								<div></div>
								<p class="d-inline-block">Lorem Ipsum is simply dummy text.</p>
								<small class="float-right text-dg">11:30 AM</small>
							</div>
						</li>
						<li class="media border-b mt-sm">
							<button type="button" class="btn rounded-circle btn-lg btn-success mb-xs mr-3">
								<i class="fa fa-globe fa-1x" aria-hidden="true"></i>
							</button>
							<div class="media-body">
								<h5 class="mt-0 mb-1"><a href="javascript:;" class="text-dg text-bold">Newsfeed available</a></h5>
								<div></div>
								<p class="d-inline-block">Todays headlines : Lorem Ipsum is simply dummy text.</p>
								<small class="float-right text-dg">12:45 PM</small>
							</div>
						</li>
						<li class="media border-b mt-sm">
							<button type="button" class="btn rounded-circle btn-lg btn-info mb-xs mr-3">
								<i class="fa fa-envelope fa-1x" aria-hidden="true"></i>
							</button>
							<div class="media-body">
								<h5 class="mt-0 mb-1"><a href="javascript:;" class="text-dg text-bold">You have 3 new emails</a></h5>
								<div></div>
								<p class="d-inline-block">John Smith, Addison, Vinn Demon</p>
								<small class="float-right text-dg">02:30 PM</small>
							</div>
						</li>
						<li class="media mt-sm">
							<button type="button" class="btn rounded-circle btn-lg btn-theme mb-xs mr-3">
								<i class="fa fa-check-square-o fa-1x" aria-hidden="true"></i>
							</button>
							<div class="media-body">
								<h5 class="mt-0 mb-1"><a href="javascript:;" class="text-dg text-bold">15 New comments</a></h5>
								<div></div>
								<p class="d-inline-block">Lorem Ipsum is simply dummy text.</p>
								<small class="float-right text-dg">04:50 AM</small>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="ribbon ribbon-theme"><span class="font-12 text-center">New</span></div>
			<div class="card-header">
				<h5 class="d-inline-block m-0">Peoples</h5>
				<div class="float-right">
					<a href="javascript:;" class="text-dg p-xs"><i class="fa fa-cog"></i></a>
					<a href="javascript:;" class="text-dg p-xs" data-toggle="collapse" data-target=".chat-lists"><i class="fa fa-angle-down"></i></a>
					<a href="javascript:;" class="text-dg p-xs remove-card"><i class="fa fa-trash-o"></i></a>
				</div>
			</div>
			<div class="card-body collapse show chat-lists">
				<div class="chat-view"> 
					<div class="user-list">
						<ul class="list-unstyled">
							<li class="media border-b pb-sm">
								<a href="javascript:;"> 
									<img class="media-object avatar rounded-circle avatar-md mr-3" src="assets/images/portrait/avatar1.png" alt="RTDL Image"> 
								</a>
								<div class="media-body">
									<h5 class="mt-0"><a href="javascript:;" title="" class="text-dg"><b>Stefan vorden</b></a></h5>
									<p class="m-0 text-dg d-inline-block"> Lorem Ipsum is simply dummy text.</p>
									<span class="badge badge-success mr-sm float-right">Online</span>
								</div>
							</li>
							<li class="media border-b py-xs">
								<a href="javascript:;"> 
									<img class="media-object avatar rounded-circle avatar-md mr-3" src="assets/images/portrait/avatar2.png" alt="RTDL Image"> 
								</a>
								<div class="media-body">
									<h5 class="mt-0"><a href="javascript:;" title="" class="text-dg"><b>Tom Smit</b></a></h5>
									<div class="text-dg m-0"><small>Last seen: Saturday, 09:24 pm <i class="fa fa-clock-o"></i></small></div>
								</div>
							</li>
							<li class="media border-b py-xs">
								<a href="javascript:;"> 
									<img class="media-object avatar rounded-circle avatar-md mr-3" src="assets/images/portrait/avatar3.png" alt="RTDL Image"> 
								</a>
								<div class="media-body">
									<h5 class="mt-0"><a href="javascript:;" title="" class="text-dg"><b>Vinn Demon</b></a></h5>
									<p class="m-0 text-dg d-inline-block"> Lorem Ipsum is simply dummy text.</p>
									<span class="badge badge-success mr-sm float-right">Online</span>
								</div>
							</li>
							<li class="media border-b py-xs">
								<a href="javascript:;"> 
									<img class="media-object avatar rounded-circle avatar-md mr-3" src="assets/images/portrait/avatar6.png" alt="RTDL Image"> 
								</a>
								<div class="media-body">
									<h5 class="mt-0"><a href="javascript:;" title="" class="text-dg"><b>Addison</b></a></h5>
									<div class="text-dg m-0"><small>Last seen: Saturday, 09:24 pm <i class="fa fa-clock-o"></i></small></div>
								</div>
							</li>
							<li class="media border-b py-xs">
								<a href="javascript:;"> 
									<img class="media-object avatar rounded-circle avatar-md mr-3" src="assets/images/portrait/avatar7.png" alt="RTDL Image"> 
								</a>
								<div class="media-body">
									<h5 class="mt-0"><a href="javascript:;" title="" class="text-dg"><b>John Smith</b></a></h5>
									<p class="m-0 text-dg d-inline-block"> Lorem Ipsum is simply dummy text.</p>
									<span class="badge badge-success mr-sm float-right">Online</span>
								</div>
							</li>
							<li class="media border-b py-xs">
								<a href="javascript:;"> 
									<img class="media-object avatar rounded-circle avatar-md mr-3" src="assets/images/portrait/avatar4.png" alt="RTDL Image"> 
								</a>
								<div class="media-body">
									<h5 class="mt-0"><a href="javascript:;" title="" class="text-dg"><b>Adamaris</b></a></h5>
									<div class="text-dg m-0"><small>Last seen: 10:30 am <i class="fa fa-clock-o"></i></small></div>
								</div>
							</li>
							<li class="media border-b py-xs">
								<a href="javascript:;"> 
									<img class="media-object avatar rounded-circle avatar-md mr-3" src="assets/images/portrait/avatar5.png" alt="RTDL Image"> 
								</a>
								<div class="media-body">
									<h5 class="mt-0"><a href="javascript:;" title="" class="text-dg"><b>Tom venna</b></a></h5>
									<p class="m-0 text-dg d-inline-block"> Lorem Ipsum is simply dummy text.</p>
									<span class="badge badge-success mr-sm float-right">Online</span>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="d-inline-block m-0">Todo list</h5>
				<div class="float-right">
					<a href="javascript:;" class="text-dg p-xs"><i class="fa fa-cog"></i></a>
					<a href="javascript:;" class="text-dg p-xs" data-toggle="collapse" data-target=".todo-lists"><i class="fa fa-angle-down"></i></a>
					<a href="javascript:;" class="text-dg p-xs remove-card"><i class="fa fa-trash-o"></i></a>
				</div>
			</div>
			<div class="card-body collapse show todo-lists p-0">
				<ul id="square" class="list-unstyled p-0">
					<li class="my-1">
						<input type="checkbox" id="square-checkbox-1">&nbsp;&nbsp;
						<label for="square-checkbox-1">Create tasks lists</label>
					</li>
					<li class="my-1">
						<input type="checkbox" id="square-checkbox-2">&nbsp;&nbsp;
						<label for="square-checkbox-2">Go to shop and find some products.</label>
					</li>
					<li class="my-1">
						<input type="checkbox" id="square-checkbox-3">&nbsp;&nbsp;
						<label for="square-checkbox-3">Send documents to jake</label>&nbsp;&nbsp;
						<small class="badge badge-primary"><i class="fa fa-clock-o"></i> 1 mins</small>
					</li>
					<li class="my-1">
						<input type="checkbox" id="square-checkbox-4">&nbsp;&nbsp;
						<label for="square-checkbox-4">Go to the doctor dr Tom</label>
					</li>
					<li class="my-1">
						<input type="checkbox" id="square-checkbox-5">&nbsp;&nbsp;
						<label for="square-checkbox-5">Plan vacation</label>
					</li>
					<li class="my-1">
						<input type="checkbox" id="square-checkbox-6">&nbsp;&nbsp;
						<label for="square-checkbox-6">Create new stuff</label>
					</li>
					<li class="my-1">
						<input type="checkbox" id="square-checkbox-7">&nbsp;&nbsp;
						<label for="square-checkbox-7">Call to Dark for dinner</label>&nbsp;&nbsp;
						<small class="badge badge-success"><i class="fa fa-clock-o"></i> 30 mins</small>
					</li>
					<li class="my-1">
						<input type="checkbox" id="square-checkbox-8">&nbsp;&nbsp;
						<label for="square-checkbox-8">Go to home</label>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card m-0">
			<div class="card-header">
				<h5 class="d-inline-block m-0">User Detail</h5>
				<div class="float-right">
					<a href="javascript:;" class="text-dg p-xs"><i class="fa fa-cog"></i></a>
					<a href="javascript:;" class="text-dg p-xs" data-toggle="collapse" data-target=".user-detail"><i class="fa fa-angle-down"></i></a>
					<a href="javascript:;" class="text-dg p-xs remove-card"><i class="fa fa-trash-o"></i></a>
				</div>
			</div>
			<div class="card-body collapse show user-detail">
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Id</th>
								<th>First name</th>
								<th>Last name</th>
								<th>E-mail</th>
								<th>Date of Birth</th>
								<th>Phone No:</th>
							</tr> 
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>Dennise</td>
								<td>Fuhrman</td>
								<td>Dennise@mail.com</td>
								<td>Jan 12th, 1995</td>
								<td>+1 (123) 456-7890</td>
							</tr>
							<tr>
								<td>2</td>
								<td>Elodia</td>
								<td>Weisz</td>
								<td>Elodia@mail.com</td>
								<td>Feb 14th, 1989</td>
								<td>+1 (123) 456-7890</td>
							</tr>
							<tr>
								<td>3</td>
								<td>Raeann</td>
								<td>Haner</td>
								<td>Raeann@mail.com</td>
								<td>Aug 25th, 1992</td>
								<td>+1 (123) 456-7890</td>
							</tr>
							<tr>
								<td>4</td>
								<td>Junie</td>
								<td>Landa</td>
								<td>Junie@mail.com</td>
								<td>Oct 11th, 1984</td>
								<td>+1 (123) 456-7890</td>
							</tr>
							<tr>
								<td>5</td>
								<td>Solomon</td>
								<td>Bittinger</td>
								<td>Solomon@mail.com</td>
								<td>Sep 19th, 1991</td>
								<td>+1 (123) 456-7890</td>
							</tr>
							<tr>
								<td>6</td>
								<td>Bar</td>
								<td>Lewis</td>
								<td>Bar@mail.com</td>
								<td>Nov 18th, 1986</td>
								<td>+1 (123) 456-7890</td>
							</tr>
							<tr>
								<td>7</td>
								<td>Usha</td>
								<td>Leak</td>
								<td>Usha@mail.com</td>
								<td>July 15th, 1993</td>
								<td>+1 (123) 456-7890</td>
							</tr>
							<tr>
								<td>8</td>
								<td>Lorriane</td>
								<td>Cooke</td>
								<td>Lorriane@mail.com</td>
								<td>Feb 13th, 1982</td>
								<td>+1 (123) 456-7890</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>