<div class="profile">
	<div class="row d-block">
		<div class="profile-block">
			<div class="profile-cover"></div>
			<div>
				<div class="profile-image float-left">
					<img class="profile-avatar" src="/../../assets/images/portrait/thumbnail.png" alt="RTDL Image">
				</div>
				<div class="profile-info">
					<h4>Jonny Smith</h4>
					<p>UXUI / Frontend Developer</p>
					<a href="javascript:;" class="btn btn-theme">Edit Profile</a>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12 p-0 mb-sm">
			<div class="card border-0 m-0">
				<div class="card-body p-0">
					<ul class="nav nav-pills p-xs" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" data-toggle="pill" href="#Activity" role="tab">Activity</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="pill" href="#Photo" role="tab">Photo</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="pill" href="#Video" role="tab">Video</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="pill" href="#EditProfile" role="tab">Edit Profile</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12 my-sm">
			<div class="tab-content">
				<div id="Activity" class="tab-pane active" role="tabpanel">
					<div class="row">
						<div class="col-12 mb-sm">
							<div class="card">
								<div class="card-body activity">
									<div class="mt-sm border-r-sm">
										<div class="activity-header">
											<div class="activity-header-image mr-md">
												<img class="border-r-sm" src="/../../assets/images/portrait/thumbnail.png" alt="RTDL Image">
											</div>
											<div class="mt-xs">
												<h5 class="m-0"><a href="javascript:;" class="text-theme">Jonny Smith</a> at <a href="javascript:;" class="text-theme">Maldives Rufiyaa, Asia</a></h5>
												<small>July 24</small>
											</div>
										</div>
										<div class="activity-content mt-md">
											<p class="activity-desc">Best images of the year</p>
											<ul class="image-grid list-unstyled">
												<li class="main-image"><a href="javascript:;"><img src="/../../assets/images/profile/activity.jpg" alt="RTDL Image"></a></li>
												<li><a href="javascript:;"><img src="/../../assets/images/profile/activity12.jpg" alt="RTDL Image"></a></li>
												<li><a href="javascript:;"><img src="/../../assets/images/profile/activity1.jpg" alt="RTDL Image"></a></li>
												<li><a href="javascript:;"><img src="/../../assets/images/profile/activity11.jpg" alt="RTDL Image"></a></li>
												<li><a href="javascript:;"><img src="/../../assets/images/profile/activity2.jpg" alt="RTDL Image"></a></li>
												<li><a href="javascript:;"><img src="/../../assets/images/profile/activity10.jpg" alt="RTDL Image"></a></li>
												<li><a href="javascript:;"><img src="/../../assets/images/profile/activity3.jpg" alt="RTDL Image"></a></li>
												<li><a href="javascript:;"><img src="/../../assets/images/profile/activity9.jpg" alt="RTDL Image"></a></li>
												<li class="image-number">
													<a href="javascript:;">
														<img src="/../../assets/images/profile/activity4.jpg" alt="RTDL Image">
														<div class="number">+2</div>
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-12 my-sm">
							<div class="card">
								<div class="card-body">
									<div class="activity mt-sm border-r-sm">
										<div class="activity-header">
											<div class="activity-header-image mr-md">
												<img class="border-r-sm" src="/../../assets/images/portrait/thumbnail.png" alt="RTDL Image">
											</div>
											<div class="mt-xs">
												<h5 class="m-0"><a href="javascript:;" class="text-theme">Jonny Smith</a></h5>
												<small>Oct 14</small>
											</div>
										</div>
										<div class="activity-content mt-md">
											<p>
												Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.
												It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.<p>
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>
												<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.<p>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-12 my-sm">
							<div class="card">
								<div class="card-body">
									<div class="activity mt-sm border-r-sm">
										<div class="activity-header">
											<div class="activity-header-image mr-md">
												<img class="border-r-sm" src="/../../assets/images/portrait/thumbnail.png" alt="RTDL Image">
											</div>
											<div class="mt-xs">
												<h5 class="m-0"><a href="javascript:;" class="text-theme">Jonny Smith</a> is watching <a href="javascript:;" class="text-theme">REO Speedwagon - Can't Fight This Feeling</a></h5>
												<small>Oct 14</small>
											</div>
										</div>
										<div class="activity-content mt-md">
											<p class="activity-desc">Best video of the year</p>
											<div class="row m-0">
												<div class="col-xl-8 col-lg-12 p-0">
													<div class="embed-responsive embed-responsive-16by9">
														<iframe class="embed-responsive-item p-xs" src="https://www.youtube.com/embed/ANjnELuQsXM"></iframe>
													</div>
												</div>
												<div class="col-xl-4 col-lg-12 p-0">
													<div class="row m-0">
														<div class="col-xl-12 col-lg-6 col-md-6 col-sm-6 p-0">
															<div class="embed-responsive embed-responsive-16by9">
																<iframe class="embed-responsive-item p-xs" src="https://www.youtube.com/embed/ANjnELuQsXM"></iframe>
															</div>
														</div>
														<div class="col-xl-12 col-lg-6 col-md-6 col-sm-6 p-0">
															<div class="embed-responsive embed-responsive-16by9">
																<iframe class="embed-responsive-item p-xs" src="https://www.youtube.com/embed/ANjnELuQsXM"></iframe>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-12 my-sm">
							<div class="card">
								<div class="card-body">
									<div class="activity mt-sm border-r-sm">
										<div class="activity-header">
											<div class="activity-header-image mr-md">
												<img class="border-r-sm" src="/../../assets/images/portrait/thumbnail.png" alt="RTDL Image">
											</div>
											<div class="mt-xs">
												<h5 class="m-0"><a href="javascript:;" class="text-theme">Jonny Smith</a> at <a href="javascript:;" class="text-theme">Maldives Rufiyaa, Asia</a></h5>
												<small>Jan 16</small>
											</div>
										</div>
										<div class="activity-content mt-md">
											<p class="activity-desc">Best images of the year</p>
											<ul class="image-grid list-unstyled">
												<li><a href="javascript:;"><img src="/../../assets/images/profile/activity8.jpg" alt="RTDL Image"></a></li>
												<li><a href="javascript:;"><img src="/../../assets/images/profile/activity5.jpg" alt="RTDL Image"></a></li>
												<li><a href="javascript:;"><img src="/../../assets/images/profile/activity12.jpg" alt="RTDL Image"></a></li>
												<li><a href="javascript:;"><img src="/../../assets/images/profile/activity6.jpg" alt="RTDL Image"></a></li>
												<li class="main-image"><a href="javascript:;"><img src="/../../assets/images/profile/activity11.jpg" alt="RTDL Image"></a></li>
												<li class="main-image"><a href="javascript:;"><img src="/../../assets/images/profile/activity7.jpg" alt="RTDL Image"></a></li>
												<li><a href="javascript:;"><img src="/../../assets/images/profile/activity1.jpg" alt="RTDL Image"></a></li>
												<li><a href="javascript:;"><img src="/../../assets/images/profile/activity9.jpg" alt="RTDL Image"></a></li>
												<li><a href="javascript:;"><img src="/../../assets/images/profile/activity2.jpg" alt="RTDL Image"></a></li>
												<li class="image-number">
													<a href="javascript:;">
														<img src="/../../assets/images/profile/activity10.jpg" alt="RTDL Image">
														<div class="number">+8</div>
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="Photo" class="tab-pane" role="tabpanel">
					<div class="card">
						<div class="card-body">
							<div class="row m-0 photos">
								<div class="p-0 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12">	
									<img class="p-xs" src="/../../assets/images/profile/activity.jpg" alt="RTDL Image">
								</div>
								<div class="p-0 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12">	
									<img class="p-xs" src="/../../assets/images/profile/activity12.jpg" alt="RTDL Image">
								</div>
								<div class="p-0 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12">	
									<img class="p-xs" src="/../../assets/images/profile/activity1.jpg" alt="RTDL Image">
								</div>
								<div class="p-0 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12">	
									<img class="p-xs" src="/../../assets/images/profile/activity11.jpg" alt="RTDL Image">
								</div>
								<div class="p-0 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12">	
									<img class="p-xs" src="/../../assets/images/profile/activity10.jpg" alt="RTDL Image">
								</div>
								<div class="p-0 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12">	
									<img class="p-xs" src="/../../assets/images/profile/activity5.jpg" alt="RTDL Image">
								</div>
								<div class="p-0 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12">	
									<img class="p-xs" src="/../../assets/images/profile/activity8.jpg" alt="RTDL Image">
								</div>
								<div class="p-0 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12">	
									<img class="p-xs" src="/../../assets/images/profile/activity3.jpg" alt="RTDL Image">
								</div>
								<div class="p-0 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12">	
									<img class="p-xs" src="/../../assets/images/profile/activity7.jpg" alt="RTDL Image">
								</div>
								<div class="p-0 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12">	
									<img class="p-xs" src="/../../assets/images/profile/activity9.jpg" alt="RTDL Image">
								</div>
								<div class="p-0 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12">	
									<img class="p-xs" src="/../../assets/images/profile/activity4.jpg" alt="RTDL Image">
								</div>
								<div class="p-0 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12">	
									<img class="p-xs" src="/../../assets/images/profile/activity11.jpg" alt="RTDL Image">
								</div>
								<div class="p-0 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12">	
									<img class="p-xs" src="/../../assets/images/profile/activity3.jpg" alt="RTDL Image">
								</div>
								<div class="p-0 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12">	
									<img class="p-xs" src="/../../assets/images/profile/activity6.jpg" alt="RTDL Image">
								</div>
								<div class="p-0 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12">	
									<img class="p-xs" src="/../../assets/images/profile/activity.jpg" alt="RTDL Image">
								</div>
								<div class="p-0 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12">	
									<img class="p-xs" src="/../../assets/images/profile/activity10.jpg" alt="RTDL Image">
								</div>
								<div class="p-0 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12">	
									<img class="p-xs" src="/../../assets/images/profile/activity2.jpg" alt="RTDL Image">
								</div>
								<div class="p-0 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12">	
									<img class="p-xs" src="/../../assets/images/profile/activity12.jpg" alt="RTDL Image">
								</div>
								<div class="p-0 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12">	
									<img class="p-xs" src="/../../assets/images/profile/activity8.jpg" alt="RTDL Image">
								</div>
								<div class="p-0 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12">	
									<img class="p-xs" src="/../../assets/images/profile/activity4.jpg" alt="RTDL Image">
								</div>
								<div class="p-0 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12">	
									<img class="p-xs" src="/../../assets/images/profile/activity6.jpg" alt="RTDL Image">
								</div>
								<div class="p-0 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12">	
									<img class="p-xs" src="/../../assets/images/profile/activity1.jpg" alt="RTDL Image">
								</div>
								<div class="p-0 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12">	
									<img class="p-xs" src="/../../assets/images/profile/activity7.jpg" alt="RTDL Image">
								</div>
								<div class="p-0 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12">	
									<img class="p-xs" src="/../../assets/images/profile/activity5.jpg" alt="RTDL Image">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="Video" class="tab-pane" role="tabpanel">
					<div class="card">
						<div class="card-body">
							<div class="row m-0">
								<div class="p-0 col-xl-8 col-lg-12">
									<div class="embed-responsive embed-responsive-16by9">
										<iframe class="embed-responsive-item p-xs" src="https://www.youtube.com/embed/ANjnELuQsXM"></iframe>
									</div>
								</div>
								<div class="p-0 col-xl-4 col-lg-12">
									<div class="row">
										<div class="col-12">
											<div class="embed-responsive embed-responsive-16by9">
												<iframe class="embed-responsive-item p-xs" src="https://www.youtube.com/embed/ANjnELuQsXM"></iframe>
											</div>
										</div>
										<div class="col-12">
											<div class="embed-responsive embed-responsive-16by9">
												<iframe class="embed-responsive-item p-xs" src="https://www.youtube.com/embed/ANjnELuQsXM"></iframe>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row m-0">
								<div class="p-0 col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
									<div class="embed-responsive embed-responsive-16by9">
										<iframe class="embed-responsive-item p-xs" src="https://www.youtube.com/embed/ANjnELuQsXM"></iframe>
									</div>
								</div>
								<div class="p-0 col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
									<div class="embed-responsive embed-responsive-16by9">
										<iframe class="embed-responsive-item p-xs" src="https://www.youtube.com/embed/ANjnELuQsXM"></iframe>
									</div>
								</div>
								<div class="p-0 col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
									<div class="embed-responsive embed-responsive-16by9">
										<iframe class="embed-responsive-item p-xs" src="https://www.youtube.com/embed/ANjnELuQsXM"></iframe>
									</div>
								</div>
								<div class="p-0 col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
									<div class="embed-responsive embed-responsive-16by9">
										<iframe class="embed-responsive-item p-xs" src="https://www.youtube.com/embed/ANjnELuQsXM"></iframe>
									</div>
								</div>
								<div class="p-0 col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
									<div class="embed-responsive embed-responsive-16by9">
										<iframe class="embed-responsive-item p-xs" src="https://www.youtube.com/embed/ANjnELuQsXM"></iframe>
									</div>
								</div>
								<div class="p-0 col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
									<div class="embed-responsive embed-responsive-16by9">
										<iframe class="embed-responsive-item p-xs" src="https://www.youtube.com/embed/ANjnELuQsXM"></iframe>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="EditProfile" class="tab-pane" role="tabpanel">
					<div class="card">
						<div class="card-body">
							<form>
								<div class="form-group mt-sm row">
									<label for="inputName" class="col-sm-2 control-label">Name :</label>

									<div class="col-md-10">
									  <input type="text" class="form-control" id="inputName" placeholder="Enter your name">
									</div>
								</div>
								<div class="form-group row">
									<label for="inputEmail" class="col-md-2 control-label">Email :</label>

									<div class="col-md-10">
									  <input type="email" class="form-control" id="inputEmail" placeholder="Enter your Email">
									</div>
								</div>
								<div class="form-group row">
									<label for="inputphone" class="col-md-2 control-label">Contact No :</label>

									<div class="col-md-10">
									  <input type="text" class="form-control" id="inputphone" placeholder="Enter your contact no">
									</div>
								</div>
								<div class="form-group row">
									<label for="skill" class="col-md-2 control-label">Skill :</label>

									<div class="col-md-10">
									  <input type="text" class="form-control" id="skill" placeholder="Enter your skill">
									</div>
								</div>
								<div class="form-group row">
									<label for="Education" class="col-md-2 control-label">Education :</label>

									<div class="col-md-10">
									  <textarea class="form-control" id="Education" placeholder="Enter your education"></textarea>
									</div>
								</div>
								<div class="form-group row">
									<div class="offset-md-2 col-md-10">
										<div class="square">
											<label>
												<input type="checkbox"> I agree to the <a href="javascript:;">terms and conditions</a>
											</label>
										</div>
									</div>
								</div>
								<div class="form-group row">
									<div class="offset-md-2 col-md-10">
										<a href="javascript:;" class="btn btn-theme">Submit</a>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12 my-sm">
			<div class="card">
				<div class="card-body p-0">
					<h4 class="font-os-bold p-sm m-0">About Me</h4>
					<div class="table-responsive">
						<table class="table m-0">
							<tr>
								<td class="width-150">
									<strong><i class="fa fa-user-o"></i></strong>
									<strong class="ml-xs">Jonny Smith</strong>
								</td>
								<td>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.
								</td>
							</tr>
							<tr>
								<td class="width-150">
									<strong><i class="fa fa-envelope-o"></i></strong>
									<strong class="ml-xs">Email</strong>
								</td>
								<td>
									jonnysmith@mail.com
								</td>
							</tr>
							<tr>
								<td class="width-150">
									<strong><i class="fa fa-phone"></i></strong>
									<strong class="ml-xs">Contact No</strong>
								</td>
								<td>
									(123) 456-7890
								</td>
							</tr>
							<tr>
								<td class="width-150">
									<strong><i class="fa fa-calendar-o"></i></strong>
									<strong class="ml-xs">Date of Birth</strong>
								</td>
								<td>
									Oct 11th, 2000
								</td>
							</tr>
							<tr>
								<td class="width-150">
									<strong><i class="fa fa-book"></i></strong>
									<strong class="ml-xs">Education</strong>
								</td>
								<td>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.
								</td>
							</tr>
							<tr>
								<td class="width-150">
									<strong><i class="fa fa-map-marker"></i></strong>
									<strong class="ml-xs">Location</strong>
								</td>
								<td>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.
								</td>
							</tr>
							<tr>
								<td class="width-150">
									<strong><i class="fa fa-pencil"></i></strong>
									<strong class="ml-xs">Skill</strong>
								</td>
								<td>
									<label class="badge badge-theme">HTML5</label>
									<label class="badge badge-primary">CSS3</label>
									<label class="badge badge-success">Javascript</label>
									<label class="badge badge-info">PHP</label>
									<label class="badge badge-warning">UI Design</label>
								</td>
							</tr>
							<tr>
								<td class="width-150">
									<strong><i class="fa fa-file-text-o"></i></strong>
									<strong class="ml-xs">Notes</strong>
								</td>
								<td>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.
								</td>
							</tr>
							<tr>
								<td class="width-150">
									<strong><i class="fa fa-users"></i></strong>
									<strong class="ml-xs">Friends</strong>
								</td>
								<td>
									<img class="avatar avatar-sm rounded-circle mt-xs" alt="RTDL Image" src="/../../assets/images/portrait/thumbnail.png">
									<img class="avatar avatar-sm rounded-circle mt-xs" alt="RTDL Image" src="/../../assets/images/portrait/avatar1.png">
									<img class="avatar avatar-sm rounded-circle mt-xs" alt="RTDL Image" src="/../../assets/images/portrait/avatar2.png">
									<img class="avatar avatar-sm rounded-circle mt-xs" alt="RTDL Image" src="/../../assets/images/portrait/avatar3.png">
									<img class="avatar avatar-sm rounded-circle mt-xs" alt="RTDL Image" src="/../../assets/images/portrait/avatar4.png">
									<img class="avatar avatar-sm rounded-circle mt-xs" alt="RTDL Image" src="/../../assets/images/portrait/avatar5.png">
									<img class="avatar avatar-sm rounded-circle mt-xs" alt="RTDL Image" src="/../../assets/images/portrait/avatar6.png">
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>