<!-- Section page content -->
<div class="row">
	<div class="col-lg-3 col-md-3 col-sm-12 col-12 my-sm">
		<div class="card height-320">
			<div class="card-body height-320">
			</div>
		</div>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-12 col-12 my-sm">
		<div class="row">
			<div class="col-12 mb-sm">
				<div class="card height-150">
					<div class="card-body height-150">
					</div>
				</div>
			</div>
			<div class="col-12 my-sm">
				<div class="card height-150">
					<div class="card-body height-150">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-12 col-12 my-sm">
		<div class="row">
			<div class="col-12 mb-sm">
				<div class="card height-150">
					<div class="card-body height-150">
					</div>
				</div>
			</div>
			<div class="col-12 my-sm">
				<div class="card height-150">
					<div class="card-body height-150">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-4 col-md-4 col-sm-12 col-12 my-sm">
		<div class="card height-320">
			<div class="card-body height-320">
			</div>
		</div>
	</div>
	<div class="col-lg-8 col-md-8 col-sm-12 col-12 my-sm">
		<div class="card height-320">
			<div class="card-body height-320">
			</div>
		</div>
	</div>
</div>