<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">Miscellaneous Page</a></li>
							<li class="breadcrumb-item active text-dg">Search Page</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-globe menu-icon" aria-hidden="true"></i> Search Page</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Search Page Content -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Search In Theme</h5>
			</div>
			<div class="card-body">
				<form method="get">
					<div class="input-group">
						<input class="form-control" type="text" name="search" placeholder="Search here">
						<div class="input-group-btn">
							<button class="btn btn-theme" type="button">Search</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-12 my-sm">
		<div class="card">
			<div class="card-body">
				<div>
					<h5 class="mb-0 font-os-normal">
						<a href="javascript:;" class="text-theme">What is Bootstrap?</a>
						<small class="float-right text-dg"><i class="fa fa-clock-o"></i> 11:40 pm - Oct 12th, 2017</small>
					</h5>
					<a href="javascript:;">getbootstrap.com</a>
					<p>
						Designed for everyone, everywhere.Bootstrap makes front-end web development faster and easier. It's made for folks of all skill levels, devices of all shapes, and projects of all sizes.
					</p>
				</div>
				<hr />
				<div>
					<h5 class="mb-0 font-os-normal">
						<a href="javascript:;" class="text-theme">What is Lorem Ipsum?</a>
						<small class="float-right text-dg"><i class="fa fa-clock-o"></i> 9:03 pm - Oct 10th, 2017</small>
					</h5>
					<a href="javascript:;">www.lipsum.com</a>
					<p>
						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
					</p>
				</div>
				<hr />
				<div>
					<h5 class="mb-0 font-os-normal">
						<a href="javascript:;" class="text-theme">Why do we use it?</a>
						<small class="float-right text-dg"><i class="fa fa-clock-o"></i> 8:18 pm - Oct 10th, 2017</small>
					</h5>
					<a href="javascript:;">www.lipsum.com</a>
					<p>
						It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
					</p>
				</div>
				<hr />
				<div>
					<h5 class="mb-0 font-os-normal">
						<a href="javascript:;" class="text-theme">Where does it come from?</a>
						<small class="float-right text-dg"><i class="fa fa-clock-o"></i> 2:30 pm - Oct 09th, 2017</small>
					</h5>
					<a href="javascript:;">www.lipsum.com</a>
					<p>
						Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.
					</p>
				</div>
			</div>
			<hr class="m-0">
			<div class="row mx-0">
				<div class="col-lg-4 col-md-6 col-sm-6 col-12 p-sm">
					<h4 class="font-os-thin">1,479 results found here</h4>
				</div>
				<div class="col-lg-8 col-md-6 col-sm-6 col-12 p-sm">
					<div class="pagination-theme">
						<ngb-pagination [collectionSize]="50" class="d-flex justify-content-end" page="2"></ngb-pagination>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>