<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">Project Management</a></li>
							<li class="breadcrumb-item active text-dg">Issue List</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-tasks" aria-hidden="true"></i> Issue List</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Issue List Content -->
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Issues</h5>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-xl-9 col-lg-8 col-md-6 col-sm-6 col-12">
						<div class="input-group py-xs">
							<input class="form-control" type="text" placeholder="Search issue">
							<span class="input-group-btn">
								<button class="btn btn btn-theme" type="button">
									<i class="fa fa-search"></i>
									Search
								</button>
							</span>
						</div>
					</div>
					<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
						<div class="float-right py-xs">
							<button class="btn btn-outline-secondary mb-xs" placement="left" ngbTooltip="Comments">
								<i class="fa fa-comment" aria-hidden="true"></i>
							</button>
							<button class="btn btn-outline-secondary mb-xs" placement="left" ngbTooltip="User">
								<i class="fa fa-user" aria-hidden="true"></i>
							</button>
							<button class="btn btn-outline-secondary mb-xs" placement="left" ngbTooltip="Edit">
								<i class="fa fa-pencil" aria-hidden="true"></i>
							</button>
							<button class="btn btn-outline-secondary mb-xs" placement="left" ngbTooltip="Download" onclick="window.print()">
								<i class="fa fa-download" aria-hidden="true"></i>
							</button>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th>#</th>
										<th>Subject</th>
										<th>Assignee</th>
										<th>Tracker</th>
										<th>Status</th>
										<th>Priority</th>
										<th class="text-center">Progress</th>
										<th>Update</th>
										<th><span class="float-right">Tags</span></th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>10</td>
										<td>
											<h5 class="m-0"><a routerLink="/projet-management/issue-detail" class="text-mg">Site Testing</a></h5>
											<small>Lorem Ipsum is simply dummy text for printing.</small>
										</td>
										<td>John Smith</td>
										<td class="text-danger">Bug</td>
										<td class="text-success">New</td>
										<td class="text-warning">Immediate</td>
										<td class="text-center">
											<span class="peity-pie">7/8</span>
										</td>
										<td>
											<small>Oct 10th, 2017 at 10:00 AM</small>
										</td>
										<td>
											<div class="float-right">
												<button class="btn btn-outline-secondary btn-sm mb-xs">
													<i class="fa fa-tag" aria-hidden="true"></i>
													HTML
												</button>
												<button class="btn btn-outline-secondary btn-sm mb-xs">
													<i class="fa fa-tag" aria-hidden="true"></i>
													CSS
												</button>
											</div>
										</td>
									</tr>
									<tr>
										<td>45</td>
										<td>
											<h5 class="m-0"><a routerLink="/projet-management/issue-detail" class="text-mg">Project analysis</a></h5>
											<small>Lorem Ipsum is simply dummy text for printing.</small>
										</td>
										<td>Addison</td>
										<td>Feature</td>
										<td class="text-warning">Rejected</td>
										<td>Urgent</td>
										<td class="text-center">
											<span class="peity-pie">3/8</span>
										</td>
										<td>
											<small>Oct 12th, 2017 at 02:15 PM</small>
										</td>
										<td>
											<div class="float-right">
												<button class="btn btn-outline-secondary btn-sm mb-xs">
													<i class="fa fa-tag" aria-hidden="true"></i>
													HTML
												</button>
												<button class="btn btn-outline-secondary btn-sm mb-xs">
													<i class="fa fa-tag" aria-hidden="true"></i>
													CSS
												</button>
											</div>
										</td>
									</tr>
									<tr>
										<td>21</td>
										<td>
											<h5 class="m-0"><a routerLink="/projet-management/issue-detail" class="text-mg">Typography demo</a></h5>
											<small>Lorem Ipsum is simply dummy text for printing.</small>
										</td>
										<td>Smith John</td>
										<td class="text-success">Support</td>
										<td>Feedback</td>
										<td class="text-danger">Low</td>
										<td class="text-center">
											<span class="peity-pie">5/8</span>
										</td>
										<td>
											<small>Oct 12th, 2017 at 05:40 PM</small>
										</td>
										<td>
											<div class="float-right">
												<button class="btn btn-outline-secondary btn-sm mb-xs">
													<i class="fa fa-tag" aria-hidden="true"></i>
													HTML
												</button>
												<button class="btn btn-outline-secondary btn-sm mb-xs">
													<i class="fa fa-tag" aria-hidden="true"></i>
													CSS
												</button>
											</div>
										</td>
									</tr>
									<tr>
										<td>25</td>
										<td>
											<h5 class="m-0"><a routerLink="/projet-management/issue-detail" class="text-mg">Creating website template</a></h5>
											<small>Lorem Ipsum is simply dummy text for printing.</small>
										</td>
										<td>Addison</td>
										<td class="text-danger">Bug</td>
										<td class="text-warning">Rejected</td>
										<td class="text-success">Normal</td>
										<td class="text-center">
											<span class="peity-pie">6/8</span>
										</td>
										<td>
											<small>Oct 13th, 2017 at 09:35 AM</small>
										</td>
										<td>
											<div class="float-right">
												<button class="btn btn-outline-secondary btn-sm mb-xs">
													<i class="fa fa-tag" aria-hidden="true"></i>
													HTML
												</button>
												<button class="btn btn-outline-secondary btn-sm mb-xs">
													<i class="fa fa-tag" aria-hidden="true"></i>
													CSS
												</button>
											</div>
										</td>
									</tr>
									<tr>
										<td>88</td>
										<td>
											<h5 class="m-0"><a routerLink="/projet-management/issue-detail" class="text-mg">Site Testing</a></h5>
											<small>Lorem Ipsum is simply dummy text for printing.</small>
										</td>
										<td>John Smith</td>
										<td class="text-danger">Bug</td>
										<td class="text-success">New</td>
										<td class="text-warning">Immediate</td>
										<td class="text-center">
											<span class="peity-pie">4/8</span>
										</td>
										<td>
											<small>Oct 10th, 2017 at 10:00 AM</small>
										</td>
										<td>
											<div class="float-right">
												<button class="btn btn-outline-secondary btn-sm mb-xs">
													<i class="fa fa-tag" aria-hidden="true"></i>
													HTML
												</button>
												<button class="btn btn-outline-secondary btn-sm mb-xs">
													<i class="fa fa-tag" aria-hidden="true"></i>
													CSS
												</button>
											</div>
										</td>
									</tr>
									<tr>
										<td>68</td>
										<td>
											<h5 class="m-0"><a routerLink="/projet-management/issue-detail" class="text-mg">Project analysis</a></h5>
											<small>Lorem Ipsum is simply dummy text for printing.</small>
										</td>
										<td>Addison</td>
										<td>Feature</td>
										<td class="text-success">New</td>
										<td>Urgent</td>
										<td class="text-center">
											<span class="peity-pie">5/8</span>
										</td>
										<td>
											<small>Oct 12th, 2017 at 02:15 PM</small>
										</td>
										<td>
											<div class="float-right">
												<button class="btn btn-outline-secondary btn-sm mb-xs">
													<i class="fa fa-tag" aria-hidden="true"></i>
													HTML
												</button>
												<button class="btn btn-outline-secondary btn-sm mb-xs">
													<i class="fa fa-tag" aria-hidden="true"></i>
													CSS
												</button>
											</div>
										</td>
									</tr>
									<tr>
										<td>99</td>
										<td>
											<h5 class="m-0"><a routerLink="/projet-management/issue-detail" class="text-mg">Typography demo</a></h5>
											<small>Lorem Ipsum is simply dummy text for printing.</small>
										</td>
										<td>Smith John</td>
										<td class="text-success">Support</td>
										<td>Feedback</td>
										<td class="text-danger">Low</td>
										<td class="text-center">
											<span class="peity-pie">5/8</span>
										</td>
										<td>
											<small>Oct 12th, 2017 at 05:40 PM</small>
										</td>
										<td>
											<div class="float-right">
												<button class="btn btn-outline-secondary btn-sm mb-xs">
													<i class="fa fa-tag" aria-hidden="true"></i>
													HTML
												</button>
												<button class="btn btn-outline-secondary btn-sm mb-xs">
													<i class="fa fa-tag" aria-hidden="true"></i>
													CSS
												</button>
											</div>
										</td>
									</tr>
									<tr>
										<td>35</td>
										<td>
											<h5 class="m-0"><a routerLink="/projet-management/issue-detail" class="text-mg">Creating website template</a></h5>
											<small>Lorem Ipsum is simply dummy text for printing.</small>
										</td>
										<td>Addison</td>
										<td class="text-danger">Bug</td>
										<td class="text-warning">Rejected</td>
										<td class="text-success">Normal</td>
										<td class="text-center">
											<span class="peity-pie">7/8</span>
										</td>
										<td>
											<small>Oct 13th, 2017 at 09:35 AM</small>
										</td>
										<td>
											<div class="float-right">
												<button class="btn btn-outline-secondary btn-sm mb-xs">
													<i class="fa fa-tag" aria-hidden="true"></i>
													HTML
												</button>
												<button class="btn btn-outline-secondary btn-sm mb-xs">
													<i class="fa fa-tag" aria-hidden="true"></i>
													CSS
												</button>
											</div>
										</td>
									</tr>
									<tr>
										<td>16</td>
										<td>
											<h5 class="m-0"><a routerLink="/projet-management/issue-detail" class="text-mg">Site Testing</a></h5>
											<small>Lorem Ipsum is simply dummy text for printing.</small>
										</td>
										<td>John Smith</td>
										<td class="text-danger">Bug</td>
										<td class="text-success">New</td>
										<td class="text-warning">Immediate</td>
										<td class="text-center">
											<span class="peity-pie">3/8</span>
										</td>
										<td>
											<small>Oct 10th, 2017 at 10:00 AM</small>
										</td>
										<td>
											<div class="float-right">
												<button class="btn btn-outline-secondary btn-sm mb-xs">
													<i class="fa fa-tag" aria-hidden="true"></i>
													HTML
												</button>
												<button class="btn btn-outline-secondary btn-sm mb-xs">
													<i class="fa fa-tag" aria-hidden="true"></i>
													CSS
												</button>
											</div>
										</td>
									</tr>
									<tr>
										<td>55</td>
										<td>
											<h5 class="m-0"><a routerLink="/projet-management/issue-detail" class="text-mg">Project analysis</a></h5>
											<small>Lorem Ipsum is simply dummy text for printing.</small>
										</td>
										<td>Addison</td>
										<td>Feature</td>
										<td class="text-warning">Rejected</td>
										<td>Urgent</td>
										<td class="text-center">
											<span class="peity-pie">5/8</span>
										</td>
										<td>
											<small>Oct 12th, 2017 at 02:15 PM</small>
										</td>
										<td>
											<div class="float-right">
												<button class="btn btn-outline-secondary btn-sm mb-xs">
													<i class="fa fa-tag" aria-hidden="true"></i>
													HTML
												</button>
												<button class="btn btn-outline-secondary btn-sm mb-xs">
													<i class="fa fa-tag" aria-hidden="true"></i>
													CSS
												</button>
											</div>
										</td>
									</tr>
									<tr>
										<td>75</td>
										<td>
											<h5 class="m-0"><a routerLink="/projet-management/issue-detail" class="text-mg">Typography demo</a></h5>
											<small>Lorem Ipsum is simply dummy text for printing.</small>
										</td>
										<td>Smith John</td>
										<td class="text-success">Support</td>
										<td>Feedback</td>
										<td class="text-danger">Low</td>
										<td class="text-center">
											<span class="peity-pie">4/8</span>
										</td>
										<td>
											<small>Oct 12th, 2017 at 05:40 PM</small>
										</td>
										<td>
											<div class="float-right">
												<button class="btn btn-outline-secondary btn-sm mb-xs">
													<i class="fa fa-tag" aria-hidden="true"></i>
													HTML
												</button>
												<button class="btn btn-outline-secondary btn-sm mb-xs">
													<i class="fa fa-tag" aria-hidden="true"></i>
													CSS
												</button>
											</div>
										</td>
									</tr>
									<tr>
										<td>12</td>
										<td>
											<h5 class="m-0"><a routerLink="/projet-management/issue-detail" class="text-mg">Creating website template</a></h5>
											<small>Lorem Ipsum is simply dummy text for printing.</small>
										</td>
										<td>Addison</td>
										<td class="text-danger">Bug</td>
										<td class="text-warning">Rejected</td>
										<td class="text-success">Normal</td>
										<td class="text-center">
											<span class="peity-pie">6/8</span>
										</td>
										<td>
											<small>Oct 13th, 2017 at 09:35 AM</small>
										</td>
										<td>
											<div class="float-right">
												<button class="btn btn-outline-secondary btn-sm mb-xs">
													<i class="fa fa-tag" aria-hidden="true"></i>
													HTML
												</button>
												<button class="btn btn-outline-secondary btn-sm mb-xs">
													<i class="fa fa-tag" aria-hidden="true"></i>
													CSS
												</button>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>