<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">UI Elements</a></li>
							<li class="breadcrumb-item active text-dg">Carousels</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-laptop menu-icon" aria-hidden="true"></i> Carousels</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Carousel Content -->
<div class="row">
	<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 my-sm  d-lg-none d-xl-block">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Carousel with Global configuration</h5>
			</div>
			<div class="card-body">
				<ngb-carousel interval=1000 keyboard=false wrap=false>
					<ng-template ngbSlide>
						<img class="d-block img-fluid w-100" src="assets/images/Carousel-Dummy-Image2.jpg" alt="RTDL Image" style="height:300px">
					</ng-template>
					<ng-template ngbSlide>
						<img class="d-block img-fluid w-100" src="assets/images/Carousel-Dummy-Image3.jpg" alt="RTDL Image" style="height:300px">
					</ng-template>
					<ng-template ngbSlide>
						<img class="d-block img-fluid w-100" src="assets/images/Carousel-Dummy-Image1.jpg" alt="RTDL Image" style="height:300px">
					</ng-template>
				</ngb-carousel>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Carousel with Indicators</h5>
			</div>
			<div class="card-body">
				<ngb-carousel>
					<ng-template ngbSlide>
						<img class="d-block img-fluid w-100" src="assets/images/Carousel-Dummy-Image3.jpg" alt="RTDL Image" style="height:300px">
					</ng-template>
					<ng-template ngbSlide>
						<img class="d-block img-fluid w-100" src="assets/images/Carousel-Dummy-Image1.jpg" alt="RTDL Image" style="height:300px">
					</ng-template>
					<ng-template ngbSlide>
						<img class="d-block img-fluid w-100" src="assets/images/Carousel-Dummy-Image2.jpg" alt="RTDL Image" style="height:300px">
					</ng-template>
				</ngb-carousel>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Carousel with captions</h5>
			</div>
			<div class="card-body">
				<ngb-carousel>
					<ng-template ngbSlide>
						<img class="d-block img-fluid w-100" src="assets/images/Carousel-Dummy-Image1.jpg" alt="RTDL Image" style="height:300px">
						<div class="carousel-caption">
							<h3>First slide label</h3>
							<p>Lorem Ipsum is simply dummy text.</p>
						</div>
					</ng-template>
					<ng-template ngbSlide>
						<img class="d-block img-fluid w-100" src="assets/images/Carousel-Dummy-Image2.jpg" alt="RTDL Image" style="height:300px">
						<div class="carousel-caption">
							<h3>Second slide label</h3>
							<p>Lorem Ipsum is simply dummy text.</p>
						</div>
					</ng-template>
					<ng-template ngbSlide>
						<img class="d-block img-fluid w-100" src="assets/images/Carousel-Dummy-Image3.jpg" alt="RTDL Image" style="height:300px">
						<div class="carousel-caption">
							<h3>Third slide label</h3>
							<p>Lorem Ipsum is simply dummy text.</p>
						</div>
					</ng-template>
				</ngb-carousel>
			</div>
		</div>
	</div>
</div>

<!-- Code Snippet -->
<div class="row">
	<div class="col-lg-5 my-sm">
		<prism-block [code]="carouselSnippet" [language]="'html'"></prism-block>
	</div>
	<div class="col-lg-7 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Details</h5>
			</div>
			<div class="card-body">
				<h5>Options</h5>
				<div class="table-responsive">
					<table class="table table-bordered table-striped text-mg">
						<tr>
							<th>Name</th>
							<th>type</th>
							<th>default</th>
							<th>description</th>
						</tr>
						<tr>
							<td><b>activeId</b></td>
							<td>string</td>
							<td>5000</td>
							<td>The active slide id.</td>
						</tr>
						<tr>
							<td><b>interval</b></td>
							<td>number</td>
							<td>5000</td>
							<td>Amount of time in milliseconds before next slide is shown.</td>
						</tr>
						<tr>
							<td><b>keyboard</b></td>
							<td>boolean</td>
							<td>true</td>
							<td>A flag for allowing navigation via keyboard</td>
						</tr>
						<tr>
							<td><b>wrap</b></td>
							<td>boolean</td>
							<td>true</td>
							<td>Whether can wrap from the last to the first slide.</td>
						</tr>
					</table>
				</div>
				<h5>Methods</h5>
				<div class="table-responsive">
					<table class="table table-bordered text-mg">
						<tr>
							<th>Methods</th>
							<th>Description</th>
						</tr>
						<tr>
							<td><b>select</b></td>
							<td>
								<p>Navigate to a slide with the specified identifier.</p>
								<pre class="bg-lg p-sm m-0"><i>select(slideId: string) => void</i></pre>
							</td>
						</tr>
						<tr>
							<td><b>prev</b></td>
							<td>
								<p>Navigate to the prev slide.</p>
								<pre class="bg-lg p-sm m-0"><i>prev() => void</i></pre>
							</td>
						</tr>
						<tr>
							<td><b>next</b></td>
							<td>
								<p>Navigate to the next slide.</p>
								<pre class="bg-lg p-sm m-0"><i>next() => void</i></pre>
							</td>
						</tr>
						<tr>
							<td><b>pause</b></td>
							<td>
								<p>Stops the carousel from cycling through items.</p>
								<pre class="bg-lg p-sm m-0"><i>pause() => void</i></pre>
							</td>
						</tr>
						<tr>
							<td><b>cycle</b></td>
							<td>
								<p>Restarts cycling through the carousel slides from left to right.</p>
								<pre class="bg-lg p-sm m-0"><i>cycle() => void</i></pre>
							</td>
						</tr>
					</table>
				</div>
				<h5>Events</h5>
				<p>The payload of the slide event fired when the slide transition is completed</p>	
				<p><code>NgbSlideEvent</code></p>
				<p>Events have the following additional properties:</p>
				<div class="table-responsive">
					<table class="table table-bordered table-striped text-mg">
						<tr>
							<th>Event Name</th>
							<th>Event Type</th>
							<th>Description</th>
						</tr>
						<tr>
							<td><b>current</b></td>
							<td>string</td>
							<td>New slide ids</td>
						</tr>
						<tr>
							<td><b>direction</b></td>
							<td>NgbSlideEventDirection</td>
							<td>Slide event direction</td>
						</tr>
						<tr>
							<td><b>prev</b></td>
							<td>string</td>
							<td>Previous slide id</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>