<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item active text-dg">Calendar</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-calendar menu-icon" aria-hidden="true"></i> Calendar</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Calendar Content-->
<div class="row">
	<div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-body">
				<div class="text-center">
					<div class="float-left d-inline-block">
						<button type="button" id="date-pre" class="btn btn-theme"><i class="fa fa-angle-left"></i></button>
						<button type="button" id="date-next" class="btn btn-theme"><i class="fa fa-angle-right"></i></button>
						<button type="button" id="today" class="btn btn-theme">today</button>
					</div>
					<h3 id="data-title" class="font-roboto-thin m-0 d-inline-block">--</h3>
					<div class="float-right d-inline-block">
						<div class="btn-group">
							<button type="button" id="month" class="btn btn-outline-secondary mt-xs">month</button>
							<button type="button" id="week" class="btn btn-outline-secondary mt-xs">week</button>
							<button type="button" id="day" class="btn btn-outline-secondary mt-xs">day</button>
						</div>
					</div>
				</div>
				<div id="calendar"></div>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12">
		<div class="row">
			<div class="col-xl-12 col-lg-6 col-md-12 col-sm-12 col-12 my-sm">
				<div class="card">
					<div class="card-header">
						<h5 class="m-0">Today's Agenda</h5>
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table">
								<tr>
									<td>Metting With Jone Smith </td>
									<td>
										<small>
											<i class="fa fa-clock-o float-right"> 11:05 am</i>
										</small>
									</td>
								</tr>
								<tr>
									<td>Lunch </td>
									<td>
										<small>
											<i class="fa fa-clock-o float-right"> 12:00 pm</i>
										</small>
									</td>
								</tr>
								<tr>
									<td>Live Conference <label class="badge badge-success m-0">New</label></td>
									<td>
										<small>
											<i class="fa fa-clock-o float-right"> 02:40 pm</i>
										</small>
									</td>
								</tr>
								<tr>
									<td>Server Updation</td>
									<td>
										<small>
											<i class="fa fa-clock-o float-right"> 03:30 pm</i>
										</small>
									</td>
								</tr>
								<tr>
									<td>Site Testing <label class="badge badge-warning p-1 m-0">Waiting</label></td>
									<td>
										<label class="badge badge-theme float-right m-0">Now</label>
									</td>
								</tr>
								<tr>
									<td>Send project documents to Smith </td>
									<td>
										<small>
											<i class="fa fa-clock-o float-right"> 08:10 pm</i>
										</small>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-12 col-lg-6 col-md-12 col-sm-12 col-12 my-sm">
				<div class="card">
					<div class="card-body">
						<div class="p-0 bordered">
							<div class="p-sm bg-lg text-md">
								<h3 class="m-0 font-roboto-thin">Add external event</h3>
							</div>
							<div class="external-events p-sm">
								<div class="event-list bg-primary text-white p-xs mt-xs"> My Event 1 </div>
								<div class="event-list bg-primary text-white p-xs mt-xs"> My Event 2 </div>
								<div class="event-list bg-primary text-white p-xs mt-xs"> My Event 3 </div>
								<div class="event-list bg-primary text-white p-xs mt-xs"> My Event 4 </div>
								<div class="event-list bg-primary text-white p-xs mt-xs"> My Event 5 </div>
								<div class="p-sm mt-xs">
									<div class="icheckbox-drop">
										<input	type="checkbox" id="drop-remove">
										&nbsp;&nbsp;
										<label for="drop-remove">Remove after drop</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>