<div class="auth-page">
	<div class="animated zoomIn auth_box">
		<div class="col-lg-4 col-md-8 col-sm-10 col-10 offset-lg-4 offset-md-2 offset-sm-1 offset-1 p-0 auth_login_bg">
			<div class="auth_login">
				<div class="text-center">
					<i class="fa fa-lock fa-5x" aria-hidden="true"></i>
					<h2 class="font-os-thin text-dg mt-lg mb-sm">Forgot Password?</h2>
					<p class="text-dg">You can reset your password here.</p>
				</div>
				<form #forgotform="ngForm">
					<div class="row">
						<div class="col-12 px-sm">
							<div class="form-group mt-lg px-xs">
								<input id="email" class="form-control email_textbox_length" type="email" placeholder="Email address" name="email" ngModel>
								<button class="auth-button mr-sm" (click)="forgot(forgotform)">
									<i class="fa fa-chevron-right"></i>
								</button>
							</div>
						</div>
					</div>
					<div class="row auth_loginOr">
						<div class="col-6 offset-3">
							<hr class="auth_hrOr">
							<span class="auth_spanOr">OR</span>
						</div>
					</div>
					<div class="row">
						<div class="col-12 col-lg-6">
							<a routerLink="/pages/login" class="btn btn-lg btn-block btn-theme mt-md font-16">
								<span>Login</span>
							</a>
						</div>
						<div class="col-12 col-lg-6">
							<a routerLink="/pages/signup" class="btn btn-lg btn-block btn-primary mt-md font-16">
								<span>Signup</span>
							</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>