<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">Project Management</a></li>
							<li class="breadcrumb-item active text-dg">Project list</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-tasks" aria-hidden="true"></i> Project list</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Project List Content -->
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Projects List</h5>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th class="p-0"></th>
								<th class="p-0"></th>
								<th class="p-0"></th>
								<th class="p-0"></th>
								<th class="p-0"></th>
								<th class="p-0"></th>
							</tr> 
						</thead>
						<tbody>
							<tr>
								<td>
									<a routerLink="/projet-management/project-detail" class="text-mg"><h5 class="m-0">Dashboard</h5></a>
									<small class="text-dg">Last updated on March 27th, 2017</small>
								</td>
								<td><small class="text-dg">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</small></td>
								<td>
									<a href="javascript:;"><img alt="RTDL Image" class="avatar avatar-sm rounded-circle mb-xs" src="assets/images/portrait/avatar1.png"></a>
									<a href="javascript:;"><img alt="RTDL Image" class="avatar avatar-sm rounded-circle mb-xs" src="assets/images/portrait/avatar2.png"></a>
									<a href="javascript:;"><img alt="RTDL Image" class="avatar avatar-sm rounded-circle mb-xs" src="assets/images/portrait/avatar3.png"></a>
								</td>
								<td>
									<ngb-progressbar type="success" [value]="87" height="5px"></ngb-progressbar>
									<small>87% Completed </small>
								</td>
								<td>
									<span class="badge badge-primary">Active</span>
								</td>
								<td class="text-right">
									<a routerLink="/projet-management/project-detail" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="View"><i class="fa fa-folder-open fa-lg"></i></a>
									<a routerLink="/projet-management/project-detail" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="Edit"><i class="fa fa-pencil fa-lg"></i></a>
									<a href="javascript:;" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="Delete"><i class="fa fa-trash-o fa-lg"></i></a>
								</td>
							</tr>
							<tr>
								<td>
									<a routerLink="/projet-management/project-detail" class="text-mg"><h5 class="m-0">Travel System</h5></a>
									<small class="text-dg">Last updated on Oct 01st, 2017</small>
								</td>
								<td><small class="text-dg">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</small></td>
								<td>
									<a href="javascript:;"><img alt="RTDL Image" class="avatar avatar-sm rounded-circle mb-xs" src="assets/images/portrait/avatar4.png"></a>
									<a href="javascript:;"><img alt="RTDL Image" class="avatar avatar-sm rounded-circle mb-xs" src="assets/images/portrait/avatar5.png"></a>
								</td>
								<td>
									<ngb-progressbar type="info" [value]="65" height="5px"></ngb-progressbar>
									<small>65% Completed </small>
								</td>
								<td>
									<span class="badge badge-primary">Active</span>
								</td>
								<td class="text-right">
									<a routerLink="/projet-management/project-detail" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="View"><i class="fa fa-folder-open fa-lg"></i></a>
									<a routerLink="/projet-management/project-detail" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="Edit"><i class="fa fa-pencil fa-lg"></i></a>
									<a href="javascript:;" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="Delete"><i class="fa fa-trash-o fa-lg"></i></a>
								</td>
							</tr>
							<tr>
								<td>
									<a routerLink="/projet-management/project-detail" class="text-mg"><h5 class="m-0">Game Zone</h5></a>
									<small class="text-dg">Last updated on July 04th, 2017</small>
								</td>
								<td><small class="text-dg">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</small></td>
								<td>
									<a href="javascript:;"><img alt="RTDL Image" class="avatar avatar-sm rounded-circle mb-xs" src="assets/images/portrait/avatar1.png"></a>
									<a href="javascript:;"><img alt="RTDL Image" class="avatar avatar-sm rounded-circle mb-xs" src="assets/images/portrait/avatar2.png"></a>
									<a href="javascript:;"><img alt="RTDL Image" class="avatar avatar-sm rounded-circle mb-xs" src="assets/images/portrait/avatar3.png"></a>
								</td>
								<td>
									<ngb-progressbar type="danger" [value]="45" height="5px"></ngb-progressbar>
									<small>45% Completed </small>
								</td>
								<td>
									<span class="badge badge-primary">Active</span>
								</td>
								<td class="text-right">
									<a routerLink="/projet-management/project-detail" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="View"><i class="fa fa-folder-open fa-lg"></i></a>
									<a routerLink="/projet-management/project-detail" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="Edit"><i class="fa fa-pencil fa-lg"></i></a>
									<a href="javascript:;" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="Delete"><i class="fa fa-trash-o fa-lg"></i></a>
								</td>
							</tr>
							<tr>
								<td>
									<a routerLink="/projet-management/project-detail" class="text-mg"><h5 class="m-0">DJ Online</h5></a>
									<small class="text-dg">Last updated on July 06th, 2017</small>
								</td>
								<td><small class="text-dg">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</small></td>
								<td>
									<a href="javascript:;"><img alt="RTDL Image" class="avatar avatar-sm rounded-circle mb-xs" src="assets/images/portrait/avatar5.png"></a>
									<a href="javascript:;"><img alt="RTDL Image" class="avatar avatar-sm rounded-circle mb-xs" src="assets/images/portrait/avatar6.png"></a>
									<a href="javascript:;"><img alt="RTDL Image" class="avatar avatar-sm rounded-circle mb-xs" src="assets/images/portrait/avatar7.png"></a>
								</td>
								<td>
									<ngb-progressbar type="success" [value]="100" height="5px"></ngb-progressbar>
									<small>100% Completed </small>
								</td>
								<td>
									<span class="badge badge-success">Completed</span>
								</td>
								<td class="text-right">
									<a routerLink="/projet-management/project-detail" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="View"><i class="fa fa-folder-open fa-lg"></i></a>
									<a routerLink="/projet-management/project-detail" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="Edit"><i class="fa fa-pencil fa-lg"></i></a>
									<a href="javascript:;" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="Delete"><i class="fa fa-trash-o fa-lg"></i></a>
								</td>
							</tr>
							<tr>
								<td>
									<a routerLink="/projet-management/project-detail" class="text-mg"><h5 class="m-0">E-Shop Portal</h5></a>
									<small class="text-dg">Last updated on April 11th, 2017</small>
								</td>
								<td><small class="text-dg">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</small></td>
								<td>
									<a href="javascript:;"><img alt="RTDL Image" class="avatar avatar-sm rounded-circle mb-xs" src="assets/images/portrait/avatar1.png"></a>
									<a href="javascript:;"><img alt="RTDL Image" class="avatar avatar-sm rounded-circle mb-xs" src="assets/images/portrait/avatar2.png"></a>
									<a href="javascript:;"><img alt="RTDL Image" class="avatar avatar-sm rounded-circle mb-xs" src="assets/images/portrait/avatar3.png"></a>
								</td>
								<td>
									<ngb-progressbar type="info" [value]="70" height="5px"></ngb-progressbar>
									<small>70% Completed </small>
								</td>
								<td>
									<span class="badge badge-primary">Active</span>
								</td>
								<td class="text-right">
									<a routerLink="/projet-management/project-detail" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="View"><i class="fa fa-folder-open fa-lg"></i></a>
									<a routerLink="/projet-management/project-detail" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="Edit"><i class="fa fa-pencil fa-lg"></i></a>
									<a href="javascript:;" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="Delete"><i class="fa fa-trash-o fa-lg"></i></a>
								</td>
							</tr>
							<tr>
								<td>
									<a routerLink="/projet-management/project-detail" class="text-mg"><h5 class="m-0">Fee Management System</h5></a>
									<small class="text-dg">Last updated on May 12th, 2017</small>
								</td>
								<td><small class="text-dg">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</small></td>
								<td>
									<a href="javascript:;"><img alt="RTDL Image" class="avatar avatar-sm rounded-circle mb-xs" src="assets/images/portrait/avatar4.png"></a>
									<a href="javascript:;"><img alt="RTDL Image" class="avatar avatar-sm rounded-circle mb-xs" src="assets/images/portrait/avatar5.png"></a>
								</td>
								<td>
									<ngb-progressbar type="info" [value]="62" height="5px"></ngb-progressbar>
									<small>62% Completed </small>
								</td>
								<td>
									<span class="badge badge-secondary">Inactive</span>
								</td>
								<td class="text-right">
									<a routerLink="/projet-management/project-detail" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="View"><i class="fa fa-folder-open fa-lg"></i></a>
									<a routerLink="/projet-management/project-detail" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="Edit"><i class="fa fa-pencil fa-lg"></i></a>
									<a href="javascript:;" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="Delete"><i class="fa fa-trash-o fa-lg"></i></a>
								</td>
							</tr>
							<tr>
								<td>
									<a routerLink="/projet-management/project-detail" class="text-mg"><h5 class="m-0">Library Management System</h5></a>
									<small class="text-dg">Last updated on Oct 12th, 2017</small>
								</td>
								<td><small class="text-dg">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</small></td>
								<td>
									<a href="javascript:;"><img alt="RTDL Image" class="avatar avatar-sm rounded-circle mb-xs" src="assets/images/portrait/avatar6.png"></a>
									<a href="javascript:;"><img alt="RTDL Image" class="avatar avatar-sm rounded-circle mb-xs" src="assets/images/portrait/avatar7.png"></a>
									<a href="javascript:;"><img alt="RTDL Image" class="avatar avatar-sm rounded-circle mb-xs" src="assets/images/portrait/avatar1.png"></a>
								</td>
								<td>
									<ngb-progressbar type="success" [value]="80" height="5px"></ngb-progressbar>
									<small>80% Completed </small>
								</td>
								<td>
									<span class="badge badge-primary">Active</span>
								</td>
								<td class="text-right">
									<a routerLink="/projet-management/project-detail" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="View"><i class="fa fa-folder-open fa-lg"></i></a>
									<a routerLink="/projet-management/project-detail" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="Edit"><i class="fa fa-pencil fa-lg"></i></a>
									<a href="javascript:;" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="Delete"><i class="fa fa-trash-o fa-lg"></i></a>
								</td>
							</tr>
							<tr>
								<td>
									<a routerLink="/projet-management/project-detail" class="text-mg"><h5 class="m-0">E-Shop Portal</h5></a>
									<small class="text-dg">Last updated on Jan 24th, 2017</small>
								</td>
								<td><small class="text-dg">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</small></td>
								<td>
									<a href="javascript:;"><img alt="RTDL Image" class="avatar avatar-sm rounded-circle mb-xs" src="assets/images/portrait/avatar2.png"></a>
									<a href="javascript:;"><img alt="RTDL Image" class="avatar avatar-sm rounded-circle mb-xs" src="assets/images/portrait/avatar3.png"></a>
									<a href="javascript:;"><img alt="RTDL Image" class="avatar avatar-sm rounded-circle mb-xs" src="assets/images/portrait/avatar4.png"></a>
								</td>
								<td>
									<ngb-progressbar type="danger" [value]="35" height="5px"></ngb-progressbar>
									<small>35% Completed </small>
								</td>
								<td>
									<span class="badge badge-secondary">Inactive</span>
								</td>
								<td class="text-right">
									<a routerLink="/projet-management/project-detail" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="View"><i class="fa fa-folder-open fa-lg"></i></a>
									<a routerLink="/projet-management/project-detail" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="Edit"><i class="fa fa-pencil fa-lg"></i></a>
									<a href="javascript:;" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="Delete"><i class="fa fa-trash-o fa-lg"></i></a>
								</td>
							</tr>
							<tr>
								<td>
									<a routerLink="/projet-management/project-detail" class="text-mg"><h5 class="m-0">Online Education System</h5></a>
									<small class="text-dg">Last updated on Feb 16th, 2017</small>
								</td>
								<td><small class="text-dg">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</small></td>
								<td>
									<a href="javascript:;"><img alt="RTDL Image" class="avatar avatar-sm rounded-circle mb-xs" src="assets/images/portrait/avatar5.png"></a>
									<a href="javascript:;"><img alt="RTDL Image" class="avatar avatar-sm rounded-circle mb-xs" src="assets/images/portrait/avatar6.png"></a>
								</td>
								<td>
									<ngb-progressbar type="warning" [value]="5" height="5px"></ngb-progressbar>
									<small>5% Completed </small>
								</td>
								<td>
									<span class="badge badge-warning">Warning</span>
								</td>
								<td class="text-right">
									<a routerLink="/projet-management/project-detail" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="View"><i class="fa fa-folder-open fa-lg"></i></a>
									<a routerLink="/projet-management/project-detail" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="Edit"><i class="fa fa-pencil fa-lg"></i></a>
									<a href="javascript:;" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="Delete"><i class="fa fa-trash-o fa-lg"></i></a>
								</td>
							</tr>
							<tr>
								<td>
									<a routerLink="/projet-management/project-detail" class="text-mg"><h5 class="m-0">Tour & Travel Software</h5></a>
									<small class="text-dg">Last updated on March 06th, 2017</small>
								</td>
								<td><small class="text-dg">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</small></td>
								<td>
									<a href="javascript:;"><img alt="RTDL Image" class="avatar avatar-sm rounded-circle mb-xs" src="assets/images/portrait/avatar1.png"></a>
									<a href="javascript:;"><img alt="RTDL Image" class="avatar avatar-sm rounded-circle mb-xs" src="assets/images/portrait/avatar2.png"></a>
									<a href="javascript:;"><img alt="RTDL Image" class="avatar avatar-sm rounded-circle mb-xs" src="assets/images/portrait/avatar3.png"></a>
								</td>
								<td>
									<ngb-progressbar type="info" [value]="75" height="5px"></ngb-progressbar>
									<small>75% Completed </small>
								</td>
								<td>
									<span class="badge badge-secondary">Inactive</span>
								</td>
								<td class="text-right">
									<a routerLink="/projet-management/project-detail" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="View"><i class="fa fa-folder-open fa-lg"></i></a>
									<a routerLink="/projet-management/project-detail" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="Edit"><i class="fa fa-pencil fa-lg"></i></a>
									<a href="javascript:;" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="Delete"><i class="fa fa-trash-o fa-lg"></i></a>
								</td>
							</tr>
							<tr>
								<td>
									<a routerLink="/projet-management/project-detail" class="text-mg"><h5 class="m-0">E-Shop Portal</h5></a>
									<small class="text-dg">Last updated on July 09th, 2017</small>
								</td>
								<td><small class="text-dg">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</small></td>
								<td>
									<a href="javascript:;"><img alt="RTDL Image" class="avatar avatar-sm rounded-circle mb-xs" src="assets/images/portrait/avatar4.png"></a>
									<a href="javascript:;"><img alt="RTDL Image" class="avatar avatar-sm rounded-circle mb-xs" src="assets/images/portrait/avatar5.png"></a>
								</td>
								<td>
									<ngb-progressbar type="success" [value]="80" height="5px"></ngb-progressbar>
									<small>80% Completed </small>
								</td>
								<td>
									<span class="badge badge-primary">Active</span>
								</td>
								<td class="text-right">
									<a routerLink="/projet-management/project-detail" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="View"><i class="fa fa-folder-open fa-lg"></i></a>
									<a routerLink="/projet-management/project-detail" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="Edit"><i class="fa fa-pencil fa-lg"></i></a>
									<a href="javascript:;" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="Delete"><i class="fa fa-trash-o fa-lg"></i></a>
								</td>
							</tr>
							<tr>
								<td>
									<a routerLink="/projet-management/project-detail" class="text-mg"><h5 class="m-0">Attendance Management System</h5></a>
									<small class="text-dg">Last updated on Aug 15th, 2017</small>
								</td>
								<td><small class="text-dg">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</small></td>
								<td>
									<a href="javascript:;"><img alt="RTDL Image" class="avatar avatar-sm rounded-circle mb-xs" src="assets/images/portrait/avatar6.png"></a>
									<a href="javascript:;"><img alt="RTDL Image" class="avatar avatar-sm rounded-circle mb-xs" src="assets/images/portrait/avatar7.png"></a>
									<a href="javascript:;"><img alt="RTDL Image" class="avatar avatar-sm rounded-circle mb-xs" src="assets/images/portrait/avatar1.png"></a>
								</td>
								<td>
									<ngb-progressbar type="danger" [value]="25" height="5px"></ngb-progressbar>
									<small>25% Completed </small>
								</td>
								<td>
									<span class="badge badge-primary">Active</span>
								</td>
								<td class="text-right">
									<a routerLink="/projet-management/project-detail" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="View"><i class="fa fa-folder-open fa-lg"></i></a>
									<a routerLink="/projet-management/project-detail" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="Edit"><i class="fa fa-pencil fa-lg"></i></a>
									<a href="javascript:;" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="Delete"><i class="fa fa-trash-o fa-lg"></i></a>
								</td>
							</tr>
							<tr>
								<td>
									<a routerLink="/projet-management/project-detail" class="text-mg"><h5 class="m-0">Online Education System</h5></a>
									<small class="text-dg">Last updated on Feb 25th, 2017</small>
								</td>
								<td><small class="text-dg">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</small></td>
								<td>
									<a href="javascript:;"><img alt="RTDL Image" class="avatar avatar-sm rounded-circle mb-xs" src="assets/images/portrait/avatar2.png"></a>
									<a href="javascript:;"><img alt="RTDL Image" class="avatar avatar-sm rounded-circle mb-xs" src="assets/images/portrait/avatar3.png"></a>
									<a href="javascript:;"><img alt="RTDL Image" class="avatar avatar-sm rounded-circle mb-xs" src="assets/images/portrait/avatar4.png"></a>
								</td>
								<td>
									<ngb-progressbar type="danger" [value]="30" height="5px"></ngb-progressbar>
									<small>30% Completed </small>
								</td>
								<td>
									<span class="badge badge-secondary">Inactive</span>
								</td>
								<td class="text-right">
									<a routerLink="/projet-management/project-detail" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="View"><i class="fa fa-folder-open fa-lg"></i></a>
									<a routerLink="/projet-management/project-detail" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="Edit"><i class="fa fa-pencil fa-lg"></i></a>
									<a href="javascript:;" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="Delete"><i class="fa fa-trash-o fa-lg"></i></a>
								</td>
							</tr>
							<tr>
								<td>
									<a routerLink="/projet-management/project-detail" class="text-mg"><h5 class="m-0">Real Estate Management System</h5></a>
									<small class="text-dg">Last updated on May 09th, 2017</small>
								</td>
								<td><small class="text-dg">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</small></td>
								<td>
									<a href="javascript:;"><img alt="RTDL Image" class="avatar avatar-sm rounded-circle mb-xs" src="assets/images/portrait/avatar5.png"></a>
									<a href="javascript:;"><img alt="RTDL Image" class="avatar avatar-sm rounded-circle mb-xs" src="assets/images/portrait/avatar6.png"></a>
									<a href="javascript:;"><img alt="RTDL Image" class="avatar avatar-sm rounded-circle mb-xs" src="assets/images/portrait/avatar7.png"></a>
								</td>
								<td>
									<ngb-progressbar type="success" [value]="95" height="5px"></ngb-progressbar>
									<small>95% Completed </small>
								</td>
								<td>
									<span class="badge badge-primary">Active</span>
								</td>
								<td class="text-right">
									<a routerLink="/projet-management/project-detail" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="View"><i class="fa fa-folder-open fa-lg"></i></a>
									<a routerLink="/projet-management/project-detail" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="Edit"><i class="fa fa-pencil fa-lg"></i></a>
									<a href="javascript:;" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="Delete"><i class="fa fa-trash-o fa-lg"></i></a>
								</td>
							</tr>
							<tr>
								<td>
									<a routerLink="/projet-management/project-detail" class="text-mg"><h5 class="m-0">Game Zone</h5></a>
									<small class="text-dg">Last updated on July 24th, 2017</small>
								</td>
								<td><small class="text-dg">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</small></td>
								<td>
									<a href="javascript:;"><img alt="RTDL Image" class="avatar avatar-sm rounded-circle mb-xs" src="assets/images/portrait/avatar1.png"></a>
									<a href="javascript:;"><img alt="RTDL Image" class="avatar avatar-sm rounded-circle mb-xs" src="assets/images/portrait/avatar2.png"></a>
								</td>
								<td>
									<ngb-progressbar type="success" [value]="90" height="5px"></ngb-progressbar>
									<small>90% Completed </small>
								</td>
								<td>
									<span class="badge badge-primary">Active</span>
								</td>
								<td class="text-right">
									<a routerLink="/projet-management/project-detail" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="View"><i class="fa fa-folder-open fa-lg"></i></a>
									<a routerLink="/projet-management/project-detail" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="Edit"><i class="fa fa-pencil fa-lg"></i></a>
									<a href="javascript:;" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="Delete"><i class="fa fa-trash-o fa-lg"></i></a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>