<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">Miscellaneous Page</a></li>
							<li class="breadcrumb-item active text-dg">Frequently asked questions</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-globe menu-icon" aria-hidden="true"></i> Frequently asked questions</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- FAQ Content -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card">
			<div class="card-body text-center">
				<h4 class="font-roboto-thin my-sm">Do not find your answer here? Need more help? Please add your question here.</h4>
				<button class="btn btn-theme" type="button">
					<i class="fa fa-plus" aria-hidden="true"> Add Question</i>
				</button>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Frequently asked questions</h5>
			</div>
			<div class="card-body">
				<div class="mb-xs">
					<ngb-accordion [closeOthers]="true" activeIds="faq1">
						<ngb-panel id="faq1">
							<ng-template ngbPanelTitle>
								<h5 class="card-title font-os-normal font-14 m-0">
									<a href="javascript:;" class="text-dg">Q: What's included?</a><small class="text-mb"> By Smith </small>
									<small class="text-mb"><i class="fa fa-clock-o float-right"> 2:40 pm - June 24th, 2017</i></small>
								</h5>
							</ng-template>
							<ng-template ngbPanelContent>
								<span class="badge badge-success">Answer</span>
								<span class="badge badge-primary">Gernal</span>
								<i class="fa fa-thumbs-o-up fa-lg float-right" aria-hidden="true"> 42</i>
								<p>We support the latest versions of Safari (OS X and iOS), Chrome, Firefox, and Internet Explorer. Internet Explorer 9-11 are also supported. Opera Mini and Android's native Browser are not officially supported.</p>
							</ng-template>
						</ngb-panel>
					</ngb-accordion>
				</div>
				<div class="mb-xs">
					<ngb-accordion [closeOthers]="true" activeIds="faq2">
						<ngb-panel id="faq2">
							<ng-template ngbPanelTitle>
								<h5 class="card-title font-os-normal font-14 m-0">
									<a href="javascript:;" class="text-dg">Q: What devices and browsers do you support?</a><small class="text-mb"> By Haner</small>
									<small class="text-mb"><i class="fa fa-clock-o float-right"> 11:05 pm - July 12th, 2017</i></small>
								</h5>
							</ng-template>
							<ng-template ngbPanelContent>
								<span class="badge badge-success">Answer</span>
								<span class="badge badge-warning">License</span>
								<i class="fa fa-thumbs-o-up fa-lg float-right" aria-hidden="true"> 17</i>
								<p>Good question! Every theme ships with an example site, compiled CSS and JavaScript, new theme-specific components, a documentation page, a Gulpfile for compiling on your own, and the source Less and JavaScript files.</p>
							</ng-template>
						</ngb-panel>
					</ngb-accordion>
				</div>
				<div class="mb-xs">
					<ngb-accordion [closeOthers]="true" activeIds="faq3">
						<ngb-panel id="faq3">
							<ng-template ngbPanelTitle>
								<h5 class="card-title font-os-normal font-14 m-0">
									<a href="javascript:;" class="text-dg">Q: Which license is right for me?</a><small class="text-mb"> By Addison</small>
									<small class="text-mb"><i class="fa fa-clock-o float-right"> 8:10 pm - July 24th, 2017</i></small>
								</h5>
							</ng-template>
							<ng-template ngbPanelContent>
								<span class="badge badge-success">Answer</span>
								<span class="badge badge-primary">Gernal</span>
								<span class="badge badge-danger">CC</span>
								<i class="fa fa-thumbs-o-up fa-lg float-right" aria-hidden="true"> 39</i>
								<p>The easiest way to decide which license you need is to ask “Who will have access to the theme’s code?” If the answer is “just me”, “me and my team”, or “me and the client that hired me,” you only need a Multiple Use License. If the answer is any group larger than that, you probably need an Extended License. </p>
							</ng-template>
						</ngb-panel>
					</ngb-accordion>
				</div>
				<div class="mb-xs">
					<ngb-accordion [closeOthers]="true" activeIds="faq4">
						<ngb-panel id="faq4">
							<ng-template ngbPanelTitle>
								<h5 class="card-title font-os-normal font-14 m-0">
									<a href="javascript:;" class="text-dg">Q: What’s an example of a proper use for each license?</a><small class="text-mb"> By Junie</small>
									<small class="text-mb"><i class="fa fa-clock-o float-right"> 3:28 pm - October 03rd, 2017</i></small>
								</h5>
							</ng-template>
							<ng-template ngbPanelContent>
								<span class="badge badge-success">Answer</span>
								<span class="badge badge-primary">Gernal</span>
								<span class="badge badge-warning">License</span>
								<i class="fa fa-thumbs-o-up fa-lg float-right" aria-hidden="true"> 26</i>
								<p>Okay, let’s talk about the hypothetical social network startup Happytown. The team at Happytown wants to ship a new feature to show their users personalized stats about their account. Our Dashboard theme seems like a good fit for them. As long as Happytown is hosting the service and not distributing code to their users, they only need a Multiple Use License.</p>
							</ng-template>
						</ngb-panel>
					</ngb-accordion>
				</div>
			</div>
		</div>
	</div>
</div>