<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">Project Management</a></li>
							<li class="breadcrumb-item active text-dg">Project Board</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-tasks" aria-hidden="true"></i> Project Board</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Board Content -->
<div class="row">
	<div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-body p-0">
				<div class="row">
					<div class="col-lg-12">
						<div class="progress-bg-white progress-rounded mb-lg">
							<ngb-progressbar type="primary" [value]="60" height="2px"></ngb-progressbar>
						</div>
					</div>
					<div class="col-lg-8 col-md-12 col-sm-8 col-8">
						<div class="pl-sm">
							<h4 class="font-os-normal">Dashboard</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
							<small>
								<i class="fa fa-calendar" aria-hidden="true"></i>
								June 12th, 2017
							</small>
							<div class="mt-sm">
								<a href="javascript:;">
									<img alt="RTDL Image" class="avatar avatar-md rounded-circle my-xs" src="assets/images/portrait/avatar1.png">
								</a>
								<a href="javascript:;">
									<img alt="RTDL Image" class="avatar avatar-md rounded-circle my-xs" src="assets/images/portrait/avatar2.png">
								</a>
								<a href="javascript:;">
									<img alt="RTDL Image" class="avatar avatar-md rounded-circle my-xs" src="assets/images/portrait/avatar3.png">
								</a>
								<a href="javascript:;">
									<img alt="RTDL Image" class="avatar avatar-md rounded-circle my-xs" src="assets/images/portrait/avatar4.png">
								</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-12 col-sm-4 col-4 pr-lg">
						<h5 class="text-center font-os-bold font-12">Ongoing Projects</h5>
						<P class="text-center">10</P>
						<h5 class="text-center font-os-bold font-12">Pending Projects</h5>
						<P class="text-center">3</P>
						<h5 class="text-center font-os-bold font-12">Ongoing Issues</h5>
						<P class="text-center">250,100</P>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-body p-0">
				<div class="row">
					<div class="col-lg-12">
						<div class="progress-bg-white progress-rounded mb-lg">
							<ngb-progressbar type="success" [value]="95" height="2px"></ngb-progressbar>
						</div>
					</div>
					<div class="col-lg-8 col-md-12 col-sm-8 col-8">
						<div class="pl-sm">
							<h4 class="font-os-normal">E-Shop Portal</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
							<small>
								<i class="fa fa-calendar" aria-hidden="true"></i>
								January 05th, 2017
							</small>
							<div class="mt-sm">
								<a href="javascript:;">
									<img alt="RTDL Image" class="avatar avatar-md rounded-circle my-xs" src="assets/images/portrait/avatar1.png">
								</a>
								<a href="javascript:;">
									<img alt="RTDL Image" class="avatar avatar-md rounded-circle my-xs" src="assets/images/portrait/avatar2.png">
								</a>
								<a href="javascript:;">
									<img alt="RTDL Image" class="avatar avatar-md rounded-circle my-xs" src="assets/images/portrait/avatar3.png">
								</a>
								<a href="javascript:;">
									<img alt="RTDL Image" class="avatar avatar-md rounded-circle my-xs" src="assets/images/portrait/avatar4.png">
								</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-12 col-sm-4 col-4 pr-lg">
						<h5 class="text-center font-os-bold font-12">Ongoing Projects</h5>
						<P class="text-center">10</P>
						<h5 class="text-center font-os-bold font-12">Pending Projects</h5>
						<P class="text-center">11</P>
						<h5 class="text-center font-os-bold font-12">Ongoing Issues</h5>
						<P class="text-center">140,000</P>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-body p-0">
				<div class="row">
					<div class="col-lg-12">
						<div class="progress-bg-white progress-rounded mb-lg">
							<ngb-progressbar type="info" [value]="60" height="2px"></ngb-progressbar>
						</div>
					</div>
					<div class="col-lg-8 col-md-12 col-sm-8 col-8">
						<div class="pl-sm">
							<h4 class="font-os-normal">DJ Online</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
							<small>
								<i class="fa fa-calendar" aria-hidden="true"></i>
								September 12th, 2016
							</small>
							<div class="mt-sm">
								<a href="javascript:;">
									<img alt="RTDL Image" class="avatar avatar-md rounded-circle my-xs" src="assets/images/portrait/avatar1.png">
								</a>
								<a href="javascript:;">
									<img alt="RTDL Image" class="avatar avatar-md rounded-circle my-xs" src="assets/images/portrait/avatar2.png">
								</a>
								<a href="javascript:;">
									<img alt="RTDL Image" class="avatar avatar-md rounded-circle my-xs" src="assets/images/portrait/avatar3.png">
								</a>
								<a href="javascript:;">
									<img alt="RTDL Image" class="avatar avatar-md rounded-circle my-xs" src="assets/images/portrait/avatar4.png">
								</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-12 col-sm-4 col-4 pr-lg">
						<h5 class="text-center font-os-bold font-12">Ongoing Projects</h5>
						<P class="text-center">19</P>
						<h5 class="text-center font-os-bold font-12">Pending Projects</h5>
						<P class="text-center">5</P>
						<h5 class="text-center font-os-bold font-12">Ongoing Issues</h5>
						<P class="text-center">200,150</P>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-body p-0">
				<div class="row">
					<div class="col-lg-12">
						<div class="progress-bg-white progress-rounded mb-lg">
							<ngb-progressbar type="warning" [value]="50" height="2px"></ngb-progressbar>
						</div>
					</div>
					<div class="col-lg-8 col-md-12 col-sm-8 col-8">
						<div class="pl-sm">
							<h4 class="font-os-normal">Fee Management System</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
							<small>
								<i class="fa fa-calendar" aria-hidden="true"></i>
								December 22th, 2016
							</small>
							<div class="mt-sm">
								<a href="javascript:;">
									<img alt="RTDL Image" class="avatar avatar-md rounded-circle my-xs" src="assets/images/portrait/avatar1.png">
								</a>
								<a href="javascript:;">
									<img alt="RTDL Image" class="avatar avatar-md rounded-circle my-xs" src="assets/images/portrait/avatar2.png">
								</a>
								<a href="javascript:;">
									<img alt="RTDL Image" class="avatar avatar-md rounded-circle my-xs" src="assets/images/portrait/avatar3.png">
								</a>
								<a href="javascript:;">
									<img alt="RTDL Image" class="avatar avatar-md rounded-circle my-xs" src="assets/images/portrait/avatar4.png">
								</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-12 col-sm-4 col-4 pr-lg">
						<h5 class="text-center font-os-bold font-12">Ongoing Projects</h5>
						<P class="text-center">22</P>
						<h5 class="text-center font-os-bold font-12">Pending Projects</h5>
						<P class="text-center">3</P>
						<h5 class="text-center font-os-bold font-12">Ongoing Issues</h5>
						<P class="text-center">500,50</P>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-body p-0">
				<div class="row">
					<div class="col-lg-12">
						<div class="progress-bg-white progress-rounded mb-lg">
							<ngb-progressbar type="danger" [value]="10" height="2px"></ngb-progressbar>
						</div>
					</div>
					<div class="col-lg-8 col-md-12 col-sm-8 col-8">
						<div class="pl-sm">
							<h4 class="font-os-normal">Online Education System</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
							<small>
								<i class="fa fa-calendar" aria-hidden="true"></i>
								August 30th, 2017
							</small>
							<div class="mt-sm">
								<a href="javascript:;">
									<img alt="RTDL Image" class="avatar avatar-md rounded-circle my-xs" src="assets/images/portrait/avatar1.png">
								</a>
								<a href="javascript:;">
									<img alt="RTDL Image" class="avatar avatar-md rounded-circle my-xs" src="assets/images/portrait/avatar2.png">
								</a>
								<a href="javascript:;">
									<img alt="RTDL Image" class="avatar avatar-md rounded-circle my-xs" src="assets/images/portrait/avatar3.png">
								</a>
								<a href="javascript:;">
									<img alt="RTDL Image" class="avatar avatar-md rounded-circle my-xs" src="assets/images/portrait/avatar4.png">
								</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-12 col-sm-4 col-4 pr-lg">
						<h5 class="text-center font-os-bold font-12">Ongoing Projects</h5>
						<P class="text-center">20</P>
						<h5 class="text-center font-os-bold font-12">Pending Projects</h5>
						<P class="text-center">9</P>
						<h5 class="text-center font-os-bold font-12">Ongoing Issues</h5>
						<P class="text-center">650,240</P>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-body p-0">
				<div class="row">
					<div class="col-lg-12">
						<div class="progress-bg-white progress-rounded mb-lg">
							<ngb-progressbar type="primary" [value]="60" height="2px"></ngb-progressbar>
						</div>
					</div>
					<div class="col-lg-8 col-md-12 col-sm-8 col-8">
						<div class="pl-sm">
							<h4 class="font-os-normal">Tour & Travel Software</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
							<small>
								<i class="fa fa-calendar" aria-hidden="true"></i>
								July 25th, 2017
							</small>
							<div class="mt-sm">
								<a href="javascript:;">
									<img alt="RTDL Image" class="avatar avatar-md rounded-circle my-xs" src="assets/images/portrait/avatar1.png">
								</a>
								<a href="javascript:;">
									<img alt="RTDL Image" class="avatar avatar-md rounded-circle my-xs" src="assets/images/portrait/avatar2.png">
								</a>
								<a href="javascript:;">
									<img alt="RTDL Image" class="avatar avatar-md rounded-circle my-xs" src="assets/images/portrait/avatar3.png">
								</a>
								<a href="javascript:;">
									<img alt="RTDL Image" class="avatar avatar-md rounded-circle my-xs" src="assets/images/portrait/avatar4.png">
								</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-12 col-sm-4 col-4 pr-lg">
						<h5 class="text-center font-os-bold font-12">Ongoing Projects</h5>
						<P class="text-center">15</P>
						<h5 class="text-center font-os-bold font-12">Pending Projects</h5>
						<P class="text-center">6</P>
						<h5 class="text-center font-os-bold font-12">Ongoing Issues</h5>
						<P class="text-center">100,250</P>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-body p-0">
				<div class="row">
					<div class="col-lg-12">
						<div class="progress-bg-white progress-rounded mb-lg">
							<ngb-progressbar type="success" [value]="100" height="2px"></ngb-progressbar>
						</div>
					</div>
					<div class="col-lg-8 col-md-12 col-sm-8 col-8">
						<div class="pl-sm">
							<h4 class="font-os-normal">Travel System</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
							<small>
								<i class="fa fa-calendar" aria-hidden="true"></i>
								June 12th, 2017
							</small>
							<div class="mt-sm">
								<a href="javascript:;">
									<img alt="RTDL Image" class="avatar avatar-md rounded-circle my-xs" src="assets/images/portrait/avatar1.png">
								</a>
								<a href="javascript:;">
									<img alt="RTDL Image" class="avatar avatar-md rounded-circle my-xs" src="assets/images/portrait/avatar2.png">
								</a>
								<a href="javascript:;">
									<img alt="RTDL Image" class="avatar avatar-md rounded-circle my-xs" src="assets/images/portrait/avatar3.png">
								</a>
								<a href="javascript:;">
									<img alt="RTDL Image" class="avatar avatar-md rounded-circle my-xs" src="assets/images/portrait/avatar4.png">
								</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-12 col-sm-4 col-4 pr-lg">
						<h5 class="text-center font-os-bold font-12">Ongoing Projects</h5>
						<P class="text-center">13</P>
						<h5 class="text-center font-os-bold font-12">Pending Projects</h5>
						<P class="text-center">16</P>
						<h5 class="text-center font-os-bold font-12">Ongoing Issues</h5>
						<P class="text-center">360,100</P>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-body p-0">
				<div class="row">
					<div class="col-lg-12">
						<div class="progress-bg-white progress-rounded mb-lg">
							<ngb-progressbar type="danger" [value]="10" height="2px"></ngb-progressbar>
						</div>
					</div>
					<div class="col-lg-8 col-md-12 col-sm-8 col-8">
						<div class="pl-sm">
							<h4 class="font-os-normal">Game Zone</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
							<small>
								<i class="fa fa-calendar" aria-hidden="true"></i>
								September 12th, 2016
							</small>
							<div class="mt-sm">
								<a href="javascript:;">
									<img alt="RTDL Image" class="avatar avatar-md rounded-circle my-xs" src="assets/images/portrait/avatar1.png">
								</a>
								<a href="javascript:;">
									<img alt="RTDL Image" class="avatar avatar-md rounded-circle my-xs" src="assets/images/portrait/avatar2.png">
								</a>
								<a href="javascript:;">
									<img alt="RTDL Image" class="avatar avatar-md rounded-circle my-xs" src="assets/images/portrait/avatar3.png">
								</a>
								<a href="javascript:;">
									<img alt="RTDL Image" class="avatar avatar-md rounded-circle my-xs" src="assets/images/portrait/avatar4.png">
								</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-12 col-sm-4 col-4 pr-lg">
						<h5 class="text-center font-os-bold font-12">Ongoing Projects</h5>
						<P class="text-center">17</P>
						<h5 class="text-center font-os-bold font-12">Pending Projects</h5>
						<P class="text-center">14</P>
						<h5 class="text-center font-os-bold font-12">Ongoing Issues</h5>
						<P class="text-center">600,100</P>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-body p-0">
				<div class="row">
					<div class="col-lg-12">
						<div class="progress-bg-white progress-rounded mb-lg">
							<ngb-progressbar type="warning" [value]="50" height="2px"></ngb-progressbar>
						</div>
					</div>
					<div class="col-lg-8 col-md-12 col-sm-8 col-8">
						<div class="pl-sm">
							<h4 class="font-os-normal">Online Education System</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
							<small>
								<i class="fa fa-calendar" aria-hidden="true"></i>
								January 05th, 2017
							</small>
							<div class="mt-sm">
								<a href="javascript:;">
									<img alt="RTDL Image" class="avatar avatar-md rounded-circle my-xs" src="assets/images/portrait/avatar1.png">
								</a>
								<a href="javascript:;">
									<img alt="RTDL Image" class="avatar avatar-md rounded-circle my-xs" src="assets/images/portrait/avatar2.png">
								</a>
								<a href="javascript:;">
									<img alt="RTDL Image" class="avatar avatar-md rounded-circle my-xs" src="assets/images/portrait/avatar3.png">
								</a>
								<a href="javascript:;">
									<img alt="RTDL Image" class="avatar avatar-md rounded-circle my-xs" src="assets/images/portrait/avatar4.png">
								</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-12 col-sm-4 col-4 pr-lg">
						<h5 class="text-center font-os-bold font-12">Ongoing Projects</h5>
						<P class="text-center">10</P>
						<h5 class="text-center font-os-bold font-12">Pending Projects</h5>
						<P class="text-center">11</P>
						<h5 class="text-center font-os-bold font-12">Ongoing Issues</h5>
						<P class="text-center">140,000</P>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-body p-0">
				<div class="row">
					<div class="col-md-12">
						<div class="progress-bg-white progress-rounded mb-lg">
							<ngb-progressbar type="danger" [value]="10" height="2px"></ngb-progressbar>
						</div>
					</div>
					<div class="col-lg-8 col-md-12 col-sm-8 col-8">
						<div class="pl-sm">
							<h4 class="font-os-normal">Library Management System</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
							<small>
								<i class="fa fa-calendar" aria-hidden="true"></i>
								September 12th, 2017
							</small>
							<div class="mt-sm">
								<a href="javascript:;">
									<img alt="RTDL Image" class="avatar avatar-md rounded-circle my-xs" src="assets/images/portrait/avatar1.png">
								</a>
								<a href="javascript:;">
									<img alt="RTDL Image" class="avatar avatar-md rounded-circle my-xs" src="assets/images/portrait/avatar2.png">
								</a>
								<a href="javascript:;">
									<img alt="RTDL Image" class="avatar avatar-md rounded-circle my-xs" src="assets/images/portrait/avatar3.png">
								</a>
								<a href="javascript:;">
									<img alt="RTDL Image" class="avatar avatar-md rounded-circle my-xs" src="assets/images/portrait/avatar4.png">
								</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-12 col-sm-4 col-4 pr-lg">
						<h5 class="text-center font-os-bold font-12">Ongoing Projects</h5>
						<P class="text-center">17</P>
						<h5 class="text-center font-os-bold font-12">Pending Projects</h5>
						<P class="text-center">14</P>
						<h5 class="text-center font-os-bold font-12">Ongoing Issues</h5>
						<P class="text-center">600,100</P>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-body p-0">
				<div class="row">
					<div class="col-md-12">
						<div class="progress-bg-white progress-rounded mb-lg">
							<ngb-progressbar type="success" [value]="100" height="2px"></ngb-progressbar>
						</div>
					</div>
					<div class="col-lg-8 col-md-12 col-sm-8 col-8">
						<div class="pl-sm">
							<h4 class="font-os-normal">Attendance Management System</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
							<small>
								<i class="fa fa-calendar" aria-hidden="true"></i>
								June 12th, 2017
							</small>
							<div class="mt-sm">
								<a href="javascript:;">
									<img alt="RTDL Image" class="avatar avatar-md rounded-circle my-xs" src="assets/images/portrait/avatar1.png">
								</a>
								<a href="javascript:;">
									<img alt="RTDL Image" class="avatar avatar-md rounded-circle my-xs" src="assets/images/portrait/avatar2.png">
								</a>
								<a href="javascript:;">
									<img alt="RTDL Image" class="avatar avatar-md rounded-circle my-xs" src="assets/images/portrait/avatar3.png">
								</a>
								<a href="javascript:;">
									<img alt="RTDL Image" class="avatar avatar-md rounded-circle my-xs" src="assets/images/portrait/avatar4.png">
								</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-12 col-sm-4 col-4 pr-lg">
						<h5 class="text-center font-os-bold font-12">Ongoing Projects</h5>
						<P class="text-center">13</P>
						<h5 class="text-center font-os-bold font-12">Pending Projects</h5>
						<P class="text-center">16</P>
						<h5 class="text-center font-os-bold font-12">Ongoing Issues</h5>
						<P class="text-center">360,100</P>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-body p-0">
				<div class="row">
					<div class="col-md-12">
						<div class="progress-bg-white progress-rounded mb-lg">
							<ngb-progressbar type="warning" [value]="50" height="2px"></ngb-progressbar>
						</div>
					</div>
					<div class="col-lg-8 col-md-12 col-sm-8 col-8">
						<div class="pl-sm">
							<h4 class="font-os-normal">Real Estate Management System</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
							<small>
								<i class="fa fa-calendar" aria-hidden="true"></i>
								January 05th, 2017
							</small>
							<div class="mt-sm">
								<a href="javascript:;">
									<img alt="RTDL Image" class="avatar avatar-md rounded-circle my-xs" src="assets/images/portrait/avatar1.png">
								</a>
								<a href="javascript:;">
									<img alt="RTDL Image" class="avatar avatar-md rounded-circle my-xs" src="assets/images/portrait/avatar2.png">
								</a>
								<a href="javascript:;">
									<img alt="RTDL Image" class="avatar avatar-md rounded-circle my-xs" src="assets/images/portrait/avatar3.png">
								</a>
								<a href="javascript:;">
									<img alt="RTDL Image" class="avatar avatar-md rounded-circle my-xs" src="assets/images/portrait/avatar4.png">
								</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-12 col-sm-4 col-4 pr-lg">
						<h5 class="text-center font-os-bold font-12">Ongoing Projects</h5>
						<P class="text-center">10</P>
						<h5 class="text-center font-os-bold font-12">Pending Projects</h5>
						<P class="text-center">11</P>
						<h5 class="text-center font-os-bold font-12">Ongoing Issues</h5>
						<P class="text-center">140,000</P>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>