<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="jvascript:;" class="text-mg">Miscellaneous Page</a></li>
							<li class="breadcrumb-item active text-dg">Vertical Timeline</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-globe menu-icon" aria-hidden="true"></i> Vertical Timeline</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Vertical Timeline Content-->
<div class="row cssanimations">
	<div class="vertical-timeline col-12">
		<div class="vertical-timeline-block">
			<div class="vertical-timeline-img bg-theme">
				<i class="fa fa-picture-o fa-2x" aria-hidden="true"></i>
			</div>
			<div class="vertical-timeline-content">
				<h4>Title of section 1</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
				<a href="javascript:;" class="vertical-read-more btn btn-md btn-theme float-right">Read more</a>
				<span class="vertical-date">Oct 14</span>
			</div>
		</div>
		<div class="vertical-timeline-block">
			<div class="vertical-timeline-img bg-primary">
				<i class="fa fa-video-camera fa-2x" aria-hidden="true"></i>
			</div>
			<div class="vertical-timeline-content">
				<h4>Title of section 2</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
				<a href="javascript:;" class="vertical-read-more btn btn-md btn-theme float-right">Read more</a>
				<span class="vertical-date">Oct 14</span>
			</div>
		</div>
		<div class="vertical-timeline-block">
			<div class="vertical-timeline-img bg-theme">
				<i class="fa fa-picture-o fa-2x" aria-hidden="true"></i>
			</div>
			<div class="vertical-timeline-content">
				<h4>Title of section 3</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
				<a href="javascript:;" class="vertical-read-more btn btn-md btn-theme float-right">Read more</a>
				<span class="vertical-date">Oct 14</span>
			</div>
		</div>
		<div class="vertical-timeline-block">
			<div class="vertical-timeline-img bg-success">
				<i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
			</div>
			<div class="vertical-timeline-content">
				<h4>Title of section 4</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
				<a href="javascript:;" class="vertical-read-more btn btn-md btn-theme float-right">Read more</a>
				<span class="vertical-date">Oct 14</span>
			</div>
		</div>
		<div class="vertical-timeline-block">
			<div class="vertical-timeline-img bg-primary">
				<i class="fa fa-video-camera fa-2x" aria-hidden="true"></i>
			</div>
			<div class="vertical-timeline-content">
				<h4>Title of section 5</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
				<a href="javascript:;" class="vertical-read-more btn btn-md btn-theme float-right">Read more</a>
				<span class="vertical-date">Oct 14</span>
			</div>
		</div>
	</div>
</div>