<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">Maps</a></li>
							<li class="breadcrumb-item active text-dg">Data Maps</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-map menu-icon" aria-hidden="true"></i> Data Maps</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Data Maps Content -->
<div class="row">
	<div class="col-12 px-0 my-sm">
		<div class="card">
			<div class="card-body text-center">
				<div class="py-lg">
					<h4 class="font-roboto-thin my-sm">Customizable SVG map visualizations for the web in a single Javascript file using D3.js</h4>
					<a href="http://datamaps.github.io" target="_blank" class="btn btn-outline-theme">Get Data Maps Doc</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xl-6 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Basic Datamap</h5>
			</div>
			<div class="card-body">
				<div id="basic-datamaps"></div>
			</div>
		</div>
	</div>
	<div class="col-xl-6 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Custom Scope</h5>
			</div>
			<div class="card-body">
				<div id="usa-scope"></div>
			</div>
		</div>
	</div>
	<div class="col-xl-6 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Datamap with Arcs</h5>
			</div>
			<div class="card-body">
				<div id="arc-datamaps"></div>
			</div>
		</div>
	</div>
	<div class="col-xl-6 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Datamap with selected regions</h5>
			</div>
			<div class="card-body">
				<div id="selected-datamaps"></div>
			</div>
		</div>
	</div>
</div>