<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">E-Commerce</a></li>
							<li class="breadcrumb-item active text-dg">Product Edit</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Product Edit</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Product Edit Content-->
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header pt-0">
				<ul class="nav nav-tabs card-header-tabs" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" data-toggle="tab" href="#product-edit" role="tab">Product detail</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#discount" role="tab">Discount</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#images" role="tab">Images</a>
					</li>
				</ul>
			</div>
			<div class="tab-content card-body">
				<div id="product-edit" class="tab-pane active">
					<div class="row m-0">
						<div class="col-lg-6 px-0">
							<div class="row m-0">
								<h3 class="text-dg font-os-thin mt-md mb-sm px-md">Information</h3>
								<div class="col-lg-12">
									<form>
										<div class="form-group">
											<label class="control-label mb-xs" for="product-name">Name:</label>
											<input type="text" id="product-name" class="form-control" placeholder="Product Name">
										</div>
										<div class="form-group">
											<label class="control-label mb-xs" for="product-price">Price:</label>
											<input type="number" id="product-price" class="form-control" placeholder="$110" min="1">
										</div>
										<div class="form-group">
											<label class="control-label mb-xs">Description:</label>
											<div id="product-des-edit"></div>
										</div>
										<div class="form-group">
											<label class="control-label mb-xs" for="product-title">Meta tag title:</label>
											<input type="text" id="product-title" class="form-control" placeholder="Meta tag title...">
										</div>
										<div class="form-group">
											<label class="control-label mb-xs" for="product-desc">Meta tag description:</label>
											<input type="text" id="product-desc" class="form-control" placeholder="Meta tag description...">
										</div>
										<div class="form-group">
											<label class="control-label mb-xs" for="product-keyword">Meta tag keywords:</label>
											<input type="text" id="product-keyword" class="form-control" placeholder="Cell Phones, Pendrive, Laptop...">
										</div>
									</form>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="row m-0">
								<h3 class="text-dg font-os-thin px-md">Data</h3>
								<div class="col-lg-12">
									<form>
										<div class="form-group">
											<label class="control-label mb-xs" for="product-id">Product id:</label>
											<input type="text" id="product-id" class="form-control" placeholder="135">
										</div>
										<div class="form-group">
											<label class="control-label mb-xs" for="product-model">Modal:</label>
											<input type="text" id="product-model" class="form-control" placeholder="2017">
										</div>
										<div class="form-group">
											<label class="control-label mb-xs" for="tax">Tax class:</label>
											<select class="form-control" id="tax">
												<option value="option1">option 1</option>
												<option value="option2">option 2</option>
											</select>
										</div>
										<div class="form-group">
											<label class="control-label mb-xs" for="total">Total in stock:</label>
											<input type="number" id="total" class="form-control" value="30" min="1">
										</div>
										<div class="form-group">
											<label class="control-label mb-xs" for="quantity">Minimum Quantity:</label>
											<input type="number" id="quantity" class="form-control" value="1" min="1">
										</div>
										<div class="form-group">
											<label class="control-label mb-xs" for="order-type">Order type:</label>
											<input type="text" id="order-type" class="form-control" placeholder="sort order">
										</div>
										<div class="form-group">
											<label class="control-label mb-xs" for="status">Status:</label>
											<select class="form-control" id="status">
												<option value="option1">option 1</option>
												<option value="option2">option 2</option>
												<option value="option3">option 3</option>
											</select>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
					<div class="float-right">
						<button class="btn btn-theme mb-xs"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
					</div>
				</div>
				<div id="discount" class="tab-pane p-md">
					<div class="table-responsive">
						<div class="float-right">
							<button class="btn btn-theme mb-sm"><i class="fa fa-plus"></i> Add</button>
						</div>
						<table class="table m-0" data-toggle-column="first" data-sorting="true">
							<thead>
								<tr>
									<th class="text-center">Group</th>
									<th class="text-center">Total in stock</th>
									<th class="text-center">Discount</th>
									<th class="text-center width-200">Date start</th>
									<th class="text-center width-200">Date end</th>
									<th class="text-center">Action</th>
								</tr> 
							</thead>
							<tbody>
								<tr>
									<td>
										<select class="form-control group-dropdown">
											<option value="group1">Group 1</option>
											<option value="group2">Group 2</option>
											<option value="group3">Group 3</option>
										</select>
									</td>
									<td>
										<input type="text" class="form-control" placeholder="30">
									</td>
									<td>
										<input type="text" class="form-control" placeholder="$35">
									</td>
									<td>
										<div class="input-group">
											<input class="form-control" placeholder="Date Start"
											name="product1" ngbDatepicker #product1ds="ngbDatepicker" aria-describedby="ds1-basic-addon">
											<span class="input-group-addon" id="ds1-basic-addon" (click)="product1ds.toggle()">
												<i class="fa fa-calendar" aria-hidden="true"></i>
											</span>
										</div>
									</td>
									<td>
										<div class="input-group">
											<input class="form-control" placeholder="Date End"
											name="product1" ngbDatepicker #product1de="ngbDatepicker" aria-describedby="de1-basic-addon">
											<span class="input-group-addon" id="de1-basic-addon" (click)="product1de.toggle()">
												<i class="fa fa-calendar" aria-hidden="true"></i>
											</span>
										</div>
									</td>
									<td class="text-center">
										<a href="javascript:;" class="btn btn-outline-secondary btn-sm"><i class="fa fa-trash-o"></i></a>
									</td>
								</tr>
								<tr>
									<td>
										<select class="form-control group-dropdown">
											<option value="group1">Group 1</option>
											<option value="group2">Group 2</option>
											<option value="group3">Group 3</option>
										</select>
									</td>
									<td>
										<input type="text" class="form-control" placeholder="20">
									</td>
									<td>
										<input type="text" class="form-control" placeholder="$40">
									</td>
									<td>
										<div class="input-group">
											<input class="form-control" placeholder="Date Start"
											name="product2" ngbDatepicker #product2ds="ngbDatepicker" aria-describedby="ds2-basic-addon">
											<span class="input-group-addon" id="ds2-basic-addon" (click)="product2ds.toggle()">
												<i class="fa fa-calendar" aria-hidden="true"></i>
											</span>
										</div>
									</td>
									<td>
										<div class="input-group">
											<input class="form-control" placeholder="Date End"
											name="product2" ngbDatepicker #product2de="ngbDatepicker" aria-describedby="de2-basic-addon">
											<span class="input-group-addon" id="de2-basic-addon" (click)="product2de.toggle()">
												<i class="fa fa-calendar" aria-hidden="true"></i>
											</span>
										</div>
									</td>
									<td class="text-center">
										<a href="javascript:;" class="btn btn-outline-secondary btn-sm"><i class="fa fa-trash-o"></i></a>
									</td>
								</tr>
								<tr>
									<td>
										<select class="form-control group-dropdown">
											<option value="group1">Group 1</option>
											<option value="group2">Group 2</option>
											<option value="group3">Group 3</option>
										</select>
									</td>
									<td>
										<input type="text" class="form-control" placeholder="3">
									</td>
									<td>
										<input type="text" class="form-control" placeholder="$50">
									</td>
									<td>
										<div class="input-group">
											<input class="form-control" placeholder="Date Start"
											name="product3" ngbDatepicker #product3ds="ngbDatepicker" aria-describedby="ds3-basic-addon">
											<span class="input-group-addon" id="ds3-basic-addon" (click)="product3ds.toggle()">
												<i class="fa fa-calendar" aria-hidden="true"></i>
											</span>
										</div>
									</td>
									<td>
										<div class="input-group">
											<input class="form-control" placeholder="Date End"
											name="product3" ngbDatepicker #product3de="ngbDatepicker" aria-describedby="de13basic-addon">
											<span class="input-group-addon" id="de3-basic-addon" (click)="product3de.toggle()">
												<i class="fa fa-calendar" aria-hidden="true"></i>
											</span>
										</div>
									</td>
									<td class="text-center">
										<a href="javascript:;" class="btn btn-outline-secondary btn-sm"><i class="fa fa-trash-o"></i></a>
									</td>
								</tr>
								<tr>
									<td>
										<select class="form-control group-dropdown">
											<option value="group1">Group 1</option>
											<option value="group2">Group 2</option>
											<option value="group3">Group 3</option>
										</select>
									</td>
									<td>
										<input type="text" class="form-control" placeholder="30">
									</td>
									<td>
										<input type="text" class="form-control" placeholder="$35">
									</td>
									<td>
										<div class="input-group">
											<input class="form-control" placeholder="Date Start"
											name="product4" ngbDatepicker #product4ds="ngbDatepicker" aria-describedby="ds4-basic-addon">
											<span class="input-group-addon" id="ds4-basic-addon" (click)="product4ds.toggle()">
												<i class="fa fa-calendar" aria-hidden="true"></i>
											</span>
										</div>
									</td>
									<td>
										<div class="input-group">
											<input class="form-control" placeholder="Date End"
											name="product4" ngbDatepicker #product4de="ngbDatepicker" aria-describedby="de14basic-addon">
											<span class="input-group-addon" id="de4-basic-addon" (click)="product4de.toggle()">
												<i class="fa fa-calendar" aria-hidden="true"></i>
											</span>
										</div>
									</td>
									<td class="text-center">
										<a href="javascript:;" class="btn btn-outline-secondary btn-sm"><i class="fa fa-trash-o"></i></a>
									</td>
								</tr>
								<tr>
									<td>
										<select class="form-control group-dropdown">
											<option value="group1">Group 1</option>
											<option value="group2">Group 2</option>
											<option value="group3">Group 3</option>
										</select>
									</td>
									<td>
										<input type="text" class="form-control" placeholder="30">
									</td>
									<td>
										<input type="text" class="form-control" placeholder="$35">
									</td>
									<td>
										<div class="input-group">
											<input class="form-control" placeholder="Date Start"
											name="product5" ngbDatepicker #product5ds="ngbDatepicker" aria-describedby="ds5-basic-addon">
											<span class="input-group-addon" id="ds5-basic-addon" (click)="product5ds.toggle()">
												<i class="fa fa-calendar" aria-hidden="true"></i>
											</span>
										</div>
									</td>
									<td>
										<div class="input-group">
											<input class="form-control" placeholder="Date End"
											name="product5" ngbDatepicker #product5de="ngbDatepicker" aria-describedby="de5-basic-addon">
											<span class="input-group-addon" id="de5-basic-addon" (click)="product5de.toggle()">
												<i class="fa fa-calendar" aria-hidden="true"></i>
											</span>
										</div>
									</td>
									<td class="text-center">
										<a href="javascript:;" class="btn btn-outline-secondary btn-sm"><i class="fa fa-trash-o"></i></a>
									</td>
								</tr>
								<tr>
									<td>
										<select class="form-control group-dropdown">
											<option value="group1">Group 1</option>
											<option value="group2">Group 2</option>
											<option value="group3">Group 3</option>
										</select>
									</td>
									<td>
										<input type="text" class="form-control" placeholder="100">
									</td>
									<td>
										<input type="text" class="form-control" placeholder="$10">
									</td>
									<td>
										<div class="input-group">
											<input class="form-control" placeholder="Date Start"
											name="product6" ngbDatepicker #product6ds="ngbDatepicker" aria-describedby="ds6-basic-addon">
											<span class="input-group-addon" id="ds6-basic-addon" (click)="product6ds.toggle()">
												<i class="fa fa-calendar" aria-hidden="true"></i>
											</span>
										</div>
									</td>
									<td>
										<div class="input-group">
											<input class="form-control" placeholder="Date End"
											name="product6" ngbDatepicker #product6de="ngbDatepicker" aria-describedby="de6-basic-addon">
											<span class="input-group-addon" id="de6-basic-addon" (click)="product6de.toggle()">
												<i class="fa fa-calendar" aria-hidden="true"></i>
											</span>
										</div>
									</td>
									<td class="text-center">
										<a href="javascript:;" class="btn btn-outline-secondary btn-sm"><i class="fa fa-trash-o"></i></a>
									</td>
								</tr>
								<tr>
									<td>
										<select class="form-control group-dropdown">
											<option value="group1">Group 1</option>
											<option value="group2">Group 2</option>
											<option value="group3">Group 3</option>
										</select>
									</td>
									<td>
										<input type="text" class="form-control" placeholder="45">
									</td>
									<td>
										<input type="text" class="form-control" placeholder="$25">
									</td>
									<td>
										<div class="input-group">
											<input class="form-control" placeholder="Date Start"
											name="product7" ngbDatepicker #product7ds="ngbDatepicker" aria-describedby="ds7-basic-addon">
											<span class="input-group-addon" id="ds7-basic-addon" (click)="product7ds.toggle()">
												<i class="fa fa-calendar" aria-hidden="true"></i>
											</span>
										</div>
									</td>
									<td>
										<div class="input-group">
											<input class="form-control" placeholder="Date End"
											name="product7" ngbDatepicker #product7de="ngbDatepicker" aria-describedby="de7-basic-addon">
											<span class="input-group-addon" id="de7-basic-addon" (click)="product7de.toggle()">
												<i class="fa fa-calendar" aria-hidden="true"></i>
											</span>
										</div>
									</td>
									<td class="text-center">
										<a href="javascript:;" class="btn btn-outline-secondary btn-sm"><i class="fa fa-trash-o"></i></a>
									</td>
								</tr>
							</tbody>
						</table>
						
						<div class="float-right">
							<button class="btn btn-theme mb-xs"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
						</div>
							
					</div>
				</div>
				<div id="images" class="tab-pane">
					<div class="table-responsive">
						<div class="float-right my-sm">
							<button class="btn btn-theme"><i class="fa fa-plus"></i> Add</button>
						</div>
						<table class="table m-0" data-toggle-column="first" data-sorting="true">
							<thead>
								<tr>
									<th>Image</th>
									<th class="text-center">Image url</th>
									<th class="text-center">Sort order</th>
									<th class="text-center">Action</th>
								</tr> 
							</thead>
							<tbody>
								<tr>
									<td>
										<img class="avatar avatar-lg" src="assets/images/product-grid/product.jpg" alt="RTDL Image">
									</td>
									<td>
										<input type="text" disabled="disabled" class="form-control" placeholder="assets/images/product-grid/product.jpg">
									</td>
									<td>
										<input type="text" class="form-control" placeholder="2">
									</td>
									<td class="text-center">
										<a href="javascript:;" class="btn btn-outline-secondary btn-sm"><i class="fa fa-trash-o"></i></a>
									</td>
								</tr>
								<tr>
									<td>
										<img class="avatar avatar-lg" src="assets/images/product-grid/cart.jpg" alt="RTDL Image">
									</td>
									<td>
										<input type="text" disabled="disabled" class="form-control" placeholder="assets/images/product-grid/cart.jpg">
									</td>
									<td>
										<input type="text" class="form-control" placeholder="1">
									</td>
									<td class="text-center">
										<a href="javascript:;" class="btn btn-outline-secondary btn-sm"><i class="fa fa-trash-o"></i></a>
									</td>
								</tr>
								<tr>
									<td>
										<img class="avatar avatar-lg" src="assets/images/product-grid/product-edit.png" alt="RTDL Image">
									</td>
									<td>
										<input type="text" disabled="disabled" class="form-control" placeholder="assets/images/product-grid/product-edit.png">
									</td>
									<td>
										<input type="text" class="form-control" placeholder="2">
									</td>
									<td class="text-center">
										<a href="javascript:;" class="btn btn-outline-secondary btn-sm"><i class="fa fa-trash-o"></i></a>
									</td>
								</tr>
								<tr>
									<td>
										<img class="avatar avatar-lg" src="assets/images/product-grid/product3.jpg" alt="RTDL Image">
									</td>
									<td>
										<input type="text" disabled="disabled" class="form-control" placeholder="assets/images/product-grid/product3.jpg">
									</td>
									<td>
										<input type="text" class="form-control" placeholder="1">
									</td>
									<td class="text-center">
										<a href="javascript:;" class="btn btn-outline-secondary btn-sm"><i class="fa fa-trash-o"></i></a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>