<div class="row social-widgets">
	<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 my-sm font-os-thin social-widgets-box">
		<div class="bg-white p-lg border-r-md text-center" data-prefix=" " data-count=".num" data-from="0" data-to="1823" data-suffix=" " data-duration="2">
			<span class="visits chart-dark-shadow"></span>
			<h4 class="num font-os-bold">0</h4>
			<span>Visits</span>
		</div>
	</div>
	<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 my-sm font-os-thin social-widgets-box">
		<div class="bg-white p-lg border-r-md text-center" data-prefix=" " data-count=".num" data-from="0" data-to="6043" data-suffix=" " data-duration="2">
			<span class="bounceRate chart-dark-shadow"></span>
			<h4 class="num font-os-bold">0</h4>
			<span>Bounce Rate</span>
		</div>
	</div>
	<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 my-sm font-os-thin social-widgets-box">
		<div class="bg-white p-lg border-r-md text-center "  data-count=".num" data-from="0" data-prefix="$" data-to="3178" data-suffix="0" data-duration="2">
			<span class="pageView chart-dark-shadow"></span>
			<h4 class="num font-os-bold">0</h4>
			<span>Page Views</span>
		</div>
	</div>
	<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 my-sm font-os-thin social-widgets-box">
		<div class="bg-white p-lg border-r-md text-center" data-count=".num" data-from="0" data-prefix="$" data-to="4769" data-suffix=" " data-duration="2">
			<span class="goalConversion chart-dark-shadow"></span>
			<h4 class="num font-os-bold">0</h4>
			<span>Goal Conversion</span>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xl-8 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="d-inline-block m-0">Bounce Rate</h5>
				<div class="float-right">
					<a href="javascript:;" class="text-dg p-xs"><i class="fa fa-cog"></i></a>
					<a href="javascript:;" class="text-dg p-xs" data-toggle="collapse" data-target="#sales-report"><i class="fa fa-angle-down"></i></a>
					<a href="javascript:;" class="text-dg p-xs remove-card"><i class="fa fa-trash-o"></i></a>
				</div>
			</div>
			<div class="card-body collapse show py-0" id="sales-report">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-md-12 col-sm-12 col-12">
						<div id="sale-chart" class="height-200 p-0"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-3 col-md-6 col-sm-12 col-12">
						<div id="sellingChart" class="p-0" style="height:180px;"></div>
						<h5 class="text-center no-margin"><b>Last Week Selling</b></h5>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-12 col-12 mt-xlg text-center">
						<h5>Total Selling In This Week</h5>
						<h2>$3,843.00</h2>
					</div>
					<div class="col-lg-6 col-md-12 col-sm-12 col-12 mt-lg">
						<div class="my-sm progress-rounded">
							<ngb-progressbar type="success" [value]="82" height="5px"></ngb-progressbar>
						</div>
						<div>
							<p class="mb-xs d-inline-block">This Year Selling</p>
							<p class="mb-xs float-right">82%</p>
						</div>
						<div class="my-sm progress-rounded">
							<ngb-progressbar type="info" [value]="90" height="5px"></ngb-progressbar>
						</div>
						<div>
							<p class="mb-xs d-inline-block">Monthly Selling</p>
							<p class="mb-xs float-right">90%</p>
						</div>
						<div class="my-sm progress-rounded">
							<ngb-progressbar type="theme" [value]="70" height="5px"></ngb-progressbar>
						</div>
						<div>
							<p class="mb-xs d-inline-block">Weekly Selling</p>
							<p class="mb-xs float-right">70%</p>
						</div>
						<div class="my-sm progress-rounded">
							<ngb-progressbar type="warning" [value]="65" height="5px"></ngb-progressbar>
						</div>
						<div>
							<p class="mb-xs d-inline-block m-0">Today Active Users</p>
							<p class="mb-xs float-right m-0">65%</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-4 mb-sm">
		<div class="row social-widgets">
			<div class="col-xl-12 col-lg-6 col-md-12 col-sm-6 col-12 my-sm font-os-thin social-widgets-box">
				<div class="bg-white p-lg" data-prefix=" " data-count=".num" data-from="0" data-to="6043" data-suffix=" " data-duration="2">
					<div class="float-right mt-md">
						<span class="barChart1 hide">7,3,2,7,9,6,4,5,7,5,3,9,6,5,9,7</span>
					</div>
					<h4 class="num font-os-bold">0</h4>
					<span>New Users</span>
				</div>
			</div>
			<div class="col-xl-12 col-lg-6 col-md-12 col-sm-6 col-12 my-sm font-os-thin social-widgets-box">
				<div class="bg-white p-lg" data-prefix=" " data-count=".num" data-from="0" data-to="3706" data-suffix=" " data-duration="2">
					<div class="float-right mt-md">
						<span class="barChart2 hide">5,9,7,3,5,2,4,7,3,2,7,9,6,4,5,7</span>
					</div>
					<h4 class="num font-os-bold">0</h4>
					<span>Returning Users</span>
				</div>
			</div>
			<div class="col-xl-12 col-lg-6 col-md-12 col-sm-6 col-12 my-sm font-os-thin social-widgets-box">
				<div class="bg-white p-lg" data-prefix=" " data-count=".num" data-from="0" data-to="4769" data-suffix=" " data-duration="2">
					<svg id="fillgauge4" class="mt-xs" width="50" height="50"></svg>
					<div class="float-right">
						<h4 class="num font-os-bold">0</h4>
						<span>Today's Target</span>
					</div>
				</div>
			</div>
			<div class="col-xl-12 col-lg-6 col-md-12 col-sm-6 col-12 my-sm font-os-thin social-widgets-box">
				<div class="bg-white p-lg" data-prefix=" " data-count=".num" data-from="0" data-to="2080" data-suffix=" " data-duration="2">
					<svg id="fillgauge3" class="mt-xs" width="50" height="50"></svg>
					<div class="float-right">
						<h4 class="num font-os-bold">0</h4>
						<span>Monthly Target</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row social-widgets">
	<div class="col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="d-inline-block m-0">Social Report <label class="badge badge-theme mb-0"> LIVE</label></h5>
				<div class="float-right">
					<a href="javascript:;" class="text-dg p-xs"><i class="fa fa-cog"></i></a>
					<a href="javascript:;" class="text-dg p-xs" data-toggle="collapse" data-target=".google-report"><i class="fa fa-angle-down"></i></a>
					<a href="javascript:;" class="text-dg p-xs remove-card"><i class="fa fa-trash-o"></i></a>
				</div>
			</div>
			<div class="card-body collapse show google-report p-0">
				<div class="row mx-0">
					<div class="col-xl-9 col-lg-8 col-md-12 col-sm-12 col-12 p-0">
						<div id="flot-updateChart" class="height-200 mt-sm"></div>
					</div>
					<div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-12">
						<table class="table mb-0">
							<tr>
								<td class="pl-0 py-xs">Google clicks per day</td>
								<td class="py-xs"><label class="badge badge-theme d-inline-block width-50">467</label></td>
							</tr>
							<tr>
								<td class="pl-0 py-xs">News ads</td>
								<td class="py-xs"><label class="badge badge-success d-inline-block width-50">58</label></td>
							</tr>
							<tr>
								<td class="pl-0 py-xs">Facebook ads</td>
								<td class="py-xs"><label class="badge badge-warning d-inline-block width-50">105</label></td>
							</tr>
							<tr>
								<td class="pl-0 py-xs">Mobile Application ads</td>
								<td class="py-xs"><label class="badge badge-info d-inline-block width-50">76</label></td>
							</tr>
							<tr>
								<td class="pl-0 py-xs">Google AdWords ads</td>
								<td class="py-xs"><label class="badge badge-primary d-inline-block width-50">196</label></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card m-0">
			<div class="card-header">
				<h5 class="d-inline-block m-0">Social Marketing Report</h5>
				<div class="float-right">
					<a href="javascript:;" class="text-dg p-xs"><i class="fa fa-cog"></i></a>
					<a href="javascript:;" class="text-dg p-xs" data-toggle="collapse" data-target=".marketing-report"><i class="fa fa-angle-down"></i></a>
					<a href="javascript:;" class="text-dg p-xs remove-card"><i class="fa fa-trash-o"></i></a>
				</div>
			</div>
			<div class="card-body collapse show marketing-report">
				<div class="table-responsive">
					<table class="table table-hover table-striped table-bordered">
						<thead>
							<tr>
								<th>Channel</th>
								<th class="text-right">Channel UV</th>
								<th class="text-right">Friends/Rank</th>
								<th class="text-center">% Change</th>
								<th class="text-right">Ad Impressions</th>
								<th class="text-right">Ad Clicks</th>
								<th class="text-right">Conversions</th>
								<th class="text-right">Video Views</th>
								<th class="text-right">Referral Clicks</th>
								<th class="text-right">Subscribers</th>
								<th class="text-right">Actions</th>
							</tr> 
						</thead>
						<tbody>
							<tr>
								<td>youtube.com</td>
								<td class="text-right">74,450,684</td>
								<td class="text-right">180</td>
								<td class="text-center">20%</td>
								<td class="text-right">4,75,865</td>
								<td class="text-right">8,334</td>
								<td class="text-right">131</td>
								<td class="text-right">32,654</td>
								<td class="text-right">1,887</td>
								<td class="text-right">140</td>
								<td class="text-right">45</td>
							</tr>
							<tr>
								<td>facebook.com</td>
								<td class="text-right">69,578,700</td>
								<td class="text-right">1,775</td>
								<td class="text-center">28%</td>
								<td class="text-right">24,231</td>
								<td class="text-right">2,360</td>
								<td class="text-right">56</td>
								<td class="text-right">-</td>
								<td class="text-right">305</td>
								<td class="text-right">54</td>
								<td class="text-right">34</td>
							</tr>
							<tr>
								<td>linkedin.com</td>
								<td class="text-right">57,865,147</td>
								<td class="text-right">2,465</td>
								<td class="text-center">42%</td>
								<td class="text-right">-</td>
								<td class="text-right">-</td>
								<td class="text-right">176</td>
								<td class="text-right">560</td>
								<td class="text-right">2,628</td>
								<td class="text-right">38</td>
								<td class="text-right">29</td>
							</tr>
							<tr>
								<td>flixter.com</td>
								<td class="text-right">7,367,143</td>
								<td class="text-right">354</td>
								<td class="text-center">12%</td>
								<td class="text-right">3,785</td>
								<td class="text-right">1,684</td>
								<td class="text-right">475</td>
								<td class="text-right">-</td>
								<td class="text-right">143</td>
								<td class="text-right">-</td>
								<td class="text-right">24</td>
							</tr>
							<tr>
								<td>twitter.com</td>
								<td class="text-right">44,253,742</td>
								<td class="text-right">243</td>
								<td class="text-center">23%</td>
								<td class="text-right">7,682</td>
								<td class="text-right">-</td>
								<td class="text-right">1,861</td>
								<td class="text-right">475</td>
								<td class="text-right">253</td>
								<td class="text-right">478</td>
								<td class="text-right">42</td>
							</tr>
							<tr>
								<td>vimeo.com</td>
								<td class="text-right">2,475,345</td>
								<td class="text-right">1,458</td>
								<td class="text-center">47%</td>
								<td class="text-right">2,475</td>
								<td class="text-right">654</td>
								<td class="text-right">231</td>
								<td class="text-right">-</td>
								<td class="text-right">1,452</td>
								<td class="text-right">652</td>
								<td class="text-right">37</td>
							</tr>
							<tr>
								<td>tumbler.com</td>
								<td class="text-right">3,542,675</td>
								<td class="text-right">675</td>
								<td class="text-center">91%</td>
								<td class="text-right">-</td>
								<td class="text-right">2,564</td>
								<td class="text-right">351</td>
								<td class="text-right">243</td>
								<td class="text-right">2,452</td>
								<td class="text-right">91</td>
								<td class="text-right">85</td>
							</tr>
							<tr>
								<td>dailymotion.com</td>
								<td class="text-right">54,785,321</td>
								<td class="text-right">2,365</td>
								<td class="text-center">69%</td>
								<td class="text-right">2,680</td>
								<td class="text-right">685</td>
								<td class="text-right">1,658</td>
								<td class="text-right">364</td>
								<td class="text-right">480</td>
								<td class="text-right">671</td>
								<td class="text-right">76</td>
							</tr>
							<tr>
								<td>myspace.com</td>
								<td class="text-right">4,750,300</td>
								<td class="text-right">795</td>
								<td class="text-center">40%</td>
								<td class="text-right">-</td>
								<td class="text-right">-</td>
								<td class="text-right">358</td>
								<td class="text-right">672</td>
								<td class="text-right">300</td>
								<td class="text-right">381</td>
								<td class="text-right">24</td>
							</tr>
							<tr>
								<td>digg.com</td>
								<td class="text-right">54,746,975</td>
								<td class="text-right">286</td>
								<td class="text-center">67%</td>
								<td class="text-right">37,586</td>
								<td class="text-right">2,406</td>
								<td class="text-right">210</td>
								<td class="text-right">126</td>
								<td class="text-right">445</td>
								<td class="text-right">357</td>
								<td class="text-right">32</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>