<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">Forms and Plugins</a></li>
							<li class="breadcrumb-item active text-dg">Summernote Editor</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-laptop menu-icon" aria-hidden="true"></i> Summernote Editor</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Text Editors Content -->
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-12">
		<div class="card">
			<div class="card-header">
				<h5 class="d-inline-block my-xs">Wyswig Summernote Editor</h5>
				<a href="http://summernote.org/getting-started/" target="_blank" class="btn btn-outline-secondary btn-sm float-right">Get Summernote Editor Doc</a>
			</div>
			<div class="card-body">
				<div class="summernote-editor"></div>
			</div>
		</div>
	</div>
</div>