<div class="auth-page authPage">
	<div class="animated zoomIn auth_box">
		<div class="col-xl-6 col-lg-8 col-md-10 col-sm-10 col-10 offset-xl-3 offset-lg-2 offset-md-1 offset-sm-1 offset-1 auth_login_bg bg-theme p-0">
			<div class="row mx-0">
				<div class="col-lg-6 col-md-6 col-sm-12 col-12 px-0">
					<div class="auth_login bg-white">
						<h3 class="mt-0">Sign up</h3>
						<form #signupform="ngForm">
							<div class="form-group mt-lg">
								<input type="text" class="form-control pr-xlg" name="firstname" ngModel placeholder="First Name" autofocus/>
							</div>
							<div class="form-group mt-lg">
								<input type="text" class="form-control pr-xlg" name="lastname" ngModel placeholder="Last Name"/>
							</div>
							<div class="form-group mt-lg">
								<input type="text" class="form-control pr-xlg" name="email" ngModel placeholder="Email"/>
							</div>
							<div class="form-group mt-lg">
								<input type="password" class="form-control pr-xlg" name="password" ngModel placeholder="Password"/>
							</div>
							<div class="py-lg">
								<button class="btn btn-lg btn-primary btn-theme btn-block" (click)="signup(signupform)">Sign up</button>
							</div>
							<div class="auth_signupbutton text-center mt-xlg">
								<p>Have an account? <a routerLink="/pages/login" class="text-theme">&nbsp;Login now!</a></p>	
							</div>
						</form>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-12 px-0 d-none d-md-block">
					<div class="text-center">
						<img src="assets/images/logo.png" class="bg_img" alt="Ranpariya - The Development Lab (RTDL)">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>