<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">Charts</a></li>
							<li class="breadcrumb-item active text-dg">AM Charts</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-pie-chart menu-icon" aria-hidden="true"></i> AM Charts</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- AM Charts Content -->
<div class="row">
	<div class="col-12 px-0 py-sm">
		<div class="card">
			<div class="card-body text-center">
				<div class="py-lg">
					<h4 class="font-roboto-thin my-sm">AM Charts, A Programming libraries and tools for all your data visualization needs</h4>
					<a href="https://www.amcharts.com" target="_blank" class="btn btn-outline-theme">Get AM Charts Doc</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div id="pieChart" class="float-left height-200 col-12 p-0"></div>
		<h5 class="text-center"><b>3D Pie Chart</b></h5>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div id="donut-gradient-chart" class="float-left height-200 col-12 p-0"></div>
		<h5 class="text-center"><b>Donut with radial gradient</b></h5>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div id="angular-gauge-chart" class="float-left height-200 col-12 p-0"></div>
		<h5 class="text-center"><b>Gauge Chart</b></h5>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 my-sm">
		<div id="clock-chart" class="float-left height-200 col-12 p-0"></div>
		<h5 class="text-center"><b>Clock</b></h5>
	</div>
</div>
<div class="row">

	<!-- Cylinder Chart -->
	<div class="col-lg-6 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Cylinder Chart</h5>
			</div>
			<div class="card-body">
				<div class="row">
					<div id="cylinder-chart" class="height-200 col-12 p-0"></div>
				</div>
			</div>
		</div>
	</div>

	<!-- Stacked Column Chart -->
	<div class="col-lg-6 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Stacked Column Chart</h5>
			</div>
			<div class="card-body">
				<div class="row">
					<div id="stacked-column-chart" class="height-200 col-12 p-0"></div>
				</div>
			</div>
		</div>
	</div>

	<!-- Stacked bar chart with negative values -->
	<div class="col-lg-6 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Stacked bar chart with negative values</h5>
			</div>
			<div class="card-body">
				<div class="row">
					<div id="negative-chart" class="height-200 col-12 p-0"></div>
				</div>
			</div>
		</div>
	</div>

	<!-- Line With Changing Color -->
	<div class="col-lg-6 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Line With Changing Color</h5>
			</div>
			<div class="card-body">
				<div class="row">
					<div id="linecolor-chart" class="height-200 col-12 p-0"></div>
				</div>
			</div>
		</div>
	</div>

	<!-- Chart With Gaps In Data -->
	<div class="col-lg-6 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Chart With Gaps In Data</h5>
			</div>
			<div class="card-body">
				<div class="row">
					<div id="gaps-chart" class="height-200 col-12 p-0"></div>
				</div>
			</div>
		</div>
	</div>

	<!-- Logarithmic Scale -->
	<div class="col-lg-6 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Logarithmic Scale</h5>
			</div>
			<div class="card-body">
				<div class="row">
					<div id="logarithmic-chart" class="height-200 col-12 p-0 chart-dark-shadow"></div>
				</div>
			</div>
		</div>
	</div>

	<!-- 3D Donut Chart -->
	<div class="col-lg-6 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">3D Donut Chart</h5>
			</div>
			<div class="card-body">
				<div class="row">
					<div id="donut-chart" class="height-200 col-12 p-0"></div>
				</div>
			</div>
		</div>
	</div>

	<!-- 3D Funnel chart -->
	<div class="col-lg-6 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">3D Funnel Chart</h5>
			</div>
			<div class="card-body">
				<div class="row">
					<div id="funnel-chart" class="height-200 col-12 p-0"></div>
				</div>
			</div>
		</div>
	</div>

	<!-- Zoomable Bubble Chart -->
	<div class="col-lg-6 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Zoomable Bubble Chart</h5>
			</div>
			<div class="card-body">
				<div class="row">
					<div id="bubble-chart" class="height-200 col-12 p-0"></div>
				</div>
			</div>
		</div>
	</div>

	<!-- Step Line Chart -->
	<div class="col-lg-6 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Step Line Chart</h5>
			</div>
			<div class="card-body">
				<div class="row">
					<div id="step-line-chart" class="height-200 col-12 p-0 chart-dark-shadow"></div>
				</div>
			</div>
		</div>
	</div>
</div>