<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">Charts</a></li>
							<li class="breadcrumb-item active text-dg">ChartJS</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-pie-chart menu-icon" aria-hidden="true"></i> ChartJS</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Chartjs charts-->
<div class="row">
	<div class="col-12 px-0 my-sm">
		<div class="card">
			<div class="card-body text-center">
				<div class="py-lg">
					<h4 class="font-roboto-thin my-sm">Simple yet flexible JavaScript charting for designers & developers</h4>
					<a href="http://www.chartjs.org/docs/" target="_blank" class="btn btn-outline-theme">Get Chart JS Doc</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<!-- Line Chart -->
	<div class="col-lg-6 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Line Chart</h5>
			</div>
			<div class="card-body">
				<canvas id="lineChart" height="150"></canvas>
			</div>
		</div>
	</div>

	<!-- Bar Chart -->
	<div class="col-lg-6 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Bar Chart</h5>
			</div>
			<div class="card-body">
				<canvas id="bar" height="150"></canvas>
			</div>
		</div>
	</div>

	<!-- Pie Chart -->
	<div class="col-lg-6 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Pie Chart</h5>
			</div>
			<div class="card-body">
				<canvas id="pieChart" height="150"></canvas>
			</div>
		</div>
	</div>

	<!-- Doughnut Chart -->
	<div class="col-lg-6 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Doughnut Chart</h5>
			</div>
			<div class="card-body">
				<canvas id="doughnutChart" height="150"></canvas>
			</div>
		</div>
	</div>

	<!-- Bubble Chart -->
	<div class="col-lg-6 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Bubble Chart</h5>
			</div>
			<div class="card-body">
				<canvas id="bubble" height="150"></canvas>
			</div>
		</div>
	</div>

	<!-- Polar Area Chart -->
	<div class="col-lg-6 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Polar Area Chart</h5>
			</div>
			<div class="card-body">
				<canvas id="polarArea" height="150"></canvas>
			</div>
		</div>
	</div>

	<!-- Radar Chart -->
	<div class="col-lg-6 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Radar Chart</h5>
			</div>
			<div class="card-body">
				<canvas id="radarChart" height="150"></canvas>
			</div>
		</div>
	</div>

	<!-- Scales Chart -->
	<div class="col-lg-6 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Scales Chart</h5>
			</div>
			<div class="card-body">
				<canvas id="scalesChart" height="150"></canvas>
			</div>
		</div>
	</div>
</div>