<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">Charts</a></li>
							<li class="breadcrumb-item active text-dg">Google Charts</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-pie-chart menu-icon" aria-hidden="true"></i> Google Charts</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Google Charts Content -->
<div class="row">
	<div class="col-12 px-0 my-sm">
		<div class="card">
			<div class="card-body text-center">
				<div class="py-lg">
					<h4 class="font-roboto-thin my-sm">Google chart tools are powerful, simple to use, and free. Try out our rich gallery of interactive charts and data tools.</h4>
					<a href="https://developers.google.com/chart" target="_blank" class="btn btn-outline-theme">Get Google Charts Doc</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">

	<!-- Pai Chart -->
	<div class="col-lg-6 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Pie Chart</h5>
			</div>
			<div class="card-body">
				<div id="pieChart" class="height-200"></div>
			</div>
		</div>
	</div>

	<!-- Dount Chart -->
	<div class="col-lg-6 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Dount Chart</h5>
			</div>
			<div class="card-body">
				<div id="dountChart" class="height-200"></div>
			</div>
		</div>
	</div>

	<!-- Line Chart -->
	<div class="col-lg-6 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Line Chart</h5>
			</div>
			<div class="card-body">
				<div id="lineChart" class="height-200"></div>
			</div>
		</div>
	</div>

	<!-- Area Chart -->
	<div class="col-lg-6 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Area Chart</h5>
			</div>
			<div class="card-body">
				<div id="areaChart" class="height-200"></div>
			</div>
		</div>
	</div>

	<!-- Combo Chart -->
	<div class="col-lg-6 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Combo Chart</h5>
			</div>
			<div class="card-body">
				<div id="comboChart" class="height-200"></div>
			</div>
		</div>
	</div>

	<!-- Bubble Chart -->
	<div class="col-lg-6 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Bubble Chart</h5>
			</div>
			<div class="card-body">
				<div id="bubbleChart" class="height-200"></div>
			</div>
		</div>
	</div>

	<!-- Candlestick Chart -->
	<div class="col-lg-6 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Candlestick Chart</h5>
			</div>
			<div class="card-body">
				<div id="candlestickChart" class="height-200"></div>
			</div>
		</div>
	</div>

	<!-- Trendlines Chart -->
	<div class="col-lg-6 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Trendlines Chart</h5>
			</div>
			<div class="card-body">
				<div id="trendlinesChart" class="height-200"></div>
			</div>
		</div>
	</div>
</div>