<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">Plugins</a></li>
							<li class="breadcrumb-item active text-dg">Barcode Generator</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-plug menu-icon" aria-hidden="true"></i> Barcode Generator</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Barcode Generator Content-->
<div class="row">
	<div class="col-12 px-0 my-sm">
		<div class="card p-md">
			<div class="p-xlg text-center">
				<h3 class="font-os-thin text-dg my-sm">Generated Barcode</h3>
				<div class="d-inline-block">
					<div id="barcodeTarget" class="barcodeTarget">
					</div>
					<canvas id="canvasTarget" width="150" height="150" class="pt-xlg"></canvas>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-12 my-sm">
		<div class="card">
			<div class="card-body">
				<div id="generator">
					<h5 class="my-sm">Please fill in the code :</h5>
					<div class="row">
						<div class="col-lg-8  col-md-8 col-sm-8 col-5 pr-0">
							<div class="form-group">
								<input type="text" class="form-control" id="barcodeValue" value="12345670" placeholder="Please fill in the code :">
							</div>
						</div>
						<div class="col-lg-1 col-md-1  col-sm-4 col-1 pl-sm">
							<div id="submit" class="ml-xs">
								<input type="button" value="Generate Barcode" class="btn btn-outline-theme">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12">
							<div class="config">
								<div class="form-group">
									<label>Type</label>
									<div class="square mb-xs">
										<input type="radio" name="btype" id="ean8" value="ean8" checked>
										<label for="ean8" class="font-os-thin"> EAN 8</label>
									</div>
									<div class="square mb-xs">
										<input type="radio" name="btype" id="ean13" value="ean13">
										<label for="ean13" class="font-os-thin"> EAN 13</label>
									</div>
									<div class="square mb-xs">
										<input type="radio" name="btype" id="upc" value="upc">
										<label for="upc" class="font-os-thin"> UPC</label>
									</div>
									<div class="square mb-xs">
										<input type="radio" name="btype" id="std25" value="std25">
										<label for="std25" class="font-os-thin"> Standard 2 of 5 (industrial)</label>
									</div>
									<div class="square mb-xs">
										<input type="radio" name="btype" id="int25" value="int25">
										<label for="int25" class="font-os-thin"> Interleaved 2 of 5</label>
									</div>
									<div class="square mb-xs">
										<input type="radio" name="btype" id="code11" value="code11">
										<label for="code11" class="font-os-thin"> code 11</label>
									</div>
									<div class="square mb-xs">
										<input type="radio" name="btype" id="code39" value="code39">
										<label for="code39" class="font-os-thin"> code 39</label>
									</div>
									<div class="square mb-xs">
										<input type="radio" name="btype" id="code93" value="code93">
										<label for="code93" class="font-os-thin"> code 93</label>
									</div>
									<div class="square mb-xs">
										<input type="radio" name="btype" id="code128" value="code128">
										<label for="code128" class="font-os-thin"> code 128</label>
									</div>
									<div class="square mb-xs">
										<input type="radio" name="btype" id="codabar" value="codabar">
										<label for="codabar" class="font-os-thin"> Codabar</label>
									</div>
									<div class="square mb-xs">
										<input type="radio" name="btype" id="msi" value="msi">
										<label for="msi" class="font-os-thin"> MSI</label>
									</div>
									<div class="square mb-xs">
										<input type="radio" name="btype" id="datamatrix" value="datamatrix">
										<label for="datamatrix" class="font-os-thin"> Data Matrix</label>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
							<div class="config">
								<div class="form-group">
									<label>Format</label>
									<div class="square mb-xs">
										<input type="radio" name="renderer" id="css" value="css" checked>
										<label for="css" class="font-os-thin"> CSS</label>
									</div>
									<div class="square mb-xs">
										<input type="radio" name="renderer" id="bmp" value="bmp">
										<label for="bmp" class="font-os-thin"> BMP (not usable in IE)</label>
									</div>
									<div class="square mb-xs">
										<input type="radio" name="renderer" id="canvas" value="canvas">
										<label for="canvas" class="font-os-thin"> Canvas (not usable in IE)</label>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-5 col-lg-12 col-md-12 col-sm-12 col-12">
							<div class="config">
								<label>Misc</label>
								<div class="form-group">
									<div class="row">
										<div class="col-lg-5 col-md-6 col-sm-4 col-4">
											<span class="font-os-thin">Background-Color:</span>
										</div>
										<div class="col-lg-5 col-md-4 col-sm-7 col-7 p-0 mb-sm">
											<input id="bgColor" type="text" class="cp1 form-control" value="#FFFFFF" size="7">
										</div>
									</div>
									<div class="row">
										<div class="col-lg-5 col-md-6 col-sm-4 col-4">
											<span class="font-os-thin">"1" Bars :</span>
										</div>
										<div class="col-lg-5 col-md-4 col-sm-7 col-7 p-0 mb-sm">
											<input id="color" type="text" class="cp1 form-control" value="#000000" size="7">
										</div>
									</div>
									<div class="barcode1D">
										<div class="row">
											<div class="col-lg-5 col-md-6 col-sm-4 col-4">
												<span class="font-os-thin">bar width:</span>
											</div>
											<div class="col-lg-5 col-md-4 col-sm-7 col-7 p-0 mb-sm">
												<input type="text" class="form-control" id="barWidth" value="1" size="3">
											</div>
										</div>
										<div class="row">
											<div class="col-lg-5 col-md-6 col-sm-4 col-4">
												<span class="font-os-thin">bar height:</span>
											</div>
											<div class="col-lg-5 col-md-4 col-sm-7 col-7 p-0 mb-sm">
												<input type="text" class="form-control" id="barHeight" value="50" size="3">
											</div>
										</div>
									</div>
									<div class="barcode2D">
										<div class="row">
											<div class="col-lg-5 col-md-6 col-sm-4 col-4">
												<span class="font-os-thin">Module Size:</span>
											</div>
											<div class="col-lg-5 col-md-4 col-sm-7 col-7 p-0 mb-sm">
												<input type="text" id="moduleSize" class="form-control" value="5" size="3">
											</div>
										</div>
										<div class="row">
											<div class="col-lg-5 col-md-6 col-sm-4 col-4">
												<span class="font-os-thin">Quiet Zone Modules:</span>
											</div>
											<div class="col-lg-5 col-md-4 col-sm-7 col-7 p-0 mb-sm">
												<input type="text" id="quietZoneSize" class="form-control" value="1" size="3">
											</div>
										</div>
										<div class="row">
											<div class="col-lg-5 col-md-6 col-sm-4 col-4">
												<span class="font-os-thin">Barcode Layout:</span>
											</div>
											<div class="col-lg-5 col-md-4 col-sm-7 col-7 p-0 mb-sm">
												<div class="square">
													<input type="checkbox" id="rectangular" name="rectangular">
													<span>Rectangular</span>
												</div>
											</div>
										</div>
									</div>
									<div class="miscCanvas">
										<div class="row">
											<div class="col-lg-5 col-md-6 col-sm-8 col-8">
												<span class="font-os-thin">x :</span>
											</div>
											<div class="col-lg-5 col-md-4 col-sm-2 col-2 p-0 mb-sm">
												<input type="text" id="posX" class="form-control" value="10" size="3">
											</div>
										</div>
										<div class="row">
											<div class="col-lg-5 col-md-6 col-sm-8 col-8">
												<span class="font-os-thin">y :</span>
											</div>
											<div class="col-lg-5 col-md-4 col-sm-2 col-2 p-0 mb-sm">	
												<input type="text" id="posY" class="form-control" value="20" size="3">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
