<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">UI Elements</a></li>
							<li class="breadcrumb-item active text-dg">Modals</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-laptop menu-icon" aria-hidden="true"></i> Modals</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modals Content -->
<div class="row">
	<div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-12">
		<div class="row">
			<div class="col-12 mt-2 mb-sm">
				<div class="card">
					<div class="card-header">
						<h5 class="m-0">Modal with default options</h5>
					</div>
					<div class="card-body">
						<p>Toggle a modal by clicking the button below. It will slide down and fade in from the top of the page.</p>
						<ng-template #content1 let-c="close" let-d="dismiss">
							<div class="modal-header">
								<h4 class="modal-title">Demo Modal</h4>
								<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<h4>Text in a modal</h4>
								<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
								<h4>Tooltips in a modal</h4>
								<button type="button" class="btn btn-outline-secondary" placement="right" ngbTooltip="Tooltip on right">Tooltip </button>
								This button should have tooltips on hover.
								<h4>Popover in a modal</h4>
								<p>This should trigger a popover on click.
									<button type="button" class="btn btn-outline-secondary" placement="right" ngbPopover="And here's some amazing content" popoverTitle="Dismissible popover">popover </button>
								</p>
								<hr/>
								<h4>Show paragraph behavior</h4>
								<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
								Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>  
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-outline-secondary" (click)="c('Close click')">Close</button>
								<button type="button" class="btn btn-theme">Save changes</button>
							</div>
						</ng-template>

						<button class="btn btn-theme mb-xs" (click)="open(content1)">Launch demo modal</button>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 my-sm">
				<div class="card">
					<div class="card-header">
						<h5 class="m-0">Optional sizes</h5>
					</div>
					<div class="card-body">
						<p>Modals have two optional sizes, available via modifier classes.</p>

						<!-- Small Modal -->
						<ng-template #content2 let-c="close" let-d="dismiss">
							<div class="modal-header">
								<h4 class="modal-title">Where does it come from?</h4>
								<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
								<button type="button" class="btn btn-theme">Save changes</button>
							</div>
						</ng-template>
						<button class="btn btn-theme mb-xs" (click)="open(content2, 'sm')">Small Modal</button>

						<!-- Large Modal -->
						<ng-template #content3 let-c="close" let-d="dismiss">
							<div class="modal-header">
								<h4 class="modal-title">What is Lorem Ipsum?</h4>
								<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
								<button type="button" class="btn btn-theme">Save changes</button>
							</div>
						</ng-template>
						<button class="btn btn-theme mb-xs" (click)="open(content3, 'lg')">Large Modal</button>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 my-sm">
				<div class="card">
					<div class="card-header">
						<h5 class="m-0">Optional sizes with form Modal</h5>
					</div>
					<div class="card-body">
						<p>Modals have two optional sizes, available via modifier classes.</p>
						<!-- Small Form Modal -->
						<ng-template #content4 let-c="close" let-d="dismiss">
							<div class="modal-header">
								<h4 class="modal-title">What is Lorem Ipsum?</h4>
								<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form>
									<div class="form-group">
										<label for="recipient-name" class="form-control-label">Email:</label>
										<input type="text" class="form-control" id="recipient-name">
									</div>
									<div class="form-group">
										<label for="message-text" class="form-control-label">Message:</label>
										<textarea class="form-control" id="message-text"></textarea>
									</div>
								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
								<button type="button" class="btn btn-theme">Save changes</button>
							</div>
						</ng-template>
						<button class="btn btn-theme mb-xs" (click)="open(content4, 'sm')">Small Form Modal</button>

						<!-- Large Form Modal -->
						<ng-template #content5 let-c="close" let-d="dismiss">
							<div class="modal-header">
								<h4 class="modal-title">What is Lorem Ipsum?</h4>
								<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form>
									<div class="form-group">
										<label for="recipient-name1" class="form-control-label">Email:</label>
										<input type="text" class="form-control" id="recipient-name1">
									</div>
									<div class="form-group">
										<label for="message-text1" class="form-control-label">Message:</label>
										<textarea class="form-control" id="message-text1"></textarea>
									</div>
								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
								<button type="button" class="btn btn-theme">Save changes</button>
							</div>
						</ng-template>
						<button class="btn btn-theme mb-xs" (click)="open(content5, 'lg')">Large Form Modal</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-9 col-lg-8 col-md-12 col-sm-12 col-12">
		<div class="row">
			<div class="col-md-12">
				<prism-block [code]="modalSnippet" [language]="'html'"></prism-block>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Details</h5>
			</div>
			<div class="card-body">
				<h4><b>NgbModalOptions</b></h4>
				<p>Represent options available when opening new modal windows.</p>
				<h5>Properties</h5>
				<div class="table-responsive">
					<table class="table table-bordered table-striped text-mg">
						<tr>
							<th>Name</th>
							<th>type</th>
							<th>description</th>
						</tr>
						<tr>
							<td><b>backdrop</b></td>
							<td>boolean | "static"</td>
							<td>Whether a backdrop element should be created for a given modal (true by default). Alternatively, specify 'static' for a backdrop which doesn't close the modal on click.</td>
						</tr>
						<tr>
							<td><b>beforeDismiss</b></td>
							<td>boolean</td>
							<td>Function called when a modal will be dismissed. If this function returns false, the modal is not dismissed.</td>
						</tr>
						<tr>
							<td><b>container</b></td>
							<td>string</td>
							<td>An element to which to attach newly opened modal windows.</td>
						</tr>
						<tr>
							<td><b>injector</b></td>
							<td>Injector</td>
							<td>Injector to use for modal content.</td>
						</tr>
						<tr>
							<td><b>keyboard</b></td>
							<td>boolean</td>
							<td>Whether to close the modal when escape key is pressed (true by default).</td>
						</tr>
						<tr>
							<td><b>size</b></td>
							<td>"sm" | "lg"</td>
							<td>Size of a new modal window.</td>
						</tr>
						<tr>
							<td><b>windowClass</b></td>
							<td>string</td>
							<td>Custom class to append to the modal window</td>
						</tr>
					</table>
				</div>
				<h4><b>NgbModalRef</b></h4>
				<p>A reference to a newly opened modal.</p>
				<h5>Properties</h5>
				<div class="table-responsive">
					<table class="table table-bordered table-striped text-mg">
						<tr>
							<th>Name</th>
							<th>type</th>
							<th>description</th>
						</tr>
						<tr>
							<td><b>componentInstance</b></td>
							<td>any</td>
							<td>The instance of component used as modal's content. Undefined when a TemplateRef is used as modal's content.</td>
						</tr>
						<tr>
							<td><b>result</b></td>
							<td>Promise &lt;any&gt;</td>
							<td>A promise that is resolved when a modal is closed and rejected when a modal is dismissed.</td>
						</tr>
					</table>
				</div>
				<h5>Methods</h5>
				<div class="table-responsive">
					<table class="table table-bordered table-striped text-mg">
						<tr>
							<th>Name</th>
							<th>description</th>
						</tr>
						<tr>
							<td><b>close</b></td>
							<td>
								<code class="pl-0">close(result: any) => void</code>
								<p>Can be used to close a modal, passing an optional result.</p>
							</td>
						</tr>
						<tr>
							<td><b>dismiss</b></td>
							<td>
								<code class="pl-0">dismiss(reason: any) => void</code>
								<p>Can be used to dismiss a modal, passing an optional reason.</p>
							</td>
						</tr>
					</table>
				</div>
				<h4><b>NgbActiveModal</b></h4>
				<p>A reference to an active (currently opened) modal. Instances of this class can be injected into components passed as modal content.</p>
				<h5>Methods</h5>
				<div class="table-responsive">
					<table class="table table-bordered table-striped text-mg">
						<tr>
							<th>Name</th>
							<th>description</th>
						</tr>
						<tr>
							<td><b>close</b></td>
							<td>
								<code class="pl-0">close(result: any) => void</code>
								<p>Can be used to close a modal, passing an optional result.</p>
							</td>
						</tr>
						<tr>
							<td><b>dismiss</b></td>
							<td>
								<code class="pl-0">dismiss(reason: any) => void</code>
								<p>Can be used to dismiss a modal, passing an optional reason.</p>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>