<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">Plugins</a></li>
							<li class="breadcrumb-item active text-dg">Clipboard</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-plug menu-icon" aria-hidden="true"></i> Clipboard</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Clipboard Content-->
<div class="row">
	<div class="col-12 px-0 my-sm">
		<div class="card">
			<div class="card-body text-center">
				<div class="py-lg">
					<h4 class="font-roboto-thin my-sm">Modern copy to Clipboard</h4>
					<a href="https://github.com/zenorocha/clipboard.js" target="_blank" class="btn btn-outline-theme">Get Clipboard Doc</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-6 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Copy / Cut to Clipboard</h5>
			</div>
			<div class="card-body" id="cut_copy_tooltip">
				<div class="row m-0">
					<div class="col-lg-9 col-md-9">
						<div class="form-group">
							<textarea id="foo" class="form-control">Contrary to popular belief, Lorem Ipsum is not simply random text.</textarea>
						</div>
					</div>
					<div class="col-lg-3 col-md-3">
						<i class="fa fa-files-o btn btn-outline-theme" data-clipboard-action="copy" data-clipboard-target="#foo" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Clip to Copy"></i>
					</div>
				</div>
				<br>
				<div class="row m-0">
					<div class="col-lg-9 col-md-9">
						<div class="form-group">
							<textarea id="bar" class="form-control">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</textarea>
						</div>
					</div>
					<div class="col-lg-3 col-md-3">
						<i class="fa fa-scissors btn btn-outline-theme" data-clipboard-action="cut" data-clipboard-target="#bar" id="btn1" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Clip to Cut"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-6 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Paste Area</h5>
			</div>
			<div class="card-body">
				<div class="form-group">
					<textarea class="form-control" placeholder="Paste your content...."></textarea>
				</div>
			</div>
		</div>
	</div>
</div>