<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">Plugins</a></li>
							<li class="breadcrumb-item active text-dg">Toastr Alert</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-plug menu-icon" aria-hidden="true"></i> Toastr Alert</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Toastr Content-->
<div class="row">
	<div class="col-12 px-0 my-sm">
		<div class="card">
			<div class="card-body text-center">
				<div class="py-lg">
					<h4 class="font-roboto-thin my-sm">Simple javascript toast notifications</h4>
					<a href="https://github.com/CodeSeven/toastr" target="_blank" class="btn btn-outline-theme">Get Toastr Alert Doc</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row" id="alert">
	<div class="col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Alert Box </h5>
			</div>
			<div class="card-body">
				<div class="row mx-0">
					<div class="col-lg-5">
						<div class="form-group">
							<label for="title">Title</label>
							<input type="text" class="form-control" id="title" placeholder="Enter a title...">
						</div>
						<div class="form-group">
							<label for="message">Message</label>
							<textarea class="form-control" id="message" rows="7" placeholder="Enter a message..."></textarea>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="form-group">
							<label for="showEasing">Show Easing</label>
							<input id="showEasing" class="form-control" type="text" value="swing" placeholder="swing, linear">
						</div>
						<div class="form-group">
							<label for="hideEasing">Hide Easing</label>
							<input id="hideEasing" class="form-control" type="text" value="linear" placeholder="swing, linear">
						</div>
						<div class="form-group">
							<label for="showMethod">Show Method</label>
							<input id="showMethod" class="form-control" type="text" value="fadeIn" placeholder="show, fadeIn, slideDown">
						</div>
						<div class="form-group">
							<label for="hideMethod">Hide Method</label>
							<input id="hideMethod" class="form-control" type="text" value="fadeOut" placeholder="hide, fadeOut, slideUp">
						</div>
					</div>
					<div class="col-lg-4">
						<div class="form-group">
							<label for="showDuration">Show Duration</label>
							<input id="showDuration" class="form-control" type="text" value="400" placeholder="mili second">
						</div>
						<div class="form-group">
							<label for="hideDuration">Hide Duration</label>
							<input id="hideDuration" class="form-control" type="text" value="1000" placeholder="mili second">
						</div>
						<div class="form-group">
							<label for="timeOut">Time out</label>
							<input id="timeOut" class="form-control" type="text" value="7000" placeholder="mili second">
						</div>
						<div class="form-group">
							<label for="extendedTimeOut">Extended time out</label>
							<input id="extendedTimeOut" class="form-control" type="text" value="1000" placeholder="mili second">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="row mx-0">
							<div class="col-xl-4 col-lg-6">
								<label>Toastr</label>
								<div class="square mb-xs">
									<input type="checkbox" id="debugInfo">
									<label for="debugInfo"> Debug</label>
								</div>
								<div class="square mb-xs">
									<input type="checkbox" id="progressBar">
									<label for="progressBar"> Progress Bar</label>
								</div>
								<div class="square mb-xs">
									<input type="checkbox" id="addClear">
									<label for="addClear"> Add button to force clearing a toast, ignoring focus</label>
								</div>
								<div class="square mb-xs">
									<input type="checkbox" id="closeButton">
									<label for="closeButton"> Close Button</label>
								</div>
								<div class="square mb-xs">
									<input type="checkbox" id="preventDuplicates">
									<label for="preventDuplicates"> Prevent Duplicates</label>
								</div>
							</div>
							<div class="col-xl-3 col-lg-6">
								<div class="form-group" id="positionGroup">
									<label>Position</label>
									<div class="square mb-xs">
										<input type="radio" name="positions" id="toast-top-right" value="toast-top-right" checked>
										<label for="toast-top-right"> Top Right</label>
									</div>
									<div class="square mb-xs">
										<input type="radio" name="positions" id="toast-bottom-right" value="toast-bottom-right">
										<label for="toast-bottom-right"> Bottom Right</label>
									</div>
									<div class="square mb-xs">
										<input type="radio" name="positions" id="toast-bottom-left" value="toast-bottom-left">
										<label for="toast-bottom-left"> Bottom Left</label>
									</div>
									<div class="square mb-xs">
										<input type="radio" name="positions" id="toast-top-left" value="toast-top-left">
										<label for="toast-top-left"> Top Left</label>
									</div>
									<div class="square mb-xs">
										<input type="radio" name="positions" id="toast-top-full-width" value="toast-top-full-width">
										<label for="toast-top-full-width"> Top Full Width</label>
									</div>
									<div class="square mb-xs">
										<input type="radio" name="positions" id="toast-bottom-full-width" value="toast-bottom-full-width">
										<label for="toast-bottom-full-width"> Bottom Full Width</label>
									</div>
									<div class="square mb-xs">
										<input type="radio" name="positions" id="toast-top-center" value="toast-top-center">
										<label for="toast-top-center"> Top Center</label>
									</div>
									<div class="square mb-xs">
										<input type="radio" name="positions" id="toast-bottom-center" value="toast-bottom-center">
										<label for="toast-bottom-center"> Bottom Center</label>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-lg-6">
								<div class="form-group" id="toastTypeGroup">
									<label>Toast Type</label>
									<div class="square mb-xs">
										<input type="radio" name="toasts" id="success" value="success" checked>
										<label for="success"> Success</label>
									</div>
									<div class="square mb-xs">
										<input type="radio" name="toasts" id="info" value="info">
										<label for="info"> Info</label>
									</div>
									<div class="square mb-xs">
										<input type="radio" name="toasts" id="warning" value="warning">
										<label for="warning"> Warning</label>
									</div>
									<div class="square mb-xs">
										<input type="radio" name="toasts" id="error" value="error">
										<label for="error"> Error</label>
									</div>
								</div>
							</div>
							<div class="col-xl-2 col-lg-6">
								<button id="showtoast" class="btn btn-primary mb-xs" type="button">Show Toast</button>
								<button id="cleartoasts" class="btn btn-danger mb-xs" type="button">Clear Toasts</button>
								<button id="clearlasttoast" class="btn btn-danger mb-xs" type="button">Clear Last Toast</button>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<pre id="toastrOptions" class="language-javascript height-200"></pre>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>