/************************************************************
 ** Horizontal-menu.less
 ** 
 ** LESS for Horizontal Menu Layout.
 ** Developer: Ranpariya - The Development Lab - India
 ************************************************************/

/************************
 * Horizontal Menu layout
 ************************/
.horizontal-menu {
  .dropdown {
    padding: 0;
    &.show {
      background-color: @theme-black-color;
      a {
        color: @white-color;
      }
    }
    &:hover {
      background-color: @theme-black-color;
      a {
        color: @white-color;
      }
    }
    a {
      padding: 15px;
      font-size: 16px;
    }
    .dropdown-menu {
      padding: 0;
      a {
        color: @white-color;
        padding: 10px;
        font-size: 14px;
        &:hover, &:focus {
          background-color: @theme-black-color;
        }
      }
      margin-top: 0;
      background-color: @medium-black;
      border: none;
      border-radius: 0;
    }
  }
  .horizontal-menu-search {
    margin-right: 10px;
    margin-top: -25px;
    color: @dark-gray;
  }
}

@media (min-width: 768px) and (max-width: 1199.99px) {
  .horizontal-menu {
    .dropdown {
      .nav-link {
        i {
          font-size: 20px;
        }
      }
    }
  }
}