/******************************************************
 ** print.less
 ** 
 ** LESS for Print Button.
 ** Developer: Ranpariya - The Development Lab - India
 ******************************************************/

/*************************************
 * Remove Breadcrumb, Sidebar, Footer
 *************************************/
@media print
{
  .breadcrumb-page-title,
  .theme-setting-icon,
  .theme-setting-menu,
  .scrollToTop,
  .right-sidebar,
  .settings-menu,
  .sidebar,
  .header,
  .footer,
  .btn {
    display: none !important;
  }
  .main-wrapper {
    margin-left: 0;
  }
}