<!-- Footer -->
<div class="row m-0">
	<div class="col-12">
		<div class="footer">
			<div class="float-left p-sm my-xs">
				&copy; Copyright
			</div>
			<div class="float-right p-sm"><img src="assets/images/logo-heading.png" alt="Ranpariya - The Development Lab (RTDL)"></div>
		</div>
	</div>
</div>