<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">User Management</a></li>
							<li class="breadcrumb-item active text-dg">User Edit</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-users menu-icon" aria-hidden="true"></i> User Edit</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- User Edit Content -->
<div class="row">
	<div class="col-xl-6 col-lg-8 col-md-12 col-sm-12 col-12 offset-xl-3 offset-lg-2 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Add / Edit User</h5>
			</div>
			<div class="card-body">
				<div class="row m-0">
					<div class="col-lg-6 col-md-6 col-sm-5">
						<form>
							<div class="form-group">
								<label class="control-label mb-xs" for="first-name">First Name:</label>
								<input type="text" id="first-name" class="form-control" placeholder="First Name">
							</div>
							<div class="form-group">
								<label class="control-label mb-xs" for="last-name">Last Name:</label>
								<input type="text" id="last-name" class="form-control" placeholder="Last Name">
							</div>
							<div class="form-group square">
								<label class="control-label mb-xs" for="first-name">Gender:</label>
								&nbsp;&nbsp;&nbsp;
								<input type="radio" name="gender" id="male">
								<label for="male">Male</label>
								&nbsp;&nbsp;&nbsp;
								<input type="radio" name="gender" id="female">
								<label for="female">Female</label>
							</div>
						</form>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-7">
						<div class="form-group mt-md">
							<div class="fileinput fileinput-new" data-provides="fileinput">
								<div class="fileinput-preview card height-150 mb-xs" data-trigger="fileinput"></div>
								<div>
									<span class="btn btn-outline-secondary btn-file">
										<span class="fileinput-new">Select image</span>
										<span class="fileinput-exists mb-md">Change</span>
										<input type="file" name="...">
									</span>
									<a href="javascript:;" class="btn btn-outline-secondary fileinput-exists" data-dismiss="fileinput">Remove</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row m-0">
					<div class="col-12">
						<form>
							<div class="form-group">
								<label class="control-label mb-xs" for="dob">Date of Birth:</label>
								<div class="input-group">
									<input class="form-control" placeholder="Date of Birth"
									name="dp" id="dob" ngbDatepicker #dob="ngbDatepicker" aria-describedby="dob-basic-addon">
									<span class="input-group-addon" id="dob-basic-addon" (click)="dob.toggle()">
										<i class="fa fa-calendar" aria-hidden="true"></i>
									</span>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label mb-xs" for="email">E-Mail:</label>
								<input type="text" id="email" class="form-control" placeholder="E-Mail">
							</div>
							<div class="form-group">
								<label class="control-label mb-xs" for="phone-no">Phone No:</label>
								<input type="text" id="phone-no" class="form-control" placeholder="Phone No" data-mask="(999)999-9999">
							</div>
							<div class="form-group">
								<label class="control-label mb-xs" for="password">Password:</label>
								<input type="password" id="password" class="form-control" placeholder="Password">
							</div>
							<div class="form-group">
								<label class="control-label mb-xs" for="designation">Designation:</label>
								<input type="text" id="designation" class="form-control" placeholder="Designation">
							</div>
							<div class="form-group">
								<label class="control-label mb-xs" for="other">Other Detail:</label>
								<textarea id="other" class="form-control" placeholder="Other Detail"></textarea>
							</div>
						</form>
					</div>
				</div>
				<div class="float-right">
					<button class="btn btn-outline-secondary mr-xs"> Cancel</button>
					<button class="btn btn-theme mr-md"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
				</div>
			</div>
		</div>
	</div>
</div>