<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">UI Elements</a></li>
							<li class="breadcrumb-item active text-dg">Social Buttons</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-laptop menu-icon" aria-hidden="true"></i> Social Buttons</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Social Buttons Content -->
<div class="row">
	<div class="col-lg-6 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Social Buttons</h5>
			</div>
			<div class="card-body">
				<a class="btn btn-block btn-social btn-android">
					<i class="fa fa-android"></i> Get Android Document
				</a>
				<a class="btn btn-block btn-social btn-500px">
					<i class="fa fa-500px"></i> Sign in with 500px
				</a>
				<a class="btn btn-block btn-social btn-amazon">
					<i class="fa fa-amazon"></i> Sign in with Amazon
				</a>
				<a class="btn btn-block btn-social btn-apple">
					<i class="fa fa-apple"></i> Sign in with Apple
				</a>
				<a class="btn btn-block btn-social btn-chrome">
					<i class="fa fa-chrome"></i> Sign in with chrome
				</a>
				<a class="btn btn-block btn-social btn-css3">
					<i class="fa fa-css3"></i> Get Css3 Document
				</a>
				<a class="btn btn-block btn-social btn-empire">
					<i class="fa fa-empire"></i> Sign in with empire
				</a>
				<a class="btn btn-block btn-social btn-firefox">
					<i class="fa fa-firefox"></i> Sign in with firefox
				</a>
				<a class="btn btn-block btn-social btn-git">
					<i class="fa fa-git"></i> View Git
				</a>
				<a class="btn btn-block btn-social btn-html5">
					<i class="fa fa-html5"></i> Ger html5 Document
				</a>
				<a class="btn btn-block btn-social btn-joomla">
					<i class="fa fa-joomla"></i> Sign in with joomla
				</a>
				<a class="btn btn-block btn-social btn-linux">
					<i class="fa fa-linux"></i> Insatll linux
				</a>
				<a class="btn btn-block btn-social btn-opera">
					<i class="fa fa-opera"></i> Install opera
				</a>
				<a class="btn btn-block btn-social btn-internet-explorer">
					<i class="fa fa-internet-explorer"></i> Sign in with internet-explorer
				</a>
				<a class="btn btn-block btn-social btn-safari">
					<i class="fa fa-safari"></i> Sign in with safari
				</a>
				<a class="btn btn-block btn-social btn-skype">
					<i class="fa fa-skype"></i> Install skype
				</a>
				<a class="btn btn-block btn-social btn-wechat">
					<i class="fa fa-wechat"></i> Sign in with wechat
				</a>
				<a class="btn btn-block btn-social btn-youtube">
					<i class="fa fa-youtube"></i> Sign in with youtube
				</a>
				<a class="btn btn-block btn-social btn-bitbucket">
					<i class="fa fa-bitbucket"></i> Sign in with Bitbucket
				</a>
				<a class="btn btn-block btn-social btn-adn">
					<i class="fa fa-adn"></i> Sign in with App.net
				</a>
				<a class="btn btn-block btn-social btn-foursquare">
					<i class="fa fa-foursquare"></i> Sign in with Foursquare
				</a>
				<a class="btn btn-block btn-social btn-windows">
					<i class="fa fa-windows"></i> Sign in with Windows
				</a>
				<a class="btn btn-block btn-social btn-dropbox">
					<i class="fa fa-dropbox"></i> Sign in with Dropbox
				</a>
				<a class="btn btn-block btn-social btn-facebook">
					<i class="fa fa-facebook"></i> Sign in with Facebook
				</a>
				<a class="btn btn-block btn-social btn-flickr">
					<i class="fa fa-flickr"></i> Sign in with Flickr
				</a>
				<a class="btn btn-block btn-social btn-github">
					<i class="fa fa-github"></i> Sign in with GitHub
				</a>
				<a class="btn btn-block btn-social btn-google-plus">
					<i class="fa fa-google-plus"></i> Sign in with Google
				</a>
				<a class="btn btn-block btn-social btn-instagram">
					<i class="fa fa-instagram"></i> Sign in with Instagram
				</a>
				<a class="btn btn-block btn-social btn-linkedin">
					<i class="fa fa-linkedin"></i> Sign in with LinkedIn
				</a>
				<a class="btn btn-block btn-social btn-pinterest">
					<i class="fa fa-pinterest"></i> Sign in with Pinterest
				</a>
				<a class="btn btn-block btn-social btn-tumblr">
					<i class="fa fa-tumblr"></i> Sign in with Tumblr
				</a>
				<a class="btn btn-block btn-social btn-twitter">
					<i class="fa fa-twitter"></i> Sign in with Twitter
				</a>
				<a class="btn btn-block btn-social btn-yahoo">
					<i class="fa fa-yahoo"></i> Sign in with Yahoo
				</a>
				<a class="btn btn-block btn-social btn-vk">
					<i class="fa fa-vk"></i> Sign in with VK
				</a>
				<a class="btn btn-block btn-social btn-vimeo">
					<i class="fa fa-vimeo"></i> Sign in with Vimeo
				</a>
				<a class="btn btn-block btn-social btn-soundcloud">
					<i class="fa fa-soundcloud"></i> Sign in with Soundcloud
				</a>
				<a class="btn btn-block btn-social btn-cc-paypal">
					<i class="fa fa-cc-paypal"></i> Payment with PayPal
				</a>
			</div>
		</div>
	</div>
	<div class="col-lg-6 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Available Classes</h5>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-xl-6 col-lg-12 col-md-6 col-sm-12 col-12">
						<div class="social-class">
							<table>
								<tr>
									<td><code><a data-code="android" data-name="Android">btn-android</a></code></td>
									<td><span class="social-hex">#a4c639</span></td>
								</tr>
								<tr>
									<td><code><a data-code="500px" data-name="500px">btn-500px</a></code></td>
									<td><span class="social-hex">#0099e5</span></td>
								</tr>
								<tr>
									<td><code><a data-code="amazon" data-name="Amazon">btn-amazon</a></code></td>
									<td><span class="social-hex">#ff9900</span></td>
								</tr>
								<tr>
									<td><code><a data-code="apple" data-name="Apple">btn-apple</a></code></td>
									<td><span class="social-hex">#979797</span></td>
								</tr>
								<tr>
									<td><code><a data-code="chrome" data-name="chrome">btn-chrome</a></code></td>
									<td><span class="social-hex">#4587F3</span></td>
								</tr>
								<tr>
									<td><code><a data-code="css3" data-name="css3">btn-css3</a></code></td>
									<td><span class="social-hex">#1680C0</span></td>
								</tr>
								<tr>
									<td><code><a data-code="empire" data-name="empire">btn-empire</a></code></td>
									<td><span class="social-hex">#000</span></td>
								</tr>
								<tr>
									<td><code><a data-code="firefox" data-name="firefox">btn-firefox</a></code></td>
									<td><span class="social-hex">#e66000</span></td>
								</tr>
								<tr>
									<td><code><a data-code="git" data-name="git">btn-git</a></code></td>
									<td><span class="social-hex">#333</span></td>
								</tr>
								<tr>
									<td><code><a data-code="html5" data-name="html5">btn-html5</a></code></td>
									<td><span class="social-hex">#e34f26</span></td>
								</tr>
								<tr>
									<td><code><a data-code="joomla" data-name="joomla">btn-joomla</a></code></td>
									<td><span class="social-hex">#142849</span></td>
								</tr>
								<tr>
									<td><code><a data-code="linux" data-name="linux">btn-linux</a></code></td>
									<td><span class="social-hex">#333333</span></td>
								</tr>
								<tr>
									<td><code><a data-code="opera" data-name="opera">btn-opera</a></code></td>
									<td><span class="social-hex">#cc0f16</span></td>
								</tr>
								<tr>
									<td><code><a data-code="internet-explorer" data-name="internet-explorer">btn-internet-explorer</a></code></td>
									<td><span class="social-hex">#71706D</span></td>
								</tr>
								<tr>
									<td><code><a data-code="safari" data-name="safari">btn-safari</a></code></td>
									<td><span class="social-hex">#1B88CA</span></td>
								</tr>
								<tr>
									<td><code><a data-code="skype" data-name="skype">btn-skype</a></code></td>
									<td><span class="social-hex">#00aff0</span></td>
								</tr>
								<tr>
									<td><code><a data-code="wechat" data-name="wechat">btn-wechat</a></code></td>
									<td><span class="social-hex">#93d034</span></td>
								</tr>
								<tr>
									<td><code><a data-code="youtube" data-name="youtube">btn-youtube</a></code></td>
									<td><span class="social-hex">#e52d27</span></td>
								</tr>
								<tr>
									<td><code><a data-code="bitbucket" data-name="Bitbucket">btn-bitbucket</a></code></td>
									<td><span class="social-hex">#205081</span></td>
								</tr>
								<tr>
									<td><code><a data-code="adn" data-name="Appnet">btn-appnet</a></code></td>
									<td><span class="social-hex">#ce563f</span></td>
								</tr>
								<tr>
									<td><code><a data-code="foursquare" data-name="Forsquare">btn-foursquare</a></code></td>
									<td><span class="social-hex">#f71752</span></td>
								</tr>
								<tr>
									<td><code><a data-code="windows" data-name="Microsoft">btn-window</a></code></td>
									<td><span class="social-hex">#125acd</span></td>
								</tr>
								<tr>
									<td><code><a data-code="dropbox" data-name="Dropbox">btn-dropbox</a></code></td>
									<td><span class="social-hex">#1087DD</span></td>
								</tr>
								<tr>
									<td><code><a data-code="facebook" data-name="Facebook">btn-facebook</a></code></td>
									<td><span class="social-hex">#3B5998</span></td>
								</tr>
								<tr>
									<td><code><a data-code="flickr" data-name="Flickr">btn-flickr</a></code></td>
									<td><span class="social-hex">#2BA9E1</span></td>
								</tr>
								<tr>
									<td><code><a data-code="github" data-name="GitHub">btn-github</a></code></td>
									<td><span class="social-hex">#444444</span></td>
								</tr>
								<tr>
									<td><code><a data-code="google-plus" data-name="Google">btn-google-plus</a></code></td>
									<td><span class="social-hex">#517FA4</span></td>
								</tr>
								<tr>
									<td><code><a data-code="instagram" data-name="Instagram">btn-instagram</a></code></td>
									<td><span class="social-hex">#DD4B39</span></td>
								</tr>
								<tr>
									<td><code><a data-code="linkedin" data-name="LinkedIn">btn-linkedin</a></code></td>
									<td> <span class="social-hex">#007BB6</span></td>
								</tr>
								<tr>
									<td><code><a data-code="pinterest" data-name="Pinterest">btn-pinterest</a></code></td>
									<td><span class="social-hex">#4875B4</span></td>
								</tr>
								<tr>
									<td><code><a data-code="tumblr" data-name="Tumblr">btn-tumblr</a></code></td>
									<td><span class="social-hex">#CB2027</span></td>
								</tr>
								<tr>
									<td><code><a data-code="twitter" data-name="Twitter">btn-twitter</a></code></td>
									<td><span class="social-hex">#2C4762</span></td>
								</tr>
								<tr>
									<td><code><a data-code="yahoo" data-name="Yahoo">btn-yahoo</a></code></td>
									<td><span class="social-hex">#500a6f</span></td>
								</tr>
								<tr>
									<td><code><a data-code="vk" data-name="VK">btn-vk</a></code></td>
									<td><span class="social-hex">#587EA3</span></td>
								</tr>
								<tr>
									<td><code><a data-code="vimeo" data-name="Vimeo">btn-vimeo</a></code></td>
									<td><span class="social-hex">#1295bf</span></td>
								</tr>
								<tr>
									<td><code><a data-code="soundcloud" data-name="Soundcloud">btn-soundcloud</a></code></td>
									<td><span class="social-hex">#c40</span></td>
								</tr>
								<tr>
									<td><code><a data-code="cc-paypal" data-name="cc-paypal">btn-cc-paypal</a></code></td>
									<td><span class="social-hex">#2048BF</span></td>
								</tr>
							</table>
						</div>
					</div>
					<div class="col-xl-6 col-lg-12 col-md-6 col-sm-12 col-12">
						<div class="social-sizes">
							<h3>Different Sizes</h3>
							<a class="btn btn-block btn-social btn-lg btn-google-plus">
								<i class="fa fa-google-plus"></i>
								Sign in with Google
							</a>
							<a class="btn btn-block btn-social btn-google-plus">
								<i class="fa fa-google-plus"></i>
								Sign in with Google
							</a>
							<a class="btn btn-block btn-social btn-sm btn-google-plus">
								<i class="fa fa-google-plus"></i>
								Sign in with Google
							</a>
							<a class="btn btn-block btn-social btn-sm btn-google-plus">
								<i class="fa fa-google-plus"></i>
								Sign in with Google
							</a>
							<hr>
							<div class="text-center">
								<a class="btn btn-social-icon btn-lg btn-google-plus"><i class="fa fa-google-plus"></i></a>
								<a class="btn btn-social-icon btn-google-plus"><i class="fa fa-google-plus"></i></a>
								<a class="btn btn-social-icon btn-sm btn-google-plus"><i class="fa fa-google-plus"></i></a>
								<a class="btn btn-social-icon btn-sm btn-google-plus"><i class="fa fa-google-plus"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>