<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">Plugins</a></li>
							<li class="breadcrumb-item active text-dg">Liquid Meter</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-plug menu-icon" aria-hidden="true"></i> Liquid Meter</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Liquid Meter Content-->
<div class="row">
	<div class="col-12 p-0 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Liquid Meter for Wave Colors</h5>
			</div>
		</div>
	</div>	
</div>
<div class="row">
	<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 my-sm">
		<div class="card">
			<div class="card-body">
				<div class="text-center">
					<svg id="fillgauge-primary" height="130" width="130"></svg>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 my-sm">
		<div class="card">
			<div class="card-body">
				<div class="text-center">
					<svg id="fillgauge-theme" height="130" width="130"></svg>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 my-sm">
		<div class="card">
			<div class="card-body">
				<div class="text-center">
					<svg id="fillgauge-success" height="130" width="130"></svg>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 my-sm">
		<div class="card">
			<div class="card-body">
				<div class="text-center">
					<svg id="fillgauge-danger" height="130" width="130"></svg>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 my-sm">
		<div class="card">
			<div class="card-body">
				<div class="text-center">
					<svg id="fillgauge-info" height="130" width="130"></svg>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 my-sm">
		<div class="card">
			<div class="card-body">
				<div class="text-center">
					<svg id="fillgauge-warning" height="130" width="130"></svg>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-12 p-0 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Liquid Meter for Wave Speeds</h5>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 my-sm">
		<div class="card">
			<div class="card-body">
				<div class="text-center">
					<svg id="fillgauge-wave-2000" height="130" width="130"></svg>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 my-sm">
		<div class="card">
			<div class="card-body">
				<div class="text-center">
					<svg id="fillgauge-wave-1000" height="130" width="130"></svg>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 my-sm">
		<div class="card">
			<div class="card-body">
				<div class="text-center">
					<svg id="fillgauge-wave-500" height="130" width="130"></svg>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 my-sm">
		<div class="card">
			<div class="card-body">
				<div class="text-center">
					<svg id="fillgauge-wave-250" height="130" width="130"></svg>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-12 p-0 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Liquid Meter for Sizes</h5>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xl-6 col-lg-5 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-body">
				<div class="text-center">
					<svg id="fillgauge-demo5" width="230" height="230"></svg>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-body">
				<div class="text-center">
					<svg id="fillgauge-demo3" width="150" height="150"></svg>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-sm my-sm">
		<div class="card">
			<div class="card-body">
				<div class="text-center">
					<svg id="fillgauge-demo2" width="100" height="100"></svg>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-body">
				<div class="text-center">
					<svg id="fillgauge-demo6" width="270" height="270"></svg>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-body">
				<div class="text-center">
					<svg id="fillgauge-demo4" width="200" height="200"></svg>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-body">
				<div class="text-center">
					<svg id="fillgauge-demo1" width="50" height="50"></svg>
				</div>
			</div>
		</div>
	</div>
</div>