<div class="row horizontal-menu">
	<nav class="navbar navbar-expand-md navbar-light bg-white w-100 p-0">
		<div class="p-sm d-md-none w-100 border-b">
			<a class="navbar-brand" href="#">Menu</a>
			<button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#horizontal-menu" aria-controls="horizontal-menu" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse" id="horizontal-menu">
			<ul class="navbar-nav w-100">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="javascript:;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fa fa-dashboard" aria-hidden="true"></i><span class="pl-sm d-md-none d-xl-inline-block">Dashboards</span>
					</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" routerLink="/">Main Dashboard</a>
						<a class="dropdown-item" routerLink="/dashboard/data-analytics-dashboard">Data Analytics Dashboard</a>
						<a class="dropdown-item" routerLink="/dashboard/marketing-dashboard">Marketing Dashboard</a>
						<a class="dropdown-item" routerLink="/dashboard/social-dashboard">Social Dashboard</a>
						<a class="dropdown-item" routerLink="/dashboard/project-dashboard">Project Dashboard</a>
						<a class="dropdown-item" routerLink="/dashboard/sales-dashboard">Sales Dashboard</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="javascript:;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fa fa-flask" aria-hidden="true"></i><span class="pl-sm d-md-none d-xl-inline-block">Widgets</span>
					</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" routerLink="/widgets/social-widgets">Social Widgets</a>
						<a class="dropdown-item" routerLink="/widgets/other-widgets">Other Widgets</a>
						<a class="dropdown-item" routerLink="/widgets/weather-widgets">Weather Widgets</a>
						<a class="dropdown-item" routerLink="/widgets/material-cards">Material Cards</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="javascript:;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fa fa-pie-chart" aria-hidden="true"></i><span class="pl-sm d-md-none d-xl-inline-block">Charts</span>
					</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" routerLink="/charts/am-charts">AM Charts</a>
						<a class="dropdown-item" routerLink="/charts/chartjs-charts">Chart JS Charts</a>
						<a class="dropdown-item" routerLink="/charts/google-charts">Google Charts</a>
						<a class="dropdown-item" routerLink="/charts/morris-charts">Morris Charts</a>
						<a class="dropdown-item" routerLink="/charts/flot-charts">Flot Charts</a>
						<a class="dropdown-item" routerLink="/charts/rickshaw-charts">Rickshaw Charts</a>
						<a class="dropdown-item" routerLink="/charts/e-charts">E-Charts</a>
						<a class="dropdown-item" routerLink="/charts/chartist-charts">Chartist Charts</a>
						<a class="dropdown-item" routerLink="/charts/peity-and-sparkline-chart">Peity & Sparkline Charts</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="javascript:;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fa fa-clone" aria-hidden="true"></i><span class="pl-sm d-md-none d-xl-inline-block">Layouts</span>
					</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" routerLink="/layouts/empty-page">Empty Page</a>
						<a class="dropdown-item" routerLink="/layouts/full-width-layout">Full Width Layout</a>
						<a class="dropdown-item" routerLink="/layouts/fixed-width-layout">Fixed Width Layout</a>
						<a class="dropdown-item" routerLink="/layouts/hoizontal-layout">Horizontal Layout</a>
						<a class="dropdown-item" routerLink="/layouts/tab-page">Tab Layout Page</a>
						<a class="dropdown-item" routerLink="/layouts/sidebar-v2">Sidebar v2</a>
						<a class="dropdown-item" routerLink="/layouts/navbar-v2">Navbar v2</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link" routerLink="/calendar">
						<i class="fa fa-calendar" aria-hidden="true"></i><span class="pl-sm d-md-none d-xl-inline-block">Calendar</span>
					</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="javascript:;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fa fa-envelope-o" aria-hidden="true"></i><span class="pl-sm d-md-none d-xl-inline-block">MailBox</span>
					</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" routerLink="/mailbox/inbox">Inbox <small>(Compose Integrated)</small></a>
						<a class="dropdown-item" routerLink="/mailbox/readmail">Read Mail</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link" routerLink="/profile">
						<i class="fa fa-user" aria-hidden="true"></i><span class="pl-sm d-md-none d-xl-inline-block">Profile</span>
					</a>
				</li>
				<li class="nav-item p-sm ml-auto">
					<div class="nav-menu-list">
						<input type="text" class="form-control border-r-xlg" placeholder="Click here">
						<span class="fa fa-search horizontal-menu-search float-right"></span>
					</div>
				</li>
			</ul>
		</div>
	</nav>
</div>

<div class="row social-widgets">
	<div class="col-12 my-md">
		<div class="card border-0">
			<div class="card-header border-0 p-0 bg-lg">
				<h3 class="my-xs font-os-thin d-none d-sm-inline-block"><i class="fa fa-dashboard menu-icon" aria-hidden="true"></i> Dashboard</h3>
				<ul class="list-inline list-unstyled float-right m-0">
					<li class="list-inline-item px-sm align-middle">
						<div data-count=".num" data-from="0" data-prefix="$ " data-to="47625" data-suffix=" " data-duration="2">
							<h5 class="num font-os-bold m-0">0</h5>
							<small>Selling</small>
						</div>
					</li>
					<li class="list-inline-item px-sm align-middle d-none d-lg-inline-block">
						<span class="barChart1 d-none">7,3,2,7,9,6,4,5,7,5</span>
					</li>
					<li class="list-inline-item px-sm align-middle">
						<div data-count=".num" data-from="0" data-to="70" data-prefix=" " data-suffix=" %" data-duration="2">
							<h5 class="num font-os-bold m-0">0</h5>
							<small>Site Traffic</small>
						</div>
					</li>
					<li class="list-inline-item px-sm align-middle d-none d-lg-inline-block">
						<span class="barChart2 d-none">7,3,2,7,9,6,4,5,7,5</span>
					</li>
					<li class="list-inline-item px-sm align-middle">
						<div data-count=".num" data-from="0" data-prefix="$ " data-to="36043" data-suffix=" " data-duration="2">
							<h5 class="num font-os-bold m-0">0</h5>
							<small>Orders</small>
						</div>
					</li>
					<li class="list-inline-item px-sm align-middle d-none d-lg-inline-block">
						<span class="barChart3 d-none">7,3,2,7,9,6,4,5,7,5</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="row social-widgets">
	<div class="col-12 my-sm">
		<div class="card">
			<div class="card-header py-0 pr-0">
				<ul class="nav nav-tabs card-header-tabs mr-0 float-right" id="myTab" role="tablist">
					<li class="nav-item">
						<a class="nav-link active border-bottom-0 rounded-0 pb-xs" data-toggle="tab" href="#live" role="tab" aria-controls="live" aria-selected="true"><i class="fa fa-bar-chart" aria-hidden="true"></i> Live</a>
					</li>
					<li class="nav-item">
						<a class="nav-link border-bottom-0 rounded-0 pb-xs" data-toggle="tab" href="#sales" role="tab" aria-controls="sales" aria-selected="false"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Sales</a>
					</li>
					<li class="nav-item">
						<a class="nav-link border-bottom-0 rounded-0 pb-xs" data-toggle="tab" href="#revenue" role="tab" aria-controls="revenue" aria-selected="false"><i class="fa fa-usd" aria-hidden="true"></i> Revenue</a>
					</li>
				</ul>
				<h5 class="float-left mt-sm">Live Feeds</h5>
			</div>
			<div class="card-body p-0">
				<div class="tab-content" id="myTabContent">
					<div class="tab-pane active" id="live" role="tabpanel">
						<div class="row mx-0">
							<div class="col-xl-9">
								<div id="combineChart" style="height:220px;"></div>
							</div>
							<div class="col-xl-3">
								<div class="row">
									<div class="col-xl-12 col-lg-6 col-md-6 col-sm-6">
										<div class="my-sm progress-rounded">
											<ngb-progressbar type="primary" [value]="90" height="5px"></ngb-progressbar>
										</div>
										<div>
											<p class="d-inline-block">Today's Selling</p>
											<p class="float-right">90%</p>
										</div>
									</div>
									<div class="col-xl-12 col-lg-6 col-md-6 col-sm-6">
										<div class="my-sm progress-rounded">
											<ngb-progressbar type="info" [value]="65" height="5px"></ngb-progressbar>
										</div>
										<div>
											<p class="d-inline-block">Weekly Selling</p>
											<p class="float-right">65%</p>
										</div>
									</div>
									<div class="col-xl-12 col-lg-6 col-md-6 col-sm-6">
										<div class="my-sm progress-rounded">
											<ngb-progressbar type="warning" [value]="70" height="5px"></ngb-progressbar>
										</div>
										<div>
											<p class="d-inline-block">Monthly Selling</p>
											<p class="float-right">70%</p>
										</div>
									</div>
									<div class="col-xl-12 col-lg-6 col-md-6 col-sm-6">
										<div class="my-sm progress-rounded">
											<ngb-progressbar type="theme" [value]="82" height="5px"></ngb-progressbar>
										</div>
										<div>
											<p class="d-inline-block">Total Selling</p>
											<p class="float-right">82%</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row mx-0 border-t">
							<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 pt-xs border-b border-r">
								<input type="text" value="90" class="knob-simple" data-displayInput=true data-readOnly=true data-fgColor="#007bff" data-width="50" data-height="50" data-thickness=.2>
								<div class="float-right" data-count=".num" data-from="0" data-prefix="$ " data-to="47625" data-suffix=" " data-duration="2">
									<div class="todaySelling float-left chart-dark-shadow mr-md pt-sm"></div>
									<div class="float-right">
										<h5 class="num font-os-bold my-sm">0</h5>
										<small>Today's Selling</small>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 pt-xs border-b border-r">
								<input type="text" value="65" class="knob-simple" data-displayInput=true data-readOnly=true data-fgColor="#17a2b8" data-width="50" data-height="50" data-thickness=.2>
								<div class="float-right" data-count=".num" data-from="0" data-prefix="$ " data-to="30156" data-suffix=" " data-duration="2">
									<div class="weeklySelling float-left chart-dark-shadow mr-md pt-sm"></div>
									<div class="float-right">
										<h5 class="num font-os-bold my-sm">0</h5>
										<small>Weekly Selling</small>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 pt-xs border-b border-r">
								<input type="text" value="70" class="knob-simple" data-displayInput=true data-readOnly=true data-fgColor="#ffc107" data-width="50" data-height="50" data-thickness=.2>
								<div class="float-right" data-count=".num" data-from="0" data-prefix="$ " data-to="34870" data-suffix=" " data-duration="2">
									<div class="yearlySelling float-left chart-dark-shadow mr-md pt-sm"></div>
									<div class="float-right">
										<h5 class="num font-os-bold my-sm">0</h5>
										<small>Yearly Selling</small>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 pt-xs border-b border-r">
								<input type="text" value="82" class="knob-simple" data-displayInput=true data-readOnly=true data-fgColor="#ED174C" data-width="50" data-height="50" data-thickness=.2>
								<div class="float-right" data-count=".num" data-from="0" data-prefix="$ " data-to="402030" data-suffix=" " data-duration="2">
									<div class="totalSelling float-left chart-dark-shadow mr-md pt-sm"></div>
									<div class="float-right">
										<h5 class="num font-os-bold my-sm">0</h5>
										<small>Total Selling</small>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane" id="sales" role="tabpanel">
						<div class="row">
							<div class="col-lg-9 col-md-12 col-sm-12 col-12">
								<div id="salesChart" class="col-12 height-200"></div>
								<h5 class="text-center">This Month Sales Report</h5>
							</div>
							<div class="col-lg-3 col-md-12 col-sm-12 col-12">
								<div class="row mx-0">
									<div class="col-xl-12 col-lg-12 col-md-6 col-sm-6 col-12 p-sm text-center">
										<div class="weeklySales chart-dark-shadow"></div>
										<p class="my-sm">Weekly Selling</p>
									</div>
									<div class="col-lg-12 col-md-6 col-sm-6 col-12 p-sm">
										<div data-count=".num" data-prefix=" " data-from="0" data-to="3706" data-suffix=" " data-duration="2">
											<div class="float-right">
												<input type="text" value="78" class="knob-simple" data-displayInput=true data-readOnly=true data-fgColor="#ED174C" data-width="50" data-height="50" data-thickness=.2>
											</div>
											<h4 class="num font-os-bold my-sm">0</h4>
											<span>Today's Target</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane" id="revenue" role="tabpanel">
						<h5 class="p-sm m-0">Two Year Revenue Reports</h5>
						<div class="revenue"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row social-widgets">
	<div class="col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="d-inline-block m-0">Visitors & Events</h5>
				<div class="float-right">
					<a href="javascript:;" class="text-dg p-xs"><i class="fa fa-cog"></i></a>
					<a href="#visitorsReport" class="text-dg p-xs" data-toggle="collapse" aria-expanded="true" aria-controls="visitorsReport"><i class="fa fa-angle-down"></i></a>
					<a href="javascript:;" class="text-dg p-xs remove-card"><i class="fa fa-trash-o"></i></a>
				</div>
			</div>
			<div class="card-body collapse show" id="visitorsReport">
				<div class="row">
					<div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12">
						<div class="visitorsChart chartist-gradient-chart"></div>
						<h5 class="text-center">Visitors Report</h5>
					</div>
					<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 text-center">
						<div class="row">
							<div class="col-12 text-center my-sm">
								<span class="visitorsSparkline chart-dark-shadow"></span>
							</div>
						</div>
						<div class="row">
							<div class="col-4 text-center mt-5">
								<input type="text" value="78" class="knob-simple" data-displayInput=true data-readOnly=true data-fgColor="#ED174C" data-width="45" data-height="45" data-thickness=.2>
								<h6>Active Visitors</h6>
							</div>
							<div class="col-4 text-center mt-5">
								<input type="text" value="90" class="knob-simple" data-displayInput=true data-readOnly=true data-fgColor="#00a65a" data-width="45" data-height="45" data-thickness=.2>
								<h6>Total Visitors</h6>
							</div>
							<div class="col-4 text-center mt-5">
								<div data-count=".num" data-from="0" data-prefix=" " data-to="14769" data-suffix=" " data-duration="2">
									<h4 class="num font-os-bold my-sm">0</h4>
									<h6>Visitors</h6>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
						<h5 class="mb-sm">Upcoming Events</h5>
						<div class="table-responsive">
							<table class="table m-0">
								<tr>
									<td class="pl-0">Generate Theme Idea</td>
									<td class="pr-0">
										<small>
											<i class="fa fa-clock-o float-right"> 02:40 pm</i>
										</small>
									</td>
								</tr>
								<tr>
									<td class="pl-0">Generate Theme Descreption <label class="badge badge-success m-0">New</label></td>
									<td class="pr-0">
										<small>
											<i class="fa fa-clock-o float-right"> 11:05 pm</i>
										</small>
									</td>
								</tr>
								<tr>
									<td class="pl-0">Create Conference Plan</td>
									<td class="pr-0">
										<small>
											<i class="fa fa-clock-o float-right"> 08:10 pm</i>
										</small>
									</td>
								</tr>
								<tr>
									<td class="pl-0">Produce agenda <label class="badge badge-warning m-0">Waiting</label></td>
									<td class="pr-0">
										<small>
											<i class="fa fa-clock-o float-right"> 03:28 pm</i>
										</small>
									</td>
								</tr>
								<tr>
									<td class="pl-0">Check Conference Plan Report</td>
									<td class="pr-0">
										<small>
											<i class="fa fa-clock-o float-right"> 04:40 pm</i>
										</small>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12 d-block d-lg-none d-xl-block my-sm">
		<div class="card">
			<div class="ribbon ribbon-theme"><span class="font-12 text-center">New</span></div>
			<div class="card-header">
				<h5 class="d-inline-block m-0">Blog Comments</h5>
				<div class="float-right">
					<a href="javascript:;" class="text-dg p-xs"><i class="fa fa-cog"></i></a>
					<a href="#Blog" class="text-dg p-xs" data-toggle="collapse" aria-expanded="true" aria-controls="Blog"><i class="fa fa-angle-down"></i></a>
					<a href="javascript:;" class="text-dg p-xs remove-card"><i class="fa fa-trash-o"></i></a>
				</div>
			</div>
			<div class="card-body collapse show" id="Blog">
				<p>Lorem Ipsum is simply dummy text.Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...</p>
				<div class="media my-sm">
					<img class="avatar avatar-md rounded-circle" src="assets/images/portrait/avatar2.png" alt="RTDL Image">
					<div class="media-body pl-sm">
						<h5 class="mt-0">Addison</h5>
						<p class="m-0">There are many variations of passages of Lorem Ipsum.</p>
						<small>Yesterday 1:21 pm</small>
					</div>
				</div>
				<div class="media my-sm">
					<div class="media-body pl-sm">
						<h5 class="mt-0">Addison</h5>
						<p class="m-0">It is a long established fact.</p>
						<small>Today 5:60 pm</small>
					</div>
					<img class="avatar avatar-md rounded-circle float-right" src="assets/images/portrait/avatar1.png" alt="RTDL Image">
				</div>
				<div class="media my-sm">
					<div class="media-body pl-sm">
						<h5 class="mt-0">Addison</h5>
						<p class="m-0">I must explain to you how all this mistaken.</p>
						<small>Yesterday 5:00 pm</small>
					</div>
					<img class="avatar avatar-md rounded-circle float-right" src="assets/images/portrait/avatar3.png" alt="RTDL Image">
				</div>
				<div class="media my-sm">
					<img class="avatar avatar-md rounded-circle" src="assets/images/portrait/avatar4.png" alt="RTDL Image">
					<div class="media-body pl-sm">
						<h5 class="mt-0">John Smith</h5>
						<p class="m-0">The wise man always holds in these matters.</p>
						<small>Today 10:30 pm</small>
					</div>
				</div>
				<div class="media my-sm">
					<img class="avatar avatar-md rounded-circle" src="assets/images/portrait/avatar5.png" alt="RTDL Image">
					<div class="media-body pl-sm">
						<h5 class="mt-0">Smith John</h5>
						<p class="m-0">It is a long established fact.</p>
						<small>Today 5:30 pm</small>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="d-inline-block m-0">Your daily Feed <label class="badge badge-theme m-0">5 Messages</label></h5>
				<div class="float-right">
					<a href="javascript:;" class="text-dg p-xs"><i class="fa fa-cog"></i></a>
					<a href="#daily-Feed" class="text-dg p-xs" data-toggle="collapse" aria-expanded="true" aria-controls="daily-Feed"><i class="fa fa-angle-down"></i></a>
					<a href="javascript:;" class="text-dg p-xs remove-card"><i class="fa fa-trash-o"></i></a>
				</div>
			</div>
			<div class="card-body collapse show" id="daily-Feed">
				<div class="media">
					<img class="avatar avatar-md rounded-circle" src="assets/images/portrait/avatar6.png" alt="RTDL Image">
					<div class="media-body pl-sm">
						<p class="m-0"><strong>John Smith</strong> shared an image.</p>
						<small>Today 6:00 pm &nbsp;&nbsp;
							<span class="bar">2,5,3,6,2,1</span>
						</small>
					</div>
				</div>
				<div class="media my-sm">
					<img class="avatar avatar-md rounded-circle" src="assets/images/portrait/avatar1.png" alt="RTDL Image">
					<div class="media-body pl-sm">
						<p class="m-0"><strong>Addison</strong> relocated from <strong>London</strong> to <strong>Los Angeles</strong></p>
						<small>Today 5:50 pm</small>
					</div>
				</div>
				<div class="media my-sm">
					<img class="avatar avatar-md rounded-circle" src="assets/images/portrait/avatar3.png" alt="RTDL Image">
					<div class="media-body pl-sm">
						<p class="m-0"><strong>John Smith</strong> invited you for his business meeting.</p>
						<small>Today 5:45 pm</small>&nbsp;&nbsp;
					</div>
				</div>
				<div class="media my-sm">
					<img class="avatar avatar-md rounded-circle" src="assets/images/portrait/avatar6.png" alt="RTDL Image">
					<div class="media-body pl-sm">
						<p class="m-0"><strong>Addison</strong> thanks to many motivating.</p>
						<small>Today 10:00 am &nbsp;&nbsp;<span class="pie">3/5</span></small>
						<button class="btn btn-outline-secondary btn-sm float-right"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&nbsp;Like</button>
					</div>
				</div>
				<div class="media my-sm">
					<img class="avatar avatar-md rounded-circle" src="assets/images/portrait/avatar4.png" alt="RTDL Image">
					<div class="media-body pl-sm">
						<p class="m-0"><strong>Jhon Smith</strong> said : <strong>I am out from the office.</strong></p>
						<small>Today 10:30 am &nbsp;&nbsp;<span class="donut">5,3</span></small>
						<button class="btn btn-outline-secondary btn-sm float-right mb-xs"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&nbsp;Like</button>
					</div>
				</div>
				<div class="media my-sm">
					<img class="avatar avatar-md rounded-circle" src="assets/images/portrait/avatar1.png" alt="RTDL Image">
					<div class="media-body pl-sm">
						<p class="m-0"><strong>Smith John</strong> posted a new blog.</p>
						<small>Today 4:35 pm</small>
					</div>
				</div>
				<div class="media my-sm">
					<img class="avatar avatar-md rounded-circle" src="assets/images/portrait/avatar5.png" alt="RTDL Image">
					<div class="media-body pl-sm">
						<p class="m-0"><strong>Addison</strong> shared a video.</p>
						<small>Today 11:45 am</small>
						<button class="btn btn-outline-secondary btn-sm float-right"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&nbsp;Like</button>
					</div>
				</div>
				<div class="media my-sm">
					<img class="avatar avatar-md rounded-circle" src="assets/images/portrait/avatar3.png" alt="RTDL Image">
					<div class="media-body pl-sm">
						<p class="m-0"><strong>Jhon Smith</strong> save a images.</p>
						<small>Today 11:50 am</small>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="d-inline-block m-0">Todo list</h5>
				<div class="float-right">
					<a href="javascript:;" class="text-dg p-xs"><i class="fa fa-cog"></i></a>
					<a href="#todo" class="text-dg p-xs" data-toggle="collapse" aria-expanded="true" aria-controls="todo"><i class="fa fa-angle-down"></i></a>
					<a href="javascript:;" class="text-dg p-xs remove-card"><i class="fa fa-trash-o"></i></a>
				</div>
			</div>
			<div class="card-body collapse show todo-lists p-0" id="todo">
				<ul id="square" class="list-unstyled p-0 m-0">
					<li>
						<input type="checkbox" id="square-checkbox-1">&nbsp;&nbsp;
						<label for="square-checkbox-1">Create tasks lists</label>
					</li>
					<li>
						<input type="checkbox" id="square-checkbox-2">&nbsp;&nbsp;
						<label for="square-checkbox-2">Go to shop and find some products.</label>
					</li>
					<li>
						<input type="checkbox" id="square-checkbox-3">&nbsp;&nbsp;
						<label for="square-checkbox-3">Send documents to jake</label>&nbsp;&nbsp;
						<small class="badge badge-primary"><i class="fa fa-clock-o"></i> 1 mins</small>
					</li>
					<li>
						<input type="checkbox" id="square-checkbox-4">&nbsp;&nbsp;
						<label for="square-checkbox-4">Go to the doctor dr Tom</label>
					</li>
					<li>
						<input type="checkbox" id="square-checkbox-5">&nbsp;&nbsp;
						<label for="square-checkbox-5">Plan vacation</label>
					</li>
					<li>
						<input type="checkbox" id="square-checkbox-6">&nbsp;&nbsp;
						<label for="square-checkbox-6">Create new stuff</label>
					</li>
					<li>
						<input type="checkbox" id="square-checkbox-7">&nbsp;&nbsp;
						<label for="square-checkbox-7">Call to Dark for dinner</label>&nbsp;&nbsp;
						<small class="badge badge-success"><i class="fa fa-clock-o"></i> 30 mins</small>
					</li>
					<li>
						<input type="checkbox" id="square-checkbox-8">&nbsp;&nbsp;
						<label for="square-checkbox-8">Go to home</label>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="d-inline-block m-0">Visitors List</h5>
				<div class="float-right">
					<a href="javascript:;" class="text-dg p-xs"><i class="fa fa-cog"></i></a>
					<a href="#visitorsList" class="text-dg p-xs" data-toggle="collapse" aria-expanded="true" aria-controls="visitorsList"><i class="fa fa-angle-down"></i></a>
					<a href="javascript:;" class="text-dg p-xs remove-card"><i class="fa fa-trash-o"></i></a>
				</div>
			</div>
			<div class="card-body collapse show" id="visitorsList">
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>#</th>
								<th>First Name</th>
								<th>Last Name</th>
								<th>Job Title</th>
								<th>Last Visited</th>
								<th>IP Address</th>
								<th>Browser</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>Dennise</td>
								<td>Fuhrman</td>
								<td>High School History Teacher</td>
								<td>November 8th 2016</td>
								<td>127.0.0.1</td>
								<td>
									<i class="fa fa-chrome" aria-hidden="true"></i>
									Google Chrome
								</td>
							</tr>
							<tr>
								<td>2</td>
								<td>Elodia</td>
								<td>Weisz</td>
								<td>Wallpaperer Helper</td>
								<td>October 15th 2017</td>
								<td>127.0.0.1</td>
								<td>
									<i class="fa fa-safari" aria-hidden="true"></i>
									Safari
								</td>
							</tr>
							<tr>
								<td>3</td>
								<td>Raeann</td>
								<td>Haner</td>
								<td>Internal Medicine Nurse Practitioner</td>
								<td>November 28th 2016</td>
								<td>127.0.0.1</td>
								<td>
									<i class="fa fa-firefox" aria-hidden="true"></i>
									Firefox
								</td>
							</tr>
							<tr>
								<td>4</td>
								<td>Junie</td>
								<td>Landa</td>
								<td>Offbearer</td>
								<td>October 31st 2016</td>
								<td>127.0.0.1</td>
								<td>
									<i class="fa fa-internet-explorer" aria-hidden="true"></i>
									Internet Explorer
								</td>
							</tr>
							<tr>
								<td>5</td>
								<td>Solomon</td>
								<td>Bittinger</td>
								<td>Roller Skater</td>
								<td>December 29th 2016</td>
								<td>127.0.0.1</td>
								<td>
									<i class="fa fa-opera" aria-hidden="true"></i>
									Opera
								</td>
							</tr>
							<tr>
								<td>6</td>
								<td>Bar</td>
								<td>Lewis</td>
								<td>Clown</td>
								<td>November 12th 2016</td>
								<td>127.0.0.1</td>
								<td>
									<i class="fa fa-chrome" aria-hidden="true"></i>
									Google Chrome
								</td>
							</tr>
							<tr>
								<td>7</td>
								<td>Usha</td>
								<td>Leak</td>
								<td>Ships Electronic Warfare Officer</td>
								<td>August 14th 2017</td>
								<td>127.0.0.1</td>
								<td>
									<i class="fa fa-edge" aria-hidden="true"></i>
									Edge
								</td>
							</tr>
							<tr>
								<td>8</td>
								<td>Lorriane</td>
								<td>Cooke</td>
								<td>Technical Services Librarian</td>
								<td>September 21st 2017</td>
								<td>127.0.0.1</td>
								<td>
									<i class="fa fa-firefox" aria-hidden="true"></i>
									Firefox
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>