<div class="error-cn">
	<div class="mt-md fadeIn animated" style="visibility: visible;-webkit-animation-duration: 2s; -moz-animation-duration: 2s; animation-duration: 2s;">

		<!--Content-->
		<div class="container">
			<a class="brand-name" routerLink="/">
				<img src="assets/images/logo-heading.png" alt="Ranpariya - The Development Lab (RTDL)" class="fadeInDown animated logo">
			</a>

			<div class="content-page">
				<h2>404</h2>
				<h1>NOT FOUND</h1>
				<p class="font-16">Sorry, but the page that you requested doesn't exist.</p>
				<a routerLink="/" class="btn-white" title="">Report an error</a>
			</div>

			<!--Social footer-->
			<div class="footer-content">
				<a href="javascript:;">
					<i class="fa fa-facebook tada animated"></i>
				</a>
				<a href="javascript:;">
					<i class="fa fa-twitter tada animated"></i>
				</a>
				<a href="javascript:;">
					<i class="fa fa-skype tada animated"></i>
				</a>
				<a href="javascript:;">
					<i class="fa fa-pinterest tada animated"></i>
				</a>
				<a href="javascript:;">
					<i class="fa fa-dropbox tada animated"></i>
				</a>
				<a href="javascript:;">
					<i class="fa fa-soundcloud tada animated"></i>
				</a>
				<a href="javascript:;">
					<i class="fa fa-instagram tada animated"></i>
				</a>
				<a href="javascript:;">
					<i class="fa fa-google-plus tada animated"></i>
				</a>
			</div>
		</div>
	</div>
</div>