<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item active text-dg">File Manager</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-file menu-icon" aria-hidden="true"></i> File Manager</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- File Manager Content-->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card file-manager">
			<div class="card-header">
				<h5 class="m-0"><span><i class="fa fa-file"></i>&nbsp;&nbsp;File Manager</span></h5>
			</div>
			<div class="card-body p-0">
				<div class="row m-0 border-b p-sm">
					<div class="col-12 col-sm-6 col-md-3 col-xl-2 p-0">
						<button type="button" class="toggle-file-menu btn btn-default m-xs"><i class="fa fa-navicon"></i></button>
						<button type="button" class="new-file-btn width-100 btn btn-primary m-xs">New</button>
					</div>
					<div class="col-12 col-sm-6 col-md-9 col-xl-10">
						<div class="float-right file-action">
							<div class="d-inline-block mr-md">
								<a href="javascript:;" title="" data-toggle="modal" data-target="#removeFileModal"><i class="fa fa-trash-o fa-2x"></i></a>
								<a href="javascript:;" title=""><i class="fa fa-info-circle fa-2x"></i></a>
								<a href="javascript:;" title="" id="file-option"><i class="fa fa-ellipsis-v fa-2x"></i></a>
								<a href="javascript:;" title=""><i class="fa fa-cog fa-2x"></i></a>
							</div>
						</div>
					</div>
				</div>
				<div class="row m-0">
					<div class="file-block">
						<div class="file-menu p-0">
							<div id="file-treeview"></div>
						</div>
						<div class="file-breadcrumb">
							<ol class="breadcrumb rounded-0">
								<li class="breadcrumb-item"><a href="javascript:;">Root</a></li>
								<li class="breadcrumb-item active">File Manager</li>
							</ol>
						</div>
						<div class="file-view col-12 p-0">
							<div class="pl-md"><h4>Folders</h4></div>
							<div class="folder">
								<div class="file">
									<span class="file-type"><i class="fa fa-folder fa-2x"></i></span>
									<span class="selected-file pr-sm float-left"><i class="fa fa-check-circle-o"></i></span>
									<span>Music</span>
								</div>
								<div class="file">
									<span class="file-type"><i class="fa fa-folder fa-2x"></i></span>
									<span class="selected-file pr-sm float-left"><i class="fa fa-check-circle-o"></i></span>
									<span>Video</span>
								</div>
								<div class="file">
									<span class="file-type"><i class="fa fa-folder fa-2x"></i></span>
									<span class="selected-file pr-sm float-left"><i class="fa fa-check-circle-o"></i></span>
									<span>Image</span>
								</div>
								<div class="file">
									<span class="file-type"><i class="fa fa-folder fa-2x"></i></span>
									<span class="selected-file pr-sm float-left"><i class="fa fa-check-circle-o"></i></span>
									<span>Text</span>
								</div>
								<div class="file">
									<span class="file-type"><i class="fa fa-folder fa-2x"></i></span>
									<span class="selected-file pr-sm float-left"><i class="fa fa-check-circle-o"></i></span>
									<span>Untitled folder</span>
								</div>
								<div class="file">
									<span class="file-type"><i class="fa fa-folder fa-2x"></i></span>
									<span class="selected-file pr-sm float-left"><i class="fa fa-check-circle-o"></i></span>
									<span>Untitled folder</span>
								</div>
							</div>
							<div class="pl-md"><h4>Files</h4></div>
							<div class="doc">
								<div class="file">
									<div class="file-img">
										<span class="file-iocn"><i class="fa fa-image"></i></span>
									</div>
									<div class="file-name">
										<span><i class="fa fa-image"></i>&nbsp;&nbsp;&nbsp;<b>Image File Name</b></span>
									</div>
								</div>
								<div class="file">
									<div class="file-img">
										<span class="file-iocn"><i class="fa fa-file-pdf-o"></i></span>
									</div>
									<div class="file-name">
										<span><i class="fa fa-file-pdf-o"></i>&nbsp;&nbsp;&nbsp;<b>Pdf File Name</b></span>
									</div>
								</div>
								<div class="file">
									<div class="file-img">
										<span class="file-iocn"><i class="fa fa-file"></i></span>
									</div>
									<div class="file-name">
										<span><i class="fa fa-file"></i>&nbsp;&nbsp;&nbsp;<b>Doc File Name</b></span>
									</div>
								</div>
								<div class="file">
									<div class="file-img">
										<span class="file-iocn"><i class="fa fa-file-video-o"></i></span>
									</div>
									<div class="file-name">
										<span><i class="fa fa-file-video-o"></i>&nbsp;&nbsp;&nbsp;<b>Video File Name</b></span>
									</div>
								</div>
								<div class="file">
									<div class="file-img">
										<span class="file-iocn"><i class="fa fa-music"></i></span>
									</div>
									<div class="file-name">
										<span><i class="fa fa-music"></i>&nbsp;&nbsp;&nbsp;<b>Mp3 File Name</b></span>
									</div>
								</div>
								<div class="file">
									<div class="file-img">
										<span class="file-iocn"><i class="fa fa-file-word-o"></i></span>
									</div>
									<div class="file-name">
										<span><i class="fa fa-file-word-o"></i>&nbsp;&nbsp;&nbsp;<b>Word doc File Name</b></span>
									</div>
								</div>
								<div class="file">
									<div class="file-img">
										<span class="file-iocn"><i class="fa fa-file-video-o"></i></span>
									</div>
									<div class="file-name">
										<span><i class="fa fa-file-video-o"></i>&nbsp;&nbsp;&nbsp;<b>Video File Name</b></span>
									</div>
								</div>
								<div class="file">
									<div class="file-img">
										<span class="file-iocn"><i class="fa fa-music"></i></span>
									</div>
									<div class="file-name">
										<span><i class="fa fa-music"></i>&nbsp;&nbsp;&nbsp;<b>Mp3 File Name</b></span>
									</div>
								</div>
								<div class="file">
									<div class="file-img">
										<span class="file-iocn"><i class="fa fa-image"></i></span>
									</div>
									<div class="file-name">
										<span><i class="fa fa-image"></i>&nbsp;&nbsp;&nbsp;<b>Image File Name</b></span>
									</div>
								</div>
								<div class="file">
									<div class="file-img">
										<span class="file-iocn"><i class="fa fa-file-word-o"></i></span>
									</div>
									<div class="file-name">
										<span><i class="fa fa-file-word-o"></i>&nbsp;&nbsp;&nbsp;<b>Word doc File Name</b></span>
									</div>
								</div>
								<div class="file">
									<div class="file-img">
										<span class="file-iocn"><i class="fa fa-file"></i></span>
									</div>
									<div class="file-name">
										<span><i class="fa fa-file"></i>&nbsp;&nbsp;&nbsp;<b>Doc File Name</b></span>
									</div>
								</div>
								<div class="file">
									<div class="file-img">
										<span class="file-iocn"><i class="fa fa-file-video-o"></i></span>
									</div>
									<div class="file-name">
										<span><i class="fa fa-file-video-o"></i>&nbsp;&nbsp;&nbsp;<b>Video File Name</b></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>