<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javasctipy:;" class="text-mg">Pages</a></li>
							<li class="breadcrumb-item active text-dg">Forum</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-files-o menu-icon" aria-hidden="true"></i> Forum</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Forum Content -->
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-12 p-0 my-sm">
		<div class="card text-center">
			<div class="row py-lg">
				<div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-10 offset-sm-1 col-10 offset-1">
					<h2 class="font-os-thin">
						<i class="fa fa-comments" aria-hidden="true"></i> Find a forum from 1,30,459
					</h2>
				</div>	
				<div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-10 offset-sm-1 col-10 offset-1">
					<div class="form-group">
						<input class="form-control" type="text" placeholder="Search...">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12 my-sm">
		<div class="card">
			<div class="card-body">
				<button class="btn btn-theme float-right m-xs"><i class="fa fa-plus" aria-hidden="true"></i> New Topics</button>

				<div class="dropdown float-right m-xs">
					<a class="btn btn-outline-secondary dropdown-toggle" href="javascript:;" role="button" id="sortBy" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Sort By
					</a>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="sortBy">
					<a class="dropdown-item" href="javascript:;">Topic</a>
					<a class="dropdown-item" href="javascript:;">Post</a>
					<a class="dropdown-item" href="javascript:;">View</a>
					<a class="dropdown-item" href="javascript:;">Name</a>
					</div>
				</div>
				<div class="table-responsive">
					<table class="table">
						<tbody>
							<tr>
								<td>
									<div class="text-center">
										<span class="badge badge-pill badge-secondary">1</span>
										<p class="font-os-thin text-dg">topics</p>
									</div>
								</td>
								<td>
									<div class="text-center">
										<span class="badge badge-pill badge-secondary">5</span>
										<p class="font-os-thin text-dg">posts</p>
									</div>
								</td>
								<td>
									<div class="text-center">
										<span class="badge badge-pill badge-secondary">20</span>
										<p class="font-os-thin text-dg">views</p>
									</div>
								</td>
								<td>
									<h5 class="m-0">
										<a href="javascript:;" class="text-mg"><b>Lorem Ipsum</b></a>
									</h5>
									<p class="m-0">
										"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book."
									</p>
									<span class="float-right">
										<i class="fa fa-eye" aria-hidden="true"></i>
										<small> 3 minutes ago by <a href="javascript:;" class="text-dg"><b>Smith</b></a></small>
									</span>
								</td>
							</tr>
							<tr>
								<td>
									<div class="text-center">
										<span class="badge badge-pill badge-secondary">20</span>
										<p class="font-os-thin text-dg">topics</p>
									</div>
								</td>
								<td>
									<div class="text-center">
										<span class="badge badge-pill badge-secondary">5</span>
										<p class="font-os-thin text-dg">posts</p>
									</div>
								</td>
								<td>
									<div class="text-center">
										<span class="badge badge-pill badge-secondary">5</span>
										<p class="font-os-thin text-dg">views</p>
									</div>
								</td>
								<td>
									<h5 class="m-0">
										<a href="javascript:;" class="text-mg"><b>The standard Lorem Ipsum passage, used since the 1500s.</b></a>
									</h5>
									<p class="m-0">
										"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." 
									</p>
									<span class="float-right">
										<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
										<small> 10 hours ago by <a href="javascript:;" class="text-dg"><b>Kael</b></a></small>
									</span>
								</td>
							</tr>
							<tr>
								<td>
									<div class="text-center">
										<span class="badge badge-pill badge-secondary">45</span>
										<p class="font-os-thin text-dg">topics</p>
									</div>
								</td>
								<td>
									<div class="text-center">
										<span class="badge badge-pill badge-secondary">25</span>
										<p class="font-os-thin text-dg">posts</p>
									</div>
								</td>
								<td>
									<div class="text-center">
										<span class="badge badge-pill badge-secondary">10</span>
										<p class="font-os-thin text-dg">views</p>
									</div>
								</td>
								<td>
									<h5 class="m-0">
										<a href="javascript:;" class="text-mg"><b>Section 1.10.33 of "de Finibus Bonorum et Malorum", written by Cicero in 45 BC</b></a>
									</h5>
									<p>
										"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum."
									</p>
									<span class="float-right">
										<i class="fa fa-comment-o" aria-hidden="true"></i>
										<small> 15 minutes ago by <a href="javascript:;" class="text-dg"><b>Bravo</b></a></small>
									</span>
								</td>
							</tr>
							<tr>
								<td>
									<div class="text-center">
										<span class="badge badge-pill badge-secondary">10</span>
										<p class="font-os-thin text-dg">topics</p>
									</div>
								</td>
								<td>
									<div class="text-center">
										<span class="badge badge-pill badge-secondary">2</span>
										<p class="font-os-thin text-dg">posts</p>
									</div>
								</td>
								<td>
									<div class="text-center">
										<span class="badge badge-pill badge-secondary">77</span>
										<p class="font-os-thin text-dg">views</p>
									</div>
								</td>
								<td>
									<h5 class="m-0">
										<a href="javascript:;" class="text-mg"><b>1914 translation by H. Rackham</b></a>
									</h5>
									<p>
										"On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain."
									</p>
									<span class="float-right">
										<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
										<small> 1 day ago by <a href="javascript:;" class="text-dg"><b>Adamaris</b></a></small>
									</span>
								</td>
							</tr>
							<tr>
								<td>
									<div class="text-center">
										<span class="badge badge-pill badge-secondary">78</span>
										<p class="font-os-thin text-dg">topics</p>
									</div>
								</td>
								<td>
									<div class="text-center">
										<span class="badge badge-pill badge-secondary">88</span>
										<p class="font-os-thin text-dg">posts</p>
									</div>
								</td>
								<td>
									<div class="text-center">
										<span class="badge badge-pill badge-secondary">56</span>
										<p class="font-os-thin text-dg">views</p>
									</div>
								</td>
								<td>
									<h5 class="m-0">
										<a href="javascript:;" class="text-mg"><b>The standard Lorem Ipsum passage, used since the 1500s</b></a>
									</h5>
									<p>
										"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." 
									</p>
									<span class="float-right">
										<i class="fa fa-eye" aria-hidden="true"></i>
										<small> 30 minutes ago by <a href="javascript:;" class="text-dg"><b>Icarus</b></a></small>
									</span>
								</td>
							</tr>
							<tr>
								<td>
									<div class="text-center">
										<span class="badge badge-pill badge-secondary">2</span>
										<p class="font-os-thin text-dg">topics</p>
									</div>
								</td>
								<td>
									<div class="text-center">
										<span class="badge badge-pill badge-secondary">0</span>
										<p class="font-os-thin text-dg">posts</p>
									</div>
								</td>
								<td>
									<div class="text-center">
										<span class="badge badge-pill badge-secondary">2</span>
										<p class="font-os-thin text-dg">views</p>
									</div>
								</td>
								<td>
									<h5 class="m-0">
										<a href="javascript:;" class="text-mg"><b>1914 translation by H. Rackham</b></a>
									</h5>
									<p>
										"On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain."
									</p>
									<span class="float-right">
										<i class="fa fa-comment-o" aria-hidden="true"></i>
										<small> 4 days ago by <a href="javascript:;" class="text-dg"><b>Ainsley</b></a></small>
									</span>
								</td>
							</tr>
							<tr>
								<td>
									<div class="text-center">
										<span class="badge badge-pill badge-secondary">32</span>
										<p class="font-os-thin text-dg">topics</p>
									</div>
								</td>
								<td>
									<div class="text-center">
										<span class="badge badge-pill badge-secondary">46</span>
										<p class="font-os-thin text-dg">posts</p>
									</div>
								</td>
								<td>
									<div class="text-center">
										<span class="badge badge-pill badge-secondary">4</span>
										<p class="font-os-thin text-dg">views</p>
									</div>
								</td>
								<td>
									<h5 class="m-0">
										<a href="javascript:;" class="text-mg"><b>Lorem Ipsum</b></a>
									</h5>
									<p>
										"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book."
									</p>
									<span class="float-right">
										<i class="fa fa-eye" aria-hidden="true"></i>
										<small> 9 hours ago by <a href="javascript:;" class="text-dg"><b>Aaron</b></a></small>
									</span>
								</td>
							</tr>
							<tr>
								<td>
									<div class="text-center">
										<span class="badge badge-pill badge-secondary">45</span>
										<p class="font-os-thin text-dg">topics</p>
									</div>
								</td>
								<td>
									<div class="text-center">
										<span class="badge badge-pill badge-secondary">9</span>
										<p class="font-os-thin text-dg">posts</p>
									</div>
								</td>
								<td>
									<div class="text-center">
										<span class="badge badge-pill badge-secondary">15</span>
										<p class="font-os-thin text-dg">views</p>
									</div>
								</td>
								<td>
									<h5 class="m-0">
										<a href="javascript:;" class="text-mg"><b>Section 1.10.33 of "de Finibus Bonorum et Malorum", written by Cicero in 45 BC</b></a>
									</h5>
									<p>
										"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum." 
									</p>
									<span class="float-right">
										<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
										<small> 5 days ago by <a href="javascript:;" class="text-dg"><b>Kael</b></a></small>
									</span>
								</td>
							</tr>
							<tr>
								<td>
									<div class="text-center">
										<span class="badge badge-pill badge-secondary">5</span>
										<p class="font-os-thin text-dg">topics</p>
									</div>
								</td>
								<td>
									<div class="text-center">
										<span class="badge badge-pill badge-secondary">2</span>
										<p class="font-os-thin text-dg">posts</p>
									</div>
								</td>
								<td>
									<div class="text-center">
										<span class="badge badge-pill badge-secondary">20</span>
										<p class="font-os-thin text-dg">views</p>
									</div>
								</td>
								<td>
									<h5 class="m-0">
										<a href="javascript:;" class="text-mg"><b>The standard Lorem Ipsum passage, used since the 1500s</b></a>
									</h5>
									<p>
										"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." 
									</p>
									<span class="float-right">
										<i class="fa fa-comment-o" aria-hidden="true"></i>
										<small> 1 minutes ago by <a href="javascript:;" class="text-dg"><b>Cadman</b></a></small>
									</span>
								</td>
							</tr>
							<tr>
								<td>
									<div class="text-center">
										<span class="badge badge-pill badge-secondary">25</span>
										<p class="font-os-thin text-dg">topics</p>
									</div>
								</td>
								<td>
									<div class="text-center">
										<span class="badge badge-pill badge-secondary">50</span>
										<p class="font-os-thin text-dg">posts</p>
									</div>
								</td>
								<td>
									<div class="text-center">
										<span class="badge badge-pill badge-secondary">0</span>
										<p class="font-os-thin text-dg">views</p>
									</div>
								</td>
								<td>
									<h5 class="m-0">
										<a href="javascript:;" class="text-mg"><b>1914 translation by H. Rackham</b></a>
									</h5>
									<p>
										"On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain." 
									</p>
									<span class="float-right">
										<i class="fa fa-comment-o" aria-hidden="true"></i>
										<small> 2 hours ago by <a href="javascript:;" class="text-dg"><b>Jack</b></a></small>
									</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="float-right">
					<div class="pagination-theme">
						<ngb-pagination [collectionSize]="70" page=3></ngb-pagination>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>