<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">Miscellaneous Page</a></li>
							<li class="breadcrumb-item active text-dg">Chat view</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-globe menu-icon" aria-hidden="true"></i> Chat view</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Chat View Content-->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="d-inline-block m-0">Chat</h5>
			</div>
			<div class="card-body p-0">
				<div class="chat-view"> 
					<div class="row m-0">
						<div class="col-lg-4 col-md-12 col-sm-12 col-12 p-0">
							<div class="user-list">
								<ul class="m-0 p-0"> 
									<li class="media border-b px-md py-sm">
										<img class="media-object avatar avatar-md mr-sm" src="assets/images/portrait/avatar1.png" alt="RTDL Image">
										<div class="media-body">
											<h5 class="mt-0 d-inline-block"><a href="javascript:;" title="" class="text-dg"><b>Stefan vorden</b></a></h5>
											<span class="badge badge-success margin-r-sm float-right">Online</span>
										</div>
									</li>
									<li class="media border-b px-md py-sm">
										<img class="media-object avatar avatar-md mr-sm" src="assets/images/portrait/avatar2.png" alt="RTDL Image">
										<div class="media-body">
											<h5 class="m-0 d-inline-block"><a href="javascript:;" title="" class="text-dg"><b>Tom Smith</b></a></h5>
											<div class="text-dg m-0"><small>Last seen: Saturday, 09:24 pm <i class="fa fa-clock-o"></i></small></div>
										</div>
									</li>
									<li class="media border-b px-md py-sm">
										<img class="media-object avatar avatar-md mr-sm" src="assets/images/portrait/avatar3.png" alt="RTDL Image">
										<div class="media-body">
											<h5 class="mt-0 d-inline-block"><a href="javascript:;" title="" class="text-dg"><b>Vinn Demon</b></a></h5>
											<span class="badge badge-success margin-r-sm float-right">Online</span>
										</div>
									</li>
									<li class="media border-b px-md py-sm">
										<img class="media-object avatar avatar-md mr-sm" src="assets/images/portrait/avatar4.png" alt="RTDL Image">
										<div class="media-body">
											<h5 class="m-0 d-inline-block"><a href="javascript:;" title="" class="text-dg"><b>Smith John</b></a></h5>
											<div class="text-dg m-0"><small>Last seen: 10:30 am <i class="fa fa-clock-o"></i></small></div>
										</div>
									</li>
									<li class="media border-b px-md py-sm">
										<img class="media-object avatar avatar-md mr-sm" src="assets/images/portrait/avatar5.png" alt="RTDL Image">
										<div class="media-body">
											<h5 class="mt-0 d-inline-block"><a href="javascript:;" title="" class="text-dg"><b>Tom venna</b></a></h5>
											<span class="badge badge-success margin-r-sm float-right">Online</span>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-8 col-md-12 col-sm-12 col-12 p-0 border-l">
							<div class="chat">
								<ul class="m-0 p-0"> 
									<li class="media border-b p-lg">
										<a href="javascript:;"> 
											<img class="media-object avatar avatar-md mr-sm" src="assets/images/portrait/avatar6.png" alt="RTDL Image">
										</a>
										<div class="media-body">
											<span class="float-right">
												<small>Oct 10th, 2017 at 11:30 am</small>
											</span>
											<h5><b>Stefan vorden</b></h5>
											<small>
												Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sllicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
											</small>
										</div>
									</li>
									<li class="media border-b p-lg">
										<div class="media-body">
											<span class="float-left">
												<small>Oct 10th, 2017 at 11:32 am</small>
											</span>
											<h5 class="text-right"><b>Vinn Demon</b></h5>
											<p class="text-right m-0">
												<small>
													Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sllicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
												</small>
											</p>
										</div>
										<a href="javascript:;"> 
											<img class="media-object avatar avatar-md ml-sm" src="assets/images/portrait/avatar1.png" alt="RTDL Image">
										</a>
									</li>
									<li class="media border-b p-lg">
										<div class="media-body">
											<span class="float-left">
												<small>Oct 10th, 2017 at 11:35 am</small>
											</span>
											<h5 class="text-right"><b>Vinn Demon</b></h5>
											<p class="text-right m-0">
												<small>
													Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sllicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
												</small>
											</p>
										</div>
										<a href="javascript:;"> 
											<img class="media-object avatar avatar-md ml-sm" src="assets/images/portrait/avatar2.png" alt="RTDL Image">
										</a>
									</li>
									<li class="media border-b p-lg">
										<a href="javascript:;"> 
											<img class="media-object avatar avatar-md mr-sm" src="assets/images/portrait/avatar3.png" alt="RTDL Image">
										</a>
										<div class="media-body">
											<span class="float-right">
												<small>Oct 10th, 2017 at 11:40 am</small>
											</span>
											<h5><b>Stefan vorden</b></h5>
											<small>
												Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sllicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
											</small>
										</div>
									</li>
									<li class="media border-b p-lg">
										<div class="media-body">
											<span class="float-left">
												<small>Oct 10th, 2017 at 11:45 am</small>
											</span>
											<h5 class="text-right"><b>Vinn Demon</b></h5>
											<p class="text-right m-0">
												<small>
													Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sllicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
												</small>
											</p>
										</div>
										<a href="javascript:;"> 
											<img class="media-object avatar avatar-md ml-sm" src="assets/images/portrait/avatar4.png" alt="RTDL Image">
										</a>
									</li>
									<li class="media p-lg">
										<a href="javascript:;"> 
											<img class="media-object avatar avatar-md mr-sm" src="assets/images/portrait/avatar5.png" alt="RTDL Image">
										</a>
										<div class="media-body">
											<span class="float-right">
												<small>Oct 10th, 2017 at 11:47 am</small>
											</span>
											<h5><b>Stefan vorden</b></h5>
											<small>
												Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sllicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
											</small>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-12 border-t">
							<form class="pt-md">
								<div class="form-group mb-sm">
									<textarea class="form-control" id="comment-text" placeholder="Text type here..." autofocus></textarea>
								</div>
								<button type="button" class="btn btn-theme float-right mb-xs">Send</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>