<!-- Header -->
<header class="header">
	<nav class="navbar navbar-expand-sm navbar-lg m-0 p-0">
		<div class="logo d-inline-block">
			<a href="javascript:;" class="btn menu-toggle float-left"><i class="ion-navicon fa-lg"></i></a>
			<a routerLink="/">
				<h2>Ran<img src="assets/images/heading-logo.png" alt="Ranpariya - The Development Lab (RTDL)">ariya</h2>
			</a>
		</div>

		<!-- Links -->
		<div class="collapse navbar-collapse" id="nav-content">   
			<ul class="navbar-nav mr-auto">
				<!-- Search Box -->
				<li class="nav-item d-none d-md-inline-block">
					<div class="searchBox">
						<input class="form-control search mt-2" type="text" placeholder="Search here...">
					</div>
				</li>

				<!-- Expand -->
				<li class="nav-item d-none ml-1 d-lg-inline-block">
					<a href="javascript:;" class="nav-link expandFullscreen">
						<i class="fa fa-expand" aria-hidden="true"></i>
					</a>
				</li>

				<!-- Notification -->
				<li class="nav-item d-none ml-1 d-lg-inline-block">
					<div class="nav-menu-list dropdown dropdown-animating notification-dropdown">
						<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button"  id="notification-dropdown" aria-haspopup="true" aria-expanded="false">
							<span class="badge badge-success notice-label">14</span>
							<i class="fa fa-bell-o"></i>
						</a>
						<div class="dropdown-menu notification-dropdown" aria-labelledby="notification-dropdown" data-dropdown-in="flipInX" data-dropdown-out="flipOutX">
							<div class="header"><span>You have 12 notification</span></div>
							<ul class="notification-scrollbar list-block">
								<li class="dropdown-item p-0"><a href="#"><span class="text-info"><i class="fa fa-address-card"></i><span>Notice 1</span></span></a></li>
								<li class="dropdown-item p-0"><a href="#"><span class="text-success"><i class="fa fa-cubes"></i><span>Notice 2</span></span></a></li>
								<li class="dropdown-item p-0"><a href="#"><span class="text-warning"><i class="fa fa-comments-o"></i><span>Notice 3</span></span></a></li>
								<li class="dropdown-item p-0"><a href="#"><span class="text-success"><i class="fa fa-envelope"></i><span>Notice 4</span></span></a></li>
								<li class="dropdown-item p-0"><a href="#"><span class="text-danger"><i class="fa fa-dot-circle-o"></i><span>Notice 5</span></span></a></li>
								<li class="dropdown-item p-0"><a href="#"><span class="text-info"><i class="fa fa-image"></i><span>Notice 6</span></span></a></li>
								<li class="dropdown-item p-0"><a href="#"><span class="text-info"><i class="fa fa-facebook"></i><span>Notice 7</span></span></a></li>
								<li class="dropdown-item p-0"><a href="#"><span class="text-success"><i class="fa fa-dollar"></i><span>Notice 8</span></span></a></li>
								<li class="dropdown-item p-0"><a href="#"><span class="text-warning"><i class="fa fa-clock-o"></i><span>Notice 9</span></span></a></li>
								<li class="dropdown-item p-0"><a href="#"><span class="text-success"><i class="fa fa-group"></i><span>Notice 10</span></span></a></li>
								<li class="dropdown-item p-0"><a href="#"><span class="text-danger"><i class="fa fa-heart"></i><span>Notice 11</span></span></a></li>
								<li class="dropdown-item p-0"><a href="#"><span class="text-info"><i class="fa fa-archive"></i><span>Notice 12</span></span></a></li>
							</ul>
							<div class="navbar-footer"><span>View all</span></div>
						</div>
					</div>
				</li>

				<!-- New -->
				<li class="nav-item d-none ml-1 d-lg-inline-block">
					<div class="nav-menu-list dropdown dropdown-animating notification-dropdown">
						<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
							<span class="badge badge-theme notice-label">6</span>
							<i class="fa fa-th fa-lg" aria-hidden="true"></i>
						</a>
						<div class="dropdown-menu notification-dropdown hdropdown bigmenu pt-xlg px-md" data-dropdown-in="flipInX" data-dropdown-out="flipOutX">
							<table>
								<tbody>
									<tr>
										<td>
											<a href="javascript:;" class="mr-xs mb-lg text-center d-block width-100 text-dg">
												<i class="fa fa-th-list text-theme fa-3x"></i>
												<h5 class="mt-sm">Projects</h5>
											</a>
										</td>
										<td>
											<a href="javascript:;" class="mr-xs mb-lg text-center d-block width-100 text-dg">
												<i class="fa fa-envelope-o text-primary fa-3x"></i>
												<h5 class="mt-sm">Email</h5>
											</a>
										</td>
										<td>
											<a href="javascript:;" class="mr-xs mb-lg text-center d-block width-100 text-dg">
												<i class="fa fa-file-o text-success fa-3x"></i>
												<h5 class="mt-sm">Files</h5>
											</a>
										</td>
									</tr>
									<tr>
										<td>
											<a href="javascript:;" class="mr-xs mb-lg text-center d-block width-100 text-dg">
												<i class="fa fa-users text-info fa-3x"></i>
												<h5 class="mt-sm">Contacts</h5>
											</a>
										</td>
										<td>
											<a href="javascript:;" class="mr-xs mb-lg text-center d-block width-100 text-dg">
												<i class="fa fa-picture-o text-danger fa-3x"></i>
												<h5 class="mt-sm">Image Gallery</h5>
											</a>
										</td>
										<td>
											<a href="javascript:;" class="mr-xs mb-lg text-center d-block width-100 text-dg">
												<i class="fa fa-calendar text-warning fa-3x"></i>
												<h5 class="mt-sm">Calendar</h5>
											</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</li>
			</ul>
		</div>

		<div class="float-right">

			<!-- Right sidebar -->
			<div class="nav-menu-list">
				<a href="javascript:;" class="nav-link sidebar-right-sidebar">
					<i class="fa fa-align-right" aria-hidden="true"></i>
				</a>
			</div>

			<!-- Nav profile -->
			<div class="nav-menu-list dropdown dropdown-animating nav-profile">
				<a href="#" class="dropdown-toggle nav-link pb-0 d-none d-md-block" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
					<img class="rounded-circle avatar avatar-xs" alt="RTDL Image" src="assets/images/portrait/avatar.png">&nbsp;&nbsp;&nbsp;{{user.displayName}}&nbsp;&nbsp;<b class="caret"></b>
				</a>
				<a href="#" class="dropdown-toggle nav-link pb-0 d-md-none" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
					<img class="rounded-circle avatar avatar-xs" alt="RTDL Image" src="assets/images/portrait/avatar.png">
				</a>
				<div class="dropdown-menu dropdown-menu-right font-os-thin m-0 pb-0" data-dropdown-in="bounceInRight" data-dropdown-out="bounceOutRight">
					<div class="text-center pt-md">
						<div>
							<span class="active">
								<i class="fa fa-check-circle" aria-hidden="true"></i>
							</span>
							<img class="rounded-circle avatar avatar-lg" alt="RTDL Image" src="assets/images/portrait/thumbnail.png">
							<h5 class="mb-0">{{user.displayName}}</h5>
							<p>Creative Designer</p>
						</div>
						<div>
							<a href="Profile.html" target="_blank" class="btn btn-theme">Profile</a>
							<button class="btn btn-light">Follow</button>
						</div>
						<div class="font-12">66% profile completed</div>
						<div class="progress-rounded my-lg">
							<ngb-progressbar type="theme" [value]="66" height="5px"></ngb-progressbar>
						</div>
					</div>
					<div>
						<ul class="list-unstyled mb-0">
							<li class="menu-links d-flex">
								<a href="javascript:;" class="col-12 p-sm link-menu">
									Account Settings 
									<span class="fa fa-cog float-right"></span>
								</a>
							</li>
							<li class="menu-links d-flex">
								<a href="javascript:;" class="col-12 p-sm link-menu">
									User stats 
									<span class="fa fa-bar-chart float-right"></span>
								</a>
							</li>
							<li class="menu-links d-flex">
								<a href="javascript:;" class="col-12 p-sm link-menu">
									Messages 
									<span class="badge badge-info float-right">5</span>
								</a>
							</li>
							<li class="menu-links d-flex">
								<a href="javascript:;" class="col-12 p-sm link-menu">
									Favourites Snippets 
									<span class="badge badge-theme float-right">11</span>
								</a>
							</li>
							<li class="menu-links d-flex">
								<a href="javascript:;" class="col-12 p-sm link-menu" (click)="lock()">
									Lock Screen 
									<span class="fa fa-lock fa-lg float-right"></span>
								</a>
							</li>
							<li class="menu-links d-flex">
								<a href="javascript:;" class="col-12 p-sm link-menu" (click)="logout()">
									Sign Out 
									<span class="fa fa-sign-out float-right"></span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</nav>
</header>