<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascipt:;" class="text-mg">User Management</a></li>
							<li class="breadcrumb-item active text-dg">Users List</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-users menu-icon" aria-hidden="true"></i> Users List</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- User List Content -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="d-inline-block my-xs">Users List</h5>
				<a routerLink="/user-management/user-edit" class="btn btn-theme btn-sm float-right">Add User</a>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table userlist-table" data-toggle-column="first" data-sorting="true">
						<thead>
							<tr>
								<th data-type="number">Id</th>
								<th>First name</th>
								<th>Last name</th>
								<th>E-mail</th>
								<th>Phone No:</th>
								<th data-sortable="false" data-type="html"><span class="float-right">Action</span></th>
							</tr> 
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>Dennise</td>
								<td>Fuhrman</td>
								<td>Dennise@mail.com</td>
								<td>+1 (123) 456-7890</td>
								<td>
									<div class="float-right">
										<a routerLink="/profile" class="btn btn-outline-secondary btn-sm mb-xs" placement="top" ngbTooltip="View"><i class="fa fa-folder-open fa-lg"></i></a>
										<a routerLink="/user-management/user-edit" class="btn btn-outline-secondary btn-sm mb-xs" placement="top" ngbTooltip="Edit"><i class="fa fa-pencil fa-lg"></i></a>
										<a href="javascript:;" class="btn btn-outline-secondary btn-sm mb-xs" placement="top" ngbTooltip="Delete"><i class="fa fa-trash-o fa-lg"></i></a>
										<a href="javascript:;" class="btn btn-outline-secondary btn-sm mb-xs mr-xs" placement="top" ngbTooltip="Block"><i class="fa fa-ban fa-lg"></i></a>
									</div>
								</td>
							</tr>
							<tr>
								<td>2</td>
								<td>Elodia</td>
								<td>Weisz</td>
								<td>Elodia@mail.com</td>
								<td>+1 (123) 456-7890</td>
								<td>
									<div class="float-right">
										<a routerLink="/profile" class="btn btn-outline-secondary btn-sm mb-xs" placement="top" ngbTooltip="View"><i class="fa fa-folder-open fa-lg"></i></a>
										<a routerLink="/user-management/user-edit" class="btn btn-outline-secondary btn-sm mb-xs" placement="top" ngbTooltip="Edit"><i class="fa fa-pencil fa-lg"></i></a>
										<a href="javascript:;" class="btn btn-outline-secondary btn-sm mb-xs" placement="top" ngbTooltip="Delete"><i class="fa fa-trash-o fa-lg"></i></a>
										<a href="javascript:;" class="btn btn-outline-secondary btn-sm mb-xs mr-xs" placement="top" ngbTooltip="Block"><i class="fa fa-ban fa-lg"></i></a>
									</div>
								</td>
							</tr>
							<tr>
								<td>3</td>
								<td>Raeann</td>
								<td>Haner</td>
								<td>Raeann@mail.com</td>
								<td>+1 (123) 456-7890</td>
								<td>
									<div class="float-right">
										<a routerLink="/profile" class="btn btn-outline-secondary btn-sm mb-xs" placement="top" ngbTooltip="View"><i class="fa fa-folder-open fa-lg"></i></a>
										<a routerLink="/user-management/user-edit" class="btn btn-outline-secondary btn-sm mb-xs" placement="top" ngbTooltip="Edit"><i class="fa fa-pencil fa-lg"></i></a>
										<a href="javascript:;" class="btn btn-outline-secondary btn-sm mb-xs" placement="top" ngbTooltip="Delete"><i class="fa fa-trash-o fa-lg"></i></a>
										<a href="javascript:;" class="btn btn-outline-secondary btn-sm mb-xs mr-xs" placement="top" ngbTooltip="Block"><i class="fa fa-ban fa-lg"></i></a>
									</div>
								</td>
							</tr>
							<tr>
								<td>4</td>
								<td>Junie</td>
								<td>Landa</td>
								<td>Junie@mail.com</td>
								<td>+1 (123) 456-7890</td>
								<td>
									<div class="float-right">
										<a routerLink="/profile" class="btn btn-outline-secondary btn-sm mb-xs" placement="top" ngbTooltip="View"><i class="fa fa-folder-open fa-lg"></i></a>
										<a routerLink="/user-management/user-edit" class="btn btn-outline-secondary btn-sm mb-xs" placement="top" ngbTooltip="Edit"><i class="fa fa-pencil fa-lg"></i></a>
										<a href="javascript:;" class="btn btn-outline-secondary btn-sm mb-xs" placement="top" ngbTooltip="Delete"><i class="fa fa-trash-o fa-lg"></i></a>
										<a href="javascript:;" class="btn btn-outline-secondary btn-sm mb-xs mr-xs" placement="top" ngbTooltip="Block"><i class="fa fa-ban fa-lg"></i></a>
									</div>
								</td>
							</tr>
							<tr>
								<td>5</td>
								<td>Solomon</td>
								<td>Bittinger</td>
								<td>Solomon@mail.com</td>
								<td>+1 (123) 456-7890</td>
								<td>
									<div class="float-right">
										<a routerLink="/profile" class="btn btn-outline-secondary btn-sm mb-xs" placement="top" ngbTooltip="View"><i class="fa fa-folder-open fa-lg"></i></a>
										<a routerLink="/user-management/user-edit" class="btn btn-outline-secondary btn-sm mb-xs" placement="top" ngbTooltip="Edit"><i class="fa fa-pencil fa-lg"></i></a>
										<a href="javascript:;" class="btn btn-outline-secondary btn-sm mb-xs" placement="top" ngbTooltip="Delete"><i class="fa fa-trash-o fa-lg"></i></a>
										<a href="javascript:;" class="btn btn-outline-secondary btn-sm mb-xs mr-xs" placement="top" ngbTooltip="Block"><i class="fa fa-ban fa-lg"></i></a>
									</div>
								</td>
							</tr>
							<tr>
								<td>6</td>
								<td>Bar</td>
								<td>Lewis</td>
								<td>Bar@mail.com</td>
								<td>+1 (123) 456-7890</td>
								<td>
									<div class="float-right">
										<a routerLink="/profile" class="btn btn-outline-secondary btn-sm mb-xs" placement="top" ngbTooltip="View"><i class="fa fa-folder-open fa-lg"></i></a>
										<a routerLink="/user-management/user-edit" class="btn btn-outline-secondary btn-sm mb-xs" placement="top" ngbTooltip="Edit"><i class="fa fa-pencil fa-lg"></i></a>
										<a href="javascript:;" class="btn btn-outline-secondary btn-sm mb-xs" placement="top" ngbTooltip="Delete"><i class="fa fa-trash-o fa-lg"></i></a>
										<a href="javascript:;" class="btn btn-outline-secondary btn-sm mb-xs mr-xs" placement="top" ngbTooltip="Block"><i class="fa fa-ban fa-lg"></i></a>
									</div>
								</td>
							</tr>
							<tr>
								<td>7</td>
								<td>Usha</td>
								<td>Leak</td>
								<td>Usha@mail.com</td>
								<td>+1 (123) 456-7890</td>
								<td>
									<div class="float-right">
										<a routerLink="/profile" class="btn btn-outline-secondary btn-sm mb-xs" placement="top" ngbTooltip="View"><i class="fa fa-folder-open fa-lg"></i></a>
										<a routerLink="/user-management/user-edit" class="btn btn-outline-secondary btn-sm mb-xs" placement="top" ngbTooltip="Edit"><i class="fa fa-pencil fa-lg"></i></a>
										<a href="javascript:;" class="btn btn-outline-secondary btn-sm mb-xs" placement="top" ngbTooltip="Delete"><i class="fa fa-trash-o fa-lg"></i></a>
										<a href="javascript:;" class="btn btn-outline-secondary btn-sm mb-xs mr-xs" placement="top" ngbTooltip="Block"><i class="fa fa-ban fa-lg"></i></a>
									</div>
								</td>
							</tr>
							<tr>
								<td>8</td>
								<td>Lorriane</td>
								<td>Cooke</td>
								<td>Lorriane@mail.com</td>
								<td>+1 (123) 456-7890</td>
								<td>
									<div class="float-right">
										<a routerLink="/profile" class="btn btn-outline-secondary btn-sm mb-xs" placement="top" ngbTooltip="View"><i class="fa fa-folder-open fa-lg"></i></a>
										<a routerLink="/user-management/user-edit" class="btn btn-outline-secondary btn-sm mb-xs" placement="top" ngbTooltip="Edit"><i class="fa fa-pencil fa-lg"></i></a>
										<a href="javascript:;" class="btn btn-outline-secondary btn-sm mb-xs" placement="top" ngbTooltip="Delete"><i class="fa fa-trash-o fa-lg"></i></a>
										<a href="javascript:;" class="btn btn-outline-secondary btn-sm mb-xs mr-xs" placement="top" ngbTooltip="Block"><i class="fa fa-ban fa-lg"></i></a>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="pagination-theme">
							<ngb-pagination [collectionSize]="50" class="d-flex justify-content-end" page="2"></ngb-pagination>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>