<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">E-Commerce</a></li>
							<li class="breadcrumb-item active text-dg">Order List</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Order List</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Order List Content -->
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Orders</h5>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-sm-12 col-12">
						<input type="text" class="form-control mb-xs" placeholder="ID">
					</div>
					<div class="col-lg-3 col-md-6 col-sm-12 col-12">
						<input type="text" class="form-control mb-xs" placeholder="Customer Name">
					</div>
					<div class="col-lg-3 col-md-6 col-sm-12 col-12">
						<div class="input-group mb-xs">
							<input class="form-control" placeholder="Ordered Date"
							name="orderDate" ngbDatepicker #orderedDate="ngbDatepicker" aria-describedby="od-basic-addon">
							<span class="input-group-addon" id="od-basic-addon" (click)="orderedDate.toggle()">
								<i class="fa fa-calendar" aria-hidden="true"></i>
							</span>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-12 col-12">
						<div class="input-group mb-xs">
							<input class="form-control" placeholder="Delivery Date"
							name="deliveryDate" ngbDatepicker #deliveryDate="ngbDatepicker" aria-describedby="dd-basic-addon">
							<span class="input-group-addon" id="dd-basic-addon" (click)="deliveryDate.toggle()">
								<i class="fa fa-calendar" aria-hidden="true"></i>
							</span>
						</div>
					</div>
				</div>
				<div class="table-responsive">
					<table class="table orderlist-table" data-toggle-column="first" data-sorting="true">
						<thead>
							<tr>
								<th data-type="number">#</th>
								<th>Customer name</th>
								<th>Product name</th>
								<th>Price</th>
								<th>Ordered Date</th>
								<th>Delivery Date</th>
								<th data-type="html">Status</th>
								<th data-sortable="false" data-type="html"><span class="float-right">Action</span></th>
							</tr> 
						</thead>
						<tbody>
							<tr>
								<td>80</td>
								<td>Customer 1</td>
								<td>Product 1</td>
								<td>$500</td>
								<td>Oct 04th, 2017</td>
								<td>Oct 25th, 2017</td>
								<td>
									<label class="badge badge-success">Pending</label>
								</td>
								<td>
									<div class="float-right">
										<a routerLink="/e-commerce/order-detail" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="View"><i class="fa fa-folder-open fa-lg"></i></a>
										<a routerLink="/e-commerce/order-detail" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="Edit"><i class="fa fa-pencil fa-lg"></i></a>
										<a href="javascript:;" class="btn mb-xs btn-outline-secondary btn-sm mr-md" placement="top" ngbTooltip="Delete"><i class="fa fa-trash-o fa-lg"></i></a>
									</div>
								</td>
							</tr>
							<tr>
								<td>14</td>
								<td>Customer 2</td>
								<td>Product 2</td>
								<td>$900</td>
								<td>Jan 21st, 2017</td>
								<td>Jan 30th, 2017</td>
								<td>
									<label class="badge badge-success">Pending</label>
								</td>
								<td>
									<div class="float-right">
										<a routerLink="/e-commerce/order-detail" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="View"><i class="fa fa-folder-open fa-lg"></i></a>
										<a routerLink="/e-commerce/order-detail" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="Edit"><i class="fa fa-pencil fa-lg"></i></a>
										<a href="javascript:;" class="btn mb-xs btn-outline-secondary btn-sm mr-md" placement="top" ngbTooltip="Delete"><i class="fa fa-trash-o fa-lg"></i></a>
									</div>
								</td>
							</tr>
							<tr>
								<td>17</td>
								<td>Customer 3</td>
								<td>Product 3</td>
								<td>$550</td>
								<td>July 11th, 2017</td>
								<td>July 15th, 2017</td>
								<td>
									<label class="badge badge-info">Delivered <i class="fa fa-check" aria-hidden="true"></i></label>
								</td>
								<td>
									<div class="float-right">
										<a routerLink="/e-commerce/order-detail" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="View"><i class="fa fa-folder-open fa-lg"></i></a>
										<a routerLink="/e-commerce/order-detail" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="Edit"><i class="fa fa-pencil fa-lg"></i></a>
										<a href="javascript:;" class="btn mb-xs btn-outline-secondary btn-sm mr-md" placement="top" ngbTooltip="Delete"><i class="fa fa-trash-o fa-lg"></i></a>
									</div>
								</td>
							</tr>
							<tr>
								<td>60</td>
								<td>Customer 4</td>
								<td>Product 4</td>
								<td>$90</td>
								<td>Jan 21st, 2017</td>
								<td>
									Jan 25th, 2017
									<small>(Expected)</small>
								</td>
								<td>
									<label class="badge badge-theme">In-Transist <i class="fa fa-truck" aria-hidden="true"></i></label>
								</td>
								<td>
									<div class="float-right">
										<a routerLink="/e-commerce/order-detail" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="View"><i class="fa fa-folder-open fa-lg"></i></a>
										<a routerLink="/e-commerce/order-detail" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="Edit"><i class="fa fa-pencil fa-lg"></i></a>
										<a href="javascript:;" class="btn mb-xs btn-outline-secondary btn-sm mr-md" placement="top" ngbTooltip="Delete"><i class="fa fa-trash-o fa-lg"></i></a>
									</div>
								</td>
							</tr>
							<tr>
								<td>70</td>
								<td>Customer 5</td>
								<td>Product 5</td>
								<td>$60</td>
								<td>March 01st, 2017</td>
								<td>March 10th, 2017</td>
								<td>
									<label class="badge badge-success">Pending</label>
								</td>
								<td>
									<div class="float-right">
										<a routerLink="/e-commerce/order-detail" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="View"><i class="fa fa-folder-open fa-lg"></i></a>
										<a routerLink="/e-commerce/order-detail" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="Edit"><i class="fa fa-pencil fa-lg"></i></a>
										<a href="javascript:;" class="btn mb-xs btn-outline-secondary btn-sm mr-md" placement="top" ngbTooltip="Delete"><i class="fa fa-trash-o fa-lg"></i></a>
									</div>
								</td>
							</tr>
							<tr>
								<td>40</td>
								<td>Customer 6</td>
								<td>Product 6</td>
								<td>$200</td>
								<td>March 21st, 2017</td>
								<td>March 25th, 2017</td>
								<td>
									<label class="badge badge-success">Pending</label>
								</td>
								<td>
									<div class="float-right">
										<a routerLink="/e-commerce/order-detail" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="View"><i class="fa fa-folder-open fa-lg"></i></a>
										<a routerLink="/e-commerce/order-detail" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="Edit"><i class="fa fa-pencil fa-lg"></i></a>
										<a href="javascript:;" class="btn mb-xs btn-outline-secondary btn-sm mr-md" placement="top" ngbTooltip="Delete"><i class="fa fa-trash-o fa-lg"></i></a>
									</div>
								</td>
							</tr>
							<tr>
								<td>170</td>
								<td>Customer 7</td>
								<td>Product 7</td>
								<td>$55</td>
								<td>June 09th, 2017</td>
								<td>
									June 15th, 2017
									<small>(Expected)</small></td>
								<td>
									<label class="badge badge-theme">In-Transist <i class="fa fa-truck" aria-hidden="true"></i></label>
								</td>
								<td>
									<div class="float-right">
										<a routerLink="/e-commerce/order-detail" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="View"><i class="fa fa-folder-open fa-lg"></i></a>
										<a routerLink="/e-commerce/order-detail" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="Edit"><i class="fa fa-pencil fa-lg"></i></a>
										<a href="javascript:;" class="btn mb-xs btn-outline-secondary btn-sm mr-md" placement="top" ngbTooltip="Delete"><i class="fa fa-trash-o fa-lg"></i></a>
									</div>
								</td>
							</tr>
							<tr>
								<td>220</td>
								<td>Customer 8</td>
								<td>Product 8</td>
								<td>$30</td>
								<td>Aug 30th, 2017</td>
								<td>Sept 07th, 2017</td>
								<td>
									<label class="badge badge-success">Pending</label>
								</td>
								<td>
									<div class="float-right">
										<a routerLink="/e-commerce/order-detail" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="View"><i class="fa fa-folder-open fa-lg"></i></a>
										<a routerLink="/e-commerce/order-detail" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="Edit"><i class="fa fa-pencil fa-lg"></i></a>
										<a href="javascript:;" class="btn mb-xs btn-outline-secondary btn-sm mr-md" placement="top" ngbTooltip="Delete"><i class="fa fa-trash-o fa-lg"></i></a>
									</div>
								</td>
							</tr>
							<tr>
								<td>42</td>
								<td>Customer 9</td>
								<td>Product 9</td>
								<td>$750</td>
								<td>April 27th, 2017</td>
								<td>May 04th, 2017</td>
								<td>
									<label class="badge badge-info">Delivered <i class="fa fa-check" aria-hidden="true"></i></label>
								</td>
								<td>
									<div class="float-right">
										<a routerLink="/e-commerce/order-detail" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="View"><i class="fa fa-folder-open fa-lg"></i></a>
										<a routerLink="/e-commerce/order-detail" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="Edit"><i class="fa fa-pencil fa-lg"></i></a>
										<a href="javascript:;" class="btn mb-xs btn-outline-secondary btn-sm mr-md" placement="top" ngbTooltip="Delete"><i class="fa fa-trash-o fa-lg"></i></a>
									</div>
								</td>
							</tr>
							<tr>
								<td>90</td>
								<td>Customer 10</td>
								<td>Product 10</td>
								<td>$100</td>
								<td>Sept 21st, 2017</td>
								<td>Sept 25th, 2017</td>
								<td>
									<label class="badge badge-success">Pending</label>
								</td>
								<td>
									<div class="float-right">
										<a routerLink="/e-commerce/order-detail" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="View"><i class="fa fa-folder-open fa-lg"></i></a>
										<a routerLink="/e-commerce/order-detail" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="Edit"><i class="fa fa-pencil fa-lg"></i></a>
										<a href="javascript:;" class="btn mb-xs btn-outline-secondary btn-sm mr-md" placement="top" ngbTooltip="Delete"><i class="fa fa-trash-o fa-lg"></i></a>
									</div>
								</td>
							</tr>
							<tr>
								<td>86</td>
								<td>Customer 11</td>
								<td>Product 11</td>
								<td>$350</td>
								<td>Jan 15th, 2017</td>
								<td>
									Jan 20th, 2017
									<small>(Expected)</small></td>
								<td>
									<label class="badge badge-theme">In-Transist <i class="fa fa-truck" aria-hidden="true"></i></label>
								</td>
								<td>
									<div class="float-right">
										<a routerLink="/e-commerce/order-detail" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="View"><i class="fa fa-folder-open fa-lg"></i></a>
										<a routerLink="/e-commerce/order-detail" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="Edit"><i class="fa fa-pencil fa-lg"></i></a>
										<a href="javascript:;" class="btn mb-xs btn-outline-secondary btn-sm mr-md" placement="top" ngbTooltip="Delete"><i class="fa fa-trash-o fa-lg"></i></a>
									</div>
								</td>
							</tr>
							<tr>
								<td>68</td>
								<td>Customer 12</td>
								<td>Product 12</td>
								<td>$50</td>
								<td>March 20th, 2017</td>
								<td>March 25th, 2017</td>
								<td>
									<label class="badge badge-info">Delivered <i class="fa fa-check" aria-hidden="true"></i></label>
								</td>
								<td>
									<div class="float-right">
										<a routerLink="/e-commerce/order-detail" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="View"><i class="fa fa-folder-open fa-lg"></i></a>
										<a routerLink="/e-commerce/order-detail" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="Edit"><i class="fa fa-pencil fa-lg"></i></a>
										<a href="javascript:;" class="btn mb-xs btn-outline-secondary btn-sm mr-md" placement="top" ngbTooltip="Delete"><i class="fa fa-trash-o fa-lg"></i></a>
									</div>
								</td>
							</tr>
							<tr>
								<td>74</td>
								<td>Customer 13</td>
								<td>Product 13</td>
								<td>$35</td>
								<td>Jan 25th, 2017</td>
								<td>Jan 30th, 2017</td>
								<td>
									<label class="badge badge-success">Pending</label>
								</td>
								<td>
									<div class="float-right">
										<a routerLink="/e-commerce/order-detail" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="View"><i class="fa fa-folder-open fa-lg"></i></a>
										<a routerLink="/e-commerce/order-detail" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="Edit"><i class="fa fa-pencil fa-lg"></i></a>
										<a href="javascript:;" class="btn mb-xs btn-outline-secondary btn-sm mr-md" placement="top" ngbTooltip="Delete"><i class="fa fa-trash-o fa-lg"></i></a>
									</div>
								</td>
							</tr>
							<tr>
								<td>298</td>
								<td>Customer 14</td>
								<td>Product 14</td>
								<td>$90</td>
								<td>Aug 07th, 2017</td>
								<td>
									Aug 20th, 2017
									<small>(Expected)</small></td>
								<td>
									<label class="badge badge-theme">In-Transist <i class="fa fa-truck" aria-hidden="true"></i></label>
								</td>
								<td>
									<div class="float-right">
										<a routerLink="/e-commerce/order-detail" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="View"><i class="fa fa-folder-open fa-lg"></i></a>
										<a routerLink="/e-commerce/order-detail" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="Edit"><i class="fa fa-pencil fa-lg"></i></a>
										<a href="javascript:;" class="btn mb-xs btn-outline-secondary btn-sm mr-md" placement="top" ngbTooltip="Delete"><i class="fa fa-trash-o fa-lg"></i></a>
									</div>
								</td>
							</tr>
							<tr>
								<td>48</td>
								<td>Customer 15</td>
								<td>Product 15</td>
								<td>$450</td>
								<td>July 25th, 2017</td>
								<td>July 31st, 2017</td>
								<td>
									<label class="badge badge-success">Pending</label>
								</td>
								<td>
									<div class="float-right">
										<a routerLink="/e-commerce/order-detail" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="View"><i class="fa fa-folder-open fa-lg"></i></a>
										<a routerLink="/e-commerce/order-detail" class="btn mb-xs btn-outline-secondary btn-sm" placement="top" ngbTooltip="Edit"><i class="fa fa-pencil fa-lg"></i></a>
										<a href="javascript:;" class="btn mb-xs btn-outline-secondary btn-sm mr-md" placement="top" ngbTooltip="Delete"><i class="fa fa-trash-o fa-lg"></i></a>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="pagination-theme">
							<ngb-pagination [collectionSize]="50" class="d-flex justify-content-end" page="2"></ngb-pagination>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>