<!-- Loader -->
<ng-progress [spinner]="false" [color]="'#ed174c'"></ng-progress>

<!-- Wrapper -->
<div class="wrapper" *ngIf=outerLayout>

	<!-- Setting Menu -->
	<app-setting-menu></app-setting-menu>

	<!-- Header -->
	<app-header *ngIf=defaultNavbar></app-header>
	<app-header-v2 *ngIf=!defaultNavbar></app-header-v2>

	<!-- Sidebar -->
	<app-sidebar *ngIf=showLeftSidebar></app-sidebar>

	<!-- Right Sidebar -->
	<app-right-sidebar></app-right-sidebar>

	<!-- Main wrapper -->
	<div class="main-wrapper bg-lg" style="animation-duration: 3s; animation-name: pulse;-webkit-animation-duration: 3s; -webkit-animation-name: pulse;" *ngIf=outerLayout>
		<router-outlet></router-outlet>
	</div>

	<!-- Footer -->
	<app-footer></app-footer>

	<!-- Scroll Top -->
	<app-scroll-top></app-scroll-top>
</div>

<!-- Auth Page -->
<div class="authPage" *ngIf=!outerLayout>
	<router-outlet></router-outlet>
</div>