<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">Plugins</a></li>
							<li class="breadcrumb-item active text-dg">Animate-CSS</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-plug menu-icon" aria-hidden="true"></i> Animate-CSS</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Animate-CSS Content-->
<div class="row">
	<div class="col-12 px-0 my-sm">
		<div class="card">
			<div class="card-body text-center">
				<div class="py-lg">
					<h4 class="font-roboto-thin my-sm">Animate CSS,is a bunch of cool, fun, and cross-browser animations for you</h4>
					<a href="https://github.com/daneden/animate.css" target="_blank" class="btn btn-outline-theme">Get Animate CSS Doc</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-10 offset-lg-1 col-md-10 offset-md-1 col-sm-10 offset-sm-1 col-12">
		<div class="card">
			<div class="card-body">
				<div class="pb-xlg">
					<div id="animate-effect" class="animated bounce">
						<div class="text-center">
							<h1 class="animate-word mega font-os-thin my-xlg">Animate</h1>
						</div>
					</div>
					<div class="animation-efect-links text-center">

						<!-- Attention Seekers -->
						<button class="btn btn-outline-secondary animated_effect mb-xs" data-animation="bounce">Bounce</button>
						<button class="btn btn-outline-secondary animated_effect mb-xs" data-animation="flash">Flash</button>
						<button class="btn btn-outline-secondary animated_effect mb-xs" data-animation="pulse">Pulse</button>
						<button class="btn btn-outline-secondary animated_effect mb-xs" data-animation="rubberBand">RubberBand</button>
						<button class="btn btn-outline-secondary animated_effect mb-xs" data-animation="shake">Sake</button>
						<button class="btn btn-outline-secondary animated_effect mb-xs" data-animation="swing">Swing</button>
						<button class="btn btn-outline-secondary animated_effect mb-xs" data-animation="tada">Tada</button>
						<button class="btn btn-outline-secondary animated_effect mb-xs" data-animation="wobble">Wobble</button>
						<button class="btn btn-outline-secondary animated_effect mb-xs" data-animation="jello">Jello</button>

						<!-- Bouncing Entrances -->
						<button class="btn btn-outline-secondary animated_effect mb-xs" data-animation="bounceIn">BounceIn</button>
						<button class="btn btn-outline-secondary animated_effect mb-xs" data-animation="bounceInDown">BounceInDown</button>
						<button class="btn btn-outline-secondary animated_effect mb-xs" data-animation="bounceInLeft">BounceInLeft</button>
						<button class="btn btn-outline-secondary animated_effect mb-xs" data-animation="bounceInRight">BounceInRight</button>
						<button class="btn btn-outline-secondary animated_effect mb-xs" data-animation="bounceInUp">BounceInUp</button>

						<!-- Bouncing Exits -->
						<button class="btn btn-outline-secondary animated_effect mb-xs" data-animation="bounceOut">BounceOut</button>
						<button class="btn btn-outline-secondary animated_effect mb-xs" data-animation="bounceOutDown">BounceOutDown</button>
						<button class="btn btn-outline-secondary animated_effect mb-xs" data-animation="bounceOutLeft">BounceOutLeft</button>
						<button class="btn btn-outline-secondary animated_effect mb-xs" data-animation="bounceOutRight">BounceOutRight</button>
						<button class="btn btn-outline-secondary animated_effect mb-xs" data-animation="bounceOutUp">BounceOutUp</button>

						<!-- Fading Entrances -->
						<button class="btn btn-outline-secondary animated_effect mb-xs" data-animation="fadeIn">FadeIn</button>
						<button class="btn btn-outline-secondary animated_effect mb-xs" data-animation="fadeInDown">FadeInDown</button>
						<button class="btn btn-outline-secondary animated_effect mb-xs" data-animation="fadeInDownBig">FadeInDownBig</button>
						<button class="btn btn-outline-secondary animated_effect mb-xs" data-animation="fadeInLeft">FadeInLeft</button>
						<button class="btn btn-outline-secondary animated_effect mb-xs" data-animation="fadeInLeftBig">FadeInLeftBig</button>
						<button class="btn btn-outline-secondary animated_effect mb-xs" data-animation="fadeInRight">FadeInRight</button>
						<button class="btn btn-outline-secondary animated_effect mb-xs" data-animation="fadeInRightBig">FadeInRightBig</button>
						<button class="btn btn-outline-secondary animated_effect mb-xs" data-animation="fadeInUp">FadeInUp</button>
						<button class="btn btn-outline-secondary animated_effect mb-xs" data-animation="fadeInUpBig">FadeInUpBig</button>

						<!-- Fading Exits -->
						<button class="btn btn-outline-secondary animated_effect mb-xs" data-animation="fadeOut">FadeOut</button>
						<button class="btn btn-outline-secondary animated_effect mb-xs" data-animation="fadeOutDown">FadeOutDown</button>
						<button class="btn btn-outline-secondary animated_effect mb-xs" data-animation="fadeOutDownBig">FadeOutDownBig</button>
						<button class="btn btn-outline-secondary animated_effect mb-xs" data-animation="fadeOutLeft">FadeOutLeft</button>
						<button class="btn btn-outline-secondary animated_effect mb-xs" data-animation="fadeOutLeftBig">FadeOutLeftBig</button>
						<button class="btn btn-outline-secondary animated_effect mb-xs" data-animation="fadeOutRight">FadeOutRight</button>
						<button class="btn btn-outline-secondary animated_effect mb-xs" data-animation="fadeOutRightBig">FadeOutRightBig</button>
						<button class="btn btn-outline-secondary animated_effect mb-xs" data-animation="fadeOutUp">FadeOutUp</button>
						<button class="btn btn-outline-secondary animated_effect mb-xs" data-animation="fadeOutUpBig">FadeOutUpBig</button>

						<!-- Flippers -->
						<button class="btn btn-outline-secondary animated_effect mb-xs" data-animation="flip">Flip</button>
						<button class="btn btn-outline-secondary animated_effect mb-xs" data-animation="flipInX">FlipInX</button>
						<button class="btn btn-outline-secondary animated_effect mb-xs" data-animation="flipInY">FlipInY</button>
						<button class="btn btn-outline-secondary animated_effect mb-xs" data-animation="flipOutX">FlipOutX</button>
						<button class="btn btn-outline-secondary animated_effect mb-xs" data-animation="flipOutY">FlipOutY</button>

						<!-- Lightspeed -->
						<button class="btn btn-outline-secondary animated_effect mb-xs" data-animation="lightSpeedIn">LightSpeedIn</button>
						<button class="btn btn-outline-secondary animated_effect mb-xs" data-animation="lightSpeedOut">LightSpeedOut</button>

						<!-- Rotating Entrances -->
						<button class="btn btn-outline-secondary animated_effect mb-xs" data-animation="rotateIn">RotateIn</button>
						<button class="btn btn-outline-secondary animated_effect mb-xs" data-animation="rotateInDownLeft">RotateInDownLeft</button>
						<button class="btn btn-outline-secondary animated_effect mb-xs" data-animation="rotateInDownRight">RotateInDownRight</button>
						<button class="btn btn-outline-secondary animated_effect mb-xs" data-animation="rotateInUpLeft">RotateInUpLeft</button>
						<button class="btn btn-outline-secondary animated_effect mb-xs" data-animation="rotateInUpRight">RotateInUpRight</button>

						<!-- Rotating Exits -->
						<button class="btn btn-outline-secondary animated_effect mb-xs" data-animation="rotateOut">RotateOut</button>
						<button class="btn btn-outline-secondary animated_effect mb-xs" data-animation="rotateOutDownLeft">RotateOutDownLeft</button>
						<button class="btn btn-outline-secondary animated_effect mb-xs" data-animation="rotateOutDownRight">RotateOutDownRight</button>
						<button class="btn btn-outline-secondary animated_effect mb-xs" data-animation="rotateOutUpLeft">RotateOutUpLeft</button>
						<button class="btn btn-outline-secondary animated_effect mb-xs" data-animation="rotateOutUpRight">RotateOutUpRight</button>

						<!-- Sliding Entrances -->
						<button class="btn btn-outline-secondary animated_effect mb-xs" data-animation="slideInUp">SlideInUp</button>
						<button class="btn btn-outline-secondary animated_effect mb-xs" data-animation="slideInDown">SlideInDown</button>
						<button class="btn btn-outline-secondary animated_effect mb-xs" data-animation="slideInLeft">SlideInLeft</button>
						<button class="btn btn-outline-secondary animated_effect mb-xs" data-animation="slideInRight">SlideInRight</button>

						<!-- Sliding Exits -->
						<button class="btn btn-outline-secondary animated_effect mb-xs" data-animation="slideOutUp">SlideOutUp</button>
						<button class="btn btn-outline-secondary animated_effect mb-xs" data-animation="slideOutDown">SlideOutDown</button>
						<button class="btn btn-outline-secondary animated_effect mb-xs" data-animation="slideOutLeft">SlideOutLeft</button>
						<button class="btn btn-outline-secondary animated_effect mb-xs" data-animation="slideOutRight">SlideOutRight</button>

						<!-- Zoom Entrances -->
						<button class="btn btn-outline-secondary animated_effect mb-xs" data-animation="zoomIn">ZoomIn</button>
						<button class="btn btn-outline-secondary animated_effect mb-xs" data-animation="zoomInDown">ZoomInDown</button>
						<button class="btn btn-outline-secondary animated_effect mb-xs" data-animation="zoomInLeft">ZoomInLeft</button>
						<button class="btn btn-outline-secondary animated_effect mb-xs" data-animation="zoomInRight">ZoomInRight</button>
						<button class="btn btn-outline-secondary animated_effect mb-xs" data-animation="zoomInUp">ZoomInUp</button>

						<!-- Zoom Exits -->
						<button class="btn btn-outline-secondary animated_effect mb-xs" data-animation="zoomOut">ZoomOut</button>
						<button class="btn btn-outline-secondary animated_effect mb-xs" data-animation="zoomOutDown">ZoomOutDown</button>
						<button class="btn btn-outline-secondary animated_effect mb-xs" data-animation="zoomOutLeft">ZoomOutLeft</button>
						<button class="btn btn-outline-secondary animated_effect mb-xs" data-animation="zoomOutRight">ZoomOutRight</button>
						<button class="btn btn-outline-secondary animated_effect mb-xs" data-animation="zoomOutUp">ZoomOutUp</button>

						<!-- Specials -->
						<button class="btn btn-outline-secondary animated_effect mb-xs" data-animation="hinge">Hinge</button>
						<button class="btn btn-outline-secondary animated_effect mb-xs" data-animation="rollIn">RollIn</button>
						<button class="btn btn-outline-secondary animated_effect mb-xs" data-animation="rollOut">RollOut</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>