<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">Plugins</a></li>
							<li class="breadcrumb-item active text-dg">Loaders</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-plug menu-icon" aria-hidden="true"></i> Loaders</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Page Loaders Content -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0"><i class="fa fa-spinner fa-spin"></i>&nbsp;&nbsp;Loading Bars</h5>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-12 my-sm">
		<div class="card">
			<div class="card-header">
				<h5 class="m-0">Page Loaders</h5>
			</div>
			<div class="card-body">
				<p>
					Create a smooth and easily customizable simple loading spinners. Following is demo code for spinner and loader. You can use any kind of loaders from following. Please review <code>plugins/page-loaders</code> file to use other loaders shown in demo like cube-grid, circle-fadeIn etc..
				</p>
				<prism-block [code]="pageLoaderSnippet" [language]="'html'"></prism-block>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 my-sm">
		<div class="card">
			<div class="card-body">
				<div class="spinner"></div>
			</div>
			<div class="card-footer text-center">
				<kbd>.spinner</kbd>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 my-sm">
		<div class="card">
			<div class="card-body">
				<div class="loader-circle">
					<div class="loader-circle1 loader-child"></div>
					<div class="loader-circle2 loader-child"></div>
					<div class="loader-circle3 loader-child"></div>
					<div class="loader-circle4 loader-child"></div>
					<div class="loader-circle5 loader-child"></div>
					<div class="loader-circle6 loader-child"></div>
					<div class="loader-circle7 loader-child"></div>
					<div class="loader-circle8 loader-child"></div>
					<div class="loader-circle9 loader-child"></div>
					<div class="loader-circle10 loader-child"></div>
					<div class="loader-circle11 loader-child"></div>
					<div class="loader-circle12 loader-child"></div>
				</div>
			</div>
			<div class="card-footer text-center">
				<kbd>.loader-circle</kbd>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 my-sm">
		<div class="card">
			<div class="card-body">
				<div class="loader-cube-grid">
					<div class="loader-cube loader-cube1"></div>
					<div class="loader-cube loader-cube2"></div>
					<div class="loader-cube loader-cube3"></div>
					<div class="loader-cube loader-cube4"></div>
					<div class="loader-cube loader-cube5"></div>
					<div class="loader-cube loader-cube6"></div>
					<div class="loader-cube loader-cube7"></div>
					<div class="loader-cube loader-cube8"></div>
					<div class="loader-cube loader-cube9"></div>
				</div>
			</div>
			<div class="card-footer text-center">
				<kbd>.loader-cube-grid</kbd>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 my-sm">
		<div class="card">
			<div class="card-body">
				<div class="circle-fadeIn">
					<div class="double-bounce1"></div>
					<div class="double-bounce2"></div>
				</div>
			</div>
			<div class="card-footer text-center">
				<kbd>.circle-fadeIn</kbd>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 my-sm">
		<div class="card">
			<div class="card-body">
				<div class="spinner-stick font-10">
					<div class="rect1"></div>
					<div class="rect2"></div>
					<div class="rect3"></div>
					<div class="rect4"></div>
					<div class="rect5"></div>
				</div>
			</div>
			<div class="card-footer text-center">
				<kbd>.spinner-stick</kbd>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 my-sm">
		<div class="card">
			<div class="card-body">
				<div class="cube-spinner">
					<div class="cube1"></div>
					<div class="cube2"></div>
				</div>
			</div>
			<div class="card-footer text-center">
				<kbd>.cube-spinner</kbd>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 my-sm">
		<div class="card">
			<div class="card-body">
				<div class="fade-out-spinner"></div>
			</div>
			<div class="card-footer text-center">
				<kbd>.fade-out-spinner</kbd>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 my-sm">
		<div class="card">
			<div class="card-body">
				<div class="dot-spinner">
					<div class="dot1"></div>
					<div class="dot2"></div>
				</div>
			</div>
			<div class="card-footer text-center">
				<kbd>.dot-spinner</kbd>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 my-sm">
		<div class="card">
			<div class="card-body">
				<div class="loader-folding-cube">
					<div class="loader-cube1 loader-cube"></div>
					<div class="loader-cube2 loader-cube"></div>
					<div class="loader-cube4 loader-cube"></div>
					<div class="loader-cube3 loader-cube"></div>
				</div>
			</div>
			<div class="card-footer text-center">
				<kbd>.loader-folding-cube</kbd>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 my-sm">
		<div class="card">
			<div class="card-body">
				<div class="bounce-spinner">
					<div class="bounce1"></div>
					<div class="bounce2"></div>
					<div class="bounce3"></div>
				</div>
			</div>
			<div class="card-footer text-center">
				<kbd>.bounce-spinner</kbd>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 my-sm">
		<div class="card">
			<div class="card-body">
				<div class="loader-fading-circle">
					<div class="loader-circle1 loader-circle m-0"></div>
					<div class="loader-circle2 loader-circle m-0"></div>
					<div class="loader-circle3 loader-circle m-0"></div>
					<div class="loader-circle4 loader-circle m-0"></div>
					<div class="loader-circle5 loader-circle m-0"></div>
					<div class="loader-circle6 loader-circle m-0"></div>
					<div class="loader-circle7 loader-circle m-0"></div>
					<div class="loader-circle8 loader-circle m-0"></div>
					<div class="loader-circle9 loader-circle m-0"></div>
					<div class="loader-circle10 loader-circle m-0"></div>
					<div class="loader-circle11 loader-circle m-0"></div>
					<div class="loader-circle12 loader-circle m-0"></div>
				</div>
			</div>
			<div class="card-footer text-center">
				<kbd>.loader-fading-circle</kbd>
			</div>
		</div>
	</div>
</div>