<div class="auth-page">
	<div class="animated zoomIn auth_box">
		<div class="col-lg-4 col-md-8 col-sm-10 col-10 offset-lg-4 offset-md-2 offset-sm-1 offset-1 p-0 auth_login_bg">
			<div class="auth_login">
				<div class="text-center">
					<i class="fa fa-lock fa-5x" aria-hidden="true"></i>
					<h2 class="font-os-thin text-dg mt-lg mb-sm">Reset Password?</h2>
					<p class="text-dg">You can reset your password here.</p>
				</div>
				<form #resetform="ngForm">
					<div class="row">
						<div class="col-12 px-sm">
							<div class="form-group mt-lg">
								<h5 class="font-os-bold text-mg">New Password :</h5>
								<input type="password" class="form-control pr-xlg" name="password" ngModel placeholder="New Password..."/>
							</div>
							<div class="form-group mt-lg">
								<h5 class="font-os-bold text-mg">Confirm Password :</h5>
								<input type="password" class="form-control pr-xlg" name="confirm" ngModel placeholder="Confirm Password..."/>
							</div>
							<div class="padding-t-b-lg">
								<button class="btn btn-lg btn-theme btn-block" (click)="reset(resetform)">Update Password</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>