<div class="auth-page">
	<div class="animated zoomIn auth_box">
		<div class="col-xl-6 col-lg-8 col-md-10 col-sm-10 col-10 offset-xl-3 offset-lg-2 offset-md-1 offset-sm-1 offset-1 auth_login_bg bg-theme p-0">
			<div class="row mx-0">
				<div class="col-lg-6 col-md-6 col-sm-12 col-12 px-0">
					<div class="auth_login bg-white">
						<h3 class="mt-0">Login</h3>
						<form #loginform="ngForm">
							<div class="row">
								<div class="col-12">
									<div class="form-group mt-lg">
										<input type="text" class="form-control pr-xlg" name="username" ngModel placeholder="User Name" autofocus/>
									</div>
									<div class="form-group mt-lg">
										<input type="password" class="form-control pr-xlg" name="password" ngModel placeholder="Password"/>
									</div>
									<div class="auth_forgotPassword mt-lg">
										<div class="d-inline-block">
											<input type="checkbox" class="remember_me" id="remember_me">
											<label for="remember_me">&nbsp;Remember me</label>
										</div>
										<p class="float-right">
											<a routerLink="/pages/forgot-password">Forgot password?</a>
										</p>
									</div>
									<button class="btn btn-lg btn-theme btn-block mt-lg" (click)="login(loginform)">Login</button>
								</div>
							</div>
							<div class="row auth_loginOr">
								<div class="col-6 offset-3">
									<hr class="auth_hrOr">
									<span class="auth_spanOr">OR</span>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-6 col-12">
									<a href="/facebook" class="btn btn-lg btn-block btn-facebook mt-md font-16">
										<i class="fa fa-facebook"></i>
										<span>&nbsp;Facebook</span>
									</a>
								</div>
								<div class="col-lg-6 col-12">
									<a href="/twitter" class="btn btn-lg btn-block btn-twitter mt-md font-16">
										<i class="fa fa-twitter"></i>
										<span>&nbsp;Twitter</span>
									</a>
								</div>
							</div>
							<div class="row auth_signupbutton text-center mt-xlg">
								<div class="col-12">
									<p>Don't have an account? <a routerLink="/pages/signup" class="text-theme">&nbsp;Sign up now!</a></p>	
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-12 px-0 d-none d-md-block">
					<div class="text-center">
						<img src="assets/images/logo.png" class="bg_img" alt="Ranpariya - The Development Lab (RTDL)">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>