<!-- Breadcrumb -->
<div class="row">
	<div class="col-12 my-sm">
		<div class="card breadcrumb-page-title p-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<ul class="breadcrumb bg-white text-left m-0 pt-sm pb-2">
							<li class="breadcrumb-item"><a routerLink="/" class="text-mg"><i class="fa fa-home fa-lg"></i></a></li>
							<li class="breadcrumb-item"><a href="javascript:;" class="text-mg">UI Elements</a></li>
							<li class="breadcrumb-item active text-dg">Bootstrap Cards</li>
						</ul>
					</div>
					<div class="col-lg-6 col-12">
						<h5 class="text-right m-0 text-italic text-normal font-12">Ranpariya Admin</h5>
						<h1 class="text-right m-0"><i class="fa fa-laptop menu-icon" aria-hidden="true"></i> Bootstrap Cards</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Bootstrap Card Content -->
<div class="row">
	<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card border-theme">
			<div class="card-header text-white bg-theme">Theme Card</div>
			<div class="card-body">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
			</div>
		</div>
	</div>
	<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card border-success">
			<div class="card-header text-white bg-success">Success Card</div>
			<div class="card-body">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
			</div>
		</div>
	</div>
	<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card border-primary">
			<div class="card-header text-white bg-primary">Primary Card</div>
			<div class="card-body">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
			</div>
		</div>
	</div>
	<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card border-info">
			<div class="card-header text-white bg-info">Info Card</div>
			<div class="card-body">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
			</div>
		</div>
	</div>
	<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card border-warning">
			<div class="card-header text-white bg-warning">Warning Card</div>
			<div class="card-body">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
			</div>
		</div>
	</div>
	<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card border-danger">
			<div class="card-header text-white bg-danger">Danger Card</div>
			<div class="card-body">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">Default Card</div>
			<div class="card-body">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
			</div>
		</div>
	</div>
	<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card border-dark">
			<div class="card-header text-white bg-dark">Dark Card</div>
			<div class="card-body">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-header">Card With Header and Footer</div>
			<div class="card-body">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
			</div>
			<div class="card-footer">Footer</div>
		</div>
	</div>
	<div class="col-xl-8 col-lg-6 col-md-12 col-sm-12 col-12 my-sm">
		<ngb-accordion [closeOthers]="true" activeIds="collapseOne">
			<ngb-panel id="collapseOne" title="Collapsible Group Item #1">
				<ng-template ngbPanelContent>
				Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
				aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
				sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
				craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
				occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
				labore sustainable VHS.
				</ng-template>
			</ngb-panel>
			<ngb-panel id="collapseTwo">
				<ng-template ngbPanelTitle>
					<span>Collapsible Group Item #2</span>
				</ng-template>
				<ng-template ngbPanelContent>
				Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
				aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
				sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
				craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
				occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
				labore sustainable VHS.
				</ng-template>
			</ngb-panel>
				<ngb-panel id="collapseThree" title="Collapsible Group Item #3">
					<ng-template ngbPanelContent>
					Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
					aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
					sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
					craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
					occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
					labore sustainable VHS.
					</ng-template>
				</ngb-panel>
		</ngb-accordion>
	</div>
</div>
<div class="row">
	<div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<img class="card-img-top" src="assets/images/profile/profile-cover.jpg" alt="RTDL Image">
			<div class="card-body">
				<h4 class="card-title">Card title</h4>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				<a href="javascript:;" class="btn btn-primary">Go somewhere</a>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 col-12 my-sm">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Card title</h4>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				<a href="javascript:;" class="btn btn-primary">Go somewhere</a>
			</div>
			<img class="card-img-bottom" src="assets/images/profile/profile-cover.jpg" alt="RTDL Image">
		</div>
	</div>
	<div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 my-sm">
		<div class="row">
			<div class="col-12 my-sm">
				<div class="card text-center">
					<div class="card-header">
						<ul class="nav nav-tabs card-header-tabs" id="myTab1" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
							</li>
							<li class="nav-item">
								<a class="nav-link disabled" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
							</li>
						</ul>
					</div>
					<div class="card-body">
						<div class="tab-content" id="myTabContent1">
							<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
								<h4 class="card-title">Special title treatment</h4>
								<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
								<a href="javascript:;" class="btn btn-primary">Go somewhere</a>
							</div>
							<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
								Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
							</div>
							<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
								disabled
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 my-sm">
				<div class="card text-center">
					<div class="card-header">
						<ul class="nav nav-pills card-header-pills" id="myTab" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" id="home-tab1" data-toggle="pill" href="#home1" role="tab" aria-controls="home1" aria-selected="true">Home</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="profile-tab1" data-toggle="pill" href="#profile1" role="tab" aria-controls="profile1" aria-selected="false">Profile</a>
							</li>
							<li class="nav-item">
								<a class="nav-link disabled" id="contact-tab1" data-toggle="pill" href="#contact1" role="tab" aria-controls="contact1" aria-selected="false">Contact</a>
							</li>
						</ul>
					</div>
					<div class="card-body">
						<div class="tab-content" id="myTabContent">
							<div class="tab-pane fade show active" id="home1" role="tabpanel" aria-labelledby="home-tab1">
								<h4 class="card-title">Special title treatment</h4>
								<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
								<a href="javascript:;" class="btn btn-primary">Go somewhere</a>
							</div>
							<div class="tab-pane fade" id="profile1" role="tabpanel" aria-labelledby="profile-tab1">
								Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
							</div>
							<div class="tab-pane fade" id="contact1" role="tabpanel" aria-labelledby="contact-tab1">
								disabled
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>